<template>
  <div class="article">
    <div class="img-thumb">
      <div class="image">
        <img src="assets/images/upload/app-1.png" alt="" class="img-fluid">
      </div>
    </div>
    <div class="info">
      <div class="group-top">
        <div class="name-communication"> Slack</div>
        <div class="link-official-site">
          <a href="javascript:;" class="links">
            {{$t('OfficialSite')}}
          </a>
        </div>
      </div>
      <div class="desc-communication"> {{$t(id)}}</div>
      <div class="wp-rating d-flex mb-0">
        <div class="meta-rate d-flex">
          <div class="number-rate">4.0</div>
          <ul class="list-star d-flex">
            <li><i class="fas fa-star"></i></li>
            <li><i class="fas fa-star"></i></li>
            <li><i class="fas fa-star"></i></li>
            <li><i class="fas fa-star"></i></li>
            <li><i class="fas fa-star"></i></li>
          </ul>
        </div>
        <span class="meta-number">30</span>
      </div>
    </div>
  </div>
</template>

<script>
	export default {
		name: "HeaderArticle",
    props: ['id']
	}
</script>

<style scoped>

</style>
