<template>
  <div class="group-reasons-using">
    <div class="header-reason-using">
      <div class="name-head"> Slackを使っている理由（182）</div>
      <div class="rule-grey"></div>
    </div>
    <div class="body-reason-using">
      <div class="group-big-rate">
        <div class="list-big-rate">
          <div class="item-big-rate">
            <ul class="list-star d-flex">
              <li><i class="fas fa-star"></i></li>
              <li><i class="fas fa-star"></i></li>
              <li><i class="fas fa-star"></i></li>
              <li><i class="fas fa-star"></i></li>
              <li><i class="fas fa-star "></i></li>
            </ul>
            <div class="number-rate"> 100</div>
          </div>
          <div class="item-big-rate">
            <ul class="list-star d-flex">
              <li><i class="fas fa-star"></i></li>
              <li><i class="fas fa-star"></i></li>
              <li><i class="fas fa-star"></i></li>
              <li><i class="fas fa-star"></i></li>
              <li><i class="fas fa-star filter-white"></i></li>
            </ul>
            <div class="number-rate"> 60</div>
          </div>
          <div class="item-big-rate">
            <ul class="list-star d-flex">
              <li><i class="fas fa-star"></i></li>
              <li><i class="fas fa-star"></i></li>
              <li><i class="fas fa-star"></i></li>
              <li><i class="fas fa-star filter-white"></i></li>
              <li><i class="fas fa-star filter-white"></i></li>
            </ul>
            <div class="number-rate"> 10</div>
          </div>
          <div class="item-big-rate">
            <ul class="list-star d-flex">
              <li><i class="fas fa-star"></i></li>
              <li><i class="fas fa-star"></i></li>
              <li><i class="fas fa-star filter-white"></i></li>
              <li><i class="fas fa-star filter-white"></i></li>
              <li><i class="fas fa-star filter-white"></i></li>
            </ul>
            <div class="number-rate"> 8</div>
          </div>
          <div class="item-big-rate">
            <ul class="list-star d-flex">
              <li><i class="fas fa-star"></i></li>
              <li><i class="fas fa-star filter-white"></i></li>
              <li><i class="fas fa-star filter-white"></i></li>
              <li><i class="fas fa-star filter-white"></i></li>
              <li><i class="fas fa-star filter-white"></i></li>
            </ul>
            <div class="number-rate"> 4</div>
          </div>
        </div>
      </div>
      <div class="group-question-using">
        <div class="name-title"> Slackを利用したことがありますか？</div>
        <div class="group-btn_ft">
          <a href="javascript:;" class="btn-links btn-vote"> レビューを書く </a>
        </div>
      </div>
    </div>

  </div>
</template>

<script>
	export default {
		name: "ReasonsUsing"
	}
</script>

<style scoped>

</style>
