<template>
  <form method="POST">
    <input class="text-link reply bg-red border-red b-radius-10"
      type="submit"
      :value="paymentTitle"
      @click="handleClick"/>
    <el-dialog class="dialog50 modal-basic-infomation" :loading="loading" :visible.sync="isShow" >
      <list-card :has-event="true"
        :handle-click-card="paymentWithCard"
        :amount="amount"
        :currency="currency"
        :bid-id="bidId"
        :month-payment="monthPayment"/>
    </el-dialog>
  </form>
</template>

<script>
  import  {paymentForSpotech} from '~/services/Payment';

  export default {
    name: 'StripePayment',
    data() {
      return {
        isShow: false,
        loading: false
      }
    },
    props: ['paymentTitle', 'amount', 'currency', 'bidId', 'monthPayment'],
    components: {
      ListCard: () => import('~/components/share/ListCard'),
    },
    methods: {
      handleClick($event) {
        $event.preventDefault();
        this.isShow = true;
      },
      async paymentWithCard(params) {
        this.loading = true;
        const res = await paymentForSpotech(params);
        const type = res.success ? 'success' : 'error';
        this.showNotification('', res.message, type);
        this.isShow = false;
        this.loading = false;
      }
    }
  }
</script>
