<template>
    <div class="container">
        <modal v-if="isShowModalIndex == 14" @close="onShowModal()">
            <div slot="body">
                <ResetPassword @onShowModal="onShowModal" @closeModal="onShowModal($event)" />
            </div>
        </modal>
    </div>
</template>

<script>
    export default {
        data() {
            return {
                isShowModalIndex: 0,
            };
        },
        components: {
            ResetPassword: () => import("~/components/popup/ResetPassword"),
            Modal: () => import("~/components/share/Modal"),
        },
        methods: {
            onShowModal(index) {
                this.isShowModalIndex = index;
            },
            setModalResetPassword(){
                this.onShowModal(14)
            }
        },
        created() {
            this.setModalResetPassword();
        }
    }
</script>

<style scoped>

</style>
