<template>
  <div class="han b-20-9">
    <form action="" method="" v-if="objData">
      <div class="body-b-20-9">
        <div class="row-modal row-modal-url">
          <div class="modal-box-left">
            <div class="modal-wrapp-icon">
              <div class="icon">
                <i class="mdi mdi-link"></i>
              </div>
              <div class="t-text">
                URL
              </div>
            </div>
          </div>
          <div class="modal-box-right">
            <input type="text" value="https://spotech.io" v-model="objData.url">
          </div>
        </div>
        <div class="row-modal row-modal-Country ">
          <div class="modal-box-left">
            <div class="modal-wrapp-icon">
              <div class="icon">
                <i class="mdi mdi-flag"></i>
              </div>
              <div class="t-text">
                {{$t('nations')}}
              </div>
            </div>
          </div>
          <div class="modal-box-right">
            <el-select class="select-nation btn-down-grey" v-model="objData.nation_id">
              <el-option v-for="(v, k) in listNation" :key="k" :value="v.id" :label="v.name"></el-option>
            </el-select>
          </div>
        </div>
        <div class="row-modal row-modal-City">
          <div class="modal-box-left">
            <div class="modal-wrapp-icon">
              <div class="icon">
                <i class="mdi mdi-map-marker-outline"></i>
              </div>
              <div class="t-text">
                {{$t('address')}}
              </div>
            </div>
          </div>
          <div class="modal-box-right">
            <input type="text" value="東京" v-model="objData.address">
          </div>
        </div>
        <div class="row-modal modal-birthday-wrapp">
          <div class="modal-box-left">
            <div class="modal-wrapp-icon">
              <div class="icon">
                <i class="mdi mdi-calendar-month-outline"></i>
              </div>
              <div class="t-text">
                {{$t('birthday')}}
              </div>
            </div>
          </div>
          <div class="modal-box-right">
            <div class="box-year-wrapp box-datetime">
              <div class="box-year wrap-quantity">
                <input type="number" class="input-text" :max="currentYear()" min="1900" v-model="birthday.year">
              </div>
              <div class="t-text">
                {{$t('year')}}
              </div>
            </div>
            <div class="box-Month-wrapp box-datetime">
              <div class="box-month wrap-quantity">
                <input type="number" class="input-text" min="1" max="12" v-model="birthday.month">
              </div>
              <div class="t-text">
                {{$t('month')}}
              </div>
            </div>
            <div class="box-day-wrapp box-datetime">
              <div class="box-day wrap-quantity">
                <input type="number" class="input-text" min="1" max="31" v-model="birthday.day">
              </div>
              <div class="t-text">
                {{$t('day')}}
              </div>
            </div>
          </div>
        </div>
        <div class="row-modal row-modal-name">
          <div class="modal-box-left">
            <div class="modal-wrapp-icon">
              <div class="icon">
                <img src="~assets/images/icon/person.svg" alt="">
              </div>
              <div class="t-text">
                {{$t('name')}}
              </div>
            </div>
          </div>
          <div class="modal-box-right">
            <div class="modal-name-wrapp">
              <div class="first-name box-name">
                <div class="t-text">
                  {{$t('first_name')}}
                </div>
                <input type="text" v-model="objData.first_name" class="input-first-name">
              </div>
              <div class="last-name box-name">
                <div class="t-text">
                  {{$t('last_name')}}
                </div>
                <input type="text" v-model="objData.last_name" class="input-last-name">
              </div>
            </div>
            <div class="modal-t-text">
              {{$t('OnlyTheFirstNameWillAppearOnYourPrivateProfile')}}
            </div>
          </div>
        </div>
        <div class="row-modal row-modal-sex">
          <div class="modal-box-left">
            <div class="modal-wrapp-icon">
              <div class="icon">
                <img src="~assets/images/icon/member.svg" alt="">
              </div>
              <div class="t-text">
                {{$t('gender')}}
              </div>
            </div>
          </div>
          <div class="modal-box-right">
            <el-select v-model="objData.sex">
              <el-option :value="0" :label="$t('female')"></el-option>
              <el-option :value="1" :label="$t('male')"></el-option>
              <el-option :value="2" :label="$t('other')"></el-option>
            </el-select>
          </div>
        </div>
      </div>
      <div class="footer-modal foter-modal-b-20-9">
        <div class="btn-modal">
          <a href="javascript:;" class="btn-button btn-no" @click="$emit('close')">{{ $t('Close') }}</a>
        </div>
        <div class="btn-modal active">
          <a href="javascript:;" class="btn-button btn-yes" @click="save">{{ $t('Update') }}</a>
        </div>
      </div>
    </form>
  </div>
</template>

<script>
  const regexJapanCharacter = /[a-zA-Z]|[\u3400-\u9FBF]|[\u3000-\u303F]|[\u3040-\u309F]|[\u30A0-\u30FF]|[\uFF00-\uFFEF]|[\u4E00-\u9FAF]|[\u2605-\u2606]|[\u2190-\u2195]|\u203B/;

  import {mapGetters, mapActions, mapState} from 'vuex'
  import moment from 'moment'
  import eventBus from "~/services/bus";
  export default {
    data() {
      return {
        objData: null,
        loading: false,
        birthday: {
          year: '',
          month: '',
          day: ''
        },
        btnLoading: false,
      }
    },
    computed: {
      ...mapState({
        listNation: state => state.resource.nationClient
      })
    },
    methods: {
      ...mapActions({
        detailExpertBasic: 'members/profile/expert/detailExpertBasic',
        saveExpertBasic: 'members/profile/expert/saveExpertBasic',
      }),
      getDetail() {
        this.loading = true;
        this.detailExpertBasic()
          .then(res => {
            this.objData = res.data
            if (!this.objData.birthday) return;
            [this.birthday.day, this.birthday.month, this.birthday.year] = this.objData.birthday.split('-');
          })
          .catch(err => {
            this.showNotification(this.$t('Error'), err.message, 'error')
          })
          .finally(() => {
            this.loading = false;
          })
      },
      backEndDateFormat: function(date) {
      	return moment(date, 'DD/MM/YYYY').format('YYYY-MM-DD');
      },
      save() {
        this.objData.birthday = this.birthday.day + '-' + this.birthday.month + '-' + this.birthday.year
        let serverDate = this.backEndDateFormat(this.objData.birthday);
        if (serverDate == 'Invalid date') {
          this.showNotification(this.$t('warning'), this.$t('InvalidTimeData'), 'warning')
        }else{
          if (this.objData.address && this.objData.address.length <= 255 ) {

            this.saveExpertBasic(this.objData)
              .then(() => {
                let obj = {
                  first_name:this.objData.first_name,
                  last_name:this.objData.last_name,
                  nation_icon:"",
                  nation_name:"",
                  url:this.objData.url,
                  address: this.objData.address,
                  sex: this.objData.sex
                }
                if( this.objData.nation_id ) {
                  let countryId = this.objData.nation_id;
                  let index = _.findIndex( this.listNation, (n) => {
                    return countryId == n.id;
                  });
                  if( index >= 0 ) {
                    let nation = this.listNation[index];
                    obj.nation_id   = nation.id;
                    obj.nation_name = nation.name;
                    obj.nation_icon = nation.icon;
                  }
                }
                eventBus.$emit('onUpdateExpertProfile', obj);
                this.$store.dispatch('updateUserProfile', obj);
                // this.showNotification(this.$t('Success'), this.$t('EditInformationSuccess'), 'success')
                this.$emit('close');
              })
              .catch(err => {
                this.showNotification(this.$t('Error'), err.message, 'error')
              })

            // if (!this.validCharate(this.objData.address)) {
            //   this.showNotification(this.$t('warning'), this.$t('InvalidAddressCharater'), 'warning')
            // } else if (!this.validCharate(this.objData.first_name) && !this.validCharate(this.objData.last_name) ) {
            //   this.showNotification(this.$t('warning'), this.$t('InvalidNameCharater'), 'warning')
            // }else{
            //
            // }
          }
          else{
            this.showNotification(this.$t('warning'), this.$t('InvalidAddressLength'), 'warning')
          }
        }
      },
      validCharate:function(e) {
        return regexJapanCharacter.test(e);
      },
    },
    mounted() {
      this.getDetail();
    }
  }
</script>

<style>
  .el-collapse-item__header.is-active {
    height: 100%;
    line-height: normal;
    padding: 20px;
    background-color: #d2d2d2;
    border-radius: 10px 10px 0 0 !important;
    font-size: 16px;
  }

  .el-collapse-item__header {
    border-radius: 10px;
    height: 100%;
    line-height: normal;
    padding: 20px;
    background-color: #d2d2d2;
    font-size: 16px;
    transition: border-radius 1s;
  }

  .el-collapse-item__wrap {
    margin-bottom: 30px;
    border-radius: 0 0 10px 10px;
  }

  .el-collapse-item {
    margin-bottom: 30px;
  }

  .el-collapse {
    border: none;
    margin-bottom: 30px;
  }

  .el-collapse-item__arrow {
    font-size: 20px;
    font-weight: 500;
  }

  .upload-preview {
    object-fit: cover;
    display: block;
    height: 100%;
    width: 100%;
  }

  .el-input__inner {
    height: calc(1.5em + 0.75rem + 10px);
    padding: 0 15px;
    border: 1px solid #d2d2d2;
  }
  .required:after {
    content: "*";
    color: #f56c6c;
    margin-right: 4px;
  }
</style>
