<template>
  <div class=" group-item-aside group-item-big mb-4">
    <div class="header">
      <div class="title">{{$t('Qualification')}}</div>
    </div>
    <div class="panle-body-content">
      <div v-for="(i, key) in data" :key="`certificates-${key}`">
        <div class="group">
          <div class="row">
            <div class="col-md-3 col-12">
              <div class="title-form text-md-right text-left">{{$t('QualificationAward')}}</div>
            </div>
            <div class="col-md-9 col-12">
              <el-input v-model="i.certificate" :placeholder="$t('placeholderQualificationAward')"></el-input>
            </div>
          </div>
        </div>
        <div class="group">
          <div class="row">
            <div class="col-md-3 col-12">
              <div class="title-form text-md-right text-left">{{$t('provider')}}</div>
            </div>
            <div class="col-md-9 col-12">
              <div class="row">
                <div class="col-md-7 col-12 mb-md-0 mb-3">
                  <el-input v-model="i.organization" :placeholder="$t('placeholderProvider')"></el-input>
                </div>
                <div class="col-md-5 col-12 mb-md-0 mb-3">
                  <el-select v-model="i.year" :placeholder="$t('Select')">
                    <el-option v-for="(i, key) in $arrayFromToNumber(1970, currentYear()).reverse()"
                               :key="`year-${key}`"
                               :value="i" :label="i"></el-option>
                  </el-select>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="rules"></div>
      </div>
      <div class="group">
        <div class="row">
          <div class="col-md-3 col-12">
            <div class="title-form text-md-right text-left"></div>
          </div>
          <div class="col-md-9 col-12">
            <el-popover placement="bottom" width="800" trigger="manual" v-model="visible">
              <el-form :model="obj" :rules="rules" ref="ruleForm" label-width="200px" label-position="left">
                <div class="p-3" v-if="visible">
                  <el-form-item :label="$t('QualificationAward')" prop="certificate">

                    <el-input v-model="obj.certificate" :placeholder="$t('placeholderQualificationAward')"></el-input>
                  </el-form-item>
                  <el-form-item :label="$t('provider')" prop="organization">
                    <el-input v-model="obj.organization" :placeholder="$t('placeholderProvider')"></el-input>
                  </el-form-item>
                  <el-form-item :label="$t('year')" prop="year">
                    <el-select v-model="obj.year">
                      <el-option v-for="(i, key) in $arrayFromToNumber(1970, currentYear()).reverse()"
                                 :key="`year-${key}`" :value="i" :label="i"></el-option>
                    </el-select>
                  </el-form-item>
                </div>
                <div class="form-group">
                  <el-button size="small" type="primary" @click="handleSaveCertificate">{{$t('Save')}}</el-button>
                  <el-button size="small" type="danger" @click="closePopover">{{$t('Close')}}</el-button>
                </div>
              </el-form>
              <a href="javascript:;" class="add-file color-grey" slot="reference" @click.stop="openPopover">
                <span class="icon mr-3">
                    <img src="~/assets/images/icon/action-1.png" alt="">
                </span>
                <span class="texts font-12 ">{{$t('addQualification')}}</span>
              </a>
            </el-popover>
          </div>
        </div>
      </div>
    </div>
  </div>
</template>
<script>
  import {on, off} from 'element-ui/src/utils/dom';

  export default {
    props: ['value'],
    data() {
      return {
        data: null,
        obj: {
          certificate: null,
          organization: null,
          year: null,
        },
        rules: {
          certificate: [
            {required: true, message: this.$t('QualificationAwardIsRequired'), trigger: 'blur'},
          ],
          organization: [
            {required: true, message: this.$t('ProviderIsRequired'), trigger: 'blur'}
          ],
          year: [
            {required: true, message: this.$t('YearIsRequired'), trigger: 'blur'}
          ],
        },
        visible: false
      }
    },
    methods: {
      closePopover() {
        this.visible = false
      },
      openPopover() {
        this.visible = true
      },
      handleSaveCertificate() {
        this.$refs['ruleForm'].validate(valid => {
          if (!valid) return;
          this.data.push(this.obj);
          this.visible = false;
          this.obj = {}
        })
      }
    },
    mounted() {
      this.data = this.value;
      this.data.map(i => i.year = +i.year);
      on(document, 'click', this.closePopover)
    },
    destroyed() {
      off(document, 'click', this.closePopover)
    }
  }
</script>
<style>

</style>

