<template>
  <div>
    <el-input-number
      :step="1000"
      step-strictly
      class="w-100"
      controls-position="right"
      :min="min"
      :max="max"
      v-model="displayValue"
      @blur="isInputActive = false"
      @focus="isInputActive = true">
    </el-input-number>
  </div>
</template>

<script>
  export default {
    name: 'ExpertCurrencyInput',
    data() {
      return {
        isInputActive: false,
      };
    },
    props: ['value', 'max', 'min'],
    computed: {
      displayValue: {
        get: function() {
          if (this.isInputActive) {
            return this.value.toString()
          } else {
            return this.value.toString().replace(/(\d)(?=(\d{3})+(?:\.\d+)?$)/g, "$1,")
          }
        },
        set: function(modifiedValue) {
          let newValue = parseFloat(modifiedValue.toString().replace(/[^\d\.]/g, ""))
          if (isNaN(newValue)) {
            newValue = 0
          }
          this.$emit('input', newValue)
        }
      }
    }
  }
</script>

