<template>
  <div class="container">
    <div class="row">
      <div class="col-md-11 col-12 m-auto">
        <div class="group-upper-header">
          <div class="group-info-avarta">
            <ThumbAvatar v-model="data.avatar" :id="0" :is-yourself="data.is_yourself"/>
            <div class="info">
              <div class="d-flex align-items-center">
                <div class="name padding-right-30" :title="displayName">{{displayName}}</div>
                <div class="group-flag">
                  <img :src="data.nation_icon" alt="">
                </div>
              </div>
              <div class="group-links-avatar">
                <div class="group-edit mr-3" v-if="data.is_yourself">
                  <a href="javascript:;" title="" class="item-edit"
                     @click="showDialogEditBasicExpert">{{$t('edit')}}</a>
                </div>
                <div class="group-edit mr-3" v-else>
                  <a href="javascript:;" title="" class="item-edit" :disabled="disallow" @click="onFollowExpert">
                    {{ !data.is_follow ? $t('Follow') : $t('Unfollow') }}
                  </a>
                </div>
                <div class="wp-link-web mr-3">
                  <el-tooltip  class="item" effect="light" :content="data.url" placement="bottom">
                    <a :href="data.url" title="" class="links-web" target="_blank">{{ data.url }}</a>
                  </el-tooltip>
                </div>
                <div class="address mr-3" v-if="data.address">
                  <div class="icon"><img src="~assets/images/icon/location-point.png" alt=""></div>
                  <el-tooltip  class="item" effect="light" :content="data.address" placement="bottom">
                    <el-button class="texts">{{ data.address || '...' }}</el-button>
                  </el-tooltip>
                </div>
              </div>
            </div>
          </div>
          <slot name="body"></slot>
        </div>
      </div>
    </div>
    <el-dialog class="dialog50 modal-basic-infomation" :visible.sync="dialogEditBasicExpert" >
      <BasicInformation @close="dialogEditBasicExpert = false"/>
    </el-dialog>
  </div>
</template>
<script>
  import {mapActions} from 'vuex'
  import _ from 'lodash'

  export default {
    props: {
      value: {
        type: Object
      }
    },
    components: {
      BasicInformation: () => import('~/components/profile/expert/BasicInformation'),
      ThumbAvatar: () => import('./TheHeaderExpert/ThumbAvatar'),
    },
    data() {
      return {
        data: this.value,
        dialogEditBasicExpert: false,
      }
    },
    computed:{
      displayName() {
        if(this.$store.getters.getLocale != "en"){
          return this.data ? ( this.data.last_name + ' ' + this.data.first_name) : ''
        }else{
          return this.data ? ( this.data.first_name + ' ' + this.data.last_name) : ''
        }

      },
      disallow() {
        if( this.data && this.data.is_yourself){ return true; }
        const id = this.$route.params.id,
          currentType = this.$store.getters.getCompany;
        if (_.has(currentType, 'id') && parseInt(id) === currentType.id) return true;
        return false;
      },
    },
    methods: {
      ...mapActions({
        followObject: 'members/follow/followObject'
      }),
      showDialogEditBasicExpert() {
        this.dialogEditBasicExpert = true;
      },
      onFollowExpert() {
        if( this.disallow ){ return; }
        const id = this.$route.params.id,
          currentType = this.$store.getters.getCompany;
        //if (_.has(currentType, 'id') && parseInt(id) === currentType.id) return;

        this.data.is_follow = !this.data.is_follow;
        let obj = {
          object_id: id,
          object_name: 'expert',
          company_id: _.has(currentType, 'company_id') ? currentType.company_id : 0
        };
        this.followObject(obj)
          .then((res => {this.showNotification(this.$t('Success'), this.$t(res.message), 'success')}))
          .catch(err => {this.showNotification(this.$t('Error'), this.$t(err.message), 'error')});
      },
      isAccessEdit() {
        const path = this.$route.path;
        return path.split('/').length !== 5
          || path.indexOf('blog') >= 0;
      },
    },
    beforeUpdate() {
      this.data = this.value
      this.isFollow = this.data.is_follow
    }
  }
</script>
<style scoped lang="scss">
  .group-links-avatar .el-button {
    border: 0;
    padding: 0;
    font-size: 20px;
    background: none;
    color: #fff;
    text-align: left;
  }
  .links-web{
    display: -webkit-box !important;
  }
</style>
