<template>
  <el-form :model="objData" :rules="rules" ref="form">
    <div class="modal-body b-202">
      <div class="titles font-18 mb-3">{{$t('registerPhoneNumber')}}</div>
      <div class="intro font-18 mb-4">{{$t('notificationsFromSpotechSendThisPhoneNumber')}}</div>
      <div class="intro font-18 mb-4" v-if="checkSendCode">{{$t('PleaseCheckMobilePhone')}}</div>
      <div class="form-group mb-4">
        <el-form-item prop="nation_id">
          <el-select v-model="objData.nation_code" :disabled="checkSendCode">
            <el-option v-for="(v, k) in listAllNation" :key="k" :value="v.code" :label="v.name"></el-option>
          </el-select>
        </el-form-item>
      </div>

      <div class="form-group mb-4">
        <el-form-item prop="phone">
          <el-input
            :placeholder="$t('phone_number')"
            v-model="objData.phone"
            :disabled="checkSendCode"
            @blur="onBlurPhone">
            <template slot="prepend">{{objData.nation_code || '+00'}}</template>
          </el-input>
        </el-form-item>
      </div>

      <div class="form-group mb-4" v-if="checkSendCode">
        <el-form-item prop="code">
          <el-input :placeholder="$t('code')" v-model="objData.code"></el-input>
        </el-form-item>
      </div>
    </div>
    <div class="custom modal-body b-202 pt-0 pb-0">
      <div class="row">
        <div class="col-sm-6 col-12 mb-sm-0 mb-3 text-center">
          <a
            href="javascript:;"
            class="btn-links btn-bgGreen w-100 active"
            @click="onSendCodeVerifyPhone"
            v-if="!checkSendCode"
          >{{$t('authenticateWithSMS')}}</a>
          <a
            href="javascript:;"
            class="btn-links btn-bgGreen w-100 active"
            @click="onVerifyPhone"
            v-else
          >{{$t('authenticateWithCode')}}</a>
        </div>
        <div class="col-sm-6 col-12 mb-sm-0 mb-3 text-center">
          <a
            href="javascript:;"
            title
            class="btn-links btn-bgGreen w-100"
          >{{$t('authenticateByVoiceCall')}}</a>
        </div>
      </div>
    </div>
  </el-form>
</template>

<script>
  import {mapActions} from "vuex";

  export default {
    data() {
      return {
        objData: {
          code: "",
          phone: "",
          nation_code: ""
        },
        listAllNation: [],
        checkSendCode: false,
        rules: {
          nation_code: [
            {
              required: true,
              message: this.$t("NationIsRequired"),
              trigger: "blur"
            }
          ],
          phone: [
            {
              required: true,
              message: this.$t("PhoneIsRequired"),
              trigger: "blur"
            }
          ],
          code: [
            {
              required: true,
              message: this.$t("CodeIsRequired"),
              trigger: "blur"
            },
            {
              min: 6,
              max: 6,
              message: this.$t("code_is_incorrect"),
              trigger: "blur"
            }
          ]
        }
      };
    },
    methods: {
      ...mapActions({
        searchResource: "resource/nation/searchResource",
        sendCodeVerifyPhone: "members/phone/sendCodeVerifyPhone",
        verifyPhone: "members/phone/verifyPhone"
      }),
      getListAllNation() {
        this.searchResource().then(res => {
          this.listAllNation = res.data;
        });
      },
      onBlurPhone() {
        this.objData.phone = Number(this.objData.phone);
      },
      onSendCodeVerifyPhone() {
        this.$refs["form"].validate(valid => {
          if (!valid) return;
          let obj = {...this.objData};
          delete obj.code;
          this.sendCodeVerifyPhone(obj)
            .then(() => {
              this.checkSendCode = true;
            })
            .catch(err => {
              this.$notify.error({
                title: this.$t('Error'),
                message: this.$t(err.message)
              })
            })
        });
      },
      async onVerifyPhone() {
        this.$refs["form"].validate(async valid => {
          if (!valid) return;
          let {data} = await this.verifyPhone(this.objData);
          let phone = '' + this.objData.phone;
          let obj = {
            id: data.id,
            nation_code: this.objData.nation_code,
            phone: "*****" + phone.slice(-4)
          };
          this.$emit("closed", obj);
        });
      }
    },
    mounted() {
      this.getListAllNation();
    }
  };
</script>
