<template>
  <div>
    <projects :company="company"/>
  </div>
</template>

<script>
  export default {
    layout: 'custom',
    name: 'ClientProject',
    props: ['company'],
    components: {
      Projects: () => import('~/components/share/projects'),
    },
  }
</script>

<style scoped>
</style>
