<template>
<div class="w-100 add-member-chat-box">
    <div class="add-friend">
        <div class="icon-add-group">
            <a v-loading="uploading" class="d-block w-100 h-100" href="javascript:;" @click="$refs.avatar.click()">
                <i class="fas fa-2x fa-plus" v-if="!discussion || !discussion.avatar"></i>
                <el-avatar v-if="discussion && discussion.avatar && discussion.avatar.url" :src="discussion.avatar.url" size="small" class="w-100 h-100"/>
                <input type="file"
                    ref="avatar"
                    accept="image/jpg,image/jpeg,image/png"
                    multiple="multiple"
                    @change="onUploadAvatar($event.target.name, $event.target.files)"
                    style="display:none">
            </a>
        </div>
        <div class="input-add">
            <input type="text" v-model="discussion.subject" :placeholder="$t('webMessengerAddMemberNameGroup')">
        </div>
    </div>
    <div class="content">
        <div class="content-left">
            <div class="add-friends">
                <div class="seach-wrapp">
                    <input v-model="searchParams.keywords" v-on:input="searchMember" v-on:key.enter="searchMember" type="text" class="seach-f" :placeholder="$t('webMessengerAddMemberSearchPlaceHolder')">
                </div>
                <div class="list-friend" v-loading="loading">
                    <div class="friend-item" v-for="(member, m) in arrMember" :key="`arr-member-item-${m}`" >
                        <div class="infor-friend" @click="addMember(member.id)">
                            <div class="avarta d-flex">
                                <el-avatar v-if="member.avatar" size="small" :src="member.avatar"></el-avatar>
                            </div>
                            <div class="name">
                                <a href="javascript:;">{{ member.fullName || (''.concat(member.last_name, ' ', member.first_name) )}}</a>
                            </div>
                        </div>
                        <div class="slecter">
                            <label class="form-checkbox">
                                <input type="checkbox" class="input-checkbox" :disabled="member.id == conversationAuthorId" :value="member.id" v-model="discussion.ids" @change="onMemberSelectChange">
                                <span></span>
                            </label>
                        </div>
                    </div>
                    <div class="w-100 text-center p-2" v-if="arrMember.length <= 0 && searchParams.keywords.length > 0">
                        {{ $t('webNoData') }}
                    </div>
                </div>
            </div>
        </div>
        <div class="content-right">
            <div class="content-wrapp">
                <div class="all-add">
                    <div class="t-text">
                        {{ $t('webMessengerAddMemberChoosing') }}
                    </div>
                    <div class="number">
                        {{ totalMember }}
                    </div>
                </div>
                <div class="friend-item" v-for="(select, s) in arrSelect" :key="`arr-member-item-select-${s}`">
                    <div class="infor-friend" v-if="select">

                        <div class="d-flex justify-content-md-between">
                            <el-avatar class="mr-2" v-if="select.avatar" size="small" :src="select.avatar" />
                            <a href="javascript:;" class="name c--text-overflow c--display-max-hidden" :title="select.fullName || (''.concat(select.last_name, ' ', select.first_name) )">{{ select.fullName || (''.concat(select.last_name, ' ', select.first_name) )}}</a>
                            <a href="javascript:;" class="c--remove c--text-overflow">
                                <i v-if="select.id != conversationAuthorId" @click="onRemoveOutGroup(select)" class="fas fa-times-circle"></i>
                            </a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
</template>

<script>
    import { mapState, mapActions } from 'vuex';
    import _ from 'lodash';
    import { uploadFile } from '~/services/media';
    const arrHasValue = (value) => value != null && _.isArray(value) && value.length > 0
    export default {
        name: 'MessengerAddMemberBox',

        props: {
            conversation: {
                type: Object,
                default: null
            }
        },

        data() {
            return {
                searchParams:{
                    keywords:'',
                    type_account: 1,
                    search_type: 1
                },
                timer: null,
                arrMember: [],
                arrSelect: [],
                discussion:{
                    subject:'',
                    ids:[],
                    avatar: ''
                },
                loading: false,
                uploading: false,
            }
        },
        computed:{
            ...mapState({
                auth: state => state.auth
            }),
            meId() {
                return this.auth != null && this.auth.authUser != null && this.auth.authUser.user != null &&
                       this.auth.authUser.user.id > 0 ? this.auth.authUser.user.id : 0
            },
            conversationId() {
                return this.conversation && this.conversation.id ? this.conversation.id : null;
            },
            conversationAuthor() {
                return this.conversation && this.conversation.author ? this.conversation.author : null;
            },
            conversationAuthorId() {
                return this.conversationAuthor  ? this.conversationAuthor.id : null;
            },
            arrConversationMember() {
                if( this.conversation == null || this.conversation.members == null || this.conversation.members.length <= 0 ){ return []; }
                let members = this.conversation.members;
                let listMember = [];
                members.forEach( ( member ) => {
                    listMember.push(member);
                } );
                return listMember;
            },
            arrConversationUser() {
                let members = this.arrConversationMember;
                let listMember = [];
                members.forEach( ( member ) => {
                    listMember.push(member.user);
                } );
                return listMember;
            },
            totalMember() {
                return this.arrSelect.length;
            }
        },
       
        mounted() {
            
            this.searchMember();
            this.addConversationMember();
        },
        methods: {
            ...mapActions({
                searchByMember: 'messenger/searchMemberChatCallback'
            }),
            reset() {
                this.arrSelect = [];
                this.arrSelectIds = [];
            },
            addConversationMember() {
                this.reset();
                if( this.conversation == null || this.conversation.members == null ){ return; }
                let members = this.conversation.members;
                if( members.length <= 0 ){ return; }
                let me = this;
                members.forEach( ( member ) => {
                    member.exists = true;
                    me.arrSelect.push(member.user);
                    me.discussion.ids.push( member.user.id );
                } );
                this.discussion.subject = this.conversation.subject;
            },
            onRemoveOutGroup(member) {
                let me = this;
                let index = _.findIndex( me.arrSelect , ( selected ) => {
                        return selected.id == member.id;
                } ) ;
                if( index >= 0 ) 
                {
                    me.arrSelect.splice(index, 1);
                    me.discussion.ids.splice(index, 1);
                    this.onMemberSelectChange();
                }
            },
            onMemberSelectChange() {

                let ids = _.clone( this.discussion.ids );
                
                ids = [this.conversationAuthorId].concat(ids);

                let arrUser = [].concat( 
                    _.cloneDeep( (this.arrConversationUser || []) )
                    .concat(
                        _.cloneDeep( (this.arrMember || []) )
                        .concat( 
                            _.cloneDeep( ( this.arrSelect || []) )
                        )
                    )
                );
                
                ids     = _.reject(ids, _.isNil);
                arrUser = _.reject(arrUser, _.isNil);
                
                arrUser = _.uniqWith(arrUser, (one, two) => {
                    return one && two && one.id == two.id;
                } );
                
                ids = _.uniqWith(ids, _.isEqual);

                this.arrSelect = [];

                if( ids.length > 0 )
                {
                    let me = this;
                    ids.forEach( ( id ) => {
                        let index = _.findIndex(arrUser, (m) => {
                            return m.id == id;
                        });
                        me.arrSelect.push(arrUser[index]);
                    } )
                }
                this.$emit('onSelectChange', this.arrSelect, this.discussion );
            },
            searchMember() {

                if( this.timer != null ) {
                    clearTimeout( this.timer );
                }
                if( this.searchParams.keywords == null || this.searchParams.keywords.length <= 0 ){
                    //this.resetByMember();
                    //return;
                }
                this.loading = true;
                let params = _.clone( this.searchParams );
                this.timer = setTimeout( () => {
                    this.searchByMember( params ).then( (response) => {
                        if( response != null )
                        {
                            let listMember = response.data.members.data;
                            for(let i = 0; i < listMember.length; i++) {
                                listMember[i].type = 1;
                            }
                            this.arrMember = listMember;
                        }
                        this.loading = false;
                    }).catch( () => {
                        this.loading = false;
                    })
                    .finally( () => {
                        this.loading = false;
                    });
                }, 500)
            },
           
            onUploadAvatar(fieldName, files) {
                this.uploading = true;
                try {
                    var data = new FormData();
                    data.append('files', files[0]);
                    
                    uploadFile(data).then( (response) => {
                        if( response.success && response.data && response.data[0]) {
                            this.discussion.avatar = _.clone(response.data[0]);
                            this.$emit('onSelectChange', this.arrSelect, this.discussion );
                        }
                    })
                    .catch((error) => {
                        //console.log(error);
                    })
                    .finally( () => {
                        this.uploading = false;
                    })
                }catch(e){
                    this.uploading = false;
                }
            },
            addMember(mid) {
                let index = _.findIndex(this.discussion.ids, (id) => {
                    return id == mid;
                } );
                if( index >= 0 ) { 
                    this.discussion.ids.splice(index, 1)
                }
                else {
                    this.discussion.ids.push(mid)
                }
                this.onMemberSelectChange();
                //this.$emit('onSelectChange', this.arrSelect, this.discussion );
            }
        }
    }
</script>
<style>
    .icon-add-group{
        position: absolute;
        top: 50%;
        transform: translateY(-50%);
        width: 32px;
        height: 32px;
        overflow: hidden;
        text-align: center;
    }
    .c--text-overflow{
        text-overflow: ellipsis;
        white-space: nowrap;
    }
    .c--remove{
        color: red;
    }
    .add-member-chat-box .list-friend{
        max-height: 312px !important;
    }
    .add-member-chat-box .content-right{
        max-height: 380px;
        overflow: auto;
    }
    .add-member-chat-box .content-right::-webkit-scrollbar{
        width: 0
    }
    .c--display-max-hidden{
        max-width: 170px;
        overflow: hidden;
    }
</style>
