<template>
  <div class="h-100">
    <div class="mess-inb" ref="messageDisplay" v-loading="loading && ( !messages || !messages.items || !messages.items.length)" element-loading-background="rgb(14, 27, 74, 0.8)">
      <div class="loading" v-loading="loading && ( messages && messages.items && messages.items.length)" element-loading-background="rgb(14, 27, 74, 1)"></div>
      <div v-for="(message, me) in messages.items" :key="me" class="mess-wrap"
           :class="{'mess-me': message != null && message.author != null && message.author.id == meId, 'mess-friend': message != null && message.author != null && message.author.id != meId}">
        <div class="avatar-friend" style="overflow:hidden;"
             v-if="message != null && message.author != null && message.author.id != meId">
          <nuxt-link :to="localePath({name: 'expert-p-id', params: { id: message.author.id} })">
            <el-avatar class="w-100 h-100" :src="message.author.avatar" alt=""></el-avatar>
          </nuxt-link>
        </div>
        <div class="mess-direction" v-if="message != null">
          <div class="mame-friend" v-if="message.author != null && message.author.id == meId">{{
            message.author.full_name ? message.author.full_name : '' }}
          </div>
          <MessageElement :message="message" />
        </div>
      </div>
      <div class="mess-inb no-mess" v-if="(messages == null || messages.items == null || messages.items.length <= 0) && !loading">
        <div class="no-mess-wrapp">
          <!--<div class="thumb">

            <el-image :src="require('~/assets/images/upload/no-mess-1.png')" alt=""/>
          </div>-->
          <div class="t-text">
            {{ $t('ChatNoMessage') }}
          </div>
        </div>
      </div>
    </div>
    <div class="new-mess">
      <div class="new-mess-wrapp">
        <div class="c---attach-preview">
          <div class="h-100">
            <MessengerPreviewAttach class="c---attach-preview-wrapper" v-if="attachments && attachments.length > 0" :attachments.sync="attachments" @onRemove="onRemoveAttachment" />
          </div>
        </div>
        <div class="form-chat c--message-input-wrapper">
          <div class="icon-add" :class="this.showAdvance ? 'active':''">
            <a href="javascript:;">
              <i class="fas fa-2x fa-plus c--style-color c--cursor" @click="showAdvance = !showAdvance"></i>
            </a>
          </div>
          <div class="c--attachments" :style="getStyle" :class="this.showAdvance?'active':''">
            <a href="javascript:;">
              <i class="fas fa-2x fa-file c--style-color c--cursor" @click="$refs.files.click()"></i>
              <input type="file"
                     ref="files"
                     accept="application/*"
                     multiple="multiple"
                     @change="onFileChange($event.target.name, $event.target.files)"
                     style="display:none">
            </a>

            <a href="javascript:;">
              <i class="fas fa-2x fa-image c--style-color c--cursor" @click="$refs.images.click()"></i>
              <input type="file"
                     ref="images"
                     accept="image/jpg,image/jpeg,image/png"
                     multiple="multiple"
                     @change="onFileChange($event.target.name, $event.target.files)"
                     style="display:none">
            </a>
          </div>
          <div class="input-chat">
            <input class="form-control" v-model="body" @keypress="onMessageKeypress" v-on:keyup.enter="onSendMessage"
                   type="text" :placeholder="$t('webMessengerInputMessage')">
          </div>
          <div class="c--sent" @click="onSendMessage">
            <i class="fas fa-2x fa-share c--style-color c--cursor"></i>
          </div>
          <div class="c--like" @click="sendLike">
            <i class="fas fa-2x fa-thumbs-up c--style-color c--cursor"></i>
          </div>
        </div>
      </div>
    </div>
  </div>
</template>
<script>
  import { getDiscussionMessages, sendMessage, sendFile} from '~/services/messenger';
  import { uploadFile } from '~/services/media';
  //import imageCompression from 'browser-image-compression';
  import {mapState} from 'vuex';
  import _ from 'lodash';
  const topOffset = 55;
  export default {
    name: 'ChatBox',

    components: {
      MessageElement: () => import('~/components/messenger/message/MessageElement'),
      MessengerPreviewAttach: () => import('~/components/messenger/MessengerPreviewAttach'),
    },
    computed: {
      ...mapState({
        auth: state => state.auth
      }),
      me() {
        return this.auth != null && this.auth.authUser != null && this.auth.authUser.user != null ? this.auth.authUser.user : null;
      },
      meId() {
        return this.me != null ? this.me.id : 0
      },
      discussionId() {
        return this.discussion != null ? this.discussion.id : 0;
      },
      meChannel() {
        return 'user-' + this.meId;
      },
      getStyle() {
        return {
          width: this.showAdvance ? '110px' : '0px',
        }
      },
    },

    data() {
      return {
        body: '',
        channel: null,
        conversionId: null,
        channelId: null,
        messages_default: {
          items: [],
          meta: {
            count: 0,
            current_page: 0,
            per_page: 10,
            //total: 0,
            //total_pages: 1
            next: 1,
            prev: null
          },
          page: 1,
          currentTime: new Date(),
          loading: false
        },
        messages: {},
        users: [],
        showAdvance: false,
        isReady: false,
        attachments: [],
        arrDiscussionMessage: [],
        loading: false
      }
    },
    mounted() {
      this.messages = _.cloneDeep(this.messages_default);
      this.bindChatBoxScroll();
      if ( !this.me )  {
        this.resetDiscussion();
        this.bindMeChannel();
      }
    },
    beforeDestroy() {
      this.resetDiscussion();
    },
    methods: {
      bindChatBoxScroll() {
        this.$refs.messageDisplay.addEventListener('scroll', this.onConversationBodyScroll)
      },
      setConversation(conversation) {
        this.resetDiscussion();
        this.startDiscussion(conversation.id);
      },
      resetMessage() {
        this.body = '';
        this.attachments = [];
      },
      onRemoveAttachment(index) {
        if (index >= 0 && this.attachments[index]) {
          this.attachments.splice(index, 1);
        }
      },
      onFileChange(fieldName, files) {
        try{
          this.attachments = this.attachments.concat(Array.from(files));
        }catch(e){}
      },
      sendLike() {
        if (!this.isReady) {
          return;
        }
        let params = {
          discussionId: this.conversionId,
          body: '',
          type: 'like'
        };
        this.createLocaleMessage(params);
        sendMessage(params);
        this.resetMessage();
      },
      onSendMessage() {

        if (!this.isReady && (!this.body || this.body.trim().length <= 0) && this.attachments.length <= 0) {
          return;
        }
        let params = {
          discussionId: this.conversionId
        };

        if (this.body != null && this.body.length > 0) {
          params.body = _.clone(this.body);
          params.type = 'text';
          this.createLocaleMessage(params);
          sendMessage(params);
          this.body = '';
        }

        if (this.attachments.length > 0) {
          let files = _.clone(this.attachments);
          var data = new FormData();
          let me = this;
          let attachments = [];
          Array.from(files).forEach(function (file) {
            data.append('files', file);
            attachments.push( me.createAttach(file) );
          });

          params.body = '';
          params.type = 'attachment';
          this.createLocaleMessage({
            body:'',
            type: 'attachment',
            attachments: {
              items: attachments
            }
          });
          uploadFile(data).then((response) => {
            params.attachments = _.clone(response.data);
            sendMessage(params);
          })
          .catch((error) => {
            //console.log(error);
          });
        }
        
        this.resetMessage();
      },
      createAttach(file) {
        return {
          origin: file.name,
          url: URL.createObjectURL(file),
          ext: file.name.substring(file.name.lastIndexOf('.') + 1, file.name.length),
          type: file.type.substring(0, file.type.indexOf('/')),
          author: this.me
        };
      },
      createLocaleMessage( params ) {
        let message = {
          'id'         : ( new Date() ).getTime(),
          'sended'     : false,
          'author'     : _.cloneDeep( this.me ),
        };
        message = _.merge( message, params);
        this.messages.items.push(message);
        this.scrollToBottom();
      },
      resetDiscussion() {
        if (this.channel != null) {
          this.arrDiscussionMessage[this.conversionId] = _.clone(this.messages);

          if (this.channelId != null) {
            Echo.leave(this.channelId);
          }
          this.channel = null;
          this.channelId = null;
          this.conversionId = null;
          this.users = [];
          this.attachments = [];
          this.messages = _.cloneDeep(this.messages_default);
          this.messages.currentTime = new Date();
        }
      },
      startDiscussion(conversionId) {
        this.conversionId = conversionId;
        this.channelId = 'discussion-' + conversionId;
        this.bindConversionEvent();
      },
      bindMeChannel() {
        /*let me = this;
        Echo.private(this.meChannel)
        .listen('.message', (e) => {
            console.log('event message private : ', e)
            //me.onReceiveMessage(e);
        });*/
      },
      bindConversionEvent(conversionId) {
        let me = this;
        this.channel = Echo.join(this.channelId)
          .here(function (users) {
            //console.log('here', users)
            me.users = _.cloneDeep(users);
          })
          .joining(function (user) {
            //console.log('joining', user);
            me.users.push(_.cloneDeep(user));
          })
          .leaving(function (user) {
            //console.log('leaving', user);
            let index = _.findIndex(me.users, (u) => {
              return u.id == user.id;
            })
            if (index >= 0) {
              me.users.splice(index, 1);
            }
          })
          .listen('.discussion', (e) => {
            //console.log('event discussion: ', e)
          })
          .listen('.message', (e) => {
            //console.log('event message: ', e)
            me.onReceiveMessage(e);
          })
          .listenForWhisper('typing', function (e) {
            //console.log('listenForWhisper', e);
          })
          .notification((noti) => {
            //console.log('notification', noti);
          });

        this.isReady = true;
        if (this.arrDiscussionMessage[this.conversionId] != null && !this.arrDiscussionMessage[this.conversionId].items ) {
          this.messages = _.cloneDeep(this.arrDiscussionMessage[this.conversionId]);
        } else {
          me.getDiscussionListMessages();
        }
      },
      onConversationBodyScroll(event) {

        if( this.$refs.messageDisplay.scrollTop <= topOffset ) {
          let me = this;
          setTimeout( () => {
            me.getDiscussionListMessages();
          }, 1000);
        }
      },
      getDiscussionListMessages() {
        if (this.messages.loading) {
          return;
        }
        if (this.messages.meta.next == null || this.messages.meta.next.length <= 0) {
          return;
        }
        let params = {
          discussionId: this.conversionId,
          time_end: this.messages.currentTime,
          per_page: this.messages.meta.per_page,
          page: this.messages.page++ || 1
        };
        this.loading = true;
        this.messages.loading = true;
        let me = this;
        getDiscussionMessages(params)
          .then((response) => {
            let messages = _.cloneDeep(response.data);
            messages.items = _.reverse(messages.items);
            messages.items = [].concat(messages.items, _.clone(this.messages.items));
            messages.items = _.uniqBy( messages.items, 'id');
            messages.currentTime = this.messages.currentTime || new Date();
            messages.page = this.messages.page || 1;
            //console.log(this.messages, messages);
            this.messages = messages;
            if ( this.messages.page <= 2) {
              this.scrollToBottom();
            }
            else {
              this.$refs.messageDisplay.scrollTop = topOffset;
            }
          })
          .catch((err) => {
            //console.log(err);
            //this.messages = [];
          })
          .finally( () => {
            this.loading = false;
            this.messages.loading = false;
          })
      },
      onReceiveMessage(event) {
        let message = event.message;
        if (message ) 
        {
          if( message.author && message.author.id == this.meId) {
            //appended when sent
            return;
          }
          let index = _.findIndex(this.messages.items, function (m) {
            return m.id == message.id
          });
          if (index >= 0) {
            this.messages.items.splice(index, 1);
          }
          this.messages.items.push(message);
          this.scrollToBottom();
        }
      },
      scrollToBottom() {
        this.$nextTick(() => {
          let messageDisplay = this.$refs.messageDisplay;
          if (messageDisplay != null) {
            //console.log('running')
            messageDisplay.scrollTop = messageDisplay.scrollHeight;
          }
        });
      },
      onMessageKeypress() {
        return false;
        if (this.channel != null) {
          this.channel.whisper('typing', {
            user: this.me
          });
        }
      },

    }
  }
</script>
<style>
  .c--w-40 {
    width: 40px;
  }

  .c--h-40 {
    height: 40px;
  }

  .c--style-color {
    color: #2C96EC;
  }

  .c--cursor {
    cursor: pointer;
  }
  .mess-inb-has-attachments{
    height: calc(100% - 222px ) !important;
  }

  .body-mess .mess-box .mess-right .mess-content .mess-content-left .presentation .mess-inb .mess-wrap .mess-direction .direction-wrap .message--text {
    display: block;
    word-break: break-word;
    overflow: unset;
  }
  /*
  .c---attach-preview{
    position: absolute;
    bottom: 38px;
    right: 0px;
    width: 100%;
    height: 100px;
    margin: auto;
    z-index: 100;
    overflow-y: hidden;
    overflow-x: auto;
    color: white;
    border-radius: 10px;
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    padding-right: 20px;
    padding-left: 20px;
  }
  */
  .c---attach-preview-wrapper{
    white-space: nowrap;
    display: -webkit-box;
    display: flex;
    overflow-x: auto;
    width: 100%;
  }
  .c--message-input-wrapper{
    padding: 0 20px;
  }
  /*
  .c---attach-preview::-webkit-scrollbar{
    width: 0;
  }
  .c---attach-preview-wrapper::-webkit-scrollbar{
    width: 1;
  } 
  */
</style>
