<template>
    <div class="h-100 inner">
        <div class="btn-list-friend" @click="onShowSideBar">
            <a href="javascript:;"><i class="fas fa-user-friends"></i></a>
        </div>
        <div class="name-friend">
            <div class="name" v-show="!isShowSearchBox">
                <a class="one-line-dot d-inline-block max-width-50-percent" href="javascript:;" :title="targetName">{{ targetName }}</a>
            </div>
            <div class="c---search-wrapper" v-show="isShowSearchBox">
              <search-box  @onSelectChange="getDiscussionByListUser"/>
            </div>
        </div>
        <div class="del-mess">
            <div class="btn-mobile" @click="onTrashConversation">
                <a href="javascript:;">
                    <i class="fas fa-2x fa-trash-alt"></i>
                </a>
            </div>
            <a @click="onTrashConversation" href="javascript:;" class="t-text">{{ $t('webMessengerMoveToTrash') }}</a>
            <div class="btn-mobile-infor-user"  @click="onShowInforFriend" >
                <a href="javascript:;">
                    <i class="fas fa-user"></i>
                </a>
            </div>
        </div>
    </div>
</template>
<script>
import { mapState } from 'vuex';
export default {
    name: 'ChatBoxHeader',
    components: {
      SearchBox: () => import('~/components/messenger/QuickSearchBox'),
    },
    props:{
        target:{
            type: Object,
            default: null
        },
        isShowSearchBox: {
           type: Boolean,
           default: false
        }
    },
    computed:{
        ...mapState({
            //arrMember: state => state.messenger.members,
            //arrDiscussion: state => state.messenger.discussions,
            auth: state => state.auth
        }),
        meId() {
            return this.auth != null && this.auth.authUser != null && this.auth.authUser.user != null && this.auth.authUser.user.id > 0 ? this.auth.authUser.user.id : 0
        },
        discussionId() {
            return this.target != null ? this.target.id : null;
        },
        discussionAuthor() {
            return this.target != null && this.target.author ? this.target.author : null;
        },
        discussionAuthorId() {
            return this.discussionAuthor != null ? this.discussionAuthor.id : null;
        },
        targetId() {
            return this.targetObject != null ? this.targetObject.id : 0;
        },
        targetObject() {
            if( this.target && this.target.members &&  this.target.members.length > 0 )
            {
                let me = this;
                let members = this.target.members;
                let index = _.findIndex(members, ( member ) => {
                    return member.user.id != me.target.author.id;
                } );
                return index >= 0 ? this.target.members[index].user : null
            }
            return null;
        },
        targetName() {

            if( ! this.target ) return '';
            if( this.target.subject && this.target.subject.length > 0 ){ return this.target.subject; }
            let subject = [];
            if( this.target.members && this.target.members.length > 0 ) {
                _.forEach( this.target.members, (mem) => {
                    if( mem.user && mem.user.id != this.meId && mem.user.fullName && mem.user.fullName.length > 0 ) {
                        subject.push( mem.user.fullName );
                    }
                } );
            }
            return subject.length > 0 ? subject.join(', ') : '';

            //return this.targetObject != null ? (this.targetObject.fullName || (this.targetObject.firstName + ' ' + this.targetObject.lastName) || this.targetObject.email) : '';
        }
    },
    methods:{
        onTrashConversation() {
            if( this.discussionId == null ) {
                return;
            }
            if( ! this.discussionAuthorId || this.discussionAuthorId != this.meId ) {
                this.showNotification( this.$t('Error'), this.$t('no_permission') );
                return;
            }
            this.$confirm(this.$t('conversionMoveTrashWarning'), this.$t('webAreYouSureRemoveTitle'), {
                confirmButtonText: this.$t('btnOk'),
                cancelButtonText: this.$t('btnCancel'),
                type: 'warning'
            }).then(() => {
                if( this.discussionId != null ) {
                    this.$emit('onTrash', this.target);
                }
            }).catch(() => {

            });
        },
        onShowSideBar() {
            this.$emit('onShowSideBar')
        },
        onShowInforFriend() {
            this.$emit('onShowInforFriend')
        },
        getDiscussionByListUser(list) {
           this.$emit('onSelectChange', list)
        }
    }
}
</script>
