<template>
    <div class="h-100">
        <div class=" btn-list-friend">
            <a href="javascript:;"><i class="fas fa-user-friends"></i></a>
        </div>
        <div class="name-friend">
            <div class="name" v-show="!isShowSearchBox">
              <a class="one-line-dot d-inline-block max-width-50-percent" href="javascript:;">{{ targetName }}</a>
            </div>
            <div class="c---search-wrapper" v-show="isShowSearchBox">
              <search-box  @onSelectChange="getDiscussionByListUser"/>
            </div>
        </div>
        <div class="del-mess">
            <div class="btn-mobile" @click="onTrashConversation">
                <a href="javascript:;">
                    <i class="fas fa-2x fa-trash-alt"></i>
                </a>
            </div>
            <a href="javascript:;" class="t-text" @click.prevent="onTrashConversation" >{{ $t('webMessengerMoveToRecycle') }}</a>
            <div class="btn-mobile-infor-user">
                <a href="javascript:;" @click="showSideBar">
                    <i class="fas fa-user"></i>
                </a>
            </div>
        </div>
    </div>
</template>
<script>
export default {
    name: 'ChatBoxHeaderTrash',

    components: {
      SearchBox: () => import('~/components/messenger/QuickSearchBox'),
    },

    props:{
        target:{
            type: Object,
            default: null
        },
        isShowSearchBox: {
          type: Boolean,
          default: false
        }
    },

    computed:{
        discussionId() {
            return this.target != null ? this.target.id : null;
        },
        discussionAuthor() {
            return this.target != null && this.target.author ? this.target.author : null;
        },
        discussionAuthorId() {
            return this.discussionAuthor != null ? this.discussionAuthor.id : null;
        },
        targetId() {
            return this.targetObject != null ? this.targetObject.id : 0;
        },
        targetObject() {
            if( this.target && this.target.members &&  this.target.members.length > 0 )
            {
                let me = this;
                let members = this.target.members;
                let index = _.findIndex(members, ( member ) => {
                    return member.user.id != me.target.author.id;
                } );
                return index >= 0 ? this.target.members[index].user : null
            }
            return null;
        },
        targetName() {
            return this.targetObject != null ? (this.targetObject.fullName || (this.targetObject.firstName + ' ' + this.targetObject.lastName) || this.targetObject.email) : '';
        }
    },
    methods:{
        onTrashConversation() {
            
            this.$confirm(this.$t('webAreYouSureRemove'), this.$t('webAreYouSureRemoveTitle'), {
                confirmButtonText: this.$t('btnOk'),
                cancelButtonText: this.$t('btnCancel'),
                type: 'warning'
            }).then(() => {
                if( this.discussionId != null ) {
                    this.$emit('onTrash', this.target);
                }
                else {
                    this.$emit('onTrashAll');
                }
            }).catch(() => {

            });
        },
        showSideBar(){
            this.$emit('onShowSideBar')
        },
        getDiscussionByListUser(list) {
          this.$emit('onSelectChange', list)
        }
    }
}
</script>
