<template>
    <div class="h-100 inner">
        <div class="close-mobile-1">
            <a href="javascript:;">
                <i class="fas fa-times-circle"></i>
            </a>
        </div>
        <div class="avarta-name d-flex align-items-center">
            <div class="avarta">
                
            </div>
            <div class="name d--name">
                
            </div>
        </div>
        
        <div class="group-mess active-show">
            
        </div>
        
    </div>
</template>
<script>

export default {
    name:'FriendInfoStrash',
    
    props: {
        target: {
            type: Object,
            default: null
        }
    },
    
    methods: {
        
    }
}
</script>
<style>
    .w-40{
        width: 40px;
    }
    .c--thumbnail{
        width: 100px;
        height: 100px;
    }
    .body-mess .infor-friend .avarta-name .d--name{
        width: calc(100% - 76px);
    }
    .d--member.el-avatar img{
        width: 100%;
    }
    .c--cursor{
        cursor: pointer;
    }
</style>
