<template>
  <div class="h-100">
    <div class="close-mobile" @click="onCloseSideBar">
      <a href="#">
        <i class="fas fa-times-circle"></i>
      </a>
    </div>
    <friend-list-header @onCreateConversation="onCreateConversation" @onSearchChatClick="onSearchChatClick" />

    <div class="mess-content">
      <form action method class="form-search" @submit.prevent="onSearch">
        <input
          class="input-search"
          v-model="searchParams.keywords"
          v-on:input="searchMember"
          v-on:key.enter="searchMember"
          :placeholder="$t('webMessengerSearchBoxPlaceHolder')"
        />
        <button type="submit" class="btn-search">
          <i class="fas fa-search"></i>
        </button>
      </form>
      <div class="c--search-wrapper w-100 mt-1" v-loading="loading == 'member'">
        <div class="list-mess" v-if="arrMember.length > 0">
          <div class="w-100 text-center color-white text-bold">{{ $t('webListMember') }}</div>
          <div
            class="mess-member"
            v-for="(member, m) in arrMember"
            :key="m"
            @click="onMemberChat(member)"
          >
            <div class="avatar">
              <a class="cursor c--group-avatar">
                <el-avatar class="w-100 h-100" :src="member.avatar" alt />
              </a>
            </div>
            <div class="infor">
              <div class="name">
                <a class="cursor">{{ member.first_name }} {{ member.last_name }}</a>
              </div>
            </div>
          </div>
        </div>
        <div class="list-mess" v-if="arrCompany.length > 0">
          <div class="w-100 text-center color-white text-bold">{{ $t('webListCompany') }}</div>
          <div
            class="mess-member"
            v-for="(company, c) in arrCompany"
            :key="c"
            @click="onCompanyChat(company)"
          >
            <div class="avatar">
              <a class="cursor c--group-avatar">
                <el-avatar class="w-100 h-100" :src="company.avatar" alt />
              </a>
            </div>
            <div class="infor">
              <div class="name">
                <a class="cursor">{{ company.title }}</a>
              </div>
            </div>
          </div>
        </div>
        <div
          class="w-100 text-center p-2 color-white text-bold"
          v-if="arrMember.length <= 0 && arrCompany.length <= 0 && searchParams.keywords.length > 0"
        >{{ $t('webNoData') }}</div>
      </div>
      <div
        class="list-mess"
        v-loading="loading == 'disccusion'"
        v-if="arrDiscussion && arrDiscussion.items && arrDiscussion.items.length > 0 "
      >
        <div
          class="mess-member"
          v-for="(discussion, dis) in arrDiscussion.items"
          :key="dis"
          @click="onConversionChat(discussion)"
          :class="{'friend--activee': target!= null && discussion.id == target.id }"
        >
          <div class="avatar">
            <a class="cursor c--group-avatar">
              <avatar class="w-100 h-100" :list="getDiscussionAvatar(discussion)" alt />
            </a>
          </div>
          <div class="infor">
            <div class="name">
              <a class="cursor">{{ getDiscussionSubject(discussion) }}</a>
            </div>
            <div
              class="mess"
              v-if="discussion.latestMessage"
              :class="{'c--mark-unread': discussion.unRead}"
            >
              <div
                v-if="discussion.latestMessage.type == 'text'"
              >{{ discussion.latestMessage.body }}</div>
              <div v-if="discussion.latestMessage.type == 'like'">
                <i class="fas fa-thumbs-up"></i>
              </div>
              <div v-if="discussion.latestMessage.type == 'image'">
                <i class="fas fa-images"></i>
              </div>
              <div v-if="discussion.latestMessage.type == 'audio'">
                <i class="fas fa-file-audio"></i>
              </div>
              <div v-if="discussion.latestMessage.type == 'video'">
                <i class="fas fa-video"></i>
              </div>
              <div
                v-if="discussion.latestMessage.type == 'file' || discussion.latestMessage.type == 'application' || discussion.latestMessage.type == 'attachment'"
              >
                <i class="fas fa-file"></i>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</template>
<script>
import { mapState, mapActions } from "vuex";
import _ from "lodash";
import eventBus from "~/services/bus";

export default {
  name: "FriendList",

  components: {
    FriendListHeader: () => import("./FriendListHeader"),
    avatar: () => import("~/components/share/avatar")
  },

  computed: {
    ...mapState({
      //arrMember: state => state.messenger.members,
      //arrDiscussion: state => state.messenger.discussions,
      auth: state => state.auth
    }),
    meId() {
      return this.auth != null &&
        this.auth.authUser != null &&
        this.auth.authUser.user != null &&
        this.auth.authUser.user.id > 0
        ? this.auth.authUser.user.id
        : 0;
    },
    meChannel() {
      return "user-" + this.meId;
    }
  },

  data() {
    return {
      searchParams: {
        keywords: "",
        type_account: 1,
        search_type: 2
      },
      timer: null,
      target: null,
      loading: false,
      arrDiscussion: [],
      discussionId: null,
      arrMember: [],
      arrCompany: []
    };
  },
  watch: {
    "$route.query.discussionId"(val) {
      let id = parseInt(val);
      if (id > 0) {
        this.onConversionIdChat(id);
      }
    }
  },
  created() {
    if (this.$route.query.discussionId) {
      this.discussionId = parseInt(this.$route.query.discussionId);
    }
  },

  mounted() {
    this.getListChatted();
    this.bindMeChannel();
  },
  methods: {
    ...mapActions({
      searchDiscussionByUser: "messenger/searchDiscussionByUser",
      searchByMember: "messenger/searchMemberChat",
      //resetByMember: 'messenger/resetSearchMember',
      markAsRead: "messenger/markAsRead"
    }),
    getDiscussionAvatar(disccusion) {
      if (!disccusion) {
        return [];
      }
      if (disccusion.avatar && disccusion.avatar.url) {
        return [disccusion.avatar.url];
      }
      let me = this;
      let subject = [];
      if (disccusion.members && disccusion.members.length > 0) {
        if( disccusion.members.length == 2 ) {
          _.forEach(disccusion.members, mem => {
            if (mem.user && mem.user.id != me.meId && mem.user.avatar && mem.user.avatar.length > 0) {
              subject.push(mem.user.avatar);
            }
          });
        }
        else {
          subject.push('');
        }
        /*
        _.forEach(disccusion.members, mem => {
          if (mem.user && mem.user.avatar && mem.user.avatar.length > 0) {
            subject.push(mem.user.avatar);
          }
        });*/
      }
      return subject;
    },
    getDiscussionSubject(disccusion) {
      if (!disccusion) return "";
      if (disccusion.subject && disccusion.subject.length > 0) {
        return disccusion.subject;
      }
      let subject = [];
      if (disccusion.members && disccusion.members.length > 0) {
        _.forEach(disccusion.members, mem => {
          if (
            mem.user &&
            mem.user.id != this.meId &&
            mem.user.fullName &&
            mem.user.fullName.length > 0
          ) {
            subject.push(mem.user.fullName);
          }
        });
      }
      return subject.length > 0 ? subject.join(", ") : "";
    },
    bindMeChannel() {
      //return;
      let me = this;

      eventBus.$on("onNewMessage", e => {
        //console.log('onNewMessage', e)
        let discussionId = e.discussionId || null;

        let message = e.data || null;
        if (discussionId && message) {
          let index = _.findIndex(me.arrDiscussion.items, discussion => {
            return discussion.id == discussionId;
          });

          if (index >= 0) {
            let dis = this.arrDiscussion.items[index];
            dis.latestMessage = message;

            //this.arrDiscussion.items[index].latestMessage = message;

            if (discussionId == this.target.id) {
              if (dis.unRead == true) {
                dis.unRead = false;
                let params = { discussionId: discussionId };
                this.markAsRead({ params }).then(response => {});
              }
            } else {
              dis.unRead = true;
            }
            this.arrDiscussion.items.splice(index, 1);
            this.arrDiscussion.items = [dis].concat(this.arrDiscussion.items);
          }
        }
      });

      eventBus.$on("onNewDiscussion", e => {
        let disccusion = e.data;
        if (
          disccusion &&
          disccusion.id &&
          me.arrDiscussion &&
          me.arrDiscussion.items
        ) {
          let index = _.findIndex(me.arrDiscussion.items, dis => {
            return dis.id == disccusion.id;
          });
          if (index < 0) {
            me.arrDiscussion.items = [disccusion].concat(
              me.arrDiscussion.items
            );
            //me.arrDiscussion.items.push( disccusion );
          }
          me.arrDiscussion.items = _.uniqBy(me.arrDiscussion.items, 'id');
        }
      });
      eventBus.$on('reloadListChatted', () => {
        me.getListChatted();
      });
    },
    onSearchChatClick() {
      this.$emit("onSearchChatClick");
    },
    onCreateConversation(selected, disccusion) {
      this.$emit('onCreateConversation', selected, disccusion )
    },
    getListChatted() {
      let me = this;
      if (this.meId > 0) {
        this.loading = "discussion";
        let params = { user_id: this.meId };

        this.searchDiscussionByUser(params)
          .then(response => {
            if (response != null && response.data != null) {
              this.arrDiscussion = response.data;
              this.arrDiscussion.items = _.uniqBy(this.arrDiscussion.items, 'id');
              let index = 0;

              if (this.discussionId) {
                index = _.findIndex(this.arrDiscussion.items, dis => {
                  return dis.id == this.discussionId;
                });
              }

              if (index < 0) {
                index = 0;
              }
              if (this.arrDiscussion.items[index] != null) {
                this.onConversionChat(this.arrDiscussion.items[index]);
              }
            }
            this.loading = false;
          })
          .catch(() => {
            this.loading = false;
          });
      }
    },
    onSearch(event) {
      event.preventDefault();
      return false;
    },
    resetByMember() {
      this.searchParams.keywords = "";
      this.arrMember = [];
      this.arrCompany = [];
    },
    searchMember() {
      this.loading = false;
      if (this.timer != null) {
        clearTimeout(this.timer);
      }
      if (
        this.searchParams.keywords == null ||
        this.searchParams.keywords.length <= 0
      ) {
        this.resetByMember();

        return;
      }
      this.loading = "member";

      let params = _.clone(this.searchParams);
      this.timer = setTimeout(() => {
        this.searchByMember(params)
          .then(response => {
            if (response != null && response.data != null) {
              this.arrMember = response.data.members.data;
              this.arrCompany = response.data.client.data;
            }
          })
          .catch(() => {})
          .finally(() => {
            this.loading = false;
          });
      }, 500);
    },

    onMemberChat(member) {
      this.target = _.clone(member);
      this.$emit("onMemberChat", member);
      this.resetByMember();
    },
    onCompanyChat(company) {
      this.target = _.clone(company);
      this.$emit("onCompanyChat", company);
      this.resetByMember();
    },
    onConversionChat(discussion) {
      this.target = _.clone(discussion);
      this.$emit("onDiscussionChat", discussion);
      if (discussion.unRead) {
        let params = { discussionId: discussion.id };
        this.markAsRead({ params }).then(response => {
          discussion.unRead = false;
        });
      }
    },
    onConversionIdChat(discussionId) {
      if( this.target ){ return; }
      const discussion = this.arrDiscussion.items.find(
        dis => dis.id == discussionId
      );
      if (discussion) {
        this.onConversionChat(discussion);
      }
    },
    onCloseSideBar() {
      this.$emit("onCloseSideBar");
    }
  }
};
</script>
<style scoped>
.cursor {
  cursor: pointer;
}
.friend--active {
  background: #384988;
}
.c--mark-unread {
  font-weight: 600 !important;
  color: #2c96ec !important;
}
.body-mess .mess-box .mess-left .mess-content .list-mess .mess-member {
  overflow: hidden;
  padding: 10px 5px;
  max-width: unset;
  display: flex;
  align-items: center;
  cursor: pointer;
}
.body-mess .mess-box .mess-left .mess-content .list-mess .infor {
  flex: 1;
}
.body-mess .mess-box .mess-left .mess-content .list-mess .infor .mess > div {
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
  width: 100%;
}
.c--group-avatar {
  width: 44px;
  height: 44px;
  border-radius: 50%;
  overflow: hidden;
  display: block;
}
@media (max-width: 1199px) {
  .body-mess .mess-box .mess-left .close-mobile {
    position: absolute;
    right: 0;
    bottom: 0;
    transform: translateY(-50%);
    font-size: 20px;
    background: transparent;
    display: inline-block;
    top: auto;
    left: auto;
  }
  .body-mess .mess-box .mess-left .close-mobile a {
    color: #ffffff;
    background: #25315c;
    border-radius: 50%;
  }
}
.color-white {
  color: white;
}
.text-bold {
  font-weight: 500;
}
</style>
