<template>
    <div class="mess-banner">
        <div class="btn-del btn-icon">
            <nuxt-link :to="localePath({name: 'messenger'})"><i class="far fa-comments"></i></nuxt-link>
        </div>
        <div class="text-mess">
            {{ $t('webMessengerFriendListHeaderTrash') }}
        </div>
        <div class="btn-new-mess btn-icon">
            <a href="javascript:;" @click="onSearchClick">
                <!--<img src="~/assets/images/icon/edit-alt.png" alt="">-->
                <!--<i class="fas fa-pencil-alt"></i>-->
            </a>
        </div>
    </div>
</template>
<script>
export default {
    name: 'FriendListHeaderTrash',
    methods:{
        onSearchClick() {
            this.$emit('onSearchChatClick')
        }
    }
}
</script>
