<template>
    <div class="h-100">
        <div class="close-mobile">
            <a href="#">
                <i class="fas fa-times-circle"></i>
            </a>
        </div>
        <friend-list-header @onSearchChatClick="onSearchChatClick"/>

        <div class="mess-content">
            <!--<form action="" method="" class="form-search" @submit.prevent="onSearch">
                <input class="input-search" v-model="searchParams.keywords" v-on:input="searchMember" v-on:key.enter="searchMember" :placeholder="$t('webMessengerSearchBoxPlaceHolder')">
                <button type="submit" class="btn-search">
                    <i class="fas fa-search"></i>
                </button>
            </form>
            -->
            <div class="list-mess" v-loading="loading == 'disccusion'">
                <div class="mess-member" v-for="(discussion, dis) in arrDiscussion.items" :key="dis" @click="onConversionChat(discussion)" :class="{'friend--active': target!= null && discussion.id == target.id }">
                    <div class="avatar">
                        <a class="cursor c--group-avatar">
                            <avatar class="w-100 h-100" :list="getDiscussionAvatar(discussion)" alt />
                        </a>
                    </div>
                    <div class="infor">
                        <div class="name">
                            <a class="cursor">{{ getDiscussionSubject(discussion) }}</a>
                        </div>
                        <div class="mess" v-if="discussion.latestMessage" :class="{'c--mark-unread': discussion.unRead}">
                            <div
                                v-if="discussion.latestMessage.type == 'text'"
                            >{{ discussion.latestMessage.body }}</div>
                            <div v-if="discussion.latestMessage.type == 'like'">
                                <i class="fas fa-thumbs-up"></i>
                            </div>
                            <div v-if="discussion.latestMessage.type == 'image'">
                                <i class="fas fa-images"></i>
                            </div>
                            <div v-if="discussion.latestMessage.type == 'audio'">
                                <i class="fas fa-file-audio"></i>
                            </div>
                            <div v-if="discussion.latestMessage.type == 'video'">
                                <i class="fas fa-video"></i>
                            </div>
                            <div
                                v-if="discussion.latestMessage.type == 'file' || discussion.latestMessage.type == 'application' || discussion.latestMessage.type == 'attachment'"
                            >
                                <i class="fas fa-file"></i>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</template>
<script>
import { mapState, mapActions } from 'vuex';
import _ from 'lodash';

export default {
    name:'FriendListTrash',

    components:{
        FriendListHeader: () => import('./FriendListHeaderTrash'),
        avatar: () => import("~/components/share/avatar")
    },

    computed:{
        ...mapState({
            arrDiscussion: state => state.messenger.discussionTrashs,
            auth: state => state.auth
        }),
        meId() {
            return this.auth != null && this.auth.authUser != null && this.auth.authUser.user != null && this.auth.authUser.user.id > 0 ? this.auth.authUser.user.id : 0
        }
    },

    data() {
        return {
            searchParams:{
                keywords:'',
                type_account: 1,
            },
            timer: null,
            target: null,
            loading: false
        }
    },
    mounted(){
        this.getListChatted();
    },
    methods:{
        ...mapActions({
            searchDiscussionByUser: 'messenger/searchDiscussionTrashByUser',
        }),
        getDiscussionAvatar(disccusion) {
            if (!disccusion) {
                return [];
            }
            if (disccusion.avatar && disccusion.avatar.url) {
                return [disccusion.avatar.url];
            }
            let subject = [];
            if (disccusion.members && disccusion.members.length > 0) {
                _.forEach(disccusion.members, mem => {
                if (mem.user && mem.user.avatar && mem.user.avatar.length > 0) {
                    subject.push(mem.user.avatar);
                }
                });
            }
            return subject;
        },
        getDiscussionSubject(disccusion) {
            if (!disccusion) return "";
            if (disccusion.subject && disccusion.subject.length > 0) {
                return disccusion.subject;
            }
            let subject = [];
            if (disccusion.members && disccusion.members.length > 0) {
                _.forEach(disccusion.members, mem => {
                if (
                    mem.user &&
                    mem.user.id != this.meId &&
                    mem.user.fullName &&
                    mem.user.fullName.length > 0
                ) {
                    subject.push(mem.user.fullName);
                }
                });
            }
            return subject.length > 0 ? subject.join(", ") : "";
        },
        onSearchChatClick(){
          //this.$emit('onSearchChatClick');
        },
        getListChatted() {
            if( this.meId > 0) {
                this.loading = 'discussion';
                let params = { user_id: this.meId };

                this.searchDiscussionByUser(params).then(() => {
                    this.loading = false;
                    if( this.arrDiscussion[0] != null )
                    {
                        this.onConversionChat(this.arrDiscussion[0]);
                    }
                }).catch( () => {
                    this.loading = false;
                });
            }
        },
        searchMember() {

        },
        onSearch(event) {
            event.preventDefault();
            return false;
        },

        onConversionChat(discussion) {
            this.target = _.clone(discussion);
            this.$emit('onDiscussionChat', discussion);
            if( discussion.unRead ) {
                let params = { discussionId: discussion.id };
                this.$store.dispatch('messenger/markAsRead', { params, function(error, response) {
                        discussion.unRead = false;
                } });
            }
        },
    }
}
</script>
<style scoped>
.cursor{
    cursor: pointer;
}
.friend--active{
    background: #384988;
}
.c--mark-unread{
    font-weight: 600 !important;
    color: #2C96EC !important;
}
</style>
