<template>
    <div class="mess-banner">
        <div class="btn-del btn-icon">
            <nuxt-link :to="localePath({ name: 'messenger-trash'})"><i class="far fa-trash-alt"></i></nuxt-link>
        </div>
        <div class="text-mess">
            {{ $t('webMessengerFriendListHeader') }}
        </div>
        <div class="btn-new-mess btn-icon">
            <a href="javascript:;" @click="onSearchClick">
                <!--<img src="~/assets/images/icon/edit-alt.png" alt="">-->
                <i class="fas fa-pencil-alt"></i>
            </a>
        </div>
        <ModalAddMember v-if="isShowModalAddMember" @onClose="isShowModalAddMember = false" @onAgree="onAddMemberAgree"/>
    </div>
</template>
<script>
import eventBus from '~/services/bus';
export default {
    name: 'FriendListHeader',
    components:{
        ModalAddMember: () => import('./ModalAddMember'),
    },
    data() {
        return {
            isShowModalAddMember: false
        }
    },
    methods:{
        onSearchClick() {
            //this.$emit('onSearchChatClick')
            //eventBus.$emit('onCreateGroupChat');
            this.isShowModalAddMember = true;
        },
        onAddMemberAgree(arrSelect, discussion) {
            if( discussion != null && discussion.ids != null && _.isArray( discussion.ids ) && discussion.ids.length > 0 ) {
                //create discussion
                this.$emit('onCreateConversation', arrSelect, discussion)
            }
            this.isShowModalAddMember = false;
        }
    }
}
</script>
