<template>
    <div class="h-100 inner">
        <div class="close-mobile-1" @click="onCloseInforFriend">
            <a href="javascript:;">
                <i class="fas fa-times-circle"></i>
            </a>
        </div>
        <div class="avarta-name d-flex align-items-center">
            <div class="avarta">
                <avatar v-loading="uploading" @click.native="$refs.avatar.click()" class="w-100 h-100 c--cursor" :list="targetAvatar" alt="" />
                <input type="file"
                    ref="avatar"
                    accept="image/jpg,image/jpeg,image/png"
                    multiple="multiple"
                    @change="onUploadAvatar($event.target.name, $event.target.files)"
                    style="display:none">
            </div>
            <div class="name d--name">
                <a href="javascript:;" class="one-line-dot max-height-100 d-inline-block mw-100" :title="targetName">{{ targetName }}</a>
            </div>
        </div>
        <!--
        <div class="infor active-show">
            <div class="title">
                <div class="t-text">
                    {{ $t('webMessengerAboutUser') }}
                </div>
                <a href="javascript:;" class="btn" @click.prevent="isShowInfo = !isShowInfo">
                    <i class="fas" :class="{'fa-chevron-down': !isShowInfo, 'fa-chevron-up': isShowInfo}"></i>
                </a>
            </div>
            <div class="infor-dropdown" v-show="isShowInfo">
                <div class="avarta-infor">
                    <div class="avarta" style="overflow: hidden; border-radius: 50%;">
                        <el-avatar class="w-100 h-100" :srcSet="targetAvatar" alt=""></el-avatar>
                    </div>
                    <div class="name">
                        <a href="javascript:;" :title="targetName">{{ targetName }}</a>
                    </div>
                </div>
                <div class="infor-infor">

                    <div class="infor-item">
                        <span>{{ $t('webMessengerCountry') }}</span>
                        <span>{{ targetObject != null && targetObject.country != null ? targetObject.country.name: '' }}</span>
                    </div>
                    <div class="infor-item">
                        <span>{{ $t('webMessengerLanguage') }}</span>
                        <span>{{ targetObject != null && targetObject.language != null ?  targetObject.language.name : '' }}</span>
                    </div>
                </div>
            </div>
        </div>
        -->
        <div class="group-mess active-show">
            <div class="title">
                <div class="t-text">
                    {{ $t('webMessengerMember') }}
                </div>
                <a href="javascript:;"  class="btn" @click.prevent="isShowMember = !isShowMember">
                    <i class="fas" :class="{'fa-chevron-down': !isShowMember, 'fa-chevron-up': isShowMember}"></i>
                </a>
            </div>
            <div class="infor-dropdown" v-show="isShowMember">
                <div class="c---add-member add-member" :disabled="!target" @click="onAddMember">
                    <a href="javascript:;" class="icon-add" :aria-disabled="!target">
                        <i class="fas fa-2x fa-plus"></i>
                    </a>
                    <div class="t-text">{{ $t('webMessengerAddMember') }}</div>
                </div>
                <div class="list-member" v-if="members">
                    <div class="member" v-for="(member, m) in members" :key="`conversation-member-${m}`">
                        <div v-if="member != null && member.user != null">
                            <div class="avarta" style="overflow: hidden; border-radius: 50%;">
                                <nuxt-link :to="localePath({name: 'expert-p-id', params: { id: member.id} })">
                                    <el-avatar class="w-100 h-100 d--member" :src="getMemberAvatar(member.user)" alt=""></el-avatar>
                                </nuxt-link>
                            </div>

                            <div class="name-member">
                                <a href="javascript:;">{{ getMemberName(member.user) }}</a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="file-share active-show">
            <div class="title">
                <div class="t-text">
                    {{ $t('webMessengerSharedFiles') }}
                </div>
                <a href="javascript:;" class="btn" @click.prevent="isShowAttachFile = !isShowAttachFile">
                    <i class="fas" :class="{'fa-chevron-down': !isShowAttachFile, 'fa-chevron-up': isShowAttachFile}"></i>
                </a>
            </div>
            <div class="infor-dropdown list-file" v-show="isShowAttachFile">
                <a v-for="(file, f) in arrFile" :key="`list-item-file-${f}`" :href="file.url">{{ file.origin }}</a>
            </div>
        </div>
        <div class="img-share-x active-show mb-2">
            <div class="title">
                <div class="t-text">
                    {{ $t('webMessengerSharedImages') }}
                </div>
                <a href="javascript:;" class="btn" @click.prevent="isShowImageGallery = !isShowImageGallery">
                    <i class="fas" :class="{'fa-chevron-down': !isShowImageGallery, 'fa-chevron-up': isShowImageGallery}"></i>
                </a>
            </div>
            <div class="infor-dropdown list-img" v-show="isShowImageGallery">
                <el-image v-for="(img, im) in arrImage" :key="`list-item-img-${im}`" :src="img.url" alt="" class="img-thumbnail c--thumbnail w-40 float-left pull-left"></el-image>
            </div>
        </div>
        <ModalAddMember v-if="isShowModalAddMember" :conversation="target" @onClose="onAddMemberCloseModal" @onAgree="onAddMemberAgree" @onUpdate="onUpdateConversion"/>
    </div>
</template>
<script>
import { mapState } from 'vuex';
import _ from 'lodash';
import { searchDisccusionAttach } from '~/services/messenger';
import eventBus from '~/services/bus';
import { uploadFile } from '~/services/media';

export default {
    name:'FriendInfo',
    components:{
        ModalAddMember: () => import('./ModalAddMember'),
        avatar: () => import('~/components/share/avatar')
    },
    props: {
        target: {
            type: Object,
            default: null
        }
    },

    data() {
        return {
            isShowInfo: true,
            isShowMember: true,
            isShowAttachFile: true,
            isShowImageGallery: true,
            arrImage: [],
            arrFile: [],
            isShowModalAddMember: false,
            arrAttachments: [],
            uploading: false
        }
    },
    computed: {
        ...mapState({
            //arrMember: state => state.messenger.members,
            //arrDiscussion: state => state.messenger.discussions,
            auth: state => state.auth
        }),
        meId() {
            return this.auth != null && this.auth.authUser != null && this.auth.authUser.user != null && this.auth.authUser.user.id > 0 ? this.auth.authUser.user.id : 0
        },
        isGroup() {
            return this.target != null ? this.target.isGroup : false;
        },
        discussionId() {
            return this.target != null ? this.target.id : null;
        },
        members() {
            return this.discussionId != null && this.target.members != null && this.target.members.length > 0 ? this.target.members : [];
        },
        targetObject() {
            if( this.target && this.target.members &&  this.target.members.length > 0 && this.target.author )
            {
                let me = this;
                let members = this.target.members;
                let index = _.findIndex(members, ( member ) => {
                    return member.user && member.user.id != me.target.author.id;
                } );
                return index >= 0 ? this.target.members[index].user : null
            }
            return null;
        },
        targetId() {
            return this.targetObject != null ? this.targetObject.id : 0;
        },
        targetName() {
            if( ! this.target ) return '';
            if( this.target.subject && this.target.subject.length > 0 ){ return this.target.subject; }
            let subject = [];
            if( this.target.members && this.target.members.length > 0 ) {
                _.forEach( this.target.members, (mem) => {
                    if( mem.user && mem.user.id != this.meId && mem.user.fullName && mem.user.fullName.length > 0 ) {
                        subject.push( mem.user.fullName );
                    }
                } );
            }
            return subject.length > 0 ? subject.join(', ') : '';
            //return this.targetObject != null ? (this.targetObject.fullName || (this.targetObject.firstName + ' ' + this.targetObject.lastName) || this.targetObject.email) : '';
        },
        targetAvatar() {
            let disccusion = this.target;
            if( ! disccusion ) { return [] }
            if( disccusion.avatar && disccusion.avatar.url ) { return [disccusion.avatar.url]; }
            let subject = [];
            if( disccusion.members && disccusion.members.length > 0 ) {
                _.forEach( disccusion.members, (mem) => {
                    if( mem.user && mem.user.avatar && mem.user.avatar.length > 0 ) {
                        subject.push( mem.user.avatar );
                    }
                } );
            }
            return subject;
        }
    },
    watch: {
        targetId(val, oldId) {
            this.arrAttachments[oldId] = { arrImage: this.arrImage, arrFile: this.arrFile };
            if( this.arrAttachments[val] != null ) {
                let arr = this.arrAttachments[val];
                this.arrImage = arr.arrImage;
                this.arrFile = arr.arrFile;
            }
            else {
                this.getDiscussionAttachImage();
                this.getDiscussionAttachFile();
            }
        }
    },
    mounted() {
        this.bindMeChannel();
    },
    methods: {
        setDiscussion() {

        },
        onAddMember() {
            if( this.target == null || this.target.id == null ){ return ;}
            this.isShowModalAddMember = true;
        },
        onAddMemberCloseModal() {
            this.isShowModalAddMember = false;
        },
        onAddMemberAgree(arrSelect, discussion) {
            if( discussion != null && discussion.ids != null && _.isArray( discussion.ids ) && discussion.ids.length > 0 ) {
                //create discussion
                this.$emit('onCreateConversation', arrSelect, discussion)
            }
            this.isShowModalAddMember = false;
        },
        onUpdateConversion(arrSelect, discussion, conversation) {
            if( arrSelect != null && _.isArray( arrSelect ) && arrSelect.length > 0 ) {
                //create discussion
                this.$emit('onUpdateConversation', arrSelect, discussion, conversation)
            }
            this.isShowModalAddMember = false;
        },
        getMemberName(user) {
            return user != null ? (user.fullName || (user.firstName + ' ' + user.lastName) || user.email) : '';
        },
        getMemberAvatar(user) {
            return user != null ? user.avatar : '';
        },
        getDiscussionAttachImage() {
            let params = {
                discussionId: this.discussionId,
                type:'image',
                per_page: 1000
            };
            this.getDiscussionAttachments(params, (error, response) => {
                if( response != null ) {
                    this.arrImage = _.clone( response.data.items );
                }
            });
        },
        getDiscussionAttachFile() {
            let params = {
                discussionId: this.discussionId,
                type:'application,video,audio',
                per_page: 1000
            };
            this.getDiscussionAttachments(params, (error, response) => {
                if( response != null ){
                    this.arrFile = _.clone( response.data.items );
                }
            });
        },
        getDiscussionAttachments(params, callback){
            searchDisccusionAttach(params)
                .then( (response ) => {
                    if( callback ){ callback(null, response); }
                })
                .catch( (error) => {
                    if( callback ){ callback(error); }
                })
        },
        bindMeChannel() {
            let me = this;
            eventBus.$on('onNewMessage', (e) => {

                let discussionId = e.discussionId || null;

                let message = e.data || null;
                if( discussionId && message ) 
                {
                    if( message.type == 'attachment') 
                    {
                        let arrAttachments = message.attachments.items;
                        if( arrAttachments && arrAttachments.length > 0 ) {
                            arrAttachments.forEach( (attachment) => {
                                if( attachment.type == 'image') {
                                    me.arrImage = [attachment].concat(me.arrImage);
                                }
                                else {
                                    me.arrFile = [attachment].concat(me.arrFile);
                                }
                            } );
                        }
                    }
                }
            });
        },

        onCloseInforFriend() {
            this.$emit('onCloseInforFriend')
        },
        onUploadAvatar(fieldName, files) {
            this.uploading = true;
            let me = this;
            try {
                var data = new FormData();
                data.append('files', files[0]);
                
                uploadFile(data).then( (response) => {
                   
                    if( response.success && response.data && response.data[0]) 
                    {
                        let conversation = {
                            id: me.target.id,
                            subject: me.target.subject,
                            avatar: response.data[0]
                        };
                        me.$emit('onUpdateBasicConversation', conversation);
                    }
                })
                .catch((error) => {
                    //console.log(error);
                })
                .finally( () => {
                    this.uploading = false;
                });
            }catch(e){
                this.uploading = false;
            }
        },
    }
}
</script>
<style>
    .w-40{
        width: 40px;
    }
    .c--thumbnail{
        width: 100px;
        height: 100px;
    }
    .body-mess .infor-friend .avarta-name .d--name{
        width: calc(100% - 76px);
    }
    .d--member.el-avatar img{
        width: 100%;
    }
    .c--cursor{
        cursor: pointer;
    }
</style>
