<template>
<div v-if="attachments && attachments.length > 0">
    <Preview v-for="(preview, ind) in attachments" :key="`list-attach-item----${ind}`" :attachment="preview" :index="ind" @onRemove="onRemove"/>
</div>
</template>
<script>
export default {
    name: 'MessengerPreviewAttach',
    components: {
        Preview: () => import('~/components/messenger/MessengerPreviewAttachItem')
    },
    props:{
        attachments:{
            type: Array,
            default: []
        }
    },
    
    methods: {
        onRemove(index) {
            this.$emit('onRemove', index);
        }
    }
}
</script>