<template>
<div v-if="attachment" class="img-thumb-chat_ha">
   
    <div v-if="type == 'image'"  class="custom-item-img-chat_ha">
      <img :src="url" alt="" class="img-cover">
      <i class="fas fa-times-circle c--cursor c---attach-preview-item-trash" @click="remove"></i>
    </div>
    <span v-if="type == 'application'" class="c---attach-preview-item-application c---border-radius-10 item-upfile_ha">
        <div class="icon-file"><i class="fas fa-file-alt"></i></div>
        <div class="group-nameFile">
            <div class="name-title">{{ ext }}</div>
            <div class="nameFile">{{ name }}</div>
        </div>
        <i class="fas fa-times-circle c--cursor c---attach-preview-item-trash" @click="remove"></i>
    </span>
</div>
</template>
<script>
export default {
    name: 'MessengerPreviewAttachItem',
    props:{
        attachment:{
            type: File,
            default: null
        },
        index: {
            type: Number,
            default: -1
        }
    },
    
    computed: {
        elem() {
            return this.attachment ? this.attachment : null
        },
        size() {
            return this.elem ? this.elem.size : 0
        },
        mime() {
            return this.elem ? this.elem.type : null
        },
        name() {
            return this.elem ? this.elem.name : null
        },
        type() {
            return this.mime ? this.mime.substring(0, this.mime.indexOf('/')) : null
        },
        ext(){
            return this.name ? this.name.substring(this.name.lastIndexOf('.') + 1, this.name.length) : ''
        },
        creator() {
            return window.URL || window.webkitURL;
        },
        stream() {
            return this.elem ? this.elem.stream() : null
        },
        url() {
            if( ! this.elem || this.type !== 'image' ){ return ''; }
            try{
                return URL.createObjectURL(this.attachment)
            }catch(e){
            }
            return '';
        }
    },
   
    methods: {
        remove() {
            this.$emit('onRemove', this.index);
        }
    }
}
</script>
<style>
.c---attach-preview-item{
    display: inline-block;
    display: inline;
    position: relative;
    white-space: nowrap;
}
.c---attach-preview-item-trash{
    height: 20px;
    position: absolute;
    right: 4px;
    top: 5px;
    width: 20px;
    opacity: 0;
    visibility: hidden;
    color: #c1c1c1;
}
.img-thumb-chat_ha:hover .c---attach-preview-item-trash{
    opacity: 1;
    visibility: visible;
}

.img-thumb-chat_ha{
    position: relative;
    display: flex;
    flex-direction: column;
    margin-top: 10px;
    margin-bottom: 10px;
}
.img-thumb-chat_ha + .img-thumb-chat_ha{
    margin-left: 10px;
}
.custom-item-img-chat_ha{
    height: 108px;
    width: 108px;
    border-radius: 12px;
    display: inline-block;
    overflow: hidden;
}
.custom-item-img-chat_ha >img{
    object-fit: cover;
    height: 100%;
    width: 100%;
    display: block;
}
.body-mess .mess-box .mess-right .mess-content .mess-content-left .presentation .new-mess .new-mess-wrapp .form-chat{
    margin-left: 15px;
    margin-right: 15px;
}
.body-mess .mess-box .mess-right .mess-content .mess-content-left .presentation .new-mess .new-mess-wrapp .c---attach-preview{
    margin-left: 15px;
    margin-right: 15px;
    margin-bottom: 10px;
}
.body-mess .mess-box .mess-right .mess-content .mess-content-left .presentation .new-mess .new-mess-wrapp{
    border-top: 1px solid rgba(255, 255, 255, 0.1);
    background: linear-gradient(to bottom, #25315c 2%, #0a1747 100%);
}
.item-upfile_ha{
    display: flex;
    align-items: center;
    overflow: hidden;
    background: #ffffff;
     border-radius: 10px;
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    height: 60px;
    width: 250px;
    margin-top: auto;
    position: relative;
}
.item-upfile_ha .icon-file{
    padding: 10px;
    background: #0084ff;
    height: 60px;
    width: 60px;
    text-align: center;
}
.item-upfile_ha .icon-file >i{
    font-size: 34px;
    color: #ffffff;
}
.item-upfile_ha .group-nameFile{
    flex: 1;
    padding: 0 10px;
}
.item-upfile_ha .group-nameFile >div{
    color: #25315c;
    font-size: 12px;
}
.item-upfile_ha .group-nameFile .name-title{
    text-transform: uppercase;
    font-weight: 600 !important;
}
</style>