<template>
    <div class="modal fade modal-sp show" @click.self="onClose" aria-modal="true" style="padding-right: 17px; display: block;">
        <div class="modal-dialog modal-dialog-centered modal-spotech create-like" role="document">
            <div class="modal-content">
                <div class="han-b-18-modal">
                    <form action="" method="">
                        <div class="modal-header">
                            <div class="t-text">
                                {{ !isUpdate ? $t('webMessengerCreateGroup') : $t('webMessengerUpdateGroup') }}
                            </div>
                            <button type="button" class="clear" @click="onClose" aria-label="Close">
                                <span aria-hidden="true"> <i class="fas fa-times"></i> </span>
                            </button>
                        </div>
                        <div class="modal-body">
                            <AddMemberBox @onSelectChange="onSelectChange" :conversation="conversation"/>
                        </div>

                        <div class="modal-footer">
                            <div class="group-button">
                                <a href="javascript:;" class="buton btn-no" @click="onClose">{{ $t('btnCancel') }}</a>
                                <a href="javascript:;" class="buton btn-yes" @click="onAgree">{{ !isUpdate ? $t('btnCreate') : $t('btnUpdate') }}</a>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</template>
<script>
    import _ from 'lodash'
    export default {
        name: 'MessengerModalAddMember',
        props: {
            conversation: {
                type: Object,
                default: null
            }
        },
        data() {
            return {
                discussion: {
                    subject:'',
                    avatar:'',
                    ids:[]
                },
                arrSelect:[],
                arrOldMember: []
            }
        },
        components:{
            AddMemberBox: () => import('./AddMemberBox')
        },
        computed:{
            
            isSameMember() {
                return _.isEqualWith(this.arrSelect, this.arrOldMember, 'id')
            },
            isUpdate() {
                if( ! this.conversation || ! this.conversation.id) {
                    return false;
                }
                
                if( this.arrOldMember.length == 2 && !this.isSameMember) {
                    return false;
                }
                return true;
            }
        },
        mounted() {
            if( this.conversation && this.conversation.members ) {
                let arr = [];
                arr = this.conversation.members.map( (m) => m.user );
                this.arrOldMember = _.cloneDeep(arr);
                this.arrSelect    = _.cloneDeep(arr);
            }
        },
        methods:{
            onClose() {
                this.$emit('onClose');
            },
            onAgree() {
                if( this.isUpdate ) {
                    this.$emit('onUpdate', this.arrSelect, this.discussion, this.conversation);
                }
                else {
                    this.$emit('onAgree', this.arrSelect, this.discussion);
                }
            },
            onSelectChange(arrSelect, discussion) {
                this.arrSelect = _.sortBy(arrSelect, 'id');
                this.discussion = discussion;
            }
        }
    }
</script>
