<template>
  <div class="w-100 h-100 c--search-box">
    <div class="form-group d-flex pr-2 mb-0">
      <div class="control-label form-label col-form-label px-2 text-nowrap c--search-box-label"
           style="text-overflow: ellipsis">
        {{$t('webMessengerSearchBoxLabel')}}
      </div>
      <div class="input-search w-100">
      <el-select
        :disabled="disabled"
        v-bind:collapse-tags="false"
        v-bind:popper-append-to-body="false"
        v-bind:automatic-dropdown="true"
        popper-class="w-100"
        ref="searchBox"
        :multiple="multiSelect"
        filterable
        remote
        v-bind:reserve-keyword="true"
        value-key="id"
        v-model="arrSelected"
        :placeholder="$t('webMessengerSearchBoxPlaceHolder')"
        :remote-method="searchMember"
        :loading="loading"
        :loading-text="$t('loading')"
        :no-data-text="$t('webThereIsNothingToDisplay')"
        @change="onSelectChange">
        <el-option
          v-for="(item,i) in arrAvailable"
          :key="`arrMember-item-${i}`"
          :label="`${item.title}`"
          :value="item">
          <div class="mt-1 w-100">
            <el-avatar class="float-left" :src="item.avatar"></el-avatar>
            <div class="float-left ml-3">{{item.title}}</div>
          </div>
        </el-option>

      </el-select>
      </div>
    </div>

  </div>
</template>
<script>
  import {mapState, mapActions} from 'vuex';
  import _ from 'lodash';

  export default {
    name: 'QuickSearchBox',

    components: {
      FriendListHeader: () => import('./FriendListHeader')
    },

    computed: {
      ...mapState({
        auth: state => state.auth
      }),
      meId() {
        return this.auth != null && this.auth.authUser != null && this.auth.authUser.user != null && this.auth.authUser.user.id > 0 ? this.auth.authUser.user.id : 0
      },
      arrAvailable() {
        let arrMerge = [];
        _.each(this.arrMember, (mem) => {
          mem.type = 1;
          mem.title = [mem.first_name, mem.last_name].join(' ')
          arrMerge.push(mem);
        })
        _.each(this.arrCompany, (com) => {
          com.type = 2;
          arrMerge.push(com);
        })

        return _.uniqWith(arrMerge, _.isEqual);
      },
      isSelectCompany() {
        let arrCompany = _.filter(this.arrSelected, (selected) => {
          return selected.type == 2;
        })

        return arrCompany.length > 0 ? true : false
      },
      multiSelect() {
        return true;//this.isSelectCompany ? false : true
      },
      disabled() {
        return this.isSelectCompany ? true : false
      }
    },

    data() {
      return {
        searchParams: {
          keywords: '',
          pageIndex: 1,
          pageSize: 10,
          type_account: 1,
          search_type: 2
        },
        timer: null,
        target: null,
        loading: false,
        arrMember: [],
        arrCompany: [],
        arrSelected: []
      }
    },
    beforeDestroy() {
      this.resetSearch();
    },
    mounted() {
      this.searchMember('')
      this.$refs.searchBox.focus();
    },
    methods: {
      ...mapActions({
        searchByMember: 'messenger/searchMemberChatCallback',
      }),
      resetSearch() {
          this.searchParams = {
              keywords: '',
              pageIndex: 1,
              pageSize: 10,
              type_account: 1,
              search_type: 2
          },
          this.timer = null,
          this.target = null,
          this.loading = false,
          this.arrMember = [],
          this.arrCompany = [],
          this.arrSelected = []
      },
      searchMember(query) {
        //if (!query) return;
        if (this.timer != null) {
          clearTimeout(this.timer);
        }
        this.loading = true;
        let params = {...this.searchParams};
        params.keywords = query;
        this.timer = setTimeout(() => {
          this.searchByMember(params)
            .then((response) => {
              if (response.success) {
                this.arrMember = [].concat(_.cloneDeep(response.data.members.data), _.clone(this.arrMember));
                this.arrCompany = [].concat(_.cloneDeep(response.data.client.data), _.clone(this.arrCompany));
              }
              this.searchParams.keywords = '';
            })
            .catch(() => {
              //this.arrMember = [];
              //this.arrCompany = [];
            })
            .finally(() => {
              this.loading = false;

            });
        }, 500)
      },
      onSelectChange() {

        let me = this;
        this.$nextTick(() => {
          me.$refs.searchBox.query = '';
          me.$refs.searchBox.blur();
          me.$emit('onSelectChange', me.arrSelected)
        })
      }
    }
  }
</script>
<style scoped>
  .cursor {
    cursor: pointer;
  }

  .friend--active {
    background: #384988;
  }

  .c--mark-unread {
    font-weight: 600 !important;
    color: #2C96EC !important;
  }

  .el-select-dropdown__item {
    height: 45px;
    line-height: 40px;
  }

  /* .c--search-box-label {
    color: #fff;
  } */
  .el-tag__close.el-icon-close {
    display: none;
  }
</style>
