<template>

  <div class="modal-mini-mess-1 selected-add">
    <div class="header-modal-mini-mess">
      <div class="t-text mw-75 text-overflow">
        {{ !discussionId ? $t('webNewMessage') : discussionSubject }}
      </div>
      <div class="close">
        <a href="javascript:;" @click="onClose">
          <i class="fas fa-times"></i>
        </a>
      </div>
    </div>
    <div class="body-modal-mini-mess">
      <div class="title" v-show="!discussionId">
        <QuickSearchBox @onSelectChange="onMemberSelectChange"/>
      </div>
      <div class="list-sms-wrapper">
        <div class="list-sms" ref="messageDisplay" v-loading="loading" @scroll.passive="onConversationBodyScroll">
            <div v-for="(message, me) in messages.items" :key="me" class="sms-item" :class="{'me': message != null && message.author != null && message.author.id == meId, 'friend': message != null && message.author != null && message.author.id != meId}">
              <div class="sms-item-wrapper">
                <div class="information-friend" style="overflow:hidden;" v-if="message != null && message.author != null && message.author.id != meId">
                  <nuxt-link :to="localePath({name: 'expert-p-id', params: { id: message.author.id} })">
                    <el-avatar class="avatar w-100 h-100" :src="message.author.avatar" alt=""></el-avatar>
                  </nuxt-link>
                </div>
                <div v-if="message != null" class="t-text" :class="{'t-text-t' : message.type == 'text'}">
                  <div class="mame-friend" v-if="message.author != null && message.author.id == meId">{{ message.author.full_name ? message.author.full_name : '' }}</div>
                  <MessageElement :message="message" />
                </div>
              </div>
            </div>
            <div class="mess-inb no-mess" v-if="!loading && (messages == null || messages.items == null || messages.items.length <= 0)">
              <div class="no-mess-wrapp text-center">
                <!--<div class="thumb">

                  <el-image v-if="messages == null" :src="require('~/assets/images/upload/no-mess-1.png')" alt="" />
                </div>-->
                <div class="t-text">
                  {{ messages == null ? $t('ChatNoMessage') : '' }}
                </div>
              </div>
            </div>
          </div>
      </div>
    </div>
    <div class="footer-modal-mini-mess">
      <div class="box-inb">
        <input class="form-control" v-model="body" @keypress="onMessageKeypress" v-on:keyup.enter="onSendMessage" type="text" :placeholder="$t('webMessengerInputMessage')">
        <div class="icon liked" @click="sendLike">
          <i class="far fa-thumbs-up"></i>
        </div>
      </div>
    </div>
  </div>
</template>

<script>
  import { getDiscussion, getDiscussionMessages, sendMessage, sendFile } from '~/services/messenger';
  import { uploadFile } from '~/services/media';

  import { mapState } from 'vuex';
  import _ from 'lodash';
  const topOffset = 55;
  export default {
    name: "QuickChatBox",
    components:{
      MessageElement: () => import('~/components/messenger/message/MessageElement'),
      QuickSearchBox: () => import('~/components/messenger/QuickSearchBox')
    },
    computed:{
      ...mapState({
        auth: state => state.auth
      }),
      me() {
        return this.auth != null && this.auth.authUser != null && this.auth.authUser.user != null ? this.auth.authUser.user : null;
      },
      meId() {
        return this.me != null ? this.me.id : 0
      },
      discussionId() {
        return this.discussion != null ? this.discussion.id : 0;
      },
      discussionSubject() {
        if( ! this.discussion ) { return null; }
        let dis = this.discussion;
        
        if( dis.subject && dis.subject.length > 0 ){ return dis.subject; }
        let subject = [];
        if( dis.members && dis.members.length > 0 ) {
            _.forEach( dis.members, (mem) => {
                if( mem.user && mem.user.id != this.meId && 
                  mem.user.fullName && mem.user.fullName.length > 0) 
                {
                  subject.push( mem.user.fullName );
                }
            } );
        }
        return subject.length > 0 ? subject.join(', ') : null;
      },
      meChannel() {
        return 'user-' + this.meId;
      },
      getStyle() {
        return {
          width:this.showAdvance? '110px':'0px',
        }
      },
      isChatPage() {
        return this.$route && this.$route.path && this.$route.path.indexOf('messenger') > 0;
      }
    },

    data(){
      return {
        body:'',
        discussion: null,
        channel: null,
        conversionId: null,
        channelId: null,
        messages_default:{
          items: [],
          meta:{
            count: 0,
            current_page: 0,
            per_page: 10,
            //total: 0,
            //total_pages: 1
            next: 1,
            prev: null
          },
          page: 1,
          currentTime: new Date(),
          loading: false
        },
        messages:{},
        users:[],
        showAdvance: false,
        isReady: false,
        
        attachments:[],
        arrDiscussionMessage: [],
        arrSelected: [],
        loading: false
      }
    },
    created() {
      this.messages = _.cloneDeep( this.messages_default );
      if( this.me != null ) {
        this.resetDiscussion();
        this.bindMeChannel();
      }

    },
    beforeDestroy() {
      this.resetDiscussion();
    },
    methods:{

      onMemberSelectChange(selected) {
        this.arrSelected = _.cloneDeep( selected );
      },
      async onGetDiscussion() {
        if (this.auth == null || 
          this.auth.access_token == null ) {
          return -1;
        }
        let arr = this.arrSelected;
        if( ! arr || arr.length <= 0 ) {
          this.resetDiscussion();
          return -1;
        }
        const response = await getDiscussion(arr);
        this.setConversation(response.data);
        return 1;
      },
      setConversation(conversation) {
        this.discussion = conversation;
        this.startDiscussion(conversation.id);
      },
      resetMessage() {
        this.body = '';
        this.attachments = [];
      },
      onRemoveAttachment(index) {
        if (index >= 0 && this.attachments[index]) {
          this.attachments.splice(index, 1);
        }
      },
      onFileChange(fieldName, files) {
        try{
          this.attachments = this.attachments.concat(Array.from(files));
        }catch(e){}
      },
      
      sendLike() {
        if( ! this.isReady ){ return; }
        let params = {
          discussionId: this.conversionId,
          body: '',
          type: 'like'
        };
        this.createLocaleMessage(params);
        sendMessage(params);
        this.resetMessage();
      },
      async onSendMessage() {
        if( ! this.discussionId ) { 
          const ret = await this.onGetDiscussion();
          if( ret <= 0 ){ return; }
        }
        if( ! this.isReady && (!this.body || this.body.trim().length <= 0 ) && this.images.length <= 0 ){ return; }
        let params = {
          discussionId: this.conversionId
        };

        if( this.body != null && this.body.length > 0 ) {
          params.body = _.clone(this.body);
          params.type = 'text';
          this.createLocaleMessage(params);
          sendMessage(params);
          this.body = '';
        }

        if (this.attachments.length > 0) {
          let files = _.clone(this.attachments);
          var data = new FormData();
          let me = this;
          let attachments = [];
          
          Array.from(files).forEach(function (file) {
            data.append('files', file);
            attachments.push( me.createAttach(file) );
          });

          params.body = '';
          params.type = 'attachment';
          this.createLocaleMessage({
            body:'',
            type: 'attachment',
            attachments: {
              items: attachments
            }
          });
          uploadFile(data).then((response) => {
            params.attachments = _.clone(response.data);
            
            sendMessage(params);
          })
          .catch((error) => {
            //console.log(error);
          });
        }

        this.resetMessage();
      },
      createAttach(file) {
        return {
          origin: file.name,
          url: URL.createObjectURL(file),
          ext: file.name.substring(file.name.lastIndexOf('.') + 1, file.name.length),
          type: file.type.substring(0, file.type.indexOf('/')),
          author: this.me
        };
      },
      createLocaleMessage( params ) {
        let message = {
          'id'         : ( new Date() ).getTime(),
          'sended'     : false,
          'author'     : _.cloneDeep( this.me ),
        };
        message = _.merge( message, params);
        this.messages.items.push(message);
        this.scrollToBottom();
      },
      resetDiscussion()
      {
        if( this.channel != null )
        {
          this.arrDiscussionMessage[this.conversionId] = _.clone( this.messages );

          if( this.channelId != null ) {
            Echo.leave(this.channelId);
          }
          this.channel = null;
          this.channelId = null;
          this.conversionId = null;
          this.users = [];
          this.attachments = [];
          this.messages = _.cloneDeep( this.messages_default );
          this.messages.currentTime = new Date();
        }
      },
      startDiscussion(conversionId) {
        this.conversionId = conversionId;
        this.channelId = 'discussion-' + conversionId;
        this.bindConversionEvent();
      },
      bindMeChannel() {
        /*let me = this;
        Echo.private(this.meChannel)
        .listen('.message', (e) => {
            console.log('event message private : ', e)
            //me.onReceiveMessage(e);
        });*/
      },
      bindConversionEvent(conversionId) {
        let me = this;
        this.channel =  Echo.join(this.channelId)
          .here( function(users) {
            //console.log('here', users)
            me.users = _.cloneDeep( users );
          })
          .joining( function(user) {
            //console.log('joining', user);
            me.users.push( _.cloneDeep( user ) );
          })
          .leaving( function(user) {
            //console.log('leaving', user);
            let index = _.findIndex(me.users, (u) => {
              return u.id == user.id;
            })
            if( index >= 0 )
            {
              me.users.splice(index, 1);
            }
          })
          .listen('.discussion', (e) => {
            //console.log('event discussion: ', e)
          })
          .listen('.message', (e) => {
            //console.log('event message: ', e)
            me.onReceiveMessage(e);
          })
          .listenForWhisper('typing', function(e) {
            //console.log('listenForWhisper', e);
          })
          .notification( (noti) => {
            //console.log('notification', noti);
          } );

        this.isReady = true;
        if( this.arrDiscussionMessage[this.conversionId] != null )
        {
          this.messages = _.cloneDeep( this.arrDiscussionMessage[this.conversionId] );
        }
        else {
          me.getDiscussionListMessages();
        }
      },
      onConversationBodyScroll(event, position) {

        if( this.$refs.messageDisplay.scrollTop <= topOffset ) {
          this.getDiscussionListMessages();
        }
      },
      getDiscussionListMessages()
      {
        if( this.messages.loading ){ return; }
        if( this.messages.meta.next == null || this.messages.meta.next.length <= 0 ){ return; }
        let params = { discussionId: this.conversionId, time_end: this.messages.currentTime, per_page: this.messages.meta.per_page, page: this.messages.page++ };
        this.messages.loading = true;
        this.loading = true;
        getDiscussionMessages( params )
          .then( ( response ) => {
            let messages = _.cloneDeep(response.data);
            messages.items = _.reverse( messages.items );
            messages.items = [].concat( messages.items, _.clone(this.messages.items) );
            messages.items = _.uniqBy( messages.items, 'id');
            messages.currentTime = this.messages.currentTime || new Date();
            messages.page = this.messages.page || 1;
            this.messages = messages;
            if( this.messages.page <= 2 ) {
              this.scrollToBottom();
            }
            else{
              this.$refs.messageDisplay.scrollTop = topOffset;
            }
          } )
          .catch( (err) => {
            //console.log(err);
            //this.messages = [];
          })
          .finally( () => {
            this.loading = false;
            this.messages.loading = false;
          })
      },
      onReceiveMessage(event) {
        let message = event.message;
        if( message )
        {
          if( message.author && message.author.id == this.meId) {
            //appended when sent
            return;
          }

          let index = _.findIndex(this.messages.items, function (m) {
            return m.id == message.id
          });
          if (index >= 0) {
            this.messages.items.splice(index, 1);
          }
          this.messages.items.push(message);
          this.scrollToBottom();
          if( this.isChatPage ) {
            this.$router.push( this.localePath({ name: 'messenger', query: { discussionId: this.conversionId } }) )
            this.onClose();
          }
        }
      },
      scrollToBottom() {
        this.$nextTick( () => {
          var messageDisplay = this.$refs.messageDisplay;
          if( messageDisplay != null ) {
            messageDisplay.scrollTop = messageDisplay.scrollHeight;
          }
        });
      },
      onMessageKeypress() {
        return false;
        if( this.channel != null )
        {
          this.channel.whisper('typing', {
            user: this.me
          });
        }
      },
      onClose() {
        this.$emit('onClose')
      }
    }
  }
</script>

<style scoped>
.modal-wrapper{
  position: relative;
}
  .modal-mini-mess-1 {
    position: absolute;
    opacity: 1;
    top: calc(100% + 39px) !important;
    right: 0 !important;
    min-width: 393px;
    background: #fff;
    z-index: 10000;
    border-bottom-right-radius: 10px;
    border-bottom-left-radius: 10px;
    box-shadow: 0 2px 2px #d2d2d2;
  }
  .pc-header.scroll .modal-mini-mess-1{
    top: calc(100% + 28px);
  }
  .header-modal-mini-mess {
    margin: 0;
    padding: 8px 15px;
    border-bottom: 1px solid #D2D2D2;
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  .header-modal-mini-mess .t-text {
    font-size: 14px;
    font-weight: 500;
    color: #131C3D;
    line-height: 17px;
  }
  .header-modal-mini-mess .close .fa-times{
    color: #000000;
  }
  .body-modal-mini-mess .title {
    display: flex;
    align-items: center;
    border-bottom: 1px solid #D2D2D2;
    padding: 8.5px 15px;
  }
  .body-modal-mini-mess .title .t-text {
    font-size: 14px;
    font-weight: 500;
    margin-right: 18px;
  }
  .body-modal-mini-mess .title .friend-add {
    display: flex;
    padding: 6px 10px;
    border-radius: 10px;
    background: #2C96EC;
    color: #fff;
    font-weight: 500;
    align-items: center;
    justify-content: space-between;
  }
  .body-modal-mini-mess .title .friend-add .name {
    padding-right: 17px;
  }
  .body-modal-mini-mess .list-sms-wrapper {
    padding: 8px 0;
  }
  .body-modal-mini-mess .list-sms-wrapper .list-sms {
    height: 311px;
    padding: 0 15px;
    overflow-x: auto;
  }

  .body-modal-mini-mess .list-sms-wrapper .list-sms .sms-item {
    display: block;
    width: 100%;
    margin-bottom: 10px;
  }
  .body-modal-mini-mess .list-sms-wrapper .list-sms .sms-item .sms-item-wrapper {
    display: flex;
    align-items: flex-end;
  }
  .body-modal-mini-mess .list-sms-wrapper .list-sms .sms-item .sms-item-wrapper .information-friend {
    width: 28px;
    height: 28px;
    margin-right: 10px;
    border-radius: 50%;
  }
  .body-modal-mini-mess .list-sms-wrapper .list-sms .sms-item .sms-item-wrapper .t-text {
    border-radius: 21px;
    display: inline-block;
    padding: 10px 20px;
    line-height: 1;
    text-align: left;
  }
  .body-modal-mini-mess .list-sms-wrapper .list-sms .sms-item.friend .sms-item-wrapper .t-text {
    background: #D2D2D2;
    padding: 10px 10px 10px 20px;
  }
  .body-modal-mini-mess .list-sms-wrapper .list-sms .sms-item.me .sms-item-wrapper .t-text {
    background: #2C96EC;
    text-align: right;
  }
  .footer-modal-mini-mess .box-inb {
    display: flex;
    justify-content: space-between;
    padding: 12.5px 14px;
    align-items: center;
    border-top: 1px solid #D2D2D2;
  }
  .footer-modal-mini-mess .box-inb input {
    border: none;
    width: 100%;
    font-size: 12px;
    line-height: 14px;
  }
  .footer-modal-mini-mess .box-inb .icon {
    cursor: pointer;
    margin-left: 15px;
  }
  .me .sms-item-wrapper{
    justify-content: flex-end;
  }
  .list-sms::-webkit-scrollbar{
    width: 0
  }
</style>
