<template>
    <div class="w-100 h-100 c--search-box">
        <div class="form-group d-flex pr-2">
            <div class="control-label form-label col-form-label px-2 text-nowrap c--searchbox-label" style="text-overflow: ellipsis">
                {{$t('webMessengerSearchBoxLabel')}}
            </div>
            <el-select
                class="input-search w-100"
                multiple
                filterable
                remote
                reserve-keyword
                v-model="arrMemberIds"
                :placeholder="$t('webMessengerSearchBoxPlaceHolder')"
                :remote-method="searchMember"
                :loading="loading"
                v-on:keyup.enter.native="handleOnEnter">
                <el-option
                    v-for="item in arrMember"
                    :key="`arrMember-item-${item.id}`"
                    :label="`${item.last_name} ${item.first_name}`"
                    :value="item.id">
                    <div class="mt-1">
                        <el-avatar class="float-left" :src="item.avatar"></el-avatar>
                        <div class="float-left ml-3">{{item.last_name}} {{item.first_name}}</div>
                    </div>
                </el-option>
                <el-option
                    v-for="item in arrCompany"
                    :key="`arr-company-item-${item.id}`"
                    :label="`${item.title}`"
                    :value="item.id">
                    <div class="mt-1">
                        <el-avatar class="float-left" :src="item.avatar"></el-avatar>
                        <div class="float-left ml-3">{{item.title}}</div>
                    </div>
                </el-option>
            </el-select>
        </div>

    </div>
</template>
<script>
    import {mapState, mapActions} from 'vuex';
    import _ from 'lodash';

    export default {
        name: 'MemberSearchBox',

        components: {
            FriendListHeader: () => import('./FriendListHeader')
        },

        computed: {
            ...mapState({
                auth: state => state.auth
            }),
            meId() {
                return this.auth != null && this.auth.authUser != null && this.auth.authUser.user != null && this.auth.authUser.user.id > 0 ? this.auth.authUser.user.id : 0
            }
        },

        data() {
            return {
                searchParams: {
                    keywords: '',
                    pageIndex: 1,
                    pageSize: 10,
                    type_account: 1,
                    search_type: 2
                },
                timer: null,
                target: null,
                loading: false,
                arrMember: [],
                arrCompany: [],
                arrMemberIds: []
            }
        },

        methods: {
            ...mapActions({
                searchByMember: 'messenger/searchMemberChatCallback',
            }),

            searchMember(query) {
                if (!query) return;
                if (this.timer != null) {
                    clearTimeout(this.timer);
                }
                this.loading = true;
                let params = {...this.searchParams};
                params.keywords = query;
                this.timer = setTimeout(() => {
                    this.searchByMember(params)
                        .then((response) => {
                            if (response.success) {
                                this.arrMember = _.cloneDeep(response.data.members.data);
                                this.arrCompany = _.cloneDeep(response.data.client.data);
                            }
                            else {
                                this.arrMember = [];
                                this.arrCompany = [];
                            }
                            this.searchParams.keywords = '';
                        })
                        .catch(() => {
                            this.arrMember = [];
                            this.arrCompany = [];
                        })
                        .finally(() => {
                            this.loading = false;

                        });
                }, 500)
            },
            handleOnEnter() {
                this.$emit('onChatList', this.arrMemberIds)
            },
        }
    }
</script>
<style scoped>
    .cursor {
        cursor: pointer;
    }

    .friend--active {
        background: #384988;
    }

    .c--mark-unread {
        font-weight: 600 !important;
        color: #2C96EC !important;
    }
    .el-select-dropdown__item{
        height: 45px;
        line-height: 40px;
    }
    .c--searchbox-label{
        color: #fff;
    }
</style>
