<template>
  <div class="container">
    <div class="group-content mb-hp">
      <div class="row">
        <div class="col-md-11 col-12 m-auto">
          <div class="row">
            <div class="col-xl-4 col-lg-4">
              <LeftSide :company="profile.company"
                :verify="profile.verify"
                :notify-unread="notifyCountNumber"
                :mess-unread="mesCountNumber"/>
            </div>
            <div class="col-xl-8 col-lg-8">
                <RequiredItem :item="profile"/>
                <SkillRegistration :profile="profile"/>
                <Portfolio v-model="profile.portfolios" :title-field="'content'"/>
                <Career ref="career" :works.sync="profile.works" :educations.sync="profile.educations"/>
                <Certificates v-model="profile.certificates"/>
                <div class="text-center">
                  <el-button type="primary w-100" :loading="loading" @click="onSaveExpert">{{$t('Save')}}</el-button>
                </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</template>

<script>
  import {mapGetters, mapActions, mapState} from 'vuex'
  import axios from 'axios'
  import http from '~/services/request'
  import { getNotificationCount, getMessageCount } from '~/services/messenger';

  export default {
    layout: "custom",
    async asyncData ({req, params, store}) {
      let request = null;
      if (process.server) {
        const host = `http://${req.headers.host}`;
        const instance = axios.create({
          baseURL: `${host}/api/client`,
          timeout: 1000,
          headers: {
            'X-Request-Time': new Date().getTime(),
            'Currency-Code': store.getters.getCurrency,
            'Language-Code': store.getters.getLocale,
            'X-Requested-Env': 'web',
            'Content-Type': 'application/json',
            'Authorization': `Bearer ${store.getters.accessToken}`
          }
        });
        instance.interceptors.response.use(response => response.data, error => {});
        request = instance;
      } else {
        request = http;
      }
      const res = await request.get('/members/detailExpert');
      return {
        profile: res ? res.data : null,
        loading: false,
        messageCountUnread: {},
        notifCountUnread: {},
      }
    },
    components: {
      LeftSide: () => import("~/components/profile/LeftSide"),
      RequiredItem: () => import("~/components/profile/expert/RequiredItem"),
      SkillRegistration: () => import("~/components/profile/expert/SkillRegistration/index"),
      Portfolio: () => import("~/components/profile/expert/Portfolio"),
      Career: () => import("~/components/profile/expert/Carrer/index"),
      Certificates: () => import("~/components/profile/expert/Certificates"),
    },
    data() {
      return {
        baseUnit: { ja: '¥', vi: 'đ', en: '$'},
      }
    },
    computed: {
      ...mapState({
        auth: state => state.auth,
        minPrice: state => state.auth.authUser.user.price_min,
      }),
      ...mapGetters({
        memberType: "members/profile/memberType",
        company: 'getCompany',
        locale: 'getLocale',
      }),
      minAmount() {
        const min = this.minPrice[this.locale];
        return min.replace(/[!¥@#$đ%^&,*]/g, '');
      },
      meId() {
          return this.$store.getters.getUserId;
      },
      companyId() {
          return _.has(this.company, 'company_id') ? this.company.company_id : 0;
      },
      mesCountNumber() {
        return this.messageCountUnread.count > 99 ? 99 : this.messageCountUnread.count;
      },
      notifyCountNumber() {
        return this.notifCountUnread.count > 99 ? 99 : this.notifCountUnread.count;
      },
    },
    methods: {
      ...mapActions({
        saveExpert: 'members/profile/expert/saveExpert',
      }),
      async getNotificationCountUser() {
        const {data} = await getNotificationCount({
          user_id: this.meId,
          company_id: this.companyId
        })
        this.notifCountUnread = data;
      },
      async getMessageCountUser() {
        const {data} = await getMessageCount({})
        this.messageCountUnread =  data;
      },
      checkErrorDateTime() {
        let hasErr = false;
        _.forEach(this.$refs.career.errorDate, (err) => {
          if(err.isError) {
            hasErr = true;
            return;
          }
        });
        return hasErr;
      },
      formatNumber(valueFilter) {
        if(!this.locale || !valueFilter) return;
        const amount = valueFilter.toString().replace(/(\d)(?=(\d{3})+(?:\.\d+)?$)/g, "$1,");
        return this.locale === 'vi'
          ? `${amount}${this.baseUnit[this.locale]}`
          : `${this.baseUnit[this.locale]}${amount}`
      },
      onSaveExpert() {
        if (this.checkErrorDateTime()) return;
        if (parseInt(this.profile.members[`price_${this.locale}`]) < parseInt(this.minAmount)) {
          this.showNotification('', this.$t('AmountLessThan', {amount: this.formatNumber(this.minAmount)}), 'warning');
          return;
        }
        this.loading = true;
        this.profile.members.amount = this.profile.members[`price_${this.locale}`]
        this.saveExpert(this.profile)
          .then((res) => {

            // this.showNotification(this.$t("Success"), this.$t(res.message), 'success');
          })
          .catch(error => {
            this.showNotification(this.$t("Error"), this.$t(error.message), 'error');
          })
          .finally(() => {
            this.loading = false;
          })
      },
    },
    mounted() {
      if (!_.isEmpty(this.auth)) {
        this.getNotificationCountUser();
        this.getMessageCountUser();
      }
    }
  };
</script>

<style scoped>

</style>
