<template>
    <div class="group">
        <div class="group-left">
            <div class="title">{{ $t('ConsultationForm10') }}</div>
            <div class="group-row" v-for="(v, k) in arr" :key="k">
                <div class="checkbox">
                    <input type="radio" :id="k" :value="v.title" v-model="obj">
                    <label :for="k" class="check">{{$t(v.title)}}</label>
                </div>
            </div>
        </div>
        <div class="group-content">
            <div class="rule-grey"></div>
            <div class="group-footer d-flex align-items-center justify-content-between">
                <div class="prev-page">
                    <a href="javascript:;" title="" class="d-block link" @click="previous">
                        <span class="icon"><i class="fas fa-chevron-left"></i></span>
                        <span class="texts">{{ $t('btnReturn')}}</span>
                    </a>
                </div>
                <div class="next-page d-flex">
                    <a href="javascript:;" title="" class="d-block ml-sm-4 ml-0 link active" @click="next">
                        <span class="texts">{{ $t('MoveOn') }}</span>
                        <span class="icon"><i class="fas fa-chevron-right"></i></span>
                    </a>
                </div>
            </div>
        </div>
    </div>
</template>

<script>
    export default {
        props: ['value', 'history'],
        data() {
            return {
                arr: [
                    {title: 'Form10Title1' },
                    {title: 'Form10Title2' },
                    {title: 'Form10Title3' },
                    {title: 'Form10Title4' },
                    {title: 'Form10Title5' },
                ],
                obj: null ,
            }
        },
        watch: {
            obj: {
                handler: function (e) {
                    return this.$emit('input', e)
                },
                immediate: true
            }
        },
        methods: {
            previous() {
                let history = [...this.history]
                history.pop();
                return this.$emit('redirect', history.slice(-1)[0], history)
            },
            next() {
                if (!this.obj) return this.showNotification(this.$t('Error'), this.$t('PleaseChooseACase'), 'error') 
                let history = [...this.history]
                history.push(11)
                return this.$emit('redirect', 11, history)
            }
        },
        mounted() {
            if (this.value) this.obj = this.value
        }
    }
</script>

<style scoped>
</style>
