<template>
    <div>
        <div class="group">
            <div class="group-left form-progress">
                <div class="title-expect">新しいプロジェクトの進捗を教えてください</div>
                <!-- {{ $t('ConsultationForm2') }} -->
                <div class="group-row">
                    <div class="checkbox consultation-radio">
                        <input type="radio" id="form-1" value="1" v-model="obj">
                        <label for="form-1" class="check">ラフなアイデアはあります</label>
                    </div>
                    <div class="checkbox consultation-radio">
                        <input type="radio" id="form-2" value="2" v-model="obj">
                        <label for="form-2" class="check">仕様書やワイヤーフレームはありません</label>
                    </div>
                    <div class="checkbox consultation-radio">
                        <input type="radio" id="form-3" value="3" v-model="obj">
                        <label for="form-3" class="check">仕様書やワイヤーフレームがすでにあります</label>
                    </div>
                </div>
                <!-- <div class="group-row" v-for="v in arr" :key="v.id">
                    <div class="checkbox">
                        <input type="radio" :id="v.id" :value="v" v-model="obj">
                        <label :for="v.id" class="check">{{$t(v.title)}}</label>
                    </div>
                </div> -->
            </div>
        </div>
        <div class="group-content">
            <div class="rule-grey"></div>
            <div class="group-footer d-flex align-items-center justify-content-between">
                <div class="prev-page-consultation">
                    <nuxt-link :to="localePath({'name': 'consultation'})" title="" class="d-block link-new">
                        <span class="icon"><i class="fas fa-chevron-left"></i></span>
                        <span class="texts">戻る</span>
                        <!-- {{ $t('btnReturn') }} -->
                    </nuxt-link>
                </div>
                <div class="next-page-consultation d-flex flex-wrap">
                    <a href="javascript:;" title="" class="d-block btn-consultation btn-move-consultation" @click="next">
                        <span class="texts">スキップ</span>
                    </a>
                    <a href="javascript:;" title="" class="d-block btn-consultation btn-move-consultation active" @click="next">
                        <span class="texts">進む</span>
                        <!-- {{ $t('MoveOn') }} -->
                        <span class="icon"><i class="fas fa-chevron-right"></i></span>
                    </a>
                </div>
            </div>
        </div>
    </div>
</template>

<script>
    export default {
        props: ['value', 'history'],
        data() {
            return {
                arr: [
                    {id: 'tick-2-1', title: 'Form2Tick1'},
                    {id: 'tick-2-2', title: 'Form2Tick2'},
                    {id: 'tick-2-3', title: 'Form2Tick3'},
                ],
                obj: null,
            }
        },
        watch: {
            obj: {
                handler: function (e) {
                    return this.$emit('input', e)
                },
                immediate: true
            }
        },
        methods: {
            previous() {
                let history = [...this.history]
                history.pop();
                return this.$emit('redirect', history.slice(-1)[0], history)
            },
            next() {
                if (!this.obj) return this.showNotification(this.$t('Error'), this.$t('PleaseChooseACase'), 'error') 
                let history = [...this.history]
                history.push(3)
                return this.$emit('redirect', 3, history)
            }
        },
        mounted() {
            if (this.value) this.obj = this.value
        }
    }
</script>

<style scoped>
</style>
