<template>
    <div>
        <div class="group-form-consultation">
            <div class="form-consultation form-expect">
                <div class="title-expect">SPOTECHでどのような事を期待されますか？</div>
                <!-- {{ $t('WhatDoYouExpectFromSpoteach') }} -->
                <div class="group-row">
                    <div class="checkbox consultation-radio">
                        <input type="radio" id="form-1" value="1" v-model="obj">
                        <label for="form-1" class="check">新規事業をゼロからまるっとお願いしたい</label>
                    </div>
                    <div class="checkbox consultation-radio">
                        <input type="radio" id="form-2" value="2" v-model="obj">
                        <label for="form-2" class="check">立ち上げ途中のプロジェクトで人手がほしい</label>
                    </div>
                    <div class="checkbox consultation-radio">
                        <input type="radio" id="form-3" value="3" v-model="obj">
                        <label for="form-3" class="check">すでに運営中のプロジェクトをサポートしてほしい</label>
                    </div>
                </div>
                <!-- <div class="group-row" v-for="v in arr" :key="v.id">
                    
                    <div class="checkbox consultation-radio">
                        <input type="radio" :id="v.id" :value="v" v-model="obj">
                        <label :for="v.id" class="check">{{$t(v.title)}}</label>
                    </div>
                </div> -->
            </div>
        </div>
        <div class="group-content">
            <div class="rule-grey"></div>
            <div class="group-footer d-flex align-items-center justify-content-between">
                <div class="prev-page-consultation">
                    <nuxt-link :to="localePath({'name': 'consultation'})" title="" class="d-block link-new">
                        <span class="icon"><i class="fas fa-chevron-left"></i></span>
                        <span class="texts">戻る</span>
                        <!-- {{ $t('btnReturn') }} -->
                    </nuxt-link>
                </div>
                <div class="next-page-consultation d-flex flex-wrap">
                    <a href="javascript:;" title="" class="d-block btn-consultation btn-move-consultation active" @click="next">
                        <span class="texts">進む</span>
                        <!-- {{ $t('MoveOn') }} -->
                        <span class="icon"><i class="fas fa-chevron-right"></i></span>
                    </a>
                </div>
            </div>
        </div>
    </div>
</template>

<script>
    export default {
        props: ['value', 'history'],
        data() {
            return {
                arr: [
                   
                    {id: 'tick-1-1', title: 'Form1Tick1', step: 2},
                    {id: 'tick-1-2', title: 'Form1Tick2', step: 3},
                    {id: 'tick-1-3', title: 'Form1Tick3', step: 3},
                    {id: 'tick-1-4', title: 'Form1Tick4', step: 3},
                    {id: 'tick-1-5', title: 'Form1Tick5', step: 12},
                ],
                obj: null,
            }
        },
        watch: {
            obj: {
                handler: function (e) {
                    return this.$emit('input', e)
                },
                immediate: true
            }
        },
        methods: {
            next() {
                if (!this.obj) return this.showNotification(this.$t('Error'), this.$t('PleaseChooseACase'), 'error') 
                let history = [...this.history]
                //this.obj.step
                history.push(2)
                return this.$emit('redirect', 2, history)
            }
        },
        mounted() {
            if (this.value) this.obj = this.value
        }
    }
</script>

<style scoped>
</style>
