<template>
    <div class="group survey-ai-form-12">
        <div class="wp-form">
            <div class="group-form">
                <el-form :model="obj" class="form" :rules="rules" ref="survey">
                    <div class="form-group">
                        <label class="lb-title">{{ $t('ConsultationForm11Form12') }}</label>
                    </div>
                    <el-form-item prop="email">
                        <el-input type="email" v-model="obj.email" @focus="clearValidate('email')" class="text-white" id="email" :placeholder="$t('email')"></el-input>
                    </el-form-item>
                    <el-form-item prop="company">
                        <el-input type="text" v-model="obj.company" @focus="clearValidate('company')" class="text-white" id="company" :placeholder="$t('Form11Placeholder1')"></el-input>
                    </el-form-item>
                    <el-form-item prop="name">
                        <el-input type="text" v-model="obj.name" @focus="clearValidate('name')" class="text-white" id="name" :placeholder="$t('Form11Placeholder2')"></el-input>
                    </el-form-item>
                    <el-form-item prop="content">
                        <el-input type="textarea" v-model="obj.content" @focus="clearValidate('content')" style="min-height: 100px" :autosize="{ minRows: 10, maxRows: 4}" :placeholder="$t('Form11Placeholder3')"></el-input>
                    </el-form-item>
                    <div class="form-group">
                        <label class="service">
                            {{$t('web_guide_business_service_subtext1')}}
                            <nuxt-link class="links" style="color: #2C96EC" :to="localePath({name: 'policy-terms_of_service' })" target="_blank">
                            {{ $t("TermsOfService") }}
                            </nuxt-link> 
                            {{$t('web_guide_business_and')}}
                            <nuxt-link class="links" style="color: #2C96EC" :to="localePath({name: 'policy-privacy_policy' })" target="_blank">
                            {{ $t("PrivacyPolicy") }}
                            </nuxt-link>
                            {{$t('web_guide_business_service_subtext2')}}
                        </label>
                    </div>
                </el-form>
            </div>
        </div>

        <div class="group-content mt-5">
            <div class="group-footer d-flex align-items-center">
                <div class="prev-page">
                    <a href="javascript:;" title="" class="d-block link" @click="previous">
                        <span class="icon"><i class="fas fa-chevron-left"></i></span>
                        <span class="texts">{{ $t('btnReturn') }}</span>
                    </a>
                </div>
                <div class="text-center mx-auto">
                    <el-button :loading="loading" @click="onSend($event)" title="" class="filter-top text-white heading-4">
                        <span class="texts">{{ $t('SendConsultationDetails') }}</span>
                    </el-button>
                </div>
            </div>
        </div>
    </div>
</template>

<script>
  const regexJapanCharacter = /[a-zA-Z]|[\u3400-\u9FBF]|[\u3000-\u303F]|[\u3040-\u309F]|[\u30A0-\u30FF]|[\uFF00-\uFFEF]|[\u4E00-\u9FAF]|[\u2605-\u2606]|[\u2190-\u2195]|\u203B/;

    import {mapActions} from "vuex";
    export default {
        props: ['value', 'history', 'anwers'],
        data() {
            return {
                obj: {
                    name: '',
                    email: '',
                    company: '',
                    content: '',
                    answer: {},
                },
                loading:false,
                timeout: null,
                rules: {
                    email: [
                        {
                            required: true,
                            message: this.$t('pleaseInputEmail'),
                            trigger: "blur"
                        },
                        {
                            type: 'email', 
                            message: this.$t('emailInvalid'), 
                            trigger: 'blur'
                        }
                    ],
                    company: [
                        {
                            required: true,
                            message: this.$t('pleaseInputCompany'),
                            trigger: "blur"
                        },
                        { 
                            pattern: regexJapanCharacter,
                            message: this.$t('pleaseInputLowercaseCompany'), 
                            trigger: 'blur' 
                        }
                    ],
                    name: [
                        {
                            required: true,
                            message: this.$t('pleaseInputNameSurvey'),
                            trigger: "blur"
                        },
                        { 
                            pattern: regexJapanCharacter,
                            message: this.$t('pleaseInputLowercaseNameSurvey'), 
                            trigger: 'blur' 
                        }
                    ],
                    content: [
                        {
                            required: true,
                            message: this.$t('pleaseInputContentSurvey'),
                            trigger: "blur"
                        },
                    ],
                },
                updateError: '',
            }
        },
        watch: {
            obj: {
                handler: function (e) {
                    return this.$emit('input', e)
                },
                immediate: true
            }
        },
        methods: {
            ...mapActions({
                addSurveyAi: "survey/addSurveyAi",
            }),
            setParamDefault() {
                _.forEach(this.obj, p => p = '');
            },
            clearValidate(type) {
                return this.$refs.survey.clearValidate(type);
            },
            async onSend($e) {
                $e.preventDefault();
                const validation = await this.$refs.survey.validate();
                if (validation) {
                    this.loading = true;
                    this.addSurveyAi(this.obj)
                    .then(res => {
                        if (res.success) {
                            this.setParamDefault();             
                            this.timeout = setTimeout(() => {
                                let history = [...this.history]
                                history.push(13)
                                return this.$emit('redirect', 13, history)
                            }, 500)  
                        }
                    })
                    .catch(err => {
                        this.updateError = err.message;
                        return;
                    });
                    this.timeout = setTimeout(() => {
                        this.loading = false;
                    }, 3000)
                }
            },
            onFocus() {
                this.updateError = '';
            },
            previous() {
                let history = [...this.history]
                history.pop();
                return this.$emit('redirect', history.slice(-1)[0], history)
            },
            setDefault() {
                this.obj.answer.question1 = this.anwers.form1;
            }
        },
        mounted(){
            this.setDefault();
            if (this.value) this.obj = this.value
        }
    }
</script>

<style scoped>
    .el-button {
        background: #77d353;
        border-color: #77d353;
        font-weight: 500;
    }
    .el-button:hover{
        background: inherit;
        border-color: initial;
    }
    .mt-5, .my-5 {
        margin-top: 1rem !important;
    }
</style>
<style>
    .survey-ai-form-12 .el-input__inner, .el-textarea__inner
    {
        background: transparent !important;
        height: 50px;
        border-radius: 10px !important;
        color: #fff !important;
    }
</style>
