<template>
  <div class="group">
    <div class="group-page-total">
      <div class="container">
        <div class="row">
          <div class="col-12">
            <div class="content-page-total d-flex align-items-center">
              <div class="wp-page text-center m-auto">
                <h1 class="logo mb-1">
                  <nuxt-link :to="localePath({ name: 'index' })" class="d-block">
                    <img src="~/assets/images/icon/logo-spotech.png" alt="Spotech" class="img-fluid" />
                  </nuxt-link>
                </h1>
                <div class="title mb-1">{{ $t('NoHassleOrCost') }}</div>
                <div class="description mb-1">{{ $t('SpoteachAutomatically') }}</div>
                <ul class="group-step">
                  <li>
                    <div class="item-step">{{ $t('EnterYourProblemsRequests') }}</div>
                    <div class="icon-down mt-2"> <img  src="~/assets/images/icon/down.png" alt="" class="img-fluid" /></div>
                  </li>
                  <li>
                    <div class="item-step">{{ $t('ProjectProposalAfterAIScreening') }}</div>
                    <div class="icon-down mt-2"> <img  src="~/assets/images/icon/down.png" alt="" class="img-fluid" /></div>
                  </li>
                  <li>
                    <div class="item-step">{{ $t('CallForPrivateProjects') }}</div>
                    <div class="icon-down mt-2"> <img  src="~/assets/images/icon/down.png" alt="" class="img-fluid" /></div>
                  </li>
                  <li>
                    <div class="item-step">{{ $t('ProposeTheExpertsYouWant') }}</div>
                    <div class="icon-down mt-2"> <img  src="~/assets/images/icon/down.png" alt="" class="img-fluid" /></div>
                  </li>
                  <li>
                    <div class="item-step bg-red">
                      <nuxt-link :to="localePath({'name': 'index'})" class="text-link d-block text-white">
                        <span class="text-center pr-4">{{ $t('btnReturnStartConAI') }}</span>
                      </nuxt-link>
                    </div>
                  </li>
                </ul>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</template>

<script>
export default {
  props: ['value', 'history'],
}
</script>
<style scoped>
  .content-page-total .wp-page .group-step > li::before{
    bottom: -36px !important;
  }
</style>
