<template>
    <div>
        <div class="group">
            <div class="group-left form-talent">
                <div class="title-expect"> どの職種のグローバル人材をお探しですか？
                    <!-- {{ $t('ConsultationForm3In1') }} -->
                </div>
                <div class="group-row">
                    <div class="checkbox consultation-checkbox">
                        <input type="checkbox" id="form-1" value="1" v-model="obj">
                        <label for="form-1" class="check square">
                            エンジニア
                            <!-- {{$t(v.title)}} -->
                            <div class="desc-color pl-35 color-consultation">WEBエンジニア, データサイエンティスト, iOSエンジニア, ブリッジSE等</div>
                            <!-- {{$t(v.content)}} -->
                        </label>
                    </div>
                    <div class="checkbox consultation-checkbox">
                        <input type="checkbox" id="form-2" value="2" v-model="obj">
                        <label for="form-2" class="check square">
                            デザイナー
                            <div class="desc-color pl-35 color-consultation">UI/UX, ロゴ, グラフィック, ウェブ, スマホ, ブランディングデザイナー等</div>
                        </label>
                    </div>
                    <div class="checkbox consultation-checkbox">
                        <input type="checkbox" id="form-3" value="3" v-model="obj">
                        <label for="form-3" class="check square">
                            マーケター
                            <div class="desc-color pl-35 color-consultation">スクラムマスター, プロダクトオーナー, ビジネスアナリスト等</div>
                        </label>
                    </div>
                    <div class="checkbox consultation-checkbox">
                        <input type="checkbox" id="form-4" value="4" v-model="obj">
                        <label for="form-4" class="check square">
                            プロマネ
                            <div class="desc-color pl-35 color-consultation">スクラムマスター, プロダクトオーナー, ビジネスアナリスト等</div>
                        </label>
                    </div>
                    <div class="checkbox consultation-checkbox">
                        <input type="checkbox" id="form-5" value="5" v-model="obj">
                        <label for="form-5" class="check square">
                            ビジネス
                            <div class="desc-color pl-35 color-consultation">コンサルタント, セールス, 経営企画, 財務アドバイザー, 事業開発等</div>
                        </label>
                    </div>
                </div>
                <!-- <div class="group-row" v-for="(v, k) in arr" :key="k">
                    <div class="checkbox">
                        <input type="checkbox" :id="k" :value="v" v-model="obj">
                        <label :for="k" class="check square">
                            {{$t(v.title)}}
                            <div class="desc-color pl-35 color-lightgrey"> {{$t(v.content)}}</div>
                        </label>
                    </div>
                </div> -->
            </div>
        </div>
        <div class="group-content">
            <div class="rule-grey"></div>
            <div class="group-footer d-flex align-items-center justify-content-between">
                <div class="prev-page-consultation">
                    <nuxt-link :to="localePath({'name': 'consultation'})" title="" class="d-block link-new">
                        <span class="icon"><i class="fas fa-chevron-left"></i></span>
                        <span class="texts">戻る</span>
                        <!-- {{ $t('btnReturn') }} -->
                    </nuxt-link>
                </div>
                <div class="next-page-consultation d-flex flex-wrap">
                    <a href="javascript:;" title="" class="d-block btn-consultation btn-move-consultation" @click="next">
                        <span class="texts">スキップ</span>
                    </a>
                    <a href="javascript:;" title="" class="d-block btn-consultation btn-move-consultation active" @click="next">
                        <span class="texts">進む</span>
                        <!-- {{ $t('MoveOn') }} -->
                        <span class="icon"><i class="fas fa-chevron-right"></i></span>
                    </a>
                </div>
            </div>
        </div>
    </div>
</template>

<script>
    export default {
        props: ['value', 'history'],
        data() {
            return {
                arr: [
                    {title: 'Form3Title1', content: 'Form3Content1', step: 4},
                    {title: 'Form3Title2', content: 'Form3Content2', step: 5},
                    {title: 'Form3Title3', content: 'Form3Content3', step: 6},
                    {title: 'Form3Title4', content: 'Form3Content4', step: 7},
                    {title: 'Form3Title5', content: 'Form3Content5', step: 8},
                ],
                obj: [],
            }
        },
        watch: {
            obj: {
                handler: function (e) {
                    return this.$emit('input', e)
                },
                immediate: true
            }
        },
        computed:{
            sortedArray: function() {
                function compare(a, b) {
                    return a-b
                }
            }
        },
        methods: {
            previous() {
                let history = [...this.history]
                history.pop();
                return this.$emit('redirect', history.slice(-1)[0], history)
            },
            // next() {
            //     if (!this.obj[0]) return this.showNotification(this.$t('Error'), this.$t('PleaseChooseACase'), 'error') 
            //     let history = [...this.history];
            //     this.obj.sort((a, b) => a.step - b.step);
            //     let steps = this.obj.map(i => i.step);
            //     let first = steps.shift();
            //     history.push(first)
            //     return this.$emit('redirect', first, history, steps);
            // }
            
            next() {
                if (!this.obj) return this.showNotification(this.$t('Error'), this.$t('PleaseChooseACase'), 'error') 
                let history = [...this.history]
                history.push(4)
                return this.$emit('redirect', 4, history)
            }
        },
        mounted() {
            if (this.value) this.obj = this.value
        }
    }
</script>

<style scoped>
</style>
