<template>
    <div>
        <div class="group form-skills">
            <!-- $t('SkillRequired') -->
          <SkillRequired v-model="obj" :lable="'エンジニアに求める主なスキルはありますか？'" :placeholder=" $t('Form4Placeholder')"/>
          <!-- <SkillRequired v-model="obj" :lable="$t('SkillRequired')" :placeholder=" $t('Form4Placeholder')"/> -->

        </div>
        <!-- <MultiPani :history="history" :step="step" :obj="obj" :value="value" :willNext="willNext" @redirect="redirect"/> -->
        <div class="group-content">
            <div class="rule-grey"></div>
            <div class="group-footer d-flex align-items-center justify-content-between">
                <div class="prev-page-consultation">
                    <nuxt-link :to="localePath({'name': 'consultation'})" title="" class="d-block link-new">
                        <span class="icon"><i class="fas fa-chevron-left"></i></span>
                        <span class="texts">戻る</span>
                        <!-- {{ $t('btnReturn') }} -->
                    </nuxt-link>
                </div>
                <div class="next-page-consultation d-flex flex-wrap">
                    <a href="javascript:;" title="" class="d-block btn-consultation btn-move-consultation" @click="next">
                        <span class="texts">スキップ</span>
                    </a>
                    <a href="javascript:;" title="" class="d-block btn-consultation btn-move-consultation active" @click="next">
                        <span class="texts">進む</span>
                        <!-- {{ $t('MoveOn') }} -->
                        <span class="icon"><i class="fas fa-chevron-right"></i></span>
                    </a>
                </div>
            </div>
        </div>
    </div>
</template>

<script>
    export default {
        props: ['value', 'history', 'willNext', 'step'],
        components: {
            SkillRequired: () => import('./SkillRequired'),
            MultiPani: () => import('./multiPani'),
        },
        data() {
            return {
                obj: {
                    id: 'tick-4-1',
                    data: [],
                    number: 1
                },
            }
        },
        watch: {
            obj: {
                handler: function (e) {
                  return this.$emit('input', e)
                }
            }
        },
        methods: {
            redirect(first, history, willNext) {        
                return this.$emit('redirect', first, history, willNext)
            },
        },
        created() {
          if (this.value) {
            this.obj = this.value;
          }
        }
    }
</script>

<style scoped>

</style>
