<template>
    <div class="group-left" v-if="object">
        <div class="group-row">
            <label class="w-100 title-expect title-skills ">{{ lable }}</label>   
            <el-select 
                v-model="select" 
                ref="selquery"
                class="w-100 el-input-bg-transparent "
                multiple
                filterable 
                remote 
                reserve-keyword 
                :placeholder="placeholder"
                :remote-method="remoteMethod"
                :loading="loading"
                @change="onSelect"
                @keyup.enter.native="handleInputConfirm"
                :trigger-on-focus="false">
                    <el-option v-for="item in skill" :key="item.id" :label="item.name" :value="item.name">{{item.name}}</el-option>
            </el-select>
        </div>
        <div class="group-row">
            <div class="group-tag-skills">
                <div class="list-tag-skills">
                    <div class="item" v-for="(i, k) in object.data" :key="k">
                        <a href="javascript:;" title="" class="tag-link">
                            <span class="text pr-4">{{i}}</span>
                            <span class="icon" @click="remove(k)"><img src="~assets/images/icon/add.png" alt=""></span>
                        </a>
                    </div>
                </div>
            </div>
        </div>
        <div class="group-row">
            <div class="d-flex justify-content-between prd-buy">
                <span class="label title"> {{ $t('NumberOfEngineersToRecruit') }} </span>
                <div class="wrap-quantity">
                    <span class="btn" @click="object.number--"><i class="mdi mdi-minus"></i></span>
                    <input type="text" v-model="object.number"
                           class="uk-width-1-1 input-text text-center quantity">
                    <span class="btn" @click="object.number++"><i class="mdi mdi-plus"></i></span>
                </div>
            </div>
        </div>
    </div>
</template>

<script>
    import { mapState, mapActions } from "vuex";
    import eventbus from '~/services/bus';
    export default {
        props: ['value', 'placeholder', 'lable'],
        data() {
            return {
                object: {
                    id: null,
                    data: [],
                    number: 0
                },
                loading: false,
                skill: [],
                select: [],
            }
        },
        watch: {
            object: {
                handler: function (e) {
                    return this.$emit('input', e)
                },
                immediate: true,
                deep: true,
            }
        },
        methods: {
            ...mapActions({  
                searchSkill: "resource/searchSkill",
            }),
            onSelect() {
                if (this.select) {
                    for (let i = 0; i < this.select.length; i++) {
                        const e = this.select[i];
                        if (!this.object.data.length) {
                            this.object.data.push(e)
                            this.$refs.selquery.query = '';
                            this.skill = '';
                        }else{
                            for (let k = 0; k < this.object.data.length; k++) {
                                const f = this.object.data.find(n => n === e);
                                if (!f) {
                                    this.object.data.push(e)
                                    this.$refs.selquery.query = '';
                                    this.skill = '';
                                }
                            }
                        }
                    }
                    this.select = [];
                }
            },
            handleInputConfirm() {
                if (this.$refs.selquery.query) {
                    this.object.data.push(this.$refs.selquery.query);
                    this.$refs.selquery.query = '';
                }
            },
            remove(index){
                this.object.data.splice(index, 1);
            },
            remoteMethod(query) {
                if (!query) return this.skill = [];
                this.loading = true;
                setTimeout(() => {
                    this.searchSkill({
                        name: query,
                        order: "DESC",
                        pageIndex: 1,
                        pageSize: 10
                    })
                    .then(res => {
                        this.loading = false;
                        this.skill = res.data;
                    })
                    .catch(err => {
                        this.$error(err.message);
                    });
                }, 200);
            },
        },
        mounted() {
            this.object  = this.value;
        }
    }
</script>

<style scoped>
    .group-left {
        padding-top: 0px !important
    }
    .wrap-quantity .quantity {
        color: #fff !important;
    }
</style>
<style>
    .group-left .el-input-bg-transparent .el-select__input {
        color: #fff;
    }
    .group-left .el-input-bg-transparent .el-tag {
        display: none !important;
    }
</style>
