<template>
  <div class="group-drop-menu-element" :class="{'group-drop-menu--item': onHover}">
    <div class="upper-header-fixed">
      <a href="javascript:;" @click="onClose" class="d-block color-black font-16">
        <i class="fas fa-times"></i>
      </a>
    </div>
    <div class="d-flex justify-content-between align-items-center head-drop">
      <div class="title">
        <a href="javascript:;" title class="color-black">{{ $t('webRecently') }}</a>
      </div>
      <div class="title">
        <a
          href="javascript:;"
          title
          class="color-lightblue"
          @click="markAsReadAll"
        >{{ $t('webMarkReadAll') }}</a>
      </div>
    </div>
    <div class="list-item-info">
      <div class="list-item-info-wrapper" v-loading="loading">
        <div v-for="(notification, n) in notifications.items"
          :key="`notification-item-${n}`">
          <NotificationElement :elem="notification" />
        </div>
      </div>
      <div class="item text-center">
        <nuxt-link
          :to="localePath({name:'notifications'})"
          :href="localePath({name:'notifications'})"
          title
          class="d-block btn-view"
        >{{ $t('webSeeAllNotification') }}</nuxt-link>
      </div>
    </div>
  </div>
</template>

<script>
import { mapState, mapActions } from "vuex";

export default {
  name: "MessengerListHeaderNotification",
  components: {
    NotificationElement: () => import('~/components/notification/share/NotifyElement')
  },
  data() {
    return {
      notifications: [],
      loading: false,
      onHover: true
    };
  },
  computed: {
    meId() {
        return this.$store.getters.getUserId;
    },
    company() {
        return this.$store.getters.getCompany;
    },
    companyId() {
        return _.has(this.company, 'company_id') ? this.company.company_id : 0;
    }
  },
  mounted() {
    //this.getListNotification();
    this.onHover = true;
  },
  methods: {
    ...mapActions({
      searchNotificationByUser: "messenger/searchNotificationByUser",
      markAsRead: "messenger/markAsReadAllNotification"
    }),
    onClose() {
      this.$emit('closeModal');
      this.onHover = false;
    },
    getAvatar(notification) {
      return "";
    },
    getListNotification() {
      if (this.meId > 0) {
        this.loading = true;
        let params = { user_id: this.meId, company_id: this.companyId };

        this.searchNotificationByUser(params)
          .then(response => {
            if (response != null && response.data != null) {
              this.notifications = response.data;
            }
          })
          .finally(() => {
            this.loading = false;
          });
      }
    },
    markAsReadAll() {
      let params = { company_id: this.companyId };
      this.markAsRead( params )
      .then( () => {
          let len = this.notifications && this.notifications.items && this.notifications.items.length > 0 ? this.notifications.items.length : 0;
          if( len > 0 ) {
              let now = new Date();
              for(let i = 0; i < len; i++) {
                  this.notifications.items[i].readAt = now;
              }
          }
      }).finally( () => {

      });
    }
  }
};
</script>
<style scoped>
.c--mark-unread {
  font-weight: 500 !important;
  color: #2c96ec !important;
}
.list-item-info-wrapper::-webkit-scrollbar {
  width: 0;
  display: none;
}
.list-item-info-wrapper{
    max-height: 400px;
    overflow: auto;
}
</style>
