<template>
    <tbody>
        <tr>
            <td class="name-project">{{ targetCode }}</td>
            <td class="customer-name">{{ targetName }}</td>
            <td class="content-project">
                <a v-if="isClient" v-loading="loading || uploading" @click="onUpload" :disabled="accepted > 0" class="btn" :class="{'active': !accepted}" href="javascript:;">{{ $t('ToEdit') }}</a>
                <Upload v-if="isClient && isUpload" @startUploading="uploading=true" @endUploading="uploading=false" @onSuccess="onUploadSuccess" @onError="onUploadError" :mime="mime"/>
                <a v-if="!isClient" v-loading="loading" class="btn" :class="{'active': !accepted && nda}" href="javascript:;" @click="accept" :disabled="!accepted || !nda">{{ $t('Accept') }}</a>
            </td>
            <td class="download">
                <a :disabled="!nda" target="_blank" :href="downLoadUrl"><i class="fas fa-file-download"></i></a>
            </td>
        </tr>
    </tbody>
</template>
<script>
export default {
    name:'NdaRow',
    components: {
        Upload: () => import('~/components/accountSetting/share/nda/upload')
    },
    props:{
        elem:{
            type:Object,
            default: null
        },
        mime:{
            type:String,
            default: "*"
        }
    },
    data() {
        return {
            loading: false,
            isUpload: false,
            uploading: false,
            uploadPath: null,
            uploadUrl: null,
        }
    },
    computed:{
        meId() {
            return this.$store.getters.getUserId;
        },
        company() {
            return this.$store.getters.getCompany;
        },
        companyId() {
            return _.has(this.company, 'company_id') ? this.company.company_id : 0;
        },
        isClient() {
            return this.companyId;
        },
        item() {
            return this.elem ? this.elem : null
        },
        itemId() {
            return this.item ? this.item.id : 0
        },
        itemCompanyId() {
            return this.item ? this.item.company_id : 0
        },
        itemMemberId() {
            return this.item ? this.item.member_id : 0
        },
        
        target() {
            return this.item ? this.item.target : null
        },
        targetId() {
            return this.target ? this.target.id : 0
        },
        targetCode() {
            return this.itemId > 0 ? ['SPO',this.itemId].join('') : '' 
        },
        targetName() {
            return this.target ? this.target.title : '' 
        },
        contract() {
            return this.item ? this.item.contract : null
        },
        nda() {
            return this.item ? this.item.nda : null
        },
        ndaId() {
            return this.nda ? this.nda.id : 0
        },
        accepted() {
            return this.nda ? this.nda.accept : 0
        },
        downLoadUrl() {
            return this.nda ? (this.uploadUrl || this.nda.url) : 'javascript:;'
        },
        actionParams() {
            return this.isClient ? {
                bid: this.itemId,
                company_id: this.itemCompanyId,
                member_id: this.itemMemberId,
                path: this.uploadPath
            } : {
                id: this.ndaId
            };
        }
    },
    methods:{
        onUpload() {
            this.isUpload = true;
        },
        onUploadSuccess(res) {
            this.isUpload = false;
            if( res.data && res.data[0] && res.data[0].path ) {
                this.uploadPath = res.data[0].path;
                this.uploadUrl  = res.data[0].url;
                this.store();
            }
        },
        onUploadError(error) {
            this.isUpload = false;
        },
        accept() {
            if( this.accepted ) {
                this.showNotification(this.$t('Error'), this.$t('dna_accepted') , 'error');
                return;
            }
            this.loading = true;
            this.$store.dispatch('contract/acceptNda', this.actionParams )
            .then( ( res ) => {
                if( res.success ) {
                    this.showNotification(this.$t('Success'), this.$t('Success') , 'success');
                    this.$emit('reload')
                }
                else{
                    this.showNotification(this.$t('Error'), res.message , 'error');
                }
            })
            .catch( (err ) => {
                this.showNotification(this.$t('Error'), err.message , 'error');
            } )
            .finally( () => {
                this.loading = false;
            })
        },
        store() {
            if( this.accepted ) {
                this.showNotification(this.$t('Error'), this.$t('dna_accepted') , 'error');
                return;
            }
            this.loading = true;
            this.$store.dispatch('contract/storeNda', this.actionParams )
            .then( ( res ) => {
                if( res.success ) {
                    this.showNotification(this.$t('Success'), this.$t('Success') , 'success');
                    this.$emit('reload')
                }
                else{
                    this.showNotification(this.$t('Error'), res.message , 'error');
                
                }
            })
            .catch( (err ) => {
                this.showNotification(this.$t('Error'), err.message , 'error');
            } )
            .finally( () => {
                this.loading = false;
                this.uploading = false;
            })
        },
        
    }
}
</script>