<template>
    <input type="file"
    ref="files"
    :accept="mime"
    @change="onFileChange($event.target.name, $event.target.files)" style="display:none">
</template>
<script>
import { uploadFile } from '~/services/media';
export default {
    name: 'Upload',
    props:{
        mime: {
            type: String,
            default: '*'
        }
    },
    mounted() {
        this.$refs.files.click()
    },
    methods:{
        onFileChange(fieldName, files) {
            var data = new FormData();
            let me = this;
            data.append('files', files[0]);
            me.$emit('startUploading');
            uploadFile(data).then((response) => {
                if( response.success ) {
                    me.$emit('onSuccess', response);
                }
                else
                {
                    me.$emit('onError', response);
                }
            })
            .catch((error) => {
                me.$emit('onError', error);
            })
            .finally( () => {
                me.$emit('endUploading');
            });
        }
    }
}
</script>