<template>
  <div>
    <div class="pb-120">
      <div class="wp-banner cl-white">
        <div class="img-thumb">
          <a href="javascript:;" title class="image">
            <img
              src="~/assets/images/upload/banner-a115.png"
              alt
              class="img-fluid img-cover"
            />
          </a>
        </div>
        <div class="overlay"></div>
        <div class="content-banner left">
          <div class="title head text-white">
            {{ $t("web_guide_business_banner_title") }}
          </div>
          <div class="intro text-white">
            {{ $t("web_guide_business_banner_desc") }}
          </div>
          <div class="search-banner mt-3">
            <RegistrationEmailGuideBussines />
          </div>
        </div>
      </div>
    </div>

    <div class="wp-complete-job">
      <div class="container">
        <div class="row">
          <div class="col-xl-10 col-lg-10 col-12 m-auto">
            <div class="group-complete-job">
              <header class="panel-head-general text-center">
                <div class="rule-head mx-auto"></div>
                <h3 class="title-big">{{ $t("web_guide_business_title1") }}</h3>
              </header>
              <section class="panel-body">
                <ul class="list-complete-job row">
                  <li class="col-lg-4 col-md-4 col-sm-6 col-12">
                    <div class="item-complete-job item-general text-center">
                      <div class="img-thumb mb-4">
                        <img
                          src="~/assets/images/upload/img-complete-1.png"
                          alt
                          class="img-fluid img-cover"
                        />
                      </div>
                      <div class="name-title text-center">
                        <a href="javascript:;" title class="title d-block">{{
                          $t("web_guide_business_title1_box_1")
                        }}</a>
                      </div>
                    </div>
                  </li>

                  <li class="col-lg-4 col-md-4 col-sm-6 col-12">
                    <div class="item-complete-job item-general text-center">
                      <div class="img-thumb mb-4">
                        <img
                          src="~/assets/images/upload/img-complete-2.png"
                          alt
                          class="img-fluid img-cover"
                        />
                      </div>
                      <div class="name-title text-center">
                        <a href="javascript:;" title class="title d-block">{{
                          $t("web_guide_business_title1_box_2")
                        }}</a>
                      </div>
                    </div>
                  </li>

                  <li class="col-lg-4 col-md-4 col-sm-6 col-12">
                    <div class="item-complete-job item-general text-center">
                      <div class="img-thumb mb-4">
                        <img
                          src="~/assets/images/upload/img-complete-3.png"
                          alt
                          class="img-fluid img-cover"
                        />
                      </div>
                      <div class="name-title text-center">
                        <a href="javascript:;" title class="title d-block">{{
                          $t("web_guide_business_title1_box_3")
                        }}</a>
                      </div>
                    </div>
                  </li>
                </ul>
              </section>
            </div>
          </div>
        </div>
      </div>
    </div>

    <div class="wp-direction pb-120 pb-0">
      <div class="container-fluid">
        <ul class="list-item">
          <li>
            <div class="item clearfix">
              <div class="img-thumb">
                <div class="image">
                  <img
                    src="~/assets/images/upload/a115-1.png"
                    alt
                    class="img-fluid img-cover"
                  />
                </div>
              </div>
              <div class="info">
                <div class="wrapp">
                  <div class="group-info">
                    <div class="title">
                      {{ $t("web_guide_business_title2") }}
                    </div>
                    <div class="intro">
                      <ul class="list-item-small">
                        <li class="d-flex">
                          <div class="icon">
                            <i class="fas fa-check"></i>
                          </div>
                          <div class="texts">
                            {{ $t("web_guide_business_title2_item_1") }}
                          </div>
                        </li>
                        <li class="d-flex">
                          <div class="icon">
                            <i class="fas fa-check"></i>
                          </div>
                          <div class="texts">
                            {{ $t("web_guide_business_title2_item_2") }}
                          </div>
                        </li>
                        <li class="d-flex">
                          <div class="icon">
                            <i class="fas fa-check"></i>
                          </div>
                          <div class="texts">
                            {{ $t("web_guide_business_title2_item_3") }}
                          </div>
                        </li>
                        <li class="d-flex">
                          <div class="icon">
                            <i class="fas fa-check"></i>
                          </div>
                          <div class="texts">
                            {{ $t("web_guide_business_title2_item_4") }}
                          </div>
                        </li>
                      </ul>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </li>
          <li>
            <div class="item clearfix">
              <div class="img-thumb">
                <div class="image">
                  <img
                    src="~/assets/images/upload/a115-2.png"
                    alt
                    class="img-fluid img-cover"
                  />
                </div>
              </div>
              <div class="info">
                <div class="wrapp">
                  <div class="group-info">
                    <div class="title">
                      {{ $t("web_guide_business_title3") }}
                    </div>
                    <div class="intro">
                      <div class="description">
                        {{ $t("web_guide_business_title3_item_1") }}
                      </div>
                      <div class="description">
                        {{ $t("web_guide_business_title3_item_2") }}
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </li>
          <li>
            <div class="item clearfix">
              <div class="img-thumb">
                <div class="image">
                  <img
                    src="~/assets/images/upload/a115-3.png"
                    alt
                    class="img-fluid img-cover"
                  />
                </div>
              </div>
              <div class="info">
                <div class="wrapp">
                  <div class="group-info">
                    <div class="title">
                      {{ $t("web_guide_business_title4") }}
                    </div>
                    <div class="intro">
                      <div class="description">
                        {{ $t("web_guide_business_title4_item_1") }}
                      </div>
                      <div class="description">
                        {{ $t("web_guide_business_title4_item_2") }}
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </li>
        </ul>
      </div>
    </div>

    <div class="pb-120">
      <div class="group-upper-direction">
        <div class="container">
          <div class="row">
            <div class="col-md-6 col-12">
              <div class="description">
                <div class="title">{{ $t("web_guide_business_title5") }}</div>
                <div class="intro">
                  {{ $t("web_guide_business_title5_item_1") }}
                </div>
              </div>
            </div>
            <div class="col-md-6 col-12">
              <div class="description">
                <div class="title">{{ $t("web_guide_business_title6") }}</div>
                <div class="intro">
                  {{ $t("web_guide_business_title6_item_1") }}
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>

    <div class="wp-form pb-120">
      <div class="container">
        <div class="row">
          <div class="col-lg-7 col-md-12 col-12">
            <SurveyGuideBussines />
          </div>
          <div class="col-lg-4 col-md-12 col-12 offset-1 d-lg-block d-none">
            <div class="box-right top sticky-top h-100 bg-white p-5 b-radius-10">
              <div class="group-partners text-center">
                <div class="title">{{ $t("ImplementationResults") }}</div>
                <div class="list-partners">
                  <div class="item">
                    <img src="~assets/images/upload/Image-1.png" alt="" class="img-fluid"/>
                  </div>
                  <div class="item">
                    <img src="~assets/images/upload/Image-2.png" alt="" class="img-fluid" />
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</template>

<script>
export default {
  layout: "landingpage",
  components: {
    SurveyGuideBussines: () => import("~/components/guide/surveyBussinesBot"),
    RegistrationEmailGuideBussines: () =>
      import("~/components/guide/registrationEmailGuideBussines")
  }
};
</script>
