<template>
  <div>
    <div class="pb-120">
      <div class="wp-banner banner-a">
        <div class="img-thumb">
          <a href="javascript:;" title class="image">
            <img src="~/assets/images/upload/banner-a111.png" alt class="img-fluid img-cover" />
          </a>
        </div>
        <div class="overlay overlay-bg-white"></div>
        <div class="content-banner right">
          <div class="title head">{{$t('web_guide_client_what_is_client')}}</div>
          <div class="intro">{{$t('web_guide_client_description')}}</div>
        </div>
      </div>
    </div>

    <div class="container">
      <div class="row">
        <div class="col-xl-10 col-lg-10 col-12 m-auto">
          <div class="wp-recruit-personnel order-1 pb-120">
            <div class="recruit-personnel">
              <header class="panel-head-general text-center">
                <div class="rule-head mx-auto"></div>
                <h3 class="title-big">{{$t('web_guide_client_title_1')}}</h3>
              </header>
              <section class="panel-body">
                <ul class="list-recruit row">
                  <li class="col-lg-4 col-md-4 col-sm-12 col-12 mb-md-0 mb-3">
                    <div class="item-recruit item-general">
                      <div class="number">1</div>
                      <div class="name-title">
                        <a href title class="title d-block">{{$t('web_guide_client_title1_box_1')}}</a>
                      </div>
                      <div class="description">{{$t('web_guide_client_description1_box_1')}}</div>
                    </div>
                  </li>

                  <li class="col-lg-4 col-md-4 col-sm-12 col-12 mb-md-0 mb-3">
                    <div class="item-recruit item-general">
                      <div class="number">2</div>
                      <div class="name-title">
                        <a
                          href="javascript:;"
                          title
                          class="title d-block"
                        >{{$t('web_guide_client_title1_box_2')}}</a>
                      </div>
                      <div class="description">{{$t('web_guide_client_description1_box_2')}}</div>
                    </div>
                  </li>

                  <li class="col-lg-4 col-md-4 col-sm-12 col-12 mb-md-0 mb-3">
                    <div class="item-recruit item-general">
                      <div class="number">3</div>
                      <div class="name-title">
                        <a
                          href="javascript:;"
                          title
                          class="title d-block"
                        >{{$t('web_guide_client_title1_box_3')}}</a>
                      </div>
                      <div class="description">{{$t('web_guide_client_description1_box_3')}}</div>
                    </div>
                  </li>
                </ul>
              </section>
            </div>
          </div>

          <div class="wp-recruit-personnel order-1 pb-120">
            <div class="recruit-personnel">
              <header class="panel-head-general text-center">
                <div class="rule-head mx-auto"></div>
                <h3 class="title-big">{{$t('web_guide_client_title_2')}}</h3>
              </header>
              <section class="panel-body">
                <ul class="list-recruit row">
                  <li class="col-lg-4 col-md-4 col-sm-12 col-12 mb-md-0 mb-3">
                    <div class="item-recruit item-general">
                      <div class="name-title">
                        <a href title class="title d-block">{{$t('web_guide_client_title2_box_1')}}</a>
                      </div>
                      <div class="description">{{$t('web_guide_client_description2_box_1')}}</div>
                    </div>
                  </li>

                  <li class="col-lg-4 col-md-4 col-sm-12 col-12 mb-md-0 mb-3">
                    <div class="item-recruit item-general">
                      <div class="name-title">
                        <a href title class="title d-block">{{$t('web_guide_client_title2_box_2')}}</a>
                      </div>
                      <div class="description">{{$t('web_guide_client_description2_box_2')}}</div>
                    </div>
                  </li>

                  <li class="col-lg-4 col-md-4 col-sm-12 col-12 mb-md-0 mb-3">
                    <div class="item-recruit item-general">
                      <div class="name-title">
                        <a href title class="title d-block">{{$t('web_guide_client_title2_box_3')}}</a>
                      </div>
                      <div class="description">{{$t('web_guide_client_description2_box_3')}}</div>
                    </div>
                  </li>
                </ul>
              </section>
            </div>
          </div>

          <div class="wp-recruit-personnel order-1 pb-120">
            <div class="recruit-personnel">
              <header class="panel-head-general text-center">
                <div class="rule-head mx-auto"></div>
                <h3 class="title-big">{{$t('web_guide_client_title_3')}}</h3>
              </header>
              <section class="panel-body">
                <ul class="list-recruit row">
                  <li class="col-lg-4 col-md-4 col-sm-12 col-12 mb-md-0 mb-3">
                    <div class="item-recruit item-general">
                      <div class="name-title">
                        <a href title class="title d-block">{{$t('web_guide_client_title3_box_1')}}</a>
                      </div>
                      <div class="description">{{$t('web_guide_client_description3_box_1')}}</div>
                    </div>
                  </li>

                  <li class="col-lg-4 col-md-4 col-sm-12 col-12 mb-md-0 mb-3">
                    <div class="item-recruit item-general">
                      <div class="name-title">
                        <a href title class="title d-block">{{$t('web_guide_client_title3_box_2')}}</a>
                      </div>
                      <div class="description">{{$t('web_guide_client_description3_box_2')}}</div>
                    </div>
                  </li>

                  <li class="col-lg-4 col-md-4 col-sm-12 col-12 mb-md-0 mb-3">
                    <div class="item-recruit item-general">
                      <div class="name-title">
                        <a href title class="title d-block">{{$t('web_guide_client_title3_box_3')}}</a>
                      </div>
                      <div class="description">{{$t('web_guide_client_description3_box_3')}}</div>
                    </div>
                  </li>
                </ul>
              </section>
            </div>
          </div>

          <div class="wp-list-costs pb-120">
            <div class="row">
              <div class="col-12">
                <header class="panel-head-general text-center">
                  <div class="rule-head mx-auto"></div>
                  <h3 class="title-big">{{$t('web_guide_client_title_4')}}</h3>
                </header>
                <section class="panel-body-list-costs">
                  <ul class="list-costs">
                    <li>
                      <div class="item-costs d-flex">
                        <div class="left-costs mr-auto">{{$t('web_guide_client_consultation')}}</div>
                        <div class="right-costs">{{$t('web_guide_client_free')}}</div>
                      </div>
                    </li>
                    <li>
                      <div class="item-costs d-flex">
                        <div class="left-costs mr-auto">{{$t('web_guide_client_post_project')}}</div>
                        <div class="right-costs">{{$t('web_guide_client_free')}}</div>
                      </div>
                    </li>
                    <li>
                      <div class="item-costs d-flex">
                        <div class="left-costs mr-auto">{{$t('web_guide_client_bidding')}}</div>
                        <div class="right-costs">{{$t('web_guide_client_free')}}</div>
                      </div>
                    </li>
                    <li>
                      <div class="item-costs d-flex">
                        <div class="left-costs mr-auto">{{$t('web_guide_client_cancel_project')}}</div>
                        <div class="right-costs">{{$t('web_guide_client_free')}}</div>
                      </div>
                    </li>
                    <li>
                      <div class="item-costs d-flex">
                        <div
                          class="left-costs mr-auto"
                        >{{$t('web_guide_client_charter_recruitment_fee')}}</div>
                        <div class="right-costs">{{$t('web_guide_client_free')}}</div>
                      </div>
                    </li>
                    <li>
                      <div class="item-costs d-flex">
                        <div class="left-costs mr-auto">{{$t('web_guide_client_all_platform_fees')}}</div>
                        <div class="right-costs">{{$t('web_guide_client_free')}}</div>
                      </div>
                    </li>
                  </ul>
                  <div class="attention">{{$t('web_guide_client_worktrip')}}</div>
                </section>
              </div>
            </div>
          </div>

          <div class="wp-feelback-ctm pb-120">
            <div class="row">
              <div class="col-12">
                <div class="content-feelback-ctm">
                  <div class="row">
                    <div class="col-md-6 col-12 mb-md-0 mb-3">
                      <div class="img-thumb">
                        <a href title class="image d-block">
                          <img
                            src="~/assets/images/upload/img-feelback.png"
                            alt
                            class="img-fluid img-cover"
                          />
                        </a>
                      </div>
                    </div>
                    <div class="col-md-6 col-12">
                      <div class="box">
                        <div class="info">
                          <div class="special">
                            <i class="fas fa-quote-left"></i>
                          </div>
                          <div class="name-title-big">{{$t('web_guide_client_title_5')}}</div>
                          <div class="title-small">{{$t('web_guide_client_description_5')}}</div>
                          <div class="view-more-feel">
                            <a href title class="view">{{$t('web_guide_client_title_button_5')}}</a>
                          </div>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</template>

<script>
export default {
  layout: "landingpage"
};
</script>


