<template>
  <div>
    <div class="pb-120">
      <div class="wp-banner">
        <div class="img-thumb">
          <a href="javascript:;" title class="image">
            <img src="~/assets/images/upload/banner-a13.png" alt class="img-fluid img-cover" />
          </a>
        </div>
        <div class="overlay"></div>
        <div class="content-banner left">
          <div class="title head">{{$t("web_guide_relief_banner_title")}}</div>
          <div class="intro">{{$t("web_guide_relief_banner_desc")}}</div>
        </div>
      </div>
    </div>

    <div class="wp-recruit-personnel">
      <div class="container">
        <div class="row">
          <div class="col-xl-10 col-lg-10 col-12 m-auto">
            <div class="recruit-personnel">
              <header class="panel-head-general text-center">
                <div class="rule-head mx-auto"></div>
                <h3 class="title-big">{{$t("web_guide_relief_title1")}}</h3>
              </header>
              <section class="panel-body-h panel-body">
                <ul class="list-recruit row">
                  <li class="col-lg-4 col-md-4 col-sm-6 col-12 pb-120">
                    <div class="item-recruit item-general text-center">
                      <div class="icon-commit mb-4">
                        <img src="~/assets/images/icon/icon-white-0.png" alt />
                      </div>
                      <div class="name-title">
                        <a href="javascript:;" title class="title d-block">{{$t('web_guide_relief_title1_box_1')}}</a>
                      </div>
                      <div class="description">{{$t("web_guide_relief_description1_box_1")}}</div>
                    </div>
                  </li>

                  <li class="col-lg-4 col-md-4 col-sm-6 col-12 pb-120">
                    <div class="item-recruit item-general text-center">
                      <div class="icon-commit mb-4">
                        <img src="~/assets/images/icon/icon-white-2.png" alt />
                      </div>
                      <div class="name-title">
                        <a href="javascript:;" title class="title d-block">{{$t('web_guide_relief_title1_box_2')}}</a>
                      </div>
                      <div class="description">{{$t("web_guide_relief_description1_box_2")}}
                      </div>
                    </div>
                  </li>

                  <li class="col-lg-4 col-md-4 col-sm-6 col-12 pb-120">
                    <div class="item-recruit item-general text-center">
                      <div class="icon-commit mb-4">
                        <img src="~/assets/images/icon/icon-white-3.png" alt />
                      </div>
                      <div class="name-title">
                        <a href="javascript:;" title class="title d-block">{{$t('web_guide_relief_title1_box_3')}}</a>
                      </div>
                      <div class="description">{{$t("web_guide_relief_description1_box_3")}}</div>
                    </div>
                  </li>

                  <li class="col-lg-4 col-md-4 col-sm-6 col-12 pb-120">
                    <div class="item-recruit item-general text-center">
                      <div class="icon-commit mb-4">
                        <img src="~/assets/images/icon/icon-white-1.png" alt />
                      </div>
                      <div class="name-title">
                        <a href="javascript:;" title class="title d-block">{{$t('web_guide_relief_title1_box_4')}}</a>
                      </div>
                      <div class="description">{{$t("web_guide_relief_description1_box_4")}}</div>
                    </div>
                  </li>

                  <li class="col-lg-4 col-md-4 col-sm-6 col-12 pb-120">
                    <div class="item-recruit item-general text-center">
                      <div class="icon-commit mb-4">
                        <img src="~/assets/images/icon/icon-white-4.png" alt />
                      </div>
                      <div class="name-title">
                        <a href="javascript:;" title class="title d-block">{{$t('web_guide_relief_title1_box_5')}}</a>
                      </div>
                      <div class="description">{{$t("web_guide_relief_description1_box_5")}}
                      </div>
                    </div>
                  </li>

                  <li class="col-lg-4 col-md-4 col-sm-6 col-12 pb-120">
                    <div class="item-recruit item-general text-center">
                      <div class="icon-commit mb-4">
                        <img src="~/assets/images/icon/icon-white-5.png" alt />
                      </div>
                      <div class="name-title">
                        <a href="javascript:;" title class="title d-block">{{$t('web_guide_relief_title1_box_6')}}</a>
                      </div>
                      <div class="description">{{$t("web_guide_relief_description1_box_6")}}</div>
                    </div>
                  </li>
                </ul>
              </section>
            </div>
          </div>
        </div>
      </div>
    </div>

    <div class="wp-expert-level pb-120">
      <div class="container">
        <div class="row">
          <div class="col-12">
            <div class="row">
              <div class="col-lg-9 col-md-10 col-sm-10 col-12 mx-auto">
                <div class="content-expert-level">
                  <header class="panel-head-general text-center pb-120">
                    <div class="rule-head mx-auto"></div>
                    <h3 class="title-big mb-4">{{$t("web_guide_relief_title2")}}</h3>
                    <div class="intro">{{$t("web_guide_relief_title2_desc")}}</div>
                  </header>
                  <section class="panel-body-expert-level">
                    <ul class="list-expert-level row">
                      <li class="col-md-4 col-sm-6 col-12">
                        <div class="item text-center">
                          <div class="img-thumb">
                            <img src="~/assets/images/upload/expert-level-1.png" alt />
                          </div>
                          <div class="info">
                            <div class="title">{{$t("web_guide_relief_rank1")}}</div>
                          </div>
                        </div>
                      </li>
                      <li class="col-md-4 col-sm-6 col-12">
                        <div class="item text-center">
                          <div class="img-thumb">
                            <img src="~/assets/images/upload/expert-level-2.png" alt />
                          </div>
                          <div class="info">
                            <div class="title">{{$t("web_guide_relief_rank2")}}</div>
                          </div>
                        </div>
                      </li>
                      <li class="col-md-4 col-sm-6 col-12">
                        <div class="item text-center">
                          <div class="img-thumb">
                            <img src="~/assets/images/upload/expert-level-3.png" alt />
                          </div>
                          <div class="info">
                            <div class="title">{{$t("web_guide_relief_rank3")}}</div>
                          </div>
                        </div>
                      </li>
                    </ul>
                  </section>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>

    <div class="wp-bn-sys pb-120">
      <div class="img-thumb">
        <img src="~/assets/images/upload/bn-sys.png" alt class="img-fluid img-cover" />
        <div class="overlay">
          <div class="title">{{$t("web_guide_relief_title3")}}</div>
        </div>
      </div>
    </div>

    <div class="wp-ranking-system">
      <div class="container">
        <div class="row">
          <div class="col-xl-10 col-lg-10 col-12 m-auto">
            <div class="content-ranking-system">
              <header class="panel-head-general text-center pb-120">
                <div class="rule-head mx-auto"></div>
                <h3 class="title-big mb-4">{{$t("web_guide_relief_title4")}}</h3>
                <div class="intro">{{$t("web_guide_relief_title4_desc")}}</div>
              </header>
              <section class="panel-body-ranking-system">
                <ul class="list-ranking-system">
                  <li>
                    <div class="item-ranking-system">
                      <div class="row">
                        <div class="col-md-6 col-12 mb-md-0 mb-4">
                          <div class="wp-img-thumb d-flex">
                            <div class="img-thumb pr-3">
                              <img src="~/assets/images/upload/expert-level-1.png" alt />
                            </div>
                            <div class="intro">{{$t("web_guide_relief_rank1")}}</div>
                          </div>
                        </div>
                        <div class="col-md-6 col-12">
                          <div class="info">
                            <div class="wp-item-info">
                              <div class="title">How Bronze-rank works</div>
                              <div class="description"
                              >{{$t("web_guide_relief_rank1_desc")}}</div>
                            </div>
                            <div class="wp-item-info">
                              <div class="title">{{$t("web_guide_relief_rank_condition")}}</div>
                              <ul class="list-small">
                                <li>
                                  <div class="title-small">{{$t("web_guide_relief_rank1_condition1")}}</div>
                                </li>
                                <li>
                                  <div class="title-small">{{$t("web_guide_relief_rank1_condition2")}}</div>
                                </li>
                              </ul>
                            </div>
                            <div class="wp-item-info">
                              <div class="title">{{$t("web_guide_relief_rank_advantage")}}</div>
                              <ul class="list-small">
                                <li>
                                  <div class="title-small">{{$t("web_guide_relief_rank1_advantage1")}}</div>
                                </li>
                                <li>
                                  <div class="title-small">{{$t("web_guide_relief_rank1_advantage2")}}</div>
                                </li>
                                <li>
                                  <div class="title-small">{{$t("web_guide_relief_rank1_advantage3")}}</div>
                                </li>
                              </ul>
                            </div>
                          </div>
                        </div>
                      </div>
                    </div>
                  </li>
                  <li>
                    <div class="item-ranking-system">
                      <div class="row">
                        <div class="col-md-6 col-12 mb-md-0 mb-4">
                          <div class="wp-img-thumb d-flex">
                            <div class="img-thumb pr-3">
                              <img src="~/assets/images/upload/expert-level-2.png" alt />
                            </div>
                            <div class="intro">{{$t("web_guide_relief_rank2")}}</div>
                          </div>
                        </div>
                        <div class="col-md-6 col-12">
                          <div class="info">
                            <div class="wp-item-info">
                              <div class="title">How Silver-rank works</div>
                              <div class="description"
                              >{{$t("web_guide_relief_rank2_desc")}}</div>
                            </div>
                            <div class="wp-item-info">
                              <div class="title">{{$t("web_guide_relief_rank_condition")}}</div>
                              <ul class="list-small">
                                <li>
                                  <div class="title-small">{{$t("web_guide_relief_rank2_condition1")}}</div>
                                </li>
                                <li>
                                  <div class="title-small">{{$t("web_guide_relief_rank2_condition2")}}</div>
                                </li>
                                <li>
                                  <div class="title-small">{{$t("web_guide_relief_rank2_condition3")}}</div>
                                </li>
                              </ul>
                            </div>
                            <div class="wp-item-info">
                              <div class="title">{{$t("web_guide_relief_rank_advantage")}}</div>
                              <ul class="list-small">
                                <li>
                                  <div class="title-small">{{$t("web_guide_relief_rank2_advantage1")}}</div>
                                </li>
                                <li>
                                  <div class="title-small">{{$t("web_guide_relief_rank2_advantage2")}}</div>
                                </li>
                                <li>
                                  <div class="title-small">{{$t("web_guide_relief_rank2_advantage3")}}</div>
                                </li>
                              </ul>
                            </div>
                          </div>
                        </div>
                      </div>
                    </div>
                  </li>
                  <li>
                    <div class="item-ranking-system">
                      <div class="row">
                        <div class="col-md-6 col-12 mb-md-0 mb-4">
                          <div class="wp-img-thumb d-flex">
                            <div class="img-thumb pr-3">
                              <img src="~/assets/images/upload/expert-level-3.png" alt />
                            </div>
                            <div class="intro">{{$t("web_guide_relief_rank3")}}</div>
                          </div>
                        </div>
                        <div class="col-md-6 col-12">
                          <div class="info">
                            <div class="wp-item-info">
                              <div class="title">How Gold-rank works</div>
                              <div class="description"
                              >{{$t("web_guide_relief_rank3_desc")}}</div>
                            </div>
                            <div class="wp-item-info">
                              <div class="title">{{$t("web_guide_relief_rank_condition")}}</div>
                              <ul class="list-small">
                                <li>
                                  <div class="title-small">{{$t("web_guide_relief_rank3_condition1")}}</div>
                                </li>
                                <li>
                                  <div class="title-small">{{$t("web_guide_relief_rank3_condition2")}}</div>
                                </li>
                                <li>
                                  <div class="title-small">{{$t("web_guide_relief_rank3_condition3")}}</div>
                                </li>
                                <li>
                                  <div class="title-small">{{$t("web_guide_relief_rank3_condition4")}}</div>
                                </li>
                              </ul>
                            </div>
                            <div class="wp-item-info">
                              <div class="title">{{$t("web_guide_relief_rank_advantage")}}</div>
                              <ul class="list-small">
                                <li>
                                  <div class="title-small">{{$t("web_guide_relief_rank3_advantage1")}}</div>
                                </li>
                                <li>
                                  <div class="title-small">{{$t("web_guide_relief_rank3_advantage2")}}</div>
                                </li>
                                <li>
                                  <div class="title-small">{{$t("web_guide_relief_rank3_advantage3")}}</div>
                                </li>
                              </ul>
                            </div>
                          </div>
                        </div>
                      </div>
                    </div>
                  </li>
                </ul>
              </section>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</template>

<script>
export default {
  layout: "landingpage"
};
</script>


