<template>
  <div>
    <div class="pb-120">
      <div class="wp-banner cl-white">
        <div class="img-thumb">
          <a href="javascript:;" title class="image">
            <img src="~/assets/images/upload/banner-a14.png" alt class="img-fluid img-cover" />
          </a>
        </div>
        <div class="overlay"></div>
        <div class="content-banner left">
          <div class="title head text-white">{{$t("web_guide_revenue_banner_title")}}</div>
          <div class="intro text-white">{{$t("web_guide_revenue_banner_desc")}}</div>
        </div>
      </div>
    </div>

    <div class="container">
      <div class="row">
        <div class="col-xl-10 col-lg-10 col-12 m-auto">
          <div class="wp-recruit-personnel">
            <div class="recruit-personnel">
              <header class="panel-head-general text-center">
                <div class="rule-head mx-auto"></div>
                <h3 class="title-big">{{$t("web_guide_revenue_title1")}}</h3>
              </header>
              <section class="panel-body-h panel-body">
                <ul class="list-recruit row">
                  <li class="col-lg-4 col-md-4 col-sm-6 col-12 pb-120">
                    <div class="item-recruit item-general text-center">
                      <div class="icon-commit mb-4">
                        <img src="~/assets/images/icon/icon-white-6.png" alt />
                      </div>
                      <div class="name-title">
                        <a href="javascript:;" title class="title d-block">{{$t('web_guide_revenue_title1_box_1')}}</a>
                      </div>
                      <div class="description">{{$t('web_guide_revenue_description1_box_1')}}</div>
                    </div>
                  </li>

                  <li class="col-lg-4 col-md-4 col-sm-6 col-12 pb-120">
                    <div class="item-recruit item-general text-center">
                      <div class="icon-commit mb-4">
                        <img src="~/assets/images/icon/icon-white-7.png" alt />
                      </div>
                      <div class="name-title">
                        <a href="javascript:;" title class="title d-block">{{$t('web_guide_revenue_title1_box_2')}}</a>
                      </div>
                      <div class="description">{{$t('web_guide_revenue_description1_box_2')}}</div>
                    </div>
                  </li>

                  <li class="col-lg-4 col-md-4 col-sm-6 col-12 pb-120">
                    <div class="item-recruit item-general text-center">
                      <div class="icon-commit mb-4">
                        <img src="~/assets/images/icon/icon-white-8.png" alt />
                      </div>
                      <div class="name-title">
                        <a href="javascript:;" title class="title d-block">{{$t('web_guide_revenue_title1_box_3')}}</a>
                      </div>
                      <div class="description">{{$t('web_guide_revenue_description1_box_3')}}</div>
                    </div>
                  </li>

                  <li class="col-lg-4 col-md-4 col-sm-6 col-12 pb-120">
                    <div class="item-recruit item-general text-center">
                      <div class="icon-commit mb-4">
                        <img src="~/assets/images/icon/icon-white-9.png" alt />
                      </div>
                      <div class="name-title">
                        <a href="javascript:;" title class="title d-block">{{$t('web_guide_revenue_title1_box_4')}}</a>
                      </div>
                      <div class="description">{{$t('web_guide_revenue_description1_box_4')}}</div>
                    </div>
                  </li>

                  <li class="col-lg-4 col-md-4 col-sm-6 col-12 pb-120">
                    <div class="item-recruit item-general text-center">
                      <div class="icon-commit mb-4">
                        <img src="~/assets/images/icon/icon-white-10.png" alt />
                      </div>
                      <div class="name-title">
                        <a href="javascript:;" title class="title d-block">{{$t('web_guide_revenue_title1_box_5')}}</a>
                      </div>
                      <div class="description">{{$t('web_guide_revenue_description1_box_5')}}</div>
                    </div>
                  </li>

                  <li class="col-lg-4 col-md-4 col-sm-6 col-12 pb-120">
                    <div class="item-recruit item-general text-center">
                      <div class="icon-commit mb-4">
                        <img src="~/assets/images/icon/icon-white-11.png" alt />
                      </div>
                      <div class="name-title">
                        <a href="javascript:;" title class="title d-block">{{$t('web_guide_revenue_title1_box_6')}}</a>
                      </div>
                      <div class="description">{{$t('web_guide_revenue_description1_box_6')}}</div>
                    </div>
                  </li>
                </ul>
              </section>
            </div>
          </div>

          <div class="wp-comparison-table pb-120">
            <header class="panel-head-general text-center">
              <div class="rule-head mx-auto"></div>
              <h3 class="title-big">{{$t("web_guide_revenue_title2")}}</h3>
            </header>
            <section class="panel-body body_a114">
              <div class="panel-body-small">
                <div class="row m-0">
                  <div class="col-5 p-0">
                    <div class="group-list-item">
                      <div class="item">
                        <div class="title title-big">{{$t("web_guide_revenue_compare_title")}}</div>
                      </div>
                      <div class="item">
                        <div class="title">{{$t("web_guide_revenue_compare_item1")}}</div>
                      </div>
                      <div class="item">
                        <div class="title">{{$t("web_guide_revenue_compare_item2")}}</div>
                      </div>
                      <div class="item">
                        <div class="title">{{$t("web_guide_revenue_compare_item3")}}</div>
                      </div>
                      <div class="item">
                        <div class="title">{{$t("web_guide_revenue_compare_item4")}}</div>
                      </div>
                      <div class="item">
                        <div class="title">{{$t("web_guide_revenue_compare_item5")}}</div>
                      </div>
                    </div>
                  </div>
                  <div class="col-2 p-0">
                    <div class="group-list-item list-center group-bg">
                      <div class="item">
                        <div class="title">SPOTECH</div>
                      </div>
                      <div class="item">
                        <div class="title">10%</div>
                      </div>
                      <div class="item">
                        <div class="title">
                          <div class="icon-color-blue mx-auto">
                            <i class="fas fa-check"></i>
                          </div>
                        </div>
                      </div>
                      <div class="item">
                        <div class="title">
                          <div class="icon-color-blue mx-auto">
                            <i class="fas fa-check"></i>
                          </div>
                        </div>
                      </div>
                      <div class="item">
                        <div class="title">
                          <div class="icon-color-blue mx-auto">
                            <i class="fas fa-check"></i>
                          </div>
                        </div>
                      </div>
                      <div class="item">
                        <div class="title">
                          <div class="icon-color-blue mx-auto">
                            <i class="fas fa-check"></i>
                          </div>
                        </div>
                      </div>
                    </div>
                  </div>
                  <div class="col-2 p-0">
                    <div class="group-list-item list-center">
                      <div class="item">
                        <div class="title">Fiverr</div>
                      </div>
                      <div class="item">
                        <div class="title">20%</div>
                      </div>
                      <div class="item">
                        <div class="title">
                          <div class="icon-color-blue mx-auto">
                            <i class="far fa-circle"></i>
                          </div>
                        </div>
                      </div>
                      <div class="item">
                        <div class="title">
                          <div class="icon-color-white mx-auto">
                            <i class="fas fa-times"></i>
                          </div>
                        </div>
                      </div>
                      <div class="item">
                        <div class="title">
                          <div class="icon-color-white mx-auto">
                            <i class="fas fa-times"></i>
                          </div>
                        </div>
                      </div>
                      <div class="item">
                        <div class="title">
                          <div class="icon-color-white mx-auto">
                            <i class="fas fa-times"></i>
                          </div>
                        </div>
                      </div>
                    </div>
                  </div>
                  <div class="col-3 p-0">
                    <div class="group-list-item list-center">
                      <div class="item">
                        <div class="title">Freelancer.com</div>
                      </div>
                      <div class="item">
                        <div class="title">5-20%</div>
                      </div>
                      <div class="item">
                        <div class="title">
                          <div class="icon-color-white mx-auto">
                            <i class="fas fa-times"></i>
                          </div>
                        </div>
                      </div>
                      <div class="item">
                        <div class="title">
                          <div class="icon-color-white mx-auto">
                            <i class="fas fa-times"></i>
                          </div>
                        </div>
                      </div>
                      <div class="item">
                        <div class="title">
                          <div class="icon-color-white mx-auto">
                            <i class="fas fa-times"></i>
                          </div>
                        </div>
                      </div>
                      <div class="item">
                        <div class="title">
                          <div class="icon-color-white mx-auto">
                            <i class="fas fa-times"></i>
                          </div>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
                <div class="attention margin-top-36">{{$t("web_guide_revenue_time_updated")}}</div>
              </div>
            </section>
          </div>

          <div class="wp-settings pb-120">
            <div class="row">
              <div class="col-12">
                <header class="panel-head-general text-center">
                  <div class="rule-head mx-auto"></div>
                  <h3 class="title-big">{{$t("web_guide_revenue_title3")}}</h3>
                </header>
                <section class="panel-body-settings">
                  <div class="row">
                    <div class="col-md-6 col-12 mb-4 mb-md-0">
                      <div class="info">
                        <h3 class="title">{{$t('web_guide_revenue_title3_box_1')}}</h3>
                        <div class="title-small">{{$t('web_guide_revenue_title_small3_box_1')}}</div>
                        <div class="description">{{$t('web_guide_revenue_description3_box_1')}}</div>
                      </div>
                    </div>
                    <div class="col-md-6 col-12">
                      <div class="img-thumb">
                        <img src="~/assets/images/upload/img-setting.png" alt class="img-fluid" />
                      </div>
                    </div>
                  </div>
                </section>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</template>

<script>
export default {
  layout: "landingpage"
};
</script>


