<template>
  <div class="wp-page">
    <div class="sticky-top" style="background: #26325D; z-index: 2;">
      <header class="panel-head-in-total">
        <div class="d-flex align-items-center">
          <div class="logo pr-2">
            <nuxt-link :to="localePath({'name': 'index'})" class="d-block">
              <img src="~/assets/images/upload/logo-spotech.png" alt="Spotech" class="img-fluid">
            </nuxt-link>
          </div>
          <div class="title">{{ titleHeader }}</div>
        </div>
      </header>
      <div class="progress custom-progress">
        <div class="progress-bar custom-progress-bar" style="width:100%;"></div>
      </div>
    </div>
    <div class="group-order margin-y-70 clearfix c-132">
      <div class="container">
        <div class="row">
          <div class="col-lg-7 col-md-8 col-12 mb-md-0 mb-4">
            <div class="box-left w-100">
              <div class="body-in-total order-b15 circle-bg">
                <div class="group">
                  <div class="group-page-total">
                    <div class="container">
                      <div class="row">
                        <div class="col-12">
                          <div class="content-page-total d-flex align-items-center">
                            <div class="wp-page text-center m-auto">
                              <h1 class="logo mb-4">
                                <nuxt-link :to="localePath({'name': 'index'})" class="d-block">
                                  <img src="~/assets/images/upload/logo-spotech.png" alt="" class="img-fluid">
                                </nuxt-link>
                              </h1>
                              <div class="title font-20 mb-2">{{ title }}</div>
                              <div class="description font-15">{{ note }}</div>
                              <div class="font-150 margin-y-55">
                                <i class="far fa-check-circle color-green"></i>
                              </div>
                              <div class="group-btn">
                                <nuxt-link :to="localePath({name: 'dashboard'})" class="test-status bgr-red">
                                  {{ $t('webCheckBidStatus', {name: this.queryString.name}) }}
                                </nuxt-link>
                              </div>
                            </div>
                          </div>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <div class="col-lg-4 col-md-4 col-12 mb-md-0 mb-4 offset-lg-1">
            <div class="box-right top sticky-top">
              <div class="group-partners text-center">
                <div class="title">{{ $t('ImplementationResults') }}</div>
                <div class="list-partners">
                  <div class="item">
                    <img src="~assets/images/upload/Image-1.png" alt="">
                  </div>
                  <div class="item">
                    <img src="~assets/images/upload/Image-2.png" alt="">
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</template>

<script>
  import eventbus from '~/services/bus';

  export default {
    layout: 'empty',
    name: 'Complete',
    data() {
      return {
        queryString: '',
      }
    },
    computed: {
      titleHeader() {
        return this.queryString.type === 'project' ? this.$t('titleCompleteBid') : this.$t('titleCompleteBidExpert')
      },
      note() {
        return this.queryString.type === 'project' ? this.$t('PleaseContactYou') : this.$t('PleaseContactYouExpert')
      },
      title() {
        let title = '';
        const key = this.queryString.type === 'project'
          ? 'BiddingComplete'
          : 'BiddingExpertComplete';
        title = this.$t(`${key}`, {name: this.queryString.name});
        return title;
      }
    },
    mounted() {
      this.queryString = this.$route.query;
    }
  }
</script>
<style scoped>
  .container-wrapper {
    background: #fff;
  }
</style>
