<template>
  <div class="c---message-header">
    <div class="han" v-if="isShowModalIndex == 0" :class="{'group-drop-menu-item': onHover}">
      <div class="upper-header-fixed">
        <a href="javascript:;" @click="onClose" class="d-block color-black font-16">
          <i class="fas fa-times"></i>
        </a>
      </div>
      <div class="d-flex justify-content-between head-drop">
        <div class="title">
          <a href="javascript:;" title class="color-black">{{ $t('webRecently') }}</a>
        </div>
        <div class="d-flex">
          <div class="title mr-3">
            <a
              href="javascript:;"
              title
              class="color-black"
              @click="isShowModalIndex=1"
            >{{ $t('webNewGroup') }}</a>
          </div>
          <div class="title">
            <a
              href="javascript:;"
              title
              class="color-black"
              @click="onOpenNewMessage"
            >{{ $t('webNewMessage') }}</a>
          </div>
        </div>
      </div>
      <div class="list-item-info">
        <div class="list-item-info-wrapper" v-loading="loading">
          <div v-for="(discussion, d) in arrDiscussion.items"
            :key="`header-messenger-item-${d}`">
            <div
              class="item"
              v-if="discussion.latestMessage"
              :class="{ 'c--mark-unread' : discussion.unRead}"
            >

              <div class="group-info d-flex justify-content-between align-items-center">
                <div class="c--messenger-header-avatar">
                  <nuxt-link class="image d-block w-100 h-100" :to="localePath({name: 'messenger', query:{ discussionId: discussion.id } })">
                      <avatar :list="getDiscussionAvatar(discussion)" />
                  </nuxt-link>
                </div>
                <div class="info c--messenger-header-info ml-1">
                  <div class="d-flex justify-content-between align-items-center">
                    <div class="name-person">
                      <nuxt-link class="cursor one-line-dot d-inline-block mw-100" :to="localePath({name: 'messenger', query:{ discussionId: discussion.id } })">
                        {{ getDiscussionName(discussion) }}
                      </nuxt-link>
                    </div>
                    <div class="day">{{ $moment(discussion.latestMessage.updatedAt).fromNow() }}</div>
                  </div>
                  <div class="d-flex justify-content-between">
                    <div class="intro-person line-1">
                      <div class="c--text-overflow"
                        v-if="discussion.latestMessage.type == 'text'"
                      >{{ discussion.latestMessage.body }}</div>
                      <div v-if="discussion.latestMessage.type == 'like'">
                        <i class="fas fa-thumbs-up"></i>
                      </div>
                      <div v-if="discussion.latestMessage.type == 'image'">
                        <i class="fas fa-images"></i>
                      </div>
                      <div v-if="discussion.latestMessage.type == 'audio'">
                        <i class="fas fa-file-audio"></i>
                      </div>
                      <div v-if="discussion.latestMessage.type == 'video'">
                        <i class="fas fa-video"></i>
                      </div>
                      <div v-if="discussion.latestMessage.type == 'file' || discussion.latestMessage.type == 'application' || discussion.latestMessage.type == 'attachment'">
                        <i class="fas fa-file-alt"></i>
                      </div>
                    </div>
                    <div class="day">
                      <i v-if="discussion.latestMessage.author"
                        class="far fa-circle"
                        :class="{'c--u-active': discussion.latestMessage.author.online}"
                      ></i>
                    </div>
                  </div>
                </div>
              </div>

            </div>
          </div>
        </div>
        <div class="item">
          <div class="d-flex justify-content-between align-items-center">
            <nuxt-link
              :to="localePath({name: 'messenger'})"
              title
              class="d-block btn-view"
            >{{ $t('webSeeAllMessage') }}</nuxt-link>
            <a
              href="javascript:;"
              title
              class="d-block btn-view"
              @click="markAsReadAll"
            >{{ $t('webMarkEverythingAsRead') }}</a>
          </div>
        </div>
      </div>
    </div>
    
    <ModalAddMember
      v-if="isShowModalIndex == 1"
      @onClose="onAddMemberCloseModal"
      @onAgree="onAddMemberAgree"
    />
  </div>
</template>

<script>
import { mapState, mapActions } from "vuex";
import { getDiscussion } from "~/services/messenger";
import eventBus from "~/services/bus";
export default {
  name: "MessengerListHeaderMessage",
  components: {
    ModalAddMember: () => import("~/components/messenger/ModalAddMember"),
    avatar: () => import('~/components/share/avatar')
  },
  data() {
    return {
      arrDiscussion: [],
      isShowModalIndex: 0,
      loading: false,
      onHover: true
    };
  },
  computed: {
    ...mapState({
      auth: state => state.auth,
      event: state => state.lastMessage
    }),
    me() {
      return this.auth != null &&
        this.auth.authUser != null &&
        this.auth.authUser.user != null
        ? this.auth.authUser.user
        : null;
    },
    meId() {
      return this.me != null ? this.me.id : 0;
    }
  },
  created() {
    this.bindMeChannel();
  },
  mounted() {
    //this.getListChatted();
    this.onHover = true;
  },
  methods: {
    ...mapActions({
      searchDiscussionByUser: "messenger/searchDiscussionByUser",
      markAsRead: "messenger/markAsReadAll"
    }),
    onClose() {
      this.isShowModalIndex = 0;
      this.onHover = false;
      this.$emit('closeModal');
    },
    getDiscussionName(disccusion) {
      if( ! disccusion ) { return '' }
      if( disccusion.subject && disccusion.subject.length > 0 ) { return disccusion.subject; }
      let subject = [];
      if( disccusion.members && disccusion.members.length > 0 ) {
          _.forEach( disccusion.members, (mem) => {
              if( mem.user && mem.user.id != this.meId && mem.user.fullName && mem.user.fullName.length > 0 ) {
                  subject.push( mem.user.fullName );
              }
          } );
      }
      return subject.length > 0 ? subject.join(', ') : '';
    },
    getDiscussionAvatar(disccusion) {
      if( ! disccusion ) { return [] }
      if( disccusion.avatar && disccusion.avatar.length > 0 ) { return [disccusion.avatar]; }
      let subject = [];
      if( disccusion.members && disccusion.members.length > 0 ) {
          _.forEach( disccusion.members, (mem) => {
              if( mem.user && mem.user.avatar && mem.user.avatar.length > 0 ) {
                  subject.push( mem.user.avatar );
              }
          } );
      }
      return subject;
    },
    bindMeChannel() {
      let me = this;
      eventBus.$on("onNewMessage", e => {
        //console.log('onNewMessage', e)
        let discussionId = e.discussionId || null;

        let message = e.data || null;
        if (discussionId && message) {
          let index = _.findIndex(me.arrDiscussion.items, discussion => {
            return discussion.id == discussionId;
          });
          if (index >= 0) {
            me.arrDiscussion.items[index].latestMessage = message;
          }
        }
      });
      eventBus.$on('onNewDiscussion', ( e ) => {
          let disccusion = e.data;
          if( disccusion && disccusion.id && me.arrDiscussion && me.arrDiscussion.items )
          {
              let index = _.findIndex(me.arrDiscussion.items, (dis) => {
                  return dis.id == disccusion.id;
              } );
              if( index < 0 )
              {
                  me.arrDiscussion.items = [disccusion].concat(me.arrDiscussion.items);
                  //me.arrDiscussion.items.push( disccusion );
              }
          }
      } );
      eventBus.$on('onCreateGroupChat', (e) => {
        me.isShowModalIndex = 1;
      } )
    },
    onAddMemberCloseModal() {
      this.isShowModalIndex = 0;
    },
    onAddMemberAgree(arrSelect, discussion) {
      if (
        discussion != null &&
        discussion.ids != null &&
        _.isArray(discussion.ids) &&
        discussion.ids.length > 0
      ) {
        //create discussion
        //this.$emit("onCreateConversation", arrSelect, discussion);
        this.onCreateConversation(arrSelect, discussion)
      }
      this.isShowModalIndex = 0;
    },
    onCreateConversation(arrSelect, discussion) {
      if (this.auth == null || this.auth.access_token == null || ! arrSelect || arrSelect.length <= 0 ) {
        return;
      }

      getDiscussion(arrSelect, discussion)
        .then(response => {
          this.$router.push(this.localePath({ name: "messenger" }));
        })
        .catch(error => {
            //console.log(error);
        });
    },
    getListChatted() {
      if (this.meId > 0) {
        this.loading = true;
        let params = { user_id: this.meId };

        this.searchDiscussionByUser(params)
          .then(response => {
            if (response != null && response.data != null) {
              this.arrDiscussion = response.data;
            }
          })
          .finally(() => {
            this.loading = false;
          });
      }
    },
    markAsReadAll() {
      this.markAsRead({})
      .then( () => {
          let len = this.arrDiscussion && this.arrDiscussion.items && this.arrDiscussion.items.length > 0 ? this.arrDiscussion.items.length : 0;
          if( len > 0 ) {
              let now = new Date();
              for(let i = 0; i < len; i++) {
                  this.arrDiscussion.items[i].unRead = false;
                  if( this.arrDiscussion.items[i].latestMessage ) {
                      this.arrDiscussion.items[i].latestMessage.updatedAt = now;
                  }
              }
          }
      }).finally( () => {} );
    },
    onQuickChatBoxClose() {
      this.isShowModalIndex = 0;
    },
    onOpenNewMessage() {
      this.$emit('onOpenNewMessage')
    }
  }
};
</script>

<style scoped>
.c--u-active {
  font-weight: 500;
  color: #77d353 !important;
}
.c--mark-unread {
  font-weight: 500 !important;
  color: #2c96ec !important;
}
.list-item-info-wrapper {
  overflow: auto;
  max-height: 400px;
}
.list-item-info-wrapper::-webkit-scrollbar {
  width: 0;
}
.c--text-overflow{
    max-width: 200px;
    text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden;
}
.c--messenger-header-avatar{
  width: 44px;
  height: 44px;
  overflow: hidden;
}

</style>
<style>
.han .c--messenger-header-avatar .el-avatar img{
  height: 100%;
}
.group-info .info.c--messenger-header-info{
    width: calc(100% - (44px + 0.25rem));
}
.c---message-header a.nuxt-link-active {
     color: inherit !important;
}
</style>
