<template>
<section>
  <div v-if="data">
    <div class="h-100">
      <div class="container">
        <div class="group-top-content_c14">
          <div class="clearfix">
            <div class="group-left ">
              <div class="content">
                <CardIntroduce :members="data.members" :durations="data.durations" :isMe="isMe"/>
                <CardFeature :members="data.members"/>
                <CardPortfolio v-model="data.portfolios"/>
                <CardWorkEnvironments :workEnvironments="data.workEnvironments"/>
                <CardEducation :educations="data.educations"/>
                <CardWork v-model="data.works"/>
                <CardCertificate :certificates="data.certificates"/>
                <CardSkill :skills="data.skills"/>
              </div>
            </div>
            <div class="group-right">
              <FormBidMember v-model="data.members"/>
              <div class="group-right-bottom" v-if="!isMe">
                <a href="javascript:;" @click="isShowModalIndex = 13" class="text-link text-center d-block text-white" data-toggle="modal">
                  {{ $t('ReportInappropriateContent') }}
                </a>
              </div>
              <div class="group-right-bottom" v-else>
                <a href="javascript:;" class="text-link text-center d-block text-white" data-toggle="modal">
                  {{ $t('ReportInappropriateContent') }}
                </a>
              </div>
            </div>
          </div>
          <div class="group-up-content_c14">
            <div class="group-text_c14 margin-bottom-47 rule-top-35">
              <div class="title">{{$t('TextProjectDetail1')}}</div>
              <div class="intro">{{$t('TextProjectDetail2')}}</div>
            </div>
            <CardBidHistory />
            <div class="c15-vote" style="display: none;">
              <div class="group-overall-rating">
                <div class="d-md-flex d-block align-items-center mb-4 rule-top-35">
                  <div class="header font-28 text-white mr-5"> 総合レビュー（30） </div>
                  <div class="list-star">
                    <i class="fas fa-star color-green "></i>
                    <i class="fas fa-star color-green "></i>
                    <i class="fas fa-star color-green "></i>
                    <i class="fas fa-star color-green "></i>
                    <i class="fas fa-star color-lightgrey "></i>
                  </div>
                  <div class="font-14 font-weight-500 filter-top bg-grey ml-auto mt-2 mt-sm-0">
                    <a href="javascript:;" class=" color-black">クライアントに切り替え</a>
                  </div>
                </div>
                <div class="rule-grey"></div>
                <div class="list-item">
                  <div class="row">
                    <div class="col-lg-4 col-sm-6 col-12 margin-bottom-25">
                      <div class="d-flex justify-content-between clearfix">
                        <div class="title pr-4">コミュニケーション</div>
                        <div class="list-star">
                          <i class="fas fa-star color-green "></i>
                          <i class="fas fa-star color-green "></i>
                          <i class="fas fa-star color-green "></i>
                          <i class="fas fa-star color-green "></i>
                          <i class="fas fa-star color-lightgrey "></i>
                        </div>
                      </div>
                    </div>
                    <div class="col-lg-4 col-sm-6 col-12 margin-bottom-25">
                      <div class="d-flex justify-content-between clearfix">
                        <div class="title pr-4">コミュニケーション</div>
                        <div class="list-star">
                          <i class="fas fa-star color-green "></i>
                          <i class="fas fa-star color-green "></i>
                          <i class="fas fa-star color-green "></i>
                          <i class="fas fa-star color-green "></i>
                          <i class="fas fa-star color-lightgrey "></i>
                        </div>
                      </div>
                    </div>
                    <div class="col-lg-4 col-sm-6 col-12 margin-bottom-25">
                      <div class="d-flex justify-content-between clearfix">
                        <div class="title pr-4">コミュニケーション</div>
                        <div class="list-star">
                          <i class="fas fa-star color-green "></i>
                          <i class="fas fa-star color-green "></i>
                          <i class="fas fa-star color-green "></i>
                          <i class="fas fa-star color-green "></i>
                          <i class="fas fa-star color-lightgrey "></i>
                        </div>
                      </div>
                    </div>
                    <div class="col-lg-4 col-sm-6 col-12 margin-bottom-25">
                      <div class="d-flex justify-content-between clearfix">
                        <div class="title pr-4">コミュニケーション</div>
                        <div class="list-star">
                          <i class="fas fa-star color-green "></i>
                          <i class="fas fa-star color-green "></i>
                          <i class="fas fa-star color-green "></i>
                          <i class="fas fa-star color-green "></i>
                          <i class="fas fa-star color-lightgrey "></i>
                        </div>
                      </div>
                    </div>
                    <div class="col-lg-4 col-sm-6 col-12 margin-bottom-25">
                      <div class="d-flex justify-content-between clearfix">
                        <div class="title pr-4">コミュニケーション</div>
                        <div class="list-star">
                          <i class="fas fa-star color-green "></i>
                          <i class="fas fa-star color-green "></i>
                          <i class="fas fa-star color-green "></i>
                          <i class="fas fa-star color-green "></i>
                          <i class="fas fa-star color-lightgrey "></i>
                        </div>
                      </div>
                    </div>
                    <div class="col-lg-4 col-sm-6 col-12 margin-bottom-25">
                      <div class="d-flex justify-content-between clearfix">
                        <div class="title pr-4">コミュニケーション</div>
                        <div class="list-star">
                          <i class="fas fa-star color-green "></i>
                          <i class="fas fa-star color-green "></i>
                          <i class="fas fa-star color-green "></i>
                          <i class="fas fa-star color-green "></i>
                          <i class="fas fa-star color-lightgrey "></i>
                        </div>
                      </div>
                    </div>
                    <div class="col-lg-4 col-sm-6 col-12 margin-bottom-25">
                      <div class="d-flex justify-content-between clearfix">
                        <div class="title pr-4">コミュニケーション</div>
                        <div class="list-star">
                          <i class="fas fa-star color-green "></i>
                          <i class="fas fa-star color-green "></i>
                          <i class="fas fa-star color-green "></i>
                          <i class="fas fa-star color-green "></i>
                          <i class="fas fa-star color-lightgrey "></i>
                        </div>
                      </div>
                    </div>
                    <div class="col-lg-4 col-sm-6 col-12 margin-bottom-25">
                      <div class="d-flex justify-content-between clearfix">
                        <div class="title pr-4">コミュニケーション</div>
                        <div class="list-star">
                          <i class="fas fa-star color-green "></i>
                          <i class="fas fa-star color-green "></i>
                          <i class="fas fa-star color-green "></i>
                          <i class="fas fa-star color-green "></i>
                          <i class="fas fa-star color-lightgrey "></i>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
            <div class="group-vote_c14 rule-bottom-35" style="display: none">
              <div class="row ">
                <div class="col-sm-6 col-12 mb-3">
                  <div class="item-vote_c14">
                    <div class="group-table-general">
                      <div class="list-item">
                        <div class="group-item">
                          <div class="d-flex align-items-center">
                            <div class="img-thumb">
                              <img src="~assets/images/upload/hp-order-4.png" alt="">
                            </div>
                            <div class="info">
                              <div class="info-up">
                                <div class="d-flex align-items-center">
                                  <div class="tag">#1 -</div>
                                  <div class="name">Amy</div>
                                  <div class="flag">
                                    <img src="~assets/images/icon/United-States.png" alt="">
                                  </div>
                                </div>
                              </div>
                              <div class="info-down">
                                2019年4月25日 - 1ヶ月（入札価格 : ¥150,000）
                              </div>
                            </div>
                          </div>
                        </div>
                      </div>
                    </div>
                    <div class="group-btn mb-3">
                      <a href="javascript:;" class="read text-link  text-center">日本語で読む</a>
                    </div>
                    <div class="description mb-4 font-16 text-white">
                      Named AIRBNB’S #1 “MOST WISHED-FOR”
                      LISTING WORLD WIDE for 2016 and 2017
                    </div>
                  </div>
                </div>
                <div class="col-sm-6 col-12 mb-3">
                  <div class="item-vote_c14">
                    <div class="group-table-general">
                      <div class="list-item">
                        <div class="group-item">
                          <div class="d-flex align-items-center">
                            <div class="img-thumb">
                              <img src="~assets/images/upload/hp-order-4.png" alt="">
                            </div>
                            <div class="info">
                              <div class="info-up">
                                  <div class="d-flex align-items-center">
                                    <div class="tag">#2 -</div>
                                    <div class="name"> Pablo </div>
                                    <div class="flag">
                                      <img src="~assets/images/icon/United-States.png" alt="">
                                    </div>
                                  </div>
                              </div>
                              <div class="info-down">
                                2019年4月26日 - 1ヶ月（入札価格 : ¥180,000）
                              </div>
                            </div>
                          </div>
                        </div>
                      </div>
                    </div>
                    <div class="description mb-4 font-16 text-white">
                      ファッションECのWEB開発を依頼していただきありがとうございました。3ヶ月はあっという間にすぎました。
                    </div>
                  </div>
                </div>
              </div>
            </div>
            <div style="display: none">
              <ul class="pagination d-flex align-items-center margin-bottom-35 " >
                <li><a href="#" class="item active">1</a></li>
                <li><a href="#" class="item">2</a></li>
                <li><a href="#" class="item">3</a></li>
                <li><a href="#" class="item">...</a></li>
                <li><a href="#" class="item">41</a></li>
                <li><a href="#" class="next item"><i class="fas fa-chevron-right"></i></a></li>
              </ul>
            </div>
            <expert-related :relateds="data.related" />
          </div>
        </div>
      </div>
    </div>
  </div>
  <modal v-if="isShowModalIndex == 13" @close="onShowModal()">
      <div slot="body">
        <Report :objData="data"
          @onShowModal="onShowModal"
          @closeModal="onShowModal($event)" />
      </div>
    </modal>
    </section>
</template>

<script>
  import {mapActions, mapGetters} from 'vuex'
  import eventBus from "~/services/bus";
  import _ from 'lodash';

  export default {
    layout: 'custom',
    data() {
      return {
        id: null,
        data: null,
        obj: {
          object_id: this.id,
          type: 2,
          company_id: 0,
        },
        isShowModalIndex: 0,
      }
    },
    components: {
      TheHeaderLayoutCustom: () => import('~/components/share/header/TheHeaderLayoutCustom'),
      HeadBanner: () => import('~/components/share/header/HeadBanner'),
      CardIntroduce: () => import('~/components/viewProfile/CardIntroduce'),
      CardFeature: () => import('~/components/viewProfile/CardFeature'),
      CardPortfolio: () => import('~/components/viewProfile/CardPortfolio'),
      CardEducation: () => import('~/components/viewProfile/CardEducation'),
      CardCertificate: () => import('~/components/viewProfile/CardCertificate'),
      CardWorkEnvironments: () => import('~/components/viewProfile/CardWorkEnvironments'),
      CardWork: () => import('~/components/viewProfile/CardWork'),
      CardSkill: () => import('~/components/viewProfile/CardSkill'),
      CardBidHistory: () => import('~/components/viewProfile/CardBidHistory'),
      FormBidMember: () => import('~/components/viewProfile/FormBidMember'),
      ExpertRelated: () => import('~/components/viewProfile/ExpertRelated'),
      Report: () => import('~/components/project/share/ModalReport.vue'),
      Modal: () => import('~/components/share/Modal'),
    },
    computed: {
      ...mapGetters({
        getUserId: 'getUserId',
      }),
      isMe() {
        return +this.id === +this.getUserId
      }
    },
    mounted() {
      this.id = parseInt(this.$route.params.id);
      this.obj.object_id = this.id;
      const currentType = this.$store.getters.getCompany
      this.obj.company_id = _.has(currentType, 'company_id')
        ? currentType.company_id
        : 0;
      this.getData();
      const currentId = this.$store.state.auth.authUser.user.id;
      let isShowPreview = currentId === this.id;
      !_.has(currentType, 'company_id') || (isShowPreview = false);
      if ( !_.isEmpty(currentType) && !_.has(currentType, 'company_id')) {
        isShowPreview = currentType.id === this.id;
      }
      if(isShowPreview) {
        setTimeout(() => {
          let e_header = document.getElementById("pc-header");
          e_header.classList.add("head-load");
          var att = document.createAttribute("data-content");
          att.value = this.$t("PreviewScreen");
          e_header.setAttributeNode(att);
        }, 500)
      }
    },
    methods: {
      ...mapActions({
        getShowProfile: 'members/viewProfile/getShowProfile'
      }),
      getData() {
        this.getShowProfile(this.obj)
          .then(res => {
            this.data = res.data;
          })
          .catch(err => {
            this.$error(err.message);
          })
      },
      onShowModal(index) {
        this.isShowModalIndex = index;
      },
    },
    watch: {
      "$route.params": function(newVal) {
        window.location.reload();
      }
    },
    beforeDestroy() {
      let e_header = document.getElementById("pc-header");
      e_header.classList.remove("head-load");
    }
  }
</script>

<style>
  .head-load::before {
    line-height: 101px;
    content: attr(data-content);
  }
</style>
