<template>
  <div id="body-3" class="d-block" v-if="projects && projects.totalRow > 0">
    <div class="box">
      <div class="d-flex justify-content-between align-items-center mb-hp">
        <div class="title-32">{{ $t('dashboardProjectTitle') }}{{itemCount > 0 ? ['(',itemCount,')'].join('') : ''}}</div>
      </div>
      <div class="group-table-general">
        <div style="overflow-x:auto;">
          <table class="table mb-hp">
            <thead>
              <tr class="list-item">
                <th class="w-35 title-head">{{ $t('dashboardExpert') }}</th>
                <th class="title-head text-center">{{ $t('dashboardProjectStatus') }}</th>
                <th class="title-head text-center">{{ $t('dashboardProjectStartHopeDay') }}</th>
                <th class="title-head text-center">{{ $t('dashboardProjectAction') }}</th>
                <th class="title-head text-center">{{ $t('dashboardProjectMessage') }}</th>
              </tr>
            </thead>
            <tbody>
              <TabElementRow v-for="(elem, p) in items" :key="`project-adjust---${p}`" :elem.sync="elem" @onRemoveElement="onRemoveElement" />
            </tbody>
          </table>
          <el-pagination class="pagination d-flex align-items-center margin-bottom-40" v-if="projects && projects.totalRow > pageSize"
            background
            layout="prev, pager, next"
            :page-size="pageSize"
            :total="projects.totalRow"
            :current-page="projects.current_page"
            @current-change="goToPage">
          </el-pagination>
          
        </div>
      </div>
    </div>
    
  </div>
</template>

<script>
import _ from 'lodash'
import eventBus from '~/services/bus';
export default {
  name: 'DashboardBodyThree',

  components:{
    TabElementRow: () => import('~/components/dashboard/share/tab-3-element-row'),
  },
  props:{
    projects:{
      type: Object,
      default: null
    },
    pageSize:{
      type: Number,
      default: 1
    }
  },
  
  data() {
    return {
      isAccept: false
    }
  },
  computed: {
      items() {
        return ( this.projects && this.projects.data && _.isArray(this.projects.data) ) ? this.projects.data : [];
      },
      itemCount() {
        return this.items ? this.items.length : 0;
      }
  },
  methods: {
    goToPage(p) {
      eventBus.$emit('onLoadProjectPage', p )
    },
    onRemoveElement(id) {
      eventBus.$emit('onReloadProjectPage')
    }
  }
}
</script>
