<template>
  <div id="body-5" class="d-block">
    <div :class="{'expert': !isClient, 'client': isClient}">
        <tab-list :projects="projects" :pageSize="pageSize"/>
        <review-summary />
        <review-list />
        <review-complete-list />
    </div>
  </div>
</template>

<script>
import _ from 'lodash';
import eventBus from '~/services/bus';
export default {
    name: 'DashboardProgressReview',
    components: {
        TabList: () => import('~/components/dashboard/share/tab-5-list'),
        ReviewSummary: () => import('~/components/dashboard/share/tab-5-summary'),
        ReviewList: () => import('~/components/dashboard/share/tab-5-review-list'),
        ReviewCompleteList: () => import('~/components/dashboard/share/tab-5-review-complete-list'),
    },
    props:{
        projects:{
            type: Object,
            default: null
        },
        pageSize:{
            type: Number,
            default: 1
        },
    },
    computed: {
        company() {
            return this.$store.getters.getCompany;
        },
        companyId() {
            return _.has(this.company, 'company_id') ? this.company.company_id : 0;
        },
        isClient() {
            return this.companyId;
        }
    }
};
</script>
