<template>
  <div id="body-4" class="d-block">
    <div class="box" v-if="projects && projects.totalRow && projects.totalRow > 0">
      <div class="d-flex justify-content-between align-items-center mb-hp">
        <div class="title-32">{{ isClient ? $t('dashboardTab41Title') : $t('dashboardTab41TitleExpert') }} ({{projects.totalRow}})</div>
      </div>
      <div class="group-table-general">
        <div style="overflow-x:auto;">
          <table class="table mb-hp">
            <thead>
              <tr class="list-item">
                <th class="w-35 title-head">{{ $t('dashboardExpert') }}</th>
                <th class="title-head text-center">{{ $t('dashboardProjectStatus') }}</th>
                <th class="title-head text-center">{{ $t('dashboardProjectStartWorkDay') }}</th>
                <th class="title-head text-center">{{ $t('dashboardPeriodExtension') }}</th>
                <th class="title-head text-center">{{ $t('action') }}</th>
                <th class="title-head text-center">{{ $t('dashboardProjectMessage') }}</th>
              </tr>
            </thead>
            <tbody>
              <TabElementRow v-for="(elem, p) in projectItems" :key="`project-progress---${p}`" :elem.sync="elem" />
            </tbody>
          </table>
          <el-pagination class="pagination d-flex align-items-center margin-bottom-40" v-if="projects && projects.totalRow > pageSize"
            background
            layout="prev, pager, next"
            :page-size="pageSize"
            :current-page="projects.current_page"
            :total="projects.totalRow"
            @current-change="goToProjectPage">
          </el-pagination>
        </div>
      </div>
    </div>
    <div class="box" v-if="payments && payments.totalRow && payments.totalRow > 0">
      <div class="d-flex justify-content-between align-items-center mb-hp">
        <div class="title-32">{{ $t('dashboardTab42Title') }} ({{payments.totalRow}})</div>
      </div>
      <div class="group-table-general mb-hp">
        <div style="overflow-x:auto;">
          <table class="table mb-hp">
            <thead>
              <tr class="list-item">
                <th class="w-35 title-head">{{ $t('dashboardExpert') }}</th>
                <th class="title-head text-center">{{ $t('dashboardTimeSupport') }}</th>
                <th class="title-head text-center">{{ $t('dashboardBillingMonth') }}</th>
                <th class="title-head text-center">{{ isClient ? $t('dashboardDeposit') : $t('dashboardApply') }}</th>
                
                <th class="title-head text-center">{{ isClient ? $t('dashboardBilling') : $t('message') }}</th>
              </tr>
            </thead>
            <tbody>
              
              <TabElementTwoRow v-for="(elem, p) in paymentItems" :key="`payment-progress---${p}`" :elem.sync="elem" />
            </tbody>
          </table>
          <el-pagination class="pagination d-flex align-items-center margin-bottom-40" v-if="payments && payments.totalRow > pageSize"
            background
            layout="prev, pager, next"
            :page-size="pageSize"
            :total="payments.totalRow"
            :current-page="payments.current_page"
            @current-change="goToPaymentPage">
          </el-pagination>
        </div>
      </div>
    </div>
  </div>
</template>

<script>
import _ from 'lodash'
import eventBus from '~/services/bus';
export default {
  name: 'DashboardBodyFour',

  components:{
    TabElementRow: () => import('~/components/dashboard/share/tab-4-element-row'),
    TabElementTwoRow: () => import('~/components/dashboard/share/tab-42-element-row'),
  },
  props:{
    projects:{
      type: Object,
      default: null
    },
    payments:{
      type: Object,
      default: null
    },
    pageSize:{
      type: Number,
      default: 1
    },
  },
  
  data() {
    return {
      isAccept: false
    }
  },
  computed: {
      company() {
          return this.$store.getters.getCompany;
      },
      companyId() {
          return _.has(this.company, 'company_id') ? this.company.company_id : 0;
      },
      isClient() {
        return this.companyId;
      },
      projectItems() {
        return ( this.projects && this.projects.data && _.isArray(this.projects.data) ) ? this.projects.data : [];
      },
      projectCount() {
        return this.projectItems ? this.projectItems.length : 0
      },
      paymentItems() {
        return ( this.payments && this.payments.data && _.isArray(this.payments.data) ) ? this.payments.data : [];
      },
      paymentCount() {
        return this.paymentItems ? this.paymentItems.length : 0
      }
  },
  methods: {
    goToProjectPage(p) {
      if( p < 1 ) { p = 1; }
      eventBus.$emit('onLoadProjectPage', p)
    },
    goToPaymentPage(p) {
      if( p < 1 ) { p = 1; }
      eventBus.$emit('onLoadPaymentPage', p)
    }
  }
}
</script>
