<template>
  <div id="body-2" class="d-block" v-if="isShow()">
    <div class="box">
      <div class="d-flex justify-content-between align-items-center mb-hp">
        <div class="title-32">{{$t('seewhoisbidding')}}({{projects.length}})</div>
      </div>
      <div class="group-table-general">
        <div style="overflow-x:auto;">
          <table class="table mb-hp">
            <thead>
              <tr class="list-item">
                <th class="w-35 title-head">{{ isClient ? $t('Expert') : $t('Project') }}</th>
                <th class="title-head text-center">{{$t('storyStatus')}}</th>
                <th class="title-head text-center">{{$t('bidder')}}</th>
                <th class="title-head text-center">{{$t('BidPrice')}}</th>
                <th class="title-head text-center">{{$t('dashboardProjectAction')}}</th>
              </tr>
            </thead>
            <tbody v-if="projects.length > 0">
              <tr class="list-item" v-for="(i, key ) in projects" :key="'project'+key">
                <td class="w-35 title-head">
                  <div class="group-item">
                    <div class="d-flex align-items-center">
                      <div class="img-thumb">
                        <img :src="avatar(i)" :alt="'none image'">
                      </div>
                      <div class="info">
                        <div class="title up"><a href="javascript:;" @click="gotoPage(i)">{{ bidTitle(i) }}</a></div>
                        <div class="title">
                          <div class="d-flex align-items-center">
                            <div class="day">{{ `SPO${i.id}` }}: {{ DurationName(i.duration_id) }}</div>
                          </div>
                        </div>
                      </div>
                    </div>
                  </div>
                </td>
                <td class="title-head text-center">{{ i.hiring == 1 ? $t('posting') : $t('ApprovalPending') }}</td>
                <td class="title-head text-center">{{ isClient ? i.profile.bid : i.project.bid }}</td>
                <td class="title-head text-center">{{ bidPrice(i) }}</td>
                <td class="title-head text-center">
                  <a v-if="isClient" href="javascript:;" :disabled="i.progress >= 1 || i.profile.hiring != 1" class="title-head text-link"
                    @click="gotoPage(i)">{{$t('Re-bid')}}</a>
                  <a v-else href="javascript:;" :disabled="i.progress >= 1 || i.project.hiring != 1" class="title-head text-link"
                    @click="gotoPage(i)">{{$t('Re-bid')}}</a>
                </td>
              </tr>
            </tbody>
          </table>
          <el-pagination class="pagination d-flex align-items-center margin-bottom-40" v-if="itemCount > pageSize"
            background
            layout="prev, pager, next"
            :page-size="pageSize"
            :total="itemCount"
            :current-page="projects.current_page"
            @current-change="goToProjectPage">
          </el-pagination>
        </div>
      </div>
    </div>
  </div>
</template>

<script>
  import eventBus from '~/services/bus';
  import { mapGetters } from "vuex";

  export default {
    data(){
      return {
        baseUnit: { ja: '¥', vi: 'đ', en: '$'}
      }
    },
    computed: {
      projects() {
        return this.project ? this.project.data : [];
      },
      itemCount() {
        return this.project.totalRow;
      },
      list_duration() {
        return this.$store.state.resource.duration
      },
      ...mapGetters({
        locale: 'getLocale',
      }),
      isClient() {
        return _.has(this.$store.getters.getCompany, 'company_id');
      }
    },
    props:['project', 'pageSize'],
    filters: {
      formatCurrency(value) {
        let val = (value/1).toFixed(0).replace(',', '.')
        return val.toString().replace(/\B(?=(\d{3})+(?!\d))/g, ",")
      },
    },
    methods:{
      goToProjectPage(p) {
        if( p < 1 ) { p = 1; }
        eventBus.$emit('onLoadProjectPage', p)
      },
      avatar(bid) {
        return _.has(bid, 'project')
          ? bid.project.image
          : bid.profile.avatar
      },
      createDate(bid) {
        return this.formatDate(_.has(bid, 'project')
          ? bid.project.created_at
          : bid.profile.created_at);
      },  
      bidTitle(bid) {
        return _.has(bid, 'project')
          ? bid.project.title
          : `${bid.profile.first_name} ${bid.profile.last_name}`;
      },
      gotoPage(bid) {
        const company = this.$store.getters.getCompany;
        const id = _.has(bid, 'project')
          ? bid.project.id
          : bid.profile.id;
        const path = _.has(company, 'company_id')
          ? this.localePath({ name: 'expert-p-id', params: {id: id}})
          : this.localePath({ name: 'project-detail-id', params: {id: id}});
        return this.$router.push(path);
      },
      bidPrice(bid) {
        const bid_price = bid[`price_${this.locale}`];
        return this.formatNumber(bid_price)
      },
      formatNumber(valueFilter) {
        if(!this.locale) return;
        const amount = valueFilter.toString().replace(/(\d)(?=(\d{3})+(?:\.\d+)?$)/g, "$1,");
        return this.locale === 'vi'
          ? `${amount}${this.baseUnit[this.locale]}`
          : `${this.baseUnit[this.locale]}${amount}`
      },
      formatDate(value) {
        const date = new Date(value),
          month_plus = date.getMonth() + 1,
          month = month_plus > 9 ? month_plus : `0${month_plus}`,
          day = date.getDate() > 9 ? date.getDate() : `0${date.getDate()}`;
        return `${date.getFullYear()}/${month}/${day}`;
      },
      isShow() {
        return this.projects.length;
      },
      DurationName(id) {
        const choisedDuration = this.list_duration.find(n => n.id === id);
        return choisedDuration ? choisedDuration.name : this.$t('none');
      }
    },
  }
</script>
<style scoped>
  a[disabled] {
    background-color: #d2d2d2 !important;
    border-color: #d2d2d2 !important;
    cursor: not-allowed;
    pointer-events: none;
  }
</style>
