<template>
  <div id="body-1" class="d-block">
    <div class="box" v-if="itemCount > 0">
      <div class="d-flex justify-content-between align-items-center mb-hp">
        <div class="title-32">{{ isClient ? $t('projectManagement') : $t('profileManagement') }}({{ itemCount }})</div>
      </div>
      <div class="group-table-general">
        <div style="overflow-x:auto;">
          <table class="table mb-hp">
            <thead>
              <tr class="list-item">
                <th class="w-35 title-head">{{ isClient ? $t('Project') : $t('profile') }}</th>
                <th class="title-head text-center">{{ $t('dashboardProjectStatus') }}</th>
                <th class="title-head text-center">{{ $t('dashboardProjectListingBudget') }}</th>
                <th class="title-head text-center">{{ $t('NumberPV') }}</th>
                <th class="title-head text-center">{{ $t('dashboardProjectBidHistory') }}</th>
              </tr>
            </thead>
            <item-project-bid v-for="(elem, p) in items" :key="`project-bid---${p}`" :elem="elem" />
          </table>
          <el-pagination class="pagination d-flex align-items-center margin-bottom-40" v-if="itemCount > pageSize"
            background
            layout="prev, pager, next"
            :page-size="pageSize"
            :total="itemCount"
            :current-page="projects.current_page"
            @current-change="goToProjectPage">
          </el-pagination>
        </div>
      </div>
    </div>
    <div class="box" v-if="countBlog > 0">
      <div class="d-flex justify-content-between align-items-center mb-hp">
        <div class="title-32">{{ $t('dashboardStoryManagement') }} ({{ countBlog }})</div>
      </div>
      <div class="group-table-general">
        <div style="overflow-x:auto;">
          <table class="table mb-hp">
            <thead>
              <tr class="list-item">
                <th class="w-35 title-head">{{ $t('storyName') }}</th>
                <th class="title-head text-center">{{ $t('storyStatus') }}</th>
                <th class="title-head text-center">{{ $t('storyComment') }}</th>
                <th class="title-head text-center">{{ $t('storyPV') }}</th>
              </tr>
            </thead>
            <tbody>
              <tr class="list-item" v-for="(elem, p) in itemsBlog" :key="`blog-item---${p}`">
                <td class="w-35 title-head">
                  <div class="group-item">
                    <div class="d-flex align-items-center">
                      <div class="img-thumb">
                        <img v-if="elem.blog_image" :src="elem.blog_image" :alt="elem.title">
                        <img v-else src="~/assets/images/upload/hp-order-4.png" :alt="elem.title">
                      </div>
                      <div class="info">
                        <div class="title up">{{ elem.title }}</div>
                        <div class="title ">
                          <div class="d-flex justify-content-between">
                            <div class="day">{{ $t('Editdate') }}: {{ elem.created_at | formatDate }}</div>
                          </div>
                        </div>
                      </div>
                    </div>
                  </div>
                </td>
                <td class="title-head text-center">
                  <div>{{ elem.status == 1 ? $t('statusPostPosted') : $t('statusPostStop') }}</div>
                  <div style="font-size: 12px;">({{ $t('Favorites') }}: {{ elem.wishlist }})</div>
                </td>
                <td class="title-head text-center">{{ elem.notification }}</td>
                <td class="title-head text-center">
                  <span>{{ elem.hit }}</span>
                </td>
              </tr>
            </tbody>
          </table>
          <el-pagination class="pagination d-flex align-items-center margin-bottom-40" v-if="countBlog > pageSize"
            background
            layout="prev, pager, next"
            :page-size="pageSize"
            :total="countBlog"
            :current-page="blogs.current_page"
            @current-change="goToBlogPage">
          </el-pagination>
        </div>
      </div>
    </div>
  </div>
</template>

<script>
  import {mapGetters, mapActions} from 'vuex'
  import _ from 'lodash'
  import eventBus from '~/services/bus'

  export default {
    name: 'DashboardBodyOne',
    props:{
      projects:{
        type: Object,
        default: null
      },
      blogs:{
        type: Object,
        default: null
      },
      pageSize: {
        type: Number,
        default: 1
      }
    },
    components: {
      ItemProjectBid: () => import('~/components/dashboard/share/ItemProjectBid'),
    },
    filters: {
      formatDate(value) {
        const date = new Date(value),
          month_plus = date.getMonth() + 1,
          month = month_plus > 9 ? month_plus : `0${month_plus}`,
          day = date.getDate() > 9 ? date.getDate() : `0${date.getDate()}`;
        return `${date.getFullYear()}/${month}/${day}`;
      },
    },
    data() {
      return {
        data: {
          page_blog: 0,
          limit_blog: 3,
        }
      }
    },
    computed: {
      items() {
        return ( this.projects && this.projects.data && _.isArray(this.projects.data) ) ? this.projects.data : [];
      },
      itemCount() {
        return this.items ? this.projects.totalRow : 0;
      },
      itemsBlog() {
        return ( this.blogs && this.blogs.data && _.isArray(this.blogs.data) ) ? this.blogs.data : [];
      },
      countBlog() {
        return this.blogs ? this.blogs.totalRow : 0;
      },
      isClient() {
        return _.has(this.$store.getters.getCompany, 'company_id');
      }
    },
    methods: {
      goToProjectPage(p) {
        eventBus.$emit('onLoadProjectPage', p)
      },
      goToBlogPage(p) {
        eventBus.$emit('onLoadBlogPage', p)
      },
    },
    mounted() {

    }
  }
</script>
