<template>
    <div class="clock">
        <div class="clock-circle"></div>
        <div class="hour-hand" :style="{transform:hourRotate}"></div>
        <div class="minute-hand" :style="{transform:minuteRotate}"></div>
        <div class="second-hand" :style="{transform:secondRotate}"></div>
        <span class="clock-hour" v-for="i in 12"><span></span></span>
    </div>
</template>

<script>
export default {
    data() {
        return {
            transform: "scale(1)",
            hourRotate: "rotatez(0deg)",
            minuteRotate: "rotatez(0deg)",
            secondRotate: "rotatez(0deg)"
        };
    },
    props: ["timezone"],
    watch: {
        time() {
            this.show();
        }
    },
    methods: {
        show() {
            this.showTime();
            if (this._timer) clearInterval(this._timer);
            this._timer = setInterval(() => {
                this.showTime();
            }, 1000);
        },
        showTime() {
            let times;
            if (this.timezone) {
                var dt = new Date().toLocaleString("en-US", {
                    timeZone: this.timezone
                });
                dt = new Date(dt);
                times = [dt.getHours(), dt.getMinutes(), dt.getSeconds()];
            } else {
                const now = new Date();
                times = [now.getHours(), now.getMinutes(), now.getSeconds()];
            }
            let hour = +times[0];
            hour = hour > 11 ? hour - 12 : hour;
            let minute = +times[1];
            let second = +times[2] || 0;
            let hourAngle = hour * 30 + minute * 6 / 360 * 30;
            let minuteAngle = minute * 6;
            let secondAngle = second * 6;
            this.hourRotate = `rotatez(${hourAngle}deg)`;
            this.minuteRotate = `rotatez(${minuteAngle}deg)`;
            this.secondRotate = `rotatez(${secondAngle}deg)`;
        }
    },
    mounted() {
        let scale = this.$el.clientWidth / 120;
        scale = scale > 3 ? 3 : scale;
        this.transform = `scale(${scale})`;
        this.show();
    },
    destroyed() {
        if (this._timer) clearInterval(this._timer);
    }
};
</script>

<style lang="scss" scoped>
$angle: 30deg;
$color-primary: #d2d2d2;
.clock {
    position: absolute;
    margin: auto;
    top: 0;
    left: 0;
    right: 0;
    height: 120px;
    width: 120px;
    background-color: #fff;
    border-radius: 50%;
    border: 10px solid #d2d2d2;
}
.clock-circle {
    position: absolute;
    top: 50%;
    left: 50%;
    width: 4px;
    height: 4px;
    transform: translate(-50%, -50%);
    border-radius: 50%;
    background-color: #000;
    z-index: 1;
    box-sizing: border-box;
}
.hour-hand,
.minute-hand,
.second-hand {
    position: absolute;
    top: 10%;
    left: 50%;
    display: block;
    width: 2px;
    height: 40%;
    margin-left: -1px;
    transform-origin: bottom;
    background-color: $color-primary;
}
.hour-hand {
    top: 25%;
    width: 2px;
    height: 25%;
    margin-left: -2px;
}
.second-hand {
    width: 1px;
}
.clock-hour {
    position: absolute;
    top: 0px;
    left: 50%;
    display: block;
    width: 4px;
    height: 50%;
    margin-left: -2px;
    padding-top: 4%;
    transform-origin: bottom;
    user-select: none;
    box-sizing: border-box;
    > span {
        display: block;
        width: 2px;
        height: 2px;
        border-radius: 50%;
        background: #2c96ec;
    }
}
@for $i from 2 through 12 {
    .clock-hour:nth-of-type(#{$i}) {
        transform: rotatez(#{$angle * ($i - 1)});
        > span {
            transform: rotatez(#{-$angle * ($i - 1)});
        }
    }
}

</style>