<template>
  <section v-if="isSuccess">
    <div class="container">
      <div class="group-top-content_c14">
        <div class="clearfix">
          <div class="group-left">
            <div class="content">
              <PageOne :objData.sync="objData" :applied="apply"/>
              <PageTwo :objData.sync="objData"/>
              <PageThree :objData.sync="objData"/>
              <PageFour :objData.sync="objData"/>
              <PageFive :company-verify="objData.company.verify"/>
            </div>
          </div>
          <div class="group-right">
            <GroupRightProject v-if="isSuccess && apply" :objData="objData" :applied="apply"/>
          </div>
        </div>
        <GroupUpContent v-if="isSuccess && apply"
          :objData="objData"
          :applied="apply"
          :total="AppliedTotalRow"
          :change-page-applied="changePageApplied"/>
      </div>
    </div>
    <modal v-if="isShowModalIndex == 13" @close="onShowModal()">
      <div slot="body">
        <Report :objData="objData" @onShowModal="onShowModal" @closeModal="onShowModal($event)" />
      </div>
    </modal>
  </section>
</template>

<script>
  import {mapGetters, mapActions} from "vuex";
  import _ from 'lodash';
  import eventBus from '~/services/bus';

  export default {
    name: 'ProjectApplied',
    layout: "custom",
    components: {
      Report: () => import("~/components/project/share/ModalReport.vue"),
      Modal: () => import("~/components/share/Modal"),
      GroupRightProject: () => import('~/components/project/share/GroupRightProject'),
      ModalTicket: () => import('~/components/project/share/ModalTicket'),
      PageOne: () => import('~/components/project/PageDetailOne'),
      PageTwo: () => import('~/components/project/PageDetailTwo'),
      PageThree: () => import('~/components/project/PageDetailThree'),
      PageFour: () => import('~/components/project/PageDetailFour'),
      PageFive: () => import('~/components/project/PageDetailFive'),
      GroupUpContent: () => import('~/components/project/GroupUpContent'),
      Favorite: () => import('~/components/share/header/Favorite'),
    },
    transition (to, from) {
      return 'out-in'
    },
    data() {
      return {
        isShowModalIndex: 0,
        loading_button: false,
        totalSizeSkill: 2,
        loadMoreSize: 2,
        totalSizeWork: 2,
        AppliedTotalRow: 0,
        objData: {
          project: {},
          skills: [],
          languages: [],
          workEnvironments: [],
          durations: []
        },
        params: {
          project_id: this.$route.params.id,
          sort: "created_at",
          order: "ASC",
          pageIndex: 0,
          pageSize: 5
        },
        apply: [],
        isSuccess: false,
        currentType: {},
        projectParam: {
          project_id: 0,
          company_id: 0,
        }
      };
    },
    methods: {
      ...mapActions({
        getDetailProject: "project/post/getShowProject",
        getContentTranslate: "project/post/getProjectTranslation",
        getApplyProjects: "project/applyProject/getApplyProjects",
      }),
      onShowModal(index) {
        this.isShowModalIndex = index;
      },
      translateContent() {
        this.loading_button = true;
        this.getContentTranslate({
          project_id: this.$route.params.id,
          language_code: localStorage.getItem("location")
        }).then(response => {
          this.loading_button = false;
          this.contentTrans = response.data.content;
        });
      },
      async getDetail() {
        const response = await this.getDetailProject(this.projectParam);
        this.objData = response.data;
        eventBus.$emit('updateObjectWishlist', response.data);
        this.objData.project.way_working = JSON.parse(response.data.project.way_working);
        this.isSuccess = true;
        eventBus.$emit('Favorite', {objData: this.objData})
        eventBus.$emit('ImageProject', this.objData.project.image);
      },
      async getApplied(params) {
        const response = await this.getApplyProjects(params);
        this.apply = response.data;
        this.AppliedTotalRow = this.apply.totalRow;
      },
      changePageApplied(pageIndex) {
        this.getApplied({
          project_receive_id: this.$route.params.id,
          pageIndex: pageIndex,
          pageSize: 2
        });
      },
      shareProject() {
        eventBus.$emit('onShare');
      },
      setStorageProject() {
        localStorage.setItem('project_id', this.$route.params.id);
      }
    },
    computed: {
      workEnvironments() {
        let arr = this.objData.workEnvironments;
        let list = arr.slice(0, this.totalSizeWork);
        return list;
      },
      listSkill() {
        let arr = this.objData.skills;
        let list = arr.slice(0, this.totalSizeSkill);
        return list;
      },
      content() {
        if (this.objData == null || this.objData.project == null || this.objData.project.content == null) {
          return '';
        }
        let text = this.objData.project.content
        let list = text != null ? text.slice(0, this.totalContent) : ''
        return list;
      },
      loggedIn() {
        return this.$store.getters.loggedIn
      },
    },
    watch: {
      '$route.params': function(newVal) {
        this.setStorageProject();
        window.location.reload();
      }
    },
    mounted() {
      this.currentType = this.$store.getters.getCompany;
      this.projectParam.project_id = this.$route.params.id;
      this.projectParam.company_id = 0;
      this.setStorageProject();
      if (_.has(this.currentType, 'company_id')) {
        this.projectParam.company_id = this.currentType.company_id;
      }
      eventBus.$on('onShowModalReport', e => (this.isShowModalIndex = 13));
      this.getDetail();

      this.getApplied({
        project_receive_id: this.$route.params.id,
        pageIndex: 1,
        pageSize: 2
      });

    }
  };
</script>

<style>
</style>
