<template>
    <div class="wp-page">
        <AppModal></AppModal>
        <div class="sticky-top" style="background: #26325D;">
            <header class="panel-head-in-total">
                <div class="d-flex align-items-center">
                    <SiteLogo></SiteLogo>
                    <div class="title">
                        <nuxt-link class="text-white" :to="localePath({ name :'project-detail-id', params: { id: id } })">
                            <span class="icon">
                                <i class="fas fa-chevron-left"></i>
                            </span>
                            <span class="texts">{{ $t('webBackToProjectDetail') }}</span>
                        </nuxt-link>
                    </div>
                </div>
            </header>
            <div class="progress custom-progress">
                <div class="progress-bar custom-progress-bar" style="width:100%;"></div>
            </div>
        </div>

        <div class="group-order clearfix group_c133">
            <div class="container">
                <div class="row">
                    <div class="col-lg-6 col-md-8 col-12 mb-md-0 mb-4">
                        <div class="group-left_c133">
                            <TicketForm :item="project" v-bind:type="1" @onSendTicket="onSendTicket" v-bind:loading="loading"></TicketForm>
                        </div>
                    </div>

                    <div class="col-lg-4 col-md-4 col-12 mb-md-0 mb-4 offset-lg-2">
                        <div class="group-right_c133">
                            <div class="wp-product-hp wp-order mb-hp prd-2">
                                <section class="panel-body-prd">
                                    <ProjectSummary v-if="projectDetail" :item="project"></ProjectSummary>
                                </section>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</template>

<script>
    import { mapActions, mapGetters } from 'vuex';
    import eventBus from "~/services/bus";
    export default {
        name: "ProjectTicket",
        layout:'fullpage',
        components:{
            SiteLogo: () => import('~/components/share/Logo'),
            ProjectSummary:() => import('~/components/project/share/Summary'),
            TicketForm:() => import('~/components/ticket/Form'),
            AppModal: () => import("~/components/share/AppModal"),
        },
        data() {
            return {
                project: null,
                id: 0,
                loading: false,
            }
        },
        created() {

          this.id = this.$route.params.id;
        },
        computed:{
            ...mapGetters({
               meId: 'getUserId',
               company: 'getCompany'
            }),
            projectDetail() {
                return this.project != null && this.project.project != null ? this.project.project: null
            },
            projectDuration() {
                return this.project != null && this.project.durations != null ? this.project.durations: []
            },

            projectId() {
                return this.projectDetail != null && this.projectDetail.project_id != null ? parseInt(this.projectDetail.project_id) : 0;
            },
            companyId() {
                return this.projectDetail != null && this.projectDetail.company_id != null ? parseInt(this.projectDetail.company_id) : 0;
            },
            myCompanyId() {
                return this.company && this.company.company_id ? this.company.company_id : null
            }
        },

        mounted() {
            this.getProjectDetail();
        },
        methods:{
            ...mapActions({
                getShowProject: 'project/post/getShowProject',
                getConversation: 'messenger/getConversation',
                sendMessage: 'messenger/sendMsg',
            }),

            getProjectDetail() {
                if( this.id > 0 ) {
                    this.loading = true;
                    let params = { project_id: this.id };
                    this.getShowProject( params )
                        .then( ( response ) => {
                            this.project = response.data;
                        } )
                        .catch( (error) => {

                        })
                        .finally( () => {
                            this.loading = false;
                        });
                }
            },
            onSendTicket(message) {
                let params = [{
                    type: 2,
                    id: this.companyId,
                }];
                
                if( this.myCompanyId && this.myCompanyId != this.companyId ) 
                {
                    params.push({
                        id: this.myCompanyId,
                        type: 2
                    });
                }

                let me = this;
                this.loading = true;
                this.getConversation( params )
                    .then( (response) => {
                        let discussionId = response.data.id;
                        message.discussionId = discussionId;
                        this.sendMessage( message )
                            .then( (response) => {
                                this.showNotification(this.$t('webNotificationTitle'), response.message,'success')
                                me.$router.push(this.localePath({ name: 'messenger', query: {discussionId: discussionId} }) )
                                
                            } )
                            .catch( ( error ) => {
                                this.showNotification(this.$t('webNotificationTitle'), error.message,'error')
                            } )
                            .finally( () => {
                                this.loading = false;
                            });
                    })
                    .catch( (error) => {
                        this.showNotification(this.$t('webNotificationTitle'), error.message,'error')
                    } )
                    .finally( () => {
                        this.loading = false;
                    });
            }
        }
    }
</script>

<style scoped>
.group_c133{
    height: calc(100vh - 111px);
}
.img-thumb{
    z-index: 0;
}
.item-prd-vote .img-thumb::before{
    z-index: 0
}
</style>