<template>
  <a href="javascript:;" class="icon d-block" v-bind:class="{'custom': custom }"
    @click="onModalWishList"
    @showModalIndexUpdate="isShowModalIndex = $event">
    <i class="far fa-heart" v-if="custom" />
    <img src="~/assets/images/icon/heart.png" v-else />
  </a>
</template>

<script>
  import eventBus from '~/services/bus';
  import _ from 'lodash';
  import {mapGetters} from 'vuex';

  export default {
    name: 'Favorite',
    props: {
      type: {
        type: Number
      },
      object_id: {
        type: [Number, String]
      },
      is_yourself: {
        default: 0,
        type: Number
      },
      custom: {
        type: Number,
        default: 0
      },
      objData: {
        type: Object
      }
    },
    data() {
      return {
        isShowModalIndex: 0,
      }
    },
    computed: {
      ...mapGetters({
        company: 'getCompany',
      })
    },
    mounted() {
    },
    methods: {
      onShowModal(index) {
        this.isShowModalIndex = index;
      },
      onModalWishList() {
        if (this.is_yourself) return;
        if (!this.loggedIn) {
          eventBus.$emit('onLogin');
        } else {
          _.has(this.company, 'company_id')
            || eventBus.$emit('onFavoriteModal', {type: parseInt(this.type), object_id: parseInt(this.object_id), objData: this.objData});
        }
      },
      loggedIn() {
        return this.$store.getters.loggedIn
      }
    }
  }
</script>

<style scoped>
  a.custom {
    z-index: 9999;
    height: 30px;
    width: 30px;
  }
  .icon > i {
    font-size: 30px;
  }
  a.custom > img {
    height: auto;
    width: 100%;
    z-index: 999;
  }
</style>
