<template>
  <div class="container">
    <div class="row" v-if="data">
      <div class="col-12">
        <div class="group-upper-header">
          <div class="group-info-avarta">
            <div class="img-thumb">
              <a href="javascript:;" class="image">
                <img :src="data.avatar" alt="" class="img-fluid">
              </a>
            </div>
            <div class="info">
              <div class="d-flex align-items-center">
                <div class="name padding-right-30">{{ data.title }}</div>
                <div class="group-flag">
                  <img :src="data.icon" alt="">
                </div>
              </div>
              <div class="group-links-avatar">
                <div class="group-edit mr-3">
                  <a href="javascript:;"
                    title="" class="item-edit"
                    @click="followCompany">{{ followTitle }}</a>
                  <!-- <a href="javascript:;" v-else
                      title="" class="item-edit"
                     @click="showDialogEditBasicExpert">{{$t('edit')}}</a> -->
                </div>
                <div class="wp-link-web mr-3">
                  <a href="javascript:;" title="" class="links-web">{{ data.url }}</a>
                </div>
                <div class="address mr-3">
                  <div class="icon"><img src="~assets/images/icon/location-point.png" alt="">
                  </div>
                  <div class="texts">{{ data.address1 }}</div>
                </div>
              </div>
            </div>
          </div>
          <slot name="body"></slot>
        </div>
      </div>
    </div>
    <el-dialog :visible.sync="dialogEditBasicExpert" width="50%">
      <BasicInformation @close="dialogEditBasicExpert = false"/>
    </el-dialog>
  </div>
</template>
<script>
  import { followOrUnFollow } from '~/services/follow';

  export default {
    name: 'HeaderProjectCustom',
    props: {
      value: {
        type: Object
      }
    },
    data() {
      return {
        data: null,
        followParams: {
          company_id: 0,
          object_name: 'client',
          object_id: 0,
        },
        followTitle: '',
        dialogEditBasicExpert: false,
      }
    },
    methods: {
      async followCompany() {
        if(this.data.is_owner == 1){
          this.showNotification( this.$t('Error'),this.$t('cantFollow'), 'error' );
        }else{
          this.data.is_follow = !this.data.is_follow;
          this.setFollowTitle();
          const response = await followOrUnFollow(this.followParams);
        }
        
      },
      setFollowTitle() {
        this.followTitle = this.data.is_follow
          ? this.$t('Unfollow')
          : this.$t('Follow');
      },
      showDialogEditBasicExpert() {
        this.dialogEditBasicExpert = true;
      },
    },
    mounted() {
      this.data = {...this.value};
      this.followParams.object_id = this.data.id;
      this.setFollowTitle();
    }
  }
</script>
<style>
</style>
