<template>
<div class="group-bg-cover_ha" :style ="getStyle()">
  <div class="container">
    <div class="wp-banner position-banner mb-hp" :style ="getStyle()">
      <div @click="openDialogUpload" v-if="is_yourself">
        <AnimationIconCamera/>
      </div>
      <el-dialog :title="$t('UploadCover')" v-if="dialog" :visible.sync="dialog" width="40%" :append-to-body="true"
                :close-on-click-modal="false" @close="closeDialogUpload">
        <CropImage v-loading="loading"
                  v-model="image"
                  :aspectRatio="16/9"/>
        <span slot="footer" class="dialog-footer">
          <el-button type="primary" @click="onUploadImage" :loading="loading" :disabled="!image">{{$t('Upload')}}</el-button>
        </span>
      </el-dialog>
      <div class="img-thumb" v-if="hasImage()">
        <a href="javascript:;" title="" class="image">
          <!-- <img :src="src" alt="" class="img-fluid img-cover"> -->
        </a>
      </div>
      <div class="img-thumb-default" v-else>
        <a class="add-cover-photo-link disabled" href="#">
          <div class="icon"><i class="fas fa-image"></i></div>
          <div class="texts">Update cover image</div>
        </a>
      </div>
      <div class="group-ovelay">
        <div class="container">
          <div class="row">
            <div class="col-12">
              <div class="group-ovelay-icon">
                <div class="d-flex align-items-center">
                  <favorite :object_id="object_id" :type="type" :objData="objData" :is_yourself="isYourSelf()"/>
                  <!-- <favorite :object_id="object_id" :objData="objData" :type="type" :is_yourself="is_yourself()" /> -->
                  <a href="javascript:;" class="icon d-block" @click="shareExpert">
                    <img src="~/assets/images/icon/shre.png" alt="">
                  </a>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>


</template>

<script>
  import config from '~/config'
  import eventBus from '~/services/bus';
  import AnimationIconCamera from './HeadBanner/AnimationIconCamera'
  import {mapGetters} from 'vuex'

  const IMAGES = ['1570568700-cover_member.png', '1569401613-no-image.png', '1570568700-cover_member.png'];

  export default {
    props: {
      src: {
        type: String
      },
      url: {
        type: String
      },
      object_id: {
        type: [String, Number]
      },
      type: {
        type: [String, Number]
      },
      is_yourself: {
        type: Number
      },
      objData: {
        type: Object
      }
    },
    data() {
      return {
        dialog: false,
        loading: false,
        image: null,
      }
    },
    components: {
      Favorite: () => import('~/components/share/header/Favorite'),
      CropImage: () => import('~/components/share/UploadAvatarCover/CropImage'),
      AnimationIconCamera
    },
    computed: {
      ...mapGetters({accessToken: 'accessToken'})
    },
    methods: {
      shareExpert() {
        eventBus.$emit('onShare', {url: this.url});
      },
      isYourSelf() {
        const currentUser = this.$store.getters.getCompany;
        return _.has(currentUser, 'company_id') ? 1 : 0;
      },
      hasImage() {
        let hasImg = false;
        _.each(IMAGES, i => (hasImg = hasImg || (this.src.indexOf(i) === -1)));
        return hasImg;
      },
      openDialogUpload() {
        this.dialog = true
      },
      closeDialogUpload() {
        this.image = null;
        this.dialog = false
      },
      async onUploadImage() {
        this.loading = true
        var xhr, formData;
        xhr = new XMLHttpRequest();
        xhr.withCredentials = false;
        xhr.open('POST', config.apiUrl + '/images/upload');
        xhr.setRequestHeader('Authorization', `Bearer ${this.accessToken}`);
        xhr.onload = () => {
          this.loading = false;
          var json;
          if (xhr.status != 200) {
            this.$message('HTTP Error: ' + xhr.status, 'error')
            return;
          }
          json = JSON.parse(xhr.responseText);
          this.onUpdateCover(json)
        };
        formData = new FormData();
        formData.append('file', this.image, 'image');
        xhr.send(formData);
      },
      async onUpdateCover(value) {
        const {location, storage_domain} = value;
        let obj = {
          cover: location,
          company_id: +this.type === 2 ? this.object_id : 0
        }
        const {success} = await this.$store.dispatch('members/profile/expert/updateAvatarCover', obj)
        if (success) {
          this.$emit('update:src', storage_domain + location)
          this.closeDialogUpload();
        }
      },
      getStyle() {
        if(!this.hasImage()) return;
        return `background: url('${this.src}') no-repeat center center`;
      }
    }
  }
</script>

<style scoped >
  .group-bg-cover_ha{
      width: 100%;
      background-size: 100% !important;
  }
  .wp-banner.position-banner{
    width: 100%;
    background-size: 100% !important;
  }
  .disabled {
    cursor: not-allowed;
    pointer-events: none;
  }
</style>
