<template>
    <div class="container">
        <div class="row" v-if="data">
            <div class="col-12">
                <div class="group-upper-header">
                    <div class="group-info-avarta">
                        <div class="img-thumb">
                            <a href="javascript:;" class="image">
                                <img :src="data.avatar" alt="" class="img-fluid">
                            </a>
                        </div>
                        <div class="info">
                            <div class="d-flex align-items-center">
                                <div class="name padding-right-30">{{data.first_name + ' ' + data.last_name}}</div>
                                <div class="group-flag">
                                    <img :src="data.nation_icon" alt="">
                                </div>
                            </div>
                            <div class="group-links-avatar">
                                <div class="group-edit mr-3"><a href="javascript:;" title="" class="item-edit">フォロー</a>
                                </div>
                                <div class="wp-link-web mr-3"><a href="javascript:;" title="" class="links-web">{{data.url}}</a></div>
                                <div class="address mr-3">
                                    <div class="icon"><img src="~assets/images/icon/location-point.png" alt="">
                                    </div>
                                    <div class="texts">{{data.nation_name}}</div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <slot name="body"></slot>
                </div>
            </div>
        </div>
    </div>
</template>
<script>
    export default {
        props: {
            value: {
                type: Object
            }
        },
        data() {
            return {
                data: null
            }
        },
        mounted() {
            this.data = {...this.value};
        }
    }
</script>
<style>
</style>
