<template>
  <div class="new-header-guide" id="pc-header-new">
    <div class="container">
      <header class="pc-header inside-page" id="inside-page">
            <div class="upper-header-new" id="topbar">
                <div class="container-fluid">
                    <div class="d-flex flex-wrap align-items-center">
                        <h1 class="logo logo-inside m-0">
                            <a href="index" title="" class="image"><img src="~assets/images/image-newDesign/logo-color.png" alt=""></a>
                        </h1>
                        <div class="upper-head-menu-new  ml-0 pl-lg-5">
                            <div class="box-menu-header-inside-new">
                                <ul class="list-menu-guide-new list">
                                    <li class="item-menu active">
                                        <a href="a111" title="" class="text-link heading-19">クライアント</a>
                                    </li>
                                    <li class="item-menu">
                                        <a href="a112" title="" class="text-link heading-19">エキスパート</a>
                                    </li>
                                    <li class="item-menu">
                                        <a href="a113" title="" class="text-link heading-19">依頼&安心</a>
                                    </li>
                                    <li class="item-menu">
                                        <a href="a114" title="" class="text-link heading-19">収益計画</a>
                                    </li>
                                    <li class="item-menu">
                                        <a href="a115" title="" class="text-link heading-19">ビジネスサポート</a>
                                    </li>
                                </ul>
                            </div>
                        </div>
                        <div class="btn-head-right-new ml-sm-auto ml-0">
                            <div class="head-right-new">
                                <a href="index" title="" class="item heading-19">はじめる</a>
                            </div>
                        </div>
                        <div class="bar-menu-inside ml-auto"><i class="fas fa-bars"
                                style="    color: #fff; font-size: 20px;"></i></div>
                    </div>
                </div>
            </div>

        </header>
    </div>
  </div>
</template>

<script>
export default {
  data() {
    return {
      dialogSignUp: false
    }
  },
};
</script>

<style lang="scss" scoped>
@media (min-width: 1200px) {
  .container-1760-header {
    max-width: 1760px !important;
  }
}
.list-menu-guide-new .item-menu{
  padding: 0 30px;
}
.list-menu-guide-new .item-menu .text-link{
  color: #3c3c3c;
  font-size: 13px;
  position: relative;
  display: block;
  height: 58px;
  line-height: 58px;
  font-weight: bold;
}
.list-menu-guide-new .item-menu .text-link::before{
  content: "";
  display: block;
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 3px;
  background: #ffffff;
}
.logo.logo-inside{
  height: 58px;
  line-height: 58px;
}
.logo.logo-inside .image{
  display: block;
}
.logo.logo-inside .image{
  height: 32px;
}
.list-menu-guide-new .item-menu:hover .text-link{
  color: #00B4DB;
}
.list-menu-guide-new .item-menu.active .text-link{
  color: #00B4DB;
}
.list-menu-guide-new .item-menu.active .text-link::before{
  display: block;
  background: #00B4DB;
}
.btn-head-right-new{
  height: 58px;
  line-height: 58px;
}
.btn-head-right-new .head-right-new .item{
  font-size: 13px;
  font-weight: bold;
  color: #ffffff;
  display: inline-block;
  min-width: 98px;
  text-align: center;
  height: 30px;
  line-height: 30px;
  border-radius: 10px;
  background: #F87702;
}

// *****************************************
</style>
