<template>
    <div class="a111-new client-new">
        <div class="body-min">
            <div class="wp-banner-new banner-a cover-new">
                <div class="img-thumb"><a href="JavaScript:void(0);" title="" class="image">
                    <img src="~assets/images/upload/banner-a111.png" alt="" class="img-fluid img-cover"></a>
                </div>
                <div class="content-banners right">
                    <div class="container">
                        <div class="content-cover text-right">
                            <div class="title head">クライアントとは？</div>
                            <div class="intro">AIサポート/手動により希望の採用報酬やプロジェクト期間を設定！</br> あとはエキスパートからの入札を待つだけです</div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="container max-910">
                <div class="row">
                    <div class="col-12 m-auto ">
                        <div class="wp-recruit-personnel-new pb-120">
                            <div class="recruit-personnel">
                                <header class="panel-head-general panel-head-general-new text-center">
                                    <div class="rule-head mx-auto"></div>
                                    <h3 class="title-big heading-42">3ステップだけで簡単にIT人材を採用</h3>
                                </header>
                                <section class="panel-body">
                                    <ul class="list-recruit-new row">
                                        <li class="col-lg-4 col-md-4 col-sm-12 col-12 mb-md-0 mb-3">
                                            <div class="item-recruit-new">
                                                <div class="number">1</div>
                                                <div class="name-title ">
                                                    <div class="title d-block heading-26">プロジェクトを募集</div>
                                                </div>
                                                <div class="description heading-18">頼みたい仕事内容、求めるスキル、採用期間や時期、求める働き方をご選択
                                                </div>
                                            </div>
                                        </li>

                                        <li class="col-lg-4 col-md-4 col-sm-12 col-12 mb-md-0 mb-3">
                                            <div class="item-recruit-new">
                                                <div class="number">2</div>
                                                <div class="name-title"> 
                                                    <div class="title d-block heading-26">エキスパートが入札</div>
                                                </div>
                                                <div class="description heading-18">条件に合うグローバル人材があなたの募集したプロジェクトを入札
                                                </div>
                                            </div>
                                        </li>

                                        <li class="col-lg-4 col-md-4 col-sm-12 col-12 mb-md-0 mb-3">
                                            <div class="item-recruit-new">
                                                <div class="number">3</div>
                                                <div class="name-title"> 
                                                    <div class="title d-block heading-26">エキスパートを採用</div>
                                                </div>
                                                <div class="description heading-18">あなたのプロジェクトを入札したエキスパートから気になる人材を採用
                                                </div>
                                            </div>
                                        </li>

                                    </ul>
                                </section>
                            </div>
                        </div>

                        <div class="wp-recruit-personnel-new pb-120">
                            <div class="recruit-personnel-new">
                                <header class="panel-head-general-new text-center">
                                    <div class="rule-head mx-auto"></div>
                                    <h3 class="title-big heading-42">貸切採用という新しい採用のカタチ</h3>
                                </header>
                                <section class="panel-body">
                                    <ul class="list-recruit row">
                                        <li class="col-lg-4 col-md-4 col-sm-12 col-12 mb-md-0 mb-3">
                                            <div class="item-recruit-new">
                                                <div class="name-title ">
                                                    <div class="title d-block heading-26">必要な期間だけ貸切</div>
                                                </div>
                                                <div class="description heading-18">
                                                    スキルやポートフォリオ、報酬額、採用期間から希望に合う人材を採用
                                                </div>
                                            </div>
                                        </li>

                                        <li class="col-lg-4 col-md-4 col-sm-12 col-12 mb-md-0 mb-3">
                                            <div class="item-recruit item-recruit-new">
                                                <div class="name-title"> <div class="title d-block heading-26"> すべての機能が完全無料 </div>
                                                </div>
                                                <div class="description heading-18"> プラットフォーム利用料、掲載料、紹介料など全てを完全無料でご利用可能
                                                </div>
                                            </div>
                                        </li>

                                        <li class="col-lg-4 col-md-4 col-sm-12 col-12 mb-md-0 mb-3">
                                            <div class="item-recruit item-recruit-new">
                                                <div class="name-title"> <div class="title d-block heading-26"> 柔軟な支払い方法 </div> </div>
                                                <div class="description heading-18">クレジットカード/請求書払いによりプロジェクトの成果報酬をお支払い
                                                </div>
                                            </div>
                                        </li>
                                    </ul>
                                </section>
                            </div>
                        </div>

                        <div class="wp-recruit-personnel pb-120">
                            <div class="recruit-personnel-new">
                                <header class="panel-head-general-new text-center">
                                    <div class="rule-head mx-auto"></div>
                                    <h3 class="title-big heading-42"> SPOTECHに集まる世界中のトップ人材 </h3>
                                </header>
                                <section class="panel-body">
                                    <ul class="list-recruit row">
                                        <li class="col-lg-4 col-md-4 col-sm-12 col-12 mb-md-0 mb-3">
                                            <div class="item-recruit item-recruit-new">
                                                <div class="name-title "><div class="title d-block heading-26"> トップ20%のみ審査通過 </div>
                                                </div>
                                                <div class="description heading-18"> 運営側やAIによりSPOTECHに登録したエキスパートを独自審査します
                                                </div>
                                            </div>
                                        </li>

                                        <li class="col-lg-4 col-md-4 col-sm-12 col-12 mb-md-0 mb-3">
                                            <div class="item-recruit item-recruit-new">
                                                <div class="name-title"> <div class="title d-block heading-26"> トップ人材へランク付与 </div>
                                                </div>
                                                <div class="description heading-18"> 人材のランクをブロンズ、シルバー、ゴールドの3種類に分けて審査
                                                </div>
                                            </div>
                                        </li>

                                        <li class="col-lg-4 col-md-4 col-sm-12 col-12 mb-md-0 mb-3">
                                            <div class="item-recruit item-recruit-new">
                                                <div class="name-title"> <div class="title d-block heading-26"> スキルの相互レビュー </div>
                                                </div>
                                                <div class="description heading-18">サービス向上の為、スキル評価により信頼度の高いプロフィールを実現
                                                </div>
                                            </div>
                                        </li>
                                    </ul>
                                </section>
                            </div>
                        </div>

                        <div class="wp-list-costs-new pb-120">
                            <div class="row">
                                <div class="col-12">
                                    <header class="panel-head-general-new text-center">
                                        <div class="rule-head mx-auto"></div>
                                        <h3 class="title-big heading-42"> クライアントに関わるコスト一覧 </h3>
                                    </header>
                                    <section class="panel-body-list-costs-new">
                                        <ul class="list-costs-new">
                                            <li>
                                                <div class="item-costs-new">
                                                    <div class="left-costs heading-24">運営側やAIへの相談</div>
                                                    <div class="right-costs heading-24">無料</div>
                                                </div>
                                            </li>
                                            <li>
                                                <div class="item-costs-new">
                                                    <div class="left-costs heading-24">プロジェクトを募集</div>
                                                    <div class="right-costs heading-24">無料</div>
                                                </div>
                                            </li>
                                            <li>
                                                <div class="item-costs-new">
                                                    <div class="left-costs heading-24">エキスパートへの入札</div>
                                                    <div class="right-costs heading-24">無料</div>
                                                </div>
                                            </li>
                                            <li>
                                                <div class="item-costs-new">
                                                    <div class="left-costs heading-24">プロジェクトのキャンセル</div>
                                                    <div class="right-costs heading-24">無料</div>
                                                </div>
                                            </li>
                                            <li>
                                                <div class="item-costs-new">
                                                    <div class="left-costs heading-24">貸切採用の手数料</div>
                                                    <div class="right-costs heading-24">無料</div>
                                                </div>
                                            </li>
                                            <li>
                                                <div class="item-costs-new">
                                                    <div class="left-costs heading-24">全プラットフォーム手数料</div>
                                                    <div class="right-costs heading-24">無料</div>
                                                </div>
                                            </li>
                                        </ul>
                                        <div class="attention-new heading-18">※SPOTECHを利用する際にかかる費用はエキスパートへの報酬のみです</div>
                                    </section>
                                </div>
                            </div>
                        </div>
                        
                        <div class="group-voice-used-new">
                            <div class="content-voice-used-new">
                                <header class="panel-head-general-new text-center">
                                    <div class="rule-head mx-auto"></div>
                                    <h3 class="title-big heading-42"> ご利用頂いたユーザー様の声 </h3>
                                </header>
                                <section class="body-voice-used-new">
                                    <div class="row list-voice-used">
                                        <div class="col-lg-3 col-sm-6 col-12 item-voice-used">
                                            <div class="content-item-voice">
                                                <div class="img-thumb-voice">
                                                    <div class="image">
                                                        <img src="~assets/images/image-newDesign/voice-1.png" alt="" class="img-fluid">
                                                    </div>
                                                </div>
                                                <div class="info">
                                                    <div class="name-user heading-19 texts">稲子谷 光</div>
                                                    <div class="name-company heading-14 texts">CROOZ EC Partners株式会社</div>
                                                    <div class="position-voice">代表取締役</div>
                                                    <div class="group-rating-voice-new">
                                                        <div class="list-rate-voice d-flex align-items-center justify-content-center"> 
                                                            <div class="item-rate-voice"><img src="~assets/images/image-newDesign/star-new.svg" alt=""></div>
                                                            <div class="item-rate-voice"><img src="~assets/images/image-newDesign/star-new.svg" alt=""></div>
                                                            <div class="item-rate-voice"><img src="~assets/images/image-newDesign/star-new.svg" alt=""></div>
                                                            <div class="item-rate-voice"><img src="~assets/images/image-newDesign/star-new.svg" alt=""></div>
                                                            <div class="item-rate-voice"><img src="~assets/images/image-newDesign/star-new.svg" alt=""></div>
                                                        </div>
                                                    </div>
                                                    <div class="description text-center heading-14 texts">
                                                        提案資料翻訳を依頼しました。急な依頼だったにも関わらず期日3日前に完璧な翻訳資料を納品頂きました。質と速さが担保されており、その後の提案が円滑に進みました。
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="col-lg-3 col-sm-6 col-12 item-voice-used">
                                            <div class="content-item-voice">
                                                <div class="img-thumb-voice">
                                                    <div class="image">
                                                        <img src="~assets/images/image-newDesign/voice-1.png" alt="" class="img-fluid">
                                                    </div>
                                                </div>
                                                <div class="info">
                                                    <div class="name-user heading-19 texts">稲子谷 光</div>
                                                    <div class="name-company heading-14 texts">CROOZ EC Partners株式会社</div>
                                                    <div class="position-voice">代表取締役</div>
                                                    <div class="group-rating-voice-new">
                                                        <div class="list-rate-voice d-flex align-items-center justify-content-center"> 
                                                            <div class="item-rate-voice"><img src="~assets/images/image-newDesign/star-new.svg" alt=""></div>
                                                            <div class="item-rate-voice"><img src="~assets/images/image-newDesign/star-new.svg" alt=""></div>
                                                            <div class="item-rate-voice"><img src="~assets/images/image-newDesign/star-new.svg" alt=""></div>
                                                            <div class="item-rate-voice"><img src="~assets/images/image-newDesign/star-new.svg" alt=""></div>
                                                            <div class="item-rate-voice"><img src="~assets/images/image-newDesign/star-new.svg" alt=""></div>
                                                        </div>
                                                    </div>
                                                    <div class="description text-center heading-14 texts">
                                                        提案資料翻訳を依頼しました。急な依頼だったにも関わらず期日3日前に完璧な翻訳資料を納品頂きました。質と速さが担保されており、その後の提案が円滑に進みました。
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="col-lg-3 col-sm-6 col-12 item-voice-used">
                                            <div class="content-item-voice">
                                                <div class="img-thumb-voice">
                                                    <div class="image">
                                                        <img src="~assets/images/image-newDesign/voice-1.png" alt="" class="img-fluid">
                                                    </div>
                                                </div>
                                                <div class="info">
                                                    <div class="name-user heading-19 texts">稲子谷 光</div>
                                                    <div class="name-company heading-14 texts">CROOZ EC Partners株式会社</div>
                                                    <div class="position-voice">代表取締役</div>
                                                    <div class="group-rating-voice-new">
                                                        <div class="list-rate-voice d-flex align-items-center justify-content-center"> 
                                                            <div class="item-rate-voice"><img src="~assets/images/image-newDesign/star-new.svg" alt=""></div>
                                                            <div class="item-rate-voice"><img src="~assets/images/image-newDesign/star-new.svg" alt=""></div>
                                                            <div class="item-rate-voice"><img src="~assets/images/image-newDesign/star-new.svg" alt=""></div>
                                                            <div class="item-rate-voice"><img src="~assets/images/image-newDesign/star-new.svg" alt=""></div>
                                                            <div class="item-rate-voice"><img src="~assets/images/image-newDesign/star-new.svg" alt=""></div>
                                                        </div>
                                                    </div>
                                                    <div class="description text-center heading-14 texts">
                                                        提案資料翻訳を依頼しました。急な依頼だったにも関わらず期日3日前に完璧な翻訳資料を納品頂きました。質と速さが担保されており、その後の提案が円滑に進みました。
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="col-lg-3 col-sm-6 col-12 item-voice-used">
                                            <div class="content-item-voice">
                                                <div class="img-thumb-voice">
                                                    <div class="image">
                                                        <img src="~assets/images/image-newDesign/voice-1.png" alt="" class="img-fluid">
                                                    </div>
                                                </div>
                                                <div class="info">
                                                    <div class="name-user heading-19 texts">稲子谷 光</div>
                                                    <div class="name-company heading-14 texts">CROOZ EC Partners株式会社</div>
                                                    <div class="position-voice">代表取締役</div>
                                                    <div class="group-rating-voice-new">
                                                        <div class="list-rate-voice d-flex align-items-center justify-content-center"> 
                                                            <div class="item-rate-voice"><img src="~assets/images/image-newDesign/star-new.svg" alt=""></div>
                                                            <div class="item-rate-voice"><img src="~assets/images/image-newDesign/star-new.svg" alt=""></div>
                                                            <div class="item-rate-voice"><img src="~assets/images/image-newDesign/star-new.svg" alt=""></div>
                                                            <div class="item-rate-voice"><img src="~assets/images/image-newDesign/star-new.svg" alt=""></div>
                                                            <div class="item-rate-voice"><img src="~assets/images/image-newDesign/star-new.svg" alt=""></div>
                                                        </div>
                                                    </div>
                                                    <div class="description text-center heading-14 texts">
                                                        提案資料翻訳を依頼しました。急な依頼だったにも関わらず期日3日前に完璧な翻訳資料を納品頂きました。質と速さが担保されており、その後の提案が円滑に進みました。
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </section>
                            </div>
                        </div>
                        
                        <div class="group-partner-new upper-partner">
                            <div class="container">
                                <div class="content-partner-new">
                                    <div class="scroll-x_partner">
                                        <div class="partner-new">
                                            <div class="item-partner">
                                                <img src="~assets/images/image-newDesign/logo-partner-1.png" alt="">
                                            </div>
                                            <div class="item-partner">
                                                <img src="~assets/images/image-newDesign/logo-partner-2.png" alt="">
                                            </div>
                                            <div class="item-partner">
                                                <img src="~assets/images/image-newDesign/logo-partner-3.png" alt="">
                                            </div>
                                            <div class="item-partner">
                                                <img src="~assets/images/image-newDesign/logo-partner-4.png" alt="">
                                            </div>
                                            <div class="item-partner">
                                                <img src="~assets/images/image-newDesign/logo-partner-5.png" alt="">
                                            </div>
                                            <div class="item-partner">
                                                <img src="~assets/images/image-newDesign/logo-partner-6.png" alt="">
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        
                    </div>
                </div>
            </div>
        </div>
    </div>
</template>

<script>
    export default {
        layout: 'guide'
    }
</script>

<style scoped>




















</style>