<template>
    <div class="a111-new expert-new ">
        <div class="body-min">
            <div class="wp-banner-new banner-a cover-new">
                <div class="img-thumb"><a href="JavaScript:void(0);" title="" class="image"><img
                            src="~assets/images/upload/banner-a112.png" alt="" class="img-fluid img-cover"></a></div>
                <div class="overlay overlay-bg-white"></div>
                <div class="content-banners right">
                    <div class="container">
                        <div class="content-cover text-right">
                            <div class="title head">エキスパートとは？</div>
                            <div class="intro">プロフィールから希望の報酬や働きたい期間を設定！<br>あとはクライアントからの入札を待つだけです</div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="container max-910"> 
                <div class="row">
                    <div class="col-12 m-auto">            
                        <div class="wp-recruit-personnel-new pb-120">
                            <div class="recruit-personnel">
                                <header class="panel-head-general panel-head-general-new text-center">
                                    <div class="rule-head mx-auto"></div>
                                    <h3 class="title-big heading-42">3ステップだけで簡単に報酬をゲット</h3>
                                </header>
                                <section class="panel-body">
                                    <ul class="list-recruit-new row">
                                        <li class="col-lg-4 col-md-4 col-sm-12 col-12 mb-md-0 mb-3">
                                            <div class="item-recruit-new">
                                                <div class="number">1</div>
                                                <div class="name-title ">
                                                    <div class="title d-block heading-26">プロフィールをご入力</div>
                                                </div>
                                                <div class="description heading-18">職種、スキル、好きなテーマ、職歴や学歴、待遇の条件面をご入力ください
                                                </div>
                                            </div>
                                        </li>

                                        <li class="col-lg-4 col-md-4 col-sm-12 col-12 mb-md-0 mb-3">
                                            <div class="item-recruit-new">
                                                <div class="number">2</div>
                                                <div class="name-title"> 
                                                    <div class="title d-block heading-26">プロジェクトをご入札</div>
                                                </div>
                                                <div class="description heading-18">条件に合うプロジェクトを検索！希望の報酬額を入札するだけ
                                                </div>
                                            </div>
                                        </li>

                                        <li class="col-lg-4 col-md-4 col-sm-12 col-12 mb-md-0 mb-3">
                                            <div class="item-recruit-new">
                                                <div class="number">3</div>
                                                <div class="name-title"> 
                                                    <div class="title d-block heading-26">完了後に報酬を獲得</div>
                                                </div>
                                                <div class="description heading-18">入札が承認されたらリモート/現地駐在でプロジェクトを開始、報酬を獲得
                                                </div>
                                            </div>
                                        </li>

                                    </ul>
                                </section>
                            </div>
                        </div>

                        <div class="wp-recruit-personnel-new pb-120">
                            <div class="recruit-personnel-new">
                                <header class="panel-head-general-new text-center">
                                    <div class="rule-head mx-auto"></div>
                                    <h3 class="title-big heading-42">新しいフリーランス/複業のカタチ</h3>
                                </header>
                                <section class="panel-body">
                                    <ul class="list-recruit row">
                                        <li class="col-lg-4 col-md-4 col-sm-12 col-12 mb-md-0 mb-3">
                                            <div class="item-recruit-new">
                                                <div class="name-title ">
                                                    <div class="title d-block heading-26">週休1-6日まで設定可能</div>
                                                </div>
                                                <div class="description heading-18">
                                                    長期間働きたい場合、週ごとに休みたい日数を自由に設定可能
                                                </div>
                                            </div>
                                        </li>

                                        <li class="col-lg-4 col-md-4 col-sm-12 col-12 mb-md-0 mb-3">
                                            <div class="item-recruit item-recruit-new">
                                                <div class="name-title"> <div class="title d-block heading-26"> 希望に応じて海外駐在も可能 </div>
                                                </div>
                                                <div class="description heading-18"> 世界中どこにいても働きたいだけ働ける、リモート/現地駐在を自由に選ぼう
                                                </div>
                                            </div>
                                        </li>

                                        <li class="col-lg-4 col-md-4 col-sm-12 col-12 mb-md-0 mb-3">
                                            <div class="item-recruit item-recruit-new">
                                                <div class="name-title"> <div class="title d-block heading-26"> 長期間フリーで働ける </div> </div>
                                                <div class="description heading-18">短期間から長期間まで、希望期間を自由に選択して働ける
                                                </div>
                                            </div>
                                        </li>
                                    </ul>
                                </section>
                            </div>
                        </div>

                        <div class="wp-recruit-personnel pb-120">
                            <div class="recruit-personnel-new">
                                <header class="panel-head-general-new text-center">
                                    <div class="rule-head mx-auto"></div>
                                    <h3 class="title-big heading-42"> ランクアップ審査と相互評価で報酬アップ </h3>
                                </header>
                                <section class="panel-body">
                                    <ul class="list-recruit row">
                                        <li class="col-lg-4 col-md-4 col-sm-12 col-12 mb-md-0 mb-3">
                                            <div class="item-recruit item-recruit-new">
                                                <div class="name-title "><div class="title d-block heading-26"> ランクアップ審査 </div>
                                                </div>
                                                <div class="description heading-18">スキルやポートフォリオ、キャリア等のプロフィールから公平に評価
                                                </div>
                                            </div>
                                        </li>

                                        <li class="col-lg-4 col-md-4 col-sm-12 col-12 mb-md-0 mb-3">
                                            <div class="item-recruit item-recruit-new">
                                                <div class="name-title"> <div class="title d-block heading-26"> 相互評価によるスキルチェック </div>
                                                </div>
                                                <div class="description heading-18"> スキルを含む相互レビューを行うことでランクアップの結果につなげよう
                                                </div>
                                            </div>
                                        </li>

                                        <li class="col-lg-4 col-md-4 col-sm-12 col-12 mb-md-0 mb-3">
                                            <div class="item-recruit item-recruit-new">
                                                <div class="name-title"> <div class="title d-block heading-26"> SPOTECH公認エキスパート </div>
                                                </div>
                                                <div class="description heading-18">SPOTECHが認めたエキスパートを公認エキスパートとしてご紹介
                                                </div>
                                            </div>
                                        </li>
                                    </ul>
                                </section>
                            </div>
                        </div>

                        <div class="wp-list-costs-new pb-120">
                            <div class="row">
                                <div class="col-12">
                                    <header class="panel-head-general-new text-center">
                                        <div class="rule-head mx-auto"></div>
                                        <h3 class="title-big heading-42"> エキスパートに関わるコスト一覧 </h3>
                                    </header>
                                    <section class="panel-body-list-costs-new">
                                        <ul class="list-costs-new">
                                            <li>
                                                <div class="item-costs-new">
                                                    <div class="left-costs heading-24">運営側やAIのランク審査</div>
                                                    <div class="right-costs heading-24">無料</div>
                                                </div>
                                            </li>
                                            <li>
                                                <div class="item-costs-new">
                                                    <div class="left-costs heading-24">プロジェクトを募集</div>
                                                    <div class="right-costs heading-24">無料</div>
                                                </div>
                                            </li>
                                            <li>
                                                <div class="item-costs-new">
                                                    <div class="left-costs heading-24">プロジェクトへの入札</div>
                                                    <div class="right-costs heading-24">無料</div>
                                                </div>
                                            </li>
                                            <li>
                                                <div class="item-costs-new">
                                                    <div class="left-costs heading-24">プロジェクトのキャンセル</div>
                                                    <div class="right-costs heading-24">無料</div>
                                                </div>
                                            </li>
                                            <li>
                                                <div class="item-costs-new">
                                                    <div class="left-costs heading-24">システム手数料</div>
                                                    <div class="right-costs heading-24">10%</div>
                                                </div>
                                            </li>
                                            <li>
                                                <div class="item-costs-new">
                                                    <div class="left-costs heading-24">全プラットフォーム手数料</div>
                                                    <div class="right-costs heading-24">無料</div>
                                                </div>
                                            </li>
                                        </ul>
                                        <div class="attention-new heading-18">※SPOTECHを利用する際にかかる費用は成果報酬の10%（システム手数料）のみです</div>
                                    </section>
                                </div>
                            </div>
                        </div>
                        
                        <div class="group-provide-services-new">
                            <header class="head-provide-services-new">
                                <div class="logo-bird text-center"><img src="~assets/images/image-newDesign/spotech gradient.svg" alt="" class="img-fluid"></div>
                                <div class="heading-1 heading-42 title-services-new">世界中のエキスパートがSPOTECHを通してサービスを提供しています</div>
                            </header>
                            <section class="body-provide-services-new">
                                <div class="img-thumb">
                                    <div class="image">
                                        <img src="~assets/images/image-newDesign/undraw_world.png" alt="" class="img-fluid">
                                    </div>
                                </div>
                                <div class="info">
                                    <div class="group-parameter-new">
                                        <div class="registered-countries">
                                            <div class="number">10+</div>
                                            <div class="texts heading-24">登録国数</div>
                                        </div>
                                        <div class="registered-countries">
                                            <div class="number">1000+</div>
                                            <div class="texts heading-24">エキスパート数</div>
                                        </div>
                                    </div>
                                </div>
                            </section>
                        </div>
                        
                    </div>
                </div>
            </div>
        </div>
    </div>
</template>

<script>
    export default {
        layout: 'guide'
    }
</script>

<style scoped>




















</style>