<template>
    <div class="a111-new request-relief-new ">
        <div class="wp-banner-new">
            <div class="img-thumb"><a href="JavaScript:void(0);" title="" class="image"><img
                        src="~assets/images/upload/banner-a13.png" alt="" class="img-fluid img-cover"></a></div>
            <div class="overlay"></div>
            <div class="content-banners left">
                <div class="container">
                    <div class="content-cover text-left">
                        <div class="title head">ストレス・リスクなしで開始</div>
                        <div class="intro">まずは信頼＆安心のシステムをチェック</div>
                    </div>
                </div>
            </div>
        </div>

        <div class="wp-trust-new">
            <div class="container max-910">
                <div class="group-trust-new">
                    <header class="panel-head-general panel-head-general-new text-center">
                        <div class="rule-head mx-auto"></div>
                        <h3 class="title-big heading-42">独自のシステムで信頼と安心を提供</h3>
                    </header>
                    <section class="body-trust-new">
                        <ul class="list-trust row">
                            <li class="col-lg-4 col-md-4 col-sm-6 col-12  pb-120">
                                <div class="item-trust-new text-center">
                                    <div class="img-thumb">
                                        <div class="image">
                                            <img src="~assets/images/image-newDesign/undraw-trust-1.png" alt="">
                                        </div>
                                    </div>
                                    <div class="info">
                                        <div class="name-title">
                                            <div class="title heading-26">公平なスキル評価</div>
                                        </div>
                                        <div class="description heading-18"> 独自AIがエキスパートの能力評価、依頼者のプロジェクト評価を行う為、公平な評価が可能です。
                                        </div>
                                    </div>
                                </div>
                            </li>
                            <li class="col-lg-4 col-md-4 col-sm-6 col-12  pb-120">
                                <div class="item-trust-new text-center">
                                    <div class="img-thumb">
                                        <div class="image">
                                            <img src="~assets/images/image-newDesign/undraw-trust-2.png" alt="">
                                        </div>
                                    </div>
                                    <div class="info">
                                        <div class="name-title">
                                            <div class="title heading-26">母国語でメッセージ</div>
                                        </div>
                                        <div class="description heading-18"> SPOTECH独自の翻訳AIにより母国語でのコミュニケーションが可能
                                        </div>
                                    </div>
                                </div>
                            </li>
                            <li class="col-lg-4 col-md-4 col-sm-6 col-12  pb-120">
                                <div class="item-trust-new text-center">
                                    <div class="img-thumb">
                                        <div class="image">
                                            <img src="~assets/images/image-newDesign/undraw-trust-3.png" alt="">
                                        </div>
                                    </div>
                                    <div class="info">
                                        <div class="name-title">
                                            <div class="title heading-26">セキュアなやり取り</div>
                                        </div>
                                        <div class="description heading-18"> セキュリティの高いシステムによりファイルや文章の送信が可能
                                        </div>
                                    </div>
                                </div>
                            </li>
                            <li class="col-lg-4 col-md-4 col-sm-6 col-12  pb-120">
                                <div class="item-trust-new text-center">
                                    <div class="img-thumb">
                                        <div class="image">
                                            <img src="~assets/images/image-newDesign/undraw-trust-4.png" alt="">
                                        </div>
                                    </div>
                                    <div class="info">
                                        <div class="name-title">
                                            <div class="title heading-26">信頼のランク審査</div>
                                        </div>
                                        <div class="description heading-18"> エキスパートを信頼する基準としてランクシステムをご用意
                                        </div>
                                    </div>
                                </div>
                            </li>
                            <li class="col-lg-4 col-md-4 col-sm-6 col-12  pb-120">
                                <div class="item-trust-new text-center">
                                    <div class="img-thumb">
                                        <div class="image">
                                            <img src="~assets/images/image-newDesign/undraw-trust-5.png" alt="">
                                        </div>
                                    </div>
                                    <div class="info">
                                        <div class="name-title">
                                            <div class="title heading-26">安全な支払いシステム</div>
                                        </div>
                                        <div class="description heading-18"> セキュアな決済システムの活用により安心してご利用いただけます
                                        </div>
                                    </div>
                                </div>
                            </li>
                            <li class="col-lg-4 col-md-4 col-sm-6 col-12  pb-120">
                                <div class="item-trust-new text-center">
                                    <div class="img-thumb">
                                        <div class="image">
                                            <img src="~assets/images/image-newDesign/undraw-trust-6.png" alt="">
                                        </div>
                                    </div>
                                    <div class="info">
                                        <div class="name-title">
                                            <div class="title heading-26">多様なテーマ設定</div>
                                        </div>
                                        <div class="description heading-18"> 学生歓迎や福利厚生、住宅補助など関連テーマを設定可能
                                        </div>
                                    </div>
                                </div>
                            </li>
                        </ul>
                    </section>
                </div>
            </div>
        </div>

        <div class="wp-bn-sys wp-bn-sys-new">
            <div class="img-thumb">
                <img src="~assets/images/image-newDesign/bn-sys.png" alt="" class="img-fluid img-cover">
                <div class="overlay">
                    <div class="title mb-3">
                        SPOTECHのランクアップ審査
                    </div>
                    <div class="description-sys-new">運営側やAIがユーザーのプロフィールからスキルレベルを算定、実績評価からエキスパート認定を行います</div>
                </div>
            </div>
        </div>

        <div class="wp-ranking-system">
            <div class="container max-910">
                <div class="content-ranking-system-new">
                    <div class="group-row-rank group-rank-head">
                        <div class="method-ranks-special item-rank-special p-rank-new"></div>
                        <div class="group-medal">
                            <div class="method-ranks-head item-rank p-rank-new">
                                <div class="wp-img-thumb-ranking">
                                    <div class="img-thumb"><img src="~assets/images/upload/expert-level-1.png" alt=""></div>
                                    <div class="intro">ブロンズ</div>
                                </div>
                            </div>
                            <div class="method-ranks-head item-rank p-rank-new">
                                <div class="wp-img-thumb-ranking">
                                    <div class="img-thumb"><img src="~assets/images/upload/expert-level-2.png" alt=""></div>
                                    <div class="intro">シルバー</div>
                                </div>
                            </div>
                            <div class="method-ranks-head item-rank p-rank-new">
                                <div class="wp-img-thumb-ranking">
                                    <div class="img-thumb"><img src="~assets/images/upload/expert-level-3.png" alt=""></div>
                                    <div class="intro">ゴールド</div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="group-row-rank group-rank-body none-borderTop">
                        <div class="method-ranks-special item-rank-special p-rank-new">
                            <div class="title-ranks-new">ランク</div>
                        </div>
                        <div class="group-medal">
                            <div class="method-ranks-body item-rank p-rank-new">
                                <div class="content-rank">ブロンズランクは最初の登竜門です <br>トップ2割の評価を受ける必要性があります</div>
                            </div>
                            <div class="method-ranks-body item-rank p-rank-new">
                                <div class="content-rank">経験年数が最低5年以上が必要です <br>ゴールドランクへの昇格が可能です</div>
                            </div>
                            <div class="method-ranks-body item-rank p-rank-new">
                                <div class="content-rank">経験年数が最低8年以上必要です<br>プラチナへ昇格できる唯一のランクです</div>
                            </div>
                        </div>
                    </div>
                    <div class="group-row-rank group-rank-body">
                        <div class="method-ranks-special item-rank-special p-rank-new">
                            <div class="title-ranks-new">条件</div>
                        </div>
                        <div class="group-medal">
                            <div class="method-ranks-body item-rank p-rank-new">
                                <div class="content-rank">AI査定に必要な基本情報を全て入力 AI査定により登録ユーザーの上位2割評価</div>
                            </div>
                            <div class="method-ranks-body item-rank p-rank-new">
                                <div class="content-rank">平均90%以上のメッセージ返信率 過去3ヶ月の期間で総合評価4以上を維持</div>
                            </div>
                            <div class="method-ranks-body item-rank p-rank-new">
                                <div class="content-rank">平均95%以上のメッセージ返信率 過去3ヶ月の期間で総合評価4.5以上を維持</div>
                            </div>
                        </div>
                    </div>
                    <div class="group-row-rank group-rank-body">
                        <div class="method-ranks-special item-rank-special p-rank-new">
                            <div class="title-ranks-new">利点</div>
                        </div>
                        <div class="group-medal">
                            <div class="method-ranks-body item-rank p-rank-new">
                                <div class="content-rank">より優先的に仕事が受けられます<br>運営側からサポートを受けられます <br>ブロンズ会員向けの特典をご提供</div>
                            </div>
                            <div class="method-ranks-body item-rank p-rank-new">
                                <div class="content-rank">より優先的に仕事が受けられます <br>運営側から優先サポートを受けられます<br>シルバー会員向けの特典をご提供</div>
                            </div>
                            <div class="method-ranks-body item-rank p-rank-new">
                                <div class="content-rank">より優先的に仕事が受けられます <br>運営側から優先サポートを受けられます <br>ゴールド会員向けの特典をご提供</div>
                            </div>
                        </div>
                    </div>


                    
                    <!-- <section class="panel-body-ranking-system-new">
                        <ul class="list-ranking-system-new">
                            <li>
                                <div class="item-ranking-system-new">
                                    <div class="container">
                                        <div class="row">
                                            <div class="col-md-10 col-12 mx-auto">
                                                <div class="row">
                                                    <div class="col-md-6 col-12 mb-md-0 mb-4">
                                                        <div class="wp-img-thumb-ranking">
                                                            <div class="img-thumb pr-3"><img
                                                                    src="~assets/images/upload/expert-level-1.png"
                                                                    alt=""></div>
                                                            <div class="intro heading-20">ブロンズランク</div>
                                                        </div>
                                                    </div>
                                                    <div class="col-md-6 col-12">
                                                        <div class="info">
                                                            <div class="item-info-rank">
                                                                <div class="title heading-20"> How Bronze-rank works </div>
                                                                <div class="description heading-15">
                                                                    ブロンズランクはエキスパートが最初に通過する登竜門です。Worktripの審査でトップ2割の評価を受けると、まずはブロンズランクとして登録されます。ブロンズランクになって初めてエキスパートの仲間入りです。
                                                                </div>
                                                            </div>
                                                            <div class="item-info-rank">
                                                                <div class="title heading-20"> 条件 </div>
                                                                <ul class="list-small">
                                                                    <li>
                                                                        <div class="title-small description heading-15">・査定に必要な基本情報を全て入力</div>
                                                                    </li>
                                                                    <li>
                                                                        <div class="title-small description heading-15">・査定により登録ユーザーの上位2割評価</div>
                                                                    </li>
                                                                </ul>
                                                            </div>
                                                            <div class="item-info-rank">
                                                                <div class="title heading-20"> 利点 </div>
                                                                <ul class="list-small">
                                                                    <li>
                                                                        <div class="title-small description heading-15">  ・ランクなしのメンバーより優先的に仕事が受けられます</div>
                                                                    </li>
                                                                    <li>
                                                                        <div class="title-small description heading-15">・SPOTECHの担当者からサポートを受けられます </div>
                                                                    </li>
                                                                    <li>
                                                                        <div class="title-small description heading-15"> ・ブロンズ会員向けの特典をご提供
                                                                        </div>
                                                                    </li>
                                                                </ul>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </li>
                            <li>
                                <div class="item-ranking-system-new">
                                    <div class="container">
                                        <div class="row">
                                            <div class="col-md-10 col-12 mx-auto">
                                                <div class="row">
                                                    <div class="col-md-6 col-12 mb-md-0 mb-4">
                                                        <div class="wp-img-thumb-ranking">
                                                            <div class="img-thumb pr-3"><img
                                                                    src="~assets/images/upload/expert-level-2.png"
                                                                    alt=""></div>
                                                            <div class="intro heading-20">シルバーランク</div>
                                                        </div>
                                                    </div>
                                                    <div class="col-md-6 col-12">
                                                        <div class="info">
                                                            <div class="item-info-rank">
                                                                <div class="title heading-20"> How Silver-rank works </div>
                                                                <div class="description heading-15">
                                                                    SPOTECHで最初のランク査定を通過後、取引なしに付与される最大のランクです。経験年数が最低5年以上のシニアレベルにあたります。また、SPOTECH内の活躍次第でゴールドランクへの昇格が待っています
                                                                </div>
                                                            </div>
                                                            <div class="item-info-rank">
                                                                <div class="title heading-20"> 条件 </div>
                                                                <ul class="list-small">
                                                                    <li>
                                                                        <div class="title-small description heading-15">・ブロンズランクのエキスパート</div>
                                                                    </li>
                                                                    <li>
                                                                        <div class="title-small description heading-15">・平均90%以上のメッセージ返信率</div>
                                                                    </li>
                                                                    <li>
                                                                        <div class="title-small description heading-15">・過去3ヶ月の期間で総合評価4以上を維持</div>
                                                                    </li>
                                                                </ul>
                                                            </div>
                                                            <div class="item-info-rank">
                                                                <div class="title heading-20"> 利点 </div>
                                                                <ul class="list-small">
                                                                    <li>
                                                                        <div class="title-small description heading-15">  ・ブロンズランク以下の会員より優先的に仕事が受けられます </div>
                                                                    </li>
                                                                    <li>
                                                                        <div class="title-small description heading-15">・SPOTECHの担当者から優先サポートを受けられます </div>
                                                                    </li>
                                                                    <li>
                                                                        <div class="title-small description heading-15"> ・シルバー会員向けの特典をご提供 </div>
                                                                    </li>
                                                                </ul>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </li>
                            <li>
                                <div class="item-ranking-system-new">
                                    <div class="container">
                                        <div class="row">
                                            <div class="col-md-10 col-12 mx-auto">
                                                <div class="row">
                                                    <div class="col-md-6 col-12 mb-md-0 mb-4">
                                                        <div class="wp-img-thumb-ranking">
                                                            <div class="img-thumb pr-3"><img
                                                                    src="~assets/images/upload/expert-level-3.png"
                                                                    alt=""></div>
                                                            <div class="intro heading-20">ゴールドランク</div>
                                                        </div>
                                                    </div>
                                                    <div class="col-md-6 col-12">
                                                        <div class="info">
                                                            <div class="item-info-rank">
                                                                <div class="title heading-20"> How Gold-rank works </div>
                                                                <div class="description heading-15">
                                                                    条件を満たしたシルバー会員のエキスパート向けへ付与される現段階で最大のランクです。経験年数が最低8年を超えるレベルにあたります。また、将来的に用意されるプラチナやブラック会員へ昇格できる唯一のランクです
                                                                </div>
                                                            </div>
                                                            <div class="item-info-rank">
                                                                <div class="title heading-20"> 条件 </div>
                                                                <ul class="list-small">
                                                                    <li>
                                                                        <div class="title-small description heading-15">・シルバーランクのエキスパート </div>
                                                                    </li>
                                                                    <li>
                                                                        <div class="title-small description heading-15">・平均95%以上のメッセージ返信率</div>
                                                                    </li>
                                                                    <li>
                                                                        <div class="title-small description heading-15">・平均1日以内のメッセージ返信速度</div>
                                                                    </li>
                                                                    <li>
                                                                        <div class="title-small description heading-15">・過去3ヶ月の期間で総合評価4.5以上を維持</div>
                                                                    </li>
                                                                </ul>
                                                            </div>
                                                            <div class="item-info-rank">
                                                                <div class="title heading-20"> 利点 </div>
                                                                <ul class="list-small">
                                                                    <li>
                                                                        <div class="title-small description heading-15">  ・シルバー以下の会員より優先的に仕事が受けられます</div>
                                                                    </li>
                                                                    <li>
                                                                        <div class="title-small description heading-15">・SPOTECHの担当者から優先サポートを受けられます </div>
                                                                    </li>
                                                                    <li>
                                                                        <div class="title-small description heading-15"> ・ゴールド会員向けの特典をご提供 </div>
                                                                    </li>
                                                                </ul>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </li>
                        </ul>
                    </section> -->
                </div>
            </div>
        </div>

    </div>
        
</template>

<script>
    export default {
        layout: 'guide'
    }
</script>

<style scoped>



</style>