<template>
    <div class="a111-new revenue-new ">
        <div class="wp-banner-new ">
            <div class="img-thumb"><a href="JavaScript:void(0);" title="" class="image"><img
                        src="~assets/images/upload/banner-a14.png" alt="" class="img-fluid img-cover"></a></div>
            <div class="overlay"></div>
            <div class="content-banners left">
                <div class="container">
                    <div class="content-cover text-left">
                        <div class="title head text-white">入札報酬で働き、採用しよう</div>
                        <div class="intro text-white">まずはオークションの形式をチェック</div>
                    </div>
                </div>
            </div>
        </div>

        <div class="wp-trust-new">
            <div class="container max-910">
                <div class="group-trust-new">
                    <header class="panel-head-general-new text-center">
                        <div class="rule-head mx-auto"></div>
                        <h3 class="title-big heading-42">希望の報酬や期間を設定して入札</h3>
                    </header>
                    <section class="body-trust-new">
                        <ul class="list-trust row">
                            <li class="col-lg-4 col-md-4 col-sm-6 col-12  pb-120">
                                <div class="item-trust-new text-center">
                                    <div class="img-thumb">
                                        <div class="image">
                                            <img src="~assets/images/image-newDesign/undraw_experts-1.png" alt="">
                                        </div>
                                    </div>
                                    <div class="info">
                                        <div class="name-title">
                                            <div class="title heading-26">エキスパートを入札</div>
                                        </div>
                                        <div class="description heading-18"> 即戦力のIT人材を見つけたら、採用期間と報酬額を設定して入札できます
                                        </div>
                                    </div>
                                </div>
                            </li>
                            <li class="col-lg-4 col-md-4 col-sm-6 col-12  pb-120">
                                <div class="item-trust-new text-center">
                                    <div class="img-thumb">
                                        <div class="image">
                                            <img src="~assets/images/image-newDesign/undraw_experts-2.png" alt="">
                                        </div>
                                    </div>
                                    <div class="info">
                                        <div class="name-title">
                                            <div class="title heading-26">プロジェクトを入札</div>
                                        </div>
                                        <div class="description heading-18"> 働きたい仕事を見つけたら、採用期間と報酬額を設定して入札できます
                                        </div>
                                    </div>
                                </div>
                            </li>
                            <li class="col-lg-4 col-md-4 col-sm-6 col-12  pb-120">
                                <div class="item-trust-new text-center">
                                    <div class="img-thumb">
                                        <div class="image">
                                            <img src="~assets/images/image-newDesign/undraw_experts-3.png" alt="">
                                        </div>
                                    </div>
                                    <div class="info">
                                        <div class="name-title">
                                            <div class="title heading-26">入札履歴から再入札</div>
                                        </div>
                                        <div class="description heading-18"> 入札したページから他人の入札履歴の確認や再入札ができます
                                        </div>
                                    </div>
                                </div>
                            </li>
                            <li class="col-lg-4 col-md-4 col-sm-6 col-12  pb-120">
                                <div class="item-trust-new text-center">
                                    <div class="img-thumb">
                                        <div class="image">
                                            <img src="~assets/images/image-newDesign/undraw_experts-4.png" alt="">
                                        </div>
                                    </div>
                                    <div class="info">
                                        <div class="name-title">
                                            <div class="title heading-26">適切な報酬設定</div>
                                        </div>
                                        <div class="description heading-18"> プロジェクトの難易度に見合う報酬を自由に設定する事ができます
                                        </div>
                                    </div>
                                </div>
                            </li>
                            <li class="col-lg-4 col-md-4 col-sm-6 col-12  pb-120">
                                <div class="item-trust-new text-center">
                                    <div class="img-thumb">
                                        <div class="image">
                                            <img src="~assets/images/image-newDesign/undraw_experts-5.png" alt="">
                                        </div>
                                    </div>
                                    <div class="info">
                                        <div class="name-title">
                                            <div class="title heading-26">コメントは非表示可能</div>
                                        </div>
                                        <div class="description heading-18"> 気になる仕事や人材への入札理由は他の閲覧者に非表示ができます
                                        </div>
                                    </div>
                                </div>
                            </li>
                            <li class="col-lg-4 col-md-4 col-sm-6 col-12  pb-120">
                                <div class="item-trust-new text-center">
                                    <div class="img-thumb">
                                        <div class="image">
                                            <img src="~assets/images/image-newDesign/undraw_experts-6.png" alt="">
                                        </div>
                                    </div>
                                    <div class="info">
                                        <div class="name-title">
                                            <div class="title heading-26">似たプロジェクトを募集</div>
                                        </div>
                                        <div class="description heading-18"> 気になるプロジェクトがあれば類似内容を簡単に募集できます
                                        </div>
                                    </div>
                                </div>
                            </li>
                        </ul>
                    </section>
                </div>
            </div>
        </div>

        <div class="container max-910">
            <div class="wp-list-costs-new pb-120">
                <header class="panel-head-general-new text-center">
                    <div class="rule-head mx-auto"></div>
                    <h3 class="title-big heading-42"> SPOTECHを利用するメリット </h3>
                </header>
                <section class="panel-body-list-costs-new">
                    <ul class="list-costs-new">
                        <li>
                            <div class="item-costs-new">
                                <div class="left-costs heading-20">成約手数料</div>
                                <div class="group-benefits-new heading-24">
                                    <div class="persen heading-24">10%</div>
                                    <div class="note heading-14">（エキスパートのみ負担）</div>
                                </div>
                            </div>
                        </li>
                        <li>
                            <div class="item-costs-new">
                                <div class="left-costs heading-20">プロジェクト掲載が無料</div>
                                <div class="group-benefits-new heading-24">
                                    <img src="~assets/images/image-newDesign/Right-Detail.png" alt="">
                                </div>
                            </div>
                        </li>
                        <li>
                            <div class="item-costs-new">
                                <div class="left-costs heading-20">国際送金手数料が無料</div>
                                <div class="group-benefits-new heading-24"><img src="~assets/images/image-newDesign/Right-Detail.png" alt=""></div>
                            </div>
                        </li>
                        <li>
                            <div class="item-costs-new">
                                <div class="left-costs heading-20">人材採用オークション</div>
                                <div class="group-benefits-new heading-24"><img src="~assets/images/image-newDesign/Right-Detail.png" alt=""></div>
                            </div>
                        </li>
                        <li>
                            <div class="item-costs-new">
                                <div class="left-costs heading-20">多言語対応</div>
                                <div class="group-benefits-new heading-24"><img src="~assets/images/image-newDesign/Right-Detail.png" alt=""></div>
                            </div>
                        </li>
                    </ul>
                </section>
            </div>
        </div>

        <div class="group-reward-new">
            <div class="container max-910">
                <header class="panel-head-general-new text-center">
                    <div class="rule-head mx-auto"></div>
                    <h3 class="title-big heading-42"> 報酬額の設定により入札数が増加します </h3>
                </header>
                <section class="body-reward-new">
                    <div class="info">
                        <div class="name-title heading-34">AIサポートにより報酬額もご提案</div>
                        <div class="description heading-17">クライアントは予算やプロジェクト難易度に見合った報酬設定を行い、エキスパートは自らの経験やスキルに見合った報酬設定をするのが良いでしょう</div>
                    </div>
                    <div class="img-thumb">
                        <div class="image">
                            <img src="~assets/images/image-newDesign/undraw_invest.png" alt="" class="img-fluid">
                        </div>
                    </div>
                </section>
            </div>
        </div>
        


    </div>
        
</template>

<script>
    export default {
        layout: 'guide'
    }
</script>

<style scoped>



</style>