<template>
    <div class="a111-new bussiness-support-new ">
        <div class="wp-banner-new">
            <div class="img-thumb"><a href="JavaScript:void(0);" title="" class="image"><img
                        src="~assets/images/upload/banner-a15.png" alt="" class="img-fluid img-cover"></a></div>
            <div class="content-banners left">
                <div class="container">
                    <div class="content-cover text-left">
                        <div class="title head text-white">世界の果てからトップ人材を貸切</div>
                        <div class="intro text-white">SPOTECHのビジネスサポートへすべてをお任せ</div>
                    </div>
                </div>
            </div>
        </div>

        <div class="group-step-new">
            <div class="max-910 container">
                <header class="panel-head-general-new text-center">
                    <div class="rule-head mx-auto"></div>
                    <h3 class="title-big heading-42"> 3ステップでプロジェクトの成功へ </h3>
                </header>
                <section class="body-step-new">
                    <div class="list-step-new">
                        <div class="item-step-new">
                            <div class="image-step">
                                <div class="number heading-42 active">1</div>
                            </div>
                            <div class="info">
                                <div class="name-title heading-28">AIサポート/運営側<br>へご要望を送信</div>
                            </div>
                        </div>
                        <div class="item-step-new">
                            <div class="image-step">
                                <div class="number heading-42">2</div>
                            </div>
                            <div class="info">
                                <div class="name-title heading-28">ビジネスサポートが<br>エキスパートのご提案 </div>
                            </div>
                        </div>
                        <div class="item-step-new">
                            <div class="image-step">
                                <div class="number heading-42">3</div>
                            </div>
                            <div class="info">
                                <div class="name-title heading-28">採用/プロマネの代行<br>プロジェクトの成功へ</div>
                            </div>
                        </div>
                    </div>
                </section>
            </div>
        </div>

        <div class="group-solution-new">
            <div class="wrap-tranfrom order-solution-1 order-solution-2-new">
                <div class="box-solution-top">
                    <div class="container-fluid">
                        <div class="row">
                            <div class="col-lg-6 col-12 p-0 orders-2">
                                
                            </div>
                            <div class="col-lg-6 col-12 p-0 orders-1">
                                <div class="img-thumb-solution-1">
                                    <div class="image">
                                        <img src="~assets/images/image-newDesign/a115-1.png" alt="" class="img-fluid img-cover">
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="box-solution-up bg-ha-a115">
                    <div>
                        <div class="container max-910">
                        <div class="row">
                            <div class="col-lg-6 col-12 p-0 orders-2">
                                <div class="group-content-solution">
                                    <div class="info">
                                            <div class="name-title heading-49">世界の果てからSPOTECH</div>
                                            <div class="list-row-solution">
                                                <div class="item-solution">
                                                    <div class="icon"><img src="~assets/images/image-newDesign/Right-Detail.png" alt=""></div>
                                                    <div class="texts ">世界の反対側からリモート採用可能</div>
                                                </div>
                                                <div class="item-solution">
                                                    <div class="icon"><img src="~assets/images/image-newDesign/Right-Detail.png" alt=""></div>
                                                    <div class="texts ">AIや運営側による完全審査制のプラットフォーム</div>
                                                </div>
                                                <div class="item-solution">
                                                    <div class="icon"><img src="~assets/images/image-newDesign/Right-Detail.png" alt=""></div>
                                                    <div class="texts ">入札型採用により無駄な採用コストを完全に削減</div>
                                                </div>
                                                <div class="item-solution">
                                                    <div class="icon"><img src="~assets/images/image-newDesign/Right-Detail.png" alt=""></div>
                                                    <div class="texts ">独自の自動翻訳AIにより母国語でやり取りできる</div>
                                                </div>
                                            </div>
                                        </div>
                                </div>
                            </div>
                            <div class="col-lg-6 col-12 p-0 orders-1">
                            </div>
                        </div>
                    </div>
                    </div>
                    
                </div>
            </div>
            <div class="order-solution-2-new">
                <div class="box-solution-top">
                    <div class="container-fluid">
                    <div class="row">
                        <div class="col-lg-6 col-12 p-0 ">
                            <div class="img-thumb-solution-2">
                                <div class="image">
                                    <img src="~assets/images/image-newDesign/a115-2.png" alt="" class="img-fluid img-cover">
                                </div>
                                <div class="overlay-bg-solution-2">
                                    
                                </div>
                            </div>
                        </div>
                        <div class="col-lg-6 col-12 p-0">
                            
                        </div>
                    </div>
                </div>
                </div>
                <div class="box-solution-up">
                    <div class="container max-910">
                    <div class="row">
                        <div class="col-lg-6 col-12 p-lg-0 ">
                            
                        </div>
                        <div class="col-lg-6 col-12 p-lg-0">
                            <div class="info-body-solution-2-new">
                                <div class="info-small-solution-2-new">
                                    <div class="name-title">チームのあり方は様々</div>
                                    <div class="description">SPOTECHのグローバルチームがクライアント様とエキスパートの間に入ってディレクションを代行、成果物を納品できます</div>
                                    <div class="group-intro-2">
                                        <div class="texts-2">・チームから数人単位で貸切可能</div>
                                        <div class="texts-2">・プロジェクトを0→1でサポートすることも可能</div>
                                    </div>  
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                </div>
            </div>
            <div class="order-solution-3 order-solution-2-new">
                <div class="box-solution-top">
                    <div class="container-fluid">
                        <div class="row">
                            <div class="col-lg-6 col-12 p-0 orders-2">
                            </div>
                            <div class="col-lg-6 col-12 p-0 orders-1">
                                <div class="img-thumb-solution-3">
                                    <div class="image">
                                        <img src="~assets/images/upload/a115-3.png" alt="" class="img-fluid img-cover">
                                    </div>
                                    <div class="overlay-bg-solution-3">
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="box-solution-up">
                    <div class="container max-910">
                    <div class="row">
                        <div class="col-lg-6 col-12 p-lg-0 orders-2">
                            <div class="info-body-solution-3">
                                <div class="info-small-solution-3">
                                    <div class="name-title">世界中の独創的なアイデア</div>
                                    <div class="description">世界の果てに住むエキスパートから独創的なアイデアを得てビジネスに変えることも可能</div>
                                    <div class="description">文化や習慣的な違いから思わぬビジネスチャンスを発見できるかもしれません</div>                                     
                                </div>
                            </div>
                        </div>
                        <div class="col-lg-6 col-12 p-lg-0 orders-1">
                        </div>
                    </div>
                </div>
                </div>
            </div>
        </div>

        <div class="group-safety-support-new">
            <div class="container max-910">
                <div class="row">
                    <div class="col-md-6 col-12">
                        <div class="content-safety-support-new ml_ha">
                            <div class="name-title">安全第一のシステム</div>
                            <div class="introduce ">プロジェクト開始前に法的効力のある電子署名としてNDAと業務委託契約書をエキスパートと締結可能です</div>
                        </div>
                    </div>
                    <div class="col-md-6 col-12">
                        <div class="content-safety-support-new mr_ha">
                            <div class="name-title heading-49">プロマネが常時サポート</div>
                            <div class="introduce ">プロジェクト管理を行うプロマネをプラットフォーム上もしくは運営側を通して採用可能です</div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div class="group-form-business-support-new">
            <div class="container max-910">
                <div class="row">
                    <div class="col-lg-6 col-12">
                        <div class="form-business-support-new">
                            <header class="name-title heading-40">ビジネスサポートへ無料でご相談</header>
                            <section class="body-business-support-new">
                                <div class="group-row">
                                    <input type="text" class="input-text" placeholder="メールアドレス">
                                </div>
                                <div class="group-row">
                                    <input type="text" class="input-text" placeholder="会社や組織、もしくは代表者名">
                                </div>
                                <div class="group-row">
                                    <input type="text" class="input-text" placeholder="担当者名">
                                </div>
                                <div class="group-row">
                                    <textarea name="" id="" class="textarea-new" placeholder="現状の問題点や求めるエキスパートの詳細があれば書いてください"></textarea>
                                </div>
                                <div class="group-row">
                                    <div class="conditions-new">「相談内容を送信」をクリックするとSPOTECHの <a href="JavaScript:void(0);" class="text-links">利用規約</a> や <a href="JavaScript:void(0);" class="text-links">プライバシーポリシー</a> に同意した事になります</div>
                                </div>
                                <div class="group-row mb-0">
                                    <a href="JavaScript:void(0);" class="btn-send-conditions">相談内容を送信</a>
                                </div>
                            </section>
                        </div>
                    </div>
                    <div class="col-lg-5 col-12 offset-lg-1 wrap-trusted-companies">
                        <div class="body-trusted-companies">
                            <div class="name-title heading-28">あらゆる規模の企業が信頼</div>
                            <div class="list-logo-companies">
                                <div class="row">
                                    <div class="col-xl-6 col-md-12 col-sm-6 col-12">
                                        <div class="image">
                                            <img src="~assets/images/image-newDesign/partner-2(2).png" alt="">
                                        </div>
                                    </div>
                                    <div class="col-xl-6 col-md-12 col-sm-6 col-12">
                                        <div class="image">
                                            <img src="~assets/images/image-newDesign/logo-company-2.png" alt="">
                                        </div>
                                    </div>
                                    <div class="col-xl-6 col-md-12 col-sm-6 col-12">
                                        <div class="image">
                                            <img src="~assets/images/image-newDesign/partner-3(2).png" alt="">
                                        </div>
                                    </div>
                                    <div class="col-xl-6 col-md-12 col-sm-6 col-12">
                                        <div class="image">
                                            <img src="~assets/images/image-newDesign/partner-5.png" alt="">
                                        </div>
                                    </div>
                                    <div class="col-xl-6 col-md-12 col-sm-6 col-12">
                                        <div class="image">
                                            <img src="~assets/images/image-newDesign/logo-company-1.png" alt="">
                                        </div>
                                    </div>
                                    <div class="col-xl-6 col-md-12 col-sm-6 col-12">
                                        <div class="image">
                                            <img src="~assets/images/image-newDesign/logo-company-7.png" alt="">
                                        </div>
                                    </div>
                                    <div class="col-xl-6 col-md-12 col-sm-6 col-12">
                                        <div class="image">
                                            <img src="~assets/images/image-newDesign/logo-company-8.png" alt="">
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

    </div>
        
</template>

<script>
    export default {
        layout: 'guide'
    }
</script>

<style scoped>



</style>