<template>
    <div class="a111-new landing-page-expert pt-28">
        <div class="container">
            <div class="group-whats-spotech">
                <header class="header-question">
                    <div class="media">
                        <div class="media-left left-head-question">
                            <div class="img-thumb">
                                <img src="~assets/images/image-newDesign/spotech gradient.svg" alt="">
                            </div>
                        </div>
                        <div class="media-body body-head-question">
                            <div class="title">SPOTECHとは？</div>
                            <div class="intro">トップ20%のグローバルIT人材を無料で採用し放題！オークション形式による新しい採用のカタチ</div>
                        </div>
                    </div>
                </header>
                <section class="body-intro-country">
                    <div class="list-intro-country">
                        <div class="row m-intro-country">
                            <div class="col-md-4 col-sm-6 col-12 p-intro-country">
                                <div class="item-intro-country">
                                    <div class="img-thumb">
                                        <a href="Javascript:void(0);" title="" class="image-country d-block">
                                            <img src="~assets/images/image-newDesign/Japan.png" alt="" class="img-fluid img-cover">
                                        </a>
                                    </div>
                                    <div class="info">
                                        <div class="logo">
                                            <img src="~assets/images/image-newDesign/SPOTECH-Logo-white.svg" alt="">
                                        </div>
                                        <div class="name-country-new">日本</div>
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-4 col-sm-6 col-12 p-intro-country">
                                <div class="item-intro-country">
                                    <div class="img-thumb">
                                        <a href="Javascript:void(0);" title="" class="image-country d-block">
                                            <img src="~assets/images/image-newDesign/Vietnam.png" alt="" class="img-fluid img-cover">
                                        </a>
                                    </div>
                                    <div class="info">
                                        <div class="logo">
                                            <img src="~assets/images/image-newDesign/SPOTECH-Logo-white.svg" alt="">
                                        </div>
                                        <div class="name-country-new">ベトナム</div>
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-4 col-sm-6 col-12 p-intro-country">
                                <div class="item-intro-country">
                                    <div class="img-thumb">
                                        <a href="Javascript:void(0);" title="" class="image-country d-block">
                                            <img src="~assets/images/image-newDesign/Philippines.png" alt="" class="img-fluid img-cover">
                                        </a>
                                    </div>
                                    <div class="info">
                                        <div class="logo">
                                            <img src="~assets/images/image-newDesign/SPOTECH-Logo-white.svg" alt="">
                                        </div>
                                        <div class="name-country-new">フィリピン</div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </section>
            </div>
            <div class="group-check-more mb-ha ">
                <header class="header-spacebetween">
                    <div class="box-spacebetween">
                        <div class="title-spacebetween">おかえりなさい！続きをチェック</div>
                        <a href="javascript:void(0);" title="" class="btn-viewmore-new">
                            <span class="texts">さらに見る</span>
                            <span class="icon"><i class="fas fa-chevron-right"></i></span>
                        </a>
                    </div>
                </header>
                <section class="list-recommended-projects-new list-client">
                    <div class="row-5">
                        <div class="item-col-5 item-5">
                            <div class="item-projects-new">
                                <div class="box-project-new-expert">
                                    <div class="heart-new"><img src="~assets/images/image-newDesign/heart-new.svg" alt="" class="img-fluid"></div>
                                    <div class="img-thumb-projects-new">
                                        <div class="image">
                                            <img src="~assets/images/image-newDesign/img-mercari.png" alt="" class="img-fluid">
                                        </div>
                                    </div>
                                    <div class="name-field heading-16">エンジニア</div>
                                    <div class="rule-project-new"></div>
                                    <div class="name-title-new heading-18">ECサイト作成に協力してくれるエンジニアを探しています。</div>
                                    <div class="group-meta-nationality">
                                        <div class="texts heading-16">Mercari</div>
                                        <div class="icon"><img src="~assets/images/image-newDesign/jp-new.svg" alt=""></div>
                                    </div>
                                    <div class="wrap-info-project">
                                        <div class="group-address-new">
                                            <div class="icon"><img src="~assets/images/image-newDesign/map-marker.svg" alt=""></div>
                                            <div class="texts heading-14">日本・東京（リモート可）</div>
                                        </div>
                                        <div class="group-number-favorites">
                                            <div class="group-star-new">
                                                <span class="icon"><img src="~assets/images/image-newDesign/star-new.svg" alt=""></span>
                                                <span class="texts heading-19">4.9 <span class="kaka">(30)</span> </span>
                                            </div>
                                            <div class="group-favorites-new">
                                                <span class="icon"><img src="~assets/images/image-newDesign/heart-favorites.svg" alt=""></span>
                                                <span class="texts heading-16">10</span>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="wrap-salary">
                                    <div class="group-salary-new">
                                        <div class="salary-new heading-26">¥400,000</div>
                                        <div class="salary-mounth heading-16">/1ヶ月</div>
                                    </div>
                                    <div class="group-next-new">
                                        <a href="JavaScript:void(0);" title="" class="btn-next"><img src="~assets/images/image-newDesign/arrow-right-new.svg" alt=""></a>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="item-col-5 item-5">
                            <div class="item-projects-new">
                                <div class="box-project-new-expert">
                                    <div class="heart-new"><img src="~assets/images/image-newDesign/heart-new.svg" alt="" class="img-fluid"></div>
                                    <div class="img-thumb-projects-new">
                                        <div class="image">
                                            <img src="~assets/images/image-newDesign/img-mercari.png" alt="" class="img-fluid">
                                        </div>
                                    </div>
                                    <div class="name-field heading-16">エンジニア</div>
                                    <div class="rule-project-new"></div>
                                    <div class="name-title-new heading-18">ECサイト作成に協力してくれるエンジニアを探しています。</div>
                                    <div class="group-meta-nationality">
                                        <div class="texts heading-16">Mercari</div>
                                        <div class="icon"><img src="~assets/images/image-newDesign/jp-new.svg" alt=""></div>
                                    </div>
                                    <div class="wrap-info-project">
                                        <div class="group-address-new">
                                            <div class="icon"><img src="~assets/images/image-newDesign/map-marker.svg" alt=""></div>
                                            <div class="texts heading-14">日本・東京（リモート可）</div>
                                        </div>
                                        <div class="group-number-favorites">
                                            <div class="group-star-new">
                                                <span class="icon"><img src="~assets/images/image-newDesign/star-new.svg" alt=""></span>
                                                <span class="texts heading-19">4.9 <span class="kaka">(30)</span> </span>
                                            </div>
                                            <div class="group-favorites-new">
                                                <span class="icon"><img src="~assets/images/image-newDesign/heart-favorites.svg" alt=""></span>
                                                <span class="texts heading-16">10</span>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="wrap-salary">
                                    <div class="group-salary-new">
                                        <div class="salary-new heading-26">¥400,000</div>
                                        <div class="salary-mounth heading-16">/1ヶ月</div>
                                    </div>
                                    <div class="group-next-new">
                                        <a href="JavaScript:void(0);" title="" class="btn-next"><img src="~assets/images/image-newDesign/arrow-right-new.svg" alt=""></a>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="item-col-5 item-5">
                            <div class="item-projects-new">
                                <div class="box-project-new-expert">
                                    <div class="heart-new"><img src="~assets/images/image-newDesign/heart-new.svg" alt="" class="img-fluid"></div>
                                    <div class="img-thumb-projects-new">
                                        <div class="image">
                                            <img src="~assets/images/image-newDesign/img-mercari.png" alt="" class="img-fluid">
                                        </div>
                                    </div>
                                    <div class="name-field heading-16">エンジニア</div>
                                    <div class="rule-project-new"></div>
                                    <div class="name-title-new heading-18">ECサイト作成に協力してくれるエンジニアを探しています。</div>
                                    <div class="group-meta-nationality">
                                        <div class="texts heading-16">Mercari</div>
                                        <div class="icon"><img src="~assets/images/image-newDesign/jp-new.svg" alt=""></div>
                                    </div>
                                    <div class="wrap-info-project">
                                        <div class="group-address-new">
                                            <div class="icon"><img src="~assets/images/image-newDesign/map-marker.svg" alt=""></div>
                                            <div class="texts heading-14">日本・東京（リモート可）</div>
                                        </div>
                                        <div class="group-number-favorites">
                                            <div class="group-star-new">
                                                <span class="icon"><img src="~assets/images/image-newDesign/star-new.svg" alt=""></span>
                                                <span class="texts heading-19">4.9 <span class="kaka">(30)</span> </span>
                                            </div>
                                            <div class="group-favorites-new">
                                                <span class="icon"><img src="~assets/images/image-newDesign/heart-favorites.svg" alt=""></span>
                                                <span class="texts heading-16">10</span>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="wrap-salary">
                                    <div class="group-salary-new">
                                        <div class="salary-new heading-26">¥400,000</div>
                                        <div class="salary-mounth heading-16">/1ヶ月</div>
                                    </div>
                                    <div class="group-next-new">
                                        <a href="JavaScript:void(0);" title="" class="btn-next"><img src="~assets/images/image-newDesign/arrow-right-new.svg" alt=""></a>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="item-col-5 item-5">
                            <div class="item-projects-new">
                                <div class="box-project-new-expert">
                                    <div class="heart-new"><img src="~assets/images/image-newDesign/heart-new.svg" alt="" class="img-fluid"></div>
                                    <div class="img-thumb-projects-new">
                                        <div class="image">
                                            <img src="~assets/images/image-newDesign/img-mercari.png" alt="" class="img-fluid">
                                        </div>
                                    </div>
                                    <div class="name-field heading-16">エンジニア</div>
                                    <div class="rule-project-new"></div>
                                    <div class="name-title-new heading-18">ECサイト作成に協力してくれるエンジニアを探しています。</div>
                                    <div class="group-meta-nationality">
                                        <div class="texts heading-16">Mercari</div>
                                        <div class="icon"><img src="~assets/images/image-newDesign/jp-new.svg" alt=""></div>
                                    </div>
                                    <div class="wrap-info-project">
                                        <div class="group-address-new">
                                            <div class="icon"><img src="~assets/images/image-newDesign/map-marker.svg" alt=""></div>
                                            <div class="texts heading-14">日本・東京（リモート可）</div>
                                        </div>
                                        <div class="group-number-favorites">
                                            <div class="group-star-new">
                                                <span class="icon"><img src="~assets/images/image-newDesign/star-new.svg" alt=""></span>
                                                <span class="texts heading-19">4.9 <span class="kaka">(30)</span> </span>
                                            </div>
                                            <div class="group-favorites-new">
                                                <span class="icon"><img src="~assets/images/image-newDesign/heart-favorites.svg" alt=""></span>
                                                <span class="texts heading-16">10</span>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="wrap-salary">
                                    <div class="group-salary-new">
                                        <div class="salary-new heading-26">¥400,000</div>
                                        <div class="salary-mounth heading-16">/1ヶ月</div>
                                    </div>
                                    <div class="group-next-new">
                                        <a href="JavaScript:void(0);" title="" class="btn-next"><img src="~assets/images/image-newDesign/arrow-right-new.svg" alt=""></a>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="item-col-5 item-5">
                            <div class="item-projects-new">
                                <div class="box-project-new-expert">
                                    <div class="heart-new"><img src="~assets/images/image-newDesign/heart-new.svg" alt="" class="img-fluid"></div>
                                    <div class="img-thumb-projects-new">
                                        <div class="image">
                                            <img src="~assets/images/image-newDesign/img-mercari.png" alt="" class="img-fluid">
                                        </div>
                                    </div>
                                    <div class="name-field heading-16">エンジニア</div>
                                    <div class="rule-project-new"></div>
                                    <div class="name-title-new heading-18">ECサイト作成に協力してくれるエンジニアを探しています。</div>
                                    <div class="group-meta-nationality">
                                        <div class="texts heading-16">Mercari</div>
                                        <div class="icon"><img src="~assets/images/image-newDesign/jp-new.svg" alt=""></div>
                                    </div>
                                    <div class="wrap-info-project">
                                        <div class="group-address-new">
                                            <div class="icon"><img src="~assets/images/image-newDesign/map-marker.svg" alt=""></div>
                                            <div class="texts heading-14">日本・東京（リモート可）</div>
                                        </div>
                                        <div class="group-number-favorites">
                                            <div class="group-star-new">
                                                <span class="icon"><img src="~assets/images/image-newDesign/star-new.svg" alt=""></span>
                                                <span class="texts heading-19">4.9 <span class="kaka">(30)</span> </span>
                                            </div>
                                            <div class="group-favorites-new">
                                                <span class="icon"><img src="~assets/images/image-newDesign/heart-favorites.svg" alt=""></span>
                                                <span class="texts heading-16">10</span>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="wrap-salary">
                                    <div class="group-salary-new">
                                        <div class="salary-new heading-26">¥400,000</div>
                                        <div class="salary-mounth heading-16">/1ヶ月</div>
                                    </div>
                                    <div class="group-next-new">
                                        <a href="JavaScript:void(0);" title="" class="btn-next"><img src="~assets/images/image-newDesign/arrow-right-new.svg" alt=""></a>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </section>
            </div>
            <div class="group-featured-expert mb-ha ">
                <header class="header-spacebetween">
                    <div class="box-spacebetween">
                        <div class="title-spacebetween">注目のエキスパート</div>
                        <a href="javascript:void(0);" title="" class="btn-viewmore-new">
                            <span class="texts">さらに見る</span>
                            <span class="icon"><i class="fas fa-chevron-right"></i></span>
                        </a>
                    </div>
                </header>
                <section class="list-recommended-projects-new list-client">
                    <div class="row-5">
                        <div class="item-col-5 item-5">
                            <div class="item-projects-new">
                                <div class="box-project-new-expert">
                                    <div class="heart-new"><img src="~assets/images/image-newDesign/heart-new.svg" alt="" class="img-fluid"></div>
                                    <div class="img-thumb-projects-new">
                                        <div class="image">
                                            <img src="~assets/images/image-newDesign/img-mercari.png" alt="" class="img-fluid">
                                        </div>
                                    </div>
                                    <div class="name-field heading-16">エンジニア</div>
                                    <div class="rule-project-new"></div>
                                    <div class="name-title-new heading-18">ECサイト作成に協力してくれるエンジニアを探しています。</div>
                                    <div class="group-meta-nationality">
                                        <div class="texts heading-16">Mercari</div>
                                        <div class="icon"><img src="~assets/images/image-newDesign/jp-new.svg" alt=""></div>
                                    </div>
                                    <div class="wrap-info-project">
                                        <div class="group-address-new">
                                            <div class="icon"><img src="~assets/images/image-newDesign/map-marker.svg" alt=""></div>
                                            <div class="texts heading-14">日本・東京（リモート可）</div>
                                        </div>
                                        <div class="group-number-favorites">
                                            <div class="group-star-new">
                                                <span class="icon"><img src="~assets/images/image-newDesign/star-new.svg" alt=""></span>
                                                <span class="texts heading-19">4.9 <span class="kaka">(30)</span> </span>
                                            </div>
                                            <div class="group-favorites-new">
                                                <span class="icon"><img src="~assets/images/image-newDesign/heart-favorites.svg" alt=""></span>
                                                <span class="texts heading-16">10</span>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="wrap-salary">
                                    <div class="group-salary-new">
                                        <div class="salary-new heading-26">¥400,000</div>
                                        <div class="salary-mounth heading-16">/1ヶ月</div>
                                    </div>
                                    <div class="group-next-new">
                                        <a href="JavaScript:void(0);" title="" class="btn-next"><img src="~assets/images/image-newDesign/arrow-right-new.svg" alt=""></a>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="item-col-5 item-5">
                            <div class="item-projects-new">
                                <div class="box-project-new-expert">
                                    <div class="heart-new"><img src="~assets/images/image-newDesign/heart-new.svg" alt="" class="img-fluid"></div>
                                    <div class="img-thumb-projects-new">
                                        <div class="image">
                                            <img src="~assets/images/image-newDesign/img-mercari.png" alt="" class="img-fluid">
                                        </div>
                                    </div>
                                    <div class="name-field heading-16">エンジニア</div>
                                    <div class="rule-project-new"></div>
                                    <div class="name-title-new heading-18">ECサイト作成に協力してくれるエンジニアを探しています。</div>
                                    <div class="group-meta-nationality">
                                        <div class="texts heading-16">Mercari</div>
                                        <div class="icon"><img src="~assets/images/image-newDesign/jp-new.svg" alt=""></div>
                                    </div>
                                    <div class="wrap-info-project">
                                        <div class="group-address-new">
                                            <div class="icon"><img src="~assets/images/image-newDesign/map-marker.svg" alt=""></div>
                                            <div class="texts heading-14">日本・東京（リモート可）</div>
                                        </div>
                                        <div class="group-number-favorites">
                                            <div class="group-star-new">
                                                <span class="icon"><img src="~assets/images/image-newDesign/star-new.svg" alt=""></span>
                                                <span class="texts heading-19">4.9 <span class="kaka">(30)</span> </span>
                                            </div>
                                            <div class="group-favorites-new">
                                                <span class="icon"><img src="~assets/images/image-newDesign/heart-favorites.svg" alt=""></span>
                                                <span class="texts heading-16">10</span>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="wrap-salary">
                                    <div class="group-salary-new">
                                        <div class="salary-new heading-26">¥400,000</div>
                                        <div class="salary-mounth heading-16">/1ヶ月</div>
                                    </div>
                                    <div class="group-next-new">
                                        <a href="JavaScript:void(0);" title="" class="btn-next"><img src="~assets/images/image-newDesign/arrow-right-new.svg" alt=""></a>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="item-col-5 item-5">
                            <div class="item-projects-new">
                                <div class="box-project-new-expert">
                                    <div class="heart-new"><img src="~assets/images/image-newDesign/heart-new.svg" alt="" class="img-fluid"></div>
                                    <div class="img-thumb-projects-new">
                                        <div class="image">
                                            <img src="~assets/images/image-newDesign/img-mercari.png" alt="" class="img-fluid">
                                        </div>
                                    </div>
                                    <div class="name-field heading-16">エンジニア</div>
                                    <div class="rule-project-new"></div>
                                    <div class="name-title-new heading-18">ECサイト作成に協力してくれるエンジニアを探しています。</div>
                                    <div class="group-meta-nationality">
                                        <div class="texts heading-16">Mercari</div>
                                        <div class="icon"><img src="~assets/images/image-newDesign/jp-new.svg" alt=""></div>
                                    </div>
                                    <div class="wrap-info-project">
                                        <div class="group-address-new">
                                            <div class="icon"><img src="~assets/images/image-newDesign/map-marker.svg" alt=""></div>
                                            <div class="texts heading-14">日本・東京（リモート可）</div>
                                        </div>
                                        <div class="group-number-favorites">
                                            <div class="group-star-new">
                                                <span class="icon"><img src="~assets/images/image-newDesign/star-new.svg" alt=""></span>
                                                <span class="texts heading-19">4.9 <span class="kaka">(30)</span> </span>
                                            </div>
                                            <div class="group-favorites-new">
                                                <span class="icon"><img src="~assets/images/image-newDesign/heart-favorites.svg" alt=""></span>
                                                <span class="texts heading-16">10</span>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="wrap-salary">
                                    <div class="group-salary-new">
                                        <div class="salary-new heading-26">¥400,000</div>
                                        <div class="salary-mounth heading-16">/1ヶ月</div>
                                    </div>
                                    <div class="group-next-new">
                                        <a href="JavaScript:void(0);" title="" class="btn-next"><img src="~assets/images/image-newDesign/arrow-right-new.svg" alt=""></a>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="item-col-5 item-5">
                            <div class="item-projects-new">
                                <div class="box-project-new-expert">
                                    <div class="heart-new"><img src="~assets/images/image-newDesign/heart-new.svg" alt="" class="img-fluid"></div>
                                    <div class="img-thumb-projects-new">
                                        <div class="image">
                                            <img src="~assets/images/image-newDesign/img-mercari.png" alt="" class="img-fluid">
                                        </div>
                                    </div>
                                    <div class="name-field heading-16">エンジニア</div>
                                    <div class="rule-project-new"></div>
                                    <div class="name-title-new heading-18">ECサイト作成に協力してくれるエンジニアを探しています。</div>
                                    <div class="group-meta-nationality">
                                        <div class="texts heading-16">Mercari</div>
                                        <div class="icon"><img src="~assets/images/image-newDesign/jp-new.svg" alt=""></div>
                                    </div>
                                    <div class="wrap-info-project">
                                        <div class="group-address-new">
                                            <div class="icon"><img src="~assets/images/image-newDesign/map-marker.svg" alt=""></div>
                                            <div class="texts heading-14">日本・東京（リモート可）</div>
                                        </div>
                                        <div class="group-number-favorites">
                                            <div class="group-star-new">
                                                <span class="icon"><img src="~assets/images/image-newDesign/star-new.svg" alt=""></span>
                                                <span class="texts heading-19">4.9 <span class="kaka">(30)</span> </span>
                                            </div>
                                            <div class="group-favorites-new">
                                                <span class="icon"><img src="~assets/images/image-newDesign/heart-favorites.svg" alt=""></span>
                                                <span class="texts heading-16">10</span>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="wrap-salary">
                                    <div class="group-salary-new">
                                        <div class="salary-new heading-26">¥400,000</div>
                                        <div class="salary-mounth heading-16">/1ヶ月</div>
                                    </div>
                                    <div class="group-next-new">
                                        <a href="JavaScript:void(0);" title="" class="btn-next"><img src="~assets/images/image-newDesign/arrow-right-new.svg" alt=""></a>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="item-col-5 item-5">
                            <div class="item-projects-new">
                                <div class="box-project-new-expert">
                                    <div class="heart-new"><img src="~assets/images/image-newDesign/heart-new.svg" alt="" class="img-fluid"></div>
                                    <div class="img-thumb-projects-new">
                                        <div class="image">
                                            <img src="~assets/images/image-newDesign/img-mercari.png" alt="" class="img-fluid">
                                        </div>
                                    </div>
                                    <div class="name-field heading-16">エンジニア</div>
                                    <div class="rule-project-new"></div>
                                    <div class="name-title-new heading-18">ECサイト作成に協力してくれるエンジニアを探しています。</div>
                                    <div class="group-meta-nationality">
                                        <div class="texts heading-16">Mercari</div>
                                        <div class="icon"><img src="~assets/images/image-newDesign/jp-new.svg" alt=""></div>
                                    </div>
                                    <div class="wrap-info-project">
                                        <div class="group-address-new">
                                            <div class="icon"><img src="~assets/images/image-newDesign/map-marker.svg" alt=""></div>
                                            <div class="texts heading-14">日本・東京（リモート可）</div>
                                        </div>
                                        <div class="group-number-favorites">
                                            <div class="group-star-new">
                                                <span class="icon"><img src="~assets/images/image-newDesign/star-new.svg" alt=""></span>
                                                <span class="texts heading-19">4.9 <span class="kaka">(30)</span> </span>
                                            </div>
                                            <div class="group-favorites-new">
                                                <span class="icon"><img src="~assets/images/image-newDesign/heart-favorites.svg" alt=""></span>
                                                <span class="texts heading-16">10</span>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="wrap-salary">
                                    <div class="group-salary-new">
                                        <div class="salary-new heading-26">¥400,000</div>
                                        <div class="salary-mounth heading-16">/1ヶ月</div>
                                    </div>
                                    <div class="group-next-new">
                                        <a href="JavaScript:void(0);" title="" class="btn-next"><img src="~assets/images/image-newDesign/arrow-right-new.svg" alt=""></a>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </section>
            </div>
            <div class="group-recommended-experts mb-ha ">
                <header class="header-spacebetween">
                    <div class="box-spacebetween">
                        <div class="title-spacebetween">おすすめのエキスパート</div>
                        <a href="javascript:void(0);" title="" class="btn-viewmore-new">
                            <span class="texts">さらに見る</span>
                            <span class="icon"><i class="fas fa-chevron-right"></i></span>
                        </a>
                    </div>
                </header>
                <section class="list-recommended-projects-new list-client">
                    <div class="row-5">
                        <div class="item-col-5 item-5">
                            <div class="item-projects-new">
                                <div class="box-project-new-expert">
                                    <div class="heart-new"><img src="~assets/images/image-newDesign/heart-new.svg" alt="" class="img-fluid"></div>
                                    <div class="img-thumb-projects-new">
                                        <div class="image">
                                            <img src="~assets/images/image-newDesign/img-mercari.png" alt="" class="img-fluid">
                                        </div>
                                    </div>
                                    <div class="name-field heading-16">エンジニア</div>
                                    <div class="rule-project-new"></div>
                                    <div class="name-title-new heading-18">ECサイト作成に協力してくれるエンジニアを探しています。</div>
                                    <div class="group-meta-nationality">
                                        <div class="texts heading-16">Mercari</div>
                                        <div class="icon"><img src="~assets/images/image-newDesign/jp-new.svg" alt=""></div>
                                    </div>
                                    <div class="wrap-info-project">
                                        <div class="group-address-new">
                                            <div class="icon"><img src="~assets/images/image-newDesign/map-marker.svg" alt=""></div>
                                            <div class="texts heading-14">日本・東京（リモート可）</div>
                                        </div>
                                        <div class="group-number-favorites">
                                            <div class="group-star-new">
                                                <span class="icon"><img src="~assets/images/image-newDesign/star-new.svg" alt=""></span>
                                                <span class="texts heading-19">4.9 <span class="kaka">(30)</span> </span>
                                            </div>
                                            <div class="group-favorites-new">
                                                <span class="icon"><img src="~assets/images/image-newDesign/heart-favorites.svg" alt=""></span>
                                                <span class="texts heading-16">10</span>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="wrap-salary">
                                    <div class="group-salary-new">
                                        <div class="salary-new heading-26">¥400,000</div>
                                        <div class="salary-mounth heading-16">/1ヶ月</div>
                                    </div>
                                    <div class="group-next-new">
                                        <a href="JavaScript:void(0);" title="" class="btn-next"><img src="~assets/images/image-newDesign/arrow-right-new.svg" alt=""></a>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="item-col-5 item-5">
                            <div class="item-projects-new">
                                <div class="box-project-new-expert">
                                    <div class="heart-new"><img src="~assets/images/image-newDesign/heart-new.svg" alt="" class="img-fluid"></div>
                                    <div class="img-thumb-projects-new">
                                        <div class="image">
                                            <img src="~assets/images/image-newDesign/img-mercari.png" alt="" class="img-fluid">
                                        </div>
                                    </div>
                                    <div class="name-field heading-16">エンジニア</div>
                                    <div class="rule-project-new"></div>
                                    <div class="name-title-new heading-18">ECサイト作成に協力してくれるエンジニアを探しています。</div>
                                    <div class="group-meta-nationality">
                                        <div class="texts heading-16">Mercari</div>
                                        <div class="icon"><img src="~assets/images/image-newDesign/jp-new.svg" alt=""></div>
                                    </div>
                                    <div class="wrap-info-project">
                                        <div class="group-address-new">
                                            <div class="icon"><img src="~assets/images/image-newDesign/map-marker.svg" alt=""></div>
                                            <div class="texts heading-14">日本・東京（リモート可）</div>
                                        </div>
                                        <div class="group-number-favorites">
                                            <div class="group-star-new">
                                                <span class="icon"><img src="~assets/images/image-newDesign/star-new.svg" alt=""></span>
                                                <span class="texts heading-19">4.9 <span class="kaka">(30)</span> </span>
                                            </div>
                                            <div class="group-favorites-new">
                                                <span class="icon"><img src="~assets/images/image-newDesign/heart-favorites.svg" alt=""></span>
                                                <span class="texts heading-16">10</span>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="wrap-salary">
                                    <div class="group-salary-new">
                                        <div class="salary-new heading-26">¥400,000</div>
                                        <div class="salary-mounth heading-16">/1ヶ月</div>
                                    </div>
                                    <div class="group-next-new">
                                        <a href="JavaScript:void(0);" title="" class="btn-next"><img src="~assets/images/image-newDesign/arrow-right-new.svg" alt=""></a>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="item-col-5 item-5">
                            <div class="item-projects-new">
                                <div class="box-project-new-expert">
                                    <div class="heart-new"><img src="~assets/images/image-newDesign/heart-new.svg" alt="" class="img-fluid"></div>
                                    <div class="img-thumb-projects-new">
                                        <div class="image">
                                            <img src="~assets/images/image-newDesign/img-mercari.png" alt="" class="img-fluid">
                                        </div>
                                    </div>
                                    <div class="name-field heading-16">エンジニア</div>
                                    <div class="rule-project-new"></div>
                                    <div class="name-title-new heading-18">ECサイト作成に協力してくれるエンジニアを探しています。</div>
                                    <div class="group-meta-nationality">
                                        <div class="texts heading-16">Mercari</div>
                                        <div class="icon"><img src="~assets/images/image-newDesign/jp-new.svg" alt=""></div>
                                    </div>
                                    <div class="wrap-info-project">
                                        <div class="group-address-new">
                                            <div class="icon"><img src="~assets/images/image-newDesign/map-marker.svg" alt=""></div>
                                            <div class="texts heading-14">日本・東京（リモート可）</div>
                                        </div>
                                        <div class="group-number-favorites">
                                            <div class="group-star-new">
                                                <span class="icon"><img src="~assets/images/image-newDesign/star-new.svg" alt=""></span>
                                                <span class="texts heading-19">4.9 <span class="kaka">(30)</span> </span>
                                            </div>
                                            <div class="group-favorites-new">
                                                <span class="icon"><img src="~assets/images/image-newDesign/heart-favorites.svg" alt=""></span>
                                                <span class="texts heading-16">10</span>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="wrap-salary">
                                    <div class="group-salary-new">
                                        <div class="salary-new heading-26">¥400,000</div>
                                        <div class="salary-mounth heading-16">/1ヶ月</div>
                                    </div>
                                    <div class="group-next-new">
                                        <a href="JavaScript:void(0);" title="" class="btn-next"><img src="~assets/images/image-newDesign/arrow-right-new.svg" alt=""></a>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="item-col-5 item-5">
                            <div class="item-projects-new">
                                <div class="box-project-new-expert">
                                    <div class="heart-new"><img src="~assets/images/image-newDesign/heart-new.svg" alt="" class="img-fluid"></div>
                                    <div class="img-thumb-projects-new">
                                        <div class="image">
                                            <img src="~assets/images/image-newDesign/img-mercari.png" alt="" class="img-fluid">
                                        </div>
                                    </div>
                                    <div class="name-field heading-16">エンジニア</div>
                                    <div class="rule-project-new"></div>
                                    <div class="name-title-new heading-18">ECサイト作成に協力してくれるエンジニアを探しています。</div>
                                    <div class="group-meta-nationality">
                                        <div class="texts heading-16">Mercari</div>
                                        <div class="icon"><img src="~assets/images/image-newDesign/jp-new.svg" alt=""></div>
                                    </div>
                                    <div class="wrap-info-project">
                                        <div class="group-address-new">
                                            <div class="icon"><img src="~assets/images/image-newDesign/map-marker.svg" alt=""></div>
                                            <div class="texts heading-14">日本・東京（リモート可）</div>
                                        </div>
                                        <div class="group-number-favorites">
                                            <div class="group-star-new">
                                                <span class="icon"><img src="~assets/images/image-newDesign/star-new.svg" alt=""></span>
                                                <span class="texts heading-19">4.9 <span class="kaka">(30)</span> </span>
                                            </div>
                                            <div class="group-favorites-new">
                                                <span class="icon"><img src="~assets/images/image-newDesign/heart-favorites.svg" alt=""></span>
                                                <span class="texts heading-16">10</span>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="wrap-salary">
                                    <div class="group-salary-new">
                                        <div class="salary-new heading-26">¥400,000</div>
                                        <div class="salary-mounth heading-16">/1ヶ月</div>
                                    </div>
                                    <div class="group-next-new">
                                        <a href="JavaScript:void(0);" title="" class="btn-next"><img src="~assets/images/image-newDesign/arrow-right-new.svg" alt=""></a>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="item-col-5 item-5">
                            <div class="item-projects-new">
                                <div class="box-project-new-expert">
                                    <div class="heart-new"><img src="~assets/images/image-newDesign/heart-new.svg" alt="" class="img-fluid"></div>
                                    <div class="img-thumb-projects-new">
                                        <div class="image">
                                            <img src="~assets/images/image-newDesign/img-mercari.png" alt="" class="img-fluid">
                                        </div>
                                    </div>
                                    <div class="name-field heading-16">エンジニア</div>
                                    <div class="rule-project-new"></div>
                                    <div class="name-title-new heading-18">ECサイト作成に協力してくれるエンジニアを探しています。</div>
                                    <div class="group-meta-nationality">
                                        <div class="texts heading-16">Mercari</div>
                                        <div class="icon"><img src="~assets/images/image-newDesign/jp-new.svg" alt=""></div>
                                    </div>
                                    <div class="wrap-info-project">
                                        <div class="group-address-new">
                                            <div class="icon"><img src="~assets/images/image-newDesign/map-marker.svg" alt=""></div>
                                            <div class="texts heading-14">日本・東京（リモート可）</div>
                                        </div>
                                        <div class="group-number-favorites">
                                            <div class="group-star-new">
                                                <span class="icon"><img src="~assets/images/image-newDesign/star-new.svg" alt=""></span>
                                                <span class="texts heading-19">4.9 <span class="kaka">(30)</span> </span>
                                            </div>
                                            <div class="group-favorites-new">
                                                <span class="icon"><img src="~assets/images/image-newDesign/heart-favorites.svg" alt=""></span>
                                                <span class="texts heading-16">10</span>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="wrap-salary">
                                    <div class="group-salary-new">
                                        <div class="salary-new heading-26">¥400,000</div>
                                        <div class="salary-mounth heading-16">/1ヶ月</div>
                                    </div>
                                    <div class="group-next-new">
                                        <a href="JavaScript:void(0);" title="" class="btn-next"><img src="~assets/images/image-newDesign/arrow-right-new.svg" alt=""></a>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </section>
            </div>
            <div class="group-engineer-expert mb-ha ">
                <header class="header-spacebetween">
                    <div class="box-spacebetween">
                        <div class="title-spacebetween">エンジニアのエキスパート</div>
                        <a href="javascript:void(0);" title="" class="btn-viewmore-new">
                            <span class="texts">さらに見る</span>
                            <span class="icon"><i class="fas fa-chevron-right"></i></span>
                        </a>
                    </div>
                </header>
                <section class="list-recommended-projects-new list-client">
                    <div class="row-5">
                        <div class="item-col-5 item-5">
                            <div class="item-projects-new">
                                <div class="box-project-new-expert">
                                    <div class="heart-new"><img src="~assets/images/image-newDesign/heart-new.svg" alt="" class="img-fluid"></div>
                                    <div class="img-thumb-projects-new">
                                        <div class="image">
                                            <img src="~assets/images/image-newDesign/img-mercari.png" alt="" class="img-fluid">
                                        </div>
                                    </div>
                                    <div class="name-field heading-16">エンジニア</div>
                                    <div class="rule-project-new"></div>
                                    <div class="name-title-new heading-18">ECサイト作成に協力してくれるエンジニアを探しています。</div>
                                    <div class="group-meta-nationality">
                                        <div class="texts heading-16">Mercari</div>
                                        <div class="icon"><img src="~assets/images/image-newDesign/jp-new.svg" alt=""></div>
                                    </div>
                                    <div class="wrap-info-project">
                                        <div class="group-address-new">
                                            <div class="icon"><img src="~assets/images/image-newDesign/map-marker.svg" alt=""></div>
                                            <div class="texts heading-14">日本・東京（リモート可）</div>
                                        </div>
                                        <div class="group-number-favorites">
                                            <div class="group-star-new">
                                                <span class="icon"><img src="~assets/images/image-newDesign/star-new.svg" alt=""></span>
                                                <span class="texts heading-19">4.9 <span class="kaka">(30)</span> </span>
                                            </div>
                                            <div class="group-favorites-new">
                                                <span class="icon"><img src="~assets/images/image-newDesign/heart-favorites.svg" alt=""></span>
                                                <span class="texts heading-16">10</span>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="wrap-salary">
                                    <div class="group-salary-new">
                                        <div class="salary-new heading-26">¥400,000</div>
                                        <div class="salary-mounth heading-16">/1ヶ月</div>
                                    </div>
                                    <div class="group-next-new">
                                        <a href="JavaScript:void(0);" title="" class="btn-next"><img src="~assets/images/image-newDesign/arrow-right-new.svg" alt=""></a>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="item-col-5 item-5">
                            <div class="item-projects-new">
                                <div class="box-project-new-expert">
                                    <div class="heart-new"><img src="~assets/images/image-newDesign/heart-new.svg" alt="" class="img-fluid"></div>
                                    <div class="img-thumb-projects-new">
                                        <div class="image">
                                            <img src="~assets/images/image-newDesign/img-mercari.png" alt="" class="img-fluid">
                                        </div>
                                    </div>
                                    <div class="name-field heading-16">エンジニア</div>
                                    <div class="rule-project-new"></div>
                                    <div class="name-title-new heading-18">ECサイト作成に協力してくれるエンジニアを探しています。</div>
                                    <div class="group-meta-nationality">
                                        <div class="texts heading-16">Mercari</div>
                                        <div class="icon"><img src="~assets/images/image-newDesign/jp-new.svg" alt=""></div>
                                    </div>
                                    <div class="wrap-info-project">
                                        <div class="group-address-new">
                                            <div class="icon"><img src="~assets/images/image-newDesign/map-marker.svg" alt=""></div>
                                            <div class="texts heading-14">日本・東京（リモート可）</div>
                                        </div>
                                        <div class="group-number-favorites">
                                            <div class="group-star-new">
                                                <span class="icon"><img src="~assets/images/image-newDesign/star-new.svg" alt=""></span>
                                                <span class="texts heading-19">4.9 <span class="kaka">(30)</span> </span>
                                            </div>
                                            <div class="group-favorites-new">
                                                <span class="icon"><img src="~assets/images/image-newDesign/heart-favorites.svg" alt=""></span>
                                                <span class="texts heading-16">10</span>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="wrap-salary">
                                    <div class="group-salary-new">
                                        <div class="salary-new heading-26">¥400,000</div>
                                        <div class="salary-mounth heading-16">/1ヶ月</div>
                                    </div>
                                    <div class="group-next-new">
                                        <a href="JavaScript:void(0);" title="" class="btn-next"><img src="~assets/images/image-newDesign/arrow-right-new.svg" alt=""></a>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="item-col-5 item-5">
                            <div class="item-projects-new">
                                <div class="box-project-new-expert">
                                    <div class="heart-new"><img src="~assets/images/image-newDesign/heart-new.svg" alt="" class="img-fluid"></div>
                                    <div class="img-thumb-projects-new">
                                        <div class="image">
                                            <img src="~assets/images/image-newDesign/img-mercari.png" alt="" class="img-fluid">
                                        </div>
                                    </div>
                                    <div class="name-field heading-16">エンジニア</div>
                                    <div class="rule-project-new"></div>
                                    <div class="name-title-new heading-18">ECサイト作成に協力してくれるエンジニアを探しています。</div>
                                    <div class="group-meta-nationality">
                                        <div class="texts heading-16">Mercari</div>
                                        <div class="icon"><img src="~assets/images/image-newDesign/jp-new.svg" alt=""></div>
                                    </div>
                                    <div class="wrap-info-project">
                                        <div class="group-address-new">
                                            <div class="icon"><img src="~assets/images/image-newDesign/map-marker.svg" alt=""></div>
                                            <div class="texts heading-14">日本・東京（リモート可）</div>
                                        </div>
                                        <div class="group-number-favorites">
                                            <div class="group-star-new">
                                                <span class="icon"><img src="~assets/images/image-newDesign/star-new.svg" alt=""></span>
                                                <span class="texts heading-19">4.9 <span class="kaka">(30)</span> </span>
                                            </div>
                                            <div class="group-favorites-new">
                                                <span class="icon"><img src="~assets/images/image-newDesign/heart-favorites.svg" alt=""></span>
                                                <span class="texts heading-16">10</span>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="wrap-salary">
                                    <div class="group-salary-new">
                                        <div class="salary-new heading-26">¥400,000</div>
                                        <div class="salary-mounth heading-16">/1ヶ月</div>
                                    </div>
                                    <div class="group-next-new">
                                        <a href="JavaScript:void(0);" title="" class="btn-next"><img src="~assets/images/image-newDesign/arrow-right-new.svg" alt=""></a>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="item-col-5 item-5">
                            <div class="item-projects-new">
                                <div class="box-project-new-expert">
                                    <div class="heart-new"><img src="~assets/images/image-newDesign/heart-new.svg" alt="" class="img-fluid"></div>
                                    <div class="img-thumb-projects-new">
                                        <div class="image">
                                            <img src="~assets/images/image-newDesign/img-mercari.png" alt="" class="img-fluid">
                                        </div>
                                    </div>
                                    <div class="name-field heading-16">エンジニア</div>
                                    <div class="rule-project-new"></div>
                                    <div class="name-title-new heading-18">ECサイト作成に協力してくれるエンジニアを探しています。</div>
                                    <div class="group-meta-nationality">
                                        <div class="texts heading-16">Mercari</div>
                                        <div class="icon"><img src="~assets/images/image-newDesign/jp-new.svg" alt=""></div>
                                    </div>
                                    <div class="wrap-info-project">
                                        <div class="group-address-new">
                                            <div class="icon"><img src="~assets/images/image-newDesign/map-marker.svg" alt=""></div>
                                            <div class="texts heading-14">日本・東京（リモート可）</div>
                                        </div>
                                        <div class="group-number-favorites">
                                            <div class="group-star-new">
                                                <span class="icon"><img src="~assets/images/image-newDesign/star-new.svg" alt=""></span>
                                                <span class="texts heading-19">4.9 <span class="kaka">(30)</span> </span>
                                            </div>
                                            <div class="group-favorites-new">
                                                <span class="icon"><img src="~assets/images/image-newDesign/heart-favorites.svg" alt=""></span>
                                                <span class="texts heading-16">10</span>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="wrap-salary">
                                    <div class="group-salary-new">
                                        <div class="salary-new heading-26">¥400,000</div>
                                        <div class="salary-mounth heading-16">/1ヶ月</div>
                                    </div>
                                    <div class="group-next-new">
                                        <a href="JavaScript:void(0);" title="" class="btn-next"><img src="~assets/images/image-newDesign/arrow-right-new.svg" alt=""></a>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="item-col-5 item-5">
                            <div class="item-projects-new">
                                <div class="box-project-new-expert">
                                    <div class="heart-new"><img src="~assets/images/image-newDesign/heart-new.svg" alt="" class="img-fluid"></div>
                                    <div class="img-thumb-projects-new">
                                        <div class="image">
                                            <img src="~assets/images/image-newDesign/img-mercari.png" alt="" class="img-fluid">
                                        </div>
                                    </div>
                                    <div class="name-field heading-16">エンジニア</div>
                                    <div class="rule-project-new"></div>
                                    <div class="name-title-new heading-18">ECサイト作成に協力してくれるエンジニアを探しています。</div>
                                    <div class="group-meta-nationality">
                                        <div class="texts heading-16">Mercari</div>
                                        <div class="icon"><img src="~assets/images/image-newDesign/jp-new.svg" alt=""></div>
                                    </div>
                                    <div class="wrap-info-project">
                                        <div class="group-address-new">
                                            <div class="icon"><img src="~assets/images/image-newDesign/map-marker.svg" alt=""></div>
                                            <div class="texts heading-14">日本・東京（リモート可）</div>
                                        </div>
                                        <div class="group-number-favorites">
                                            <div class="group-star-new">
                                                <span class="icon"><img src="~assets/images/image-newDesign/star-new.svg" alt=""></span>
                                                <span class="texts heading-19">4.9 <span class="kaka">(30)</span> </span>
                                            </div>
                                            <div class="group-favorites-new">
                                                <span class="icon"><img src="~assets/images/image-newDesign/heart-favorites.svg" alt=""></span>
                                                <span class="texts heading-16">10</span>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="wrap-salary">
                                    <div class="group-salary-new">
                                        <div class="salary-new heading-26">¥400,000</div>
                                        <div class="salary-mounth heading-16">/1ヶ月</div>
                                    </div>
                                    <div class="group-next-new">
                                        <a href="JavaScript:void(0);" title="" class="btn-next"><img src="~assets/images/image-newDesign/arrow-right-new.svg" alt=""></a>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </section>
            </div>
        </div>
    </div>
</template>
<script>
    export default {
        layout: 'guide-b'
    }
</script>

<style scoped>

</style>