<template>
    <div class="a111-new search-results-project pt-28">
        <div class="container">
            <div class="group-check-more mb-ha ">
                <header class="header-spacebetween">
                    <div class="box-spacebetween">
                        <div class="title-spacebetween">検索結果のプロジェクト</div>
                    </div>
                </header>
                <section class="list-search-results-project list-client">
                    <div class="row-5 m-135">
                        <div class="item-col-5 item-5">
                            <div class="item-projects-new">
                                <div class="box-project-new-expert">
                                    <div class="heart-new"><img src="~assets/images/image-newDesign/heart-new.svg" alt="" class="img-fluid"></div>
                                    <div class="img-thumb-projects-new">
                                        <div class="image">
                                            <img src="~assets/images/image-newDesign/img-mercari.png" alt="" class="img-fluid">
                                        </div>
                                    </div>
                                    <div class="name-field heading-16">エンジニア</div>
                                    <div class="rule-project-new"></div>
                                    <div class="name-title-new heading-18">ECサイト作成に協力してくれるエンジニアを探しています。</div>
                                    <div class="group-meta-nationality">
                                        <div class="texts heading-16">Mercari</div>
                                        <div class="icon"><img src="~assets/images/image-newDesign/jp-new.svg" alt=""></div>
                                    </div>
                                    <div class="wrap-info-project">
                                        <div class="group-address-new">
                                            <div class="icon"><img src="~assets/images/image-newDesign/map-marker.svg" alt=""></div>
                                            <div class="texts heading-14">日本・東京（リモート可）</div>
                                        </div>
                                        <div class="group-number-favorites">
                                            <div class="group-star-new">
                                                <span class="icon"><img src="~assets/images/image-newDesign/star-new.svg" alt=""></span>
                                                <span class="texts heading-19">4.9 <span class="kaka">(30)</span> </span>
                                            </div>
                                            <div class="group-favorites-new">
                                                <span class="icon"><img src="~assets/images/image-newDesign/heart-favorites.svg" alt=""></span>
                                                <span class="texts heading-16">10</span>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="wrap-salary">
                                    <div class="group-salary-new">
                                        <div class="salary-new heading-26">¥400,000</div>
                                        <div class="salary-mounth heading-16">/1ヶ月</div>
                                    </div>
                                    <div class="group-next-new">
                                        <a href="JavaScript:void(0);" title="" class="btn-next"><img src="~assets/images/image-newDesign/arrow-right-new.svg" alt=""></a>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="item-col-5 item-5">
                            <div class="item-projects-new">
                                <div class="box-project-new-expert">
                                    <div class="heart-new"><img src="~assets/images/image-newDesign/heart-new.svg" alt="" class="img-fluid"></div>
                                    <div class="img-thumb-projects-new">
                                        <div class="image">
                                            <img src="~assets/images/image-newDesign/img-mercari.png" alt="" class="img-fluid">
                                        </div>
                                    </div>
                                    <div class="name-field heading-16">エンジニア</div>
                                    <div class="rule-project-new"></div>
                                    <div class="name-title-new heading-18">ECサイト作成に協力してくれるエンジニアを探しています。</div>
                                    <div class="group-meta-nationality">
                                        <div class="texts heading-16">Mercari</div>
                                        <div class="icon"><img src="~assets/images/image-newDesign/jp-new.svg" alt=""></div>
                                    </div>
                                    <div class="wrap-info-project">
                                        <div class="group-address-new">
                                            <div class="icon"><img src="~assets/images/image-newDesign/map-marker.svg" alt=""></div>
                                            <div class="texts heading-14">日本・東京（リモート可）</div>
                                        </div>
                                        <div class="group-number-favorites">
                                            <div class="group-star-new">
                                                <span class="icon"><img src="~assets/images/image-newDesign/star-new.svg" alt=""></span>
                                                <span class="texts heading-19">4.9 <span class="kaka">(30)</span> </span>
                                            </div>
                                            <div class="group-favorites-new">
                                                <span class="icon"><img src="~assets/images/image-newDesign/heart-favorites.svg" alt=""></span>
                                                <span class="texts heading-16">10</span>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="wrap-salary">
                                    <div class="group-salary-new">
                                        <div class="salary-new heading-26">¥400,000</div>
                                        <div class="salary-mounth heading-16">/1ヶ月</div>
                                    </div>
                                    <div class="group-next-new">
                                        <a href="JavaScript:void(0);" title="" class="btn-next"><img src="~assets/images/image-newDesign/arrow-right-new.svg" alt=""></a>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="item-col-5 item-5">
                            <div class="item-projects-new">
                                <div class="box-project-new-expert">
                                    <div class="heart-new"><img src="~assets/images/image-newDesign/heart-new.svg" alt="" class="img-fluid"></div>
                                    <div class="img-thumb-projects-new">
                                        <div class="image">
                                            <img src="~assets/images/image-newDesign/img-mercari.png" alt="" class="img-fluid">
                                        </div>
                                    </div>
                                    <div class="name-field heading-16">エンジニア</div>
                                    <div class="rule-project-new"></div>
                                    <div class="name-title-new heading-18">ECサイト作成に協力してくれるエンジニアを探しています。</div>
                                    <div class="group-meta-nationality">
                                        <div class="texts heading-16">Mercari</div>
                                        <div class="icon"><img src="~assets/images/image-newDesign/jp-new.svg" alt=""></div>
                                    </div>
                                    <div class="wrap-info-project">
                                        <div class="group-address-new">
                                            <div class="icon"><img src="~assets/images/image-newDesign/map-marker.svg" alt=""></div>
                                            <div class="texts heading-14">日本・東京（リモート可）</div>
                                        </div>
                                        <div class="group-number-favorites">
                                            <div class="group-star-new">
                                                <span class="icon"><img src="~assets/images/image-newDesign/star-new.svg" alt=""></span>
                                                <span class="texts heading-19">4.9 <span class="kaka">(30)</span> </span>
                                            </div>
                                            <div class="group-favorites-new">
                                                <span class="icon"><img src="~assets/images/image-newDesign/heart-favorites.svg" alt=""></span>
                                                <span class="texts heading-16">10</span>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="wrap-salary">
                                    <div class="group-salary-new">
                                        <div class="salary-new heading-26">¥400,000</div>
                                        <div class="salary-mounth heading-16">/1ヶ月</div>
                                    </div>
                                    <div class="group-next-new">
                                        <a href="JavaScript:void(0);" title="" class="btn-next"><img src="~assets/images/image-newDesign/arrow-right-new.svg" alt=""></a>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="item-col-5 item-5">
                            <div class="item-projects-new">
                                <div class="box-project-new-expert">
                                    <div class="heart-new"><img src="~assets/images/image-newDesign/heart-new.svg" alt="" class="img-fluid"></div>
                                    <div class="img-thumb-projects-new">
                                        <div class="image">
                                            <img src="~assets/images/image-newDesign/img-mercari.png" alt="" class="img-fluid">
                                        </div>
                                    </div>
                                    <div class="name-field heading-16">エンジニア</div>
                                    <div class="rule-project-new"></div>
                                    <div class="name-title-new heading-18">ECサイト作成に協力してくれるエンジニアを探しています。</div>
                                    <div class="group-meta-nationality">
                                        <div class="texts heading-16">Mercari</div>
                                        <div class="icon"><img src="~assets/images/image-newDesign/jp-new.svg" alt=""></div>
                                    </div>
                                    <div class="wrap-info-project">
                                        <div class="group-address-new">
                                            <div class="icon"><img src="~assets/images/image-newDesign/map-marker.svg" alt=""></div>
                                            <div class="texts heading-14">日本・東京（リモート可）</div>
                                        </div>
                                        <div class="group-number-favorites">
                                            <div class="group-star-new">
                                                <span class="icon"><img src="~assets/images/image-newDesign/star-new.svg" alt=""></span>
                                                <span class="texts heading-19">4.9 <span class="kaka">(30)</span> </span>
                                            </div>
                                            <div class="group-favorites-new">
                                                <span class="icon"><img src="~assets/images/image-newDesign/heart-favorites.svg" alt=""></span>
                                                <span class="texts heading-16">10</span>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="wrap-salary">
                                    <div class="group-salary-new">
                                        <div class="salary-new heading-26">¥400,000</div>
                                        <div class="salary-mounth heading-16">/1ヶ月</div>
                                    </div>
                                    <div class="group-next-new">
                                        <a href="JavaScript:void(0);" title="" class="btn-next"><img src="~assets/images/image-newDesign/arrow-right-new.svg" alt=""></a>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="item-col-5 item-5">
                            <div class="item-projects-new">
                                <div class="box-project-new-expert">
                                    <div class="heart-new"><img src="~assets/images/image-newDesign/heart-new.svg" alt="" class="img-fluid"></div>
                                    <div class="img-thumb-projects-new">
                                        <div class="image">
                                            <img src="~assets/images/image-newDesign/img-mercari.png" alt="" class="img-fluid">
                                        </div>
                                    </div>
                                    <div class="name-field heading-16">エンジニア</div>
                                    <div class="rule-project-new"></div>
                                    <div class="name-title-new heading-18">ECサイト作成に協力してくれるエンジニアを探しています。</div>
                                    <div class="group-meta-nationality">
                                        <div class="texts heading-16">Mercari</div>
                                        <div class="icon"><img src="~assets/images/image-newDesign/jp-new.svg" alt=""></div>
                                    </div>
                                    <div class="wrap-info-project">
                                        <div class="group-address-new">
                                            <div class="icon"><img src="~assets/images/image-newDesign/map-marker.svg" alt=""></div>
                                            <div class="texts heading-14">日本・東京（リモート可）</div>
                                        </div>
                                        <div class="group-number-favorites">
                                            <div class="group-star-new">
                                                <span class="icon"><img src="~assets/images/image-newDesign/star-new.svg" alt=""></span>
                                                <span class="texts heading-19">4.9 <span class="kaka">(30)</span> </span>
                                            </div>
                                            <div class="group-favorites-new">
                                                <span class="icon"><img src="~assets/images/image-newDesign/heart-favorites.svg" alt=""></span>
                                                <span class="texts heading-16">10</span>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="wrap-salary">
                                    <div class="group-salary-new">
                                        <div class="salary-new heading-26">¥400,000</div>
                                        <div class="salary-mounth heading-16">/1ヶ月</div>
                                    </div>
                                    <div class="group-next-new">
                                        <a href="JavaScript:void(0);" title="" class="btn-next"><img src="~assets/images/image-newDesign/arrow-right-new.svg" alt=""></a>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="item-col-5 item-5">
                            <div class="item-projects-new">
                                <div class="box-project-new-expert">
                                    <div class="heart-new"><img src="~assets/images/image-newDesign/heart-new.svg" alt="" class="img-fluid"></div>
                                    <div class="img-thumb-projects-new">
                                        <div class="image">
                                            <img src="~assets/images/image-newDesign/img-mercari.png" alt="" class="img-fluid">
                                        </div>
                                    </div>
                                    <div class="name-field heading-16">エンジニア</div>
                                    <div class="rule-project-new"></div>
                                    <div class="name-title-new heading-18">ECサイト作成に協力してくれるエンジニアを探しています。</div>
                                    <div class="group-meta-nationality">
                                        <div class="texts heading-16">Mercari</div>
                                        <div class="icon"><img src="~assets/images/image-newDesign/jp-new.svg" alt=""></div>
                                    </div>
                                    <div class="wrap-info-project">
                                        <div class="group-address-new">
                                            <div class="icon"><img src="~assets/images/image-newDesign/map-marker.svg" alt=""></div>
                                            <div class="texts heading-14">日本・東京（リモート可）</div>
                                        </div>
                                        <div class="group-number-favorites">
                                            <div class="group-star-new">
                                                <span class="icon"><img src="~assets/images/image-newDesign/star-new.svg" alt=""></span>
                                                <span class="texts heading-19">4.9 <span class="kaka">(30)</span> </span>
                                            </div>
                                            <div class="group-favorites-new">
                                                <span class="icon"><img src="~assets/images/image-newDesign/heart-favorites.svg" alt=""></span>
                                                <span class="texts heading-16">10</span>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="wrap-salary">
                                    <div class="group-salary-new">
                                        <div class="salary-new heading-26">¥400,000</div>
                                        <div class="salary-mounth heading-16">/1ヶ月</div>
                                    </div>
                                    <div class="group-next-new">
                                        <a href="JavaScript:void(0);" title="" class="btn-next"><img src="~assets/images/image-newDesign/arrow-right-new.svg" alt=""></a>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="item-col-5 item-5">
                            <div class="item-projects-new">
                                <div class="box-project-new-expert">
                                    <div class="heart-new"><img src="~assets/images/image-newDesign/heart-new.svg" alt="" class="img-fluid"></div>
                                    <div class="img-thumb-projects-new">
                                        <div class="image">
                                            <img src="~assets/images/image-newDesign/img-mercari.png" alt="" class="img-fluid">
                                        </div>
                                    </div>
                                    <div class="name-field heading-16">エンジニア</div>
                                    <div class="rule-project-new"></div>
                                    <div class="name-title-new heading-18">ECサイト作成に協力してくれるエンジニアを探しています。</div>
                                    <div class="group-meta-nationality">
                                        <div class="texts heading-16">Mercari</div>
                                        <div class="icon"><img src="~assets/images/image-newDesign/jp-new.svg" alt=""></div>
                                    </div>
                                    <div class="wrap-info-project">
                                        <div class="group-address-new">
                                            <div class="icon"><img src="~assets/images/image-newDesign/map-marker.svg" alt=""></div>
                                            <div class="texts heading-14">日本・東京（リモート可）</div>
                                        </div>
                                        <div class="group-number-favorites">
                                            <div class="group-star-new">
                                                <span class="icon"><img src="~assets/images/image-newDesign/star-new.svg" alt=""></span>
                                                <span class="texts heading-19">4.9 <span class="kaka">(30)</span> </span>
                                            </div>
                                            <div class="group-favorites-new">
                                                <span class="icon"><img src="~assets/images/image-newDesign/heart-favorites.svg" alt=""></span>
                                                <span class="texts heading-16">10</span>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="wrap-salary">
                                    <div class="group-salary-new">
                                        <div class="salary-new heading-26">¥400,000</div>
                                        <div class="salary-mounth heading-16">/1ヶ月</div>
                                    </div>
                                    <div class="group-next-new">
                                        <a href="JavaScript:void(0);" title="" class="btn-next"><img src="~assets/images/image-newDesign/arrow-right-new.svg" alt=""></a>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="item-col-5 item-5">
                            <div class="item-projects-new">
                                <div class="box-project-new-expert">
                                    <div class="heart-new"><img src="~assets/images/image-newDesign/heart-new.svg" alt="" class="img-fluid"></div>
                                    <div class="img-thumb-projects-new">
                                        <div class="image">
                                            <img src="~assets/images/image-newDesign/img-mercari.png" alt="" class="img-fluid">
                                        </div>
                                    </div>
                                    <div class="name-field heading-16">エンジニア</div>
                                    <div class="rule-project-new"></div>
                                    <div class="name-title-new heading-18">ECサイト作成に協力してくれるエンジニアを探しています。</div>
                                    <div class="group-meta-nationality">
                                        <div class="texts heading-16">Mercari</div>
                                        <div class="icon"><img src="~assets/images/image-newDesign/jp-new.svg" alt=""></div>
                                    </div>
                                    <div class="wrap-info-project">
                                        <div class="group-address-new">
                                            <div class="icon"><img src="~assets/images/image-newDesign/map-marker.svg" alt=""></div>
                                            <div class="texts heading-14">日本・東京（リモート可）</div>
                                        </div>
                                        <div class="group-number-favorites">
                                            <div class="group-star-new">
                                                <span class="icon"><img src="~assets/images/image-newDesign/star-new.svg" alt=""></span>
                                                <span class="texts heading-19">4.9 <span class="kaka">(30)</span> </span>
                                            </div>
                                            <div class="group-favorites-new">
                                                <span class="icon"><img src="~assets/images/image-newDesign/heart-favorites.svg" alt=""></span>
                                                <span class="texts heading-16">10</span>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="wrap-salary">
                                    <div class="group-salary-new">
                                        <div class="salary-new heading-26">¥400,000</div>
                                        <div class="salary-mounth heading-16">/1ヶ月</div>
                                    </div>
                                    <div class="group-next-new">
                                        <a href="JavaScript:void(0);" title="" class="btn-next"><img src="~assets/images/image-newDesign/arrow-right-new.svg" alt=""></a>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="item-col-5 item-5">
                            <div class="item-projects-new">
                                <div class="box-project-new-expert">
                                    <div class="heart-new"><img src="~assets/images/image-newDesign/heart-new.svg" alt="" class="img-fluid"></div>
                                    <div class="img-thumb-projects-new">
                                        <div class="image">
                                            <img src="~assets/images/image-newDesign/img-mercari.png" alt="" class="img-fluid">
                                        </div>
                                    </div>
                                    <div class="name-field heading-16">エンジニア</div>
                                    <div class="rule-project-new"></div>
                                    <div class="name-title-new heading-18">ECサイト作成に協力してくれるエンジニアを探しています。</div>
                                    <div class="group-meta-nationality">
                                        <div class="texts heading-16">Mercari</div>
                                        <div class="icon"><img src="~assets/images/image-newDesign/jp-new.svg" alt=""></div>
                                    </div>
                                    <div class="wrap-info-project">
                                        <div class="group-address-new">
                                            <div class="icon"><img src="~assets/images/image-newDesign/map-marker.svg" alt=""></div>
                                            <div class="texts heading-14">日本・東京（リモート可）</div>
                                        </div>
                                        <div class="group-number-favorites">
                                            <div class="group-star-new">
                                                <span class="icon"><img src="~assets/images/image-newDesign/star-new.svg" alt=""></span>
                                                <span class="texts heading-19">4.9 <span class="kaka">(30)</span> </span>
                                            </div>
                                            <div class="group-favorites-new">
                                                <span class="icon"><img src="~assets/images/image-newDesign/heart-favorites.svg" alt=""></span>
                                                <span class="texts heading-16">10</span>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="wrap-salary">
                                    <div class="group-salary-new">
                                        <div class="salary-new heading-26">¥400,000</div>
                                        <div class="salary-mounth heading-16">/1ヶ月</div>
                                    </div>
                                    <div class="group-next-new">
                                        <a href="JavaScript:void(0);" title="" class="btn-next"><img src="~assets/images/image-newDesign/arrow-right-new.svg" alt=""></a>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="item-col-5 item-5">
                            <div class="item-projects-new">
                                <div class="box-project-new-expert">
                                    <div class="heart-new"><img src="~assets/images/image-newDesign/heart-new.svg" alt="" class="img-fluid"></div>
                                    <div class="img-thumb-projects-new">
                                        <div class="image">
                                            <img src="~assets/images/image-newDesign/img-mercari.png" alt="" class="img-fluid">
                                        </div>
                                    </div>
                                    <div class="name-field heading-16">エンジニア</div>
                                    <div class="rule-project-new"></div>
                                    <div class="name-title-new heading-18">ECサイト作成に協力してくれるエンジニアを探しています。</div>
                                    <div class="group-meta-nationality">
                                        <div class="texts heading-16">Mercari</div>
                                        <div class="icon"><img src="~assets/images/image-newDesign/jp-new.svg" alt=""></div>
                                    </div>
                                    <div class="wrap-info-project">
                                        <div class="group-address-new">
                                            <div class="icon"><img src="~assets/images/image-newDesign/map-marker.svg" alt=""></div>
                                            <div class="texts heading-14">日本・東京（リモート可）</div>
                                        </div>
                                        <div class="group-number-favorites">
                                            <div class="group-star-new">
                                                <span class="icon"><img src="~assets/images/image-newDesign/star-new.svg" alt=""></span>
                                                <span class="texts heading-19">4.9 <span class="kaka">(30)</span> </span>
                                            </div>
                                            <div class="group-favorites-new">
                                                <span class="icon"><img src="~assets/images/image-newDesign/heart-favorites.svg" alt=""></span>
                                                <span class="texts heading-16">10</span>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="wrap-salary">
                                    <div class="group-salary-new">
                                        <div class="salary-new heading-26">¥400,000</div>
                                        <div class="salary-mounth heading-16">/1ヶ月</div>
                                    </div>
                                    <div class="group-next-new">
                                        <a href="JavaScript:void(0);" title="" class="btn-next"><img src="~assets/images/image-newDesign/arrow-right-new.svg" alt=""></a>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </section>
                <div class="group-pagination-new">
                    <ul class="list-pagination-new">
                        <li class="item-pagination-new active"><a class="link-pagination" href="#">1</a></li>
                        <li class="item-pagination-new"><a class="link-pagination" href="#">2</a></li>
                        <li class="item-pagination-new"><a class="link-pagination" href="#">3</a></li>
                        <li class="item-pagination-new"><a class="link-pagination" href="#">...</a></li>
                        <li class="item-pagination-new"><a class="link-pagination" href="#">17</a></li>
                        <li class="item-pagination-new "><a class="link-pagination btn-pagination" href="#"><i class="fas fa-angle-right"></i></a></li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
        
</template>

<script>
    export default {
        layout: 'guide-b'
    }
</script>

<style scoped>

</style>