<template>
    <div class="a111-new consultation-AI">
        <div class="progress-new custom-progress-new">
            <div class="progress-bar custom-progress-bar-new" :style="{width: this.progress + '%'}"></div>
        </div>
        <div class="group-consultation-big">
            <div class="container">
                <div class="box-content-consultation">
                    <div class="group-content-consultation">
                        <div class="consultation-body">
                            <div class="content-consultation-body">
                                <div class="logo-bird-consultation">
                                    <img src="~/assets/images/image-newDesign/spotech gradient.svg" alt="">
                                </div>
                                <Form1 v-if="step == 1" v-model="data.form1" @redirect="redirect" :history="history" />
                                <Form2 v-if="step == 2" v-model="data.form2" @redirect="redirect" :history="history"/>
                                <Form3 v-if="step == 3" v-model="data.form3" @redirect="redirect" :history="history"/>
                                <Form4 v-if="step == 4" v-model="data.form4" @redirect="redirect" :step="step" :history="history"
                                        :willNext="willNext"/>
                                <Form5 v-if="step == 5" v-model="data.form5" @redirect="redirect" :step="step" :history="history"
                                        :willNext="willNext"/>
                                <Form6 v-if="step == 6" v-model="data.form6" @redirect="redirect" :step="step" :history="history"
                                        :willNext="willNext"/>
                                <Form7 v-if="step == 7" v-model="data.form7" @redirect="redirect" :step="step" :history="history"
                                        :willNext="willNext"/>
                                <Form8 v-if="step == 8" v-model="data.form8" @redirect="redirect" :step="step" :history="history"
                                        :willNext="willNext"/>
                                <Form9 v-if="step == 9" v-model="data.form9" @redirect="redirect" :history="history"/>
                                <Form10 v-if="step == 10" v-model="data.form10" @redirect="redirect" :history="history"/>
                                <Form11 v-if="step == 11" v-model="data.form11" @redirect="redirect"
                                        :history="history" :anwers="data"/>
                                <Form12 v-if="step == 12" v-model="data.form12" @redirect="redirect"
                                        :history="history" :anwers="data"/>
                                <Form13 v-if="step == 13" v-model="data.form12" @redirect="redirect"
                                        :history="history" />
                            </div>
                        </div>
                        <div class="consultation-right">
                            <div class="box-consultation-right">
                                <div class="title-companies-consultation">あらゆる規模の企業が信頼</div>
                                <div class="list-companies-consultation">
                                    <div class="item-companies-consultation">
                                        <img src="~assets/images/image-newDesign/partner-2(2).png" alt="">
                                    </div>
                                    <div class="item-companies-consultation">
                                        <img src="~assets/images/image-newDesign/logo-company-2.png" alt="">
                                    </div>
                                    <div class="item-companies-consultation">
                                        <img src="~assets/images/image-newDesign/partner-3(2).png" alt="">
                                    </div>
                                    <div class="item-companies-consultation">
                                        <img src="~assets/images/image-newDesign/partner-5.png" alt="">
                                    </div>
                                    <div class="item-companies-consultation">
                                        <img src="~assets/images/image-newDesign/logo-company-1.png" alt="">
                                    </div>
                                    <div class="item-companies-consultation">
                                        <img src="~assets/images/image-newDesign/logo-company-8.png" alt="">
                                    </div>
                                    <div class="item-companies-consultation">
                                        <img src="~assets/images/image-newDesign/logo-company-7.png" alt="">
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</template>

<script>

    export default {
        layout: 'guide-ai',
        components: {
            Form1: () => import('~/components/consultation-new/form-1'),
            Form2: () => import('~/components/consultation-new/form-2'),
            Form3: () => import('~/components/consultation-new/form-3'),
            Form4: () => import('~/components/consultation-new/form-4'),
            Form5: () => import('~/components/consultation-new/form-5'),
            Form6: () => import('~/components/consultation-new/form-6'),
            Form7: () => import('~/components/consultation-new/form-7'),
            Form8: () => import('~/components/consultation-new/form-8'),
            Form9: () => import('~/components/consultation-new/form-9'),
            Form10: () => import('~/components/consultation-new/form-10'),
            Form11: () => import('~/components/consultation-new/form-11'),
            Form12: () => import('~/components/consultation-new/form-12'),
            Form13: () => import('~/components/consultation-new/form-13'),
        },
        data() {
            return {
                data: {},
                step: 1,
                willNext: null,
                history: [1]
            }
        },
        computed: {
            progress() {
                return this.step / 13 * 100;
            },
            titleAI() {
                if (this.progress == 100) return this.$t('titleAIForm13') 
                return this.$t('WhatAreTheCurrentProblems')
            }
        },
        methods: {
            redirect(step, history, willNext) {
                this.step = step;
                if (history.length) {
                    this.history = [...history]
                }
                if (willNext && willNext.length) {
                    this.willNext = [...willNext]
                } else {
                    this.willNext = []
                }
            }
        },
    }
</script>

<style scoped>

</style>