<template>
    <div class="new-design">
        <div class="toppage-new">
            <div class="group-content-toppage_new">
                <div class="container">
                    <div class="content-toppage_new">
                        <div class="info-toppage_new">
                            <div class="name-title heading-42">プロジェクトの鍵はグローバルIT人材</div>
                            <div class="description heading-28">SPOTECHに登録するトップ20%のフリーランサ<br>ーや複業者の時間を貸切って採用しよう！</div>
                            <div class="note_new heading-22">登録・利用料などすべて無料</div>
                            <div class="group-read_new">
                                <a href="JavaScript:void(0);" title="" class="btn-read_new heading-20">はじめる</a>
                            </div>
                        </div>
                        <div class="img-thumb-toppage_new">
                            <div class="image">
                                <img src="~assets/images/image-newDesign/img-toppage2x.png" alt="" class="img-fluid">
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="group-partner-new">
            <div class="container">
                <div class="content-partner-new">
                    <div class="title-partner heading-18">あらゆる規模の企業が信頼</div>
                    <div class="scroll-x_partner">
                        <div class="partner-new">
                            <div class="item-partner">
                                <img src="~assets/images/image-newDesign/partner-1(2).png" alt="" class="img-fluid">
                            </div>
                            <div class="item-partner">
                                <img src="~assets/images/image-newDesign/partner-2(2).png" alt="" class="img-fluid">
                            </div>
                            <div class="item-partner">
                                <img src="~assets/images/image-newDesign/partner-3(2).png" alt="" class="img-fluid">
                            </div>
                            <div class="item-partner">
                                <img src="~assets/images/image-newDesign/partner-4.png" alt="" class="img-fluid">
                            </div>
                            <div class="item-partner">
                                <img src="~assets/images/image-newDesign/partner-5.png" alt="" class="img-fluid">
                            </div>
                            <div class="item-partner">
                                <img src="~assets/images/image-newDesign/partner-5.png" alt="" class="img-fluid">
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="bg-absolute">
            <div class="group-expert-new">
                <div class="container">
                    <header class="head-expert-new">
                        <div class="image"><img src="~assets/images/image-newDesign/logo-title.png" alt="" class="img-fluid"></div>
                        <div class="texts heading-32">に登録しているITエキスパートとは？</div>
                    </header>
                    <section class="body-expert-new">
                        <div class="list-expert-new ">
                            <div class="row-5">
                                <div class="item-col-5">
                                    <div class="item-expert-new">
                                        <div class="img-thumb">
                                            <a href="JavaScript:void(0);" title="" class="image">
                                                <img src="~assets/images/image-newDesign/expert-new-1.png" alt="" class="img-fluid">
                                            </a>
                                        </div>
                                        <div class="info">
                                            <div class="group-title">
                                                <a href="JavaScript:void(0);" title="" class="name-title heading-28">エンジニア</a>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="item-col-5">
                                    <div class="item-expert-new">
                                        <div class="img-thumb">
                                            <a href="JavaScript:void(0);" title="" class="image">
                                                <img src="~assets/images/image-newDesign/expert-new-2.png" alt="" class="img-fluid">
                                            </a>
                                        </div>
                                        <div class="info">
                                            <div class="group-title">
                                                <a href="JavaScript:void(0);" title="" class="name-title heading-28">デザイナー</a>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="item-col-5">
                                    <div class="item-expert-new">
                                        <div class="img-thumb">
                                            <a href="JavaScript:void(0);" title="" class="image">
                                                <img src="~assets/images/image-newDesign/expert-new-3.png" alt="" class="img-fluid">
                                            </a>
                                        </div>
                                        <div class="info">
                                            <div class="group-title">
                                                <a href="JavaScript:void(0);" title="" class="name-title heading-28">マーケター</a>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="item-col-5">
                                    <div class="item-expert-new">
                                        <div class="img-thumb">
                                            <a href="JavaScript:void(0);" title="" class="image">
                                                <img src="~assets/images/image-newDesign/expert-new-4.png" alt="" class="img-fluid">
                                            </a>
                                        </div>
                                        <div class="info">
                                            <div class="group-title">
                                                <a href="JavaScript:void(0);" title="" class="name-title heading-28">プロマネ</a>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="item-col-5">
                                    <div class="item-expert-new">
                                        <div class="img-thumb">
                                            <a href="JavaScript:void(0);" title="" class="image">
                                                <img src="~assets/images/image-newDesign/expert-new-5.png" alt="" class="img-fluid">
                                            </a>
                                        </div>
                                        <div class="info">
                                            <div class="group-title">
                                                <a href="JavaScript:void(0);" title="" class="name-title heading-28">ビジネス</a>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </section>
                </div>
            </div>
            <div class="group-step-new">
                <div class="container">
                    <header class="head-step-new">
                        <div class="title-step heading-42 heading-1 head-index">3ステップで簡単に採用！</div>
                    </header>
                    <section class="body-step-new">
                        <div class="list-step-new">
                            <div class="item-step-new">
                                <div class="image-step">
                                    <div class="number heading-42 active">1</div>
                                </div>
                                <div class="info">
                                    <div class="name-title heading-28">AIサポート/手動</br>で要望を登録</div>
                                </div>
                            </div>
                            <div class="item-step-new">
                                <div class="image-step">
                                    <div class="number heading-42">2</div>
                                </div>
                                <div class="info">
                                    <div class="name-title heading-28">エキスパートが </br>応募・入札 </div>
                                </div>
                            </div>
                            <div class="item-step-new">
                                <div class="image-step">
                                    <div class="number heading-42">3</div>
                                </div>
                                <div class="info">
                                    <div class="name-title heading-28">エキスパートを</br>簡単に採用</div>
                                </div>
                            </div>
                        </div>
                    </section>
                </div>
            </div>
        </div>
        <div class="group-recommended-projects-new">
            <div class="custom_ha container">
                <div class="content-recommended-projects-new">
                    <header class="head-projects-new">
                        <div class="heading-1 head-index heading-42 title-projects-new text-center">おすすめのプロジェクト</div>
                    </header>
                    <section class="list-recommended-projects-new">
                        <div class="row-5">
                            <div class="item-col-5 item-5">
                                <div class="item-projects-new">
                                    <div class="box-project-new-expert">
                                        <div class="heart-new"><img src="~assets/images/image-newDesign/heart-new.svg" alt="" class="img-fluid"></div>
                                        <div class="img-thumb-projects-new">
                                            <div class="image">
                                                <img src="~assets/images/image-newDesign/img-mercari.png" alt="" class="img-fluid">
                                            </div>
                                        </div>
                                        <div class="name-field heading-16">エンジニア</div>
                                        <div class="rule-project-new"></div>
                                        <div class="name-title-new heading-18">ECサイト作成に協力してくれるエンジニアを探しています。</div>
                                        <div class="group-meta-nationality">
                                            <div class="texts heading-16">Mercari</div>
                                            <div class="icon"><img src="~assets/images/image-newDesign/jp-new.svg" alt=""></div>
                                        </div>
                                        <div class="wrap-info-project">
                                            <div class="group-address-new">
                                                <div class="icon"><img src="~assets/images/image-newDesign/map-marker.svg" alt=""></div>
                                                <div class="texts heading-14">日本・東京（リモート可）</div>
                                            </div>
                                            <div class="group-number-favorites">
                                                <div class="group-star-new">
                                                    <span class="icon"><img src="~assets/images/image-newDesign/star-new.svg" alt=""></span>
                                                    <span class="texts heading-19">4.9 <span class="kaka">(30)</span> </span>
                                                </div>
                                                <div class="group-favorites-new">
                                                    <span class="icon"><img src="~assets/images/image-newDesign/heart-favorites.svg" alt=""></span>
                                                    <span class="texts heading-16">10</span>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="wrap-salary">
                                        <div class="group-salary-new">
                                            <div class="salary-new heading-26">¥400,000</div>
                                            <div class="salary-mounth heading-16">/1ヶ月</div>
                                        </div>
                                        <div class="group-next-new">
                                            <a href="JavaScript:void(0);" title="" class="btn-next"><img src="~assets/images/image-newDesign/arrow-right-new.svg" alt=""></a>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="item-col-5 item-5">
                                <div class="item-projects-new">
                                    <div class="box-project-new-expert">
                                        <div class="heart-new"><img src="~assets/images/image-newDesign/heart-new.svg" alt="" class="img-fluid"></div>
                                        <div class="img-thumb-projects-new">
                                            <div class="image">
                                                <img src="~assets/images/image-newDesign/img-mercari.png" alt="" class="img-fluid">
                                            </div>
                                        </div>
                                        <div class="name-field heading-16">エンジニア</div>
                                        <div class="rule-project-new"></div>
                                        <div class="name-title-new heading-18">ECサイト作成に協力してくれるエンジニアを探しています。</div>
                                        <div class="group-meta-nationality">
                                            <div class="texts heading-16">Mercari</div>
                                            <div class="icon"><img src="~assets/images/image-newDesign/jp-new.svg" alt=""></div>
                                        </div>
                                        <div class="wrap-info-project">
                                            <div class="group-address-new">
                                                <div class="icon"><img src="~assets/images/image-newDesign/map-marker.svg" alt=""></div>
                                                <div class="texts heading-14">日本・東京（リモート可）</div>
                                            </div>
                                            <div class="group-number-favorites">
                                                <div class="group-star-new">
                                                    <span class="icon"><img src="~assets/images/image-newDesign/star-new.svg" alt=""></span>
                                                    <span class="texts heading-19">4.9 <span class="kaka">(30)</span> </span>
                                                </div>
                                                <div class="group-favorites-new">
                                                    <span class="icon"><img src="~assets/images/image-newDesign/heart-favorites.svg" alt=""></span>
                                                    <span class="texts heading-16">10</span>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="wrap-salary">
                                        <div class="group-salary-new">
                                            <div class="salary-new heading-26">¥400,000</div>
                                            <div class="salary-mounth heading-16">/1ヶ月</div>
                                        </div>
                                        <div class="group-next-new">
                                            <a href="JavaScript:void(0);" title="" class="btn-next"><img src="~assets/images/image-newDesign/arrow-right-new.svg" alt=""></a>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="item-col-5 item-5">
                                <div class="item-projects-new">
                                    <div class="box-project-new-expert">
                                        <div class="heart-new"><img src="~assets/images/image-newDesign/heart-new.svg" alt="" class="img-fluid"></div>
                                        <div class="img-thumb-projects-new">
                                            <div class="image">
                                                <img src="~assets/images/image-newDesign/img-mercari.png" alt="" class="img-fluid">
                                            </div>
                                        </div>
                                        <div class="name-field heading-16">エンジニア</div>
                                        <div class="rule-project-new"></div>
                                        <div class="name-title-new heading-18">ECサイト作成に協力してくれるエンジニアを探しています。</div>
                                        <div class="group-meta-nationality">
                                            <div class="texts heading-16">Mercari</div>
                                            <div class="icon"><img src="~assets/images/image-newDesign/jp-new.svg" alt=""></div>
                                        </div>
                                        <div class="wrap-info-project">
                                            <div class="group-address-new">
                                                <div class="icon"><img src="~assets/images/image-newDesign/map-marker.svg" alt=""></div>
                                                <div class="texts heading-14">日本・東京（リモート可）</div>
                                            </div>
                                            <div class="group-number-favorites">
                                                <div class="group-star-new">
                                                    <span class="icon"><img src="~assets/images/image-newDesign/star-new.svg" alt=""></span>
                                                    <span class="texts heading-19">4.9 <span class="kaka">(30)</span> </span>
                                                </div>
                                                <div class="group-favorites-new">
                                                    <span class="icon"><img src="~assets/images/image-newDesign/heart-favorites.svg" alt=""></span>
                                                    <span class="texts heading-16">10</span>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="wrap-salary">
                                        <div class="group-salary-new">
                                            <div class="salary-new heading-26">¥400,000</div>
                                            <div class="salary-mounth heading-16">/1ヶ月</div>
                                        </div>
                                        <div class="group-next-new">
                                            <a href="JavaScript:void(0);" title="" class="btn-next"><img src="~assets/images/image-newDesign/arrow-right-new.svg" alt=""></a>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="item-col-5 item-5">
                                <div class="item-projects-new">
                                    <div class="box-project-new-expert">
                                        <div class="heart-new"><img src="~assets/images/image-newDesign/heart-new.svg" alt="" class="img-fluid"></div>
                                        <div class="img-thumb-projects-new">
                                            <div class="image">
                                                <img src="~assets/images/image-newDesign/img-mercari.png" alt="" class="img-fluid">
                                            </div>
                                        </div>
                                        <div class="name-field heading-16">エンジニア</div>
                                        <div class="rule-project-new"></div>
                                        <div class="name-title-new heading-18">ECサイト作成に協力してくれるエンジニアを探しています。</div>
                                        <div class="group-meta-nationality">
                                            <div class="texts heading-16">Mercari</div>
                                            <div class="icon"><img src="~assets/images/image-newDesign/jp-new.svg" alt=""></div>
                                        </div>
                                        <div class="wrap-info-project">
                                            <div class="group-address-new">
                                                <div class="icon"><img src="~assets/images/image-newDesign/map-marker.svg" alt=""></div>
                                                <div class="texts heading-14">日本・東京（リモート可）</div>
                                            </div>
                                            <div class="group-number-favorites">
                                                <div class="group-star-new">
                                                    <span class="icon"><img src="~assets/images/image-newDesign/star-new.svg" alt=""></span>
                                                    <span class="texts heading-19">4.9 <span class="kaka">(30)</span> </span>
                                                </div>
                                                <div class="group-favorites-new">
                                                    <span class="icon"><img src="~assets/images/image-newDesign/heart-favorites.svg" alt=""></span>
                                                    <span class="texts heading-16">10</span>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="wrap-salary">
                                        <div class="group-salary-new">
                                            <div class="salary-new heading-26">¥400,000</div>
                                            <div class="salary-mounth heading-16">/1ヶ月</div>
                                        </div>
                                        <div class="group-next-new">
                                            <a href="JavaScript:void(0);" title="" class="btn-next"><img src="~assets/images/image-newDesign/arrow-right-new.svg" alt=""></a>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="item-col-5 item-5">
                                <div class="item-projects-new">
                                    <div class="box-project-new-expert">
                                        <div class="heart-new"><img src="~assets/images/image-newDesign/heart-new.svg" alt="" class="img-fluid"></div>
                                        <div class="img-thumb-projects-new">
                                            <div class="image">
                                                <img src="~assets/images/image-newDesign/img-mercari.png" alt="" class="img-fluid">
                                            </div>
                                        </div>
                                        <div class="name-field heading-16">エンジニア</div>
                                        <div class="rule-project-new"></div>
                                        <div class="name-title-new heading-18">ECサイト作成に協力してくれるエンジニアを探しています。</div>
                                        <div class="group-meta-nationality">
                                            <div class="texts heading-16">Mercari</div>
                                            <div class="icon"><img src="~assets/images/image-newDesign/jp-new.svg" alt=""></div>
                                        </div>
                                        <div class="wrap-info-project">
                                            <div class="group-address-new">
                                                <div class="icon"><img src="~assets/images/image-newDesign/map-marker.svg" alt=""></div>
                                                <div class="texts heading-14">日本・東京（リモート可）</div>
                                            </div>
                                            <div class="group-number-favorites">
                                                <div class="group-star-new">
                                                    <span class="icon"><img src="~assets/images/image-newDesign/star-new.svg" alt=""></span>
                                                    <span class="texts heading-19">4.9 <span class="kaka">(30)</span> </span>
                                                </div>
                                                <div class="group-favorites-new">
                                                    <span class="icon"><img src="~assets/images/image-newDesign/heart-favorites.svg" alt=""></span>
                                                    <span class="texts heading-16">10</span>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="wrap-salary">
                                        <div class="group-salary-new">
                                            <div class="salary-new heading-26">¥400,000</div>
                                            <div class="salary-mounth heading-16">/1ヶ月</div>
                                        </div>
                                        <div class="group-next-new">
                                            <a href="JavaScript:void(0);" title="" class="btn-next"><img src="~assets/images/image-newDesign/arrow-right-new.svg" alt=""></a>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </section>
                </div>
            </div>
        </div>
        <div class="group-recommended-projects-new">
            <div class="custom_ha container">
                <div class="content-recommended-projects-new">
                    <header class="head-projects-new">
                        <div class="heading-1 head-index heading-42 title-projects-new text-center">おすすめのエキスパート</div>
                    </header>
                    <section class="list-recommended-projects-new">
                        <div class="row-5">
                            <div class="item-col-5 item-5">
                                <div class="item-projects-new">
                                    <div class="box-project-new-expert">
                                        <div class="heart-new"><img src="~assets/images/image-newDesign/heart-new.svg" alt="" class="img-fluid"></div>
                                        <div class="img-thumb-expert-new">
                                            <div class="image">
                                                <img src="~assets/images/image-newDesign/experts-new-1.png" alt="" class="img-fluid">
                                            </div>
                                        </div>
                                        <div class="name-field heading-16">エンジニア</div>
                                        <div class="rule-project-new"></div>
                                        <div class="name-title-new heading-18">ECサイト作成に協力してくれるエンジニアを探しています。</div>
                                        <div class="group-meta-nationality">
                                            <div class="texts heading-16">Kanto</div>
                                            <div class="icon"><img src="~assets/images/image-newDesign/jp-new.svg" alt=""></div>
                                        </div>
                                        <div class="wrap-info-project">
                                            <div class="group-address-new">
                                                <div class="icon"><img src="~assets/images/image-newDesign/map-marker.svg" alt=""></div>
                                                <div class="texts heading-14">日本・東京（リモート可）</div>
                                            </div>
                                            <div class="group-number-favorites">
                                                <div class="group-star-new">
                                                    <span class="icon"><img src="~assets/images/image-newDesign/star-new.svg" alt=""></span>
                                                    <span class="texts heading-19">4.9 <span class="kaka">(30)</span> </span>
                                                </div>
                                                <div class="group-favorites-new">
                                                    <span class="icon"><img src="~assets/images/image-newDesign/heart-favorites.svg" alt=""></span>
                                                    <span class="texts heading-16">10</span>
                                                </div>
                                            </div>
                                        
                                        </div>
                                    </div>
                                    <div class="wrap-salary">
                                        <div class="group-salary-new">
                                            <div class="salary-new heading-26">¥400,000</div>
                                            <div class="salary-mounth heading-16">/1ヶ月</div>
                                        </div>
                                        <div class="group-next-new">
                                            <a href="JavaScript:void(0);" title="" class="btn-next"><img src="~assets/images/image-newDesign/arrow-right-new.svg" alt=""></a>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="item-col-5 item-5">
                                <div class="item-projects-new">
                                    <div class="box-project-new-expert">
                                        <div class="heart-new"><img src="~assets/images/image-newDesign/heart-new.svg" alt="" class="img-fluid"></div>
                                        <div class="img-thumb-expert-new">
                                            <div class="image">
                                                <img src="~assets/images/image-newDesign/experts-new-2.png" alt="" class="img-fluid">
                                            </div>
                                        </div>
                                        <div class="name-field heading-16">エンジニア</div>
                                        <div class="rule-project-new"></div>
                                        <div class="name-title-new heading-18">ECサイト作成に協力してくれるエンジニアを探しています。</div>
                                        <div class="group-meta-nationality">
                                            <div class="texts heading-16">Kanto</div>
                                            <div class="icon"><img src="~assets/images/image-newDesign/jp-new.svg" alt=""></div>
                                        </div>
                                        <div class="wrap-info-project">
                                            <div class="group-address-new">
                                                <div class="icon"><img src="~assets/images/image-newDesign/map-marker.svg" alt=""></div>
                                                <div class="texts heading-14">日本・東京（リモート可）</div>
                                            </div>
                                            <div class="group-number-favorites">
                                                <div class="group-star-new">
                                                    <span class="icon"><img src="~assets/images/image-newDesign/star-new.svg" alt=""></span>
                                                    <span class="texts heading-19">4.9 <span class="kaka">(30)</span> </span>
                                                </div>
                                                <div class="group-favorites-new">
                                                    <span class="icon"><img src="~assets/images/image-newDesign/heart-favorites.svg" alt=""></span>
                                                    <span class="texts heading-16">10</span>
                                                </div>
                                            </div>
                                        
                                        </div>
                                    </div>
                                    <div class="wrap-salary">
                                        <div class="group-salary-new">
                                            <div class="salary-new heading-26">¥400,000</div>
                                            <div class="salary-mounth heading-16">/1ヶ月</div>
                                        </div>
                                        <div class="group-next-new">
                                            <a href="JavaScript:void(0);" title="" class="btn-next"><img src="~assets/images/image-newDesign/arrow-right-new.svg" alt=""></a>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="item-col-5 item-5">
                                <div class="item-projects-new">
                                    <div class="box-project-new-expert">
                                        <div class="heart-new"><img src="~assets/images/image-newDesign/heart-new.svg" alt="" class="img-fluid"></div>
                                        <div class="img-thumb-expert-new">
                                            <div class="image">
                                                <img src="~assets/images/image-newDesign/experts-new-3.png" alt="" class="img-fluid">
                                            </div>
                                        </div>
                                        <div class="name-field heading-16">エンジニア</div>
                                        <div class="rule-project-new"></div>
                                        <div class="name-title-new heading-18">ECサイト作成に協力してくれるエンジニアを探しています。</div>
                                        <div class="group-meta-nationality">
                                            <div class="texts heading-16">Kanto</div>
                                            <div class="icon"><img src="~assets/images/image-newDesign/jp-new.svg" alt=""></div>
                                        </div>
                                        <div class="wrap-info-project">
                                            <div class="group-address-new">
                                                <div class="icon"><img src="~assets/images/image-newDesign/map-marker.svg" alt=""></div>
                                                <div class="texts heading-14">日本・東京（リモート可）</div>
                                            </div>
                                            <div class="group-number-favorites">
                                                <div class="group-star-new">
                                                    <span class="icon"><img src="~assets/images/image-newDesign/star-new.svg" alt=""></span>
                                                    <span class="texts heading-19">4.9 <span class="kaka">(30)</span> </span>
                                                </div>
                                                <div class="group-favorites-new">
                                                    <span class="icon"><img src="~assets/images/image-newDesign/heart-favorites.svg" alt=""></span>
                                                    <span class="texts heading-16">10</span>
                                                </div>
                                            </div>
                                        
                                        </div>
                                    </div>
                                    <div class="wrap-salary">
                                        <div class="group-salary-new">
                                            <div class="salary-new heading-26">¥400,000</div>
                                            <div class="salary-mounth heading-16">/1ヶ月</div>
                                        </div>
                                        <div class="group-next-new">
                                            <a href="JavaScript:void(0);" title="" class="btn-next"><img src="~assets/images/image-newDesign/arrow-right-new.svg" alt=""></a>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="item-col-5 item-5">
                                <div class="item-projects-new">
                                    <div class="box-project-new-expert">
                                        <div class="heart-new"><img src="~assets/images/image-newDesign/heart-new.svg" alt="" class="img-fluid"></div>
                                        <div class="img-thumb-expert-new">
                                            <div class="image">
                                                <img src="~assets/images/image-newDesign/experts-new-4.png" alt="" class="img-fluid">
                                            </div>
                                        </div>
                                        <div class="name-field heading-16">エンジニア</div>
                                        <div class="rule-project-new"></div>
                                        <div class="name-title-new heading-18">ECサイト作成に協力してくれるエンジニアを探しています。</div>
                                        <div class="group-meta-nationality">
                                            <div class="texts heading-16">Kanto</div>
                                            <div class="icon"><img src="~assets/images/image-newDesign/jp-new.svg" alt=""></div>
                                        </div>
                                        <div class="wrap-info-project">
                                            <div class="group-address-new">
                                                <div class="icon"><img src="~assets/images/image-newDesign/map-marker.svg" alt=""></div>
                                                <div class="texts heading-14">日本・東京（リモート可）</div>
                                            </div>
                                            <div class="group-number-favorites">
                                                <div class="group-star-new">
                                                    <span class="icon"><img src="~assets/images/image-newDesign/star-new.svg" alt=""></span>
                                                    <span class="texts heading-19">4.9 <span class="kaka">(30)</span> </span>
                                                </div>
                                                <div class="group-favorites-new">
                                                    <span class="icon"><img src="~assets/images/image-newDesign/heart-favorites.svg" alt=""></span>
                                                    <span class="texts heading-16">10</span>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="wrap-salary">
                                        <div class="group-salary-new">
                                            <div class="salary-new heading-26">¥400,000</div>
                                            <div class="salary-mounth heading-16">/1ヶ月</div>
                                        </div>
                                        <div class="group-next-new">
                                            <a href="JavaScript:void(0);" title="" class="btn-next"><img src="~assets/images/image-newDesign/arrow-right-new.svg" alt=""></a>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="item-col-5 item-5">
                                <div class="item-projects-new">
                                    <div class="box-project-new-expert">
                                        <div class="heart-new"><img src="~assets/images/image-newDesign/heart-new.svg" alt="" class="img-fluid"></div>
                                        <div class="img-thumb-expert-new">
                                            <div class="image">
                                                <img src="~assets/images/image-newDesign/experts-new-1.png" alt="" class="img-fluid">
                                            </div>
                                        </div>
                                        <div class="name-field heading-16">エンジニア</div>
                                        <div class="rule-project-new"></div>
                                        <div class="name-title-new heading-18">ECサイト作成に協力してくれるエンジニアを探しています。</div>
                                        <div class="group-meta-nationality">
                                            <div class="texts heading-16">Kanto</div>
                                            <div class="icon"><img src="~assets/images/image-newDesign/jp-new.svg" alt=""></div>
                                        </div>
                                        <div class="wrap-info-project">
                                            <div class="group-address-new">
                                                <div class="icon"><img src="~assets/images/image-newDesign/map-marker.svg" alt=""></div>
                                                <div class="texts heading-14">日本・東京（リモート可）</div>
                                            </div>
                                            <div class="group-number-favorites">
                                                <div class="group-star-new">
                                                    <span class="icon"><img src="~assets/images/image-newDesign/star-new.svg" alt=""></span>
                                                    <span class="texts heading-19">4.9 <span class="kaka">(30)</span> </span>
                                                </div>
                                                <div class="group-favorites-new">
                                                    <span class="icon"><img src="~assets/images/image-newDesign/heart-favorites.svg" alt=""></span>
                                                    <span class="texts heading-16">10</span>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="wrap-salary">
                                        <div class="group-salary-new">
                                            <div class="salary-new heading-26">¥400,000</div>
                                            <div class="salary-mounth heading-16">/1ヶ月</div>
                                        </div>
                                        <div class="group-next-new">
                                            <a href="JavaScript:void(0);" title="" class="btn-next"><img src="~assets/images/image-newDesign/arrow-right-new.svg" alt=""></a>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </section>
                </div>
            </div>
        </div>
        <div class="group-provide-services-new">
            <header class="head-provide-services-new">
                <div class="logo-bird text-center"><img src="~assets/images/image-newDesign/spotech gradient.svg" alt="" class="img-fluid"></div>
                <div class="heading-1 head-index heading-42 title-services-new">世界中のエキスパートがSPOTECHを通してサービスを提供しています</div>
            </header>
            <div class="container">
                <section class="body-provide-services-new">
                    <div class="img-thumb">
                        <div class="image">
                            <img src="~assets/images/image-newDesign/undraw_world.png" alt="" class="img-fluid">
                        </div>
                    </div>
                    <div class="info">
                        <div class="group-parameter-new">
                            <div class="registered-countries">
                                <div class="number">10+</div>
                                <div class="texts heading-24">登録国数</div>
                            </div>
                            <div class="registered-countries">
                                <div class="number">1000+</div>
                                <div class="texts heading-24">エキスパート数</div>
                            </div>
                        </div>
                    </div>
                </section>
            </div>
        </div>
        <div class="group-voice-used-new">
            <div class="container">
                <div class="content-voice-used-new">
                    <header class="head-voice-used-new">
                        <div class="heading-1 head-index heading-42 title-voice-used-new">ご利用頂いたユーザー様の声</div>
                    </header>
                    <section class="body-voice-used-new">
                        <div class="row list-voice-used">
                            <div class="col-lg-3 col-sm-6 col-12 item-voice-used">
                                <div class="content-item-voice">
                                    <div class="img-thumb-voice">
                                        <div class="image">
                                            <img src="~assets/images/image-newDesign/voice-1.png" alt="" class="img-fluid">
                                        </div>
                                    </div>
                                    <div class="info">
                                        <div class="name-user heading-19 texts">稲子谷 光</div>
                                        <div class="name-company heading-14 texts">CROOZ EC Partners株式会社</div>
                                        <div class="position-voice">代表取締役</div>
                                        <div class="group-rating-voice-new">
                                            <div class="list-rate-voice d-flex align-items-center justify-content-center"> 
                                                <div class="item-rate-voice"><img src="~assets/images/image-newDesign/star-new.svg" alt=""></div>
                                                <div class="item-rate-voice"><img src="~assets/images/image-newDesign/star-new.svg" alt=""></div>
                                                <div class="item-rate-voice"><img src="~assets/images/image-newDesign/star-new.svg" alt=""></div>
                                                <div class="item-rate-voice"><img src="~assets/images/image-newDesign/star-new.svg" alt=""></div>
                                                <div class="item-rate-voice"><img src="~assets/images/image-newDesign/star-new.svg" alt=""></div>
                                            </div>
                                        </div>
                                        <div class="description text-center heading-14 texts">
                                            提案資料翻訳を依頼しました。急な依頼だったにも関わらず期日3日前に完璧な翻訳資料を納品頂きました。質と速さが担保されており、その後の提案が円滑に進みました。
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="col-lg-3 col-sm-6 col-12 item-voice-used">
                                <div class="content-item-voice">
                                    <div class="img-thumb-voice">
                                        <div class="image">
                                            <img src="~assets/images/image-newDesign/voice-1.png" alt="" class="img-fluid">
                                        </div>
                                    </div>
                                    <div class="info">
                                        <div class="name-user heading-19 texts">稲子谷 光</div>
                                        <div class="name-company heading-14 texts">CROOZ EC Partners株式会社</div>
                                        <div class="position-voice">代表取締役</div>
                                        <div class="group-rating-voice-new">
                                            <div class="list-rate-voice d-flex align-items-center justify-content-center"> 
                                                <div class="item-rate-voice"><img src="~assets/images/image-newDesign/star-new.svg" alt=""></div>
                                                <div class="item-rate-voice"><img src="~assets/images/image-newDesign/star-new.svg" alt=""></div>
                                                <div class="item-rate-voice"><img src="~assets/images/image-newDesign/star-new.svg" alt=""></div>
                                                <div class="item-rate-voice"><img src="~assets/images/image-newDesign/star-new.svg" alt=""></div>
                                                <div class="item-rate-voice"><img src="~assets/images/image-newDesign/star-new.svg" alt=""></div>
                                            </div>
                                        </div>
                                        <div class="description text-center heading-14 texts">
                                            提案資料翻訳を依頼しました。急な依頼だったにも関わらず期日3日前に完璧な翻訳資料を納品頂きました。質と速さが担保されており、その後の提案が円滑に進みました。
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="col-lg-3 col-sm-6 col-12 item-voice-used">
                                <div class="content-item-voice">
                                    <div class="img-thumb-voice">
                                        <div class="image">
                                            <img src="~assets/images/image-newDesign/voice-1.png" alt="" class="img-fluid">
                                        </div>
                                    </div>
                                    <div class="info">
                                        <div class="name-user heading-19 texts">稲子谷 光</div>
                                        <div class="name-company heading-14 texts">CROOZ EC Partners株式会社</div>
                                        <div class="position-voice">代表取締役</div>
                                        <div class="group-rating-voice-new">
                                            <div class="list-rate-voice d-flex align-items-center justify-content-center"> 
                                                <div class="item-rate-voice"><img src="~assets/images/image-newDesign/star-new.svg" alt=""></div>
                                                <div class="item-rate-voice"><img src="~assets/images/image-newDesign/star-new.svg" alt=""></div>
                                                <div class="item-rate-voice"><img src="~assets/images/image-newDesign/star-new.svg" alt=""></div>
                                                <div class="item-rate-voice"><img src="~assets/images/image-newDesign/star-new.svg" alt=""></div>
                                                <div class="item-rate-voice"><img src="~assets/images/image-newDesign/star-new.svg" alt=""></div>
                                            </div>
                                        </div>
                                        <div class="description text-center heading-14 texts">
                                            提案資料翻訳を依頼しました。急な依頼だったにも関わらず期日3日前に完璧な翻訳資料を納品頂きました。質と速さが担保されており、その後の提案が円滑に進みました。
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="col-lg-3 col-sm-6 col-12 item-voice-used">
                                <div class="content-item-voice">
                                    <div class="img-thumb-voice">
                                        <div class="image">
                                            <img src="~assets/images/image-newDesign/voice-1.png" alt="" class="img-fluid">
                                        </div>
                                    </div>
                                    <div class="info">
                                        <div class="name-user heading-19 texts">稲子谷 光</div>
                                        <div class="name-company heading-14 texts">CROOZ EC Partners株式会社</div>
                                        <div class="position-voice">代表取締役</div>
                                        <div class="group-rating-voice-new">
                                            <div class="list-rate-voice d-flex align-items-center justify-content-center"> 
                                                <div class="item-rate-voice"><img src="~assets/images/image-newDesign/star-new.svg" alt=""></div>
                                                <div class="item-rate-voice"><img src="~assets/images/image-newDesign/star-new.svg" alt=""></div>
                                                <div class="item-rate-voice"><img src="~assets/images/image-newDesign/star-new.svg" alt=""></div>
                                                <div class="item-rate-voice"><img src="~assets/images/image-newDesign/star-new.svg" alt=""></div>
                                                <div class="item-rate-voice"><img src="~assets/images/image-newDesign/star-new.svg" alt=""></div>
                                            </div>
                                        </div>
                                        <div class="description text-center heading-14 texts">
                                            提案資料翻訳を依頼しました。急な依頼だったにも関わらず期日3日前に完璧な翻訳資料を納品頂きました。質と速さが担保されており、その後の提案が円滑に進みました。
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </section>
                </div>
            </div>
        </div>
        <div class="group-partner-new upper-partner">
            <div class="container">
                <div class="content-partner-new">
                    <div class="scroll-x_partner">
                        <div class="partner-new">
                            <div class="item-partner">
                                <img src="~assets/images/image-newDesign/logo-partner-1.png" alt="">
                            </div>
                            <div class="item-partner">
                                <img src="~assets/images/image-newDesign/logo-partner-2.png" alt="">
                            </div>
                            <div class="item-partner">
                                <img src="~assets/images/image-newDesign/logo-partner-3.png" alt="">
                            </div>
                            <div class="item-partner">
                                <img src="~assets/images/image-newDesign/logo-partner-4.png" alt="">
                            </div>
                            <div class="item-partner">
                                <img src="~assets/images/image-newDesign/logo-partner-5.png" alt="">
                            </div>
                            <div class="item-partner">
                                <img src="~assets/images/image-newDesign/logo-partner-6.png" alt="">
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

    </div>


</template>

<script>
    export default {
        layout: 'new',
    }
</script>

<style scoped>


</style>
