<template>
  <div class="group">
    <div class="row">
      <div class="col-md-3 col-12">
        <div class="title-form text-md-right text-left">{{$t('DesiredAmountRange')}}</div>
      </div>
      <div class="col-md-9 col-12">
        <div class="body">
          <div class="row">
            <div class="col-md-8 col-12 mb-md-0 mb-3 group-general">
              <currency-input v-model="data[`price_${locale}`]" :price="data.amount"/>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</template>

<script>
  import {mapGetters, mapActions, mapState} from 'vuex'
  import _ from 'lodash'

  export default {
    props: ['value'],
    components: {
      ElRemoteSearch: () => import('~/components/share/ElRemoteSearch'),
      CurrencyInput: () => import("~/components/project/share/currencyInput"),
    },
    data() {
      return {
        data: {},
      }
    },
    computed: {
      ...mapGetters({
        getCurrencyUnit: 'getCurrencyUnit',
        locale: 'getLocale',
      }),
      ...mapState({
        minPrice: state => state.auth.authUser.user.price_min,
      }),
      minAmount() {
        const min = this.minPrice[this.locale];
        return min.replace(/[!¥@#$đ%^&*]/g, '');
      }
    },
    methods: {
      ...mapActions({
        searchCurrency: 'resource/currency/search'
      }),
    },
    mounted() {
      this.data = this.value;
      this.data[`price_${this.locale}`] = this.minAmount;
    }
  }
</script>

<style scoped>
  .group-general {
    position: relative;
    background: #d2d2d2;
    border-radius: 10px;
    width: 100%;
    display: block;
    clear: both;
    content: "";
  }

</style>
