<template>
    <div class="group">
      <div class="row">
        <div class="col-md-3 col-12">
          <div class="title-form text-md-right text-left">{{$t('WorkEnvironments')}}</div>
        </div>
        <div class="col-md-9 col-12">
          <div class="body-in-total order-b15 circle-bg">
            <a href="javascript:;" class="color-green font-12 d-block mt-3 mb-2" @click.stop="openDialog">
              {{$t('AddWorkEnvironment')}}
            </a>
            <div class="list-add-topic">
              <div class="item font-16  mb-2" v-for="(v, k) in data" :key="k">
                <span class="icon pr-2"><i class="fas fa-check"></i></span>
                <span class="texts"> {{v.name}} </span>
              </div>
            </div>
          </div>
        </div>
      </div>
      <el-dialog :title="$t('AddWorkEnvironment')" :visible.sync="dialog" width="70%">
        <ChooseWorkEnvironment v-model="data" @close="closeDialog" />
      </el-dialog>
    </div>
</template>

<script>
  import {mapActions} from 'vuex'

  export default {
    props: ['value'],
    components: {
      ChooseWorkEnvironment: () => import('./WorkEnvironment/ChooseWorkEnvironment'),
    },
    data() {
      return {
        data: [],
        loading: false,
        dialog: false,
      }
    },
    watch: {
      data(value) {
        let workEnvs = value.map(i => {
          return {work_environment_id: i.id, work_environment_name: i.name}
        })
        this.$emit('input', workEnvs)
      }
    },
    methods: {
      ...mapActions({
        searchWorkEnvironment: 'resource/searchWorkEnvironment'
      }),
      openDialog() {
        this.dialog = true
      },
      closeDialog() {
        this.dialog = false
      }
    },
    mounted() {
      this.data = this.value.map(i => {
        return {
          id: i.work_environment_id,
          name: i.work_environment_name
        }
      })
    }
  }
</script>

<style scoped>

</style>
