<template>
  <div class="group">
    <div class="row">
      <div class="col-md-3 col-12">
        <div class="title-form text-md-right text-left">{{$t('HolidaySetting')}}</div>
      </div>
      <div class="col-md-9 col-12">
        <div class="row">
          <div class="col-md-6 col-12">
            <el-select v-model="data" :placeholder="$t('Select')">
              <el-option v-for="(v, k) in $arrayFromToNumber(1, 5)" :key="k" :value="v" :label="$t(v + 'DayAWeek')"></el-option>
            </el-select>
          </div>
        </div>
      </div>
    </div>
  </div>
</template>

<script>

  export default {
    props: ['value'],
    data() {
      return {
        data: null
      }
    },
    watch: {
      data(value) {
        this.$emit('input', value)
      }
    },
    mounted() {
      this.data = this.value
    }
  }
</script>
