<template>
  <div class="group">
    <div class="row">
      <div class="col-md-3 col-12">
        <div class="title-form text-md-right text-left"> {{$t('specialty')}}</div>
      </div>
      <div class="col-md-9 col-12">
        <div class="border-grey b-radius-10 p-3" v-if="listCategories">
          <div v-for="(i, k) in listCategories" :key="k + 1"
               class="body-in-total mt-0 circle-bg">
            <div class="group-left">
              <div class="group-row">
                <div class="checkbox">
                  <input class="font-14" :id="'tick-' + k" type="radio" :value="i.id" v-model="members.category_id">
                  <label :for="'tick-' + k" class="check">
                    {{i.title}}
                    <div class="desc-color pl-35">
                      {{i.sapo}}
                    </div>
                  </label>
                </div>
              </div>
            </div>
          </div>
        </div>

      </div>
    </div>
  </div>
</template>

<script>
  import {mapGetters} from 'vuex'

  export default {
    props: ['members'],
    computed: {
      ...mapGetters({
        listCategories: 'resource/category'
      })
    }
  }
</script>

<style scoped>

</style>
