<template>
  <div class="group">
    <div class="row">
      <div class="col-md-3 col-12">
        <div class="title-form text-md-right text-left"> {{$t('TimeSetting')}}</div>
      </div>
      <div class="col-md-9 col-12">
        <div class="row">
          <div class="col-md-4" v-for="(v, k) in durations" :key="k">
            <div class="form-check">
              <label class="form-check-label" :for="'durations' + v.id">
                <input type="checkbox" class="form-check-input" :id="'durations' + v.id" :value="v.id" v-model="data">
                {{v.name}}
                <i class="input-helper"></i></label>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</template>

<script>
  import {mapGetters} from 'vuex'

  export default {
    props: ['value'],
    data() {
      return {
        data: null,
      }
    },
    watch: {
        data: {
          handler: 'handlerChangeDuration',
          deep: true
        }
    },
    computed: {
      ...mapGetters({
        durations: 'resource/duration'
      }),
    },
    methods: {
      handlerChangeDuration() {
        const durations = this.data.map(i => {
          return {duration_id: i}
        });
        this.$emit('input', durations);
      }
    },
    mounted() {
      this.data = this.value.map(i => i.duration_id)
    }
  }
</script>

<style scoped>

</style>
