<template>
  <div class="group">
    <div class="row">
      <div class="col-md-3 col-12">
        <div class="title-form text-md-right text-left"> {{$t('GoodSkill')}}</div>
      </div>
      <div class="col-md-9 col-12">
        <div class="group-skills">
          <div class="row">
            <div class="col-sm-7 col-12 mb-sm-0 mb-4">
              <ElRemoteSearch :placeholder="$t('placeholderSkills')"
                              v-model="skill" ref="skill" :method="searchSkill"/>
            </div>
            <div class="col-sm-5 col-12 mb-sm-0 mb-4 select-custom ">
              <ElRemoteSearch :placeholder="$t('YearsOfExperience')" v-model="year_experience"
                              ref="year_experience" :method="searchYearExperience"/>
            </div>
          </div>

          <div class="row">
            <div class="col-12">
              <div class="list-item-vote">
                <p v-for="(i, key) in skills" :key="`skill-${key}`" class="d-block item">
                  <span class="text-normal">{{i.skill_name}},</span>
                  <span class="text-normal ml-2">{{i.year_experience_name}}</span>
                  <span class="text-normal ml-2" style="cursor: pointer;"
                        @click="onRemoveSkill(key)"><img
                    src="~/assets/images/icon/times.png" alt=""></span>
                </p>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</template>

<script>
  import {mapActions} from 'vuex'

  export default {
    props: ['skills'],
    components: {
      ElRemoteSearch: () => import('~/components/share/ElRemoteSearch')
    },
    data() {
      return {
        skill: null,
        year_experience: null,
      }
    },
    watch: {
      skill: {
        handler: 'onAddSkill',
        deep: true
      },
      year_experience: {
        handler: 'onAddSkill',
        deep: true
      }
    },
    methods: {
      ...mapActions({
        searchSkill: 'resource/searchSkill',
        searchYearExperience: 'resource/searchYearExperience'
      }),
      onRemoveSkill(index) {
        this.skills.splice(index, 1);
      },
      onAddSkill() {
        if (!this.skill || !this.year_experience) return;
        let skillIndex = this.skills.findIndex(i => i.skill_id === this.skill.id);
        let obj = {
          skill_id: this.skill.id,
          skill_name: this.skill.name,
          year_experience_id: this.year_experience.id,
          year_experience_name: this.year_experience.name,
        }
        if (skillIndex !== -1) {
          this.skills[skillIndex] = obj
        } else {
          this.skills.unshift(obj);
        }
        this.skill = this.year_experience = null;
        this.$refs.skill.reset();
        this.$refs.year_experience.reset();
      }
    },
    mounted() {
    }
  }
</script>

<style scoped>

</style>
