<template>
  <div class="group">
    <div class="row">
      <div class="col-md-3 col-12">
        <div class="title-form text-md-right text-left"> {{$t('GoodLanguage')}}</div>
      </div>
      <div class="col-md-9 col-12">
        <div class="group-languages group-skills ">
          <div class="row">
            <div class="col-sm-7 col-12 mb-sm-0 mb-4">
              <ElRemoteSearch v-model="language" :placeholder="$t('placeholderGoodLanguage')"
                              ref="language" :method="searchLanguage"/>
            </div>
            <div class="col-sm-5 col-12 mb-sm-0 mb-4 select-custom ">
              <ElRemoteSearch v-model="language_level" :placeholder="$t('LanguageLevel')"
                              ref="language_level" :method="searchLanguageLevel"/>
            </div>
          </div>

          <div class="row">
            <div class="col-12">
              <div class="list-item-vote">
                <p v-for="(i, key) in languages" :key="`language-${key}`" class="d-block item">
                  <span class="text-normal">{{i.language_name}},</span>
                  <span class="text-normal ml-2">{{i.language_level_name}}</span>
                  <span class="text-normal ml-2" style="cursor: pointer;"
                        @click="onRemoveLanguage(key)">
                                        <img src="~/assets/images/icon/times.png" alt="">
                                    </span>
                </p>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</template>

<script>
  import {mapActions} from 'vuex'

  export default {
    props: ['languages'],
    components: {
      ElRemoteSearch: () => import('~/components/share/ElRemoteSearch')
    },
    data() {
      return {
        language: null,
        language_level: null,
      }
    },
    watch: {
      language: {
        handler: 'onAddLanguage',
        deep: true
      },
      language_level: {
        handler: 'onAddLanguage',
        deep: true
      }
    },
    methods: {
      ...mapActions({
        searchLanguage: 'resource/language/searchResource',
        searchLanguageLevel: 'resource/searchLanguageLevel'
      }),
      onRemoveLanguage(index) {
        this.languages.splice(index, 1);
      },
      onAddLanguage() {
        if (!this.language || !this.language_level) return;
        let languageIndex = this.languages.findIndex(i => i.language_id === this.language.id);
        let obj = {
          language_id: this.language.id,
          language_name: this.language.name,
          language_level_id: this.language_level.id,
          language_level_name: this.language_level.name,
        }
        if (languageIndex !== -1) {
          this.languages[languageIndex] = obj
        } else {
          this.languages.unshift(obj);
        }
        this.language = this.language_level = null;
        this.$refs.language.reset();
        this.$refs.language_level.reset();
      }
    },
  }
</script>

<style scoped>

</style>
