<template>
  <div class="group">
    <div class="row">
      <div class="col-md-3 col-12">
        <div class="title-form text-md-right text-left">{{$t('WayWorkSetting1')}}</div>
      </div>
      <div class="col-md-9 col-12">
        <div class="row">
          <div class="col-md-12 col-12">
            <div class="form-check">
              <label class="form-check-label" for="workRemotely">
                <input type="checkbox" class="form-check-input" id="workRemotely" :value="1" v-model="data" @change="changeData">
                {{$t('workRemotely')}}
                <i class="input-helper"></i></label>
            </div>
          </div>
          <div class="col-md-12 col-12">
            <div class="form-check">
              <label class="form-check-label" for="workOfficeOrPlace">
                <input type="checkbox" class="form-check-input" id="workOfficeOrPlace" :value="2" v-model="data" @change="changeData">
                {{$t('workOfficeOrPlace')}}
                <i class="input-helper"></i></label>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</template>

<script>
  export default {
    props: ['value'],
    data() {
      return {
        data: []
      }
    },
    methods: {
      changeData() {
        this.$emit('input', this.data);
      }
    },
    mounted() {
      this.data = [...this.value]
    }
  }
</script>
