<template>
  <div class=" group-item-aside group-item-big mb-4">
    <div class="header">
      <div class="title"> {{$t('SkillRegistration')}}</div>
    </div>
    <div class="panle-body-content" v-if="profile">
      <FormSpecialty :members="profile.members"/>
      <FormGoodSkill :skills="profile.skills"/>
      <FormGoodLanguage :languages="profile.languages"/>
      <FormAmountSetting v-model="profile.members"/>
      <FormDurationSetting v-model="profile.durations"/>
      <FormHolidaySetting v-model="profile.members.holiday"/>
      <FormWayWorkSetting v-model="profile.members.way_working"/>
      <FormWorkEnvironmentsSetting v-model="profile.workEnvironments"/>
    </div>
  </div>
</template>
<script>
  import {mapActions} from 'vuex'

  export default {
    props: ['profile'],
    components: {
      FormSpecialty: () => import('./FormSpecialty'),
      FormGoodSkill: () => import('./FormGoodSkill'),
      FormGoodLanguage: () => import('./FormGoodLanguage'),
      FormAmountSetting: () => import('./FormAmountSetting'),
      FormDurationSetting: () => import('./FormDurationSetting'),
      FormHolidaySetting: () => import('./FormHolidaySetting'),
      FormWayWorkSetting: () => import('./FormWayWorkSetting'),
      FormWorkEnvironmentsSetting: () => import('./FormWorkEnvironmentsSetting'),
    },
    data() {
      return {}
    },
  }
</script>
<style>

</style>

