<template>
  <div>
    <blog />
  </div>
</template>

<script>
  export default {
    name: 'ProjectClientDetail',
    components: {
      Blog: () => import('~/pages/profile/client/blog/_id'),
    }
  }
</script>
