<template>
  <div class="camera" @mouseenter="play" @mouseleave="reverse">
    <svg viewBox="0 0 24 24" width="24" height="24">
      <path id="camera" :d="camera" fill="#000"></path>
    </svg>
  </div>
</template>

<script>
  const camera = 'm23.54603,6.71654l0,13.03552c0,1.19945 -0.97314,2.17259 -2.17259,2.17259l-18.82909,0c-1.19945,0 -2.17259,-0.97314 -2.17259,-2.17259l0,-13.03552c0,-1.19945 0.97314,-2.17259 2.17259,-2.17259l3.98308,0l0.55673,-1.48912c0.31683,-0.84641 1.12703,-1.40766 2.03227,-1.40766l5.68041,0c0.90525,0 1.71544,0.56125 2.03227,1.40766l0.56125,1.48912l3.98308,0c1.19945,0 2.17259,0.97314 2.17259,2.17259l0,0l0,0zm-6.15566,6.51776c0,-2.99636 -2.43511,-5.43147 -5.43147,-5.43147s-5.43147,2.43511 -5.43147,5.43147s2.43511,5.43147 5.43147,5.43147s5.43147,-2.43511 5.43147,-5.43147zm-1.44839,0c0,2.19521 -1.78786,3.98308 -3.98308,3.98308s-3.98308,-1.78786 -3.98308,-3.98308s1.78786,-3.98308 3.98308,-3.98308s3.98308,1.78786 3.98308,3.98308z'
  const upload = 'm2.36004,1.75478c-1.2208,0 -2.21126,0.99046 -2.21126,2.21126l0,16.21593c0,1.2208 0.99046,2.21126 2.21126,2.21126l19.16429,0c1.2208,0 2.21126,-0.99046 2.21126,-2.21126l0,-16.21593c0,-1.2208 -0.99046,-2.21126 -2.21126,-2.21126l-19.16429,0zm0,1.47418l4.88321,0c0.15202,0 0.27641,0.12438 0.27641,0.27641l0,0.92136c0,0.15202 -0.12438,0.27641 -0.27641,0.27641l-5.34389,0c-0.15202,0 -0.27641,-0.12438 -0.27641,-0.27641l0,-0.46068c0,-0.4054 0.33169,-0.73709 0.73709,-0.73709zm19.62497,4.42253l-20.08565,0c-0.15202,0 -0.27641,-0.12438 -0.27641,-0.27641l0,-1.65845c0,-0.15202 0.12438,-0.27641 0.27641,-0.27641l6.35738,0l1.39125,-2.08688c0.05067,-0.07832 0.1382,-0.12438 0.23034,-0.12438l11.64599,0c0.4054,0 0.73709,0.33169 0.73709,0.73709l0,3.40903c0,0.15202 -0.12438,0.27641 -0.27641,0.27641zm-10.04282,12.16195c-3.0497,0 -5.52816,-2.47846 -5.52816,-5.52816s2.47846,-5.52816 5.52816,-5.52816s5.52816,2.47846 5.52816,5.52816s-2.47846,5.52816 -5.52816,5.52816zm0,-9.58214c-2.2343,0 -4.05398,1.81969 -4.05398,4.05398s1.81969,4.05398 4.05398,4.05398s4.05398,-1.81969 4.05398,-4.05398s-1.81969,-4.05398 -4.05398,-4.05398zm-2.21126,4.79107c-0.4054,0 -0.73709,-0.33169 -0.73709,-0.73709c0,-1.6262 1.32215,-2.94835 2.94835,-2.94835c0.4054,0 0.73709,0.33169 0.73709,0.73709s-0.33169,0.73709 -0.73709,0.73709c-0.8108,0 -1.47418,0.66338 -1.47418,1.47418c0,0.4054 -0.33169,0.73709 -0.73709,0.73709z'

  export default {
    name: "AnimationIconCamera",
    data() {
      return {
        tl: null
      }
    },
    computed: {
      camera() {
        return camera
      }
    },
    methods: {
      init() {
        this.tl = new TimelineMax({paused: true});
        this.tl.to('#camera', 0.5, {morphSVG: upload, fill: '#000'}, 0)
      },
      play() {
        this.tl.play();
      },
      reverse() {
        this.tl.reverse();
      }
    },
    mounted() {
      this.init();
    }
  }
</script>

<style scoped lang="scss">
  .camera {
    position: absolute;
    top: 20px;
    left: 20px;
    transition: all .5s;
    cursor: pointer;
    z-index: 2;

    &:hover {
      transform: scale(1.3);
    }
  }
</style>
