<template>
  <div>
    <blog :is-client="true" />
  </div>
</template>

<script>
  export default {
    layout: 'custom',
    name: 'ClientBlog',
    components: {
      Blog: () => import('~/components/share/blog'),
    },
  }
</script>

<style scoped>
</style>
