<template>
  <div>
    <div class="group-history_c14 rule-top-35">
      <div class="header font-28 text-white margin-bottom-35"> {{ $t('ProjectDetailBidHistory') }}</div>
      <div class="total-history">{{ $t('ProjectDetailTotalEntries') }}： {{ totalRow }}</div>
    </div>
    <div class="group-vote_c14 rule-bottom-35">
      <div class="row" v-loading="loading">
        <div class="col-sm-6 col-12 mb-3" v-for="(v, k) in data" :key="k">
          <div class="item-vote_c14">
            <div class="group-table-general">
              <div class="list-item">
                <div class="group-item">
                  <div class="d-flex align-items-center">
                    <div class="img-thumb">
                      <img :src="v.avatar" alt="">
                    </div>
                    <div class="info">
                      <div class="info-up">
                        <div class="d-flex align-items-center">
                          <div class="tag"> #{{id_bid(k)}}  -</div>
                          <div class="name">{{v.title}}</div>
                          <div class="flag">
                            <img :src="v.nation_icon" alt="">
                          </div>
                        </div>
                      </div>
                      <div class="info-down" v-if="getLocale !== 'vi'">
                        {{v.created_at[0]}}
                        {{$t('year')}}
                        {{v.created_at[1]}}
                        {{$t('month')}}
                        {{v.created_at[2]}}
                        {{$t('day')}}
                        -
                        {{v.duration_name}}
                        （{{$t('BidPrice')}} : {{v.price}}）
                      </div>
                      <div class="info-down" v-else>
                        {{$t('day')}}
                        {{v.created_at[2]}}
                        {{$t('month')}}
                        {{v.created_at[1]}}
                        {{$t('year')}}
                        {{v.created_at[0]}}
                        -
                        {{v.duration_name}}
                        （{{$t('BidPrice')}} : {{v.price}}）
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
            <div class="group-setting" v-if="v.private">
              <a href="javascript:;" class="text-link">{{ $t('ProjectDetailBidPrivate') }}</a>
            </div>
            <div v-else>
              <div class="group-btn mb-3" v-if="getLocale !== v.language_code_source && !v.translate">
                <a href="javascript:;"
                  class="read text-link text-center"
                  @click="translate(v.bid_id, k)">{{ $t('ProjectDetailTranslate') }}</a>
              </div>
              <div class="description mb-4 font-16 text-white" v-html="v.content"></div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="pagination_c15" v-if="totalRow > 2">
      <el-pagination background layout="prev, pager, next"
        v-if="totalRow"
        @current-change="objData.pageIndex = $event"
        :total="totalRow"
        :page-count="objData.pageIndex"
        :pageSize="objData.pageSize"/>
    </div>
  </div>
</template>

<script>
  import {mapGetters, mapActions} from 'vuex'

  export default {
    data() {
      return {
        id: 0,
        data: null,
        objData: {
          member_receive_id: 0,
          sort: 'created_at',
          order: 'ASC',
          pageIndex: 1,
          pageSize: 2
        },
        totalRow: 0,
        loading: false
      }
    },
    computed: {
      ...mapGetters({
        getLocale: 'getLocale'
      }),
    },
      watch: {
        objData: {
          handler: '_getBidMembers',
          deep: true
        }
      },
      methods: {
        ...mapActions({
          getBidMembers: 'bidMember/getBidMembers',
          getBidMembersTranslation: 'bidMember/getBidMembersTranslation',
        }),
        id_bid(key) {
          return (key + this.objData.pageIndex)+ (this.objData.pageIndex-  1) 
        },
        _getBidMembers() {
          this.loading = true;
          this.getBidMembers(this.objData)
            .then(res => {
              this.data = res.data;
              this.data.map(i => {
                i.created_at = i.created_at.split(' ')[0].split('-');
                i.translate = false
              });
              this.totalRow = res.totalRow;
            })
            .finally(() => {
              this.loading = false
            })
        },
        translate(id, index) {
          let obj = {
            member_bid_id: id,
            language_code: this.getLocale
          }
          this.getBidMembersTranslation(obj)
            .then(res => {
              this.data[index].content = res.data.content;
              this.data[index].translate = true;
            })
        }
      },
      mounted() {
        this.id = this.$route.params.id;
        this.objData.member_receive_id = this.id;
      }
  }
</script>

<style scoped>

</style>
