<template>
  <div class="c14-4">
    <div class="rule-bottom-35">
      <div class="group-desired margin-bottom-37">
        <div class="header font-28 text-white margin-bottom-37"> {{ $t('ExpertQualificationsAwards') }}</div>
        <div class="group-desired-skills" v-if="certificates.length">
          <transition-group name="el-fade-in" mode="out-in">
            <div class="row"
                 v-for="(v, k) in certificate"
                 :key="`cer-${k}`">
              <div class="col-12">
                <div class="group-skills">
                  <div class="d-flex justify-content-between flex-wrap">
                    <div class="item">{{v.certificate}}</div>
                    <div class="item" v-if="getLocale !== 'vi'"> {{v.year}} {{$t('year')}}</div>
                    <div class="item" v-else>{{$t('year')}} {{v.year}}</div>
                  </div>
                </div>
                <div class="font-18 color-lightgrey"> {{v.organization}}</div>
              </div>
            </div>
          </transition-group>
        </div>
      </div>
      <a href="javascript:;" title=""
         class="text-link d-block mb-2 font-16 margin-bottom-38"
         v-if="!isShow && certificates.length > 1" @click="loadMore">
        <span class="texts mr-4" v-if="!checkLoadMore()">{{ $t('ExpertPortfoliosLoadMore') }}</span>
        <span class="texts mr-4" v-else>{{ $t('ExpertPortfoliosLoad') }}</span>
        <span class="icon font-16">
        <i class="fas" v-bind:class="{ 'fa-chevron-up': checkLoadMore(), 'fa-chevron-down': !checkLoadMore() }"></i>
      </span>
      </a>
    </div>
  </div>
</template>

<script>
  import {mapGetters} from 'vuex'
  import _ from 'lodash'

  export default {
    props: ['certificates'],
    data() {
      return {
        certificate: [],
        base: 1,
        isShow: false,
      }
    },
    computed: {
      ...mapGetters({
        getLocale: 'getLocale'
      }),
    },
    methods: {
      loadMore() {
        if (this.checkLoadMore()) {
          this.setDefault();
          return;
        }
        this.certificate = [...this.certificates]
      },
      checkLoadMore() {
        return this.certificates.length === this.certificate.length;
      },
      setDefault() {
        this.certificate = [];
        this.certificate.push(_.first(this.certificates));
      }
    },
    mounted() {
      this.setDefault();
      this.isShow = this.certificates.length === this.base;
    }
  }
</script>

<style scoped>

</style>
