<template>
  <div class="c14-4">
    <div class="rule-bottom-35">
      <div class="group-desired margin-bottom-26">
        <div class="header font-28 text-white margin-bottom-30">{{ $t('ExportWorkHistory') }}</div>
        <div class="group-desired-skills" v-if="value.length">
          <transition-group name="el-fade-in" mode="out-in">
            <div class="row" v-for="(v, k) in work" :key="`work-${k}`">
              <div class="col-12">
                <div class="group-skills">
                  <div class="d-flex justify-content-between flex-wrap">
                    <div class="item">{{v.title}}</div>
                    <div class="item">
                      {{v.time_start ? v.time_start + ' -' : ''}} {{v.time_end || $t('now')}}
                    </div>
                  </div>
                </div>
                <div class="font-18 color-lightgrey">{{v.company}}・{{v.nation_name}}</div>
                <div class="group-vote_c14 my-3"
                     v-if="getLocale !== v.language_code_source && !v.translate">
                  <div class="item-vote_c14">
                    <div class="group-btn">
                      <a href="javascript:;" class="read text-link font-14 text-center"
                         @click="tranlate(v.id, k)">
                        {{v.isTranslate ? $t('ExpertPortfoliosShowOriginal') : $t('ExpertPortfoliosTranslate')}}
                      </a>
                    </div>
                  </div>
                </div>
                <div class="description mb-4 font-16 text-white">
                  <span v-if="v.isTranslate">{{v.sapo_translate}}</span>
                  <span v-else>{{v.sapo}}</span>
                </div>
              </div>
            </div>
          </transition-group>
        </div>
      </div>
      <a href="javascript:;"
         class="text-link d-block mb-2 font-16 margin-bottom-38"
         v-if="works.length > 1"
         @click="loadMore">
        <span class="texts mr-4" v-if="!checkLoadMore">{{ $t('ExpertPortfoliosLoadMore') }}</span>
        <span class="texts mr-4" v-else>{{ $t('ExpertPortfoliosLoad') }}</span>
        <span class="icon font-16">
          <i class="fas" :class="checkLoadMore ? 'fa-chevron-up' : 'fa-chevron-down'"></i>
        </span>
      </a>
    </div>
  </div>
</template>

<script>
  import {mapGetters} from "vuex";
  import _ from "lodash";

  export default {
    props: ['value'],
    data() {
      return {
        works: [],
        work: [],
      };
    },
    computed: {
      ...mapGetters({
        getLocale: "getLocale"
      }),
      checkLoadMore() {
        return this.works.length === this.work.length;
      }
    },
    methods: {
      getWorks() {
        this.works = [...this.value];
        this.works = this.works.map(i => {
          this.$set(i, 'isTranslate', false)
          this.$set(i, 'sapo_translate', '')
          return i;
        })
      },
      loadMore() {
        if (this.checkLoadMore) {
          this.setDefault();
          return;
        }
        this.work = [...this.works]
      },
      async tranlate(id, index) {
        let work = this.work[index];
        if (work.isTranslate) return work.isTranslate = false
        if (!work.sapo_translate) {
          let {data} = await this.$translate(id, 'work')
          work.sapo_translate = data.sapo;
        }
        work.isTranslate = true;
      },
      setDefault() {
        this.work = [];
        this.work.push(_.first(this.works));
      },
    },
    mounted() {
      this.getWorks();
      this.setDefault();
    }
  };
</script>

<style scoped>
</style>
