<template>
  <div class="c15">
    <div class="group-topic margin-bottom-37">
      <div class="header font-28 text-white margin-bottom-37"> {{ $t('ExpertPortfoliosTitle') }}</div>
      <div class="panel-body-hp">
        <div class="list-hp" v-if="value.length">
          <transition-group name="el-fade-in" mode="out-in">
            <div class="row"
                 v-if="portfolio"
                 v-for="(v, k) in portfolio" :key="`portolios-${k}`">
              <div class="col-sm-6 col-12 mb-3" v-if="v">
                <div class="list-item-hp">
                  <div class="img-thumb">
                    <a href="javascript:;" title="" class="image">
                      <img :src="v.image" alt="" class="img-fluid img-cover">
                    </a>
                  </div>
                  <div class="overlay">
                    <h3 class="wp-title">
                      <a href="javascript:;" title="" class="name-title">{{v.title}}</a>
                    </h3>
                  </div>
                </div>
              </div>
              <div class="col-sm-6 col-12 mb-3" v-if="v">
                <div class="group-right_c15">
                  <div class="group-vote_c14 margin-bottom-50"
                       v-if="v.language_code_source !== getLocale">
                    <div class="item-vote_c14">
                      <div class="group-btn">
                        <a href="javascript:;"
                           class="read text-link  text-center"
                           @click="translate(v.id, k)">

                          <transition name="el-fade-in" mode="out-in">
                            <span :key="'ExpertPortfoliosShowOriginal' + k" v-if="v.isTranslate">{{ $t('ExpertPortfoliosShowOriginal') }}</span>
                            <span :key="'ExpertPortfoliosTranslate' + k"
                                  v-else>{{ $t('ExpertPortfoliosTranslate') }}</span>
                          </transition>
                        </a>
                      </div>
                    </div>
                  </div>
                  <div class="description font-16 text-white mb-2 content-portfolio">

                    <transition name="el-fade-in" mode="out-in">
                      <div :key="'isViewMore' + k" v-if="v.isViewMore">
                        <div>
                          <transition name="el-fade-in" mode="out-in">
                            <span :key="'contentTranslateMin' + k"
                                  v-if="v.isTranslate">{{ v.contentTranslateMin }}</span>
                            <span :key="'content_min' + k" v-else>{{ v.content_min }}</span>
                          </transition>
                        </div>
                        <div>
                          <a href="javascript:;" @click="changeViewMore(v, k)">{{$t('View_More')}}</a>
                        </div>
                      </div>
                      <div :key="'isViewMore' + k" v-else>
                        <div>
                          <transition name="el-fade-in" mode="out-in">
                            <span :key="'contentTranslate' + k" v-if="v.isTranslate">{{ v.contentTranslate }}</span>
                            <span :key="'content' + k" v-else>{{ v.content }}</span>
                          </transition>
                        </div>
                        <div v-if="v.content.length > 300">
                          <a href="javascript:;" @click="changeViewMore(v, k)">{{$t('View_Less')}}</a>
                        </div>
                      </div>
                    </transition>
                  </div>
                </div>
              </div>
            </div>
          </transition-group>
        </div>
      </div>
    </div>
    <a href="javascript:;" title=""
       class="text-link d-block mb-2 font-16 margin-bottom-38"
       v-if="portfolios.length > 1"
       @click="loadMore">
      <span class="texts mr-4" v-if="!checkLoadMore()">{{ $t('ExpertPortfoliosLoadMore') }}</span>
      <span class="texts mr-4" v-else>{{ $t('ExpertPortfoliosLoad') }}</span>
      <span class="icon font-16">
        <i class="fas"
           v-bind:class="{ 'fa-chevron-up': checkLoadMore(), 'fa-chevron-down': !checkLoadMore() }"></i>
      </span>
    </a>
    <div class="rule-grey margin-bottom-37"></div>
  </div>
</template>

<script>
  import {mapGetters} from 'vuex'
  import _ from 'lodash'

  export default {
    props: ['value'],
    data() {
      return {
        portfolio: [],
        portfolios: []
      }
    },
    computed: {
      ...mapGetters({
        getLocale: 'getLocale'
      }),
    },
    methods: {
      async translate(id, index) {
        let portfolio = this.portfolio[index]
        if (portfolio.isTranslate) {
          portfolio.isTranslate = false
          this.$forceUpdate();
          return;
        }
        let {data} = await this.$translate(id, 'portfolio')
        if (this.portfolio.length) {
          portfolio.titleTranslate = data.title
          portfolio.contentTranslate = data.content
          if (portfolio.contentTranslate.length > 300) {
            portfolio.contentTranslateMin = portfolio.contentTranslate.slice(0, 300) + ' ...'
          }
          portfolio.isTranslate = true
          this.$forceUpdate();
        }
      },
      loadMore() {
        if (this.checkLoadMore()) {
          this.setDefault();
          return;
        }
        this.portfolio = [...this.portfolios]
      },
      setDefault() {
        this.portfolio = [];
        this.portfolio.push(_.first(this.portfolios));
      },
      checkLoadMore() {
        return this.portfolios.length === this.portfolio.length;
      },
      getPortfolios() {
        this.portfolios = [...this.value]
        this.portfolios = this.portfolios.map(i => {
          i.isViewMore = i.isTranslate = false
          if (i.content.length > 300) {
            i.content_min = i.content.slice(0, 300) + ' ...'
            i.isViewMore = true
          }
          return i;
        })
      },
      changeViewMore(v, k) {
        if (this.portfolio[k].isViewMore) {
          this.portfolio[k].isViewMore = false
        } else {
          document.getElementsByClassName('content-portfolio')[k].scrollIntoView()
          this.portfolio[k].isViewMore = true
        }
        this.$forceUpdate();
      }
    },
    mounted() {
      this.getPortfolios();
      this.setDefault();
    }
  }
</script>

<style scoped>

</style>
