<template>
  <div class="c14-1">
    <div class="rule-bottom-35">
      <div class="name-title text-white head mb-4" v-if="members.title">{{members.title}} 。</div>
      <div class="group-job">
        <div class="d-flex align-items-center flex-wrap">
          <div class="name-job pr-5">
            <span v-if="members.nation_name">{{ members.nation_name }}</span>
            <span v-if="members.category_name">・ {{members.category_name }}</span>
          </div>
          <div class="group-month d-flex flex-wrap">
            <div
              class="item-month"
              v-for="(i, k) in durations"
              :key="'duration' + k"
            >{{ i.duration_name }}
            </div>
          </div>
        </div>
      </div>
      <div class="list-follow margin-bottom-35">
        <div class="d-flex flex-wrap">
          <div class="item d-flex align-items-center mr-3">
            <div class="icon mr-2">
              <img src="~/assets/images/icon/hammer.png" alt/>
            </div>
            <div class="number color-lightgrey font-14">{{ members.number_bid }}</div>
          </div>
          <div class="item d-flex align-items-center mr-3">
            <div class="icon mr-2">
              <i class="far fa-eye color-lightgrey font-14"></i>
            </div>
            <div class="number color-lightgrey font-14">{{ members.hit }}</div>
          </div>
          <div class="item d-flex align-items-center mr-3">
            <div class="icon mr-2">
              <i class="far fa-heart color-lightgrey font-14"></i>
            </div>
            <div class="number color-lightgrey font-14">{{ members.wishlist }}</div>
          </div>
          <div class="item d-flex align-items-center mr-3">
            <div class="icon mr-2">
              <i class="fas fa-circle font-14" :class="{'color-green': members.online == 1}"></i>
            </div>
            <div class="number font-14" :class="{'color-green': members.online == 1}">{{ members.online ? $t('online') : $t('offline') }}</div>
          </div>
        </div>
      </div>
    </div>
    <div class="rule-bottom-35 self-introduction">
      <div class="header font-28 text-white margin-bottom-35">{{ $t('SelfIntroduction') }}</div>
      <div class="group-btn"
           v-if="getLocale !== members.language_code_source && sapo.default.length > 0">
        <a href="javascript:;" class="read d-block text-center"
           @click="translate">
          <transition name="el-fade-in" mode="out-in">
            <span key="ProjectDetailTranslateRevert" v-if="isTranslate">{{$t('ProjectDetailTranslateRevert')}}</span>
            <span key="ProjectDetailTranslate" v-else>{{$t('ProjectDetailTranslate')}}</span>
          </transition>
        </a>
      </div>
      <transition name="el-fade-in" mode="out-in">
        <div key="isNotShowMore" v-if="!isShowMore">

          <transition name="el-fade-in" mode="out-in">
            <pre key="min" v-if="!isTranslate" class="font-20 text-white margin-bottom-35" v-html="sapo.min"></pre>
            <pre key="translate_min" v-else class="font-20 text-white margin-bottom-35"
                 v-html="sapo.translate_min"></pre>
          </transition>

          <div class="read-more">
            <a v-if="isMin" href="javascript:;"
               class="text-link d-block mb-2 font-16"
               @click="changeViewMore">
              <span class="texts mr-4">{{ $t('ExpertPortfoliosLoadMore') }}</span>
              <span class="icon font-16">
            <i class="fas fa-chevron-down color-green"></i>
          </span>
            </a>
          </div>
        </div>
        <div key="isShowMore" v-else>

          <transition name="el-fade-in" mode="out-in">
            <pre key="default" v-if="!isTranslate" class="font-20 text-white margin-bottom-35"
                 v-html="sapo.default"></pre>
            <pre key="translate" v-else class="font-20 text-white margin-bottom-35" v-html="sapo.translate"></pre>
          </transition>

          <div class="read-more">
            <a href="javascript:;" class="text-link d-block mb-2 font-16"
               @click="changeViewMore">
              <span class="texts mr-4">{{ $t('View_Less') }}</span>
              <span class="icon font-16">
            <i class="fas fa-chevron-up color-green"></i>
          </span>
            </a>
          </div>
        </div>
      </transition>
      <div class="mb-hp">
        <a v-if="isMe" href="javascript:;" class="text-link d-block mb-2 font-16">
          <span class="texts mr-4">{{ $t('AskQuestionsTo', {name: fullname}) }}</span>
        </a>
        <nuxt-link v-else class="text-link d-block mb-2 font-16" :to="localePath({ name: 'ticket-id-expert', params:{ id: members.id} })">
          <span class="texts mr-4">{{ $t('AskQuestionsTo', {name: fullname}) }}</span>
        </nuxt-link>

      </div>
    </div>
  </div>
</template>

<script>
  import {mapGetters, mapActions} from "vuex";

  const NUMBER_SAPO_MIN = 300;

  export default {
    props: ["durations", "members", 'isMe'],
    data() {
      return {
        isTranslate: false,
        isShowMore: false,
        isMin: false,
        sapo: {}
      };
    },
    computed: {
      ...mapGetters({
        getLocale: "getLocale"
      }),
      fullname() {
        let {first_name, last_name} = this.members;
        return first_name + ' ' + last_name
      }
    },
    methods: {
      ...mapActions({
        getExpertTranslation: "members/viewProfile/getExpertTranslation"
      }),
      setSapoMin(value) {
        return value.slice(0, NUMBER_SAPO_MIN) + ' ...';
      },
      setSapo() {
        let sapo = this.members.sapo;
        this.sapo.default = sapo || '';
        if (sapo && sapo.length > NUMBER_SAPO_MIN) {
          this.sapo.min = this.setSapoMin(sapo)
          this.isMin = true;
        } else {
          this.sapo.min = sapo
        }
      },
      async translate() {
        if (this.isTranslate) return this.isTranslate = false;
        if (!this.sapo.translate) {
          let {data} = await this.$translate(this.members.id, "expert");
          this.sapo.translate = data.sapo;
          if (this.isMin) {
            this.sapo.translate_min = this.setSapoMin(data.sapo)
          }
        }
        this.isTranslate = true;
      },
      changeViewMore() {
        if (this.isShowMore) {
          document.getElementsByClassName('self-introduction')[0].scrollIntoView()
        }
        this.isShowMore = !this.isShowMore
      }
    },
    created() {
      this.setSapo();
    }
  };
</script>

<style scoped>
  pre {
    color: #fff !important;
    font-size: 20px !important;
    white-space: pre-line;
    font-family: 'SourceSansPro', sans-serif !important;;
  }
</style>
