<template>
  <div class="c14-4">
    <div class="group-desired margin-bottom-37">
      <div class="header font-28 text-white margin-bottom-37"> {{ $t('ExpertSkill') }}</div>
      <div class="group-desired-skills">
        <div class="row" v-if="skills.length">
          <div class="col-xl-8 col-lg-12 col-sm-8 col-12 mb-3" v-for="(v, k) in skill" :key="k">
            <div class="group-skills">
              <div class="d-flex justify-content-between flex-wrap">
                <div class="item">{{ v.skill_name }}</div>
                <div class="item">{{ v.year_experience_name }}</div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <a href="javascript:;" title="" class="text-link d-block mb-2 font-16 margin-bottom-38"
       v-if="!isShow && skills.length > 1" @click="loadMore">
      <span class="texts mr-4" v-if="!checkLoadMore()">{{ $t('ExpertPortfoliosLoadMore') }}</span>
      <span class="texts mr-4" v-else>{{ $t('ExpertPortfoliosLoad') }}</span>
      <span class="icon font-16">
        <i class="fas" v-bind:class="{ 'fa-chevron-up': checkLoadMore(), 'fa-chevron-down': !checkLoadMore() }"></i>
      </span>
    </a>
  </div>
</template>

<script>
  import {mapGetters} from 'vuex'
  import _ from 'lodash'

  export default {
    props: ['skills'],
    data() {
      return {
        skill: [],
        isShow: false,
        base: 1,
      }
    },
    computed: {
      ...mapGetters({
        getLocale: 'getLocale'
      }),
    },
    methods: {
      loadMore() {
        if (this.checkLoadMore()) {
          this.setDefault();
          return;
        }
        this.skill = [...this.skills]
      },
      checkLoadMore() {
        return this.skills.length === this.skill.length;
      },
      setDefault() {
        this.skill = [];
        this.skill.push(_.first(this.skills));
      }
    },
    mounted() {
      if (this.skills.length) {
        this.setDefault();
        this.isShow = this.skills.length === this.base;
      }
    }
  }
</script>

<style scoped>

</style>
