<template>
  <div class="c14-4">
    <div class="rule-bottom-35">
      <div class="group-desired margin-bottom-37">
        <div class="header font-28 text-white margin-bottom-37"> {{ $t('ExpertEducation') }}</div>
        <div class="group-desired-skills" v-if="educations.length">
          <transition-group name="el-fade-in" mode="out-in">
            <div class="row" v-for="(v, k) in education" :key="`edu-${k}`">
              <div class="col-12 mt-3">
                <div class="group-skills" v-if="v">
                  <div class="d-flex justify-content-between flex-wrap">
                    <div class="item">{{ v.major_name }}</div>
                    <div class="item" v-if="getLocale !== 'vi'">{{ v.year_graduation }} {{$t('year')}}</div>
                    <div class="item" v-else>{{$t('year')}} {{ v.year_graduation }}</div>
                  </div>
                </div>
                <div class="font-18 color-lightgrey" v-if="v">{{ v.university_name }}・{{ v.nation_name }}</div>
              </div>
            </div>
          </transition-group>
        </div>
      </div>
      <a href="javascript:;" title=""
         class="text-link d-block mb-2 font-16 margin-bottom-38"
         v-if="!isShow && educations.length > 1" @click="loadMore">
        <span class="texts mr-4" v-if="!checkLoadMore()">{{ $t('ExpertPortfoliosLoadMore') }}</span>
        <span class="texts mr-4" v-else>{{ $t('ExpertPortfoliosLoad') }}</span>
        <span class="icon font-16">
        <i class="fas" v-bind:class="{ 'fa-chevron-up': checkLoadMore(), 'fa-chevron-down': !checkLoadMore() }"></i>
      </span>
      </a>
    </div>
  </div>
</template>

<script>
  import {mapGetters} from 'vuex'
  import _ from 'lodash';

  export default {
    props: ['educations'],
    data() {
      return {
        education: [],
        base: 1,
        isShow: false,
      }
    },
    computed: {
      ...mapGetters({
        getLocale: 'getLocale'
      }),
    },
    methods: {
      loadMore() {
        if (this.checkLoadMore()) {
          this.setDefault();
          return;
        }
        this.education = [...this.educations]
      },
      setDefault() {
        this.education = [];
        this.education.push(_.first(this.educations));
      },
      checkLoadMore() {
        return this.education.length === this.educations.length;
      }
    },
    mounted() {
      this.setDefault();
      this.isShow = this.educations.length === this.base;
    }
  }
</script>

<style scoped>

</style>
