<template>
  <div class="c14-2">
    <div class="group-function rule-bottom-35" v-if="members">
      <div class="header font-28 text-white margin-bottom-40">
        {{ $t('ExpertCharacteristic') }}
      </div>
      <div class="list-function row">
        <div class="col-xl-6 col-lg-12 col-sm-6 col-12" v-if="members.way_working.includes(1)">
          <div class="function margin-bottom-37 d-flex">
            <div class="icon"><img src="~assets/images/icon/laptop.svg" alt=""></div>
            <div class="texts">{{ $t('ExportWordRemote') }}</div>
          </div>
        </div>
        <div class="col-xl-6 col-lg-12 col-sm-6 col-12" v-if="members.way_working.includes(2)">
          <div class="function margin-bottom-37 d-flex">
            <div class="icon"><img src="~assets/images/icon/plane.svg" alt=""></div>
            <div class="texts">{{ $t('ExportWordInJapan') }}</div>
          </div>
        </div>
        <div class="col-xl-6 col-lg-12 col-sm-6 col-12" v-if="members.holiday">
          <div class="function margin-bottom-37 d-flex">
            <div class="icon"><img src="~assets/images/icon/vacation.svg" alt=""></div>
            <div class="texts">{{ $t('ExpertWorkHoliday') }} {{ members.holiday }} {{ $t('day') }} </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</template>

<script>
  export default {
    props: ['members'],
    data() {
      return {
      };
    },
  }
</script>

<style scoped>

</style>
