<template>
  <div class="c14-3">
    <div class="rule-bottom-35">
      <div class="group-topic margin-bottom-37">
        <div class="header font-28 text-white margin-bottom-37">{{ $t('WorkEnvironment') }}</div>
        <div class="panel-body-hp order_2">
          <div class="list-hp" v-if="workEnvironments.length">
            <div class="row">
              <div
                class="col-sm-6 col-12 mb-3"
                v-if="workEnvironment"
                v-for="(v, k) in workEnvironment"
                :key="k"
              >
                <div class="list-item-hp">
                  <div class="img-thumb">
                    <a href="javascript:;" title class="image">
                      <img :src="v.image" alt class="img-fluid img-cover" />
                    </a>
                  </div>
                  <div class="overlay">
                    <h3 class="wp-title">
                      <a href="javascript:;" title class="name-title">{{v.work_environment_name}}</a>
                    </h3>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
      <a
        href="javascript:;"
        title
        class="text-link d-block mb-2 font-16 margin-bottom-38"
        v-if="!isShow && workEnvironments.length > 2"
        @click="loadMore"
      >
        <span class="texts mr-4" v-if="!checkLoadMore()">{{ $t('ExpertPortfoliosLoadMore') }}</span>
        <span class="texts mr-4" v-else>{{ $t('ExpertPortfoliosLoad') }}</span>
        <span class="icon font-16">
          <i
            class="fas"
            v-bind:class="{ 'fa-chevron-up': checkLoadMore(), 'fa-chevron-down': !checkLoadMore() }"
          ></i>
        </span>
      </a>
    </div>
  </div>
</template>

<script>
import { mapGetters } from "vuex";
import _ from "lodash";

export default {
  props: ["workEnvironments"],
  data() {
    return {
      workEnvironment: [],
      baseWork: 2,
      isShow: false
    };
  },
  computed: {
    ...mapGetters({
      getLocale: "getLocale"
    })
  },
  methods: {
    loadMore() {
      if (this.checkLoadMore()) {
        this.setDefault();
        return;
      }
      this.workEnvironment = [...this.workEnvironments];
    },
    setDefault() {
      this.workEnvironment = [];
      let workEnvironments = [...this.workEnvironments];
      this.workEnvironment = workEnvironments.splice(0, this.baseWork);
    },
    checkLoadMore() {
      return this.workEnvironments.length === this.workEnvironment.length;
    }
  },
  mounted() {
    this.setDefault();
    this.isShow = this.workEnvironments.length === this.baseWork;
  }
};
</script>

<style scoped>
</style>
