<template>
  <section class="body-hp rule-top-35">
    <div class="">
      <div class="row">
        <div class="col-12">
          <div class="wp-product-hp wp-order mb-hp prd-2">
            <header class="panel-head">
              <h2 class="heading-2 title-heading"><span>{{ $t('ExpertRelated') }}</span></h2>
            </header>
            <section class="panel-body-prd">
              <ul class="row mb-4">
                <li class="col-lg-4 col-md-6 col-sm-12 col-12 mb-4" v-for="(item, key) in relateds" :key="key">
                  <ItemExpert :item="item" />
                </li>
              </ul>
            </section>
          </div>
        </div>
      </div>
    </div>
  </section>
</template>

<script>
  export default {
    name: 'ExpertRelated',
    props: ['relateds'],
    components: {
      ItemExpert: () => import('./ItemExpert'),
    },
    methods: {
    }
  }
</script>
