<template>
  <div class="group-right-top mb-3" v-if="data">
    <div class="group-salary">
      {{ formatNumber(minPrice) }} - {{ formatNumber(amount) }} /1{{ $t('month') }}
    </div>
    <div class="wp-rating d-flex">
      <div class="meta-rate d-flex">
        <div class="number-rate">{{ data.rate }}</div>
        <el-rate
          v-model="data.rate"
          :colors="['#77D353', '#77D353', '#77D353']"
          :disabled-void-color="'#d2d2d2'"
          disabled
        ></el-rate>
      </div>
      <div class="number-rate meta-number">{{ data.number_people_rate }}</div>
    </div>
    <div class="waiting">
      {{ $t('Ranking') }}：
      <span>
        <img :src="rankingIcon" alt style="height: 18px; width: 30px;" />
      </span>
    </div>
    <div class="rule-grey"></div>
    <div class="group-select">
      <div class="title">{{ $t('ExpertContentBid') }}</div>
      <div class="group-skills">
        <div class="bg-white border-radius-10">
          <select v-model="objParams.duration_id"
            class="select-gender input-text input w-100 btn-down-black color-black font-14">
            <option v-for="(d, k) in durations" :key="`duration--${k}`" :value="d.id">{{ d.name }}</option>
          </select>
        </div>
      </div>
    </div>
    <div class="group-select select-salary">
      <div class="title">{{ $t('BidAmount(RecommendedMonthlyFee)') }}</div>
      <currency-input v-model="objParams.price" />
    </div>
    <div class="text-note mb-3">{{$t('commissionBidProject')}}</div>
    <div class="group-select mb-2">
      <div class="title">{{ $t('ReasonForBidding') }}</div>
      <textarea
        v-model="objParams.content"
        rows="5"
        class="border-radius-10 p-3 w-100 font-14"
        :placeholder="$t('Example:AppealToClients')"
      ></textarea>
    </div>
    <div class="form-group">
      <input type="checkbox" v-model="private" id="private" />
      <label class="check" for="private">{{ $t('ProjectApplyStatus') }}</label>
    </div>
    <div class="modal-spotech">
      <div class="modal-body p-0">
        <div class="form-group link-social text-center mb-3">
          <el-button
            type="button"
            :loading="loading"
            class="btn-red social button-a-13-2"
            v-bind:class="{ 'disabled' : isDisabled(data.is_owner) || !value.hiring }"
            @click="onSaveBidMembers">
            <span class="text-link">{{ bidTitle  }}</span>
          </el-button>
        </div>
      </div>
    </div>
    <div class="rule-grey"></div>
    <div class="text-center waiting">{{ $t('ProjectNumberBrowsing', { number: data.hit ? data.hit  : 0 })}}</div>
  </div>
</template>

<script>
import { mapGetters, mapActions, mapState } from "vuex";
import _ from 'lodash';

export default {
  props: ["value"],
  data() {
    return {
      data: {
        price: 0,
        duration_id: 1,
        content: "",
        private: true
      },
      private: false,
      objParams: {
        id: 0,
        member_receive_id: "",
        company_id: 0,
        price: 0,
        content: 0,
        private: 0,
        duration_id: 1,
        currency_code: ""
      },
      unit: "",
      currency_code: "",
      currentType: {},
      isBid: false,
      loading: false,
      timeout: null,
      baseUnit: { ja: '¥', vi: 'đ', en: '$'},
    };
  },
  components: {
    CurrencyInput: () => import("~/components/project/share/currencyInput")
  },
  computed: {
    ...mapState({
      durations: state => state.resource.duration,
      ranking: state => state.resource.ranking,
      priceMin: state => state.auth.authUser.user.price_min
    }),
    ...mapGetters({
      languages: "resource/languageClient",
      getLocale: 'getLocale',
      userId: 'getUserId',
    }),
    bidTitle() {
      let title = this.$t('BidTheDesiredCompensationAmount');
      if (this.data.is_bid || this.isBid) {
        title = this.$t('BidAgain');
      }
      return title;
    },
    minPrice() {
      return this.priceMin[this.getLocale].replace(/[!¥@#$đ%^&,*]/g, '');
    },
    amount() {
      return this.data[`price_${this.getLocale}`] || this.minPrice
    },
    rankingIcon() {
      const rank = this.ranking.find(r => r.id === this.data.ranking_id);
      return rank ? rank.icon : '';
    }
  },
  watch: {
    private(newVal) {
      this.objParams.private = newVal ? 1 : 0;
    }
  },
  methods: {
    ...mapActions({
      saveBidMembers: "bidMember/saveBidMembers"
    }),
    formatNumber(valueFilter) {
      if(!this.getLocale || !valueFilter) return;
      const amount = valueFilter.toString().replace(/(\d)(?=(\d{3})+(?:\.\d+)?$)/g, "$1,");
      return this.getLocale === 'vi'
        ? `${amount}${this.baseUnit[this.getLocale]}`
        : `${this.baseUnit[this.getLocale]}${amount}`
    },
    onSaveBidMembers() {
      if (this.isPreview()) return;
      if (this.objParams.price < parseInt(this.minPrice.replace(/[^\d\.]/g, ""))) {
        this.showNotification(this.$t('warning'), this.$t('CurrencyMinPriceFail', { price: this.formatNumber(this.minPrice) }), 'warning')
      }else if (this.objParams.price > this.amount) {
        this.showNotification(this.$t('warning'), this.$t('CurrencyMaxPriceFail', { price: this.formatNumber(this.amount) }), 'warning')
      }else{
        this.loading = true;
        this.objParams.id = _.isEmpty(this.data.bid) ? 0 : this.data.bid.id;
        const name = `${this.data.first_name} ${this.data.last_name}`
        this.saveBidMembers(this.objParams)
        .then(res => {
          if (res.success) {
            this.setDefaultParams();
            this.data.number_bid++;
            this.isBid = true;
            this.showNotification(this.$t('Success'), res.message, 'success');
            this.$router.push(this.localePath({
              name: 'completebid',
              query: {
                type: 'expert',
                name: name
              }
            }));
          } else {
            this.showNotification(this.$t('Error'), res.message, 'error');
          }
        })
        .catch(error => {
          console.log(error);
          this.showNotification(this.$t('Error'), error.message, 'error');
        });
        this.timeout = setTimeout(() => {
          this.loading = false;
        }, 3000);
      }
    },
    setDefaultParams() {
      const language = this.languages.find(l => l.code === this.getLocale);
      if (this.data.is_bid) {
        let dataBid = this.data.bid;
        this.objParams = {
          id: dataBid.id,
          member_receive_id: this.data.id,
          company_id: _.has(this.currentType, "company_id")
            ? this.currentType.company_id
            : 0,
          price: parseInt(dataBid.price),
          content: dataBid.content,
          private: dataBid.private,
          duration_id: dataBid.duration_id,
          currency_code: language.currency_code
        };
      } else {
        this.objParams = {
          id: 0,
          member_receive_id: this.data.id,
          company_id: _.has(this.currentType, "company_id")
            ? this.currentType.company_id
            : 0,
          price: this.minPrice.replace(/[!¥@#$đ%^&*]/g, ''),
          content: "",
          private: 0,
          duration_id: 1,
          currency_code: language.currency_code
        };
      }
    },
    isDisabled(isOwner) {
      return !isOwner && this.isExpert();
    },
    isExpert() {
      return !this.currentType || _.has(this.currentType, 'id');
    },
    isPreview() {
      return this.$route.path === this.localePath({name: 'expert-p-id', params: {id: this.userId}});
    },
  },
  mounted() {
    this.data = { ...this.data, ...this.value };
    this.currentType = this.$store.getters.getCompany;
    this.setDefaultParams();
    this.unit = this.$store.getters.getCurrencyUnit;
  }
};
</script>

<style scoped>
.currency-price {
  position: relative;
  background: #d2d2d2;
  border-radius: 10px;
}
.currency-unit {
  min-width: 70px;
  width: auto;
}
.unit {
  font-size: 18px;
  font-weight: 500;
  margin-left: 6px;
  box-sizing: border-box;
}
.unit-icon {
  white-space: nowrap;
  text-align: center;
  padding: 12px;
  z-index: 1;
  font-size: 16px;
  text-transform: uppercase;
  font-weight: bold;
}
.modal-spotech .modal-body .link-social .social{
  line-height: 0 !important;
}
.btn-red.social.disabled {
  background: #bfbfbf !important;
  pointer-events: none;
}
</style>
