<template>
  <div class="item-prd item-prd-vote" v-if="item">
    <div class="slide-item-prd swiper-container-initialized swiper-container-horizontal">
      <div class="img-thumb">
        <a href="javascript:;" title="" class="image ">
          <img :src="item.avatar" alt="" class="img-fluid img-cover">
        </a>
        <favorite :object_id="item.id" :objData="item" :type="3" :is_yourself="0" :custom="1"/>
      </div>
      <span class="swiper-notification" aria-live="assertive" aria-atomic="true"></span>
      <span class="swiper-notification" aria-live="assertive" aria-atomic="true"></span>
    </div>
    <div class="info">
      <div class="group-meta d-flex align-items-center justify-content-between mb-2">
        <div class="name-head">{{ nationTitle }}・{{ categoryTitle }}</div>
      </div>
      <div class="name-title" @click="goToExpertPage">
        <a href="javascript:;" title="" class="title line-2">
          {{ item.first_name }} {{ item.last_name }}
        </a>
      </div>
      <div class="wp-salary"> {{ $t('PriceProject') }}：{{ formatNumber(amount) }}</div>
      <div class="wp-time"> {{ $t('SearchPeriod') }}： {{ rankingName }} </div>
      <div class="wp-rating d-flex">
        <div class="meta-rate d-flex">
          <div class="number-rate">{{ item.rate }}</div>
          <el-rate v-model="item.rate"
            :colors="['#77D353', '#77D353', '#77D353']"
            :disabled-void-color="'#d2d2d2'"
            disabled></el-rate>
        </div>
      </div>
    </div>
  </div>
</template>

<script>
  import {mapGetters, mapState} from 'vuex';
  import _ from 'lodash';

  export default {
    name: 'ItemExpert',
    filters: {
      capitalize(string) {
        return string.charAt(0).toUpperCase() + string.slice(1);
      },
    },
    data() {
      return {
        baseUnit: { ja: '¥', vi: 'đ', en: '$'},
      }
    },
    props: ['item'],
    computed: {
      ...mapState({
        nations: state => state.resource.nationClient,
        categories: state => state.resource.category,
        ranking: state => state.resource.ranking,
        durations: state => state.resource.duration,
      }),
      ...mapGetters({
        locale: 'getLocale',
      }),
      currencyCode() {
        return this.getCurrencyUnit(this.locale);
      },
      categoryTitle() {
        const cat = this.categories.find(c => c.id === this.item.category_id);
        return cat ? cat.title : this.$t('SearchJobNotSet');
      },
      nationTitle() {
        const nation = this.nations.find(n => n.id === this.item.nation_id);
        return nation ? nation.name : this.$t('SearchNationNotSet');
      },
      durationName() {
        if(_.isEmpty(this.durations)) return '';
        const durationId = _.flatMap(this.item.durations, d => d.id);
        const durations = this.durations.filter(d => (durationId.findIndex(du => du == d.id) >= 0));
        return _.flatMap(durations, d => d.name).join(',');
      },
      amount() {
        return this.item[`price_${this.locale}`];
      },
      rankingName() {
        const ranking = this.ranking.find(r => r.id === this.item.ranking_id);
        return ranking ? ranking.name : '';
      }
    },
    components: {
      Favorite: () => import('~/components/share/header/Favorite'),
    },
    methods: {
      formatNumber(valueFilter) {
        if(!this.locale) return;
        const amount = valueFilter.toString().replace(/(\d)(?=(\d{3})+(?:\.\d+)?$)/g, "$1,");
        return this.locale === 'vi'
          ? `${amount}${this.baseUnit[this.locale]}`
          : `${this.baseUnit[this.locale]}${amount}`
      },
      goToExpertPage() {
        this.$router.push(this.localePath({ name: 'expert-p-id', params: {id: this.item.id }}));
      }
    }
  }
</script>

<style scoped>
  li {
    cursor: pointer;
  }
  .img-thumb > a.icon {
    position: absolute;
    top: 20px;
    right: 20px;
    font-weight: 500;
    color: #ffffff;
    z-index: 2;
    outline: none;
  }
</style>
