<template>
    <div class="forgot-password modal-body wp-modal-body">
        <div class="form">
            <div class="title text-left">{{$t('forgotPassword')}}</div>
            <div class="description text-left">{{$t('pleaseenteryouraccount')}}</div>
            <el-form :model="objData" :rules="rules" ref="objData">
                <el-form-item prop="email">
                    <label>{{ $t('EmailAddress') }}</label>
                    <el-input type="email" v-model="objData.email" @focus="clearValidate"></el-input>
                </el-form-item>

                <div class="form-group">
                    <div class="d-flex align-items-center wp-block">
                        <a href="javascript:;" class="back-link mr-auto" @click="$emit('closeModal', 3)">
                            <span class="icon"><i class="fas fa-chevron-left"></i></span>
                            <span class="text-back">{{ $t('returnToLoginScreen') }}</span>
                        </a>
                        <a href="javascript:;" title="" :disabled="loading" v-loading="loading" class="next-link" @click="forgotPass">{{ $t('sendLinkResetPassword') }}</a>
                    </div>
                </div>
            </el-form>
        </div>
    </div>
</template>

<script>
    import {mapActions} from 'vuex'
    import {required, email} from 'vuelidate/lib/validators'

    export default {
        data() {
            return {
                objData: {
                    email: ''
                },
                rules: {
                    email: [
                        {
                          required: true,
                          message: this.$t('pleaseInputEmail'),
                          trigger: "blur"
                        },
                        {
                          type: "email",
                          message: this.$t('emailInvalid'),
                          trigger: "blur"
                        }
                    ]
                },
                loading: false
            }
        },

        methods: {
            ...mapActions(['forgotPassword']),
            clearValidate() {
              return this.$refs.objData.clearValidate();
            },
            forgotPass() {
                if( this.loading ){ return; }
                this.$refs["objData"].validate(valid => {
                    if (!valid) return;
                    this.loading = true;
                    this.forgotPassword(this.objData)
                        .then(() => {
                            this.loading = false;
                            this.showNotification(this.$t('Success'), this.$t('sendRecoverLinkSuccessMessage'), 'success');
                            this.$emit('closeModal');
                        })
                        .catch(err => {
                            this.loading = false;
                            this.showNotification(this.$t('Error'), err.message, 'error');
                        })
                });
            },
        },
    }
</script>
