<template>
    <section>
        <div class="rule-modal"></div>
        <div class="modal-body modal-body-a13">
            <div class="hd-search header-search">
                <div class="">
                    <div class="group-rl mb-3">
                        <a href="javascript:;" @click="onModalHelpDetail" class="read-more d-block mb-3" data-toggle="modal">
                            <span class="icon"><i class="fas fa-chevron-left"></i></span>
                            <span class="text">{{ $t('btnReturn') }}</span>
                        </a>
                    </div>
                    <div class="group-rl mb-3">
                        <div class="text-head-modal mb-3 line-2">{{ $t('LoginPersonalizedHelp') }}</div>
                    </div>
                    <div class="group-rl mb-4">
                        <div class="row">
                            <div class="col-6">
                                <div class="btn-modal text-center">
                                    <a href="javascript:;" title="" @click="onModalLogin" class="btn-a active" data-toggle="modal">{{ $t('btnLogin') }}</a>
                                </div>
                            </div>
                            <div class="col-6">
                                <div class="btn-modal text-center">
                                    <a href="javascript:;" title="" @click="onModalSignup" class="btn-a" data-toggle="modal">{{ $t('btnCreateAccount') }}</a>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="rule-modal mb-4"></div>
                    <div class="group-rl mb-3">
                        <div class="text-head-modal mb-3 text-center">{{ $t('Feedback') }}</div>
                        <div class="intro-modal mb-3 line-3">
                            {{ $t('TextHelpFormAccount1') }}
                        </div>
                        <div class="intro-modal mb-3 line-3">{{ $t('TextHelpFormAccount2') }}</div>
                    </div>
                </div>
            </div>
        </div>
    </section>
</template>

<script>


export default {
    name: 'HelpFormAccount',
    methods:{
        onModalHelpDetail(){
            this.$emit('onShowModal', 8);
        },
        onModalLogin(){
            this.$router.push(this.localePath({ name: 'index', query: {redirect_modal: 'onFeedBackModal'}}))
        },
        onModalSignup(){
            this.$emit('onShowModal', 1);
        },
    }
}
</script>