<template>
  <div class="group-scroll">
    <div class="group-rl mb-3">
      <a href="javascript:;" @click="onModalHelpList" class="read-more d-block mb-3">
        <span class="icon"><i class="fas fa-chevron-left"></i></span>
        <span class="text">{{ $t('btnReturn') }}</span>
      </a>
      <div class="text-head-modal mb-3 line-2"> {{ detailHelp.title }} </div>
      <div class="intro-modal mb-3">{{ detailHelp.content }}</div>
    </div>
  </div>
</template>

<script>
import { mapActions } from "vuex";

export default {
  name: 'HelpDetail',
  props:{
    value: {
      type: Number,
      default: 0
    },
  },
  data(){
    return {
      detailHelp:[],
    }
  },
  computed:{
    objHelpDetail(){
      return{
        id: this.value,
      }
    },
  },
  methods:{
    ...mapActions({
      getHelpDetail: "help/getHelpDetail",
    }),
    onModalHelpList(){
      this.$emit('input', 0);
    },
    HelpDetail(){
      this.getHelpDetail(this.objHelpDetail)
      .then((res) => {
        this.detailHelp = res.data;
      })
    }
  },
  mounted(){
    this.HelpDetail();
  }
}
</script>
