<template>
  <div>
    <div class="rule-grey mt-0 mb-0"></div>
    <div class="body-modal-general">
      <div class="modal-body modal-body-a13">
        <div class="hd-search header-search" style="transition: all .8s;" :style="loading ? 'height: 200px' : 'height: calc(100vh - 180px)'">
          <div class="text-head-modal mb-3">{{ $t('SearchByKeyword')}}</div>
          <div v-if="idDetail">
            <HelpDetail v-model="idDetail"/>
          </div>
          <div v-else>
            <div class="freelance-support">
              <div class="search-support">
                <button class="btn-search">
                  <img src="~/assets/images/icon/Path-209.png" alt />
                </button>
                <input type="text" v-model="objSearchHelp.keywords" :placeholder="$t('ExampleBid')" @keyup="onSearchHelp" class="input w-100" />
              </div>
            </div>
            <div v-show="loading" >
              <div v-loading="loading" class="mt-5"></div>
            </div>
            <div v-show="!loading" class="group-scroll" v-for="(i, key) in listHelp" :key="key">
              <div class="group-rl mb-3">
                <div class="text-head-modal mb-3 line-2">{{ i.title }}</div>
                <div class="intro-modal mb-3 line-3">
                  {{ i.content }}
                </div>
                <a href="javascript:;" @click="onModalHelpDetail(i.id)" class="read-more d-block mb-3">
                  <span class="text">{{ $t('btnReadMore')}}</span>
                  <span class="icon">
                  <i class="fas fa-chevron-right"></i>
                </span>
                </a>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>

    <div class="footer-modal-general modal-body">
      <div class="group-rl" >
        <div class="link-social text-center">
          <button v-if="idDetail" type="button" @click="onModalHelpFeedbackDetail" class="register social">
            <span class="text-link">{{ $t('SendFeedback') }}</span>
          </button>
          <button v-else type="button" @click="onModalHelpFeedback" class="register social mb-0">
            <span class="text-link">{{ $t('SendFeedback') }}</span>
          </button>
        </div>
      </div>
    </div>
  </div>
</template>

<script>
import {mapActions} from "vuex";
import eventBus from '~/services/bus';

export default {
  name: 'ListHelp',
  components: {
    HelpDetail: () => import("~/components/popup/HelpDetail"),
  },
  data(){
    return{
      objListHelp: {
        pageIndex: 1,
        pageSize:5,
      },
      listHelp: null,
      objSearchHelp:{
        keywords: '',
        pageIndex: 1,
        pageSize:5,
      },
      isShowModalIndex: 0,
      loading: true,
      idDetail: 0
    }
  },
  computed:{
    loggedIn() {
      return this.$store.getters.loggedIn
    },
  },
  methods:{
    ...mapActions({
      getShowHelp: "help/searchListHelp",
    }),
    getListHelp(){
      this.getShowHelp(this.objListHelp)
        .then((res) => {
          this.listHelp = res.data;
        })
        .finally(() => {
          this.loading = false
        })
    },
    onSearchHelp(){
      this.getShowHelp(this.objSearchHelp)
        .then((res) => {
          this.listHelp = res.data;
        })
    },
    onModalHelpDetail(id) {
      this.idDetail = id
    },
    onModalHelpFeedbackDetail(){
      !this.loggedIn
        ? this.$emit('onShowModal', 9)
        : this.$emit('onShowModal', 10);
    },
    onModalHelpFeedback(){
      !this.loggedIn
        ? this.$router.push(this.localePath({ name: 'index', query: {redirect_modal: 'onFeedBackModal'}}))
        : this.$emit('onShowModal', 10);
    },
  },
  created(){
    if(this.objSearchHelp.keywords){
      return this.getShowHelp(this.objSearchHelp)
      .then((res) => {
        return this.listHelp = res.data;
      })
    }
  },
  mounted() {
    this.getListHelp();
  }
};
</script>
<style scoped>
</style>

