<template>
    <div>
        <div class="modal-body wp-modal-body pt-0">
            <form class="form">
                <div class="title">{{ $t('webLoginTitle') }}</div>
                <div class="link-social text-center">
                    <a class="facebook social" :href="getAuthLink('facebook')">
                        <span class="icon">
                          <i class="fab fa-facebook-f"></i>
                        </span>
                        <span class="text-link">{{ $t('webLoginFacebook') }}</span>
                    </a>
                </div>
                <div class="link-social text-center">
                    <a class="linkedIn social" :href="getAuthLink('linkedin')">
                        <span class="icon">
                          <i class="fab fa-invision"></i>
                        </span>
                        <span class="text-link">{{ $t('webLoginLinkedIn') }}</span>
                    </a>
                </div>
                <div class="form-group group-or text-center">
                    <div class="rule-or"></div>
                    <div class="text-or">{{ $t('Or') }}</div>
                </div>
                <el-form :model="objData" :rules="rules" ref="objData" class="mb__login">
                    <el-form-item prop="email">
                      <el-input type="email"
                        v-model="objData.email"
                        :placeholder="$t('EmailAddress')"
                        @focus="clearValidate"></el-input>
                    </el-form-item>
                    <el-form-item prop="password">
                      <el-input type="password"
                        v-model="objData.password"
                        :placeholder="$t('password')"
                        @focus="clearValidate"></el-input>
                    </el-form-item>

                    <div class="form-check">
                      <label class="form-check-label" for="login-remember">
                        <input type="checkbox" class="form-check-input" id="login-remember" v-model="objData.remember">
                        {{ $t('SaveLoginStatus') }}
                        <i class="input-helper"></i></label>
                    </div>
                    <div class="form-group link-social text-center mb-3">
                        <button class="register social button-a-13-2" v-loading="loading" :disabled="loading" @click.prevent="login">
                            <span class="text-link">{{ $t('btnLogin') }}</span>
                        </button>
                    </div>
                </el-form>
                <div class="form-group text-center">
                    <button
                        type="button"
                        class="text-link"
                        style="color: #2C96EC"
                        @click="$emit('onShowModal', 5)">
                        <span class="text-link">{{ $t('forgetYourPassword') }}</span>
                    </button>
                </div>
            </form>
        </div>
        <div class="modal-footer custom text-center p-3">
            <div class="texts">{{ $t('doYouHaveAccount') }}</div>
            <button type="button" class="btn-ft" @click="$emit('onShowModal', 1)">{{ $t('registration') }}</button>
        </div>
    </div>
</template>

<script>
    import _ from 'lodash';
    import {mapGetters, mapActions, mapState} from "vuex";
    import evenBus from '~/services/bus';

    export default {
        data() {
            return {
                objData: {
                    email: "",
                    password: "",
                    remember: true,
                    location: ''
                },
                rules: {
                    email: [
                        {
                          required: true,
                          message: this.$t('pleaseInputEmail'),
                          trigger: "blur"
                        },
                        {
                          type: "email",
                          message: this.$t('emailInvalid'),
                          trigger: "blur",
                        }
                    ],
                    password: [
                        {
                          required: true,
                          message: this.$t('pleaseInputPassword'),
                          trigger: "blur"
                        }
                    ]
                },
                loading: false
            };
        },
        computed: {
            redirect() {
                return "redirect_uri=" + this.$route.path;
            }
        },
        methods: {
            getAuthLink(provider) {
                return '/app/auth/'+provider +'?redirect_uri='+this.$route.path + '&X-Requested-Env=web&Currency-Code=' +this.$store.getters.getCurrency + '&Language-Code=' + this.$store.getters.getLocale;
            },
            clearValidate() {
              return this.$refs.objData.clearValidate();
            },
            login() {
                this.$refs["objData"].validate(valid => {
                    if (!valid) return;
                    this.loading = true;
                    this.$store
                        .dispatch("login", this.objData)
                        .then((response) => {
                            localStorage.clear();
                            this.$emit("closeModal", 0);
                            localStorage.setItem("memberType", true);
                            localStorage.setItem("location", this.location);
                            this.$store.dispatch('setDefaultCompany', response.user)
                              .then(() => {
                                this.loading = false;
                                this.checkRedirect();
                              });
                        })
                        .catch(err => {
                            this.loading = false;
                            //console.log(err);
                            if (err.message === "EmailOrPasswordNotCorrect") {
                                this.showNotification( this.$t('Error'), this.$t(err.message), 'error' );
                            }else{
                                this.showNotification( this.$t('Error'), err.message, 'error' );
                            }
                        });
                });
            },
            checkRedirect() {
                const query = this.$route.query;
                if (_.has(query, 'redirect_back')) {
                    window.location.href = query.redirect_back;
                    return;
                }
                if (_.has(query, 'redirect_modal')) {
                    evenBus.$emit(`${query.redirect_modal}`);
                    return;
                }
                if (_.has(query, 'redirect_back_signup')) {
                    window.location.href = query.redirect_back_signup;
                    return;
                }
                if (_.has(query, 'redirect_modal_signup')) {
                    evenBus.$emit(`${query.redirect_modal_signup}`);
                    return;
                }
              window.location.reload();
            }
        },
        mounted() {
            this.$store.dispatch('getLocation').then(response => {
                this.location = response.language_code
            });
        },
        beforeDestroy() {
          this.$router.push(this.localePath({name: 'index'}));
        }
    };
</script>
