<template>
    <section>
        <div class="rule-modal"></div>
        <div class="body-modal-general">
            <div class="modal-body modal-body-a13">
                <div class="hd-search header-search">
                    <div class="">
                        <div class="group-rl mb-3">
                            <a href="javascript:;" @click="onModalHelpList" class="read-more d-block mb-3" data-toggle="modal">
                                <span class="icon"><i class="fas fa-chevron-left"></i></span>
                                <span class="text">{{ $t('btnReturn') }}</span>
                            </a>
                        </div>
                        <div class="group-rl mb-3">
                            <div class="text-head-modal mb-3 line-2">{{ $t('GiveUsFeedback') }}</div>
                            <div class="intro-modal mb-3 ">
                                {{ $t('HelpInformationOne') }}
                            </div>
                            <div class="intro-modal mb-3 ">
                                {{ $t('HelpInformationTwo') }}
                            </div>
                        </div>
                        <div class="group-rl mb-4">
                            <div class="text-head-modal mb-3 line-2">{{ $t('PleaseChooseOne') }}</div>
                            <div class="btn-modal text-center mb-3">
                                <a href="javascript:;" @click="onModalFeedback" title="" class="btn-a " data-toggle="modal">{{ $t('Feedback') }}</a>
                            </div>
                            <div class="btn-modal text-center mb-3">
                                <a href="javascript:;" title="" class="btn-a active"
                                    data-toggle="modal">{{ $t('ReportBug') }}</a>
                            </div>
                        </div>
                    </div>

                    <div class="group-rl mb-3">
                        <form action="" method="" class="form">
                            <label for="" class="text-head-modal mb-3">{{ $t('PleaseFillDetails') }}</label>
                            <textarea name="" class="w-100 text-left mb-3 p-3" style="border-radius: 10px"
                                rows="5" v-model="objBug.content" :placeholder="$t('DescribeSituation')"></textarea>
                        </form>
                    </div>
                </div>
            </div>
        </div>
        <div class="footer-modal-general modal-body">
            <div class="group-rl mb-3">
                <div class="btn-modal text-center mb-3">
                    <el-button title="" class="btn-a active" @click="onAddReportBug" :loading="loading"
                        data-toggle="modal">{{ $t('SubmitFeedback') }}</el-button>
                </div>
            </div>
        </div>
    </section>
</template>

<script>
import {mapState, mapActions} from "vuex";

export default {
    name:'Report',
    data(){
        return {
            objBug:{
                bug_option_id: 2,
                content: '',
            },
            loading:false,
            timeout: null,
        }
    },
    methods:{
        ...mapActions({
            addBug: "bug/addBug",
        }),
        onModalHelpList(){
            this.$emit('onShowModal', 4);
        },
        onModalFeedback(){
            this.$emit('onShowModal', 10);
        },
        onAddReportBug(){
            this.loading = true
            this.addBug(this.objBug)
            .then((res) => {
                if (res.success) {
                    this.$success(res.message);
                } else {
                    this.$error( res.message);
                }
            })
            .catch(error => {
                this.showNotification(this.$t('warning'), error.message, 'warning')
            })
            this.timeout = setTimeout(() => {
                this.loading = false;
                this.objBug.content = '';
            }, 3000)
        },
    },
}
</script>


<style lang="scss">
    .el-button{
        width : 100%;
        border: 0;
    }
</style>