<template>
  <div class="modal-sp-small modal-spotech wp-modal">
    <div class="modal-body wp-modal-body">
      <el-form class="form" :model="objData" :rules="rules" ref="resetpass">
          <div class="title text-left">{{$t('ResetPassword')}}</div>
          <div class="description text-left">{{$t('RegExpResetPassword')}}</div>
          <div class="form-group">
            <el-form-item :label="$t('NewPassword')" prop="password">
              <el-input type="password" 
              v-model="objData.password" 
              @focus="clearValidate('password')" 
              name="new-pass" class="w-100" 
              :placeholder="$t('pleaseNewPassword')">
              </el-input>
            </el-form-item>
          </div>
          <div class="form-group">
            <el-form-item :label="$t('CofirmNewPassword')" prop="confirm_password">
              <el-input type="password"
                v-model="objData.confirm_password" 
                @focus="clearValidate('confirm_password')" 
                name="re-pass" class="w-100 inp" 
                :placeholder="$t('pleaseCofirmNewPassword')">
              </el-input>
            </el-form-item>
          </div>
        <div class="form-group link-social text-center mb-3">
          <el-button type="button" class="register  social" @click="changePass" data-toggle="modal" data-target="">
            <span class="text-link">{{$t('Send')}}</span>
          </el-button>
        </div>
        <div class="form-group">
          <label for="">{{$t('resetpassText1')}} 
            <nuxt-link class="links" style="white-space: nowrap;" target="_blank" :to="localePath({name: 'policy-terms_of_service' })">
              {{ $t("TermsOfService") }}
            </nuxt-link>  
            {{ $t('and') }}
            <nuxt-link class="links" style="white-space: nowrap;" target="_blank" :to="localePath({name: 'policy-privacy_policy' })">
              {{ $t("PrivacyPolicy") }}
            </nuxt-link>
              {{$t('resetpassText2')}}
          </label>
        </div>
      </el-form>
    </div>
  </div>
</template>

<script>
  import {mapActions} from 'vuex'
  export default {
    data() {
      return {
        objData: {
          email: '',
          password: '',
          confirm_password: '',
          token: '',
        },
        errorMessage: '',
        loading: false,
        rules: {
          password: [
            {
              required: true,message: this.$t('pleaseReqquirePass'),trigger: "blur"},
            {
              min: 8,
              message: this.$t('pleaseRegExPass'), 
              trigger: 'blur' 
            }
          ],
          confirm_password: [
            {required: true,message: this.$t('pleaseComfirmRequirePass'),trigger: "blur"},
          ],
        },
      }
    },
    methods: {
      ...mapActions(['verifyTokenResetPassword', 'changePassword']),
      clearValidate(type) {
        return this.$refs.resetpass.clearValidate(type);
      },
      verify() {
        this.loading = true;
        this.verifyTokenResetPassword(this.objData)
          .then(res => {
            this.objData.email = res.data.email;
          })
          .catch(err => {
            this.$router.push( this.localePath({ name: 'index'}));
          })
          .finally(() => {
            this.loading = false;
          })
      },
      async changePass($e) {
        $e.preventDefault();
        const validation = await this.$refs.resetpass.validate();
        if (validation) {
          if (this.objData.password != this.objData.confirm_password) {
            this.showNotification(this.$t('warning'), this.$t('ConfirmPasswordNotPassword'), 'warning');
          }
          this.changePassword(this.objData)
            .then(res => {
              this.showNotification(this.$t('Success'), this.$t('ChangePasswordSuccess'), 'success');
              this.$router.push( this.localePath({ name: 'index'}));
            })
            .catch(err => {
              this.errorMessage = err.message;
            })
        }
      }
    },
    mounted() {
      this.objData.token = this.$route.query.token ? this.$route.query.token : '';
      this.verify();
    }
  }
</script>     

<style>
  .modal-spotech .modal-body .link-social .register{
    line-height: 0px;
  }
  .form .form-group .el-input__inner{
    height: 48px !important;
    border-radius: 10px !important;
  }
</style>



