<template>
  <div class="wrapper-signup">
    <el-form :model="item" :rules="rules" ref="item">
      <div class="title text-center" v-show="item.provider == 'local'"
           v-html="$t('registerHeaderSocialSignup', {facebook: getAuthLink('facebook'), linkedin: getAuthLink('linkedin')} )"></div>
      <div class="title text-center" v-show="item.provider != 'local'"><b>{{ $t('enterAllInformation') }}</b></div>
      <div class="title text-center" v-show="item.provider != 'local'">{{
        $t('checkMissingInformationToCompleteRegistration') }}
      </div>
      <div class="form-group group-or text-center">
        <div class="rule-or"></div>
        <div class="text-or">{{ $t('Or') }}</div>
      </div>
      <el-form-item prop="email">
        <el-input type="email" v-model="item.email" :placeholder="$t('EmailAddress')" @input="onPropertiesChange"/>
      </el-form-item>
      <el-form-item prop="first_name">
        <el-input type="text" v-model="item.first_name" :placeholder="$t('first_name')" @input="onPropertiesChange"/>
      </el-form-item>
      <el-form-item prop="last_name">
        <el-input type="text" v-model="item.last_name" :placeholder="$t('last_name')" @input="onPropertiesChange"/>
      </el-form-item>
      <!--<el-form-item prop="gender">
          <el-select :placeholder="$t('Gender')" v-model="item.gender">
              <el-option v-for="(v, k) in genders" :key="v+k" :label="v" :value="k" @change="onPropertiesChange">{{ $t(v) }}</el-option>
          </el-select>
      </el-form-item>
      -->
      <el-form-item prop="password" v-if="item.provider == 'local'">
        <el-input type="password" v-model="item.password" :placeholder="$t('createPassword')"
                  @input="onPropertiesChange"/>
      </el-form-item>
      <div class="form-group">
        <label class="title">{{ $t('birthday') }}</label>
      </div>
      <div class="form-group">
        <div class="row">
          <div class="col-md-4 col-12 mb-md-0 mb-3">
            <el-form-item prop="birthday_day">
              <el-select :placeholder="$t('day')" v-model="item.birthday_day" @change="onPropertiesChange">
                <el-option v-for="(day,d) in days" :key="`day-${d}`" :value="day">{{ day }}</el-option>
              </el-select>
            </el-form-item>
          </div>
          <div class="col-md-4 col-12 mb-md-0 mb-3">
            <el-form-item prop="birthday_month">
              <el-select :placeholder="$t('month')" v-model="item.birthday_month" @change="onPropertiesChange">
                <el-option v-for="(month,m) in months" :key="`month-${m}`" :value="month">{{ month }}</el-option>
              </el-select>
            </el-form-item>
          </div>
          <div class="col-md-4 col-12 mb-md-0 mb-3">
            <el-form-item prop="birthday_year">
              <el-select :placeholder="$t('year')" v-model="item.birthday_year" @change="onPropertiesChange">
                <el-option v-for="(year,y) in years" :key="`year-${y}`" :value="year">{{ year }}
                </el-option>
              </el-select>
            </el-form-item>
          </div>
          <div class="col-12 mb-md-0 mb-3 color--red" v-show="!invalidBirthDay">{{ $t('InvalidDate') }}</div>
        </div>
      </div>
      <div class="form-group text-center" v-show="item.provider != 'local'">{{ $t('sourceFrom', { source: item.provider
        == 'facebook' ? 'Facebook' : 'LinkedIn'}) }}
      </div>
      <div class="form-group">
        <label class="condition">{{$t('recommendationsAndPolicy')}}</label>
      </div>
      <div class="form-group">
        <div class="link-social text-center">
          <a href="javascript:;" :disabled="!isChangeProperties" class="register social" v-loading="loading"
             @click="onRegister">
            <span class="text-link">{{ $t('completeRegistration') }}</span>
          </a>
        </div>
      </div>
      <el-form-item prop="is_accept" class="is-agreement">
        <el-checkbox name="is_accept" v-model="item.is_accept">
          <slot>
            <div v-html="$t('agreeRegistrationContract', {href1: localePath({name: 'policy-terms_of_service' }), href2: localePath({name: 'policy-privacy_policy' })})"></div>
          </slot>
        </el-checkbox>
      </el-form-item>
      <div class="modal-footer custom text-center p-3">
        <div class="texts">{{ $t('doYouHaveAccount') }}</div>
        <button type="button" class="btn-ft" @click="$emit('onShowModal', 3)">{{ $t('webLoginTitle') }}</button>
      </div>
    </el-form>
  </div>
</template>
<script>
  import {mapState} from "vuex";
  import config from '~/config'

  // const VALIDATE_JAPAN_CHARACTER = /[一-龠]+|[ぁ-ゔ]+|[ァ-ヴー]+|[a-zA-Z]+|[ａ-ｚＡ-Ｚ]+[々〆〤]+/u
  const VALIDATE_JAPAN_CHARACTER = /[0-9]|\`|\~|\!|\@|\#|\$|\%|\^|\&|\*|\(|\)|\+|\=|\[|\{|\]|\}|\||\\|\'|\<|\,|\.|\>|\?|\/|\""|\;|\:/g

  let accept = (rule, value, callback) => {
    if (!value) callback(new Error('PleaseAccept'));
    callback();
  }
  let regexJapanCharacter = (rule, value, callback) => {
    if (VALIDATE_JAPAN_CHARACTER.test(value)) callback(new Error('TheNameIsIncorrect'));
    callback();
  }
  export default {
    data() {
      return {
        item: {
          is_accept: false,
          birthday: '',
          birthday_month: '',
          birthday_year: '',
          birthday_day: '',
          email: '',
          password: '',
          first_name: '',
          last_name: '',
          gender: '',
          provider: 'local',
          type: 'local',
          token: '',
          sid: '',
          redirect_uri: this.$route.path,
        },
        genders: ['Female', 'Male'],
        loading: false,
        isChangeProperties: false
      }
    },
    computed: {
      ...mapState({
        register: state => state.register,
        referCode: state => state.referCode,
      }),
      currentYear() {
        return (new Date()).getFullYear() - config.min_year_registration;
      },
      months() {
        return Array(12).fill().map((v, i) => i + 1);
      },
      days() {
        return Array(31).fill().map((v, i) => i + 1);
      },
      years() {
        let min = config.max_year_registration;
        let year = this.currentYear - min;
        return _.reverse(Array(min).fill().map((v, i) => (year + i)));
      },
      invalidBirthDay() {
        if (this.item.birthday_day && this.item.birthday_month && this.item.birthday_year) {
          var dateFormat = "YYYY-M-D";
          let birth = [this.item.birthday_year, this.item.birthday_month, this.item.birthday_day].join('-');
          return this.$moment(birth, dateFormat, true).isValid();
        }
        return true;
      },
      rules() {
        let r = {
          email: [
            {required: true, message: this.$t('pleaseInputEmail'), trigger: 'blur'},
            {type: 'email', message: this.$t('emailInvalid'), trigger: ['blur', 'change']}
          ],
          first_name: [
            {required: true, message: this.$t('pleaseInputFirstName'), trigger: 'blur'},
            {validator: regexJapanCharacter, trigger: ['blur', 'change']}
          ],
          last_name: [
            {required: true, message: this.$t('pleaseInputLastName'), trigger: 'blur'},
            {validator: regexJapanCharacter, trigger: ['blur', 'change']}
          ],
          /*gender: [
              {required: true, message: this.$t('pleaseSelectGender'), trigger: 'change'},
          ],
          password: [
              {required: true, message: this.$t('pleaseInputPassword'), trigger: 'blur'},
          ],*/
          birthday_day: [
            {required: true, message: this.$t('pleaseSelectBirthDay'), trigger: 'change'},
          ],
          birthday_month: [
            {required: true, message: this.$t('pleaseSelectBirthMonth'), trigger: 'change'},
          ],
          birthday_year: [
            {required: true, message: this.$t('pleaseSelectBirthYear'), trigger: 'change'},
          ],
          is_accept: [
            {validator: accept, message: this.$t('PleaseAccept')},
          ]
        }
        if (this.provider == 'local') {
          r.password = [
            {required: true, message: this.$t('pleaseInputPassword'), trigger: 'blur'}
          ];
        }
        return r;
      }
    },
    beforeDestroy() {
      this.$store.commit('UNSET_REGISTER');
    },
    methods: {
      onPropertiesChange() {
        this.isChangeProperties = true;
      },
      getAuthLink(provider) {
        return "/app/auth/" + provider + "?redirect_uri=" + this.$route.path;
      },
      onMergeInfo() {
        if (this.register && this.register.authUser) {
          this.item.token = this.register.access_token;
          let u = this.register.authUser;
          let provider = u.provider;
          this.item.provider = provider;
          this.item.type = provider;
          this.item.first_name = u.name && u.name.givenName ? u.name.givenName : ''
          this.item.last_name = u.name && u.name.familyName ? u.name.familyName : ''
          this.item.email = u.emails && u.emails[0] ? u.emails[0].value : ''
          this.item.sid = u.id
          this.item.avatar = u.photos && u.photos[0] ? u.photos[0].value : ''
        }
      },
      async onRegister() {
        const valid = await this.$refs['item'].validate()
        if (!valid) return;
        if (this.loading || !this.isChangeProperties) {
          return;
        }
        if (!this.invalidBirthDay) {
          return;
        }
        this.isChangeProperties = false;
        this.item.birthday = [this.item.birthday_day < 10 ? ('0' + this.item.birthday_day) : this.item.birthday_day, this.item.birthday_month < 10 ? ('0' + this.item.birthday_month) : this.item.birthday_month, this.item.birthday_year].join('-');
        try {
          const age = this.$moment().diff(this.item.birthday, 'years');
          if (age < (config.min_year_registration + 1)) {
            this.showNotification(this.$t('Error'), this.$t('yearOldLargeThan', {num: config.min_year_registration + 1}), 'error');
            return;
          }
        } catch (e) {
        }
        this.loading = true;
        this.item.refer_code = this.referCode;
        if (this.item.provider == 'local') {
          let item = {...this.item};
          item.type = 'local';
          item.is_accept = item.is_accept ? 1 : 0;
          try {
            const response = await this.$store.dispatch('register', item);
            this.loading = false;
            this.$emit('closeModal', 0);
            const res = await this.$store.dispatch('setReferCode', '');
            this.checkRedirect()
            //this.showNotification('', this.$t('RegisterAccountSuccess'), 'success');
            // window.location.reload();
          } catch(error) {
            this.loading = false;
            this.showNotification(this.$t('Error'), error.message, 'error');
          }
        } else {
          let item = this.item;
          item.type = item.provider;
          try {
            const response = await this.$store.dispatch('loginSocial', item);
            this.loading = false;
            this.$emit('closeModal', 0);
            const res = await this.$store.dispatch('setReferCode', '');
            //this.showNotification('', this.$t('RegisterAccountSuccess'), 'success');
            window.location.reload();
          } catch(error) {
            this.loading = false;
            this.showNotification(this.$t('Error'), error.message, 'error');
          }
        }
      },
      checkRedirect() {
        const query = this.$route.query;
        if (_.has(query, 'redirect_back_signup')) {
          window.location.href = query.redirect_back_signup;
          return;
        }
        if (_.has(query, 'redirect_modal_signup')) {
          evenBus.$emit(`${query.redirect_modal_signup}`);
          return;
        }
        window.location.reload();
      }
    },
    mounted() {
      this.onMergeInfo();
    },
    beforeDestroy() {
      this.$router.push(this.localePath({name: 'index'}));
    }
  }

</script>
<style>

  .is-agreement .el-checkbox__input.is-checked .el-checkbox__label {
    color: inherit !important;
  }

  .is-agreement .el-form-item__error {
    left: 25px !important;
  }

  .color--red {
    color: red;
  }
</style>
