<template>
    <div>
        <div class="modal-body modal-body-a13 pt-0">
            <div class="title">{{ $t('registerTitle') }}</div>
            <div class="form-group link-social text-center">
                <a class="facebook social" :href="getAuthLink('facebook')">
                    <span class="icon"><i class="fab fa-facebook-f"></i></span>
                    <span class="text-link">facebook</span>
                </a>
            </div>
            <div class=" form-group link-social text-center">
                <a class="linkedIn social" :href="getAuthLink('linkedin')">
                    <span class="icon"><i class="fab fa-invision"></i></span>
                    <span class="text-link">linkedin</span>
                </a>
            </div>
            <div class="form-group group-or text-center">
                <div class="rule-or"></div>
                <div class="text-or">{{ $t('Or') }}</div>
            </div>
            <div class="form-group link-social text-center">
                <button type="button" class="register social" @click="onSignup">
                    <span class="text-link">{{ $t('email') }}</span>
                </button>
            </div>
        </div>

        <div class="modal-footer custom text-center p-3">
            <div class="texts">{{ $t('doYouHaveAccount') }}</div>
            <button type="button" class="btn-ft" @click="onLogin">{{$t('webLoginTitle')}}</button>
        </div>
    </div>
  </div>
</template>
<script>
    export default {
        methods: {
            onSignup() {
                this.$emit('onShowModal', 2);
            },
            onLogin() {
                this.$emit('onShowModal', 3);
            },
            getAuthLink(provider) {
                return '/app/auth/'+provider +'?redirect_uri='+this.$route.path + '&X-Requested-Env=web&Currency-Code=' +this.$store.getters.getCurrency + '&Language-Code=' + this.$store.getters.getLocale + '&is_register=true';
            },
        }
    }
</script>
