<template>
  <section>
    <el-form :model="obj" class="form-search-banner" :rules="rules" ref="reg">
      <el-form-item prop="email">
        <el-input v-model="obj.email"
          @focus="clearValidate('email')"
          type="email"
          class="input-search"
          id="email"
          :placeholder="$t('EmailAddress')"></el-input>
      </el-form-item>
      <el-button class="btn-search" :disabled="disabled" @click="onSend">
        <span>{{$t("web_guide_business_banner_action")}}</span>
      </el-button>
    </el-form>
  </section>
</template>

<script>
  import {mapActions} from "vuex";
  import eventBus from "~/services/bus";
  export default {
    name: 'RegistrationEmailGuideBussines',
    data() {
      return {
        obj:{
          full_name: 'Subscribe email company from page guide business',
          company_name: 'Subscribe email company from page guide business',
          email: '',
          content: 'Subscribe email company from page guide business'
        },
        disabled:false,
        atimeout: null,
        rules: {
          email: [
            {
              required: true,
              message: this.$t('pleaseInputEmail'),
              trigger: "blur"
            },
            {
              type: 'email',
              message: this.$t('emailInvalid'),
              trigger: 'blur'
            }
          ],
        },
      }
    },
    computed:{
      loggedIn() {
        return this.$store.getters.loggedIn
      },
    },
    methods: {
      ...mapActions({
        addContact: 'contact/addContact',
      }),
      clearValidate(type) {
        return this.$refs.reg.clearValidate(type);
      },
      setObj(){
        this.obj.email = this.$route.query.email;
        if (this.obj.email) {
          this.onSend();
        }
      },
      async onSend(){
        const validation = await this.$refs.reg.validate();
        const queryString = this.assignQueryNotNull(this.obj);
        const guidePath = this.localePath({name: 'guide-business', query: queryString});
        if (validation) {
          if (!this.loggedIn) {
            this.$router.push(this.localePath({name: 'index', query: { redirect_back: guidePath }}));
            return;
          }else{
            this.disabled = true;
            this.addContact(this.obj)
              .then(res => {
                if (res.success) {
                  this.showNotification(this.$t('Success'), res.message, 'success');
                }
              })
              .catch(err => {
                this.showNotification(this.$t('Error'), err.message, 'error')
              });
            this.timeout = setTimeout(() => {
                this.disabled = false;
                this.obj.email = '';
                window.location.href =  window.location.href.split("?")[0]
            }, 3000)
          }
        }
      },
    },
       mounted(){
      this.setObj();
    }
  }
</script>

<style>
  .form-search-banner .el-input__inner
  {
    background: transparent  !important;
    height: 58px  !important;
    border-radius: 10px 0 0 10px  !important;
    color: #000  !important;
    border: 0  !important;
  }
  .form-search-banner .el-form-item {
    width: 100%  !important;
  }
  .form-search-banner .search-banner .form-search-banner .input-search{
    padding: 0  !important;
  }
  .form-search-banner .el-form-item__error{
    color: red  !important;
  }
</style>
