<template>
  <section class="survey-ai-bussiness-bot">
    <div class="group-form h-100">
      <el-form :model="obj" class="form" :rules="rules" ref="survey">
        <div class="form-group">
          <label for="label" class="lb-title">{{$t("web_guide_business_form_title")}}</label>
        </div>
        <el-form-item prop="email">
          <el-input v-model="obj.email" @focus="clearValidate('email')" type="email" class="text-white" id="email" placeholder="E-mail" ></el-input>
        </el-form-item>
        <el-form-item prop="company">
          <el-input v-model="obj.company" @focus="clearValidate('company')" type="text" class="text-white" id="company" :placeholder="$t('web_guide_business_form_placeholder_company')"></el-input>
        </el-form-item>
        <el-form-item prop="name">
          <el-input v-model="obj.name" @focus="clearValidate('name')" type="text" class="text-white" id="name" :placeholder="$t('web_guide_business_form_placeholder_name')" ></el-input>
        </el-form-item>
        <el-form-item prop="content">
          <el-input v-model="obj.content" @focus="clearValidate('content')" type="textarea" name="content" id :autosize="{ minRows: 10, maxRows: 4}" :placeholder="$t('web_guide_business_form_placeholder_content')"></el-input>
        </el-form-item>
        <div class="form-group">
          <label for="service" class="service">
            {{$t('web_guide_business_service_subtext1')}}
            <nuxt-link class="links" style="color: #2C96EC" :to="localePath({name: 'policy-terms_of_service' })" target="_blank">
              {{ $t("TermsOfService") }}
            </nuxt-link> 
            {{$t('web_guide_business_and')}}
            <nuxt-link class="links" style="color: #2C96EC" :to="localePath({name: 'policy-privacy_policy' })" target="_blank">
              {{ $t("PrivacyPolicy") }}
            </nuxt-link>
            {{$t('web_guide_business_service_subtext2')}}
          </label>
        </div>
        <el-button :loading="loading" @click="onSend($event)" class="btn btn-default w-100 btn-submit">
          {{$t('web_guide_business_submit')}}
        </el-button>
      </el-form>
    </div>
  </section>
</template>

<script>
  const regexJapanCharacter = /[a-zA-Z]|[\u3400-\u9FBF]|[\u3000-\u303F]|[\u3040-\u309F]|[\u30A0-\u30FF]|[\uFF00-\uFFEF]|[\u4E00-\u9FAF]|[\u2605-\u2606]|[\u2190-\u2195]|\u203B/;

  import {mapActions} from "vuex";
  export default {
    name: 'SurveyGuideBussines',
    data() {
      return {
        obj: {
          name: '',
          email: '',
          company: '',
          content: '',
          answer: 0,
        },
        loading:false,
        timeout: null,
        rules: {
          email: [
            {
              required: true,
              message: this.$t('pleaseInputEmail'),
              trigger: "blur"
            },
            {
              type: 'email', 
              message: this.$t('emailInvalid'), 
              trigger: 'blur'
            }
          ],
          company: [
            {
              required: true,
              message: this.$t('pleaseInputCompany'),
              trigger: "blur"
            },     
            { 
              pattern: regexJapanCharacter,
              message: this.$t('pleaseInputLowercaseCompany'),
              trigger: 'blur' 
            }
          ],
          name: [
            {
              required: true,
              message: this.$t('pleaseInputNameSurvey'),
              trigger: "blur"
            },
            { 
              pattern: regexJapanCharacter,
              message: this.$t('pleaseInputLowercaseNameSurvey'),
              trigger: 'blur' 
            }
          ],
          content: [
            {
              required: true,
              message: this.$t('pleaseInputContentSurvey'),
              trigger: "blur"
            },
          ],
        },
        updateError: '',
      }
    },
    methods: {
      ...mapActions({
        addSurveyAi: "survey/addSurveyAi",
      }),
      setParamDefault() {
        this.obj.name = '';
        this.obj.email = '';
        this.obj.company = '';
        this.obj.content = '';
      },
      clearValidate(type) {
        return this.$refs.survey.clearValidate(type);
      },
      async onSend($e) {
        $e.preventDefault();
        const validation = await this.$refs.survey.validate();
        if (validation) {
          this.loading = true;
          this.addSurveyAi(this.obj)
          .then(res => {
            if (res.success) {
              this.setParamDefault();
              this.$notify({
                title: this.$t('Success'),
                message: res.message,
                type: 'success'
              });       
            }
          })
          .catch(err => {
            this.updateError = err.message;
            return;
          });
          this.timeout = setTimeout(() => {
            this.loading = false;
          }, 3000)
        }
      },
      onFocus() {
        this.updateError = '';
      },
    },
  }
</script>

<style>
  .survey-ai-bussiness-bot .el-input__inner, .el-textarea__inner
  {
    background: transparent !important;
    height: 50px !important;
    border-radius: 10px !important;
    color: #fff !important;
  }
</style>
