<template>
  <div class="wp-page">
    <AppModal></AppModal>
    <div class="sticky-top" style="background: #26325D;">
      <header class="panel-head-in-total">
        <div class="d-flex align-items-center">
          <SiteLogo></SiteLogo>
          <div class="title">
            <nuxt-link class="text-white" :to="localePath({ name :'project-client-id', params: { id: $route.params.id } })">
              <span class="icon">
                <i class="fas fa-chevron-left"></i>
              </span>
              <span class="texts">{{ $t('webBackToClientDetail') }}</span>
            </nuxt-link>
          </div>
        </div>
      </header>
      <div class="progress custom-progress">
        <div class="progress-bar custom-progress-bar" style="width:100%;"></div>
      </div>
    </div>
    <div class="group-order clearfix group_c133">
      <div class="container">
        <div class="row">
          <div class="col-lg-6 col-md-8 col-12 mb-md-0 mb-4">
            <div class="group-left_c133">
              <TicketForm :item="item" v-bind:type="3" @onSendTicket="onSendTicket" v-bind:loading="loading"></TicketForm>
            </div>
          </div>
          <div class="col-lg-4 col-md-4 col-12 mb-md-0 mb-4 offset-lg-2">
            <div class="group-right_c133">
              <div class="wp-product-hp wp-order mb-hp prd-2">
                <section class="panel-body-prd">
                  <CompanySummary v-if="item" :item="item" v-bind:companyId="companyId"></CompanySummary>
                </section>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</template>

<script>
import { mapActions, mapGetters } from 'vuex';
import { getCompanyProfile } from '~/services/member';
import eventBus from "~/services/bus";
export default {
  name: "ClientTicket",
  layout:'fullpage',
  components:{
    SiteLogo: () => import('~/components/share/Logo'),
    CompanySummary:() => import('~/components/client/share/Summary'),
    TicketForm:() => import('~/components/ticket/Form'),
    AppModal: () => import("~/components/share/AppModal"),
  },
  data() {
    return {
      item: null,
      id: 0,
      loading: false,
    }
  },
  created() {
    this.id = this.$route.params.id || null;
    
  },
  computed:{
    ...mapGetters({
      meId: 'getUserId',
      myCompany: 'getCompany'
    }),
    companyId() {
      return this.id;
    },
    myCompanyId() {
      return this.myCompany && this.myCompany.company_id ? this.myCompany.company_id : null
    }
  },
  mounted() {
    this.getDetail();
  },
  methods:{
    ...mapActions({
      getShowProject: 'project/post/getShowProject',
      getConversation: 'messenger/getConversation',
      sendMessage: 'messenger/sendMsg',
    }),
    async getDetail() {
      if( this.id > 0 ) {
        this.loading = true;
        let params = {
          object_id: this.id,
          type: 1,
          company_id: this.myCompanyId,
        };
        this.loading = true;
        const { data } = await getCompanyProfile( params );
        this.item = data;
        this.loading = false;
      }
    },
    onSendTicket(message) {
      let params = [{
        type: 2,
        id: this.companyId,
      }];
      if( this.myCompanyId ) {
          params.push({
          type: 2,
          id: this.myCompanyId,
        });
      }
      let me = this;
      this.loading = true;
      this.getConversation( params )
      .then( (response) => {
        let discussionId = response.data.id;
        message.discussionId = discussionId;
        this.sendMessage( message )
          .then( (response) => {
            setTimeout( () => {
              me.$router.push(this.localePath({ name: 'messenger', query: {discussionId: discussionId} }) );
            }, 500)
            
          })
          .catch( ( error ) => {
            this.showNotification(this.$t('webNotificationTitle'), error.message,'error')
          })
          .finally( () => {
            this.loading = false;
          });
      })
      .catch( (error) => {
        this.showNotification(this.$t('webNotificationTitle'), error.message,'error')
      } )
      .finally( () => {
        this.loading = false;
      });
    }
  }
}
</script>

<style scoped>
.group_c133{
  height: calc(100vh - 111px);
}
.img-thumb{
  z-index: 0;
}
.item-prd-vote .img-thumb::before{
  z-index: 0
}
</style>
