<template>
    <li>
        <div class="item">
            <div class="d-flex justify-content-between align-items-center group">
                <div class="group-person-follow d-flex">
                    <div class="img-thumb">
                        <nuxt-link v-if="item.object_name == 'client'" class="image d-block" :to="localePath({name: 'project-client-id', params: { id:item.company_id } })" >
                            <img :src="item.company_avatar" :alt="item.company_title" class="img-fluid">
                        </nuxt-link>
                        <nuxt-link v-else class="image d-block" :to="localePath({name: 'expert-p-id', params: { id:item.member_id } })" >
                            <img :src="item.member_avatar" :alt="item.members_sapo" class="img-fluid">
                        </nuxt-link>
                    </div>
                    <div class="info">
                        <h3 class="title" v-if="item.object_name == 'client'">
                            <nuxt-link class="text-link d-block" :to="localePath({name: 'project-client-id', params: { id:item.company_id } })" >
                                {{ item.company_title }}
                            </nuxt-link>
                        </h3>
                        <h3 class="title" v-else>
                            <nuxt-link class="text-link d-block" :to="localePath({name: 'expert-p-id', params: { id:item.member_id } })" >
                                {{ item.first_name }} {{ item.last_name }}
                            </nuxt-link>
                        </h3>
                        <div class="intro">{{ item.sapo }}</div>
                    </div>
                </div>
                <a v-if="followed" href="javascript:;" title="" class="btn-delete" @click="onUnfollow(item.object_id, item.object_name)">{{ $t("Unfollow") }}</a>
                <a v-else href="javascript:;" title="" class="btn-delete" @click="onUnfollow(item.object_id, item.object_name)">{{ $t("Follow") }}</a>
            </div>
        </div>
    </li>
</template>

<script>
import { mapActions } from 'vuex'
export default {
    props: ['item'],
    data() {
        return {
            followed: true,
            currentType: null,
        }
    },
    methods: {
        ...mapActions({
            unfollow: 'members/follow/followObject'
        }),
        onUnfollow(id, object_name) {
            let params = {
                object_id: id,
                object_name: object_name,
                company_id: _.has(this.currentType, 'company_id') ? this.currentType.company_id : 0
            }
            this.unfollow(params)
            .then((res) => {
                this.showNotification( this.$t('Success'),res.message,'success');
                this.followed = !this.followed
            })
            .catch(error =>{
                this.showNotification( this.$t('Error'), error.message, 'error');
            });
        },
    },
    mounted(){
        this.currentType = this.$store.getters.getCompany;
    }
}
</script>