<template>
    <li class="col-lg-4 col-sm-6 col-12 mb-lg-4 mb-3">
        <div class="item">
            <div class="img-thumb">
                <el-tooltip  class="item" effect="light" :content="item.name" placement="bottom">
                    <nuxt-link class="image" :to="localePath({name: 'wishlist-id', params: { id:item.id } })" >
                        <img v-if="item.image" :src="item.image" :alt="item.name" class="img-fluid img-cover">
                    </nuxt-link>
                </el-tooltip>
            </div>
            <div class="overlay"></div>
            <div class="info">
                <h3 class="title">
                    <el-tooltip  class="item" effect="light" :content="item.name" placement="bottom">
                        <nuxt-link  class="text-link line-1" :to="localePath({name: 'wishlist-id', params: { id:item.id } })" >
                            {{ item.name }}
                        </nuxt-link>
                    </el-tooltip>
                </h3>
                <div class="intro line-2">{{ item.count }}{{ $t('favorites') }}</div>
            </div>
        </div>
    </li>
</template>

<script>
export default {
    props: ['item'],
}
</script>
<style scoped>
    .img-thumb {
        background: #222;
        border-radius: 8px;
    }
</style>