<template>
  <div>
    <div class="item-prd item-prd-vote" v-if="item">
      <div class="slide-item-prd swiper-container-initialized swiper-container-horizontal">
        <div class="img-thumb">
          <a href="javascript:;" title class="image">
            <ElImageLazy :src="image" />
          </a>
          <a href="javascript:;" class="heart d-block" style="color: #ea6b6b;" data-toggle="modal">
            <i class="fas fa-heart"></i>
          </a>
        </div>
        <span class="swiper-notification" aria-live="assertive" aria-atomic="true"></span>
      </div>
      <div class="info">
        <div class="name-head">{{category}}</div>
        <div class="name-title" v-if="title">
          <el-tooltip
            class="item"
            effect="light"
            :content="title"
            placement="bottom"
          >
            <a
              href="javascript:;"
              class="title line-2"
              @click="click(item.type, item.object_wishlist.id)"
            >{{ title }}</a>
          </el-tooltip>
        </div>
        <div class="wp-salary">{{ price }}</div>
        <div class="wp-salary">{{ address }}</div>
        <div class="wp-time" v-if="duration">
          {{$t('SearchPeriod')}}：<span v-for="(i, key) in duration" :key="key">{{ i.title }}, </span>  
        </div>
        <div class="wp-rating d-flex" v-if="rate">
          <div class="meta-rate d-flex">
            <div class="number-rate">{{rate}}</div>
            <el-rate v-model="rate"
              :colors="['#77D353', '#77D353', '#77D353']"
              :disabled-void-color="'#d2d2d2'"
              disabled></el-rate>
          </div>
          <span class="meta-number">{{ number_rate }}</span>
        </div>
      </div>
    </div>
  </div>
</template>
<script>
import { mapGetters } from "vuex";
export default {
  props: ["item"],
  data() {
    return {
      rate: 3,
      number_rate: 30
    };
  },
  components: {
    ElImageLazy: () => import("~/components/share/ElImageLazy")
  },
  computed: {
    ...mapGetters({
      listNationsProject: "resource/nationClient5",
      listNationsClient: 'resource/nationResource',
      listCategories: "resource/categories5"
    }),
    price() {
      if (this.item.type === 1 )
        return `${this.$t("PriceProject")}： ${this.formatCurrency(this.item.object_wishlist.price_start)} ${
          this.item.object_wishlist.currency_code  } - ${
          this.formatCurrency(this.item.object_wishlist.price_end)} ${
          this.item.object_wishlist.currency_code} `;
      if (this.item.type === 3 )
        return `${this.$t("PriceProject")}： ${this.formatCurrency(this.item.object_wishlist.amount)} ${
          this.item.object_wishlist.currency_code}`;
    },
    category() {
      if (!this.item.object_wishlist.nation_id || !this.item.object_wishlist.category_id)  return '';
      if (this.item.type === 1)
        return `${this.filterNationProject(
          this.item.object_wishlist.nation_id)} - ${this.filterCategory(this.item.object_wishlist.category_id)}`;
      if (this.item.type === 3)
        return `${this.filterNationExpert(
          this.item.object_wishlist.nation_id)} - ${this.filterCategory(this.item.object_wishlist.category_id)}`;
      
    },
    image() {
      if (this.item.type === 1) return this.item.object_wishlist.image;
      if (this.item.type === 2) return this.item.object_wishlist.avatar;
      if (this.item.type === 3) return this.item.object_wishlist.avatar;
    },
    title() {
      if (this.item.type === 1 || this.item.type === 2) return this.item.object_wishlist.title;
      if (this.item.type === 3) return `${this.item.object_wishlist.first_name} ${
        this.item.object_wishlist.last_name}`;
    },
    duration() {
      if (!this.item.object_wishlist.durations)  return '';
      if (this.item.type === 1 || this.item.type === 3) return this.item.object_wishlist.durations;
    },
    address() {
      if (this.item.type === 2) return `${this.$t('address')}: ${this.item.object_wishlist.address1}, ${this.item.object_wishlist.address2}`;
    }
  },
  methods: {
    filterCategory(value) {
      let { title } = this.listCategories.find(i => i.id === value);
      return title;
    },
    formatCurrency(value) {
      return Math.round(value).toString().replace(/(\d)(?=(\d{3})+(?!\d))/g, '$1,')
    },
    filterNationProject(value) {
      let nationTitle = this.listNationsProject.find(i => i.id === value);
      if(!nationTitle) {
        let nationTitle = this.listNationsClient.find(i => i.id === value);
        return nationTitle.name;
      }else{
        return nationTitle.name;
      }
    },
    filterNationExpert(value) {
      let nationTitle = this.listNationsClient.find(i => i.id === value);
      if(!nationTitle) {
        let nationTitle = this.listNationsProject.find(i => i.id === value);
        return nationTitle.name;
      }else{
        return nationTitle.name;
      }
    },
    click(type, id) {
      let path = "blog-detail-id";
      if (type === 1) {
        path = "project-detail-id";
      } else if (type === 2) {
        path = "project-client-id";
      } else if (type === 3) {
        path = "expert-p-id";
      }
      this.$router.push(this.localePath({ name: path, params: { id: id } }));
    }
  },
  mounted() {
    this.item.type;
  }
};
</script>

<style scoped>
</style>
