<template>
  <div class="group-drop-menu--element">
    <div class="upper-header-fixed">
      <a href="javascript:;" @click="onClose" class="d-block color-black font-16">
        <i class="fas fa-times"></i>
      </a>
    </div>
    <div class="head-drop">
      <div class="title">
        {{ $t("Wishlist") }}
        <nuxt-link :to="localePath({name: 'wishlist'})" title="" class="d-block btn-view">
          {{ $t('webShowFavorites') }}
        </nuxt-link>
      </div>
    </div>
    <ul class="list-item" v-if="wishes">
      <li v-for="(w, i) in wishes" :key="`wish--${i}`">
        <div class="item clearfix d-flex justify-content-between align-items-center">
          <div class="info">
            <nuxt-link
              :to="localePath({'name': 'wishlist-id', params: {id: w.id}})"
              title
              class="title line-2 pb-0"
            >{{ w.name }}</nuxt-link>
            <div class="intro">{{ w.count }}{{ $t('Favorite') }}</div>
          </div>
          <div class="img-thumb">
            <nuxt-link :to="localePath({'name': 'wishlist-id', params: {id: w.id}})"
                       title=""
                       class="image">
              <img v-if="w.image" :src="w.image" :alt="w.name"/>
            </nuxt-link>
          </div>
        </div>
      </li>
    </ul>
    <ul v-else>
      <li style="min-height: 100px">
        <client-only>
          <Spin fix>
            <i class="el-icon-loading"></i>
            <div>{{ $t('loading') }}</div>
          </Spin>
        </client-only>
      </li>
    </ul>
    
  </div>
</template>

<script>
  import {getWishListFolder} from '~/services/wishList';

  export default {
    name: 'WishListDropdown',
    data() {
      return {
        wishes: null,
        obj: {
          order: 'DESC',
          sort: 'id',
          company_id: 0,
          pageSize: 4,
        }
      }
    },
    methods: {
      async getWishes() {
        const {data} = await getWishListFolder(this.obj);
        this.wishes = data;
      },
      onClose() {
        this.$emit('closeModal');
      }
    },
  };
</script>

<style scoped>
  .group-drop-menu .list-item > li:last-child {
    border-bottom: 1px solid #e5e5e5;
  }
  .btn-view {
    float: right;
  }
  .group-drop-menu .list-item > li .item .img-thumb .image {
    background: #222;
    border-radius: 5px;
  }
</style>
