<template>
  <header class="pc-header" :class="{'active': active}" id="pc-header">
    <div class="topbar-header" id="topbar">
      <div class="container-fluid">
        <div class="d-flex justify-content-between align-items-center">
          <div class="d-flex align-items-center">
            <h1 class="logo logo-head">
              <nuxt-link :to="localePath('index')" class="image">
                <img src="~/assets/images/icon/logo-spotech.png" alt />
              </nuxt-link>
            </h1>
            <FormSearch />
          </div>
          <div class="topbar-head-right">
            <div class="box-menu-header">
              <ul class="list d-flex justify-content-between align-items-center">
                <li>
                  <nuxt-link
                    :to="localePath({name: 'consultation'})"
                    title
                    class="text-link heading-4 text"
                  >consultation</nuxt-link>
                </li>
                <!--  If Login  -->
                <li v-if="loggedIn">
                  <a href="javascript:;" title class="text-link heading-4 text">お気に入り</a>
                  <div class="group-drop-menu">
                    <div class="head-drop">
                      <div class="title">お気に入り</div>
                    </div>

                    <ul class="list-item">
                      <li>
                        <div
                          class="item clearfix d-flex justify-content-between align-items-center"
                        >
                          <div class="info">
                            <a href="b-16.html" title class="title">SPOTECH</a>
                            <div class="intro">3件のお気に入り</div>
                          </div>
                          <div class="img-thumb">
                            <a href="b-16.html" class="image">
                              <img src="~assets/images/upload/like-1.png" alt />
                            </a>
                          </div>
                        </div>
                      </li>
                      <li>
                        <div
                          class="item clearfix d-flex justify-content-between align-items-center"
                        >
                          <div class="info">
                            <a href="javascript:;" title class="title">気になるエキスパート</a>
                            <div class="intro">5件のお気に入り</div>
                          </div>
                          <div class="img-thumb">
                            <a href="javascript:;" class="image">
                              <img src="~assets/images/upload/like-2.png" alt />
                            </a>
                          </div>
                        </div>
                      </li>
                      <li>
                        <div
                          class="item clearfix d-flex justify-content-between align-items-center"
                        >
                          <div class="info">
                            <a href="javascript:;" title class="title">気になるお仕事</a>
                            <div class="intro">3件のお気に入り</div>
                          </div>
                          <div class="img-thumb">
                            <a href="javascript:;" class="image">
                              <img src="~assets/images/upload/like-3.png" alt />
                            </a>
                          </div>
                        </div>
                      </li>
                    </ul>
                  </div>
                </li>
                <li v-if="loggedIn">
                  <a href="b-17.html" title class="text-link heading-4 text">進捗</a>
                </li>
                <li v-if="loggedIn">
                  <a href="javascript:;" title class="text-link heading-4 text">メッセージ</a>
                  <MessengerHeader />
                </li>
                <li v-if="loggedIn">
                  <a href="javascript:;" title class="text-link heading-4 text">通知</a>
                  <div class="group-drop-menu">
                    <NotificationHeader />
                  </div>
                </li>
                <li v-if="loggedIn">
                  <a href="javascript:;" title class="image-avarta">
                    <img src="~/assets/images/upload/a115-2.png" alt />
                  </a>
                  <div class="group-drop-menu drop-avarta">
                    <div class="upper-header-fixed">
                      <a href="/ja" class="d-block color-black font-16">
                        <i class="fas fa-times"></i>
                      </a>
                    </div>
                    <div class="list-event-avatar">
                      <div class="item">
                        <nuxt-link
                          :to="localePath({name: 'profile'})"
                          title
                          class="text-link"
                        >{{ $t('webNavProfile') }}</nuxt-link>
                      </div>
                      <div class="item">
                        <a href title class="text-link">{{ $t('webNavAccount') }}</a>
                      </div>
                      <div class="item">
                        <a href title class="text-link">{{ $t('webNavInviteExpert') }}</a>
                      </div>
                      <div class="item">
                        <a
                          href="javascript:;"
                          title
                          class="text-link"
                          @click="changeType"
                        >{{ $t('webNavInviteClient') }}</a>
                      </div>
                      <div class="item">
                        <a href title class="text-link">{{ $t('webNavEasyGuide') }}</a>
                      </div>
                      <div class="item">
                        <a href title class="text-link">{{ $t('webNavBusinessSupport') }}</a>
                      </div>
                      <div class="item">
                        <a href title class="text-link">{{ $t('webHelp') }}</a>
                      </div>
                      <div class="item">
                        <a href="javascript:;" @click="logout" title class="text-link">{{ $t('webLogout') }}</a>
                      </div>
                    </div>
                  </div>
                </li>
                <!--  End If Login  -->
                <!--  End If not Login  -->
                <li v-if="!loggedIn">
                  <nuxt-link
                    :to="localePath({name: 'guide-client'})"
                    title
                    class="text-link heading-4 text"
                  >guide</nuxt-link>
                </li>
                <li v-if="!loggedIn">
                  <a
                    href="javascript:;"
                    title
                    class="text-link heading-4 text"
                    @click="isShowModalIndex = 4"
                  >help</a>
                </li>
                <li v-if="!loggedIn">
                  <a
                    href="javascript:;"
                    title
                    class="text-link heading-4 text"
                    @click="isShowModalIndex = 1"
                  >signup</a>
                </li>
                <li v-if="!loggedIn">
                  <a
                    href="javascript:;"
                    title
                    class="text-link heading-4 text"
                    @click="isShowModalIndex = 3"
                  >login</a>
                </li>
                <!--  End If not Login  -->
              </ul>
            </div>
          </div>
          <div class="bar-toggle-menu-mobile ml-auto">
            <i class="fas fa-bars text-white" style=" font-size: 20px;" @click="active = !active"></i>
          </div>
        </div>
      </div>
    </div>

    <modal v-if="isShowModalIndex == 1" @close="onShowModal(0)">
      <div slot="body">
        <SignUp
          @onShowSignup="onShowModal(2)"
          @onShowModal="onShowModal"
          @closeModal="onShowModal(0)"
        />
      </div>
    </modal>

    <modal v-if="isShowModalIndex == 2" @close="onShowModal(0)">
      <div slot="body">
        <SignUpInfo @closeModal="onShowModal(0)" />
      </div>
    </modal>

    <modal v-if="isShowModalIndex == 3" @close="onShowModal(0)">
      <div slot="body">
        <Login @closeModal="onShowModal($event)" />
      </div>
    </modal>

    <div class="content-modal-genneral">
      <modal v-if="isShowModalIndex == 4" align="modal-dialog-right" @close="onShowModal(0)">
        <div slot="header">
          <div class="text-center text-head-modal w-100">{{ $t('RecommendedHelp')}}</div>
        </div>
        <div slot="body">
          <Help @closeModal="onShowModal(0)" />
        </div>
      </modal>
    </div>

    <modal v-if="isShowModalIndex == 5" @close="onShowModal(0)">
      <template slot="body">
        <ForGotPassword @closeModal="onShowModal($event)" />
      </template>
    </modal>
  </header>
</template>
<script>
//const queryString = require('query-string');
const cookieCleaner = () => {
  var cookies = document.cookie.split(";");
  for (var i = 0; i < cookies.length; i++) {
    var cookie = cookies[i];
    var eqPos = cookie.indexOf("=");
    var name = eqPos > -1 ? cookie.substr(0, eqPos) : cookie;
    name = name.trim();
    //console.log(name.trim());
    document.cookie = name + "=;" + "expires=Thu, 01-Jan-1970 00:00:01 GMT;";
  }
};
import { mapState } from "vuex";
import { mapGetters } from "vuex";
export default {
  data() {
    return {
      isShowModalIndex: 0,
      active: false
    };
  },
  components: {
    Login: () => import("../Login"),
    SignUp: () => import("../Signup"),
    SignUpInfo: () => import("../SignupInfo"),
    Help: () => import("../help"),
    ForGotPassword: () => import("../forgot-password"),
    FormSearch: () => import("../header/form-search"),
    MessengerHeader: () =>
      import("~/components/messenger/header/messenger/List"),
    NotificationHeader: () =>
      import("~/components/messenger/header/notification/List")
  },
  computed: {
    ...mapState({
      register: state => state.register
    }),
    ...mapGetters({
      memberType: "profile/memberType"
    }),
    loggedIn() {
      return this.$store.getters.loggedIn;
    }
  },
  created() {
    try {
      /*const parsed = queryString.parse(location.search);
            if( parsed.is_register) {
                this.isShowModalIndex = 3;
            }*/
      if (
        !this.loggedIn &&
        this.register != null &&
        this.register.access_token != null
      ) {
        this.isShowModalIndex = 2;
      }
    } catch (e) {}
  },
  methods: {
    onShowModal(index) {
      this.isShowModalIndex = index;
    },
    changeType() {
      if (JSON.parse(localStorage.getItem("memberType")) == true) {
        this.$confirm(
          "This will permanently delete the file. Continue?",
          "Warning",
          {
            confirmButtonText: "OK",
            cancelButtonText: "Cancel",
            type: "warning"
          }
        )
          .then(() => {
            localStorage.setItem("memberType", false);
            this.$router.push("/post");
          })
          .catch(() => {});
      } else {
        this.$router.push("/post");
      }
  },
  logout() {
    try {
      localStorage.clear();
      cookieCleaner();
    } catch (e) {
      //console.log(e);
    }
    window.location.href = '/app/logout';
  },
  }
};
</script>
