<template> 
    <tr class="list-item c----list-item" v-if="elem">
        <td class="title-head-1">
            <div class="texts">{{ startDate }}</div>
        </td>
        <td class="title-head-2">
            <div class="texts">{{ endDate }}</div>
        </td>
        <td class="title-head-3">
            <div class="d-flex group-dates">
                <div class="texts">{{ description }}</div>
                <!--<div class="color-lightblue texts">{{ billCode }}</div>-->
            </div>
        </td>
        <td class="title-head-4">
            <div class="texts color-green">{{ amountFormat }}</div>
        </td>
    </tr>
</template>
<script>
export default {
    name: 'BillElementRow',
    props:{
        elem:{
            type: Object,
            default: null
        }
    },
    computed: {
        currentLang() {
            return this.$store.getters.getLocale;
        },
        item() {
            return this.elem ? this.elem : null
        },
        startDate() {
            if( this.item && this.item.start_time) {
                let date = this.$moment( this.item.start_time );
                if( date.isValid() ) {
                    return date.format('YYYY/MM/DD')
                }
            }
            return null;
        },
        endDate() {
            if( this.item && this.item.end_time) {
                let date = this.$moment( this.item.end_time );
                if( date.isValid() ) {
                    return date.format('YYYY/MM/DD')
                }
            }
            return null;
        },
        billCode() {
            return this.item ? (this.item.customer_id || this.item.id) : null
        },
        type() {
            return this.item && this.item.type ? this.item.type : 'unknown';
        },
        description() {
            return this.item && this.item.title ? this.item.title : ''
        },
        price() {
            return this.item && this.item.price_by_language ? this.item.price_by_language : null
        },
        
        amount() {
            return this.price ? this.price.toLocaleString( this.currentLang , {minimumFractionDigits: 2, maximumFractionDigits: 2}) : null;
        },
        currency() {
            return ( this.currentLang == 'vi' ) ? 'VND' : ( this.currentLang == 'JA' ? 'JPY' : 'USD')
        },
        currencySign() {
            return this.currency ? this.getCurencySymbol( this.currency.toUpperCase() ) : '';
        },
        amountFormat() {
            return this.currency ? ( this.currency.toLowerCase() == 'vnd' ? [this.amount, this.currencySign].join('') : [this.currencySign, this.amount].join('')) : ''
        }
    }
}
</script>
<style>
.c----list-item{
    color:white;
}
</style>