<template> 
    <tr class="list-item" v-if="elem">
        <td class="title-head">
            <div class="texts">{{ createdAt }}</div>
        </td>
        <td class="title-head">
            <div class="texts">{{ $t(type) }}</div>
        </td>
        <td class="title-head">
            <div class="d-flex group-dates">
                <div class="texts">{{ description }}</div>
                <div class="color-lightblue texts">{{ billCode }}</div>
            </div>
        </td>
        <td class="title-head">
            <div class="texts color-green">{{ amountFormat }}</div>
        </td>
    </tr>
</template>
<script>
export default {
    name: 'BillElementRow',
    props:{
        elem:{
            type: Object,
            default: null
        }
    },
    computed: {
        currentLang() {
            return this.$store.getters.getLocale;
        },
        item() {
            return this.elem ? this.elem : null
        },
        createdAt() {
            if( this.item && this.item.created) {
                let date = this.$moment.unix( this.item.created );
                if( date.isValid() ) {
                    return date.format('YYYY/MM/DD')
                }
            }
            return null;
        },
        billCode() {
            return this.item ? (this.item.customer_id || this.item.id) : null
        },
        type() {
            return this.item && this.item.type ? this.item.type : 'unknown';
        },
        description() {
            return this.item && this.item.description ? this.item.description : ''
        },
        price() {
            return this.item && this.item.amount ? this.item.amount : null
        },
        
        amount() {
            return this.price ? this.price.toLocaleString( this.currentLang , {minimumFractionDigits: 2, maximumFractionDigits: 2}) : null;
        },
        currency() {
            return this.item && this.item.currency ? this.item.currency : null
        },
        currencySign() {
            return this.currency ? this.getCurencySymbol( this.currency.toUpperCase() ) : '';
        },
        amountFormat() {
            return this.currency ? ( this.currency.toLowerCase() == 'vnd' ? [this.amount, this.currencySign].join('') : [this.currencySign, this.amount].join('')) : ''
        }
    }
}
</script>