<template>

<div class="d-block" style="display: block;">
  <div class="box">
    <!--
    <div class="d-flex justify-content-between align-items-center mb-hp">
      <div class="font-30 text-white"> {{$t('web_balanceManagement_form1_title')}} </div>
      <div class="filter-top d-none"></div>
    </div>
    -->
    <div class="group-table-general group-content-b214 ">
      <div class="group-calendar">
        <div class="wp-calendar-up mb-2">
          <div class="row list-item">
              <div class="col-md-4 col-sm-6 col-12 mb-3 item">
                <div class="group-skillss">
                  <div class="bg-white border-radius-10">
                    <!--月-->
                      <div class="input-group mb-2 mr-sm-2">
                      <div class="input-group-prepend">
                        <div class="input-group-text">{{ $t('From') }}</div>
                      </div>
                      <select @change="getTransaction" v-model="fromMonth" style="border-left:none;" class="select-gender input-text input form-control btn-down-black color-black">
                        <option v-for="(month, m) in months" :value="month" :key="`month-from--${m}`">{{month}}</option>
                      </select>
                    </div>
                    
                  </div>
                </div>
              </div>
              <div class="col-md-2 col-sm-6 col-12 mb-3 item">
                <div class="group-skills">
                  <div class="bg-white border-radius-10">
                    <select @change="getTransaction" v-model="fromYear" class="select-gender input-text input w-100 btn-down-black color-black">
                      <option v-for="(year, y) in arrYearReverse" :value="year" :key="`from-year-${y}`">{{year}}</option>
                    </select>
                  </div>
                </div>
              </div>
              <div class="col-md-4 col-sm-6 col-12 mb-3 item">
                <div class="group-skills">
                  <div class="bg-white border-radius-10">
                    <div class="input-group mb-2 mr-sm-2">
                      <div class="input-group-prepend">
                        <div class="input-group-text">{{ $t('To') }}</div>
                      </div>
                      <select @change="getTransaction" v-model="toMonth" class="select-gender input-text input form-control btn-down-black color-black">
                        <option v-for="(month, m) in months" :value="month" :key="`month-to-${m}`">{{month}}</option>
                      </select>
                    </div>
                    
                  </div>
                </div>
              </div>
              <div class="col-md-2 col-sm-6 col-12 mb-3 item">
                <div class="group-skills">
                  <div class="bg-white border-radius-10">
                    <select @change="getTransaction" v-model="toYear" class="select-gender input-text input w-100 btn-down-black color-black">
                      <option v-for="(year, y) in arrYear" :value="year" :key="`to-year-${y}`">{{year}}</option>
                    </select>
                  </div>
                </div>
              </div>
          </div>
        </div>
        <!--
        <div class="wp-calendar-down">
          <div class="d-sm-flex justify-content-between align-items-center ">
            <div class="item text-white">{{$t('Remittance')}}: ¥299,755</div>
            <div class="item text-white"><{{ $t('DownloadCSV')}}</div>
          </div>
        </div>
        -->
      </div>
      <div style="overflow-x:auto;">
        <table class="table mb-hp" v-loading="loading">
          <thead>
            <tr class="list-item">
              <th class="title-head">{{$t('date')}}</th>
              <th class="title-head">{{$t('type')}}</th>
              <th class="title-head">{{$t('details')}}</th>
              <th class="title-head">{{$t('RewardAmount')}}</th>
            </tr>
          </thead>
          <tbody v-if="totalRow">
              <BillElementRow v-for="(item, i) in list" :key="`bill-element-row-${i}`" :elem="item" />
          </tbody>
          <tbody v-if="!totalRow && !loading">
            <tr class="list-item">
                <td colspan="4" class="title-head text-center">{{$t('webNoData')}}</td>
            </tr>
          </tbody>
        </table>
        <el-pagination class="pagination d-flex align-items-center margin-bottom-40" v-if="totalRow > limit"
          background
          layout="prev, pager, next"
          :page-size="limit"
          :total="totalRow"
          :current-page="currentPage"
          @current-change="goToPage">
        </el-pagination>
      </div>
    </div>
  </div>
</div>
   
</template>

<script>
import _ from 'lodash';
  export default {
    name: 'BalanceManagermentTabOne',
    components:{
      BillElementRow: () => import('~/components/accountSetting/share/balance/bill-element-row')
    },
    data() {
      return {
        res: null,
        loading: false,
        fromMonth: 1,
        fromYear:(new Date()).getFullYear() - 4 ,
        toMonth: (new Date()).getMonth() + 1,
        toYear: (new Date()).getFullYear(),
        limit: 3,
        currentPage: 1
      }
    },
    computed: {
      currentYear() {
          return (new Date()).getFullYear()
      },
      arrYear() {
        return Array.from({length: 5 }, (v, k) => this.currentYear - k); 
      },
      arrYearReverse() {
        return Array.from({length: 5 }, (v, k) => ( this.currentYear - 4 ) + k); 
      },
      months() {
        return [1,2,3,4,5,6,7,8,9,10,11,12]
      },
      meId() {
        return this.$store.getters.getUserId;
      },
      company() {
          return this.$store.getters.getCompany;
      },
      companyId() {
          return _.has(this.company, 'company_id') ? this.company.company_id : 0;
      },
      isClient() {
          return this.companyId;
      },
      
      offset() {
        return ( this.currentYear - 1 ) * this.limit
      },
      transactionParam() {
        return {
          from_month: this.fromMonth,
          from_year: this.fromYear,
          to_month: this.toMonth,
          to_year: this.toYear,
          offset: this.offset,
          limit: this.limit, 
          company_id: this.companyId
        }
      },
      totalRow() {
        return this.res && this.res.totalRow ? this.res.totalRow : 0
      },
      list() {
        return this.res && this.res.data && this.res.data.data ? this.res.data.data : []
      }
    },
    mounted() {
      this.getTransaction();
    },
    methods: {
      
      getTransaction() {
        let method = 'getTransactionsByCustomer';
        this.loading = true;
        this.$store.dispatch(`bill/${method}`, this.transactionParam)
        .then( ( res ) => {
          this.res = res
        } )
        .catch( (e) => {

        })
        .finally( () => {
          this.loading = false;
        });
      },
      goToPage( p ) {
        this.currentPage = p;
      }
    }
  }
</script>
