<template>
    <section class="group-join-company">
        <div class="content-join-company">
            <div class="media">
                <div class="img-thumb media-left">
                    <a target="_blank" :href="localePath({ name: 'profile-client-id', params: {id: inviteCompanyId}})" class="image">
                        <el-avatar :src="inviteCompanyAvatar" alt="" />
                    </a>
                </div>
                <div class="info media-body">
                    <div class="title texts">{{ $t('verifyInviteCompanyMessage', { userName: fullName, companyName: inviteCompanyName, roleName: inviteCompanyRoleName} )}}</div>
                    <div class="description texts">{{ $t('verifyInviteCompanyNote', { companyName: inviteCompanyName }) }}</div>
                </div>
            </div>
            <div class="box-btn-join">
                <button :disabled="disabled || loading" class="btn-join btn btn-primary" @click="join" v-loading="loading">{{ $t('btnJoin') }}</button>
            </div>
        </div>
    </section>
</template>

<script>
    import { mapActions, mapGetters } from 'vuex';
	import eventBus from '~/services/bus';
    export default {
        name: 'CompanyEmployeeRequest',
        
        data() {
            return {
                token: null,
                loading: false,
                companyInvite: null
            }
        },
        created() {
            this.token = this.$route.query.token;
        },
        computed:{
            ...mapGetters({
                'isLogined': 'loggedIn'
            }),
            
            company() {
                return this.$store.getters.getCompany;
            },
            companyId() {
                return this.company ? this.company.company_id : 0
            },
            isClient() {
                return this.companyId
            },
            disabled() {
                return !this.token || this.token.length <= 0 || this.isClient;
            },
            fullName() {
                return this.$store.getters.getUserFullName; 
            },
            avatar() {
                return this.$store.getters.getUserAvatar;
            },
            inviteCompanyId() {
                return this.companyInvite && this.companyInvite.id ? this.companyInvite.id : null
            },
            inviteCompanyAvatar() {
                return this.companyInvite && this.companyInvite.avatar ? this.companyInvite.avatar : ''
            },
            inviteCompanyName() {
                return this.companyInvite && this.companyInvite.title ? this.companyInvite.title : ''
            },
            inviteCompanyRoleName() {
                return this.companyInvite && this.companyInvite.role && this.companyInvite.role.name ? this.companyInvite.role.name : ''
            }
        },
        mounted() {
            if( !this.isLogined ) 
			{
                setTimeout( () => {
                    eventBus.$emit('onLogin');
                }, 1000);
			}
			else
			{
				this.getComapnyInfo();
			}
        },
        methods: {
            ...mapActions({
                joinCompany: 'members/company/users/joinCompany',
                checkTokenJoinCompany: 'members/company/users/checkTokenJoinCompany',
            }),
            async getComapnyInfo() {
                if( this.disabled ){ return; }
                const res = await this.checkTokenJoinCompany({token: this.token});
                this.companyInvite = res.data;
            },
            join() {
                if( ! this.isLogined ) {
                    eventBus.$emit('onLogin');
                    return;
                }
                if( this.isClient ) {
                    me.showNotification( me.$t('Error'), me.$t('verifyInviteCompanyNotClient'),'error' );
                    return; 
                }
                if( !this.token || this.token.length <= 0 ) { 
                    me.showNotification( me.$t('Error'), me.$t('verifyInviteCompanyNotToken'),'error' );
                    return; 
                }
                let me = this;
                //return;
                
                this.loading = true;
                this.joinCompany({ token: this.token })
                    .then( ( response ) => {
                        me.showNotification( me.$t('Success'), response.message ,'success' );
                        setTimeout( () => {
                            me.$router.push( me.localePath({name: 'index'}) );
                        }, 1000);
                    } )
                    .catch( ( error ) => {
                        me.showNotification( me.$t('Error'), error.message,'error' );
                    } )
                    .finally( () => {
                        me.loading = false;
                    });
            }
        }
    };
</script>

