<template>
    <div class="item-prd item-prd-vote" v-if="item">
        <div class="slide-item-prd swiper-container-initialized swiper-container-horizontal" >
            <div class="img-thumb">
                <nuxt-link class="image"
                           :to="localePath({name: 'project-client-id', params: { id: companyId } })">
                    <ElImageLazy :src="cover"></ElImageLazy>
                </nuxt-link>
            </div>
            <div class="info">
                <div class="name-title" :title="title">
                    <nuxt-link class="title line-2"
                               :to="localePath({name: 'project-detail-id', params: { id: companyId } })">
                        {{ title }}
                    </nuxt-link>
                </div>
                <div class="wp-rating d-flex">
                    <div class="meta-rate d-flex">
                        <div class="number-rate">{{ rate }}</div>
<!--                        <star-rating class="list-star d-flex" :rating="rate" v-bind="config"></star-rating>-->
                      <el-rate v-model="item.rate"
                               :colors="['#77D353', '#77D353', '#77D353']"
                               :disabled-void-color="'#d2d2d2'"
                               disabled></el-rate>
                    </div>
                </div>
            </div>
        </div>
    </div>
</template>
<script>
export default {
    name: 'CompanySummary',
    components:{
        // StarRating: () => import('vue-dynamic-star-rating'),
        ElImageLazy: () => import('~/components/share/ElImageLazy'),
        Favorite: () => import('~/components/share/header/Favorite')
    },
    props: {
        item: {
            type: Object,
            default: null
        },
        companyId: {
            type: String,
            default: null
        }
    },
    computed: {
        company() {
            return this.item != null && this.item.company ? this.item.company : null;
        },
        title() {
            return this.company != null && this.company.title != null ? this.company.title : '';
        },
        cover() {
            return this.company != null && this.company.cover_photo != null ? this.company.cover_photo : '';
        },
        rate() {
            return this.company != null && this.company.rate != null ? this.company.rate : 0;
        }
    },
    data() {
        return {
            config: {
                isIndicatorActive: true,
                starStyle: {
                    fullStarColor: "#77D353",
                    emptyStarColor: "#d2d2d2",
                    starWidth: 12,
                    starHeight: 12
                }
            }
        }
    }
}
</script>
