<template>
    <div class="new-footer">
        <footer class="footer-spotech" id="footer-new">
            <div class="container">
                <div class="row">
                    <div class="col-12 mx-auto">
                        <div class="top-footer-new">
                            <div class="content-top-footer-new">
                                <div class="row">
                                    <div class="col-lg-3 col-md-6 col-sm-6 col-12 orderft">
                                        <div class="logo">
                                            <a href="index.html" class="image-logo d-block mb-3"><img src="~assets/images/image-newDesign/logo-ft-new.png" alt=""></a>
                                            <div class="meta">© 2019 Spotech Inc.</div>
                                        </div>
                                    </div>
                                    <div class="col-lg-6 col-md-12 col-sm-12 col-12 orderft_1">
                                        <div class="box-links-ft">
                                            <div class="row">
                                                <div class="col-lg-4 col-md-4 col-sm-4 col-12">
                                                    <div class="content-ft">
                                                        <div class="pn-head-ft-new">
                                                            <div class="title-ft">About</div>
                                                        </div>
                                                        <ul class="list-body-ft-new">
                                                            <li>
                                                                <a href="#" title="" class="text-link">キャリア</a>
                                                            </li>
                                                            <li>
                                                                <a href="#" title="" class="text-link">チーム</a>
                                                            </li>
                                                            <li>
                                                                <a href="#" title="" class="text-link">ニュース</a>
                                                            </li>
                                                            <li>
                                                                <a href="#" title="" class="text-link">サイトマップ</a>
                                                            </li>
                                                            <li>
                                                                <a href="#" title="" class="text-link">お問い合わせ</a>
                                                            </li>
                                                        </ul>
                                                    </div>
                                                </div>
                                                <div class="col-lg-4 col-md-4 col-sm-4 col-12">
                                                    <div class="content-ft">
                                                        <div class="pn-head-ft-new">
                                                            <div class="title-ft">Easy Guide</div>
                                                        </div>
                                                        <ul class="list-body-ft-new">
                                                            <li>
                                                                <a href="#" title="" class="text-link">クライアント</a>
                                                            </li>
                                                            <li>
                                                                <a href="#" title="" class="text-link">エキスパート</a>
                                                            </li>
                                                            <li>
                                                                <a href="#" title="" class="text-link">信頼＆安心</a>
                                                            </li>
                                                            <li>
                                                                <a href="#" title="" class="text-link">入札型採用</a>
                                                            </li>
                                                            <li>
                                                                <a href="#" title="" class="text-link">ビジネスサポート</a>
                                                            </li>
                                                        </ul>
                                                    </div>
                                                </div>
                                                <div class="col-lg-4 col-md-4 col-sm-4 col-12">
                                                    <div class="content-ft">
                                                        <div class="pn-head-ft-new">
                                                            <div class="title-ft">Community</div>
                                                        </div>
                                                        <ul class="list-body-ft-new">
                                                            <li>
                                                                <a href="#" title="" class="text-link">ストーリー</a>
                                                            </li>
                                                            <li>
                                                                <a href="#" title="" class="text-link">クライアント招待</a>
                                                            </li>
                                                            <li>
                                                                <a href="#" title="" class="text-link">エキスパート招待</a>
                                                            </li>
                                                            <li>
                                                                <a href="#" title="" class="text-link">トラベルサポート</a>
                                                            </li>
                                                            <li>
                                                                <a href="#" title="" class="text-link">フリーランスサポート</a>
                                                            </li>
                                                        </ul>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>

                                    </div>
                                    <div class="col-lg-3 col-12 clearfix orderft_2">
                                        <div class="box-social-ft-new">
                                            <div class="top-box-social mb-3">
                                                <ul class="list-social-new d-flex">
                                                    <li>
                                                        <a href="#" class="item-social-new facebook"><i class="fab fa-facebook-f"></i></a>
                                                    </li>
                                                    <li>
                                                        <a href="#" class="item-social-new twitter"><i class="fab fa-twitter"></i></a>
                                                    </li>
                                                    <li>
                                                        <a href="#" class="item-social-new linkedin"><i class="fab fa-linkedin"></i></a>
                                                    </li>
                                                    <li>
                                                        <a href="#" class="item-social-new instagram"><i class="fab fa-instagram"></i></a>
                                                    </li>
                                                </ul>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>

                        <div class="upper-footer-new d-flex">
                            <div class="box-left-ft-new mr-auto">
                                <ul class="list">
                                    <li>
                                        <a href="javascript:;" title="" class="text-link">利用規約</a>
                                    </li>
                                    <li>
                                        <a href="javascript:;" title="" class="text-link">プライバシーポリシー</a>
                                    </li>
                                </ul>
                            </div>
                            <div class="box-right-ft-new">
                                <ul class="list">
                                    <li>
                                        <a href="javascript:;" title="" class="text-link">日本語</a>
                                    </li>
                                </ul>
                            </div>
                        </div>

                    </div>
                </div>
            </div>
        </footer>
    </div>
</template>

<script>
    export default {
        
    }
</script>

<style scoped>
@media (min-width: 1200px) {
    .max-1760{
        max-width: 1760px !important;
    }
}
.new-footer{
    background: #32353B;
    padding: 33px 0 16px 0;
}
.pn-head-ft-new{
    margin-bottom: 20px;
}
.pn-head-ft-new .title-ft{
    text-transform: uppercase;
    color: #ffffff;
    font-size: 14px;
    font-weight: bold;
}
.list-body-ft-new .text-link{
    color: #D2D2D2;
    font-size: 12px;
    font-weight: bold;
}
.list-body-ft-new >li{
    margin-bottom: 5px;
}
.list-body-ft-new >li:hover .text-link{
    color: #00B4DB;
}
.item-social-new{
    display: block;
}
.item-social-new >i{
    font-size: 22px;
    color: #ffffff;
}
.content-top-footer-new .meta{
    font-size: 10px;
    color: #D2D2D2;
}
.content-top-footer-new{
    border-bottom: 1px solid #707070;
    margin-bottom: 10px;
}
.box-left-ft-new .text-link{
    display: block;
    font-size: 10px;
    color: #707070;
    font-weight: bold;
}
.box-left-ft-new .list >li:not(:last-child){
    margin-right: 30px;
}
.box-left-ft-new .list{
    display: flex;
    flex-wrap: wrap;
}
.box-right-ft-new .text-link{
    display: block;
    font-size: 11px;
    color: #D2D2D2;
    padding: 0 10px;
    height: 34px;
    line-height: 34px;
    min-width: 84px;
    text-align: center;
    border: 2px solid #ffffff;
    border-radius: 5px;
}
.list-social-new{
    justify-content: flex-end;
}
.list-social-new >li:not(:last-child){
    margin-right: 30px;
}
.upper-footer-new{
    align-items: center;
    flex-wrap: wrap;
}
.content-top-footer-new .image-logo >img{
    height: 32px;
}

</style>