<template>
  <div class="new-header" id="pc-header-new">
    <div class="container">
      <div class="upper-new">
        <div class="d-flex flex-wrap align-items-center justify-content-between" >
          <div class="logo">
            <a href="javascript:void(0)" title="" class="image">
              <img src="~assets/images/image-newDesign/logo-white.svg" alt="" class="img-fluid img-scaledown" />
            </a>
          </div>
          <div class="main-nav-new">
            <div class="list-menu-new">
              <div class="item-menu-new">
                <a href="javascript:void(0)" title="" class="text-link">AIサポート</a>
              </div>
              <div class="item-menu-new">
                <a href="./newDesign/a111" title="" class="text-link">簡単ガイド</a>
              </div>
              <div class="item-menu-new">
                <a href="javascript:void(0)" title="" class="text-link" @click="drawerHelp = true">ヘルプ</a>
                <!-- a12-1 -->
                <el-drawer
                  class="group-help"
                  title="おすすめのヘルプ"
                  :visible.sync="drawerHelp"
                  :direction="direction"
                  :before-close="handleClose"
                  >
                  <div class="body-content-popup-help">
                    <div class="body-modal-general">
                      <div class="hd-search">
                        <div class="text-head-modal heading-15">キーワードで検索</div>
                        <div class="freelance-support-help">
                            <div class="search-support-new">
                                <button class="btn-search icon-search-help">
                                    <i class="fas fa-search"></i>
                                </button>
                                <input type="text" placeholder="例）入札" class="input w-100" />
                            </div>
                        </div>
                        <div class="group-content-new-1">
                            <div class="group-rl mb-3">
                                <div class="text-head-modal mb-3">アカウントを作成するためにはどうすれば良いですか？</div>
                                <div class="intro-modal mb-3 line-3">
                                    SPOTECHアカウントをまだお持ちでない方はspotech.ioで「利用登録」をクリックしてください。利用登録はメールアドレス、Facebookアカウント,go
                                    . . .
                                </div>
                                <a href="javascript:;" class="read-more d-block mb-3" @click="drawerHelp2 = true">
                                    <span class="text">もっと読む</span>
                                    <span class="icon"><i class="fas fa-chevron-right"></i></span>
                                </a>
                            </div>
                            <div class="group-rl mb-3">
                                <div class="text-head-modal mb-3 line-2">パスワードを変更、再設定するには？</div>
                                <div class="intro-modal mb-3 line-3">
                                    パスワードをリセットしたい、パスワードを忘れてしまった時や、SPOTECHアカウントにログインできないときには
                                    . . .</div>
                                <a href="javascript:;" class="read-more d-block mb-3">
                                    <span class="text">もっと読む</span>
                                    <span class="icon"><i class="fas fa-chevron-right"></i></span>
                                </a>
                            </div>
                            <div class="group-rl mb-3">
                                <div class="text-head-modal mb-3 line-2">誰かにSPOTECHのサイト以外の場所で支払いを求められた場合の対処は？
                                </div>
                                <div class="intro-modal mb-3 line-3">
                                    送金するのはやめ、当社までご連絡ください。SPOTECHが公式サイト以外の場所で、メール経由あるいはSPOTECHが指定していない決済サービス経由でお支払いを求めることは決してありません.
                                    . .</div>
                                <a href="javascript:;" class="read-more d-block mb-3" data-toggle="modal">
                                    <span class="text">もっと読む</span>
                                    <span class="icon"><i class="fas fa-chevron-right"></i></span>
                                </a>
                            </div>
                            <div class="group-rl mb-3">
                                <div class="text-head-modal mb-3">なぜ支払いとやりとりはSPOTECHを通して直接行うきまりなの？</div>
                                <div class="intro-modal mb-3 line-3">
                                    SPOTECHを通じて支払いを行うことにより、自らの口座情報を相手に伝えずにお取引可能です。また送金した事実を隠蔽されるなどの悪質なケースを防ぐ事ができます。
                                </div>
                                <a href="javascript:;" class="read-more d-block mb-3">
                                    <span class="text">もっと読む</span>
                                    <span class="icon"><i class="fas fa-chevron-right"></i></span>
                                </a>
                            </div>
                            <div class="group-rl mb-3">
                                <div class="text-head-modal mb-3">SPOTECHのキャンセルポリシーにはどんなものが
                                    あるの？</div>
                                <div class="intro-modal mb-3 line-3">
                                    クライアントとエキスパートの両方をお守りするキャンセルポリシーには柔軟、普通、厳格の3タイプあり、クライアントはそのいずれかを選択することが出来ます。
                                </div>
                                <a href="javascript:;" class="read-more d-block mb-3">
                                    <span class="text">もっと読む</span>
                                    <span class="icon"><i class="fas fa-chevron-right"></i></span>
                                </a>
                            </div>
                        </div>
                      </div>
                    </div>
                    <div class="footer-modal-general-new">
                      <div class="send-feedback-new text-center">
                          <button type="button" class="register" @click="drawerHelp3 = true">
                              <span class="text-link">フィードバックを送る</span>
                          </button>
                      </div>
                    </div>
                  </div>
                </el-drawer>
                <!-- a12-2 -->
                <el-drawer
                  class="group-help drawerHelp2"
                  title="おすすめのヘルプ"
                  :visible.sync="drawerHelp2"
                  :direction="direction"
                  :before-close="handleClose"
                  >
                  <div class="body-content-popup-help not-footer_ha">
                    <div class="body-modal-general">
                      <div class="hd-search">
                        <div class="group-content-new-1">
                          <a href="javascript:;" class="read-more btn-back d-block mb-3">
                            <span class="icon"><i class="fas fa-chevron-left"></i></span>
                            <span class="text">戻る</span>
                          </a>
                          <div class="box-content">
                            <div class="big-help-title heading-24 mb-4">誰かにSPOTECHのサイト以外の場所で支払いを求められた場合の対処は？</div>
                            <div class="intro-new heading-14">
                              <p>送金するのはやめ、当社までご連絡ください。SPOTECHが公式サイト以外の場所で、メール経由あるいはSPOTECHが指定していない決済サービス経由でお支払いを求めることは決してありません。</p>
                              <p>SPOTECH外で支払いをした場合、不正な方法で支払いをした可能性があります。ただちに当社までご連絡ください。</p>
                              <p>ご不明な場合は、当社でSPOTECH経由で支払われたか否かをチェックすることが可能です。</p>
                            </div>
                            <div class="big-help-title heading-24 mb-4">サイト外で支払いを要求されたら即通報</div>
                            <div class="intro-new heading-14">SPOTECHユーザーにサイト外や他社経由で支払いを求められた場合には当社まで連絡してください。</div>
                          </div>
                        </div>
                      </div>
                    </div>
                  </div>
                </el-drawer>
                <!-- a12-3 -->
                <el-drawer
                  class="group-help drawerHelp3"
                  title="おすすめのヘルプ"
                  :visible.sync="drawerHelp3"
                  :direction="direction"
                  :before-close="handleClose"
                  >
                  <div class="body-content-popup-help not-footer_ha">
                    <div class="body-modal-general">
                      <div class="hd-search">
                        <div class="group-content-new-1">
                          <a href="javascript:;" class="read-more btn-back d-block mb-3">
                            <span class="icon"><i class="fas fa-chevron-left"></i></span>
                            <span class="text">戻る</span>
                          </a>
                          <div class="content-help-3">
                            <div class="group-rl mb-3">
                                <div class="text-head-modal title-sendFeedback-modal mb-3 heading-18">自分に合わせたヘルプを受けるにはログインしてください</div>
                            </div>
                            <div class="group-rl mb-4">
                                <div class="row">
                                    <div class="col-6">
                                        <div class="btn-modal-new modal-help active" @click="drawerHelp4 =true">
                                            <a href="javascript:;" title="" class="btn-a">ログイン</a>
                                        </div>
                                    </div>
                                    <div class="col-6">
                                        <div class="btn-modal-new modal-help" @click="drawerHelp5 = true">
                                            <a href="javascript:;" title="" class="btn-a">アカウント作成</a>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="group-rl mb-3">
                                <div class="text-head-modal mb-4 text-center font-16">フィードバック</div>
                                <div class="intro-modal mb-3">
                                    良かった点、改善点について、皆様の率直なご意見をお
                                    待ちしております。毎回お返事をすることはできません
                                    が、いただいた貴重なご意見は真摯に受け止め改善に努
                                    めてまいります。
                                </div>
                            </div>
                          </div>
                        </div>
                      </div>
                    </div>
                  </div>
                </el-drawer>
                <!-- a12-4 -->
                <el-drawer
                  class="group-help drawerHelp4"
                  title="おすすめのヘルプ"
                  :visible.sync="drawerHelp4"
                  :direction="direction"
                  :before-close="handleClose"
                  >
                  <div class="body-content-popup-help not-footer_ha">
                    <div class="body-modal-general">
                      <div class="hd-search">
                        <div class="group-content-new-1">
                          <a href="javascript:;" class="read-more btn-back d-block mb-3">
                            <span class="icon"><i class="fas fa-chevron-left"></i></span>
                            <span class="text">戻る</span>
                          </a>
                          <div class="content-help-3">
                            <div class="body-modal-general">
                              <div class="group-rl mb-3">
                                  <div class="text-head-modal mb-3">フィードバックをお寄せください</div>
                                  <div class="intro-modal mb-3 ">
                                      私たちは常に良い体験をお届けできるように改善に努めている為、良い点や改善するべき点について、ご意見をお聞かせください。
                                  </div>
                              </div>
                              <div class="group-rl mb-4">
                                  <div class="text-head-modal mb-3">下記から一つお選びください</div>
                                  <div class="btn-modal-new modal-help active mb-3">
                                      <a href="javascript:;" title="" class="btn-a active">フィードバック</a>
                                  </div>
                                  <div class="btn-modal-new modal-help mb-3">
                                      <a href="javascript:;" title="" class="btn-a">バグ</a>
                                  </div>
                              </div>
                              <div class="group-rl mb-3">
                                  <form action="" method="" class="form">
                                      <label for="" class="text-head-modal mb-3">詳しくご記入ください</label>
                                      <textarea name="" class="w-100 text-left mb-3 p-3"
                                          style="border-radius: 10px" rows="5"
                                          placeholder="どんな操作で起きましたか？参考までに問題が発生した時の状況をお書きください"></textarea>
                                  </form>
                              </div>
                              <div class="group-rl mb-4">
                                  <div class="btn-modal-new modal-help active disabled mb-3">
                                      <a href="javascript:;" title="" class="btn-a">フィードバックを提出する</a>
                                  </div>
                              </div>
                          </div>
                          </div>
                        </div>
                      </div>
                    </div>
                  </div>
                </el-drawer>
                <!-- a12-5 -->
                <el-drawer
                  class="group-help drawerHelp5"
                  title="おすすめのヘルプ"
                  :visible.sync="drawerHelp5"
                  :direction="direction"
                  :before-close="handleClose"
                  >
                  <div class="body-content-popup-help not-footer_ha">
                    <div class="body-modal-general">
                      <div class="hd-search">
                        <div class="group-content-new-1">
                          <a href="javascript:;" class="read-more btn-back d-block mb-3">
                            <span class="icon"><i class="fas fa-chevron-left"></i></span>
                            <span class="text">戻る</span>
                          </a>
                          <div class="content-help-3">
                            <div class="body-modal-general">
                              <div class="group-rl mb-3">
                                  <div class="text-head-modal mb-3">フィードバックをお寄せください</div>
                                  <div class="intro-modal mb-3 ">
                                      私たちは常に良い体験をお届けできるように改善に努めている為、良い点や改善するべき点について、ご意見をお聞かせください。
                                  </div>
                              </div>
                              <div class="group-rl mb-4">
                                  <div class="text-head-modal mb-3">下記から一つお選びください</div>
                                  <div class="btn-modal-new modal-help  mb-3">
                                      <a href="javascript:;" title="" class="btn-a">フィードバック</a>
                                  </div>
                                  <div class="btn-modal-new modal-help mb-3 active">
                                      <a href="javascript:;" title="" class="btn-a">バグ</a>
                                  </div>
                              </div>
                              <div class="group-rl mb-3">
                                  <form action="" method="" class="form">
                                      <label for="" class="text-head-modal mb-3">詳しくご記入ください</label>
                                      <textarea name="" class="w-100 text-left mb-3 p-3"
                                          style="border-radius: 10px" rows="5"
                                          placeholder="どんな操作で起きましたか？参考までに問題が発生した時の状況をお書きください"></textarea>
                                  </form>
                              </div>
                              <div class="group-rl mb-4">
                                  <div class="btn-modal-new modal-help active disabled mb-3">
                                      <a href="javascript:;" title="" class="btn-a">フィードバックを提出する</a>
                                  </div>
                              </div>
                          </div>
                          </div>
                        </div>
                      </div>
                    </div>
                  </div>
                </el-drawer>
              </div>
              <div class="item-menu-new">
                <a href="javascript:void(0)" title="" class="text-link" @click="dialogSignUp = true">新規登録</a>
                <!-- a13 -->
                <div class="modal-signup-new">
                  <el-dialog
                  :show-close = "false"
                  class="signUp-new"
                  :visible.sync="dialogSignUp"
                  >
                    <div slot="title" class="close-modal-new" @click="dialogSignUp=false"><img src="~assets/images/image-newDesign/img-close.png" alt=""></div>
                     <div class="modal-body-new modal-body-a13 pt-0">
                      <div class="title-head heading-24">新規登録</div>
                      <div class="group-row link-social-modal-new text-center">
                          <a href="javascript:;" class="facebook social" @click="dialogRegister = true">
                              <span class="icon"><i class="fab fa-facebook-f"></i></span>
                              <span class="text-links">Facebookで続行</span>
                          </a>
                      </div>
                      <div class="link-social-modal-new text-center">
                          <a href="javascript:;" class="linkedIn social" @click="dialogLinkedIn = true">
                              <span class="icon"><i class="fab fa-invision"></i></span>
                              <span class="text-links">LinkedInで続行</span>
                          </a>
                      </div>
                      <div class="group-or text-center">
                          <div class="rule-or"></div>
                          <div class="text-or">または</div>
                      </div>
                      <div class="group-row link-social-modal-new text-center">
                          <button type="button" class="register social" @click="dialogRegisterEmail = true">
                              <span class="text-links">メールアドレスで登録</span>
                          </button>
                      </div>
                    </div>
                    <div class="modal-footer custom text-center p-3">
                        <div class="texts">SPOTECHのアカウントをお持ちですか？</div>
                        <button type="button" class="btn-ft">ログイン</button>
                    </div>
                  </el-dialog>
                </div>
                <!-- a13-2  -->
                <div class="modal-signup-new body-register-new"> 
                  <el-dialog
                  :show-close = "false"
                  class="signUp-new"
                  :visible.sync="dialogRegister"
                  >
                  <div class="modal-body-new modal-body-a13 pt-0">
                      <header class="head-info-new-a132">
                        <div class="name-title heading-20">情報をすべて入力</div>
                        <div class="intro heading-15">登録を完了するのに必要な情報を確認してください</div>
                      </header>
                      <div class="group-row box-input-logOut">
                        <input type="text" class="input-text w-100" placeholder="姓">
                      </div>
                      <div class="group-row box-input-logOut">
                        <input type="text" class="input-text w-100" placeholder="名">
                      </div>
                      <div class="group-row box-input-logOut">
                        <input type="text" class="input-text w-100" placeholder="メールアドレス">
                      </div>
                      <div class="group-Birthday-new">
                        <div class="title-Birthday">生年月日</div>
                        <div class="group-choose-birthday">
                          <div class="row">
                            <div class="col-md-4 col-12 item">
                              <div class="choose-new">
                                <select name="" id="" class="w-100">
                                  <option value="">月</option>
                                </select>
                              </div>
                            </div>
                            <div class="col-md-4 col-12 item">
                              <div class="choose-new">
                                <select name="" id="" class="w-100">
                                  <option value="">日</option>
                                </select>
                              </div>
                            </div>
                            <div class="col-md-4 col-12 item">
                              <div class="choose-new">
                                <select name="" id="" class="w-100">
                                  <option value="">年</option>
                                </select>
                              </div>
                            </div>
                          </div>  
                        </div>
                        <div class="source-Facebook mb-30">こちらの情報元はFacebookです</div>
                      </div>
                      <div class="group-row link-social-modal-new text-center">
                          <a href="javascript:;" class="btn-reset-new">
                            <span class="text-links">登録を完了</span>
                          </a>
                      </div>
                      <div class="form-group checkbox check-pupup-new">
                        <input type="checkbox" id="check-4">
                        <label for="check-4" class="check">私は、SPOTECHの <a href="javascript:;"
                                style="    white-space: nowrap;" class="color-spotech-new">利用規約</a> および <a href="javascript:;"
                                style="    white-space: nowrap;" class="color-spotech-new">プライバシーポリシー</a> に同意します</label>
                      </div>
                    </div>
                  </el-dialog>
                </div>
                <!-- a13-3  -->
                <div class="modal-signup-new body-registerEmail-new"> 
                  <el-dialog
                  :show-close = "false"
                  class="signUp-new"
                  :visible.sync="dialogRegisterEmail"
                  >
                  <div class="modal-body-new modal-body-a133 pt-0">
                      <header class="head-registerEmail-new">
                        <div class="head-registerEmail heading-16">
                          <a href="javascript:;" title="Facebook" class="links color-spotech-new">Facebook</a> または <a href="javascript:;" title="LinkedIn" class="links color-spotech-new">LinkedIn</a> で登録
                        </div>
                      </header>
                      <div class="group-or text-center">
                          <div class="rule-or"></div>
                          <div class="text-or">または</div>
                      </div>
                      <div class="group-row box-input-logOut">
                        <input type="text" class="input-text w-100" placeholder="メールアドレス">
                      </div>
                      <div class="group-row box-input-logOut">
                        <input type="text" class="input-text w-100" placeholder="姓">
                      </div>
                      <div class="group-row box-input-logOut">
                        <input type="text" class="input-text w-100" placeholder="名">
                      </div>
                      <div class="group-row box-input-logOut">
                        <input type="text" class="input-text w-100" placeholder="パスワードを作成">
                      </div>
                      <div class="group-Birthday-new">
                        <div class="title-Birthday mb-1">生年月日</div>
                        <div class="description-Birthday mb-3">ご登録は18歳以上の方に限ります。誕生日は非公開です</div>
                        <div class="group-choose-birthday">
                          <div class="row">
                            <div class="col-md-4 col-12 item">
                              <div class="choose-new">
                                <select name="" id="" class="w-100">
                                  <option value="">月</option>
                                </select>
                              </div>
                            </div>
                            <div class="col-md-4 col-12 item">
                              <div class="choose-new">
                                <select name="" id="" class="w-100">
                                  <option value="">日</option>
                                </select>
                              </div>
                            </div>
                            <div class="col-md-4 col-12 item">
                              <div class="choose-new">
                                <select name="" id="" class="w-100">
                                  <option value="">年</option>
                                </select>
                              </div>
                            </div>
                          </div>  
                        </div>
                      </div>
                      <div class="group-row link-social-modal-new text-center pt-4">
                          <a href="javascript:;" class="btn-reset-new">
                            <span class="text-links">登録を完了</span>
                          </a>
                      </div>
                      <div class="form-group checkbox check-pupup-new">
                        <input type="checkbox" id="check-3">
                        <label for="check-3" class="check">私は、SPOTECHの <a href="javascript:;"
                                style="    white-space: nowrap;" class="color-spotech-new">利用規約</a> および <a href="javascript:;"
                                style="    white-space: nowrap;" class="color-spotech-new">プライバシーポリシ</a> に同意します</label>
                      </div>
                      <div class="modal-footer custom text-center p-3">
                        <div class="texts">アカウントをお持ちですか？</div>
                        <button type="button" class="btn-ft">ログイン</button>
                      </div>
                    </div>
                  </el-dialog>
                </div>
                <!-- a13-4  -->
                <div class="modal-signup-new body-LinkedIn-new"> 
                  <el-dialog
                  :show-close = "false"
                  class="signUp-new"
                  :visible.sync="dialogLinkedIn"
                  >
                  <div class="modal-body-new modal-body-a13 pt-0">
                      <header class="head-info-new-a132">
                        <div class="name-title heading-20">情報をすべて入力</div>
                        <div class="intro heading-15">登録を完了するのに必要な情報を確認してください</div>
                      </header>
                      <div class="group-row box-input-logOut">
                        <input type="text" class="input-text w-100" placeholder="姓">
                      </div>
                      <div class="group-row box-input-logOut">
                        <input type="text" class="input-text w-100" placeholder="名">
                      </div>
                      <div class="group-row box-input-logOut">
                        <input type="text" class="input-text w-100" placeholder="メールアドレス">
                      </div>
                      <div class="group-Birthday-new">
                        <div class="title-Birthday">生年月日</div>
                        <div class="group-choose-birthday">
                          <div class="row">
                            <div class="col-md-4 col-12 item">
                              <div class="choose-new">
                                <select name="" id="" class="w-100">
                                  <option value="">月</option>
                                </select>
                              </div>
                            </div>
                            <div class="col-md-4 col-12 item">
                              <div class="choose-new">
                                <select name="" id="" class="w-100">
                                  <option value="">日</option>
                                </select>
                              </div>
                            </div>
                            <div class="col-md-4 col-12 item">
                              <div class="choose-new">
                                <select name="" id="" class="w-100">
                                  <option value="">年</option>
                                </select>
                              </div>
                            </div>
                          </div>  
                        </div>
                        <div class="source-Facebook mb-30">こちらの情報元はLinkedInです</div>
                      </div>
                      <div class="group-row link-social-modal-new text-center">
                          <a href="javascript:;" class="btn-reset-new">
                            <span class="text-links">登録を完了</span>
                          </a>
                      </div>
                      <div class="form-group checkbox check-pupup-new">
                        <input type="checkbox" id="check-4">
                        <label for="check-4" class="check">私は、SPOTECHの <a href="javascript:;"
                                style="    white-space: nowrap;">利用規約</a> および <a href="javascript:;"
                                style="    white-space: nowrap;">プライバシーポリシー</a> に同意します</label>
                      </div>
                    </div>
                  </el-dialog>
                </div>
              </div> 
              <div class="item-menu-new">
                <a href="javascript:void(0)" title="" class="text-link" @click="dialogLogOut = true">ログイン</a>
                <!-- a14   -->
                <div class="modal-signup-new modal-signup-new">
                  <el-dialog
                  :show-close = "false"
                  class="signUp-new"
                  :visible.sync="dialogLogOut"
                  >
                    <div slot="title" class="close-modal-new" @click="dialogLogOut=false"><img src="~assets/images/image-newDesign/img-close.png" alt=""></div>
                     <div class="modal-body-new modal-body-a13 pt-0">
                      <div class="title-head heading-24">ログイン</div>
                      <div class="group-row link-social-modal-new text-center">
                          <a class="facebook social">
                              <span class="icon"><i class="fab fa-facebook-f"></i></span>
                              <span class="text-links">Facebookで続行</span>
                          </a>
                      </div>
                      <div class="link-social-modal-new text-center">
                          <a class="linkedIn social">
                              <span class="icon"><i class="fab fa-invision"></i></span>
                              <span class="text-links">LinkedInで続行</span>
                          </a>
                      </div>
                      <div class="group-or text-center">
                          <div class="rule-or"></div>
                          <div class="text-or">または</div>
                      </div>
                      <div class="group-row box-input-logOut">
                        <input type="text" class="input-text w-100" placeholder="メールアドレス">
                      </div>
                      <div class="group-row box-input-logOut">
                        <input type="text" class="input-text w-100" placeholder="パスワード">
                      </div>
                      <div class="form-group checkbox check-pupup-new">
                        <input type="checkbox" id="check-1">
                        <label for="check-1" class="check">ログイン状態を保存</label>
                      </div>
                      <div class="group-row link-social-modal-new text-center">
                          <button type="button" class="register social">
                              <span class="text-links">ログイン</span>
                          </button>
                      </div>
                      <div class="group-row">
                        <a href="javascript:void(0)" class="forget-pass-new" @click="dialogRepassword = true">パスワードをお忘れですか？</a>
                      </div>
                    </div>

                    <div class="modal-footer custom text-center p-3">
                        <div class="texts">アカウントをお持ちではないですか？</div>
                        <button type="button" class="btn-ft">登録</button>
                    </div>
                  </el-dialog>
                </div>
                <!-- repassword a14-1-->
                <div class="modal-repassword-new modal-signup-new">
                  <el-dialog
                  :show-close = "false"
                  class="signUp-new"
                  :visible.sync="dialogRepassword"
                  >
                     <div class="modal-body-new body-repassword pt-0">
                      <div class="title-head heading-24">パスワードの再設定</div>
                      <div class="group-row">
                        <div class="description">アカウントの登録メールアドレスをご入力ください。パスワードリセット用のリンクをメールいたします。</div>
                      </div>
                      <div class="group-input-repass box-input-logOut">
                        <label for="" class="label-new heading-16">メールアドレス</label>
                        <input type="text" class="input-text w-100" placeholder="">
                      </div>
                    </div>
                    <div class="footer-repass-new">
                      <div class="box-back-new">
                        <a href="javascript:;" class="btn-back">
                          <span class="icon"><i class="fas fa-chevron-left"></i></span>
                          <span class="texts">ログイン画面に戻る</span>
                        </a>
                      </div>
                      <div class="box-send-recovery">
                        <a href="javascript:;" class="send-recovery"  @click="dialogpassReset = true">再設定用リンクを送る</a>
                      </div>
                    </div>
                  </el-dialog>
                </div>
                <!-- repassword Reset a14-2 -->
                <div class="modal-repassword-new modal-signup-new">
                  <el-dialog
                  :show-close = "false"
                  class="signUp-new"
                  :visible.sync="dialogpassReset"
                  >
                     <div class="modal-body-new body-pass-reset pt-0">
                      <div class="title-head heading-24">パスワードの再設定</div>
                      <div class="group-row">
                        <div class="description">パスワードは、英数字を含む8文字以上でご入力ください。</div>
                      </div>
                      <div class="group-input-repass box-input-logOut">
                        <label for="" class="label-new heading-16">新しいパスワード</label>
                        <input type="text" class="input-text w-100" placeholder=" ">
                      </div>
                      <div class="group-input-repass box-input-logOut">
                        <label for="" class="label-new heading-16">新しいパスワードの確認入力</label>
                        <input type="text" class="input-text w-100" placeholder="">
                      </div>
                    </div>
                    <div class="group-row text-center mb-4">
                      <a href="javascript:;" class="btn-reset-new">
                        <span class="text-links">メールアドレスで登録</span>
                      </a>
                    </div>
                    <div class="group-row group-conditions_ha">
                      <div class="conditions-new">「再設定する」をクリックすることにより、SPOTECHの <a href="javascript:;" class="text-links">利用規約</a> および <a href="javascript:;" class="text-links">プライバシーポリシー</a> 意したものとみなされます。</div>
                    </div>

                  </el-dialog>
                </div>
              </div>
            </div> 
          </div>
          <div class="group-menu-mobile">
            <i class="fas fa-bars text-white"></i>
          </div>
        </div>
      </div>
    </div>
  </div>
</template>

<script>
export default {
  data() {
    return {
      dialogSignUp: false,
      dialogLogOut: false,
      dialogRepassword: false,
      dialogpassReset: false,
      dialogRegister: false,
      dialogLinkedIn: false,
      dialogRegisterEmail: false,
      drawerHelp: false,
      drawerHelp2: false,
      drawerHelp3: false,
      drawerHelp4: false,
      drawerHelp5: false,
      direction: 'rtl',
    }
  },
  methods: {
    handleClose() {
      this.drawerHelp = false;
      this.drawerHelp2 = false;
      this.drawerHelp3 = false;
      this.drawerHelp4 = false;
      this.drawerHelp5 = false;
    }
  }
};
</script>

<style lang="scss" scoped>

// header
.new-header {
  background: #00b4db;
  background: -moz-linear-gradient(left, #00b4db 0%, #0083b0 100%);
  background: -webkit-linear-gradient(left, #00b4db 0%, #0083b0 100%);
  background: linear-gradient(to right, #00b4db 0%, #0083b0 100%);
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#00b4db', endColorstr='#0083b0',GradientType=1 ); /* IE6-9 */
}
.upper-new{
    padding-top: 25px;
    padding-bottom: 25px;
}
.upper-new .logo {
  max-width: 247px;
}
.upper-new .logo .image {
  display: block;
}
.list-menu-new {
  display: flex;
}
.list-menu-new .item-menu-new {
  padding-left: 50px;
  padding-right: 50px;
}
.list-menu-new .item-menu-new:first-child {
  padding-left: 0;
}
.list-menu-new .item-menu-new:last-child {
  padding-right: 0;
}
@media (max-width: 1199px) {
  .list-menu-new .item-menu-new {
    padding-left: 30px;
    padding-right: 30px;
  }
}
.list-menu-new .item-menu-new .text-link {
  font-size: 13px;
  display: block;
  color: #ffffff;
  font-weight: bold;
}
.list-menu-new .item-menu-new .text-link:hover{
  color: #F87702;
}
.group-menu-mobile{
  display: none;
}
@media (max-width: 992px){
  .group-menu-mobile{
    display: block;
  }
  .group-menu-mobile >i{
    font-size: 24px;
  }
  .list-menu-new{
    display: none;
  }
  #pc-header-new.active{
    position: relative;
    display: block;
  }
  #pc-header-new.active .main-nav-new{
    position: absolute;
    display: block;
    width: 100%;
    top: 100%;
    left: 0;
    right: 0;
    background: #0083b0;
  }
  #pc-header-new.active .main-nav-new .list-menu-new{
    display: block;
  }
  #pc-header-new.active .main-nav-new .item-menu-new{
    padding-left: 0;
    padding-right: 0;
    padding-top: 7.5px;
    padding-bottom: 7.5px;
  }
}

// *****************************************
</style>
