<template>
    <div class="wp-banner mb-hp">
        <div class="img-thumb">
            <a href="javascript:;" title class="image">
                <img :src="src" alt class="img-fluid img-cover"/>
            </a>
        </div>
    </div>
</template>

<script>
    export default {
        props: {
            src: {
                type: String
            }
        }
    }
</script>

<style scoped>

</style>
