<template>
    <form action="" method="">
        <div class="modal-body wp-modal-body">
            <div class="titles font-18  mb-3">Verify Code</div>
            <span class="input-loginfail" v-if="sendFail != ''">{{sendFail}}</span>
            <div class="form-group mb-4">
                <div class="group-numberphone">
                    <input type="text" style="padding: 0 26px 0 46%; " class="input-text w-100" v-model="code"  placeholder="">
                </div>
            </div>
        </div>
        <div class="custom mb-hp">
            <div class="container">
                <div class="row">
                    <div class="col-sm-3 col-3 mb-sm-0 mb-3 text-center">
                    </div>
                    <div class="col-sm-6 col-6 mb-sm-0 mb-3 text-center">
                        <el-button type="primary" :loading="loading" @click="sendCode" class="btn-links d-block w-100" style="color:white">Send</el-button>
                    </div>
                    <div class="col-sm-3 col-3 mb-sm-0 mb-3 text-center">
                    </div>
                </div>
            </div>
        </div>
    </form>
</template>

<script>
import { required , numeric} from 'vuelidate/lib/validators'
import { mapState } from 'vuex'
export default {
    props:['nationc','phonenumber'],
    data() {
        return {
            code:'',
            sendFail:'',
            loading:false,
        }
    },
    validations:{

    },
    components:{

    },
    computed: {

    },
    watch:{

    },
    methods:{
        sendCode(){
            this.loading = true;
            this.$store.dispatch('members/phone/verifyPhone',{
                code:this.code,
                phone:this.phonenumber,
                nation_code:this.nationc
            }).then(response => {
                this.loading = false;
                if(response.data.success == false){
                    var self = this;
                    self.sendFail = response.data.message
                    setTimeout(function(){
                        self.sendFail = '';
                    }, 2000);
                }else{
                    this.$emit('closeModalhai',{ index: 0, phone: this.phonenumber, nationc: this.nationc});

                }
                return;
            }).catch(error => {
                this.loading = false;
            })
        }
    },
    mounted(){


    }
}
</script>

