<template>
    <form action="" method="">
        <div class="modal-body wp-modal-body">
            <div class="titles font-18  mb-3">電話番号を登録する</div>
            <div class="intro font-18 mb-4">SPOTECHからの通知はこの電話番号に届きます</div>
            <span class="input-loginfail" v-if="sendFail != ''">{{sendFail}}</span>
            <div class="form-group mb-4">
                <select v-model="national" class="input-text w-100 border-radius-10" @change="changeNation($event)" :class="{'border-red': $v.national.$dirty && $v.national.$invalid}" @input="$v.national.$touch()">
                    <option value="0">アメリカ</option>
                    <option :value="item.code" v-for="(item, key) in list_nations" :key="`nation-${key}`" >{{item.name}}</option>
                </select>
            </div>

            <div class="form-group mb-4">
                <div class="group-numberphone">
                    <div class="first-number">{{code_nation}}</div>
                    <input type="text" class="input-text w-100 border-radius-10" v-model="phone" :class="{'border-red': $v.phone.$dirty && $v.phone.$invalid}" @input="$v.phone.$touch()"  placeholder="">
                </div>
            </div>
        </div>
        <div class="custom mb-hp">
            <div class="container">
                <div class="row">
                    <div class="col-sm-6 col-12 mb-sm-0 mb-3 text-center">
                        <el-button type="primary" :loading="loading == 1" @click="vefifyPhone()" class="btn-links d-block w-100 active">SMSで認証する</el-button>
                        <!-- <a href="javascript:;"   v-loading="loading" :class="checkActive" title="" ></a> -->
                    </div>
                    <div class="col-sm-6 col-12 mb-sm-0 mb-3 text-center">
                        <el-button type="primary" :loading="loading == 2" class="button-back btn-links d-block w-100 bg-white">音声通話で認証する</el-button>
                    </div>
                </div>
            </div>
        </div>

    </form>
</template>

<script>
import { Loading } from 'element-ui';
import { required , numeric} from 'vuelidate/lib/validators'
import { mapState } from 'vuex'
const nationalValidate = (value) => value !== null && value != 0
const codeNationValidate = (value) => value !== null && value != "+0"
export default {
    data() {
        return {
            list_nations:[],
            code_nation:"+0",
            phone:"",
            sendFail: "",
            national:"",
            active:"",
            loading:0
        }
    },
    validations:{
       phone:{
           required,
           numeric
       },
       national:{
           nationalValidate,
           required
       }
    },
    components:{
    },
    computed: {
        ...mapState({
            nation: state => state.resource.nation || []
        }),
        checkActive(){
            let invalid = this.$v.$invalid;
            if( invalid ){
               return "";
            }else{
                return "active";
            }
        }
    },
    watch:{
        nation(val){
            this.list_nations = val
        }
    },
    methods:{
        onShowModal(index) {
            this.isShowModalIndex = index;
        },
        getListNation(){
            this.$store.dispatch('resource/nation/searchResource');
        },
        changeNation(event){
            this.code_nation = event.target.value
        },
        vefifyPhone(){
            this.loading = 1;
            let invalid = this.$v.$invalid;
            if( invalid ){
                this.$v.$touch();
                return;
            }
            this.$store.dispatch('members/sendCodeVerifyPhone',{
            phone: this.phone,
            nation_code: this.code_nation
            }).then(response => {
                this.loading = 0;
                if(response.success == false){
                    var self = this;
                    self.sendFail = response.message
                    setTimeout(function(){
                        self.sendFail = '';
                    }, 2000);
                }else{
                    this.$emit('closeModal',{'status':2, 'code_nation':this.code_nation, 'phone':this.phone});
                }
                return;
            }).catch(error => {
                this.loading = 0;
                return;
            })
        }
    },
    mounted(){
        this.getListNation();

    }
}
</script>

