<template>
  <div>
    <div class="group-total-post">
      <div class="container">
        <div class="group-head-add-post">
          <div class="group-nav-post">
            <div class="list-post">
              <div class="item-post">
                <a href="javascript:;" class="links">{{ $t("Editing") }}</a>
              </div>
              <div class="item-post">
                <a href="javascript:;" class="links">{{ $t("ListOfDrafts") }}</a>
              </div>
            </div>
          </div>
          <div class="group-footer-chat">
            <div class="info-user-comment">
              <el-dropdown trigger="click" class="dropdown">
                <div class="el-dropdown-link btn user-comment d-flex align-items-center mb-0">
                  <div class="img-thumb mr-2" :style="{'background-image': 'url('+ CurrentUser.avatar + ')'}"></div>
                  <div class="name mr-2 text-white">{{ username }}</div>
                  <div class="icon-down text-white"><i class="fas fa-chevron-down"></i></div>
                </div>
                <el-dropdown-menu slot="dropdown">
                  <el-dropdown-item
                    v-for="(p, i) in companies"
                    v-bind:key="`company---${i}`">{{ p.company_title }}</el-dropdown-item>
                </el-dropdown-menu>
              </el-dropdown>
            </div>
          </div>
          <div class="group-choice">
            <div class="list-choice">
              <div class="item-message item">
                <el-dropdown @command="handleCommandLang">
                  <span class="links">
                    <i class="far fa-comment-dots"></i>
                  </span>
                  <el-dropdown-menu slot="dropdown">
                    <el-dropdown-item command="vi">Action 1 tieng viet</el-dropdown-item>
                    <el-dropdown-item command="en">Action 2 tieng anh</el-dropdown-item>
                    <el-dropdown-item command="ja">Action 3 tieng nhat</el-dropdown-item>
                  </el-dropdown-menu>
                </el-dropdown>
              </div>
              <div class="item-tag item">
                <el-dropdown @command="handleCommandCategori">
                  <span class="links">
                    <i class="fas fa-tag"></i>
                  </span>
                  <el-dropdown-menu slot="dropdown">
                    <el-dropdown-item command="1">Action 1</el-dropdown-item>
                    <el-dropdown-item command="2">Action 2</el-dropdown-item>
                    <el-dropdown-item command="3">Action 3</el-dropdown-item>
                  </el-dropdown-menu>
                </el-dropdown>
              </div>
              <div class="item-hashtag item">    
                <el-button class="button-new-tag links" size="small" @click="showInput">
                  <i class="fas fa-hashtag"></i>
                </el-button>
              </div>
              <div class="item-publish item">
                <el-button class="links" :loading="loading" @click="addPost()">
                  {{ $t("Publish") }}
                </el-button>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>

    <div class="container">
      <div class="group-add-user-post">
        <input
          type="text"
          v-model="objPost.title"
          class="title input-text w-100"
          :placeholder="$t('titleAddBlog')"
        />
        <div class="content-add-user">
          <div class="img-thumb" v-if="CurrentUser">
            <a href="javascript:;" class="image"
              :style="{'background-image': 'url('+ CurrentUser.avatar + ')'}">
            </a>
          </div>
          <div class="info">
            <div class="name" v-if="CurrentUser">
              <a href="javascript:;" class="links line-1">{{ username }}</a>
            </div>
            <div class="intro line-1">{{ CurrentUser.title }}</div>
          </div>
          <div class="box-btn-add-user" v-if="objPost.company_id > 0">
            <a href="javascript:;" class="links">
              <span><i class="fas fa-user-plus"></i></span>
            </a>
          </div>       
        </div>
        <div class="infotags">
          <span class="tag" v-if="language_code">{{$t('web_story_language')}}: </span> 
          <el-tag>
            {{language_code}} name
          </el-tag>
          <span class="tag" v-if="objPost.category_id">{{$t('web_story_categori')}}: </span> 
          <el-tag v-if="objPost.category_id">
            {{objPost.category_id}} name
          </el-tag>
        </div>
        <div class="infotags">
          <span class="tag" v-if="dynamicTags.length >0">{{$t('web_story_tags')}}: </span> 
          <el-tag
            :key="tag"
            v-for="tag in dynamicTags"
            closable
            :disable-transitions="false"
            @close="handleClose(tag)">
            #{{tag}}
          </el-tag>
          <el-input
            class="input-new-tag"
            v-if="inputVisible"
            v-model="inputValue"
            ref="saveTagInput"
            size="mini"
            @keyup.enter.native="handleInputConfirm"
            @blur="handleInputConfirm"
          ></el-input>
          <el-button class="button-new-tag2" size="small" v-if="!inputVisible && dynamicTags.length >0" @click="showInput">
            {{$t('NewTags')}}
          </el-button>
        </div>
      </div>
    </div>

    <div class="group-add-avatar">
      <div class="container">
        <div class="box-btn-add-avatar">
          <ImageUploadBlog v-model="objPost.image"/>
        </div>
      </div>
    </div>

    <div class="container">
      <div class="group-please-enter-text">
        <div class="" v-if="showEditorContent">
          <TinyMCE v-model="objPost.content" />
        </div>
        <a href="javascript:;" v-else class="links" @click="showEditorContent = true">
          <span class="icon"><i class="fas fa-plus-circle"></i></span>
          <span class="texts">{{ $t("pleaseEnterTheText") }}</span>
        </a>
      </div>
    </div>
  </div>
</template>

<script>
  import { getCompanies } from '~/services/member';
  import {mapState, mapGetters, mapActions} from "vuex";
  import _ from 'lodash';

  export default {
    layout: "custom",
    middleware: 'auth',
    name: 'AddBlog',
    data() {
      return {
        objPost: {
          id: 0,
          company_id: 0,
          category_id: 0,
          image: "",
          title: "",
          sapo: "",
          content: ""
        },
        CurrentUser: {},
        companies: {},
        showEditorContent: false,
        hasChange: false,
        loading: false,
        dynamicTags: [],
        inputVisible: false,
        inputValue: '',
        language_code: 'vi',
      }
    },
    computed: {
      ...mapState({
        register: state => state.register,
        auth: state => state.auth,
      }),
      ...mapGetters({
        memberType: "members/profile/memberType"
      }),
      username() {
        if (this.CurrentUser.company_title) return this.CurrentUser.company_title;
        return `${this.CurrentUser.first_name} ${this.CurrentUser.last_name}`;
      },
    },
    methods: {
      ...mapActions({
        saveBlogPost: 'blog/blogPost/saveBlogPost',
      }),
      async fetchCompanies() {
        const response = await getCompanies();
        this.companies = {...response.data};
      },
      addPost() {
        this.loading = true
        this.saveBlogPost(this.objPost)
        .then(response => {
          this.loading = false;
          this.$notify.success({
            title: this.$t("Success"),
            message: this.$t("CreateBlogPostSuccess")
          });
          window.location.reload();
        })
        .catch(error => {
          this.loading = false
          this.$notify.error({
            title: this.$t("Error"),
            message: error.message
          });
        });
      },
      setCurrentUser() {
        const user = this.$store.getters.getCompany;
        this.CurrentUser = !_.isEmpty(user)
          ? user
          : this.auth.authUser.user;
      },
      handleClose(tag) {
        this.dynamicTags.splice(this.dynamicTags.indexOf(tag), 1);
      },
      showInput() {
        this.inputVisible = true;
        this.$nextTick(_ => {
          this.$refs.saveTagInput.$refs.input.focus();
        });
      },
      handleInputConfirm() {
        let inputValue = this.inputValue;
        if (inputValue) {
          this.dynamicTags.push(inputValue);
        }
        this.inputVisible = false;
        this.inputValue = '';
      },
      handleCommandCategori(command) {
        this.objPost.category_id = parseInt(command);
      },
      handleCommandLang(command) {
        this.language_code = command;
      },
    },
    components: {
      ImageUploadBlog: () => import('~/components/share/ImageUploadBlog'),
      TinyMCE: () => import('~/components/share/TinyMCE'),
    },
    mounted() {
      this.setCurrentUser();
      this.objPost.company_id = _.has(this.CurrentUser, 'company_id')
        ? this.CurrentUser.company_id
        : 0;
    },
    created() {
      this.fetchCompanies();
    }
 };
</script>

<style scoped>
  .title::-webkit-input-placeholder {
   font-size: 2.125rem;
   color: #D2D2D2;
  }
  .title:-ms-input-placeholder {
    font-size: 2.125rem;
    color: #D2D2D2;
  }
  .title::placeholder {
    font-size: 2.125rem;
    color: #D2D2D2;
  }
  .group-add-user-post .title {
  	background: transparent;
    border-bottom: 1px dashed #ffffff;
    border-top: none;
    border-right: none;
    border-left: none;
    color: #ffffff;
  }
  .group-add-user-post .content-add-user .img-thumb .image {
    display: block;
    width: 37px;
    height: 37px;
    position: relative;
    overflow: hidden;
    background-size: cover;
    background-position: center center;
  }
  .group-footer-chat .info-user-comment .dropdown .user-comment .img-thumb {
    display: inline-block;
    width: 30px;
    height: 30px;
    position: relative;
    overflow: hidden;
    border-radius: 50%;
    background-size: cover;
    background-position: center center;
  }
  .group-total-post .group-head-add-post .group-choice .list-choice .el-button {
      display: inline-block;
      color: rgb(112, 112, 112);
      min-width: 70px;
      min-height: 36px;
      font-size: 13px;
      text-align: center;
      background: rgb(210, 210, 210);
      padding: 0 10px;
  }
  .group-total-post .group-head-add-post .group-choice .list-choice .el-button span {
    background: #77D353;
    color: #fff;
    min-width: 50px;
  }
  .group-total-post {
    position: sticky;
    top: 0;
    background: #25315c;
    z-index: 1;
  }
  .box-btn-add-user .links {
    line-height: 1 !important;
  }
  .tag{
    color: #d2d2d2
  }
  .el-tag + .el-tag {
    margin-left: 10px;
  }
  .button-new-tag {
    min-width: 5px !important;
    border: none;
    background: transparent !important;
    color: #ffffff !important;
    padding: 0 !important;
  }
  .input-new-tag {
    width: 90px;
    margin-left: 5px;
    vertical-align: bottom;
  }
  .button-new-tag2 {
    margin-left: 5px;
    height: 32px;
    width: 90px;
    line-height: 30px;
    padding-top: 0;
    padding-bottom: 0;
  }
  .infotags{
    margin-top: 20px;
  }
</style>
