<template>
    <section>
        <div class="group-banner-big_d">
            <div class="img-thumb">
                <div class="image">
                    <img src="~/assets/images/upload/banner-blog.png" alt="" class="img-fluid">
                </div>
            </div>
        </div>
        <!-- <HeadBanner 
            :object_id="id" 
            :type="4" 
            :objData="story" 
            :url="urlShareBlog"
            :src.sync="story.image"/> -->
        <div class="group-story_d">
            <div class="container">
                <div class="row">
                    <div class="col-md-11 col-12 m-auto">
                        <div class="content">
                            <div class="row">
                                <div class="col-lg-7 col-12">
                                    <LeftStoryDetail :objData="story" />
                                </div>

                                <div class="col-lg-4 col-12 offset--1">
                                    <aside class="group-aside_d">
                                        <RightStoryPopular/>
                                        <RightStoryTopics/>
                                    </aside>
                                </div>
                            </div>
                        </div>
                        <div class="rule-grey margin-bottom-40"></div>

                        <div class="group-similar-posts">
                            <BotStorySimilar :objData="story"/>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
</template>

<script>
import { mapActions } from 'vuex'
export default {
    layout: "custom",
    name: 'StoryDetail',
    components: {
        HeadBanner: () => import('~/components/share/header/HeadBanner'),
        LeftStoryDetail: () => import('~/components/community/story/leftStoryDetail'),
        RightStoryPopular: () => import('~/components/community/story/rightStoryPopular'),
        RightStoryTopics: () => import('~/components/community/story/rightStoryTopics'),
        BotStorySimilar: () => import('~/components/community/story/botStorySimilar'),
    },
    data() {
        return {
            id: 0,
            story: {},
        }
    },
    computed: {
        urlShare() {
            return window.location.href;
        }
    },
    methods: {
        ...mapActions({
            getBlogPost: 'blog/blogPost/detailBlogPost',
        }),
        async getBlog() {
            const response = await this.getBlogPost(this.id);
            console.log(response, '>>>>>>>')
            this.story = response.data;
        }
    },
    mounted() {
        this.id = parseInt(this.$route.params.id);
        this.getBlog();
    }
}
</script>