<template>
  <div>
    <TheHeader v-if="company && !isCreatePage" v-model="company">
      <template slot="body">
        <div class="group-item ">
          <div class="wrap-item" >
            <nuxt-link :to="localePath({ name: 'project-detail-id', params: { id: this.id }})" class="item">
              <span @click="setType(1, id, objDataProject, urlShareProject)">
                {{ company.is_owner ?  $t('preview') : $t('viewnotproject')}}
              </span>
            </nuxt-link>
          </div>
          <div class="wrap-item" >
            <nuxt-link :to="localePath({ name: 'project-client-id', params: { id: this.company.id }})" class="item">
              <span @click="setType(2, company.id, objData, urlShareClient)">{{$t('CompanyProfile')}}</span>
            </nuxt-link>
          </div>
          <div class="wrap-item">
            <nuxt-link :to="localePath({ name: 'project-client-blog-id', params: { id: this.company.id }})" class="item">
              <span @click="setType(2, company.id, objData, urlShareClient)">{{ $t('blog') }}</span>
            </nuxt-link>
          </div>
          <div class="wrap-item">
            <nuxt-link :to="localePath({ name: 'project-client-project-id', params: { id: this.company.id }})" class="item">
              <span @click="setType(2, company.id, objData, urlShareClient)">{{ $t('Project') }}</span>
            </nuxt-link>
          </div>
          <div class="select-menu">
            <label class="text-white mb-2 mr-2">{{$t('all')}}</label>
            <select name="" class="select-sub-menu input-text input text-white">
              <option value="">{{$t('preview')}}</option>
              <option value="">{{$t('personal_information')}}</option>
              <option value="">{{$t('blog')}}</option>
            </select>
          </div>
        </div>
      </template>
    </TheHeader>
    <HeadBanner v-if="company && !isCreatePage"
      :objData="data_wishlist"
      :object_id="object_id_wishlist"
      :type="type"
      :url="url"
      :is_yourself="company.is_owner"
      :src="image"/>
    <NuxtChild /> 
  </div>
</template>
<script>
  import { mapActions } from 'vuex';
  import eventBus from '~/services/bus';
  export default {
    name: 'BaseHeaderProject',
    components: {
      TheHeader: () => import('~/components/profile/client/TheHeader'),
      HeadBanner: () => import('~/components/share/header/HeadBanner'),
    },
    computed: {
      company() {
        return this.objData || null;
      },
      isCreatePage() {
        return this.$route.path.endsWith("create");
      },
      image() {
        if (this.type == 1 && this.objDataProject && this.objDataProject.project) {
          return this.objDataProject.project.image 
        }
        if (this.type == 2 && this.objData) return this.objData.cover_photo
      },
      urlShareProject() {
        return window.location.origin+this.localePath({ name: 'project-detail-id', params: { id: parseInt(this.id) }})
      },
      urlShareClient() {
        return window.location.origin+this.localePath({ name: 'project-client-id', params: { id: this.company.id }})
      },
    },
    transition (to, from) {
      return 'out-in'
    },
    data() {
      return {
        objData: null,
        id: '',
        currentType: '',
        projectParam: {
          project_id: 0,
        },
        objData: null,
        objDataProject: null,
        data_wishlist: {},
        type: 1,
        object_id_wishlist: 0,
        imageproject: null,
        getprojectParam: {
          project_id: 0,
          company_id: 0,
        },
        url: null,
      }
    },
    methods: {
      ...mapActions({
        getDetailProject: "project/post/getCoverProject",
        getshowProject: "project/post/getShowProject",
      }),
      async getDetail() {
        const { data } = await this.getDetailProject(this.projectParam);
        this.objData = data;
        if (this.$route.path.indexOf('project/detail') === -1) {
          this.setType(2, this.$route.params.id, data, this.urlShareClient);
        }
      },
      setType(type, id, obj, url) {
        this.type = type;
        this.object_id_wishlist = id;
        this.data_wishlist = obj;
        if(url) { 
          this.url = url;
        }else {
          this.url = window.location.href
        }
      }
    },
    mounted() {
      if(!this.isCreatePage) {
        this.id = localStorage.getItem('project_id');
        this.currentType = this.$store.getters.getCompany;
        this.projectParam.project_id = parseInt(this.id);
        this.getprojectParam.project_id = parseInt(this.id);
        if (_.has(this.currentType, 'company_id')) {
          this.projectParam.company_id = this.currentType.company_id;
        }
        this.getDetail();
        // eventBus.$on('ImageProject', (i) => {
        //   this.imageproject = i;
        // } );
        // eventBus.$on("Favorite", e => {
        //   this.objDataProject = e.objData;
        // });
      }
      eventBus.$on("Favorite", e => {
        this.objDataProject = e.objData;
      });
      eventBus.$on("updateObjectWishlist", e => {
        this.setType(1, e.project.project_id, e);
      });
      eventBus.$on("onsetTypeClient", e => {
        this.setType(2, this.company.id, this.objData, this.urlShareClient);
      });
    },
  }
</script>
<style>
</style>
