<template>
  <div class="group-up-content_c14">
    <div class="group-text_c14 rule-top-35">
      <div class="title">{{$t('TextProjectDetail1')}}</div>
      <div class="intro">{{$t('TextProjectDetail2')}}</div>
    </div>

    <div class="group-history_c14 rule-top-35">
      <div class="header font-28 text-white margin-bottom-35">{{ $t('ProjectDetailBidHistory') }}</div>
      <div class="total-history">{{ $t('ProjectDetailTotalEntries') }}：{{ total}}</div>
    </div>
    <project-applied :applied="applied" :total="total" :change-page-applied="changePageApplied"/>
    <project-related :project="objData.related" />
  </div>
</template>

<script>
  import _ from 'lodash'

  export default {
    name: "ProjectApplies",
    props: {
      objData: {
        type: Object
      },
      applied: {
        type: [Object, Array]
      },
      total: {
        type: Number
      },
      changePageApplied: {
        type: Function
      }
    },
    data() {
      return {
        apply: [],
        contentTranslate: [],
      };
    },
    components: {
      ProjectRelated: () => import('./ProjectRelated'),
      ProjectApplied: () => import('~/components/project/share/ProjectApplied'),
    },
    methods: {
      getApply() {
        this.apply = this.applied;
      },
    },
    created() {
      this.getApply();
    }
  };
</script>
