
<template>
  <div class="c14-1">
    <div class="rule-bottom-35">
      <div class="name-title text-white head mb-4">{{ objData.project.title }}</div>
      <div class="group-job">
        <div class="d-flex align-items-center flex-wrap">
          <div
            class="name-job pr-5"
          >{{ objData.project.nation_name }}・{{objData.project.category_title}}</div>
          <div class="group-month d-flex">
            <div
              class="item-month"
              v-for="(i, key) in objData.durations"
              :key="'key'+key"
            >{{i.duration_name}}</div>
          </div>
        </div>
      </div>
      <div class="list-follow margin-bottom-35">
        <div class="d-flex">
          <div class="item d-flex align-items-center mr-3">
            <div class="icon mr-2">
              <img src="~/assets/images/icon/hammer.png" alt />
            </div>
            <div class="number color-lightgrey font-14">{{ applied.totalRow ? applied.totalRow : 0 }}</div>
          </div>
          <div class="item d-flex align-items-center mr-3">
            <div class="icon mr-2">
              <i class="far fa-eye color-lightgrey font-14"></i>
            </div>
            <div class="number color-lightgrey font-14">{{objData.project.hit}}</div>
          </div>
          <div class="item d-flex align-items-center mr-3">
            <div class="icon mr-2">
              <i class="far fa-heart color-lightgrey font-14"></i>
            </div>
            <div
              class="number color-lightgrey font-14"
            >{{objData.project.wishlist == "" ? 0 : objData.project.wishlist}}</div>
          </div>
        </div>
      </div>
    </div>
    <div class="rule-bottom-35">
      <div class="header font-28 text-white margin-bottom-35">{{ $t('SelfIntroduction') }}</div>
      <div class="group-btn mb-4">
        <el-button
          class="read d-block text-center"
          style="width:100%"
          :loading="loading_button"
          @click="translateContent"
          v-if="checkLanguage()"
        >{{ $t('ProjectDetailTranslate') }}</el-button>
      </div>
      <div class="font-20 text-white margin-bottom-35">
        <pre>{{content}}</pre>
      </div>
      <div
        class="font-15 text-white margin-bottom-35"
        style="font-style:italic"
        v-if="contentTrans != ''"
      >{{contentTrans}}</div> 
      <div class="read-more mb-hp">
        <a
          href="javascript:;"
          title
          class="text-link d-block mb-2 font-16"
          @click="readmorecontent"
          v-if="objData.project.content && (content.length < objData.project.content.length)">
          <span class="texts mr-4">
            {{ $t('ExpertPortfoliosLoadMore') }}
            </span>
          <span class="icon font-16">
            <i class="fas fa-chevron-down color-green"></i>
          </span>
        </a>
        <a
          href="javascript:;"
          title
          class="text-link d-block mb-2 font-16"
          @click="collapseContent"
          v-if="objData.project.content && (content.length == objData.project.content.length)">
          <span class="texts mr-4">
            {{ $t('ExpertPortfoliosCollapse') }}
          </span>
          <span class="icon font-16">
            <i class="fas fa-chevron-up color-green"></i>
          </span>
        </a>
        <nuxt-link
          :to="localePath({ name: 'ticket-id-project', params:{ id: objData.project.project_id} })"
          title
          class="text-link d-block font-16"
        >
          <span class="texts mr-4">{{ $t('Ticket') }}</span>
        </nuxt-link>
      </div>
    </div>
  </div>
</template>

<script>
import { mapActions } from "vuex";
export default {
  props: ["objData", "applied"],
  data() {
    return {
      isShowModalIndex: 0,
      loading_button: false,
      totalContent: 50,
      contentTrans: ""
    };
  },
  methods: {
    ...mapActions({
      getContentTranslate: "project/post/getProjectTranslation"
    }),
    translateContent() {
      this.loading_button = true;
      this.getContentTranslate({
        project_id: this.$route.params.id,
        language_code: this.$store.getters.getLocale
      }).then(response => {
        this.loading_button = false;
        this.contentTrans = response.data.content;
      });
    },
    checkLanguage() {
      return (
        this.objData.project.language_code_source !==
        this.$store.getters.getLocale
      );
    },
    readmorecontent() {
      this.totalContent = this.objData.project.content.length;
    },
    collapseContent() {
      this.totalContent = 50;
    },
    onShowModal(index) {
      this.isShowModalIndex = index;
    }
  },
  computed: {
    content() {
      if (
        this.objData == null ||
        this.objData.project == null ||
        this.objData.project.content == null
      ) {
        return "";
      }

      let text = this.objData.project.content;
      let list = text != null ? text.slice(0, this.totalContent) : "";
      return list;
    }
  }
};
</script>

<style>
pre {
  color: #fff !important;
  font-size: 20px !important;
  white-space: pre-line;
  font-family: 'SourceSansPro',sans-serif !important;;
}
</style>
