<template>
  <div class="c14-2">
    <div class="group-function rule-bottom-35">
      <div class="header font-28 text-white margin-bottom-40">{{ $t('ExpertCharacteristic') }}</div>
      <div class="list-function row">
        <div
          class="col-xl-6 col-lg-12 col-sm-6 col-12"
          v-for="(i, key) in Objdt"
          :key="'key'+key"
        >
          <div class="function margin-bottom-37 d-flex">
            <div v-if="i == 1">
              <div class="icon">
                <img src="~/assets/images/icon/plane.svg" alt />
              </div>
              <div class="texts">{{ $t('ExportWordInJapan') }}</div>
            </div>
            <div v-if="i == 2">
              <div class="icon">
                <img src="~/assets/images/icon/laptop.svg" alt />
              </div>
              <div class="texts">{{ $t('ExportWordRemote') }}</div>
            </div>
          </div>
        </div>

        <div class="col-xl-6 col-lg-12 col-sm-6 col-12">
          <div class="function margin-bottom-37 d-flex">
            <div class="icon">
              <img src="~/assets/images/icon/vacation.svg" alt />
            </div>
            <div class="texts">
              {{ $t('ExpertWorkHoliday') }} {{objData.project.number_holiday || 0 }} {{ $t('day') }}
            </div>
          </div>
        </div>
      </div> 
      <a href="javascript:;" @click="loadmoreOrColl()" title class="text-link d-block mb-2 font-16 margin-bottom-38">
        <span class="texts mr-4">
          {{ Objdt.length < 2 ?  $t('ExpertPortfoliosLoadMore') : $t('ExpertPortfoliosLoad') }}
        </span>
        <span class="icon font-16">
          <i :class="Objdt.length < 2 ? 'fas fa-chevron-down' : 'fas fa-chevron-up'"></i>
        </span>
      </a>
    </div>
    

  </div>
</template>

<script>
export default {
  data(){
    return {
      Objdt:[],
    };
  },
  props:['objData'],
  methods:{
    checkArrWay(){
      if(this.objData.project.way_working.length > 1){
        this.Objdt = this.objData.project.way_working.slice(0, 1);
      }else{
        this.Objdt = this.objData.project.way_working;
      }
      console.log();
    },
    loadmoreOrColl(){
      if(this.Objdt.length < 2){
        this.Objdt = this.objData.project.way_working;
      }else{
        this.Objdt = this.objData.project.way_working.slice(0, 1);
      } 
    }
  },
  mounted(){
    this.checkArrWay();
  }
};
</script>

<style>
</style>
