<template>
  <div class="c14-3">
    <div class="rule-bottom-35">
      <div class="group-topic margin-bottom-37">
      <div class="header font-28 text-white margin-bottom-37">{{ $t('WorkEnvironment') }}</div>
      <div class="panel-body-hp order_2">
        <div class="list-hp">
          <div class="row">
            <div class="col-sm-6 col-12 mb-3" v-for="(i, key) in work">
              <div class="list-item-hp">
                <div class="img-thumb">
                  <a href="javascript:;" title class="image">
                    <img :src="i.image" alt class="img-fluid img-cover" />
                  </a>
                </div>
                <div class="overlay">
                  <h3 class="wp-title">
                    <a href="javascript:;" title class="name-title">{{i.work_environment_name}}</a> 
                  </h3>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    
    <a href="javascript:;"
      title
      class="text-link d-block mb-2 font-16 margin-bottom-38"
      v-if="!isShow && this.objData.workEnvironments.length > 2"
      @click="loadmore">
      <span class="texts mr-4" v-if="!checkLoadMore()">{{ $t('ExpertPortfoliosLoadMore') }}</span>
      <span class="texts mr-4" v-else>{{ $t('ExpertPortfoliosLoad') }}</span>
      <span class="icon font-16">

        <i class="fas fa-chevron-down"
          v-bind:class="{ 'fa-chevron-up': checkLoadMore(), 'fa-chevron-down': !checkLoadMore() }"></i>
      </span>
    </a>
    </div>
  </div>
</template>

<script>
  import _ from 'lodash'

  export default {
    props:['objData'],
    data(){
      return {
        totalSizeWork: 2,
        isShow: false,
        work: [],
      }
    },
    methods:{
      loadmore() {
        if (this.checkLoadMore()) {
          this.setDefault();
          return;
        }
        const index = this.work.length;
        this.work = _.concat(this.work, this.objData.workEnvironments.slice(index, index + this.totalSizeWork));
      },
      setDefault() {
        this.work = [];
        this.work = this.objData.workEnvironments.slice(0, this.totalSizeWork);
      },
      checkLoadMore() {
        return this.work.length === this.objData.workEnvironments.length;
      }
    },
    mounted() {
      this.setDefault();
      this.isShow = this.totalSizeWork === this.objData.workEnvironments.length;
    }
  };
</script>

<style>
</style>
