<template>
  <div class="c14-5">
    <div class="group-contact">
      <div class="header font-28 text-white margin-bottom-37">{{ $t('ExpertRules') }}</div>
      <div class="contact">
        <div class="row">
          <div class="col-sm-6 col-12 mb-3" v-if="checkVerified('email')">
            <div class="item-contact">
              <div class="d-flex align-items-center">
                <div class="icon">
                  <i class="fas fa-envelope"></i>
                </div>
                <div class="texts">{{ $t('EmailVerified') }}</div>
              </div>
            </div>
          </div>
          <div class="col-sm-6 col-12 mb-3" v-if="checkVerified('phone')">
            <div class="item-contact">
              <div class="d-flex align-items-center">
                <div class="icon">
                  <i class="fas fa-phone-alt"></i>
                </div>
                <div class="texts">{{ $t('PhoneVerified') }}</div>
              </div>
            </div>
          </div>
          <div class="col-sm-6 col-12 mb-3" v-if="checkVerified('facebook')">
            <div class="item-contact">
              <div class="d-flex align-items-center">
                <div class="icon">
                  <i class="fab fa-facebook-f"></i>
                </div>
                <div class="texts">{{ $t('FacebookVerified') }}</div>
              </div>
            </div>
          </div>
          <div class="col-sm-6 col-12 mb-3" v-if="checkVerified('linkedin')">
            <div class="item-contact">
              <div class="d-flex align-items-center">
                <div class="icon">
                  <i class="fab fa-linkedin-in"></i>
                </div>
                <div class="texts">{{ $t('LinkedinVerified') }}</div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>

</template>

<script>

  import _ from 'lodash';

  export default {
    name: "ExpertRules",
    props: ['companyVerify', 'objData'],
    computed: {
      verified() {
        return this.companyVerify;
      }
    },
    methods: {
      checkVerified(type) {
        return _.has(this.verified, type);
      }
    }
  };
</script>

<style>
</style>
