<template>
  <div class="c14-4">
    <div class="rule-bottom-35">
      <div class="group-desired margin-bottom-37">
        <div class="header font-28 text-white margin-bottom-37">{{ $t('ExpertSkill') }}</div>
        <div class="group-desired-skills">
            <div class="row">
              <div class="col-xl-6 col-lg-6 col-sm-6 col-6 mb-6 a" v-for="(i, key) in skill" v-if="key % 2 == 0" >
                <div class="group-skills">
                  <div class="d-flex justify-content-between flex-wrap">
                    <div class="item">
                      {{ i.skill_name }},
                    </div>
                    <div class="item">
                      {{ i.year_experience_name }}
                    </div>
                  </div>
                </div>
              </div>
              <div class="col-xl-6 col-lg-6 col-sm-6 col-6 mb-6 b" v-for="(i, key) in skill" v-if="key % 2 != 0">
                <div class="group-skills">
                  <div class="d-flex justify-content-between flex-wrap">
                    <div class="item">
                      {{ i.skill_name }}, 
                    </div>
                    <div class="item">
                      {{ i.year_experience_name }}
                    </div>
                  </div>
                </div>
              </div>
            </div> 
        </div>
      </div>
      <a
        href="javascript:;"
        title
        class="text-link d-block mb-2 font-16 margin-bottom-38"
        v-if="!isShow && this.objData.skills.length > 2"
        @click="loadmore"
      >
        <span class="texts mr-4" v-if="!checkLoadMore()">
          {{ $t('ExpertPortfoliosLoadMore') }}
        </span>
        <span class="texts mr-4" v-else>
          {{ $t('ExpertPortfoliosLoad') }}
        </span>
        <span class="icon font-16">
          <i
            class="fas fa-chevron-down"
            v-bind:class="{ 'fa-chevron-up': checkLoadMore(), 'fa-chevron-down': !checkLoadMore() }"
          ></i>
        </span>
      </a>
    </div>
  </div>
</template>

<script>
import _ from "lodash";

export default {
  props: ["objData"],
  data() {
    return {
      totalSizeWork: 2,
      isShow: false,
      skill: []
    };
  },
  methods: {
    loadmore() { 
      if (this.checkLoadMore()) {
        this.setDefault();
        return;
      }
      const index = this.skill.length;
      this.skill = _.concat(
        this.skill,
        this.objData.skills.slice(index, index + this.totalSizeWork)
      );
    },
    setDefault() {
      
      this.skill = [];
      this.skill = this.objData.skills.slice(0, this.totalSizeWork);
    },
    checkLoadMore() {

      return this.skill.length === this.objData.skills.length;
    }
  },
  mounted() {
    this.setDefault();
    this.isShow = this.totalSizeWork === this.objData.skills.length;
  }
};
</script>

<style>
</style>
