<template>
  <section class="body-hp">
    <div class>
      <div class="row">
        <div class="col-12">
          <div class="wp-product-hp wp-order mb-hp prd-2">
            <header class="panel-head">
              <h2 class="heading-2 title-heading">
                <span>{{ $t('ProjectRelated') }}</span>
              </h2>
            </header>
            <section class="panel-body-prd">
              <ul class="row mb-4">
                <li class="col-lg-4 col-md-6 col-sm-12 col-12 mb-4"
                  v-for="(relate, index) in project"
                  v-bind:key="`related${index}`">
                  <div class="item-prd item-prd-vote">
                    <div
                      class="slide-item-prd swiper-container-initialized swiper-container-horizontal">
                      <div class="img-thumb">
                        <a href="javascript:;" title class="image">
                          <ElImageLazy :src="relate.image"/>
                        </a>
                        <favorite :object_id="relate.id" :objData="relate" :type="1" :is_yourself="0" :custom="1"/>
                      </div>
                      <span class="swiper-notification" aria-live="assertive" aria-atomic="true"></span>
                    </div>
                    <div class="info">
                      <div class="group-meta d-flex align-items-center justify-content-between mb-2">
                        <div class="name-head">{{ relate.nation_name }} - {{ relate.category_title }}</div>
                      </div>
                      <div class="name-title">
                        <a href="javascript:;"
                          title class="title line-2"
                          @click="goToProductPage(relate.id)">{{ relate.project_title }}</a>
                      </div>
                      <div class="wp-salary">{{ $t('PriceProject') }}： {{ relate.price_end }}</div>
                      <div class="wp-time">{{ $t('SearchPeriod') }}： {{ relate.duration_name }}</div>
                      <div class="wp-rating d-flex">
                        <div class="meta-rate d-flex">
                          <div class="number-rate">{{ relate.rate }}</div>
                          <el-rate v-model="relate.rate"
                            :colors="['#77D353', '#77D353', '#77D353']"
                            :disabled-void-color="'#d2d2d2'"
                            disabled></el-rate>
                        </div>
                      </div>
                    </div>
                  </div>
                </li>
              </ul>
            </section>
          </div>
        </div>
      </div>
    </div>
  </section>
</template>

<script>
  export default {
    name: 'ProjectRelated',
    data() {
      return {
      };
    },
    components: {
      Favorite: () => import('~/components/share/header/Favorite'),
      ElImageLazy: () => import('~/components/share/ElImageLazy'),
    },
    props: ['project'],
    methods: {
      goToProductPage(pid) {
        this.$router.push(this.localePath({ name: 'project-detail-id', params: {id: pid }}));
      }
    }
  }
</script>

<style scoped>
  li {
    cursor: pointer;
  }
  .img-thumb > a.icon {
    position: absolute;
    top: 20px;
    right: 20px;
    font-weight: 500;
    color: #ffffff;
    z-index: 2;
    outline: none;
  }
</style>
