<template>
    <div class="c--ticket-form">
        <div class="group-article margin-bottom-37">
            <div class="d-flex justify-content-between align-items-center">
                <div class="info">
                    <div class="name">{{ $t('webContactWithUsername', { name: fullName }) }}</div>
                </div>
                <div class="img-thumb">
                    <a href="javascript:;" class="image">
                        <el-avatar :src="avatar"/>
                    </a>
                </div>
            </div>
        </div>
        <el-form :model="message" :rules="rules" ref="message" class="c--ticket-form group-questions">
            <el-form-item :label="$t('webAnyQuestionFor', { name: fullName })" prop="body">
                <el-input class="textarea font-16 w-100 color-lightgrey" :placeholder="$t('webEnterQuestionContent')" type="textarea" rows="3" v-model="message.body"></el-input>
            </el-form-item>
            <el-form-item class="group-btn" v-show="!isSameExpert && !isSameCompany">
                <el-button :disabled="isSameExpert || isSameCompany" v-loading="loading" @click="onChatWith" class="test-status btn-send-ticket bg-green w-100">{{ $t('webCheckBidStatus', { name: fullName }) }}</el-button>
            </el-form-item>

        </el-form>
    </div>
</template>

<script>
import { mapState, mapActions, mapGetters } from 'vuex'

export default {
    name: "TicketForm",
    props:{
        //project
        //expert
        //company
        type:{
            type: Number,
            default: 1
        },
        item: {
            type: Object,
            default: null
        },
        loading:{
            type: Boolean,
            default: false
        }
    },
    data(){
        return {
            message:{
                body: '',
                type: 'text'
            },
            rules: {
                body: [
                    { required: true, message: this.$t('webTickketMessageRequired'), trigger: 'blur' },
                    { min: 1, max: 255, message: this.$t('webTickketMessageLengthValidate',{from:1, to:255}), trigger: 'blur' }
                ]
            }
        }
    },

    computed:{
        ...mapState({
            auth: state => state.auth
        }),
        ...mapGetters({
            company: 'getCompany'
        }),
        me() {
            return this.auth != null && this.auth.authUser != null && this.auth.authUser.user != null ? this.auth.authUser.user : null;
        },
        meId() {
            return this.me && this.me.id ? this.me.id : 0;
        },
        itemId() {
            return this.item && this.item.id ? this.item.id : 0
        },
        fullName() {
            return this.item ? [this.item.first_name,  this.item.last_name].join(' '): ''
        },
        avatar() {
            return this.item && this.item.avatar ? this.item.avatar : ''
        },
        companyId() {
            return this.item && this.item.owner_company && this.item.owner_company.id ? this.item.owner_company.id : 0
        },
        
        isSameExpert() {
            return this.meId && this.itemId ==  this.meId ? true : false
        },
        isSameCompany() {
            return this.companyId && this.company && this.company.company_id ==  this.companyId ? true : false
        }
    },
    methods: {

        onChatWith() {
            
            if( this.type < 0 || this.type > 3 ) {
                this.showNotification(this.$t('webErrorTitle'), this.$t('webTicketSupportType'), 'error');
                return;
            }

            if( this.item == null ) {
                this.showNotification(this.$t('webErrorTitle'), this.$t('webParamInvalid'), 'error');
                return;
            }
            this.$refs.message.validate((valid) => {
                if (valid)
                {
                    this.$emit('onSendTicket', this.message);
                }
            });
        }
    }
}
</script>
<style>
    .btn-send-ticket:hover{
        color: black !important;
    }
    .c--ticket-form textarea {
        background: transparent;
    }
    .group-left_c133 .group-article .img-thumb .image .el-avatar{
        display: block;
        height: 60px;
        width: auto;
    }
    .group-left_c133 .group-article .img-thumb .image .el-avatar >img{
        width: 60px;
        border-radius: 50%;
    }
    .group-questions .el-form-item__label{
        color: #fff;
        font-size: 20px;
        margin-bottom: 10px;
    }
    .group-questions .el-form-item .el-form-item__content .textarea >textarea{
        color: #d2d2d2 !important;
        min-height: 90px !important;
    }
    .group-left_c133 .el-button{
        border: none;
        transition: all .3s;
    }
    .group-right_c133 .item-prd-vote .img-thumb .heart{
        height: 30px;
        font-size: unset;
    }
    .group-right_c133 .item-prd-vote .img-thumb .heart >img{
        width: 30px;
    }
    .el-form-item.is-required:not(.is-no-asterisk) .el-form-item__label-wrap>.el-form-item__label:before, 
    .el-form-item.is-required:not(.is-no-asterisk)>.el-form-item__label:before{
        display: none;
    }
</style>
