<template>
  <div>
    <project-detail />
  </div>
</template>

<script>
  export default {
    name: 'ProjectClientDetail',
    components: {
      ProjectDetail: () => import('~/pages/profile/client/_id'),
    }
  }
</script>
