<template>
  <section class="body-hp" style="width: 100%;">
    <div class="modal-sp-big modal-b112-pro">
      <div class="modal-body modal-body-b112-pro">
        <section class="panel-body-choose panel-body-hp">
          <div class="list-hp row">
            <div class="col-xl-3 col-lg-4 col-md-6 col-sm-12 col-12 mb-4"
                 v-for="(we, k) in workEnvironment"
                 :key="k" @click="chooseTopic(we)">
              <div class="list-item-hp">
                <div class="img-thumb">
                  <a href="javascript:;" title="" class="image">
                    <img :src="we.image" alt="" class="img-fluid img-cover">
                  </a>
                  <a href="javascript:;" class="heart d-block" :class="{'active': !!choisedTopic(we.id) }">
                    <i class="far fa-circle"></i>
                  </a>
                </div>
                <div class="overlay">
                  <h3 class="wp-title">
                    <a href="javascript:;" title="" class="name-title">{{ we.name }}</a>
                  </h3>
                </div>
              </div>
            </div>
          </div>
        </section>
      </div>
      <div class="modal-footer custom-sticky bottom">
        <div class="group-read-more d-flex">
          <a href="javascript:;" title="" @click="onChoose" class="filter-top text-white ml-auto">
            <span>{{ $t('Add')}}</span>
          </a>
        </div>
      </div>
    </div>
  </section>
</template>

<script>
  import {mapGetters} from "vuex";

  export default {
    props: ['value'],
    data() {
      return {
        arrSelect: [],
        work_environment: null,
        queryString: {},
      }
    },
    computed: {
      ...mapGetters({
        workEnvironment: 'resource/workEnvironment'
      })
    },
    methods: {
      chooseTopic(value) {
        if (this.choisedTopic(value.id)) {
          const index = this.work_environment.findIndex(w => w.id === value.id);
          this.work_environment.splice(index, 1);
        } else {
          this.work_environment.push(value);
        }
      },
      choisedTopic(id) {
        if (!this.work_environment) return false;
        return this.work_environment.find(w => w.id === id);
      },
      onChoose() {
        this.$emit('input', this.work_environment)
        this.$emit('close')
      },
    },
    mounted() {
      this.work_environment = [...this.value]
    }
  };
</script>
<style scoped>
  .list-item-hp .form-checkbox {
    display: block;
    height: 20px;
    width: 20px;
  }

  .list-item-hp .form-checkbox .input-checkbox {
    display: none
  }

  .list-item-hp .form-checkbox span {
    position: relative;
    cursor: pointer;
    display: block;
  }

  .list-item-hp .form-checkbox span::before {
    position: absolute;
    content: '';
    width: 20px;
    height: 20px;
    border: 1px solid #ffffff;
    left: 0px;
    top: 0px;
    border-radius: 50%;
  }

  .list-item-hp .form-checkbox span::before {
    position: absolute;
    content: '';
    width: 20px;
    height: 20px;
    border: 1px solid #ffffff;
    left: 0px;
    top: 0px;
    border-radius: 50%;
  }

  .list-item-hp .form-checkbox input[type="checkbox"]:checked + span::before {
    background: #77D353;
    border-color: #77D353;
  }
</style>
