@font-face {
  font-family: 'SourceSansPro';
  //src: url('../fonts/Source_Sans_Pro/SourceSansPro-Regular.ttf');
  font-weight: 400;
}

body {
  font-family: "SourceSansPro",BlinkMacSystemFont,"Segoe UI",Roboto,"Helvetica Neue",Arial,"Noto Sans",sans-serif,"Apple Color Emoji","Segoe UI Emoji","Segoe UI Symbol","Noto Color Emoji" !important;
  font-weight: 400 !important;
  overflow: inherit !important;
  font-size: 16px;
  color: #3C3C3C;
  background: #25315c; /* Old browsers */
  background: -moz-linear-gradient(top,  #25315c 2%, #0a1747 100%); /* FF3.6-15 */
  background: -webkit-linear-gradient(top,  #25315c 2%,#0a1747 100%); /* Chrome10-25,Safari5.1-6 */
  background: linear-gradient(to bottom,  #25315c 2%,#0a1747 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#25315c', endColorstr='#0a1747',GradientType=0 ); /* IE6-9 */
}
.group-select {
  .group-item {
    .body {
      .select {
        background: url("../images/icon/icon-down.svg") 97% / 15px
          no-repeat;
      }
    }
  }
}
.group-upper-header {
  .group-info-avarta {
    .info {
      &::before {
        background: url('../images/icon/logo-total.svg') no-repeat center;
      }
    }
  }
}

.group-item-big {
  .panle-body-content {
    .group {
      .group-row {
        .title {
          &::before {
            background: url('../images/icon/padlock.svg') no-repeat;
          }
        }
        .content {
          .select-gender.btn-down {
            background: url("../images/icon/icon-down-grey.svg") 95% / 15px
              no-repeat;
          }
        }
      }
    }
  }
}
select.btn-down-white {
  -webkit-appearance: none;
  background: url("../images/icon/icon-down.svg") 95% / 15px no-repeat !important;
}
select.btn-down-grey {
  -webkit-appearance: none;
  background: url("../images/icon/icon-down-grey.svg") 95% / 15px no-repeat !important;
}

select.btn-down-black {
  -webkit-appearance: none;
  background: url("../images/icon/icon-down-black.svg") 95% / 15px no-repeat !important;
}

select.btn-down-lock {
  -webkit-appearance: none;
  background: url("../images/icon/padlock-black.svg") 98% / 15px no-repeat !important;
}


select.btn-down-special {
  -webkit-appearance: none;
  background: url("../images/icon/Chevron.svg") 98% / 12px no-repeat !important;
  z-index: 2;
}
.title-form {
  &::before {
    background: url("../images/icon/padlock.svg") no-repeat;
  }
}
.content-page-total {
  min-height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 20px 0;

  .wp-page {
    .group-step {
      > li {
        &::before {
          background: url("../images/icon/down.svg");
        }
      }
    }
  }
}
.create-like {
  .modal-body {
    .form-group {
      .select {
        background: url("../images/icon/icon-down-grey.svg") 97% / 15px
          no-repeat;
      }
    }
  }
}

.han.b-20-9 {
  .row-modal-Country {
      select {
          background: url('../images/icon/icon-down-grey.svg') 91%/12px no-repeat !important;
      }
  }
}
