@mixin placeholder {
  ::-webkit-input-placeholder {@content}
  :-moz-placeholder           {@content}
  ::-moz-placeholder          {@content}
  :-ms-input-placeholder      {@content}
}

.no-padding {
    padding: 0 !important;
}

.form-search{
    .btn-form{
        top: 50% !important;
        transform: translateY(-50%);
    }
}

.btn-success:focus, .btn-success.focus{
    box-shadow: none;
}
.modal-spotech{
    .modal-body{
        .link-social{
            .social:hover{
                .icon{
                    >i{
                        color: #77D353;
                    }
                }
            }
        }
    }
}
.wp-upper-hd .list > li .item-upper-hd{
    min-width: 93px !important;
    padding: 7px 10px !important;
    width: 100% !important;
}
a.text-link.heading-4.text.nuxt-link-exact-active.nuxt-link-active{
    border-bottom: none !important;
}
.form-search.form-search-modal .btn-search{
    top: 50% !important;
    transform: translateY(-50%) !important;
}
.group-order .box-right{
    margin: 20px 0;
}

.wp-page{
    .group-order {
        .box-left{
            .order-b15{
                .group-left{
                    .group-row{
                        .checkbox{
                            .check.square{
                                .desc-color.pl-35{
                                    padding-left: 50px !important;
                                }
                            }
                        }
                    }
                }
            }
        }
    }
}
.wrap-quantity .btn{
    border-radius: 50% !important;
}
.content-modal-genneral{
    display: contents !important;
}
.wp-direction .list-item > li .item .info .group-info .title{
    margin:  0 0 30px 0 !important;
}
@media (max-width: 991px){
    .topbar-head-menu {
        order: unset;
    }
}

/* Hoc custom */
/* Page view folder wishlist */
.wishlist-list {
    .item-prd .img-thumb {
        .image {
            height: 300px;
        }
        .heart {
            color: #ff0000;
        }
    }
    .btn-edit {
        display: inline-block;
        font-size: 18px;
        font-weight: 500;
        color: #fff;
        background: #77d353;
        padding: 10px 20px;
        text-transform: uppercase;
        min-width: 100px;
        text-align: center;
        border-radius: 10px;
        line-height: 1;
    }
    .panel-head {
        margin-bottom: 100px;
    }
    .wishlist-name {
        font-size: 25px;
        font-weight: 500;
    }
    .btn-delete {
        margin-top: 25px;
        display: inline-block;
        color: #3c3c3c;
        &:hover {
            color: #f00;
        }
    }
}

.color-white {
    color: #fff;
}
.btn {
    box-shadow: none;
    &.btn-approved {
        background-color: #77d353;
        border-color: #77d353;
    }
    &.btn-refuse {
        background-color: #ff3838;
        border-color: #ff3838;
    }
    &.btn-revoke {
        background-color: #d2d2d2;
        border-color: #d2d2d2;
        color: #6c728a;
        &:hover {
          background-color: #2c96ec;
          border-color: #2c96ec;
          color: #fff;
        }
    }
}

.group-table-general .list-item .title-head > a.bg-white {
    color: #222;
    box-shadow: none;
}
.group-table-general .list-item .title-head > a.text-link {
    padding: 5px 20px;
    display: inline-block;
    box-shadow: none;
}
.group-table-general .list-item .group-item .info .title {
    margin-bottom: 0;
}

.group-table-general .list-item .title-head .sub {
    font-size: 14px;
}

.btn-chat {
    i {
        font-size: 20px;
    }
}

.switch-typeuser {
    font-size: 13px;
}

.page-dashboard {
    .head-info {
        min-height: 66px;
    }
    .top-content {
        min-height: 206px;
    }
    .group-table-info {
        padding: 30px 0;
        border-top: 1px solid #fff;
        border-bottom: 1px solid #fff;
        .list-item > li {
            border-right-width: 3px;
        }
        .rule {
            width: 80%;
            margin: 0 auto;
            border-bottom-width: 5px;
        }
        @media(min-width: 992px) {
            .list-item {
                padding: 0 3%;
            }
        }
    }
    .title {
        margin-bottom: 20px;
    }
    .filter-type {
        border-top: 3px solid #fff;
        border-bottom: 1px solid #fff;
        padding: 15px 0;
        margin-bottom: 50px;
        margin-top: 30px;
        .item:not(:last-child) {
            border-right: 1px solid #fff;
        }
        .action {
            margin-bottom: 10px;
            font-size: 20px;
            cursor: pointer;
            i {
                font-size: 22px;
                vertical-align: middle;
            }
            span {
                margin-left: 10px;
                display: inline-block;
                vertical-align: middle;
            }
            &.active, &:hover {
                color: #77d353;
                i {
                    color: #77d353;
                    font-weight: bold;
                }
            }
        }
        .el-progress {
            margin-bottom: 10px;
        }
        .el-progress__text {
            color: #fff;
            font-size: 18px !important;
        }
    }
    .filters {
        padding: 0 15px;
        label {
            margin-bottom: 10px;
        }
        .el-input__inner::placeholder {
            color: #222;
        }
    }
    .list-options {
        padding: 0 20px;
        margin-bottom: 25px;
        .item-option {
            display: inline-block;
            cursor: pointer;
            i {
                font-size: 30px;
                vertical-align: middle;
            }
            span {
                margin-left: 20px;
                display: inline-block;
                vertical-align: middle;
            }
            &.active, &:hover {
                i {
                    color: yellow;
                    font-weight: bold;
                }
            }
        }
    }
    .chosen-clock {
      @media (min-width: 1200px) {
        max-width: 619px !important;
      }
      .modal-content {
        border-radius: 10px;
      }
      .modal-body {
        padding: 50px 55px;
        .title {
          font-weight: bold;
          font-size: 23px;
          color: #3c3c3c;
        }
      }
      .item-option {
        padding: 12px 28px;
        border-bottom: 2px solid #D2D2D2;
        .el-radio {
          display: flex;
          align-items: center;
        }
        .el-radio__inner {
          width: 25px;
          height: 25px;
          &:hover {
            border-color: #77d353;
            background: #77d353;
          }
        }
        .el-radio__input.is-checked .el-radio__inner {
          border-color: #77d353;
          background: #77d353;
          &:after {
            display: none;
          }
        }
        .el-radio__label {
          font-size: 18px;
          font-weight: bold;
          color: #3c3c3c;
          flex: 1;
          text-align: center;
        }
      }
      .el-radio-group {
        display: block;
        margin-bottom: 40px;
      }
      .apply .btn-apply {
        color: #fff;
        background: #77d353;
        border-radius: 10px;
        padding: 5px 70px;
        &:hover {
          background: #2C96EC;
          border-color: #2C96EC;
        }
      }
    }
    .group-oclock .item .info .title {
      color: #fff;
    }
    .switch-typeuser a {
      color: #2C96EC;
      &:hover {
        color: #77d353;
      }
    }
    .head-info .intro a {
      color: #2C96EC;
      &:hover {
        color: #77d353;
      }
    }
    .group-table-general .list-item .group-item .info .title a{
      color: #2C96EC;
      &:hover {
        color: #77d353;
      }
    }
}

.bid-item {
    padding-top: 20px;
    margin-top: 20px;
    &:not(:first-child) {
        border-top: 2px solid #fff;
    }
    &:last-child {
        margin-bottom: 40px;
    }
    .header  {
        > div {
            border: 1px solid #fff;
            background: #fff;
            font-size: 16px;
            padding: 10px 20px;
            border-bottom: 1px solid #ccc;
            &:not(:last-child) {
                border-right: 1px solid #ccc;
            }
            &:first-child {
                border-top-left-radius: 10px;
            }
            &:last-child {
                border-top-right-radius: 10px;
            }
        }
    }
    .content {
        background: #fff;
        border-radius: 0 10px 10px 10px;
        min-height: 8rem;
    }
    .list-action {
        margin-top: 20px;
        .btn {
            color: #fff;
            padding: 9px 20px;
            font-size: 16px;
            margin-right: 17px;
            border-radius: 10px;
            outline: none;
            box-shadow: none;
            &.btn-revoke {
              color: #081545;
              &:hover {
                color: #fff;
              }
            }
            &.btn-adjustment {
              &:hover {
                background-color: #77d353;
                border-color: #77d353;
              }
            }
        }
    }
}
// 20_11_2019//
.group-select-area .r-select .head{
    text-transform: uppercase;
}
.tab-content.content-tab-head .title{
  text-transform: uppercase;
}
.content-tab-head .group-text-tab.special .media-body .title .texts{
  font-size: 13px !important;
}
.tab-content > .tab-pane{
  padding: 10px 20px;
}
.nav-tabs.list-nav > li{
  margin-bottom: 10px !important;
}
.group-select-area .r-select .head{
  padding: 10px 20px;
}

/* css-24-11/page new client & expert */
@mixin font-18 {
    font-size: 18px;
    @media (max-width: 575px) {
      font-size: 16px;
    }
  
    @media (min-width: 576px) and (max-width: 767px) {
      font-size: 16px;
    }
  
    @media (min-width: 768px) and (max-width: 991px) {
      font-size: 17px;
    }
  }
@mixin font-24 {
    font-size: 24px;
    @media (max-width: 575px) {
      font-size: 18px;
    }
  
    @media (min-width: 576px) and (max-width: 767px) {
      font-size: 20px;
    }
  
    @media (min-width: 768px) and (max-width: 991px) {
      font-size: 22px;
    }
  }
.color-blues{
    color: #2C96EC !important;
  }
  .group-expert-review{
    .list-star{
      >i{
        @include font-24;
      }
    }
  }
  .btn-send-review{
    display: flex;
    flex-wrap: wrap;
    .btn-send{
      display: flex;
      color: #ffffff;
      align-items: center;
      justify-content: center;
      min-width: 300px;
      height: 60px;
      background: #77D353;
      border-radius: 10px;
      margin-left: auto;
      @media (max-width: 575px) {
        width: 100%;
        min-width: 100%;
      }
    }
  }
  @mixin margin-bottom-30{
    margin-bottom: 30px;
    @media (max-width: 575px) {
      margin-bottom: 15px;
    }
  
    @media (min-width: 576px) and (max-width: 767px) {
      margin-bottom: 15px;
    }
  
    @media (min-width: 768px) and (max-width: 991px) {
      margin-bottom: 20px;
    }
  
  }
  .box-notes{
    textarea{
      margin-bottom: 30px;
    }
  }
  .list-star-client-review{
    .item{
      display: flex;
      justify-content: space-between;
      @include margin-bottom-30;
      .name-review{
        color: #ffffff;
        padding-right: 15px;
      }
    }
  }
  .group-general-client-review{
    .panel-head{
        .title-32{
            padding-right: 15px;
        }
        .list-star{
            >i{
                font-size: 20px;
            }
        }
    }
    .panel-body{
      padding: 20px 0 0 0;
      border-top: 1px solid #ffffff;
      border-bottom: 1px solid #ffffff;
    }
  }
  .group-intro-client-review{
    .rule-bottom{
      border-bottom: 1px solid #ffffff;
      padding-bottom: 30px;
      margin-bottom: 30px;
    }
    .group-item{
      display: flex;
      margin-bottom: 15px;
      .img-thumb{
        padding-right: 20px;
        >img{
          height: 62px;
          width: 62px;
          border-radius: 50%;
          object-fit: cover;
        }
      }
      .info{
        flex: 1;
        .group-up{
          display: flex;
          flex-wrap: wrap;
          align-items: center;
          .name-client{
            padding-right: 15px;
            @include font-24;
            color: #2C96EC;
          }
          .img-flag{
            max-height: 20px;
            >img{
                width: 20px;
                height: auto;
                display: block;
            }
          }
        }
        .datetime-bid{
          color: #ffffff;
          font-size: 16px;
        }
      }
    }
  }
  .group-btn-translate{
    margin-bottom: 15px;
    .btn-translate{
      display: block;
      text-align: center;
      background: #D2D2D2;
      border-radius: 10px;
      height: 35px;
      line-height: 35px;
      color: #131c3d;
      font-size: 16px;
    }
  }
  .box-intro{
    .description{
      @include font-18;
      color: #ffffff;
    }
  }
  *:focus {
    outline: none;
  }