.container-1140 {
  width: 100%;
  padding-right: 15px;
  padding-left: 15px;
  margin-right: auto;
  margin-left: auto;
}

@media (max-width: 320px) {
  .container-1140 {
    padding: 0 20px;
  }
}

@media (min-width: 480px) {
  .container-1140 {
    max-width: 450px;
  }
}

@media (min-width: 576px) {
  .container-1140 {
    max-width: 540px;
  }
}

@media (min-width: 768px) {
  .container-1140 {
    max-width: 720px;
  }
}

@media (min-width: 992px) {
  .container-1140 {
    max-width: 960px;
  }
}

@media (min-width: 1200px) {
  .container-1140 {
    max-width: 1140px;
  }
}

.el-select {
  display: block;
}

.el-checkbox__inner {
  border-color: #606266;
}

.modal-help .modal-dialog-centered {
  align-items: end !important;
}

.wrap-quantity .btn {
  text-align: center;
  padding: 0;
  line-height: 38px;
  cursor: pointer;
}


.slot-image-error {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100%;
  color: #fff;
  font-size: 20px;
}
