.el-input-bg-transparent .el-input .el-input__inner {
    background-color: transparent;
    height: 51px;
}


/* // sao danh gia */

.wp-rating .meta-rate {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
}

.wp-rating .meta-rate .el-rate {
    margin: 0 10px;
}

.wp-rating .meta-rate .el-rate .el-rate__item .el-rate__icon {
    margin-right: 0;
}

.star-rating .indicator {
    color: #fff;
    margin-left: 3px;
    font-size: 12px;
}

.wp-rating .meta-rate .number-rate {
    font-size: 12px;
}

.list-star>i {
    font-weight: 900;
}


/* // khoi drop-avarta */

.group-item-aside .company.cutomize.panle-body .list-item .item {
    margin: 0 18px;
}


/* title item page-index */

.item-prd .info .name-title .title {
    height: auto;
}


/* banner-a */

@media only screen and (min-width: 992px) {
    .content-banner.right {
        max-width: 40%;
    }
    .content-banner.left {
        max-width: 45%;
    }
}

.view-more-feel .view {
    min-width: 255px !important;
    max-width: initial;
    border: 1px solid #77d353;
}

.wrap-quantity .quantity {
    max-width: 80px;
}


/* checkbox */

.form .form-group .check::before {
    border: 1px solid #d2d2d2;
}

.checkbox input:checked+label::before {
    background: url("https://api.iconify.design/mdi:check-bold.svg?color=%23007AFF") no-repeat center center / contain;
}

.head-drop {
    padding: 15px 20px 0 20px;
}

.box-salary .input-text {
    width: 100%;
}

.group-skills .input-text {
    padding: 0;
}

.group-top-content_c14 .group-right .group-right-top .form-group input:checked+label::before {
    background: url("https://api.iconify.design/mdi:check-bold.svg?color=%2377d353") no-repeat center center / contain;
}

.group-top-content_c14 .group-right .group-right-top .form-group label:after {
    display: none;
}


/* // tang giam so luong b-112-project*/

.box-increase-or-decrease {
    position: relative;
    background: #d2d2d2;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    border-radius: 5px;
    line-height: normal;
    -webkit-box-flex: 1;
    -ms-flex: 1;
    flex: 1;
}

.box-increase-or-decrease .texts {
    padding: 0 10px;
    color: #fff;
    min-width: 75px;
    text-align: center;
}

.box-increase-or-decrease .input {
    height: 40px;
    line-height: 40px;
    border: none;
    padding: 0 10px;
    border-radius: 0;
    outline: none;
}

.box-increase-or-decrease .group-btn-increase-or-decrease {
    padding: 0 10px;
    text-align: center;
    line-height: normal;
    min-width: 40px;
    display: inline-grid;
}

.box-increase-or-decrease .group-btn-increase-or-decrease .btn-q {
    font-size: 14px;
}

.box-increase-or-decrease .currency-input {
    -webkit-box-flex: 1;
    -ms-flex: 1;
    flex: 1;
}

.group-complete-job {
    padding-bottom: 120px;
}

@media (max-width: 575px) {
    .group-complete-job {
        padding-bottom: 30px;
    }
}

@media (min-width: 576px) and (max-width: 767px) {
    .group-complete-job {
        padding-bottom: 60px;
    }
}

@media (min-width: 768px) and (max-width: 991px) {
    .group-complete-job {
        padding-bottom: 80px;
    }
}


/* item news page-index*/

.panel-body-hp .list-hp .list-item-hp .img-thumb .image .el-image:before {
    content: "";
    display: block;
    position: absolute;
    opacity: 1;
    visibility: visible;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background: rgba(0, 0, 0, 0.3);
    border-radius: 10px;
    -webkit-transition: ease 0.5s;
    transition: ease 0.5s;
}

.item-prd .img-thumb .image .el-image>img {
    border-radius: 10px;
}

.body-hp .wp-product-hp.wp-order .panel-head {
    margin-bottom: 20px;
}

.body-hp .wp-product-hp.wp-order .panel-head .heading-2.title-heading>span {
    color: #fff;
}

.search-banner .form-search-banner {
    max-width: 548px;
    width: 100%;
}

.search-banner .form-search-banner .btn-search,
.search-banner .form-search-banner .input-search {
    height: 58px;
}

.search-banner .form-search-banner .btn-search.active>span {
    opacity: 1;
}

.search-banner .form-search-banner .btn-search.disabled>span {
    cursor: not-allowed;
}

.search-banner .form-search-banner .btn-search>span:hover {
    opacity: 1;
}

.form-messages {
    position: absolute;
    top: 100%;
    width: 100%;
    color: #f56c6c;
    padding: 10px 0;
}

.pc-header .rule {
    border-bottom: 1px solid #767676;
}

.group-info .info .intro-person {
    height: auto;
}

@media (max-width: 991px) {
    .box-menu-header .list>li:hover .group-drop-menu {
        padding: 20px;
        z-index: 2000;
    }
}

.form-search .btn-form {
    z-index: 3;
}

.pc-header.scroll .topbar-header .topbar-head-right .box-menu-header .list>li .group-drop-menu {
    top: calc(100% + 29px);
}

.pc-header.scroll .topbar-header .topbar-head-right .box-menu-header .list>li .group-drop-menu.drop-avarta {
    top: calc(100% + 15px);
}


/* page-create */

.group-skills .el-input__inner {
    height: 63px;
    line-height: 63px;
}

.group-skills .el-input__inner::-webkit-input-placeholder {
    color: #707070;
}

.group-content .el-textarea__inner::-webkit-input-placeholder,
.group-content .el-input__inner::-webkit-input-placeholder {
    color: #707070;
}

@media (max-width: 575px) {
    .group-skills .el-input__inner {
        height: 50px;
        line-height: 50px;
    }
}

@media (min-width: 576px) and (max-width: 767px) {
    .group-skills .el-input__inner {
        height: 54px;
        line-height: 54px;
    }
}

@media (min-width: 768px) and (max-width: 991px) {
    .group-skills .el-input__inner {
        height: 58px;
        line-height: 58px;
    }
}

.wp-tb-range .body .form-square .form-circle .form-check .form-check-label {
    color: #fff;
}


/* ******************************* */

.panle-body-content .group-skills .el-input__inner {
    height: calc(1.5em + 0.75rem + 10px);
}

.group-item-aside .panle-body .list-item .item {
    border-bottom: 1px solid #d2d2d2;
}

.group-item-aside .panle-body .list-item .item:last-child {
    border-bottom: none;
}

.han.b-20-9 .modal-birthday-wrapp .modal-box-right .box-datetime .wrap-quantity input {
    height: auto;
}


/* 16/10/2019 By_Ha */


/* homepage */

.group-time {
    margin-top: 10px;
}

.wp-upper-hd .list>li .group-drop {
    margin-top: 10px;
}

.note-drop-upper {
    color: #707070;
    font-size: 8px;
    font-weight: 500;
}

.group-drop-menu.drop-avarta {
    -webkit-box-shadow: 0 2px 2px #d2d2d2;
    box-shadow: 0 2px 2px #d2d2d2;
    max-height: calc(100vh - 115px);
    overflow-y: scroll;
    -webkit-transform: 0.5s;
    transform: 0.5s;
}

.group-drop-menu.drop-avarta::-webkit-scrollbar {
    display: none;
}

@media (max-width: 991px) {
    .box-menu-header {
        margin-top: 20px;
    }
    .pc-header.scroll .box-menu-header {
        margin-top: 10px;
    }
}

@media only screen and (max-width: 768px) {
    .wp-upper-hd .list>li.active .drop {
        max-height: inherit;
        max-width: inherit;
    }
}

.group-drop-menu {
    top: calc(100% + 39px);
    z-index: 99;
}


/* upper-header homepage */

@media (min-width: 768px) and (max-width: 991px) {
    .upper-header .upper-header-fixed {
        display: none;
    }
}

.upper-header .drop {
    height: auto;
    max-height: inherit;
}

.form.drop.group-drop .list-drop {
    max-height: 400px;
    overflow-y: scroll;
}

.form.drop.group-drop .list-drop::-webkit-scrollbar {
    display: none;
}


/* page relief */

.item-ranking-system .wp-img-thumb .intro,
.item-ranking-system .info .wp-item-info .list-small>li .title-small,
.item-ranking-system .info .wp-item-info .title,
.item-ranking-system .info .wp-item-info .description,
.panel-body-expert-level .list-expert-level>li .item .info .title {
    font-weight: 500;
}

.item-general .name-title {
    display: -webkit-box;
    -webkit-line-clamp: 2;
    -webkit-box-orient: vertical;
    overflow: hidden;
}


/* page business */

.wp-direction .list-item>li .item .img-thumb {
    width: 594px;
    height: auto;
}

@media only screen and (max-width: 991px) {
    .wp-direction .list-item>li .item .img-thumb {
        width: 100%;
    }
}

.wp-direction .list-item>li .item .img-thumb .image {
    max-height: 500px;
    height: 100%;
}

.wp-direction .list-item>li .item .info {
    -webkit-box-flex: 1;
    -ms-flex: 1;
    flex: 1;
    width: 100%;
    min-height: 500px;
}

@media only screen and (max-width: 991px) {
    .wp-direction .list-item>li .item .info {
        min-height: auto;
    }
}

.wp-direction .list-item>li .item .info .wrapp {
    height: 100%;
}


/* form-signup */

.modal-spotech .modal-body .link-social {
    margin-bottom: 10px;
}

.modal-spotech .modal-body .link-social .social {
    margin-bottom: 0;
}

@media (max-width: 575px) {
    .modal-footer.custom {
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    }
}

.han.b-20-9 .row-modal-sex .el-select:before,
.han.b-20-9 .row-modal-sex .seleect-wrapp:before {
    display: none;
}

.han.b-20-9 .row-modal-sex .el-select,
.han.b-20-9 .row-modal-sex .seleect-wrapp {
    max-width: 85px;
}

.han.b-20-9 .row-modal-name .modal-box-right .modal-name-wrapp .box-name .t-text {
    font-weight: 500;
}


/* 17_10/2019 By_Ha*/


/* form-search */

.nav-tabs.list-nav>li>a {
    min-width: 76px;
    background: transparent;
    border: 1px solid #77d353;
    color: #77d353;
    border-radius: 5px;
    padding: 0 5px;
    font-size: 12px;
    height: 44px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    text-align: center;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
}

.nav-tabs.list-nav>li {
    margin-bottom: 3px;
}

.search-select2 .form-search {
    -webkit-box-shadow: 2px 2px 7px #ffffff4d;
    box-shadow: 2px 2px 7px #ffffff4d;
    border-radius: 10px;
}

.group-select2-hd {
    -webkit-box-shadow: none;
    box-shadow: none;
}

.group-select-area .wp-select-area {
    padding: 0 10px 25px 10px;
}

.group-select-area .r-select .head {
    font-size: 12px;
    color: #131c3d;
}

@media only screen and (max-width: 768px) {
    .group-select-area {
        margin-top: 20px !important;
    }
}

.group-select2-hd .list-select2-hd .item-select2-hd .link .icon-close {
    display: none;
}

.group-select2-hd .list-select2-hd .item-select2-hd .link {
    border: none;
    color: #131c3d;
}

.group-select2-hd .list-select2-hd .item-select2-hd {
    position: relative;
    padding-right: 10px;
}

.group-select2-hd .list-select2-hd .item-select2-hd::before {
    position: absolute;
    content: "/";
    display: block;
    color: #131c3d;
    right: 0;
    top: 50%;
    -webkit-transform: translateY(-50%);
    transform: translateY(-50%);
}

.group-select2-hd .list-select2-hd .item-select2-hd:last-child::before {
    display: none;
}

.hd-search.header-search {
    padding-right: 25px;
}


/* upper-header */

.upper-header {
    border-top: 1px solid #fff;
}


/* page profile */


/* group-info-avarta */

.group-links-avatar {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
}

.group-info-avarta .info .group-flag {
    height: auto;
}

.group-info-avarta .info .address {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
}

.group-info-avarta .info .d-flex.align-items-center {
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
}

.group-upper-header .group-info-avarta .img-thumb .image {
    border: 1px solid #fff;
}

@media only screen and (min-width: 992px) {
    .group-info-avarta .info .wp-link-web {
        white-space: nowrap;
        width: 100px;
        overflow: hidden;
        text-overflow: ellipsis;
        color: #fff;
    }
    .group-info-avarta .info .address .texts {
        white-space: nowrap;
        width: 100px;
        overflow: hidden;
        text-overflow: ellipsis;
        color: #fff;
    }
}


/* icon banner page expert */

.group-ovelay-icon .icon {
    height: 50px;
    width: 50px;
    overflow: hidden;
}

@media (max-width: 575px) {
    .group-ovelay-icon .icon {
        height: 30px;
        width: 30px;
        margin-right: 15px;
    }
}

@media (min-width: 576px) and (max-width: 767px) {
    .group-ovelay-icon .icon {
        height: 35px;
        width: 35px;
    }
}

@media (min-width: 768px) and (max-width: 991px) {
    .group-ovelay-icon .icon {
        height: 40px;
        width: 40px;
    }
}

.group-ovelay-icon .icon>img {
    max-width: 50px;
    -o-object-fit: scale-down;
    object-fit: scale-down;
    display: block;
    height: 100%;
    width: 100%;
}


/* page expert */

@media only screen and (max-width: 768px) {
    .group-content .row {
        margin-right: -15px;
        margin-left: -15px;
    }
    .group-content .row>div.col-xl-8,
    .group-content .row>div.col-xl-4 {
        padding-right: 15px;
        padding-left: 15px;
    }
}


/* // social */

.btn-share {
    border: 1px solid #d2d2d2d2;
    height: 50px;
    min-width: 125px;
    border-radius: 8px;
    margin: 15px 0px;
    text-align: center;
    width: 100%;
    cursor: pointer;
    outline: none;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    color: #fff;
}

.btn-share .icon {
    margin-right: 5px;
}

.btn-share.fb.spotech {
    background-color: #4267b2;
    margin-left: 0;
}

.btn-share.link.spotech {
    background-color: #3366ac;
}

.btn-share.twitter.spotech {
    background-color: #4f9dec;
}


/* page wishList */

.panel-body-like .list-item>li .item {
    cursor: pointer;
}

.panel-body-like .list-item>li .item .img-thumb .image::before {
    content: "";
    display: block;
    position: absolute;
    opacity: 1;
    visibility: visible;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background: rgba(0, 0, 0, 0.3);
    border-radius: 10px;
    -webkit-transition: 0.5s ease;
    transition: 0.5s ease;
    z-index: 1;
}

.panel-body-like .list-item>li .item .info {
    z-index: 9;
}

.panel-body-like .list-item>li .item .info .title .text-link:hover {
    color: #fff;
}

.panel-body-like.group-like-wishlist .list-item.row {
    margin: 0 -10px;
}

.panel-body-like.group-like-wishlist .list-item.row .col-lg-4.col-sm-6.col-12 {
    padding: 0 10px;
}

.flex-1 {
    -webkit-box-flex: 1;
    -ms-flex: 1;
    flex: 1;
}

@media (max-width: 768px) {
    .width-elasticity {
        -webkit-box-flex: 1;
        -ms-flex: 1;
        flex: 1;
    }
}

.group-person-follow {
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
}

.group-follow .panel-body-follow .list-item>li .item .group .group-person-follow .img-thumb .image>img {
    border: 1px solid #fff;
}

.group-top-content_c14 .group-right .group-right-top .group-select.select-salary .group-general .currency-unit {
    border-radius: 0 10px 10px 0;
    border-left: 1px solid #fff;
}

.item-group.unit-icon.texts {
    color: #131c3d;
}

.group-top-content_c14 .group-right .group-right-top .form-group label:before {
    border: 2px solid #d2d2d2;
    border-radius: 5px;
}


/* 18/10/2019 By_Ha */

.modal-open {
    /* overflow: inherit; */
    padding-right: 17px;
}


/* khối  group-right ở expert & profile sticky*/

.group-top-content_c14 .group-right {
    position: -webkit-sticky;
    position: sticky;
    top: 100px;
}


/* page /account-settings */

.list-tab-menu.b-21.sticky-top.sticky-b21 {
    top: 100px;
}

.content-b21 .group-item-aside .panle-body .introduction {
    border-bottom: 1px solid #d2d2d2;
    margin-bottom: 15px;
    padding-bottom: 15px;
}

.content-b21 .group-item-aside .panle-body .text-link.introduction {
    border-bottom: none;
    margin-bottom: none;
    padding-bottom: none;
}


/* vi/consultation/151 */

@media only screen and (max-width: 575px) {
    .panel-head-in-total {
        margin: 0 15px;
    }
}

.font-18 {
    font-size: 18px;
    font-weight: 500;
}


/* verifyPhone */

.modal-body.b-202 {
    padding: 0 10px;
}

.modal-body.b-202>.row {
    margin: 0 -15px;
}

.btn-bgGreen {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    min-height: 45px;
    border-radius: 10px;
    background: #77d353;
    color: #fff;
    padding: 0 10px;
}

.btn-bgGreen:hover {
    color: #fff;
}


/* AI header */

.box-menu-header-inside .list-menu .item-menu .text-link::before {
    width: 0;
    -webkit-transition: all 0.3s;
    transition: all 0.3s;
}

.box-menu-header-inside .list-menu .item-menu .text-link:hover::before {
    width: 100%;
    background: #77d353;
}

a.text-link.heading-4.text.nuxt-link-exact-active.nuxt-link-active::before {
    display: block;
    width: 100%;
    background: #77d353;
}

.item-prd .star-rating .star-container {
    margin-right: 1px !important;
}

.modal-spotech .modal-body .link-social .social {
    -webkit-transition: all 0.3s;
    transition: all 0.3s;
}


/* 19_10_2019 */


/* modal tro giup */

.modal-body .modal-body-a13 {
    overflow-y: scroll;
}

.modal-body .modal-body-a13::-webkit-scrollbar {
    display: none;
}

.title-form {
    margin-top: 10px;
}

.item-prd {
    cursor: pointer;
}

.panel-body-hp .list-hp .list-item-hp .overlay {
    cursor: pointer;
}

.wp-upper-hd .list>li .item-upper-hd.searched {
    border: 2px solid #77d353;
}

.ta-project .item-project .image,
.ta-project .item-article .image {
    height: 300px;
}

.ta-project .item-project .image img,
.ta-project .item-article .image img {
    height: 100%;
    width: 100%;
    -o-object-fit: cover;
    object-fit: cover;
    display: block;
}

.el-textarea__inner {
    min-height: 200px !important;
    height: auto;
}

.el-textarea__inner {
    max-height: 250px;
}


/* 21/10/2019 */

.group-top-content_c14 .group-left .group-job .group-month .item-month {
    margin-top: 3px;
    margin-bottom: 3px;
}


/* profile  modal-edit*/

@media (min-width: 992px) {
    .dialog50.modal-basic-infomation .el-dialog {
        max-width: 900px;
        margin-left: auto !important;
        margin-right: auto !important;
        width: auto !important;
    }
}

.dialog50.modal-basic-infomation .el-dialog {
    max-width: auto;
    margin: 0.5rem;
    width: auto !important;
}

.han.b-20-9 .footer-modal .btn-modal {
    min-width: 86px;
    border-radius: 50px;
    min-height: 35px;
    height: auto;
    line-height: inherit;
    padding: 5px 30px;
}

.han.b-20-9 .footer-modal {
    padding-bottom: 0;
    padding-left: 0;
    padding-right: 0;
}

.sticky-bottom-spotech {
    position: -webkit-sticky;
    position: sticky;
    bottom: 0;
    left: 0;
    right: 0;
    width: 100%;
    background-color: #131c3d;
    margin-top: 15px;
}


/* modal chủ đề */

.customize-topic.ha-custom-modal-big .modal-dialog {
    max-width: auto !important;
    margin: 0.5rem !important;
}

@media (min-width: 576px) {
    .customize-topic.ha-custom-modal-big .modal-dialog {
        max-width: 1358px !important;
        margin: auto !important;
    }
}

.modal-open .pc-header .topbar-header {
    padding-right: 0px;
}

.modal-open .pc-header.scroll .topbar-header {
    padding-right: 17px;
}


/* modal social footer */

.el-popup-parent--hidden .pc-header.scroll .topbar-header {
    padding-right: 17px !important;
}


/* modal xac thuc sms */

@media (min-width: 576px) {
    .custom_modal_ha .el-dialog {
        max-width: 556px !important;
        width: auto !important;
        margin-left: auto !important;
        margin-right: auto !important;
    }
}

.custom_modal_ha .el-dialog {
    max-width: 100%;
    margin: 0.5rem;
}

.form-check .form-check-label .input-helper:before {
    top: 0;
    -webkit-transform: none;
    transform: none;
}


/* chat */

.form-control:focus {
    -webkit-box-shadow: none;
    box-shadow: none;
}

@media (min-width: 768px) {
    .body-mess .mess-box .mess-right .mess-content .mess-content-left .presentation .mess-inb .mess-me .mess-direction {
        margin: auto 0 auto auto;
        max-width: 50%;
    }
    .body-mess .mess-box .mess-right .mess-content .mess-content-left .presentation .mess-inb .mess-friend .mess-direction {
        margin: 0;
        max-width: calc(50% - 46px);
    }
}

@media (max-width: 767.9px) {
    .body-mess .mess-box .mess-right .mess-content .mess-content-left .presentation .mess-inb .mess-me .mess-direction {
        max-width: 80%;
        margin: auto 0 auto auto;
    }
    .body-mess .mess-box .mess-right .mess-content .mess-content-left .presentation .mess-inb .mess-friend .mess-direction {
        margin: 0;
        max-width: calc(80% - 46px);
    }
}

.body-mess .mess-box .mess-left .mess-content .list-mess .infor .name a {
    display: -webkit-box;
    -webkit-line-clamp: 1;
    -webkit-box-orient: vertical;
    overflow: hidden;
}

.body-mess .mess-box .mess-left .mess-content .list-mess .infor .mess {
    display: -webkit-box;
    -webkit-line-clamp: 1;
    -webkit-box-orient: vertical;
    overflow: hidden;
}


/* /profile/client/project/3 */

.ta-project .item-project .content {
    display: -webkit-box;
    -webkit-line-clamp: 5;
    -webkit-box-orient: vertical;
    overflow: hidden;
}

.ta-project .item-project .title,
.ta-project .item-article .title {
    display: -webkit-box;
    -webkit-line-clamp: 2;
    -webkit-box-orient: vertical;
    overflow: hidden;
}

.group-info .info .name-person>a {
    display: -webkit-box;
    -webkit-line-clamp: 1;
    -webkit-box-orient: vertical;
    overflow: hidden;
}

.group-info .info .name-person {
    overflow: hidden;
    white-space: nowrap;
    width: 200px;
    text-overflow: ellipsis;
    color: #131c3d;
}

.group-drop-menu .list-item>li .item .info .title {
    display: -webkit-box;
    -webkit-line-clamp: 2;
    -webkit-box-orient: vertical;
    overflow: hidden;
    height: 44px;
}


/* 24-10-2019 */

.box-menu-header .list>li .text-link.heading-4.text {
    -webkit-transition: 0.5s;
    transition: 0.5s;
    padding: 30px 0;
}

.box-menu-header .list>li .list-event-avatar .item .text-link.heading-4.text {
    padding: 0;
}

.el-upload-dragger .fab.fa-instagram {
    font-size: 60px;
    font-weight: 600;
    color: #131c3d;
    margin-bottom: 10px;
}

.el-upload-dragger {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
}

.panel-head-tab-b112 .item .img-thumb .el-upload-dragger .el-upload__text {
    color: #131c3d;
    font-size: 24px;
}

.el-form-item__content {
    line-height: normal !important;
}

.form-group .el-form-item .el-form-item__content .image-uploader .el-upload-dragger .box>i {
    display: none;
}

.rule-bottom-35 {
    border-bottom: 1px solid #d2d2d2;
    margin-bottom: 35px;
}

.rule-top-35 {
    border-top: 1px solid #d2d2d2;
    padding-top: 35px;
    margin-top: 35px;
}

body {
    min-height: 100vh;
}

#distance-between-elements {
    min-height: 100vh;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
}

#footer {
    margin-top: auto;
}


/* 29/10 */

.han.b-20-9 .row-modal-name .modal-box-right .modal-name-wrapp .box-name .t-text {
    min-width: 30px;
}

.han.b-20-9 .row-modal-name .modal-box-right .modal-name-wrapp .box-name {
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
}


/* form đăng nhập0 */

.modal-body.wp-modal-body.pt-0 .form .el-form.mb__login .el-form-item__content .el-input .el-input__inner {
    height: 45px;
    line-height: 45px;
    border-radius: 10px;
}

.wp-modal-body .form-check .form-check-label .input-helper:before {
    border-radius: 5px;
}

.form-group.link-social.text-center {
    margin-top: 20px;
}

.forgot-password .form .el-form .el-form-item__content>label {
    margin-bottom: 15px;
}

.forgot-password .form .description.text-left {
    color: #707070;
}

.list-tab-menu.b-21.sticky-top.sticky-b21 {
    z-index: 0;
}

.infor-friend .c--text-overflow {
    color: #000000;
}


/* header topbar khi click vào xem tất cả thì add thêm class show vào thẻ li */

.box-menu-header .list>li .text-link {
    position: relative;
}

.box-menu-header .list>li a.nuxt-link-active {
    color: #77d353;
}

.box-menu-header .list>li a.nuxt-link-active::before {
    position: absolute;
    content: '';
    display: block;
    bottom: 0;
    right: 0;
    left: 0;
    top: calc(100% + 10px);
    height: 2px;
    width: 100%;
    background: #77d353;
}

.pc-header.scroll .box-menu-header .list>li a.nuxt-link-active::before {
    top: 100%;
}

.han.b-20-9 .row-modal-name .modal-box-right .modal-t-text {
    word-break: normal;
}

.group-select-area,
.group-drop-menu {
    box-shadow: 0 2px 2px #d2d2d2;
}

.panel-body-hp .list-hp .list-item-hp .overlay .wp-title {
    margin-bottom: 0;
}

.panel-body-hp .list-hp .list-item-hp .overlay {
    padding: 10px 10px 22px;
}

.content-wrapp .all-add {
    margin-bottom: 10px;
}

.content-wrapp .friend-item .infor-friend {
    margin-bottom: 10px;
}


/* 30-10 */

.han-21-5 .group-item-aside .panle-body .t-text-box .btn-check label input[type="checkbox"]:checked+span::after,
.han-21-5 .group-item-aside .panle-body .t-text-box .btn-check label span:hover::after {
    font-weight: 900;
}

.box-menu-header .list>li .list-event-avatar a.nuxt-link-active::before {
    display: none;
}

.group-top-content_c14 .modal-spotech .modal-body .link-social .social {
    border: none;
}

.group-top-content_c14 .modal-spotech .modal-body .link-social .social:hover .text-link {
    color: #fff;
}

.group-top-content_c14 .modal-spotech .modal-body .link-social .social:hover {
    background: #77d353;
}

.image-uploader .el-upload.el-upload--text {
    width: 100%;
}

.panel-head-tab-b112 .image-uploader .el-upload-dragger {
    border: 1px solid #d2d2d2;
}


/* 1/11/2-19 */

.group-voteked>li .item::before {
    display: none;
}


/* 4/11/2019 */

.modal-spotech .modal-body .link-social .social>* {
    border-radius: 8px;
}

.mess-right .mess-banner .name-friend .c---search-wrapper .c--search-box .c--search-box-label {
    color: #fff;
}


/* 5/11/2019 */

.body-mess .infor-friend .group-mess .member>div {
    display: flex;
    align-items: center;
}

.body-mess .infor-friend .group-mess .member .name-member {
    flex: 1;
    padding: 0;
}

.body-mess .infor-friend .avarta-name .name {
    padding: 0;
}

.body-mess .mess-box .mess-right .mess-banner .name-friend a {
    position: relative;
}

.body-mess .mess-box .mess-right .mess-banner .name-friend a::before {
    position: absolute;
    content: '';
    display: block;
    height: 2px;
    width: 100%;
    background: #2c96ec;
    bottom: -12px;
    left: 0;
    right: 0;
}

.han.b-20-9 .footer-modal .btn-modal {
    padding: 0;
    min-width: unset;
}

.han.b-20-9 .footer-modal .btn-modal>a {
    display: flex;
    flex-wrap: wrap;
    min-width: 86px;
    border-radius: 50px;
    min-height: 35px;
    line-height: inherit;
    padding: 0 10px;
    align-items: center;
    justify-content: center;
}


/* 7/11/2019 */

.body-modal-general .modal-body-a13 {
    height: 100%;
    overflow-y: auto;
}

.body-modal-general .modal-body-a13::-webkit-scrollbar {
    display: none;
}

.mess-banner .inner .name-friend .name {
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    color: white;
    width: auto;
}

.infor-dropdown .list-member {
    max-height: 180px;
    overflow-y: auto;
}

.infor-dropdown .list-member::-webkit-scrollbar {
    display: none;
}

.one-line-dot {
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}

.max-width-80-percent {
    max-width: 80%;
}

.max-width-50-percent {
    max-width: 50%;
}

.max-height-100 {
    max-height: 100px;
}


/* 16/11/2019 */

.image-avarta>img {
    background: #d1d1d1;
}


/* 24/11/2019 */

.han.b-20-9 .row-modal .modal-box-right input {
    border-bottom: 1px solid #d2d2d2;
    color: #131c3d;
    height: calc(1.5em + 0.75rem + 10px);
    padding: 0 15px;
    border-radius: 0px;
    font-size: 14px;
}

@media (min-width: 768px) {
    .han.b-20-9 .row-modal.row-modal-founder .modal-box-right .modal-founder-wrapp>input {
        width: 35%;
    }
    .han.b-20-9 .row-modal.row-modal-Number-of-people .modal-box-right .modal-Number-of-people-wrapp>input {
        width: 35%;
    }
}

.el-upload-dragger .texts {
    padding-left: 10px;
}

.form-check .form-check-label .input-helper:after {
    color: #77d353;
}

.group-skills ::-webkit-input-placeholder {
    font-size: 14px;
}

.list-item-vote {
    margin-top: 10px;
}


/* 25/11/2019 */

.panle-body-content .form-check {
    margin-bottom: 0;
}

.form-check .form-check-label {
    font-size: 16px;
}


/* fix/css_26_11 */

.han.b-20-9 .row-modal .modal-box-right .box-datetime .wrap-quantity>input {
    padding: 0 !important;
}


/* 30-11-2019 */

textarea,
.input-text {
    color: #131c3d !important;
}


/* link cho ban tay */

label,
select,
input {
    cursor: pointer;
}

.form-search .input-search {
    cursor: pointer;
}

.group-btn-search-h .item-search-h .el-button {
    cursor: pointer;
    pointer-events: visible;
}

.body-mess .infor-friend .group-mess .add-member {
    cursor: pointer;
}

.body-mess .mess-box .mess-right .mess-content .mess-content-left .presentation .new-mess .new-mess-wrapp .form-chat .input-chat input {
    cursor: pointer;
}

.group-item.group-1.group-skills .input-text {
    padding: 0 15px;
}

.add-project {
    cursor: pointer;
}


/* 4/12/2019 */

.wrapper-signup .el-checkbox__input.is-checked+.el-checkbox__label {
    color: #606266;
}

.wrapper-signup .el-checkbox__inner,
.wrapper-signup .el-checkbox__input.is-checked .el-checkbox__inner,
.el-checkbox__input.is-indeterminate .el-checkbox__inner {
    height: 18px;
    width: 18px;
    background: #fff;
    border-color: #606266;
}

.wrapper-signup .el-checkbox__inner::after {
    border: 3px solid #2c96ec;
    box-sizing: content-box;
    content: "";
    border-left: 0;
    border-top: 0;
    height: 18px;
    left: 8px;
    position: absolute;
    top: -8px;
    width: 4px;
    -webkit-transform: rotate(45deg) scaleY(0);
    transform: rotate(45deg) scaleY(0);
    -webkit-transition: -webkit-transform .15s ease-in .05s;
    transition: -webkit-transform .15s ease-in .05s;
    transition: transform .15s ease-in .05s;
    transition: transform .15s ease-in .05s, -webkit-transform .15s ease-in .05s;
    transition: transform .15s ease-in .05s, -webkit-transform .15s ease-in .05s;
    -webkit-transform-origin: center;
    transform-origin: center;
}

.wrapper-signup .el-checkbox__label .links {
    color: #2c96ec;
}

.item-prd-vote .img-thumb::before {
    background: rgba(0, 0, 0, 0.05);
}

.wrapper-signup .el-form .title>a {
    color: #2c96ec;
}

.panel-body-hp .list-hp .list-item-hp .img-thumb .image .el-image:before {
    display: none;
}

.wrap-quantity .quantity {
    color: #fff !important;
}

.wp-page .group-order {
    min-height: calc(100vh - 111px);
    display: flex;
    align-items: center;
    justify-content: center;
}

.wp-page .group-order .box-left {
    display: flex;
    align-items: center;
    padding: 30px 0;
    min-height: calc(100vh - 111px);
}

.wp-page .group-order .box-left .body-in-total.p-100 {
    padding: 0 !important;
}

.group-order .box-right {
    height: auto;
}

.group-order .box-right.top.sticky-top {
    min-height: calc(100% - 111px);
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 20px 0;
    z-index: 0;
    position: unset;
    top: unset;
}

.order-b15 .group-left .title {
    margin-bottom: 20px;
}

.group-item-aside .panle-body {
    padding: 10px 20px;
}


/* 10_12_2019 */

.body-b-20-7 .wrap-quantity .quantity {
    color: #131c3d !important;
}

.prd-1 .item-prd .el-image.img-fluid.img-cover {
    object-fit: contain;
}

.prd-1 .item-prd .el-image.img-fluid.img-cover>img {
    object-fit: contain !important;
}

.content-page-total .wp-page .group-step>li::before {
    display: none;
}

.content-page-total .wp-page .group-step>li+li {
    margin-top: 0;
}

.content-page-total .wp-page .group-step>li {
    margin-bottom: 10px;
}

.content-page-total .wp-page .group-step>li .item-step {
    height: 48px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.select-sub-menu.input-text.input.text-white {
    color: #ffffff !important;
}


/* 11-12-2019 */

.group-top-content_c14 .group-right .group-right-top .group-select .title {
    font-weight: 700;
}

.img-thumb-default {
    height: 350px;
    width: 100%;
    background: #6A6E71;
    border: 1px solid rgba(0, 0, 0, 0.3);
    position: relative;
}

.img-thumb-default::before {
    position: absolute;
    content: '';
    display: block;
    bottom: 0;
    left: 0;
    right: 0;
    height: 40%;
    background: #3e4042;
    /* Old browsers */
    background: -moz-linear-gradient(top, #3e4042 0%, #6A6E71 100%);
    /* FF3.6-15 */
    background: -webkit-linear-gradient(top, #3e4042 0%, #6A6E71 100%);
    /* Chrome10-25,Safari5.1-6 */
    background: linear-gradient(to bottom, #3e4042 0%, #6A6E71 100%);
    /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
    filter: progid: DXImageTransform.Microsoft.gradient( startColorstr='#3e4042', endColorstr='#6A6E71', GradientType=0);
    /* IE6-9 */
    transform: rotate(180deg);
}

.add-cover-photo-link .icon>i {
    font-size: 40px;
}

.add-cover-photo-link {
    position: absolute;
    z-index: 10;
    color: #EBEDEF;
    display: block;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    color: #ffffff;
    text-align: center;
}

.add-cover-photo-link:hover {
    color: #ffffff;
}

@media (max-width: 1199px) {
    .img-thumb-default {
        height: 320px;
    }
}

@media (max-width: 767px) {
    .group-info-avarta .info .address .el-button {
        white-space: normal;
    }
}

.not-require .el-form-item.is-required:not(.is-no-asterisk)>.el-form-item__label:before {
    content: '';
}


/* 19-12-2019 */

.group-bg-cover_ha {
    background: #d2d2d2;
    opacity: .8;
    position: relative;
    z-index: 0;
}

.group-bg-cover_ha::before {
    content: '';
    position: absolute;
    left: 0;
    top: 0;
    right: 0;
    bottom: 0;
    background: #000;
    filter: progid: DXImageTransform.Microsoft.Alpha(Opacity=30);
    opacity: 0.3;
    -webkit-filter: progid: DXImageTransform.Microsoft.Alpha(Opacity=30);
}

.wp-banner.position-banner {
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center center;
}

.group-bg-cover_ha .wp-banner .img-thumb .image {
    height: 350px;
}

.group-upper-header .group-item .wrap-item {
    min-width: 100px;
    padding: 0 15px;
}

.ta-project .el-tooltip.title {
    color: #ffffff;
}

.wp-direction .list-item>li:nth-child(2) .item .info .group-info {
    margin-left: auto;
}