/* New design */


/* footer */

#footer {
    background: #32353B;
    padding-right: 83px;
    padding-left: 83px;
}

.top-footer .content-top-footer .logo .image-logo {
    width: 240px;
}

@media (max-width: 575px) {
    .top-footer .content-top-footer .logo .image-logo {
        width: 200px;
    }
    #footer {
        padding-right: 0;
        padding-left: 0;
    }
}

.top-footer .content-top-footer .logo .meta {
    font-size: 15px;
    color: #ffffff;
}

.box-links-ft .content-ft .pn-head-ft .title-ft {
    font-size: 21px;
    color: #ffffff;
}

.content-ft .pn-body-ft>li .text-link {
    color: #d2d2d2;
    font-size: 17px !important;
    font-weight: 500;
}

.top-footer .content-top-footer {
    border-bottom: 1px solid #707070;
    padding-bottom: 38px;
    margin-bottom: 10px;
}

.upper-footer .box-left-ft .list>li .text-link {
    color: #fff;
    font-size: 15px;
}

.box-social-ft {
    width: 100%;
}

.box-social-ft .list-social {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    -webkit-box-pack: end;
    -ms-flex-pack: end;
    justify-content: flex-end;
}

.box-social-ft .top-box-social li .item-social {
    font-size: 30px;
    background-color: transparent
}

.box-social-ft .top-box-social li:nth-child(3) {
    -webkit-box-ordinal-group: 5;
    -ms-flex-order: 4;
    order: 4;
}

.box-social-ft .top-box-social li:nth-child(4) {
    -webkit-box-ordinal-group: 4;
    -ms-flex-order: 3;
    order: 3;
}

.box-social-ft .top-box-social li:not(:last-child) {
    margin-right: 30px;
}

.box-social-ft .top-box-social li:nth-child(3) {
    margin-right: 0;
}

.upper-footer .box-right-ft .list>li .text-link {
    font-size: 16px;
    color: #D2D2D2;
    height: auto;
    padding: 15px 38px;
    border: 2px solid #D2D2D2;
}

.upper-footer .box-right-ft .list>li .text-link:hover {
    color: #ffffff !important;
}

.box-social-ft .up-box-social {
    display: none;
}

.box-social-ft .top-box-social li .item-social.youtube {
    display: none;
}

.box-social-ft .top-box-social li .item-social.facebook:hover,
.box-social-ft .top-box-social li .item-social.twitter:hover,
.box-social-ft .top-box-social li .item-social.instagram:hover,
.box-social-ft .top-box-social li .item-social.linkedin:hover {
    background-color: transparent;
}

.box-links-ft .content-ft .pn-body-ft>li {
    margin-bottom: 15px;
}

.wp-direction .list-item>li .item .info .group-info {
    max-width: 600px;
}

.group-upper-direction .description {
    max-width: 465px
}

.upper-footer {
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between;
}


/*  */

html {
    font-size: 16px;
}

@media (min-width: 1200px) {
    .max-910 {
        max-width: 910px !important;
    }
}

.heading-49 {
    font-size: 49px;
}

.heading-42 {
    font-size: 42px;
}

.heading-40 {
    font-size: 40px;
}

.heading-34 {
    font-size: 34px;
}

.heading-32 {
    font-size: 32px;
}

.heading-28 {
    font-size: 28px;
}

.heading-26 {
    font-size: 26px;
}

.heading-24 {
    font-size: 24px;
}

.heading-22 {
    font-size: 22px;
}

.heading-20 {
    font-size: 20px;
}

.heading-18 {
    font-size: 18px;
}

.heading-17 {
    font-size: 17px;
}

.heading-16 {
    font-size: 16px;
}

.heading-15 {
    font-size: 15px;
}

.heading-14 {
    font-size: 14px;
}

@media (max-width: 575px) {
    .heading-49 {
        font-size: 32px;
    }
    .heading-42 {
        font-size: 30px;
    }
    .heading-40 {
        font-size: 28px;
    }
    .heading-34 {
        font-size: 26px;
    }
    .heading-32 {
        font-size: 24px;
    }
    .heading-28 {
        font-size: 22px;
    }
    .heading-26 {
        font-size: 20px;
    }
    .heading-24 {
        font-size: 19px;
    }
    .heading-22 {
        font-size: 18px;
    }
}

@media (min-width: 576px) and (max-width: 767px) {
    .heading-49 {
        font-size: 36px;
    }
    .heading-42 {
        font-size: 34px;
    }
    .heading-40 {
        font-size: 30px;
    }
    .heading-34 {
        font-size: 28px;
    }
    .heading-32 {
        font-size: 26px;
    }
    .heading-28 {
        font-size: 22px;
    }
    .heading-26 {
        font-size: 20px;
    }
    .heading-24 {
        font-size: 19px;
    }
    .heading-22 {
        font-size: 18px;
    }
}

@media (min-width: 768px) and (max-width: 991px) {
    .heading-49 {
        font-size: 38px;
    }
    .heading-42 {
        font-size: 36px;
    }
    .heading-40 {
        font-size: 30px;
    }
    .heading-34 {
        font-size: 30px;
    }
    .heading-32 {
        font-size: 28px;
    }
    .heading-28 {
        font-size: 24px;
    }
    .heading-26 {
        font-size: 22px;
    }
    .heading-24 {
        font-size: 22px;
    }
    .heading-22 {
        font-size: 20px;
    }
}

@media (min-width: 992px) and (max-width: 1199px) {
    .heading-49 {
        font-size: 40px;
    }
    .heading-42 {
        font-size: 36px;
    }
    .heading-40 {
        font-size: 32px;
    }
    .heading-32 {
        font-size: 30px;
    }
    .heading-28 {
        font-size: 26px;
    }
    .heading-26 {
        font-size: 25px;
    }
    .heading-24 {
        font-size: 23px;
    }
    .heading-22 {
        font-size: 21px;
    }
}

@media (min-width: 1200px) and (max-width: 1440px) {
    .heading-49 {
        font-size: 40px;
    }
    .heading-42 {
        font-size: 36px;
    }
    .heading-40 {
        font-size: 34px;
    }
}

.heading-1 {
    color: #3C3C3C;
}


/* end heading */

.new-design {
    min-height: 100vh;
    background: #fff;
}

.content-toppage_new {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between;
}

.btn-read_new {
    display: inline-block;
    min-width: 136px;
    height: 38px;
    line-height: 38px;
    color: #ffffff;
    background: #F87702;
    border-radius: 10px;
    text-align: center;
    font-weight: bold;
    font-size: 13px;
    margin-bottom: 50px;
}

.btn-read_new:hover {
    color: #ffffff;
}

.info-toppage_new {
    padding: 100px 0;
}

.info-toppage_new .name-title {
    color: #ffffff;
    margin-bottom: 50px;
    font-size: 28px;
}

.info-toppage_new .description {
    color: #ffffff;
    margin-bottom: 17px;
    font-size: 19px;
}

.note_new {
    color: #D2D2D2;
    margin-bottom: 57px;
    text-decoration: underline;
    font-size: 15px;
}

.toppage-new {
    position: relative;
    background: url("~assets/images/image-newDesign/bg-index-new.png") no-repeat bottom;
    background-size: cover;
    margin-bottom: 100px;
    margin-top: -1px;
}

.title-partner {
    text-align: center;
    margin-bottom: 30px;
    font-size: 16px;
}

.partner-new {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between;
}

.group-partner-new {
    margin-bottom: 60px;
}

@media (max-width: 768px) {
    .scroll-x_partner {
        overflow-x: auto;
    }
    .partner-new {
        width: 732px;
    }
}

@media (max-width: 575px) {
    .info-toppage_new {
        padding: 50px 0 100px;
    }
}


/* group-expert-new */

.group-expert-new {
    margin-bottom: 75px;
    position: relative;
}

.head-expert-new {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    -webkit-box-align: end;
    -ms-flex-align: end;
    align-items: flex-end;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    text-align: center;
    margin-bottom: 50px;
}

.head-expert-new .texts {
    font-weight: bold;
    font-size: 21px;
}

.head-expert-new .image>img {
    height: 44px;
}

.list-expert-new .row-5 {
    margin-left: -15px;
    margin-right: -15px;
}

.row-5 {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
}

.item-col-5 {
    padding-right: 15px;
    padding-left: 15px;
    margin-bottom: 50px;
    -webkit-box-flex: 0;
    -ms-flex: 0 0 20%;
    flex: 0 0 20%;
    max-width: 20%;
}

@media (max-width: 575px) {
    .item-col-5 {
        padding-right: 15px;
        padding-left: 15px;
        margin-bottom: 50px;
        -webkit-box-flex: 0;
        -ms-flex: 0 0 100%;
        flex: 0 0 100%;
        max-width: 100%;
    }
}

@media (min-width: 576px) and (max-width: 767px) {
    .item-col-5 {
        padding-right: 15px;
        padding-left: 15px;
        margin-bottom: 50px;
        -webkit-box-flex: 0;
        -ms-flex: 0 0 50%;
        flex: 0 0 50%;
        max-width: 50%;
    }
}

@media (min-width: 768px) and (max-width: 991px) {
    .item-col-5 {
        padding-right: 15px;
        padding-left: 15px;
        margin-bottom: 50px;
        -webkit-box-flex: 0;
        -ms-flex: 0 0 33.33%;
        flex: 0 0 33.33%;
        max-width: 33.33%;
    }
}

@media (min-width: 992px) and (max-width: 1199px) {
    .item-col-5 {
        padding-right: 15px;
        padding-left: 15px;
        margin-bottom: 50px;
        -webkit-box-flex: 0;
        -ms-flex: 0 0 25%;
        flex: 0 0 25%;
        max-width: 25%;
    }
}

.item-expert-new {
    text-align: center;
}

.item-expert-new .img-thumb {
    border-bottom: 3px solid #D2D2D2;
    padding-bottom: 30px;
    margin-bottom: 25px;
    margin-left: auto;
    margin-right: auto;
}

.item-expert-new .img-thumb .image {
    display: block;
    height: 97px;
    -webkit-transition: ease .5s;
    transition: ease .5s;
}

.item-expert-new .img-thumb .image>img {
    height: 100%;
    width: 100%;
    display: block;
    -o-object-fit: scale-down;
    object-fit: scale-down;
}

.item-expert-new .info .name-title {
    color: #3C3C3C;
    font-size: 19px;
    font-weight: bold;
}

.item-expert-new:hover .img-thumb .image {
    -webkit-transform: scale(1.1);
    transform: scale(1.1);
}

.item-expert-new:hover .info .name-title {
    color: #00b4db;
}


/* end expert-new */


/* step-new */

.group-step-new {
    margin-bottom: 125px;
    position: relative;
}

.head-step-new {
    margin-bottom: 48px;
}

.title-step {
    text-align: center;
    font-weight: bold;
}

.title-projects-new {
    font-weight: bold;
}

.list-step-new {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-pack: distribute;
    justify-content: space-around;
    position: relative;
}

.list-step-new::before {
    position: absolute;
    content: '';
    display: block;
    top: 45px;
    left: 0;
    height: 5px;
    width: 100%;
    background: #d2d2d2;
}

.list-step-new::after {
    position: absolute;
    display: block;
    content: '';
    top: 38px;
    width: 20px;
    height: 20px;
    border: 5px solid #d2d2d2;
    border-left: 0;
    border-top: 0;
    -webkit-transform: rotate(-45deg);
    transform: rotate(-45deg);
    right: 0%;
}

.item-step-new {
    width: 200px;
    text-align: center;
}

.item-step-new .name-title {
    font-size: 19px;
}

.image-step .number {
    height: 90px;
    width: 90px;
    border-radius: 50%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    border: 10px solid #00B4DB;
    margin-left: auto;
    margin-right: auto;
    color: #00B4DB;
    font-size: 29px;
    font-weight: bold;
    background: #ffffff;
    -webkit-box-shadow: 0px 0px 0px 2px #ffffff;
    box-shadow: 0px 0px 0px 2px #ffffff;
}

.image-step .number.active {
    background: #00b4db;
    /* Old browsers */
    /* FF3.6-15 */
    /* Chrome10-25,Safari5.1-6 */
    background: -webkit-gradient(linear, left top, left bottom, color-stop(1%, #00b4db), to(#0083b0));
    background: linear-gradient(to bottom, #00b4db 1%, #0083b0 100%);
    /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
    filter: progid: DXImageTransform.Microsoft.gradient( startColorstr='#00b4db', endColorstr='#0083b0', GradientType=0);
    /* IE6-9 */
    color: #ffffff;
    border: none;
}

.item-step-new .info {
    margin-top: 25px;
}

.item-step-new .image-step {
    position: relative;
    width: 90px;
    margin: auto;
}

.item-step-new .image-step::before {
    position: absolute;
    display: inline-block;
    top: 38px;
}

.item-step-new:nth-child(1) .image-step::before {
    content: '';
    width: 20px;
    height: 20px;
    border: 5px solid #d2d2d2;
    border-left: 0;
    border-top: 0;
    -webkit-transform: rotate(-45deg);
    transform: rotate(-45deg);
    right: 105%;
}

.item-step-new:nth-child(2) .image-step::before {
    content: '';
    width: 20px;
    height: 20px;
    border: 5px solid #d2d2d2;
    border-left: 0;
    border-top: 0;
    -webkit-transform: rotate(-45deg);
    transform: rotate(-45deg);
    right: 105%;
}

.item-step-new:nth-child(3) .image-step::before {
    content: '';
    width: 20px;
    height: 20px;
    border: 5px solid #d2d2d2;
    border-left: 0;
    border-top: 0;
    -webkit-transform: rotate(-45deg);
    transform: rotate(-45deg);
    right: 104%;
}

@media (max-width: 991px) {
    .item-step-new:nth-child(1) .image-step::before {
        display: block;
        background: none;
        content: "\f061";
        font-family: "Font Awesome 5 Free";
        font-weight: bold;
        font-size: 38px;
        height: auto;
        -webkit-transform: translate(-100%, -50%);
        transform: translate(-100%, -50%);
        color: #d2d2d2;
        border: none;
        width: auto;
        left: 150%;
    }
    .item-step-new:nth-child(2) .image-step::before {
        display: block;
        content: "\f061";
        font-family: "Font Awesome 5 Free";
        font-weight: bold;
        font-size: 38px;
        height: auto;
        -webkit-transform: translate(100%, -50%);
        transform: translate(100%, -50%);
        color: #d2d2d2;
        border: none;
        width: auto;
        right: -60%;
    }
    .list-step-new::before {
        display: none;
    }
    .item-step-new:nth-child(3) .image-step::before {
        display: none;
    }
    .list-step-new::after {
        display: none;
    }
}

@media (max-width: 767px) {
    .list-step-new {
        display: block;
    }
    .item-step-new {
        margin-left: auto;
        margin-right: auto;
        margin-bottom: 100px;
        padding-bottom: 30px;
    }
    .item-step-new:nth-child(2) .image-step::before {
        display: none;
    }
    .item-step-new:nth-child(2) .image-step::after {
        display: none;
    }
    .item-step-new {
        position: relative;
    }
    .item-step-new:not(:last-child):before {
        position: absolute;
        display: block;
        content: '\f063';
        font-size: 38px;
        font-family: "Font Awesome 5 Free";
        font-weight: bold;
        top: 100%;
        left: 50%;
        -webkit-transform: translate(-50%, 0);
        transform: translate(-50%, 0);
        color: #d2d2d2;
    }
    .image-step .number {
        -webkit-box-shadow: 0px 0px 0px 2px #ffffff;
        box-shadow: 0px 0px 0px 2px #ffffff;
    }
    .item-step-new:nth-child(1) .image-step::before {
        display: none;
    }
}


/* end step-new */

.bg-absolute {
    position: relative;
}

.bg-absolute::before {
    position: absolute;
    content: '';
    display: block;
    background: #00b4db;
    /* Old browsers */
    /* FF3.6-15 */
    /* Chrome10-25,Safari5.1-6 */
    background: -webkit-gradient(linear, left top, left bottom, color-stop(1%, #00b4db), to(#0083b0));
    background: linear-gradient(to bottom, #00b4db 1%, #0083b0 100%);
    /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
    filter: progid: DXImageTransform.Microsoft.gradient( startColorstr='#00b4db', endColorstr='#0083b0', GradientType=0);
    /* IE6-9 */
    display: inline-block;
    margin: 0 1em 1em 0;
    height: 500px;
    width: 250px;
    border-bottom-right-radius: 500px;
    border-top-right-radius: 500px;
    top: 50%;
    left: 0;
    -webkit-transform: translate(-30%, -15%);
    transform: translate(-30%, -15%);
    z-index: 0;
}


/* group-recommended-projects-new */

.group-recommended-projects-new {
    margin-bottom: 75px;
}

.head-projects-new {
    margin-bottom: 75px;
}

.item-projects-new {
    -webkit-box-shadow: 0 1px 12px #00000016;
    box-shadow: 0 1px 12px #00000016;
    border-radius: 10px;
    left: 15px;
    right: 15px;
    top: 50%;
    background: #fff;
    margin-left: auto;
    margin-right: auto;
    height: 100%;
    display: flex;
    flex-direction: column;
}

.item-projects-new .name-field {
    font-size: 9px;
}

.item-projects-new .name-title-new {
    font-size: 10px;
}

.group-meta-nationality .texts {
    font-size: 10px;
}

.img-thumb-projects-new {
    margin-bottom: 17px;
    max-width: 150px;
    margin-left: auto;
    margin-right: auto;
}

.img-thumb-projects-new .image {
    display: block;
    height: 80px;
}

.img-thumb-projects-new .image>img {
    display: block;
    height: 100%;
    width: 100%;
    -o-object-fit: scale-down;
    object-fit: scale-down;
}

.heart-new {
    text-align: right;
    margin-bottom: 17px;
}

.heart-new>img {
    width: 20px;
}

.name-field {
    text-align: center;
    margin-bottom: 13px;
    color: #707070;
}

.rule-project-new {
    border-bottom: 1px solid #D2D2D2;
    margin-bottom: 20px;
}

.item-projects-new .name-title-new {
    color: #3C3C3C;
    margin-bottom: 5px;
    font-weight: bold;
}

.group-meta-nationality {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    margin-bottom: 10px;
}

.group-meta-nationality .texts {
    color: #707070;
    margin-right: 23px;
    font-weight: bold;
}

.group-meta-nationality .icon {
    max-width: 22px;
    line-height: initial;
}

.group-meta-nationality .icon>img {
    height: 10px;
}

.group-address-new {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: baseline;
    -ms-flex-align: baseline;
    align-items: baseline;
}

.group-address-new .icon {
    margin-right: 5px;
}

.group-address-new .texts {
    color: #3C3C3C;
    font-weight: bold;
    font-size: 9px;
}

.group-star-new {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    margin-right: 17px;
}

.group-star-new .icon {
    margin-right: 5px;
    line-height: 0px;
}

.group-star-new .icon>img {
    height: 11px;
}

.group-favorites-new {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
}

.group-favorites-new .icon {
    margin-right: 5px;
    line-height: 10px;
}

.group-favorites-new .icon>img {
    height: 10px;
    line-height: 10px;
}

.group-favorites-new .texts {
    font-weight: bold;
    font-size: 11px;
}

.group-number-favorites {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
}

.group-number-favorites .group-star-new .icon>img {
    height: 20px;
    line-height: 20px;
}

.wrap-salary {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between;
    padding: 16px;
    background: #D2D2D220;
    margin-top: auto;
}

.group-salary-new {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-flex: 1;
    -ms-flex: 1;
    flex: 1;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between;
    margin-right: 15px;
}

.group-next-new {
    width: 30px;
    margin-left: auto;
}

.group-next-new .btn-next {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    border: 3px solid #F87702;
    border-radius: 50%;
    padding: 10px;
    margin-left: auto;
    height: 30px;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
}

.group-next-new .btn-next>img {
    display: block;
    width: 12px;
    height: auto;
}

.salary-mounth {
    white-space: nowrap;
    font-size: 9px;
    color: #707070;
}

.group-programming-language {
    line-height: 0;
    font-size: 0;
    display: none;
}

.group-programming-language .item-language {
    display: inline-block;
    margin-right: 10px;
    font-size: 9px;
}

.item-projects-new:hover {
    background: #00b4db;
    background: -webkit-gradient(linear, left top, left bottom, color-stop(1%, #00b4db), to(#0083b0));
    background: linear-gradient(to bottom, #00b4db 1%, #0083b0 100%);
    filter: progid: DXImageTransform.Microsoft.gradient( startColorstr='#00b4db', endColorstr='#0083b0', GradientType=0);
}

.item-projects-new:hover .group-meta-nationality .texts {
    color: #D2D2D2;
}

.item-projects-new:hover .texts {
    color: #ffffff;
}

.item-projects-new:hover .heart-new>img {
    -webkit-filter: brightness(100);
    filter: brightness(100);
}

.item-projects-new:hover .name-field {
    color: #ffffff;
    font-weight: bold;
}

.item-projects-new:hover .name-title-new {
    color: #ffffff;
}

.item-projects-new:hover .group-address-new .icon>img {
    -webkit-filter: brightness(100);
    filter: brightness(100);
}

.group-salary-new .salary-new {
    font-weight: bold;
    font-size: 16px;
    color: #4BBDD6;
}

.item-projects-new:hover .salary-new {
    color: #ffffff;
}

.item-projects-new:hover .salary-mounth {
    color: #D2D2D2;
}

.item-projects-new:hover .group-next-new .btn-next {
    background: #F87702;
    border: 3px solid #F87702;
}

.item-projects-new:hover .group-next-new .btn-next>img {
    filter: brightness(100);
    -webkit-filter: brightness(100);
}

.item-projects-new:hover .group-programming-language {
    line-height: inherit;
    font-size: 16px;
    font-weight: bold;
    display: block;
}

.item-projects-new:hover .group-programming-language .item-language {
    color: #ffffff;
}

.estimated-budget {
    line-height: 0;
    font-size: 0;
}

.item-projects-new:hover .estimated-budget {
    line-height: inherit;
    font-size: 10px;
    color: #D2D2D2;
    font-weight: bold;
}

.group-star-new .texts {
    font-weight: bold;
    font-size: 11px;
}

.wrap-info-project {
    margin-bottom: 15px;
}

.img-thumb-expert-new {
    margin-bottom: 6px;
}

.img-thumb-expert-new .image {
    text-align: center;
}

.img-thumb-expert-new .image>img {
    border-radius: 50%;
    width: 100px;
    height: 100px;
    display: block;
    margin-left: auto;
    margin-right: auto;
}


/* group-parameter-new */

.group-parameter-new {
    text-align: right;
}

.registered-countries {
    display: inline-block;
    text-align: center;
}

.registered-countries:not(:last-child) {
    margin-right: 100px;
}

.registered-countries .number {
    color: #00B4DB;
    font-size: 38px;
    font-weight: bold;
}

.registered-countries .texts {
    color: #707070;
    font-size: 16px;
}

.body-provide-services-new {
    margin-bottom: 40px;
}

.group-provide-services-new {
    margin-bottom: 78px;
}


/* group-voice-used-new */

.group-voice-used-new {
    margin-bottom: 40px;
}

.group-voice-used-new .container {
    padding-left: 20px;
    padding-right: 20px;
}

.content-item-voice {
    padding: 20px;
    text-align: center;
    -webkit-box-shadow: 0 3px 6px #00000016;
    box-shadow: 0 3px 6px #00000016;
    border-radius: 5px;
    -webkit-transition: all .4s;
    transition: all .4s;
    height: 100%;
}

.img-thumb-voice {
    margin-bottom: 16px;
}

.img-thumb-voice .image>img {
    height: 63px;
    width: 63px;
    border-radius: 50%;
}

.content-item-voice .name-user {
    margin-bottom: 5px;
    color: #3C3C3C;
    font-size: 13px;
    font-weight: bold;
}

.content-item-voice .name-company {
    margin-bottom: 5px;
    color: #3D3D3D;
    font-size: 10px;
}

.position-voice {
    font-size: 9px;
    color: #707070;
    margin-bottom: 10px;
}

.group-rating-voice-new {
    margin-bottom: 14px;
}

.item-rate-voice:not(:last-child) {
    margin-right: 3px;
}

.item-rate-voice>img {
    width: 15px;
    height: auto;
}

.head-voice-used-new {
    text-align: center;
    margin-bottom: 74px;
}

.content-item-voice .description {
    font-size: 9px;
    color: #707070;
}

.content-item-voice:hover {
    background: #00b4db;
    background: -webkit-gradient(linear, left top, left bottom, color-stop(1%, #00b4db), to(#0083b0));
    background: linear-gradient(to bottom, #00b4db 1%, #0083b0 100%);
    filter: progid: DXImageTransform.Microsoft.gradient( startColorstr='#00b4db', endColorstr='#0083b0', GradientType=0);
}

.content-item-voice:hover .texts {
    color: #ffffff;
}

.content-item-voice:hover .position-voice {
    color: #ffffff;
}

.row.list-voice-used {
    margin-right: -13px;
    margin-left: -13px;
}

.list-voice-used .item-voice-used {
    margin-bottom: 40px;
    padding-left: 13px;
    padding-right: 13px;
}

.list-recommended-projects-new .row-5 {
    margin-right: -13.5px;
    margin-left: -13.5px;
}

.list-recommended-projects-new .item-5 {
    padding-right: 13.5px;
    padding-left: 13.5px;
    margin-bottom: 50px;
    -webkit-box-flex: 0;
    -ms-flex: 0 0 20%;
    flex: 0 0 20%;
    max-width: 20%;
}

.item-partner {
    max-height: 60px;
}

.item-partner>img {
    max-height: 60px;
}

@media (max-width: 1199px) {
    .item-partner:not(:last-child) {
        margin-right: 15px;
    }
    .upper-partner .scroll-x_partner {
        overflow-x: auto;
        overflow-y: hidden;
    }
    .upper-partner .scroll-x_partner::-webkit-scrollbar {
        display: none;
    }
    .upper-partner .scroll-x_partner .partner-new {
        width: 1070px;
    }
    .list-recommended-projects-new .item-5 {
        padding-right: 15px;
        padding-left: 15px;
        margin-bottom: 30px;
        -webkit-box-flex: 0;
        -ms-flex: 0 0 25%;
        flex: 0 0 25%;
        max-width: 25%;
    }
}

@media (max-width: 575px) {
    .head-expert-new {
        margin-bottom: 30px;
    }
    .group-expert-new {
        margin-bottom: 30px;
    }
    .group-step-new {
        margin-bottom: 30px;
    }
    .group-recommended-projects-new {
        margin-bottom: 30px;
    }
    .head-step-new {
        margin-bottom: 30px;
    }
    .list-recommended-projects-new .item-5 {
        padding-right: 15px;
        padding-left: 15px;
        margin-bottom: 50px;
        -webkit-box-flex: 0;
        -ms-flex: 0 0 100%;
        flex: 0 0 100%;
        max-width: 100%;
    }
}

@media (min-width: 576px) and (max-width: 767px) {
    .head-expert-new {
        margin-bottom: 50px;
    }
    .group-expert-new {
        margin-bottom: 50px;
    }
    .group-step-new {
        margin-bottom: 50px;
    }
    .group-recommended-projects-new {
        margin-bottom: 50px;
    }
    .list-recommended-projects-new .item-5 {
        padding-right: 15px;
        padding-left: 15px;
        margin-bottom: 50px;
        -webkit-box-flex: 0;
        -ms-flex: 0 0 50%;
        flex: 0 0 50%;
        max-width: 50%;
    }
}

@media (min-width: 768px) and (max-width: 991px) {
    .head-expert-new {
        margin-bottom: 80px;
    }
    .group-expert-new {
        margin-bottom: 50px;
    }
    .group-step-new {
        margin-bottom: 80px;
    }
    .group-recommended-projects-new {
        margin-bottom: 80px;
    }
    .list-recommended-projects-new .item-5 {
        padding-right: 15px;
        padding-left: 15px;
        margin-bottom: 50px;
        -webkit-box-flex: 0;
        -ms-flex: 0 0 33.33%;
        flex: 0 0 33.33%;
        max-width: 33.33%;
    }
}

@media (min-width: 992px) and (max-width: 1199px) {
    .group-step-new {
        margin-bottom: 100px;
    }
    .group-recommended-projects-new {
        margin-bottom: 100px;
    }
}


/* .a111-new {
    min-height: 100vh !important;
} */

.max-1386 {
    max-width: 1386px;
}

.panel-head-general-new {
    margin-bottom: 38px;
}

.panel-head-general-new .title-big {
    color: #3C3C3C;
    font-weight: bold;
    font-size: 28px;
}

.panel-head-general-new .rule-head {
    border: 2px solid #3c3c3c;
    width: 60px;
    height: 1px;
    background: transparent;
    margin-bottom: 30px;
}

.item-recruit-new {
    text-align: center;
    max-width: 90%;
    margin-left: auto;
    margin-right: auto;
}

.item-recruit-new .number {
    font-size: 20px;
    height: 42px !important;
    width: 42px !important;
    line-height: 42px;
    font-weight: 500;
    border-radius: 50%;
    margin-left: auto;
    margin-right: auto;
    color: #ffffff;
    background: #00b4db;
    /* Old browsers */
    /* FF3.6-15 */
    /* Chrome10-25,Safari5.1-6 */
    background: -webkit-gradient(linear, left top, left bottom, color-stop(1%, #00b4db), to(#0083b0));
    background: linear-gradient(to bottom, #00b4db 1%, #0083b0 100%);
    /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
    filter: progid: DXImageTransform.Microsoft.gradient( startColorstr='#00b4db', endColorstr='#0083b0', GradientType=0);
    /* IE6-9 */
    margin-bottom: 26px;
    font-weight: bold;
}

.item-recruit-new .name-title {
    margin-bottom: 15px;
}

.item-recruit-new .name-title .title {
    color: #3C3C3C;
    font-weight: bold;
    font-size: 17px;
}

.item-recruit-new .description {
    font-size: 12px;
}

.item-costs-new {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    padding: 23px 0;
    border-bottom: 1px solid #d2d2d2;
}

.item-costs-new .left-costs {
    font-size: 16px;
    color: #333333;
    margin-right: 30px;
    font-weight: bold;
}

.item-costs-new .right-costs {
    color: #00B4DB;
    font-size: 16px;
    font-weight: bold;
}

.list-costs-new {
    margin-bottom: 16px;
}

.attention-new {
    color: #A7A7A7;
    font-size: 12px;
}

.title-services-new {
    text-align: center;
    margin-bottom: 45px;
    font-weight: bold;
    font-size: 28px;
}


/* 12-12-2019 */

.item-trust-new .img-thumb {
    margin-bottom: 15px;
}

.item-trust-new .img-thumb .image {
    height: 115px;
    display: block;
}

.item-trust-new .img-thumb .image>img {
    height: 100%;
}

.item-trust-new .info {
    width: 80%;
    margin-left: auto;
    margin-right: auto;
}

.item-trust-new .info .name-title {
    margin-bottom: 15px;
}

.item-trust-new .info .name-title .title {
    color: #3C3C3C;
    font-weight: bold;
    font-size: 17px;
}

.item-trust-new .info .description {
    color: #707070;
    font-size: 12px;
}

.wp-bn-sys-new {
    margin-bottom: 77px;
}

.group-benefits-new {
    min-width: 10%;
    text-align: center;
    margin-left: auto;
}

.group-benefits-new>img {
    height: 16px;
    display: block;
}

.group-benefits-new .persen {
    color: #00b4db;
    font-weight: bold;
}

.group-benefits-new .note {
    color: #00b4db;
    font-weight: bold;
}


/* group-reward-new */

.group-reward-new {
    margin-bottom: 150px;
}

.body-reward-new {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
}

.body-reward-new .info {
    width: 40%;
}

.body-reward-new .info .name-title {
    color: #3c3c3c;
    margin-bottom: 24px;
    font-size: 22px;
    font-weight: bold;
}

.body-reward-new .info .description {
    color: #707070;
    margin-bottom: 30px;
    font-size: 11px;
}

.body-reward-new .img-thumb {
    -webkit-box-flex: 1;
    -ms-flex: 1;
    flex: 1;
    padding-left: 50px;
}

.body-reward-new .img-thumb .image {
    display: block;
}

@media (max-width: 768px) {
    .body-reward-new {
        display: block;
    }
    .body-reward-new .info {
        width: 100%;
    }
    .body-reward-new .img-thumb {
        padding-left: 0;
    }
}

.item-solution {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
}

.item-solution .icon>img {
    display: bl;
    width: 20px;
    height: auto;
}


/* order-solution-1 */

.order-solution-1 {
    margin-bottom: 150px;
}

.group-content-solution {
    background: #ffffff;
    -webkit-box-shadow: 0 0px 0px #00000016;
    box-shadow: 0 0px 0px #00000016;
    border-radius: 0 10px 10px 0;
    position: relative;
    margin-right: -100px;
    z-index: 6;
}

.wrap-tranfrom .row {
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
}

.group-content-solution .info .name-title {
    margin-bottom: 40px;
    font-size: 32px;
    font-weight: bold;
}

.list-row-solution .item-solution {
    margin-bottom: 15px;
}

.list-row-solution .item-solution .texts {
    color: #707070;
    padding-left: 10px;
    font-size: 16px;
}

.img-thumb-solution-1 .image {
    max-height: 720px;
}

.img-thumb-solution-1 .image>img {
    border-radius: 20px 0 0 20px;
}

.group-content-solution .info {
    padding-top: 10%;
    padding-bottom: 10%;
}

.order-solution-2 {
    margin-bottom: 200px;
}

.order-solution-2 .row {
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
}

.img-thumb-solution-2 .image {
    position: relative;
    width: 93%;
    z-index: 3;
}

.overlay-bg-solution-2 {
    background: #00B4DB30;
    position: absolute;
    top: 10%;
    left: 0;
    right: 0;
    bottom: 0;
    z-index: 0;
    -webkit-transform: translateY(10%);
    transform: translateY(10%);
    border-radius: 0 10px 10px 0;
}

.info-small-solution-2 {
    width: 75%;
    margin-left: auto;
    margin-right: auto;
}

.info-small-solution-2 .description {
    margin-bottom: 40px;
    text-align: center;
    font-size: 16px;
}

.info-small-solution-2 .group-intro-2 {
    text-align: center;
}

.info-small-solution-2 .name-title {
    font-size: 39px;
    font-weight: bold;
}

.group-intro-2 .texts-2 {
    font-size: 16px;
}

.bussiness-support-new .group-step-new {
    margin-bottom: 150px;
}

.order-solution-3 {
    margin-top: 160px;
}

.order-solution-3 .row {
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
}

.img-thumb-solution-3 .image {
    position: relative;
    width: 80%;
    margin-left: auto;
    z-index: 4;
}

.overlay-bg-solution-3 {
    position: absolute;
    top: 10%;
    left: 0;
    right: 0;
    bottom: 0;
    background: #00B4DB30;
    z-index: 1;
    border-radius: 10px 0 0 10px;
}

.info-body-solution-3 {
    padding-right: 50px;
}

.info-small-solution-3 .name-title {
    font-size: 39px;
    font-weight: bold;
    margin-bottom: 50px;
}

.info-small-solution-3 .description {
    margin-bottom: 50px;
    text-align: center;
}

@media (min-width: 992px) and (max-width: 1199px) {
    .info-small-solution-2 .name-title {
        margin-bottom: 50px;
    }
}

@media (max-width: 992px) {
    .order-solution-1 {
        display: block;
    }
    .wrap-tranfrom {
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        -webkit-box-orient: vertical;
        -webkit-box-direction: normal;
        -ms-flex-direction: column;
        flex-direction: column;
        margin-bottom: 50px;
    }
    .wrap-content-solution {
        width: 100%;
        position: relative;
        top: 0;
        left: 0;
        padding: 0 15px;
        -webkit-transform: translateY(0);
        transform: translateY(0);
        -webkit-box-ordinal-group: 3;
        -ms-flex-order: 2;
        order: 2;
    }
    .img-thumb-solution-1 .image>img {
        border-radius: 20px;
    }
    .order-solution-1 {
        padding: 0 15px;
        -webkit-box-ordinal-group: 2;
        -ms-flex-order: 1;
        order: 1;
        margin-bottom: 50px;
    }
    .group-content-solution {
        margin-right: 0;
        -webkit-box-shadow: none;
        box-shadow: none;
    }
    .group-content-solution .info {
        padding: 5% 10%;
        -webkit-box-shadow: none;
        box-shadow: none;
    }
    .img-thumb-solution-1 .image {
        height: auto;
    }
    .order-solution-1 .orders-1 {
        -webkit-box-ordinal-group: 2;
        -ms-flex-order: 1;
        order: 1;
    }
    .order-solution-1 .orders-2 {
        -webkit-box-ordinal-group: 3;
        -ms-flex-order: 2;
        order: 2;
    }
    .info-body-solution-2 {
        margin-top: 100px;
    }
    .info-small-solution-2 .name-title {
        margin-bottom: 50px;
        font-size: 39px;
    }
    .order-solution-3 .orders-1 {
        -webkit-box-ordinal-group: 2;
        -ms-flex-order: 1;
        order: 1;
    }
    .order-solution-3 .orders-2 {
        -webkit-box-ordinal-group: 3;
        -ms-flex-order: 2;
        order: 2;
    }
}

@media (max-width: 575px) {
    .info-body-solution-2 {
        margin-top: 50px;
    }
    .info-small-solution-2 {
        width: 90%;
    }
    .order-solution-3,
    .order-solution-2 {
        margin-bottom: 50px;
    }
    .info-small-solution-3 .name-title {
        margin-bottom: 50px;
    }
}


/* group-safety-support-new */

.group-safety-support-new {
    background: #E1E1E1;
    padding: 60px 0;
    margin-bottom: 80px;
}

.content-safety-support-new {
    width: 90%;
    text-align: center;
}

.content-safety-support-new.ml_ha {
    margin-right: auto;
}

.content-safety-support-new.mr_ha {
    margin-left: auto;
}

.content-safety-support-new .name-title {
    margin-bottom: 40px;
    color: #3C3C3C;
    font-size: 30px;
    font-weight: bold;
}

.content-safety-support-new .introduce {
    color: #707070;
    font-size: 16px;
}

@media (max-width: 768px) {
    .content-safety-support-new {
        margin-bottom: 50px;
        width: 100%;
    }
}

.body-business-support-new .group-row {
    margin-bottom: 15px;
}

.body-business-support-new .input-text {
    height: 43px;
    color: #333333;
    width: 100%;
    border-radius: 10px;
    border: 2px solid #D2D2D2;
    padding-left: 15px;
    padding-right: 15px;
    font-size: 12px;
}

.body-business-support-new .input-text::-webkit-input-placeholder {
    color: #B4B4B4;
    font-size: 12px;
}

.body-business-support-new .textarea-new {
    color: #333333;
    min-height: 100px;
    width: 100%;
    border-radius: 10px;
    padding: 15px;
    border: 2px solid #D2D2D2;
    resize: unset;
    font-size: 12px;
}

.body-business-support-new .textarea-new::-webkit-input-placeholder {
    color: #B4B4B4;
    font-size: 12px;
}

.conditions-new {
    font-size: 9px;
}

.conditions-new .text-links {
    color: #2C96EC;
}

.form-business-support-new .name-title {
    color: #3C3C3C;
    margin-bottom: 25px;
    text-align: center;
    font-size: 27px;
}

.body-trusted-companies {
    height: 100%;
    border-radius: 10px;
    padding: 15%;
    border: 1px solid #D2D2D2;
}

.body-trusted-companies .name-title {
    color: #3C3C3C;
    text-align: center;
    margin-bottom: 45px;
    font-size: 19px;
}

.group-form-business-support-new {
    margin-bottom: 80px;
}

.btn-send-conditions {
    display: block;
    color: #ffffff;
    background: #00b4db;
    height: 56px;
    line-height: 56px;
    border-radius: 10px;
    text-align: center;
    font-size: 13px;
    font-weight: bold;
}

.btn-send-conditions:hover {
    color: #ffffff;
}

.list-logo-companies .image {
    text-align: center;
    margin-bottom: 30px;
    height: 35px;
}

.list-logo-companies .image>img {
    -o-object-fit: scale-down;
    object-fit: scale-down;
    height: 100%;
    width: 100%;
    display: block;
}

@media (max-width: 992px) {
    .form-business-support-new {
        margin-bottom: 50px;
    }
    .group-form-business-support-new {
        margin-bottom: 50px;
    }
    .body-business-support-new .input-text {
        height: 43px;
    }
}


/* modal */

.el-popup-parent--hidden {
    /* padding-right: 0 !important; */
    overflow-y: hidden !important;
}

.modal-signup-new .el-dialog {
    top: 50%;
    -webkit-transform: translateY(-50%);
    transform: translateY(-50%);
    margin-top: 0 !important;
}

.link-social-modal-new .social {
    width: 100%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    -ms-flex-item-align: center;
    align-self: center;
    height: 33px;
    line-height: 33px;
    border-radius: 5px;
}

.link-social-modal-new .social>span {
    color: #ffffff;
}

.link-social-modal-new .social .icon {
    font-size: 16px;
    padding-right: 13px;
}

.link-social-modal-new .social .text-links {
    font-size: 11px;
    font-weight: bold;
}

.link-social-modal-new .facebook {
    background: #3B5998;
}

.link-social-modal-new .linkedIn {
    background: #0077B5;
}

.link-social-modal-new .register {
    background: #C70505;
}

.modal-body-new .group-row {
    margin-bottom: 10px;
    padding-top: 0 !important;
}

.modal-body-new .title-head {
    font-size: 16px;
    margin-bottom: 15px;
    color: #3C3C3C;
    font-weight: bold;
}

.modal-repassword-new .el-dialog__header {
    display: none;
}

.group-or {
    margin: 25px 0;
    text-align: center;
    position: relative;
}

.group-or .rule-or {
    width: 100%;
    margin: auto;
    border: 0.5px solid #d2d2d2;
}

.group-or .text-or {
    font-size: 10px;
    background: #ffffff;
    position: absolute;
    top: 50%;
    left: 50%;
    -webkit-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
    padding: 0 37px;
    white-space: nowrap;
    font-weight: bold;
}

.modal-footer.custom .btn-ft {
    font-size: 11px;
}

.modal-footer.custom .btn-ft:hover {
    color: #2c96ec;
}

.modal-body-a13 {
    margin-bottom: 25px;
}

.signUp-new .el-dialog__header {
    padding-left: 30px;
    padding-right: 30px;
}

.signUp-new .el-dialog__body {
    padding: 15px 27px
}

.close-modal-new {
    cursor: pointer;
}

.close-modal-new>img {
    width: 24px;
}

.box-input-logOut {
    margin-bottom: 15px;
}

.box-input-logOut .input-text {
    height: 30px;
    line-height: 30px;
    border: 1px solid #D2D2D2;
    padding: 0 10px;
    border-radius: 5px;
    color: #3c3c3c;
    font-size: 11px;
}

.box-input-logOut .input-text::-webkit-input-placeholder {
    color: #707070;
    font-size: 11px;
}

.modal-body-new~.modal-footer.custom .texts {
    font-size: 11px;
    width: 100%;
}

.check-pupup-new~.modal-footer.custom .texts {
    font-size: 11px;
}

.forget-pass-new {
    display: block;
    text-align: center;
    color: #2C96EC;
    font-size: 11px;
}

.forget-pass-new:hover {
    color: #2C96EC;
}

.footer-repass-new {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between;
    text-align: center;
}

.footer-repass-new .btn-back {
    display: block;
    color: #969696;
}

.footer-repass-new .btn-back .icon {
    font-size: 11px;
}

.footer-repass-new .btn-back .texts {
    font-size: 11px;
}

.footer-repass-new {
    padding-top: 35px;
    margin-bottom: 22px;
}

.box-send-recovery .send-recovery {
    display: block;
    color: #ffffff;
    background: #00b4db;
    /* Old browsers */
    /* FF3.6-15 */
    /* Chrome10-25,Safari5.1-6 */
    background: -webkit-gradient(linear, left top, left bottom, color-stop(1%, #00b4db), to(#0083b0));
    background: linear-gradient(to bottom, #00b4db 1%, #0083b0 100%);
    /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
    filter: progid: DXImageTransform.Microsoft.gradient( startColorstr='#00b4db', endColorstr='#0083b0', GradientType=0);
    /* IE6-9 */
    font-size: 9px;
    font-weight: bold;
    height: 33px;
    line-height: 33px;
    text-align: center;
    min-width: 130px;
    border-radius: 5px;
}

.group-input-repass {
    margin-bottom: 15px;
}

.group-input-repass .label-new {
    font-size: 11px;
    display: block;
    margin-bottom: 10px;
    color: #000000;
}

.btn-reset-new {
    display: block;
    height: 33px;
    line-height: 33px;
    width: 100%;
    color: #ffffff;
    background: #00b4db;
    /* Old browsers */
    /* FF3.6-15 */
    /* Chrome10-25,Safari5.1-6 */
    background: -webkit-gradient(linear, left top, left bottom, color-stop(1%, #00b4db), to(#0083b0));
    background: linear-gradient(to bottom, #00b4db 1%, #0083b0 100%);
    /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
    filter: progid: DXImageTransform.Microsoft.gradient( startColorstr='#00b4db', endColorstr='#0083b0', GradientType=0);
    /* IE6-9 */
    border-radius: 5px;
}

.btn-reset-new:hover {
    color: #ffffff;
}

.btn-reset-new .text-links {
    font-weight: bold;
    font-size: 11px;
}

.group-conditions_ha {
    margin-bottom: 10px;
}

.head-info-new-a132 {
    text-align: center;
    margin-bottom: 20px;
}

.head-info-new-a132 .name-title {
    color: #000000;
    font-weight: bold;
    font-size: 13px;
}

.head-info-new-a132 .intro {
    color: #707070;
    font-size: 10px;
}

.source-Facebook {
    font-size: 11px;
    text-align: center;
}

.group-choose-birthday {
    margin-bottom: 15px;
}

.mb-30 {
    margin-bottom: 20px;
}

.title-Birthday {
    font-size: 11px;
    font-weight: bold;
    margin-bottom: 18px;
    color: #000000;
}

.choose-new select {
    height: 30px;
    line-height: 30px;
    border-radius: 5px;
    color: #707070;
    padding-left: 10px;
    padding-right: 10px;
    font-size: 11px;
}

.color-spotech-new {
    color: #2C96EC;
}

.group-choose-birthday .row {
    margin-left: -5px;
    margin-right: -5px;
}

.group-choose-birthday .item {
    padding-left: 5px;
    padding-right: 5px;
}

.description-Birthday {
    font-size: 10px;
    color: #707070;
}

.head-registerEmail {
    font-size: 11px;
    font-weight: bold;
    text-align: center;
}

.body-content-popup-help {
    padding: 20px 22px;
}

.group-help .el-drawer__header {
    margin-bottom: 0;
    border-bottom: 1px solid #D2D2D2;
    padding-bottom: 20px;
}

.group-help .el-drawer__header>span {
    text-align: center;
    font-size: 16px;
    color: #000000;
    font-weight: bold;
}

.group-help .el-icon-close {
    font-weight: bold;
    color: #000000;
}

.icon-search-help {
    color: #D2D2D2;
}

.freelance-support-help {
    margin-bottom: 40px;
}

.freelance-support-help .btn-search {
    height: 33px;
    line-height: 33px;
    padding-left: 15px;
    border-radius: 10px 0 0 10px;
    border: 1px solid #D2D2D2;
    border-right: none;
}

.freelance-support-help .input {
    height: 33px;
    line-height: 33px;
    font-size: 14px;
    color: #3c3c3c;
    padding-left: 15px;
    padding-right: 15px;
    border-radius: 0 10px 10px 0;
    border: 1px solid #D2D2D2;
    border-left: none;
}

.freelance-support-help .input::-webkit-input-placeholder {
    color: #ADADAD;
    font-size: 14px;
}

.search-support-new {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
}

.text-head-modal {
    font-size: 15px;
    font-weight: bold;
    color: #000000;
    margin-bottom: 10px;
}

.body-content-popup-help {
    height: calc(100vh - 71px);
}

.footer-modal-general-new {
    position: -webkit-sticky;
    position: sticky;
    bottom: 0;
    right: 0;
    left: 0;
    padding: 20px 0;
    background: #ffffff;
}

.send-feedback-new {
    display: block;
    height: 48px;
    line-height: 48px;
    border-radius: 10px;
    width: 100%;
    background: #00b4db;
    /* Old browsers */
    /* FF3.6-15 */
    /* Chrome10-25,Safari5.1-6 */
    background: -webkit-gradient(linear, left top, left bottom, color-stop(1%, #00b4db), to(#0083b0));
    background: linear-gradient(to bottom, #00b4db 1%, #0083b0 100%);
    /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
    filter: progid: DXImageTransform.Microsoft.gradient( startColorstr='#00b4db', endColorstr='#0083b0', GradientType=0);
    /* IE6-9 */
}

.footer-modal-general-new .text-link {
    color: #ffffff;
    font-weight: bold;
}

.body-content-popup-help .body-modal-general {
    height: calc(100% - 75px);
    overflow-y: scroll;
}

.body-content-popup-help .body-modal-general::-webkit-scrollbar {
    display: none;
}

.big-help-title {
    font-weight: 700;
    color: #3C3C3C;
}

.body-content-popup-help p {
    color: #707070;
}

.btn-modal-new.modal-help {
    height: 55px;
    line-height: 55px;
    border: 3px solid #00B4DB;
    border-radius: 10px;
    text-align: center;
}

.btn-modal-new.modal-help .btn-a {
    color: #00B4DB;
    font-size: 16px;
    font-weight: bold;
}

.btn-modal-new.modal-help:hover,
.btn-modal-new.modal-help.active {
    background: #00b4db;
    /* Old browsers */
    /* FF3.6-15 */
    /* Chrome10-25,Safari5.1-6 */
    background: -webkit-gradient(linear, left top, left bottom, color-stop(1%, #00b4db), to(#0083b0));
    background: linear-gradient(to bottom, #00b4db 1%, #0083b0 100%);
    /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
    filter: progid: DXImageTransform.Microsoft.gradient( startColorstr='#00b4db', endColorstr='#0083b0', GradientType=0);
    /* IE6-9 */
    border: none;
    -webkit-transition: all .5s;
    transition: all .5s;
}

.btn-modal-new.modal-help:hover .btn-a,
.btn-modal-new.modal-help.active .btn-a {
    color: #ffffff;
}

.title-sendFeedback-modal {
    width: 60%;
}

.body-content-popup-help.not-footer_ha .body-modal-general {
    height: 100%;
}

.check-pupup-new.checkbox label:before {
    border: 1px solid #D2D2D2;
    height: 12px;
    width: 12px;
    border-radius: 3px;
}

.check-pupup-new .check {
    font-size: 11px;
}

.btn-modal-new.disabled {
    opacity: .5;
}

.btn-modal-new.disabled .btn-a {
    cursor: not-allowed;
    display: block;
}

.name-field {
    font-weight: bold;
    margin-bottom: 10px;
}

.title-voice-used-new {
    font-weight: bold;
}

.head-index.heading-1 {
    font-size: 28px;
    font-weight: bold;
}

.img-thumb-toppage_new .image>img {
    max-width: 500px;
}

@media only screen and (max-width: 992px) {
    .img-thumb-toppage_new .image>img {
        display: none;
    }
    .upper-head-menu-new {
        display: none;
    }
}

@media (min-width: 1200px) {
    .container {
        max-width: 1124px;
    }
}

.cover-new .content-banner .intro {
    font-size: 15px;
    color: #3C3C3C;
}

.cover-new .content-banner .title {
    font-size: 45px;
    color: #3C3C3C;
}

.wp-recruit-personnel-new.pb-120 {
    padding-bottom: 82px;
}

.wp-banner-new {
    margin-bottom: 67px;
    position: relative;
}

.wp-banner-new .image>img {
    max-height: 486px;
    min-height: 300px;
}

.logo.logo-inside .image>img {
    height: 32px;
}

.content-banner-new .title {
    font-size: 45px;
}

.content-banner-new .intro {
    font-size: 15px;
}

.content-banners {
    position: absolute;
    top: 50%;
    right: 0;
    left: 0;
    -webkit-transform: translateY(-50%);
    transform: translateY(-50%);
}

.content-banners {}

.content-cover .title {
    font-size: 45px;
    margin-bottom: 45px;
}

.content-cover .intro {
    font-size: 15px;
}

@media (min-width: 992px) {
    .content-cover {
        /* max-width: 60%; */
    }
    .content-cover.text-right {
        margin-left: auto;
    }
}

@media (max-width: 575px) {
    .content-cover .title {
        font-size: 28px;
        margin-bottom: 30px;
    }
}

@media (min-width: 576px) and (max-width: 767px) {
    .content-cover .title {
        font-size: 32px;
        margin-bottom: 35px;
    }
}

@media (min-width: 768px) and (max-width: 991px) {
    .content-cover .title {
        font-size: 36px;
        margin-bottom: 40px;
    }
}

@media (min-width: 992px) and (max-width: 1199px) {
    .content-cover .title {
        font-size: 40px;
        margin-bottom: 40px;
    }
}

.description-sys-new {
    font-size: 14px;
    font-weight: bold;
    color: #D2D2D2;
    text-align: center;
}

.list-trust .pb-120 {
    padding-bottom: 90px;
}

.wp-list-costs-new.pb-120 {
    padding-bottom: 80px;
}

.group-medal-right .item {
    border-right: 1px solid #D2D2D2;
}

.wrap-medal .img-thumb .image {
    display: block;
    height: 47px;
}

.wrap-medal .img-thumb .image>img {
    display: block;
    width: 100%;
    height: 100%;
    -o-object-fit: scale-down;
    object-fit: scale-down;
}

.wrap-medal .intro {
    font-size: 14px;
    font-weight: bold;
    margin-top: 12px;
    text-align: center;
    padding-bottom: 20px;
    min-height: 21px;
}

.row-ranking-new {
    text-align: center;
    padding: 20px 15px;
    border-top: 1px solid #D2D2D2;
}

.row-ranking-new .value_ha {
    font-size: 11px;
    font-weight: bold;
    color: #6E6E6E;
}

.row-ranking-new .name-title {
    font-size: 16px;
    font-weight: bold;
    color: #333333;
}

.row-ranking-new .name-title.display_ha {
    display: none;
}

@media only screen and (max-width: 992px) {
    .row-ranking-new .name-title.display_ha {
        display: block;
    }
}

.group-content-discount_ha {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
}

.group-medal-left {
    width: 150px;
}

.group-medal-right {
    -webkit-box-flex: 1;
    -ms-flex: 1;
    flex: 1;
}

.wp-bn-sys.wp-bn-sys-new .img-thumb {
    height: 280px;
}

.wp-bn-sys.wp-bn-sys-new .overlay {
    position: absolute;
    top: 50%;
    left: 50%;
    -webkit-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
    width: 100%;
    padding: 15px;
}

.group-row-rank {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
}

.group-rank-body {
    border-top: 1px solid #d2d2d2;
}

.group-rank-body.none-borderTop {
    border-top: none;
}

.item-rank-special {
    width: 100px;
}

.group-medal {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-flex: 1;
    -ms-flex: 1;
    flex: 1;
}

.item-rank {
    width: calc(100% / 3);
    border-right: 1px solid #d2d2d2;
}

.p-rank-new {
    padding: 20px;
}

.method-ranks-head {
    text-align: center;
}

.method-ranks-body {
    text-align: center;
}

.method-ranks-head {
    padding-bottom: 0;
}

.title-ranks-new {
    font-size: 16px;
    font-weight: bold;
}

.wp-img-thumb-ranking .img-thumb {
    height: 48px;
    margin-bottom: 12px;
    margin-left: auto;
    margin-right: auto;
}

.wp-img-thumb-ranking .img-thumb>img {
    display: block;
    height: 100%;
    margin: auto;
}

.wp-img-thumb-ranking .intro {
    font-size: 14px;
    font-weight: bold;
}

.content-ranking-system-new {
    margin-bottom: 78px;
}

.content-rank {
    font-size: 11px;
    font-weight: bold;
    color: #6E6E6E;
}

@media (max-width: 575px) {
    .p-rank-new {
        padding: 10px;
    }
    .wp-img-thumb-ranking .img-thumb {
        height: 32px;
    }
    .item-rank-special {
        width: 60px;
    }
    .title-ranks-new {
        font-size: 11px;
    }
}


/* order-solution-2-new */

.order-solution-2-new {
    position: relative;
    margin-bottom: 100px;
}

.box-solution-top {
    position: relative;
    z-index: 9;
}

.box-solution-up {
    position: absolute;
    top: 50%;
    left: 0;
    right: 0;
    width: 100%;
    -webkit-transform: translate(0, -50%);
    transform: translate(0, -50%);
}

.info-small-solution-2-new {
    padding-left: 50px;
}

.info-small-solution-2-new .name-title {
    font-size: 39px;
    font-weight: bold;
    color: #3C3C3C;
    margin-bottom: 40px;
}

.info-small-solution-2-new .description {
    font-size: 16px;
    color: #707070;
    margin-bottom: 30px;
}

.group-intro-2 {
    text-align: center;
}

@media(max-width: 767px) {
    .box-solution-up {
        position: relative;
        top: 0;
        -webkit-transform: translate(0, 0);
        transform: translate(0, 0);
        margin-top: 50px;
    }
    .info-small-solution-2-new {
        padding-left: 0;
    }
    .info-body-solution-3 {
        padding-right: 0;
    }
    .order-solution-3 .orders-2 {
        padding: 0 15px !important;
    }
}

.bg-ha-a115 {
    background: transparent;
    -webkit-box-shadow: 0 3px 6px rgba(0, 0, 0, 0.08627);
    box-shadow: 0 3px 6px rgba(0, 0, 0, 0.08627);
    z-index: 99;
}

.kaka {
    color: #707070;
}

.item-projects-new:hover .kaka {
    color: #d2d2d2;
}

.box-project-new-expert {
    padding: 16px 16px 0px 16px;
}


/* landing page client */

.media-left .img-thumb>img {
    width: 50px;
}

.body-head-question .title {
    color: #3C3C3C;
    font-size: 21px;
    text-transform: uppercase;
}

.body-head-question .intro {
    font-size: 9px;
    color: #3C3C3C;
}

.header-question {
    margin-bottom: 15px;
}

.list-intro-country {
    margin-bottom: 35px;
}

.list-intro-country .m-intro-country {
    margin-left: -11px;
    margin-right: -11px;
}

.list-intro-country .p-intro-country {
    padding-left: 11px;
    padding-right: 11px;
}

.item-intro-country {
    position: relative;
}

.item-intro-country .img-thumb {
    position: relative;
}

.item-intro-country .img-thumb::before {
    position: absolute;
    content: '';
    display: block;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background: #00000020;
    border-radius: 10px;
}

.image-country>img {
    border-radius: 10px;
}

.item-intro-country .info .logo>img {
    height: 17px;
    width: auto;
}

.item-intro-country .info {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
}

.name-country-new {
    color: #ffffff;
    font-size: 28px;
    font-weight: bold;
}

.btn-viewmore-new {
    display: block;
}

.btn-viewmore-new>span {
    color: #707070;
    font-size: 16px;
}

.btn-viewmore-new:hover span {
    color: #F87702;
}

.title-spacebetween {
    font-size: 27px;
    color: #3C3C3C;
}

.box-spacebetween {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
}

.header-spacebetween {
    margin-bottom: 35px;
}

.mb-ha {
    margin-bottom: 75px;
}

.pt-28 {
    padding-top: 28px;
}

.m-135 {
    margin-left: -13.5px;
    margin-right: -13.5px;
}

.list-pagination-new {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
}

.link-pagination {
    color: #F87702;
    display: block;
    font-size: 15px;
}

.link-pagination:hover {
    color: #F87702;
}

.item-pagination-new.active .link-pagination {
    height: 31px;
    width: 31px;
    padding: 3px;
    border: 2px solid #F87702;
    background: #F87702;
    color: #ffffff;
    text-align: center;
    border-radius: 50%;
}

.item-pagination-new:not(:last-child) {
    margin-right: 24px;
}

.btn-pagination {
    height: 31px;
    width: 31px;
    border: 2px solid #F87702;
    text-align: center;
    border-radius: 50%;
    padding: 3px;
}


/* 21-12-2019 */


/* landingPageClient */

.landingPageClient .el-dialog {
    width: 529px;
    border-radius: 10px;
    background: #0083b0;
    padding-left: 45px;
    padding-right: 45px;
    min-height: 533px;
    display: flex;
    flex-direction: column;
}

.landingPageClient .el-dialog__body {
    margin-top: auto;
}

.signUp-new .el-dialog {
    width: 379px !important;
    border-radius: 10px;
}

.group-help .el-drawer {
    width: 420px !important;
    border-radius: 10px;
}

.btn-pageClient {
    display: block;
    height: 57px;
    line-height: 57px;
    font-size: 16px;
    font-weight: bold;
    color: #ffffff;
    border-radius: 10px;
    text-align: center;
    padding: 0 10px;
    margin-top: 12px;
}

.btn-pageClient:hover {
    color: #ffffff;
}

.btn-client {
    background: #00B4DB;
}

.btn-expert {
    background: #F87702;
}

.title-big-pageClient {
    text-align: center;
    font-size: 21px;
    font-weight: bold;
    margin-bottom: 10px;
    color: #ffffff;
}

.intro-pageClient {
    text-align: center;
    font-size: 15px;
    color: #ffffff;
}

.logo-pageClient {
    text-align: center;
    margin-bottom: 10px;
}

.logo-pageClient>img {
    height: 25px;
    width: auto;
}


/* AI */

.box-content-consultation {
    min-height: calc(100vh - 87px);
}

.group-content-consultation {
    display: flex;
    flex-wrap: wrap;
    height: calc(100vh - 87px);
}

.consultation-body {
    flex: 1;
    height: 100%;
}

.consultation-right {
    width: 440px;
    height: 100%;
    background: #FAFAFA;
    margin-left: 111px;
}

.progress-new {
    height: 19px;
    display: -webkit-box;
    display: flex;
    overflow: hidden;
    background-color: #E3E3E3;
}

.custom-progress-bar-new {
    background-color: #00B4DB;
    border-radius: 0 10px 10px 0;
}

.list-companies-consultation {
    display: flex;
    flex-wrap: wrap;
    margin-left: -30px;
    margin-right: -30px;
}

.item-companies-consultation {
    display: inline-block;
    width: 50%;
    padding-left: 30px;
    padding-right: 30px;
    height: 60px;
    margin-bottom: 30px;
}

.item-companies-consultation>img {
    object-fit: scale-down;
    height: 100%;
    width: 100%;
    display: block;
}

.title-companies-consultation {
    text-align: center;
    font-size: 12px;
    margin-bottom: 60px;
}

.box-consultation-right {
    padding: 80px;
}

@media(max-width: 767px) {
    .item-companies-consultation {
        width: 100%;
    }
}

.logo-bird-consultation {
    text-align: center;
    margin-bottom: 26px;
}

.logo-bird-consultation>img {
    height: 51px;
}

.title-expect {
    font-size: 21px;
    font-weight: bold;
    color: #3C3C3C;
    margin-bottom: 24px;
}

.consultation-radio label:before {
    content: "";
    -webkit-appearance: none;
    background-color: transparent;
    border: 3px solid #F87702;
    height: 30px;
    width: 30px;
    display: inline-block;
    position: relative;
    vertical-align: middle;
    cursor: pointer;
    margin-right: 10px;
    border-radius: 50%;
}

.consultation-radio input:checked+label::before {
    background: #F87702;
}

.consultation-radio label {
    font-size: 15px;
    color: #3C3C3C;
}

.prev-page-consultation span {
    font-size: 17px;
    font-weight: bold;
    color: #3C3C3C;
}

.btn-consultation {
    height: 51px;
    line-height: 51px;
    border: 3px solid #F87702;
    min-width: 130px;
    text-align: center;
    padding: 0 10px;
    border-radius: 5px;
    color: #F87702;
    font-size: 15px;
    font-weight: bold;
}

.btn-consultation:not(:last-child) {
    margin-right: 25px;
}

.btn-consultation:hover {
    color: #F87702;
}

.btn-consultation.active {
    background: #F87702;
    color: #ffffff;
}

.btn-consultation .texts {
    margin-right: 10px;
}

.content-consultation-body {
    padding: 70px 0;
}

.consultation-checkbox label:before {
    content: "";
    -webkit-appearance: none;
    background-color: transparent;
    border: 1px solid #F87702;
    height: 23px;
    width: 23px;
    display: inline-block;
    margin-right: 10px;
    border-radius: 5px;
}

.consultation-checkbox input:checked+label::before {
    background: #F87702;
}

.color-consultation {
    color: #707070;
    font-size: 10px;
}
