.input-loginfail{
    color:red;
    font-size: 15px;
    font-weight: bold;
}
.button-color{
    color:white!important;
}
.button-back {
    color:#77D353;
    background:white
}
.helper {
    height: 100%;
    display: inline-block;
    vertical-align: middle;
    width: 0;
  }
  
  .hidden {
    display: none !important;
  }
  
  .hidden.image {
    display: inline-block !important;
  }
  
  .display-inline {
    display: inline-block;
    vertical-align: middle;
  }
  
  .img {
    border: 1px solid #f6f6f6;
    display: inline-block;
    height: auto;
    max-height: 80%;
    max-width: 80%;
    width: auto;
  }
  
  .drop {
    border: 1px solid #9c9999b0;
    background-color: #ffffff;
    border-radius: 2px;
    height: 100%;
    max-height: 400px;
    max-width: 600px;
    width: 100%;
  }
  .imgdrop {
    background-color: #d0c9c92b;
    border: 0;
    color: #0c0c0c87;
    cursor: pointer;
    display: inline-block;
    font-weight: bold;
    padding: 15px 35px;
    position: relative;
}
  .inputimg {
    position: absolute;
    opacity: 0;
    z-index: -1;
  }
  .align-center {
    text-align: center;
  }
  .rules {
    background: #4e464682;
    height: 1px;
    width: 100%;
    margin: 15px 0;
}
select.input-text.w-100 {
  display: block;
  height: calc(1.5em + 0.75rem + 15px);
  padding: 0 15px;
  border: 1px solid #c4c4c4;
  color: #969696;
  -webkit-appearance: none;
}
input.input-text.w-100.border-radius-10{
  display: block;
  height: calc(1.5em + 0.75rem + 15px);
  padding: 0 15px;
  border: 1px solid #c4c4c4;
  color: #969696;
  -webkit-appearance: none;
}
.el-button--primary {
  color: #FFFFFF;
  background-color: #77D353;
  border-color: #77D353;
}
.bg-white{
  background:white;
  color:#77D353;
}