<template>
  <div class="group-left">
    <div class="group-breadcrumb mt-0">
      <div class="list-breadcrumb">
        <div class="item-breadcrumb">
          <a href="javascript:;" class="links-breadcrumb"> フリーランスサポートトップ </a>
        </div>
        <div class="item-breadcrumb">
          <a href="javascript:;" class="links-breadcrumb"> 掲載を希望 </a>
        </div>
      </div>
    </div>

    <div class="group-want-post">
      <div class="group">
        <div class="row">
          <div class="col-md-3 col-12">
            <div class="title-form text-left">
              <span class="text-white">サービス名</span>
              <span class="text-red">（必須）</span>
            </div>
          </div>
          <div class="col-md-9 col-12">
            <input type="text" class="input-text input w-100 font-14 bg-white" placeholder="SPOTECH">
          </div>
        </div>
      </div>
      <div class="group">
        <div class="row">
          <div class="col-md-3 col-12">
            <div class="title-form text-left">
              <span class="text-white">サービスID</span>
              <span class="text-red">（必須）</span>
            </div>
          </div>
          <div class="col-md-9 col-12">
            <input type="text" class="input-text input w-100 font-14 bg-white" placeholder="SPOTECH_member">
          </div>
        </div>
        <div class="row">
          <div class="col-md-3 col-12">
            <div class="title-form"></div>
          </div>
          <div class="col-md-9 col-12">
            <div>
              <label for="" class="text-label color-lightgrey font-12 mt-2 mb-0">URLとして使用するIDです。</label>
            </div>
            <div>
              <label for="" class="text-label color-lightgrey font-12 mt-2 mb-0">
                アンダースコアとハイフン、英数字のみ使用可能です。</label>
            </div>
          </div>
        </div>
      </div>
      <div class="group">
        <div class="row">
          <div class="col-md-3 col-12">
            <div class="title-form text-left">
              <span class="text-white"> 説明文 </span>
              <span class="text-red">（必須）</span>
            </div>
          </div>
          <div class="col-md-9 col-12">
            <textarea name="" id="" cols="30" rows="7" class="w-100 b-radius-10 p-3 text-left font-14" placeholder=" サービス内容を記入してください。"></textarea>
          </div>
        </div>
      </div>
      <div class="group">
        <div class="row">
          <div class="col-md-3 col-12">
            <div class="title-form text-left">
              <span class="text-white"> カテゴリー </span>
              <span class="text-red">（必須）</span>
            </div>
          </div>
          <div class="col-md-9 col-12">
            <div class="group-category-freelance">
              <div class="list-category">
                <div class="item-category">
                  <div class="group-row">
                    <div class="checkbox">
                      <input type="checkbox" id="cate-1">
                      <label for="cate-1" class="check square text-normal" style="font-weight: 500">
                        コミュニケーション
                      </label>
                    </div>
                  </div>
                </div>
                <div class="item-category">
                  <div class="group-row">
                    <div class="checkbox">
                      <input type="checkbox" id="cate-2">
                      <label for="cate-2" class="check square text-normal" style="font-weight: 500">
                        デザイン
                      </label>
                    </div>
                  </div>
                </div>
                <div class="item-category">
                  <div class="group-row">
                    <div class="checkbox">
                      <input type="checkbox" id="cate-3">
                      <label for="cate-3" class="check square text-normal" style="font-weight: 500">
                        ビジネス
                      </label>
                    </div>
                  </div>
                </div>
                <div class="item-category">
                  <div class="group-row">
                    <div class="checkbox">
                      <input type="checkbox" id="cate-4">
                      <label for="cate-4" class="check square text-normal" style="font-weight: 500">
                        社会保険
                      </label>
                    </div>
                  </div>
                </div>
                <div class="item-category">
                  <div class="group-row">
                    <div class="checkbox">
                      <input type="checkbox" id="cate-5">
                      <label for="cate-5" class="check square text-normal" style="font-weight: 500">
                        情報共有
                      </label>
                    </div>
                  </div>
                </div>
                <div class="item-category">
                  <div class="group-row">
                    <div class="checkbox">
                      <input type="checkbox" id="cate-6">
                      <label for="cate-6" class="check square text-normal" style="font-weight: 500">
                        マーケティング
                      </label>
                    </div>
                  </div>
                </div>
                <div class="item-category">
                  <div class="group-row">
                    <div class="checkbox">
                      <input type="checkbox" id="cate-7">
                      <label for="cate-7" class="check square text-normal" style="font-weight: 500">
                        ワークスペース
                      </label>
                    </div>
                  </div>
                </div>
                <div class="item-category">
                  <div class="group-row">
                    <div class="checkbox">
                      <input type="checkbox" id="cate-8">
                      <label for="cate-8" class="check square text-normal" style="font-weight: 500">
                        福利厚生
                      </label>
                    </div>
                  </div>
                </div>
                <div class="item-category">
                  <div class="group-row">
                    <div class="checkbox">
                      <input type="checkbox" id="cate-9">
                      <label for="cate-9" class="check square text-normal" style="font-weight: 500">
                        開発
                      </label>
                    </div>
                  </div>
                </div>
                <div class="item-category">
                  <div class="group-row">
                    <div class="checkbox">
                      <input type="checkbox" id="cate-10">
                      <label for="cate-10" class="check square text-normal" style="font-weight: 500">
                        プロジェクト管理
                      </label>
                    </div>
                  </div>
                </div>
                <div class="item-category">
                  <div class="group-row">
                    <div class="checkbox">
                      <input type="checkbox" id="cate-11">
                      <label for="cate-11" class="check square text-normal" style="font-weight: 500">
                        財務・税金
                      </label>
                    </div>
                  </div>
                </div>
                <div class="item-category">
                  <div class="group-row">
                    <div class="checkbox">
                      <input type="checkbox" id="cate-12">
                      <label for="cate-12" class="check square text-normal" style="font-weight: 500">
                        海外送金
                      </label>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="row">
          <div class="col-md-3 col-12">
            <div class="title-form"></div>
          </div>
          <div class="col-md-9 col-12">
            <label for="" class="text-label mt-2 mb-0 font-12 color-lightgrey">
              最大２つまで選択することができます。</label>
          </div>
        </div>
      </div>
      <div class="group">
        <div class="row">
          <div class="col-md-3 col-12">
            <div class="title-form text-left">
              <span class="text-white">公式サイトURL</span>
            </div>
          </div>
          <div class="col-md-9 col-12">
            <input type="text" class="input-text input w-100 font-14 bg-white" placeholder="https://spotech.io/">
          </div>
        </div>
      </div>
      <div class="group">
        <div class="row">
          <div class="col-md-3 col-12">
            <div class="title-form text-left">
              <span class="text-white">ロゴ画像</span>
              <span class="text-red">（必須）</span>
            </div>
          </div>
          <div class="col-md-9 col-12">
            <div class="group-choose-image">
              <div class="img-thumb">
                <a href="javascript:;" class="link-image">
                  <span>選択</span>
                </a>
              </div>
              <div class="notify-image">ファイルが選択されていません。</div>
            </div>
          </div>
        </div>
      </div>
      <div class="group">
        <div class="row">
          <div class="col-md-3 col-12">
            <div class="title-form text-left">
              <span class="text-white">会社名</span>
              <span class="text-red">（必須）</span>
            </div>
          </div>
          <div class="col-md-9 col-12">
            <input type="text" class="input-text input w-100 font-14 bg-white" placeholder="Spotech Inc.">
          </div>
        </div>
      </div>
      <div class="group">
        <div class="row">
          <div class="col-md-3 col-12">
            <div class="title-form text-left">
              <span class="text-white">メールアドレス</span>
              <span class="text-red">（必須）</span>
            </div>
          </div>
          <div class="col-md-9 col-12">
            <input type="text" class="input-text input w-100 font-14 bg-white" placeholder="info@spotech.io">
          </div>
        </div>
      </div>
      <div class="group">
        <div class="row">
          <div class="col-md-3 col-12">
            <div class="title-form text-left">
              <span class="text-white">電話番号</span>
            </div>
          </div>
          <div class="col-md-9 col-12">
            <input type="text" class="input-text input w-100 font-14 bg-white" placeholder="080-XXXX-XXXX">
          </div>
        </div>
      </div>
      <div class="group mb-2">
        <div class="row">
          <div class="col-md-3 col-12">
            <div class="title-form text-left">
              <span class="text-white"></span>
            </div>
          </div>
          <div class="col-md-9 col-12">
            <div class="group-agree-conditions">
              <div class="item-agree-conditions">
                <div class="group-row">
                  <div class="checkbox">
                    <input type="checkbox" id="cate-14">
                    <label for="cate-14" class="check square text-normal" style="font-weight: 500">
                      <span class="text-blue">利用規約</span> &amp; <span class="text-blue">プライバシーポリシー</span> に同意します。
                      <span class="text-red">（必須）</span>
                    </label>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="group">
        <div class="row">
          <div class="col-md-3 col-12">
            <div class="title-form text-left">
              <span class="text-white"></span>
            </div>
          </div>
          <div class="col-md-9 col-12">
            <div class="group-btn_ft">
              <a href="javascript:;" class="btn-links btn-question"> 掲載を申し込む
              </a>
            </div>
          </div>
        </div>
      </div>
      <div class="group">
        <div class="row">
          <div class="col-md-3 col-12">
            <div class="title-form text-left">
              <span class="text-white"></span>
            </div>
          </div>
          <div class="col-md-9 col-12">
            <div class="group-note-form-freelance">
              <div class="note">トップページにておすすめのコーナーで特集されることがあります。</div>
              <div class="note">
                <div>ご記入いただいた内容をもとに掲載ページが作成されます。後日、SPOTECH運営チームより審査があります。
                </div>
                <div>また、運営チームの判断により掲載内容の変更および削除を行うことがあります。</div>
              </div>

            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</template>

<script>
	export default {
		name: 'add',
    layout: 'support-freelancer'
	}
</script>

<style scoped>

</style>
