<template>
  <div class="group-left">
    <Banner />
    <PopularServices />
    <YourServices />
    <SearchByCategories />
  </div>
</template>

<script>
  export default {
    name: 'index',
    layout: 'support-freelancer',
    components: {
      Banner: () => import('~/components/support/freelancer/Banner'),
      PopularServices: () => import('~/components/support/freelancer/PopularServices'),
      YourServices: () => import('~/components/support/freelancer/YourServices'),
      SearchByCategories: () => import('~/components/support/freelancer/SearchByCategories'),
    }
  }
</script>

<style scoped>

</style>
