<template>
    <section class="body-hp pd-web han">
        <div class="container">
            <div class="row">
                <div class="col-12">
                    <div class="text-wrapper">
                        <div class="title-text">{{ $t("PrivacyPolicy") }}</div>
                        <p>0. {{$t('web_privacy_policy_p0_t1')}} </p>
                        <p>① {{$t('web_privacy_policy_p0_t2')}} </p>
                        <p>② {{$t('web_privacy_policy_p0_t3')}} </p>
                        <p>③ {{$t('web_privacy_policy_p0_t4')}} </p>
                        <p>④ {{$t('web_privacy_policy_p0_t5')}} </p>
                        <p>⑤ {{$t('web_privacy_policy_p0_t6')}} </p>
                        <p>⑥ {{$t('web_privacy_policy_p0_t7')}} </p>
                        <p>⑦ {{$t('web_privacy_policy_p0_t8')}} </p>
                        <p>⑧ {{$t('web_privacy_policy_p0_t9')}} </p>
                        <p>⑨ {{$t('web_privacy_policy_p0_t10')}} </p>
                        <br>

                        <p>1. {{$t('web_privacy_policy_p1_t1')}}</p>
                        <p>{{$t('web_privacy_policy_p1_t1_t1')}}</p>
                        <p>{{$t('web_privacy_policy_p1_t1_t2')}}</p>

                        <p>1.1.1 {{$t('web_privacy_policy_p1_t2')}}</p>
                        <p>{{$t('web_privacy_policy_p1_t2_t1')}} {{$t('web_privacy_policy_p1_t2_t1_1')}} {{$t('web_privacy_policy_p1_t2_t1_2')}}</p>
                        <p>{{$t('web_privacy_policy_p1_t2_t2')}}</p>
                        <p>{{$t('web_privacy_policy_p1_t2_t3')}}</p>
                        <p>{{$t('web_privacy_policy_p1_t2_t4')}}</p>
                        <p>{{$t('web_privacy_policy_p1_t2_t5')}}</p>
                        <p>{{$t('web_privacy_policy_p1_t2_t6')}}</p>

                        <p>1.1.2 {{$t('web_privacy_policy_p1_t3')}}</p>
                        <p>{{$t('web_privacy_policy_p1_t3_t1')}}</p>
                        <p>{{$t('web_privacy_policy_p1_t3_t2')}} {{$t('web_privacy_policy_p1_t3_t2_1')}}</p>
                        <p>{{$t('web_privacy_policy_p1_t3_t3')}} {{$t('web_privacy_policy_p1_t3_t3_1')}}</p>

                        <p>1.1.3 {{$t('web_privacy_policy_p1_t4')}}</p>
                        <p>{{$t('web_privacy_policy_p1_t4_t1')}}</p>
                        <p>{{$t('web_privacy_policy_p1_t4_t2')}}</p>
                        <p>{{$t('web_privacy_policy_p1_t4_t3')}} {{$t('web_privacy_policy_p1_t4_t3_1')}}</p>

                        <p>1.2 {{$t('web_privacy_policy_p1_t5')}}</p>
                        <p>{{$t('web_privacy_policy_p1_t5_t1')}} {{$t('web_privacy_policy_p1_t5_t1_1')}}</p>
                        <p>{{$t('web_privacy_policy_p1_t5_t2')}} {{$t('web_privacy_policy_p1_t5_t2_1')}} {{$t('web_privacy_policy_p1_t5_t2_2')}}</p>
                        <p>{{$t('web_privacy_policy_p1_t5_t2')}}</p>
                        <p>{{$t('web_privacy_policy_p1_t5_t3')}}</p>
                        <p>{{$t('web_privacy_policy_p1_t5_t4')}} {{$t('web_privacy_policy_p1_t5_t4_1')}} {{$t('web_privacy_policy_p1_t5_t4_2')}}</p>
                        <p>{{$t('web_privacy_policy_p1_t5_t5')}} {{$t('web_privacy_policy_p1_t5_t5_1')}} {{$t('web_privacy_policy_p1_t5_t5_2')}} {{$t('web_privacy_policy_p1_t5_t5_3')}}</p>
                        <p>{{$t('web_privacy_policy_p1_t5_t6')}} {{$t('web_privacy_policy_p1_t5_t6_1')}} {{$t('web_privacy_policy_p1_t5_t6_2')}}</p>

                        <p> 1.3 {{$t('web_privacy_policy_p1_t6')}}</p>
                        <p>{{$t('web_privacy_policy_p1_t6_t1')}} {{$t('web_privacy_policy_p1_t6_t1_1')}} {{$t('web_privacy_policy_p1_t6_t1_2')}} {{$t('web_privacy_policy_p1_t6_t1_3')}}</p>
                        <p>{{$t('web_privacy_policy_p1_t6_t2')}} {{$t('web_privacy_policy_p1_t6_t2_1')}} {{$t('web_privacy_policy_p1_t6_t2_2')}}</p>
                        <p>{{$t('web_privacy_policy_p1_t6_t3')}}</p>
                        <p>{{$t('web_privacy_policy_p1_t6_t4')}} {{$t('web_privacy_policy_p1_t6_t4_1')}} {{$t('web_privacy_policy_p1_t6_t4_2')}}</p>
                        <p>{{$t('web_privacy_policy_p1_t6_t5')}} {{$t('web_privacy_policy_p1_t6_t5_1')}} {{$t('web_privacy_policy_p1_t6_t5_2')}} {{$t('web_privacy_policy_p1_t6_t5_3')}}</p>
                        <br>

                        <p>2. {{$t('web_privacy_policy_p2_t0')}}</p>
                        <p>{{$t('web_privacy_policy_p2_t0_t1')}} {{$t('web_privacy_policy_p2_t0_t1_1')}} {{$t('web_privacy_policy_p2_t0_t1_2')}} {{$t('web_privacy_policy_p2_t0_t1_3')}}</p>

                        <p>2.1 {{$t('web_privacy_policy_p2_t1')}}</p>
                        <p>{{$t('web_privacy_policy_p2_t1_t1')}}</p>
                        <p>{{$t('web_privacy_policy_p2_t1_t2')}}</p>
                        <p>{{$t('web_privacy_policy_p2_t1_t3')}}</p>
                        <p>{{$t('web_privacy_policy_p2_t1_t4')}}</p>
                        <p>{{$t('web_privacy_policy_p2_t1_t5')}}</p>
                        <p>{{$t('web_privacy_policy_p2_t1_t6')}}</p>
                        <p>{{$t('web_privacy_policy_p2_t1_t7')}} {{$t('web_privacy_policy_p2_t1_t7_1')}}</p>    
                        <p>{{$t('web_privacy_policy_p2_t1_t8')}}</p>   
                        <p>&nbsp;&nbsp;&nbsp;1. {{$t('web_privacy_policy_p2_t1_t9')}}</p>
                        <p>{{$t('web_privacy_policy_p2_t1_t10')}}</p>   
                        <p>&nbsp;&nbsp;&nbsp;1. {{$t('web_privacy_policy_p2_t1_t11')}}</p>
                        <p>{{$t('web_privacy_policy_p2_t1_t12')}}</p>   
                        <p>&nbsp;&nbsp;&nbsp;1. {{$t('web_privacy_policy_p2_t1_t13')}}</p>
                        <p>{{$t('web_privacy_policy_p2_t1_t14')}}</p>   
                        <p>&nbsp;&nbsp;&nbsp;1. {{$t('web_privacy_policy_p2_t1_t15')}}</p>
                        <p>{{$t('web_privacy_policy_p2_t1_t15')}}</p>

                        <p>2.2 {{$t('web_privacy_policy_p2_t2')}}</p>
                        <p>{{$t('web_privacy_policy_p2_t2_t1')}}</p>
                        <p>{{$t('web_privacy_policy_p2_t2_t2')}}</p>
                        <p>{{$t('web_privacy_policy_p2_t2_t3')}}</p>
                        <p>{{$t('web_privacy_policy_p2_t2_t4')}}</p>
                        <p>{{$t('web_privacy_policy_p2_t2_t5')}}</p>
                        <p>{{$t('web_privacy_policy_p2_t2_t6')}}</p>
                        <p>{{$t('web_privacy_policy_p2_t2_t7')}}</p>
                        <p>{{$t('web_privacy_policy_p2_t2_t8')}} {{$t('web_privacy_policy_p2_t2_t8_1')}}</p>
                        <p>{{$t('web_privacy_policy_p2_t2_t9')}}</p>

                        <p>2.3 {{$t('web_privacy_policy_p2_t3')}}</p>
                        <p>{{$t('web_privacy_policy_p2_t3_t1')}}</p> 
                        <p>{{$t('web_privacy_policy_p2_t3_t2')}}</p> 
                        <p>{{$t('web_privacy_policy_p2_t3_t3')}}</p> 
                        <p>{{$t('web_privacy_policy_p2_t3_t4')}}</p> 
                        <p>{{$t('web_privacy_policy_p2_t3_t5')}} {{$t('web_privacy_policy_p2_t3_t5_1')}}</p> 

                        <p>2.4 {{$t('web_privacy_policy_p2_t4')}}</p>
                        <p>{{$t('web_privacy_policy_p2_t4_t1')}}</p>
                        <p>{{$t('web_privacy_policy_p2_t4_t2')}}</p>
                        <p>{{$t('web_privacy_policy_p2_t4_t3')}}</p>
                        <p>{{$t('web_privacy_policy_p2_t4_t4')}}</p>
                        <p>{{$t('web_privacy_policy_p2_t4_t5')}}</p>
                        <p>{{$t('web_privacy_policy_p2_t4_t6')}}</p>
                        <p>{{$t('web_privacy_policy_p2_t4_t7')}}</p>
                        <p>{{$t('web_privacy_policy_p2_t4_t8')}}</p>
                        <br>

                        <p>3. {{$t('web_privacy_policy_p3_t0')}}
                        <p>3.1 {{$t('web_privacy_policy_p3_t1')}}</p>
                        <p>{{$t('web_privacy_policy_p3_t1_t1')}} {{$t('web_privacy_policy_p3_t1_t1_1')}} {{$t('web_privacy_policy_p3_t1_t1_2')}} {{$t('web_privacy_policy_p3_t1_t1_3')}}</p>
                        <p>&nbsp;&nbsp;&nbsp;1. {{$t('web_privacy_policy_p3_t1_t2')}}</p>
                        <p>&nbsp;&nbsp;&nbsp;2. {{$t('web_privacy_policy_p3_t1_t3')}}</p>
                        <p>&nbsp;&nbsp;&nbsp;3. {{$t('web_privacy_policy_p3_t1_t4')}}</p>
                        <p>{{$t('web_privacy_policy_p3_t1_t5')}}</p>

                        <p>3.2 {{$t('web_privacy_policy_p3_t2')}}</p>
                        <p>{{$t('web_privacy_policy_p3_t2_t1')}}</p>
                        <p>{{$t('web_privacy_policy_p3_t2_t2')}} {{$t('web_privacy_policy_p3_t2_t2_1')}}</p>
                        <p>{{$t('web_privacy_policy_p3_t2_t3')}}</p>
                        <p>{{$t('web_privacy_policy_p3_t2_t4')}}</p>
                        <p>{{$t('web_privacy_policy_p3_t2_t5')}}</p>
                        
                        <p>3.3 {{$t('web_privacy_policy_p3_t3')}}</p>
                        <p>{{$t('web_privacy_policy_p3_t3_t1')}}</p>
                        <p>{{$t('web_privacy_policy_p3_t3_t2')}}</p>
                        <p>{{$t('web_privacy_policy_p3_t3_t3')}}</p>
                        <p>{{$t('web_privacy_policy_p3_t3_t4')}}</p>
                        <p>{{$t('web_privacy_policy_p3_t3_t5')}}</p>
                        <p>{{$t('web_privacy_policy_p3_t3_t6')}} {{$t('web_privacy_policy_p3_t3_t6_1')}}</p>
                        <p>{{$t('web_privacy_policy_p3_t3_t7')}}</p>

                        <p>3.4 {{$t('web_privacy_policy_p3_t4')}}</p>
                        <p>{{$t('web_privacy_policy_p3_t4_t1')}} {{$t('web_privacy_policy_p3_t4_t1_1')}} {{$t('web_privacy_policy_p3_t4_t1_2')}}</p>
                        <p>{{$t('web_privacy_policy_p3_t4_t2')}} {{$t('web_privacy_policy_p3_t4_t2_1')}}</p>
                        <p>{{$t('web_privacy_policy_p3_t4_t3')}} {{$t('web_privacy_policy_p3_t4_t3_1')}} {{$t('web_privacy_policy_p3_t4_t3_2')}}</p>
                     
                        <p>3.5 {{$t('web_privacy_policy_p3_t5')}}</p>
                        <p>{{$t('web_privacy_policy_p3_t5_t1')}}</p>
                        <p>{{$t('web_privacy_policy_p3_t5_t2')}} {{$t('web_privacy_policy_p3_t5_t2_1')}} {{$t('web_privacy_policy_p3_t5_t2_2')}}</p>
                        <p>{{$t('web_privacy_policy_p3_t5_t3')}}</p>
                        
                        <p>3.6 {{$t('web_privacy_policy_p3_t6')}}</p>
                        <p>{{$t('web_privacy_policy_p3_t6_t1')}} {{$t('web_privacy_policy_p3_t6_t1_1')}} {{$t('web_privacy_policy_p3_t6_t1_2')}}</p>
                        <p>{{$t('web_privacy_policy_p3_t6_t2')}}</p>
              
                        <p>3.7 {{$t('web_privacy_policy_p3_t7')}}</p>
                        <p>{{$t('web_privacy_policy_p3_t7_t1')}} {{$t('web_privacy_policy_p3_t7_t1_1')}} {{$t('web_privacy_policy_p3_t7_t1_2')}}</p>

                        <p>3.8 {{$t('web_privacy_policy_p3_t8')}}</p>
                        <p>{{$t('web_privacy_policy_p3_t8_t1')}} {{$t('web_privacy_policy_p3_t8_t1_1')}}</p>
                        <br>

                        <p>4. {{$t('web_privacy_policy_p4_t0')}}</p>
                        <p>4.1 {{$t('web_privacy_policy_p4_t1')}}</p>
                        <p>{{$t('web_privacy_policy_p4_t1_t1')}} {{$t('web_privacy_policy_p4_t1_t1_1')}} {{$t('web_privacy_policy_p4_t1_t1_2')}} {{$t('web_privacy_policy_p4_t1_t1_3')}}</p>
                        <p>{{$t('web_privacy_policy_p4_t1_t2')}}</p>

                        <p>4.2 {{$t('web_privacy_policy_p4_t2')}}</p>
                        <p>{{$t('web_privacy_policy_p4_t2_t1')}}</p>
                        <p>{{$t('web_privacy_policy_p4_t2_t2')}}</p>
                        <p>{{$t('web_privacy_policy_p4_t2_t3')}}</p>
                        <p>{{$t('web_privacy_policy_p4_t2_t4')}}</p>
                        <p>{{$t('web_privacy_policy_p4_t2_t5')}}</p>
                        <p>{{$t('web_privacy_policy_p4_t2_t6')}}</p>
                        <p>{{$t('web_privacy_policy_p4_t2_t7')}}</p>
                        <p>{{$t('web_privacy_policy_p4_t2_t8')}}</p>
                        <p>{{$t('web_privacy_policy_p4_t2_t9')}}</p>

                        <p>4.3 {{$t('web_privacy_policy_p4_t3')}}</p>
                        <p>{{$t('web_privacy_policy_p4_t3_t1')}}</p>
                        <br>

                        <p>5. {{$t('web_privacy_policy_p5_t0')}}</p>
                        <p>{{$t('web_privacy_policy_p5_t0_t1')}} {{$t('web_privacy_policy_p5_t0_t1_2')}} {{$t('web_privacy_policy_p5_t0_t1_3')}}</p>
                        <br>
                        
                        <p>6. {{$t('web_privacy_policy_p6_t0')}}</p>
                        <p>{{$t('web_privacy_policy_p6_t0_t1')}}</p>
                        
                        <p>6.1 {{$t('web_privacy_policy_p6_t1')}}</p>
                        <p>{{$t('web_privacy_policy_p6_t1_t1')}} {{$t('web_privacy_policy_p6_t1_t1_1')}} {{$t('web_privacy_policy_p6_t1_t1_2')}}</p>
                        
                        <p>6.2 {{$t('web_privacy_policy_p6_t2')}}</p>
                        <p>{{$t('web_privacy_policy_p6_t2_t1')}}</p>
                        
                        <p>6.3 {{$t('web_privacy_policy_p6_t3')}}</p>
                        <p>{{$t('web_privacy_policy_p6_t3_t1')}} {{$t('web_privacy_policy_p6_t3_t1_1')}} {{$t('web_privacy_policy_p6_t3_t1_2')}}</p>
                        
                        <p>6.4 {{$t('web_privacy_policy_p6_t4')}}</p>
                        <p>{{$t('web_privacy_policy_p6_t4_t1')}} {{$t('web_privacy_policy_p6_t4_t1_1')}} {{$t('web_privacy_policy_p6_t4_t1_2')}} {{$t('web_privacy_policy_p6_t4_t1_3')}}</p>
                        <p>{{$t('web_privacy_policy_p6_t4_t2')}} {{$t('web_privacy_policy_p6_t4_t2_1')}}</p>
                        <p>{{$t('web_privacy_policy_p6_t4_t3')}}</p>
                        <p>{{$t('web_privacy_policy_p6_t4_t4')}} {{$t('web_privacy_policy_p6_t4_t4_1')}}</p>
                        <p>{{$t('web_privacy_policy_p6_t4_t5')}}</p>
                        
                        <p>6.5 {{$t('web_privacy_policy_p6_t5')}}</p>
                        <p>{{$t('web_privacy_policy_p6_t5_t1')}} {{$t('web_privacy_policy_p6_t5_t1_1')}} {{$t('web_privacy_policy_p6_t5_t1_2')}} {{$t('web_privacy_policy_p6_t5_t1_3')}} {{$t('web_privacy_policy_p6_t5_t1_4')}}</p>
                        
                        <p>6.6 {{$t('web_privacy_policy_p6_t6')}}</p>
                        <p>{{$t('web_privacy_policy_p6_t6_t1')}} {{$t('web_privacy_policy_p6_t6_t1_1')}}</p>
                        <p>{{$t('web_privacy_policy_p6_t6_t2')}}</p>
                        <br>

                        <p>7. {{$t('web_privacy_policy_p7_t0')}}</p>
                        <p>{{$t('web_privacy_policy_p7_t0_t1')}} {{$t('web_privacy_policy_p7_t0_t1_1')}} {{$t('web_privacy_policy_p7_t0_t1_2')}} {{$t('web_privacy_policy_p7_t0_t1_3')}}</p>
                        <br>

                        <p>8. {{$t('web_privacy_policy_p8_t0')}}</p>
                        <p>{{$t('web_privacy_policy_p8_t0_t1')}} {{$t('web_privacy_policy_p8_t0_t1_1')}} {{$t('web_privacy_policy_p8_t0_t1_2')}} {{$t('web_privacy_policy_p8_t0_t1_3')}} {{$t('web_privacy_policy_p8_t0_t1_4')}}</p>
                        <br>
                        
                        <p>9. {{$t('web_privacy_policy_p9_t0')}}</p>
                        <p>{{$t('web_privacy_policy_p9_t0_t1')}}</p>
                        <p>{{$t('web_privacy_policy_p9_t0_t2')}}</p>
                        <p>{{$t('web_privacy_policy_p9_t0_t3')}}</p>
                        <p>info@spotech.io</p>
                    </div>
                </div>
            </div> 
        </div>
    </section>
</template>

<script>
export default {
    name: 'PrivacyPolicy',
}
</script>
<style scoped>
.han .text-wrapper{
    color: white;
}
</style>