<template>
  <section class="body-hp pd-web han">
    <div class="container">
      <div class="row">
        <div class="col-12">
          <div class="text-wrapper">
            <div class="title-text">{{ $t("TermsOfService") }}</div>
            <p>{{$t('web_termservice_p1')}}<br> 
              {{$t('web_termservice_p1_t1')}}</p>
            <p>
              {{$t('web_termservice_p1_t2_1')}}{{$t('web_termservice_p1_t2_2')}}{{$t('web_termservice_p1_t2_3')}}{{$t('web_termservice_p1_t2_4')}}{{$t('web_termservice_p1_t2_5')}}{{$t('web_termservice_p1_t2_6')}}{{$t('web_termservice_p1_t2_7')}}
            </p>
            <p>
              {{$t('web_termservice_p2')}}<br>
              1. {{$t('web_termservice_p2_t1_1')}}{{$t('web_termservice_p2_t1_2')}}<br>         
              2. {{$t('web_termservice_p2_t2_1')}}{{$t('web_termservice_p2_t2_2')}}<br>
              3. {{$t('web_termservice_p2_t3_1')}}{{$t('web_termservice_p2_t3_2')}}{{$t('web_termservice_p2_t3_3')}}{{$t('web_termservice_p2_t3_4')}}{{$t('web_termservice_p2_t3_5')}}<br>
              4. {{$t('web_termservice_p2_t4_1')}}{{$t('web_termservice_p2_t4_2')}}{{$t('web_termservice_p2_t4_3')}}{{$t('web_termservice_p2_t4_4')}}<br>   
              5. {{$t('web_termservice_p2_t5_1')}}{{$t('web_termservice_p2_t5_2')}}{{$t('web_termservice_p2_t5_3')}}<br>
              6. {{$t('web_termservice_p2_t6_t1_1')}}{{$t('web_termservice_p2_t6_t1_2')}}{{$t('web_termservice_p2_t6_t1_3')}}<br>
              &nbsp;&nbsp;&nbsp;&nbsp;{{$t('web_termservice_p2_t6_t2_1')}}<br>
              &nbsp;&nbsp;&nbsp;&nbsp;{{$t('web_termservice_p2_t6_t2_2')}}<br>
              &nbsp;&nbsp;&nbsp;&nbsp;{{$t('web_termservice_p2_t6_t2_3')}}<br>
              &nbsp;&nbsp;&nbsp;&nbsp;{{$t('web_termservice_p2_t6_t2_4')}}<br>
              &nbsp;&nbsp;&nbsp;&nbsp;{{$t('web_termservice_p2_t6_t2_5')}}<br>
              &nbsp;&nbsp;&nbsp;&nbsp;{{$t('web_termservice_p2_t6_t2_6')}}<br>
              &nbsp;&nbsp;&nbsp;&nbsp;{{$t('web_termservice_p2_t6_t2_7')}}<br>
              &nbsp;&nbsp;&nbsp;&nbsp;{{$t('web_termservice_p2_t6_t2_8')}}<br>
              &nbsp;&nbsp;&nbsp;&nbsp;{{$t('web_termservice_p2_t6_t2_9')}}<br>                
            </p>
            <p>
              {{$t('web_termservice_p3')}}<br>
              1. {{$t('web_termservice_p3_t1_1')}}{{$t('web_termservice_p3_t1_2')}}<br>
              2. {{$t('web_termservice_p3_t2_1')}}{{$t('web_termservice_p3_t2_2')}}<br>
              3. {{$t('web_termservice_p3_t3')}}<br>
              4. {{$t('web_termservice_p3_t4')}}<br>
              5. {{$t('web_termservice_p3_t5_1')}}{{$t('web_termservice_p3_t5_2')}}{{$t('web_termservice_p3_t5_3')}}{{$t('web_termservice_p3_t5_4')}}<br>
              6. {{$t('web_termservice_p3_t6_1')}}{{$t('web_termservice_p3_t6_2')}}{{$t('web_termservice_p3_t6_3')}}<br>
              7. {{$t('web_termservice_p3_t7_1')}}<br>
              &nbsp;&nbsp;&nbsp;&nbsp;1. {{$t('web_termservice_p3_t7_2')}}<br>
              &nbsp;&nbsp;&nbsp;&nbsp;2. {{$t('web_termservice_p3_t7_3')}}{{$t('web_termservice_p3_t7_4')}}<br>
              8. {{$t('web_termservice_p3_t8_1')}}{{$t('web_termservice_p3_t8_2')}}<br>
              &nbsp;&nbsp;&nbsp;&nbsp;1. {{$t('web_termservice_p3_t8_3')}}<br>
              &nbsp;&nbsp;&nbsp;&nbsp;2. {{$t('web_termservice_p3_t8_4')}}<br>
            </p>
            <p>
              {{$t('web_termservice_p4')}}<br>
              {{$t('web_termservice_p4_t4_1')}}{{$t('web_termservice_p4_t4_2')}}{{$t('web_termservice_p4_t4_3')}}{{$t('web_termservice_p4_t4_4')}}
            </p>
            <p>
              {{$t('web_termservice_p5')}}<br>
              1. {{$t('web_termservice_p5_t1_1')}}{{$t('web_termservice_p5_t1_2')}}<br>
              2. {{$t('web_termservice_p5_t2_1')}}{{$t('web_termservice_p5_t2_2')}}{{$t('web_termservice_p5_t2_3')}}<br>
              3. {{$t('web_termservice_p5_t3')}}<br>
              4. {{$t('web_termservice_p5_t4_1')}}{{$t('web_termservice_p5_t4_2')}}{{$t('web_termservice_p5_t4_3')}}<br>
              5. {{$t('web_termservice_p5_t5_1')}}{{$t('web_termservice_p5_t5_2')}}<br>
              6. {{$t('web_termservice_p5_t6_1')}}{{$t('web_termservice_p5_t6_2')}}{{$t('web_termservice_p5_t6_3')}}<br>
              7. {{$t('web_termservice_p5_t7')}}
            </p>
            <p>
              {{$t('web_termservice_p6')}}<br>
              1. {{$t('web_termservice_p6_t1_1')}}{{$t('web_termservice_p6_t1_2')}}{{$t('web_termservice_p6_t1_3')}}<br>
              2. {{$t('web_termservice_p6_t2_1')}}{{$t('web_termservice_p6_t2_2')}}{{$t('web_termservice_p6_t2_3')}}{{$t('web_termservice_p6_t2_4')}}{{$t('web_termservice_p6_t2_5')}}<br>
              3. {{$t('web_termservice_p6_t3_1')}}{{$t('web_termservice_p6_t3_2')}}{{$t('web_termservice_p6_t3_3')}}<br>
              4. {{$t('web_termservice_p6_t4_1')}}{{$t('web_termservice_p6_t4_2')}}<br>
              5. {{$t('web_termservice_p6_t5_1')}}{{$t('web_termservice_p6_t5_2')}}{{$t('web_termservice_p6_t5_3')}}{{$t('web_termservice_p6_t5_4')}}<br>
              6. {{$t('web_termservice_p6_t6_1')}}{{$t('web_termservice_p6_t6_2')}}{{$t('web_termservice_p6_t6_3')}}{{$t('web_termservice_p6_t6_4')}}{{$t('web_termservice_p6_t6_5')}}<br>
              7. {{$t('web_termservice_p6_t7_1')}}{{$t('web_termservice_p6_t7_2')}}{{$t('web_termservice_p6_t7_3')}}{{$t('web_termservice_p6_t7_4')}}{{$t('web_termservice_p6_t7_5')}}<br>
            </p>
            <p>
              {{$t('web_termservice_p7')}}<br>
              1. {{$t('web_termservice_p7_t1')}}<br>
              2. {{$t('web_termservice_p7_t2')}}<br>
              3. {{$t('web_termservice_p7_t3_1')}}{{$t('web_termservice_p7_t3_2')}}{{$t('web_termservice_p7_t3_3')}}{{$t('web_termservice_p7_t3_4')}}<br>
              4. {{$t('web_termservice_p7_t4')}}<br>
              5. {{$t('web_termservice_p7_t5_1')}}{{$t('web_termservice_p7_t5_2')}}{{$t('web_termservice_p7_t5_3')}}<br>
              6. {{$t('web_termservice_p7_t6_1')}}{{$t('web_termservice_p7_t6_2')}}{{$t('web_termservice_p7_t6_3')}}{{$t('web_termservice_p7_t6_4')}}<br>
              7. {{$t('web_termservice_p7_t7_1')}}{{$t('web_termservice_p7_t7_2')}}<br>
              8. {{$t('web_termservice_p7_t8_1')}}{{$t('web_termservice_p7_t8_2')}}<br>
              9. {{$t('web_termservice_p7_t9_1')}}{{$t('web_termservice_p7_t9_2')}}<br>
              10. {{$t('web_termservice_p7_t10')}}<br>
            </p>
            <p>
              {{$t('web_termservice_p8')}}<br>
              1. {{$t('web_termservice_p8_t1')}}<br>
              2. {{$t('web_termservice_p8_t2_1')}}{{$t('web_termservice_p8_t2_2')}}<br>
              3. {{$t('web_termservice_p8_t3_1')}}{{$t('web_termservice_p8_t3_2')}}<br>
              4. {{$t('web_termservice_p8_t4_1')}}{{$t('web_termservice_p8_t4_2')}}<br>
            </p>
            <p>
              {{$t('web_termservice_p9')}}<br>
              1. {{$t('web_termservice_p9_t1')}}<br>
              2. {{$t('web_termservice_p9_t2_1')}}{{$t('web_termservice_p9_t2_2')}}{{$t('web_termservice_p9_t2_3')}}{{$t('web_termservice_p9_t2_4')}}<br>
              3. {{$t('web_termservice_p9_t3_1')}}{{$t('web_termservice_p9_t3_2')}}{{$t('web_termservice_p9_t3_3')}}{{$t('web_termservice_p9_t3_4')}}<br>
              4. {{$t('web_termservice_p9_t4')}}<br>
              5. {{$t('web_termservice_p9_t5_1')}}{{$t('web_termservice_p9_t5_2')}}<br>
              6. {{$t('web_termservice_p9_t6_1')}}<br>
              &nbsp;&nbsp;&nbsp;&nbsp;{{$t('web_termservice_p9_t6_2')}}<br>
              &nbsp;&nbsp;&nbsp;&nbsp;{{$t('web_termservice_p9_t6_3')}}<br>
              &nbsp;&nbsp;&nbsp;&nbsp;{{$t('web_termservice_p9_t6_4')}}<br>
              7. {{$t('web_termservice_p9_t7')}}<br>
              8. {{$t('web_termservice_p9_t8_1')}}{{$t('web_termservice_p9_t8_2')}}{{$t('web_termservice_p9_t8_3')}}{{$t('web_termservice_p9_t8_4')}}{{$t('web_termservice_p9_t8_5')}}{{$t('web_termservice_p9_t8_6')}}<br>
              9. {{$t('web_termservice_p9_t9_1')}}{{$t('web_termservice_p9_t9_2')}}{{$t('web_termservice_p9_t9_3')}}<br>
              &nbsp;&nbsp;&nbsp;&nbsp;* {{$t('web_termservice_p9_t9_4')}}<br> 
              &nbsp;&nbsp;&nbsp;&nbsp;* {{$t('web_termservice_p9_t9_5')}}<br> 
              &nbsp;&nbsp;&nbsp;&nbsp;* {{$t('web_termservice_p9_t9_6')}}<br> 
              10. {{$t('web_termservice_p9_t10_1')}}{{$t('web_termservice_p9_t10_2')}}{{$t('web_termservice_p9_t10_3')}}{{$t('web_termservice_p9_t10_4')}}{{$t('web_termservice_p9_t10_5')}}<br>
              11. {{$t('web_termservice_p9_t11_1')}}{{$t('web_termservice_p9_t11_2')}}{{$t('web_termservice_p9_t11_3')}}<br>
              12. {{$t('web_termservice_p9_t12_1')}}{{$t('web_termservice_p9_t12_2')}}<br>
              14. {{$t('web_termservice_p9_t14_1')}}{{$t('web_termservice_p9_t14_2')}}{{$t('web_termservice_p9_t14_3')}}{{$t('web_termservice_p9_t14_4')}}{{$t('web_termservice_p9_t14_5')}}<br>
              15. {{$t('web_termservice_p9_t15_1')}}{{$t('web_termservice_p9_t15_2')}}{{$t('web_termservice_p9_t15_3')}}<br>
            </p>
            <p>
              {{$t('web_termservice_p10')}}<br>
              1. {{$t('web_termservice_p10_t01_1')}}{{$t('web_termservice_p10_t01_2')}}<br>
              2. {{$t('web_termservice_p10_t02_1')}}{{$t('web_termservice_p10_t02_2')}}<br>
              3. {{$t('web_termservice_p10_t03')}}<br>
              4. {{$t('web_termservice_p10_t04_1')}}{{$t('web_termservice_p10_t04_2')}}<br>
              5. {{$t('web_termservice_p10_t05_1')}}{{$t('web_termservice_p10_t05_2')}}<br>
              6. {{$t('web_termservice_p10_t06_1')}}{{$t('web_termservice_p10_t06_2')}}{{$t('web_termservice_p10_t06_3')}}<br>
              7. {{$t('web_termservice_p10_t07_1')}}{{$t('web_termservice_p10_t07_2')}}{{$t('web_termservice_p10_t07_3')}}{{$t('web_termservice_p10_t07_4')}}<br>
              8. {{$t('web_termservice_p10_t08')}}<br>
              9. {{$t('web_termservice_p10_t09_1')}}{{$t('web_termservice_p10_t09_2')}}{{$t('web_termservice_p10_t09_3')}}{{$t('web_termservice_p10_t09_4')}}{{$t('web_termservice_p10_t09_5')}}{{$t('web_termservice_p10_t09_6')}}<br>
              10. {{$t('web_termservice_p10_t10')}}<br>
              &nbsp;&nbsp;&nbsp;&nbsp;1. {{$t('web_termservice_p10_t10_t01')}}<br>
              &nbsp;&nbsp;&nbsp;&nbsp;2. {{$t('web_termservice_p10_t10_t02')}}<br>
              &nbsp;&nbsp;&nbsp;&nbsp;3. {{$t('web_termservice_p10_t10_t03')}}<br>
              &nbsp;&nbsp;&nbsp;&nbsp;4. {{$t('web_termservice_p10_t10_t04_1')}}{{$t('web_termservice_p10_t10_t04_2')}}<br>
              11. {{$t('web_termservice_p10_t11')}}<br>
              &nbsp;&nbsp;&nbsp;&nbsp;1. {{$t('web_termservice_p10_t11_t01')}}<br>
              &nbsp;&nbsp;&nbsp;&nbsp;2. {{$t('web_termservice_p10_t11_t02')}}<br>
            </p>
            <p>
              {{$t('web_termservice_p11')}}<br>
              1. {{$t('web_termservice_p11_t01_1')}}{{$t('web_termservice_p11_t01_2')}}<br>
              2. {{$t('web_termservice_p11_t02_1')}}{{$t('web_termservice_p11_t02_2')}}{{$t('web_termservice_p11_t02_3')}}<br>
              3. {{$t('web_termservice_p11_t03_1')}}{{$t('web_termservice_p11_t03_2')}}{{$t('web_termservice_p11_t03_3')}}<br>
              4. {{$t('web_termservice_p11_t04_1')}}{{$t('web_termservice_p11_t04_2')}}<br>
              5. {{$t('web_termservice_p11_t05_1')}}{{$t('web_termservice_p11_t05_2')}}<br>
              6. {{$t('web_termservice_p11_t06_t01_1')}}{{$t('web_termservice_p11_t06_t01_2')}}<br>
              &nbsp;&nbsp;&nbsp;&nbsp;{{$t('web_termservice_p11_t06_t02')}}<br>
              &nbsp;&nbsp;&nbsp;&nbsp;{{$t('web_termservice_p11_t06_t03')}}<br>
              &nbsp;&nbsp;&nbsp;&nbsp;{{$t('web_termservice_p11_t06_t04')}}<br>
              &nbsp;&nbsp;&nbsp;&nbsp;{{$t('web_termservice_p11_t06_t05')}}<br>
              7. {{$t('web_termservice_p11_t07_1')}}{{$t('web_termservice_p11_t07_2')}}<br>
              8. {{$t('web_termservice_p11_t08_1')}}{{$t('web_termservice_p11_t08_2')}}<br>
            </p>
            <p>
              {{$t('web_termservice_p12')}}<br>
              1. {{$t('web_termservice_p12_t01_1')}}{{$t('web_termservice_p12_t01_2')}}{{$t('web_termservice_p12_t01_3')}}{{$t('web_termservice_p12_t01_4')}}{{$t('web_termservice_p12_t01_5')}}{{$t('web_termservice_p12_t01_6')}}<br>
              2. {{$t('web_termservice_p12_t02_1')}}{{$t('web_termservice_p12_t02_2')}}{{$t('web_termservice_p12_t02_3')}}{{$t('web_termservice_p12_t02_4')}}<br>
              3. {{$t('web_termservice_p12_t03_t01_1')}}{{$t('web_termservice_p12_t03_t01_2')}}{{$t('web_termservice_p12_t03_t01_3')}}<br>
  
              {{$t('web_termservice_p12_t03_t02')}}<br>
              &nbsp;&nbsp;&nbsp;&nbsp;{{$t('web_termservice_p12_t03_t03')}}<br>
              &nbsp;&nbsp;&nbsp;&nbsp;{{$t('web_termservice_p12_t03_t04')}}<br>
              &nbsp;&nbsp;&nbsp;&nbsp;{{$t('web_termservice_p12_t03_t05')}}<br>
            </p>
            <p>
              {{$t('web_termservice_p13')}}<br>
              1. {{$t('web_termservice_p13_t01_1')}}{{$t('web_termservice_p13_t01_2')}}{{$t('web_termservice_p13_t01_3')}}<br>
              2. {{$t('web_termservice_p13_t02_1')}}{{$t('web_termservice_p13_t02_2')}}{{$t('web_termservice_p13_t02_3')}}{{$t('web_termservice_p13_t02_4')}}{{$t('web_termservice_p13_t02_5')}}{{$t('web_termservice_p13_t02_6')}}<br>
              3. {{$t('web_termservice_p13_t03_1')}}{{$t('web_termservice_p13_t03_2')}}{{$t('web_termservice_p13_t03_3')}}{{$t('web_termservice_p13_t03_4')}}{{$t('web_termservice_p13_t03_5')}}<br>
              4. {{$t('web_termservice_p13_t04_t01_1')}}{{$t('web_termservice_p13_t04_t01_2')}}<br>
              {{$t('web_termservice_p13_t04_t02_1')}}{{$t('web_termservice_p13_t04_t02_2')}}{{$t('web_termservice_p13_t04_t02_3')}}{{$t('web_termservice_p13_t04_t02_4')}}{{$t('web_termservice_p13_t04_t02_5')}}<br>
              {{$t('web_termservice_p13_t04_t03_1')}}{{$t('web_termservice_p13_t04_t03_2')}}{{$t('web_termservice_p13_t04_t03_3')}}{{$t('web_termservice_p13_t04_t03_4')}}{{$t('web_termservice_p13_t04_t03_5')}}<br>
            </p>
            <p>   
              {{$t('web_termservice_p14')}}<br>
              1. {{$t('web_termservice_p14_t01')}}<br>
              2. {{$t('web_termservice_p14_t02_t1')}}{{$t('web_termservice_p14_t02_t2')}}{{$t('web_termservice_p14_t02_t3')}}<br>
              3. {{$t('web_termservice_p14_t03_t1')}}{{$t('web_termservice_p14_t03_t2')}}<br>
              4. {{$t('web_termservice_p14_t04_t1')}}{{$t('web_termservice_p14_t04_t2')}}{{$t('web_termservice_p14_t04_t3')}}<br>
              5. {{$t('web_termservice_p14_t05_t1')}}{{$t('web_termservice_p14_t05_t2')}}{{$t('web_termservice_p14_t05_t3')}}{{$t('web_termservice_p14_t05_t4')}}<br>
              6. {{$t('web_termservice_p14_t06_t1')}}{{$t('web_termservice_p14_t06_t2')}}<br>
            </p>
            <p>
              {{$t('web_termservice_p15')}}<br>
              1. {{$t('web_termservice_p15_t01_1')}}{{$t('web_termservice_p15_t01_2')}}{{$t('web_termservice_p15_t01_3')}}{{$t('web_termservice_p15_t01_4')}}<br>
              2. {{$t('web_termservice_p15_t02_1')}}{{$t('web_termservice_p15_t02_2')}}{{$t('web_termservice_p15_t02_3')}}<br>
              3. {{$t('web_termservice_p15_t03_1')}}{{$t('web_termservice_p15_t03_2')}}{{$t('web_termservice_p15_t03_3')}}<br>
              4. {{$t('web_termservice_p15_t04_1')}}{{$t('web_termservice_p15_t04_2')}}{{$t('web_termservice_p15_t04_3')}}<br>
              5. {{$t('web_termservice_p15_t05_1')}}{{$t('web_termservice_p15_t05_2')}}<br>
              6. {{$t('web_termservice_p15_t06_1')}}{{$t('web_termservice_p15_t06_2')}}{{$t('web_termservice_p15_t06_3')}}<br>
              7. {{$t('web_termservice_p15_t07_1')}}{{$t('web_termservice_p15_t07_2')}}{{$t('web_termservice_p15_t07_3')}}{{$t('web_termservice_p15_t07_4')}}<br>
              8. {{$t('web_termservice_p15_t08_1')}}{{$t('web_termservice_p15_t08_2')}}{{$t('web_termservice_p15_t08_3')}}{{$t('web_termservice_p15_t08_4')}}{{$t('web_termservice_p15_t08_5')}}<br>
              9. {{$t('web_termservice_p15_t09_1')}}{{$t('web_termservice_p15_t09_2')}}{{$t('web_termservice_p15_t09_3')}}<br>
              10. {{$t('web_termservice_p15_t10_1')}}{{$t('web_termservice_p15_t10_2')}}<br>
              11. {{$t('web_termservice_p15_t11_1')}}{{$t('web_termservice_p15_t11_2')}}<br>
              12. {{$t('web_termservice_p15_t12_1')}}{{$t('web_termservice_p15_t12_2')}}<br>
              13. {{$t('web_termservice_p15_t13_1')}}{{$t('web_termservice_p15_t13_2')}}<br>
              14. {{$t('web_termservice_p15_t14_1')}}{{$t('web_termservice_p15_t14_2')}}<br>
              15. {{$t('web_termservice_p15_t15_1')}}{{$t('web_termservice_p15_t15_2')}}{{$t('web_termservice_p15_t15_3')}}{{$t('web_termservice_p15_t15_4')}}<br>
              16. {{$t('web_termservice_p15_t16')}}<br>
            </p>
            <p>
              {{$t('web_termservice_p16')}}<br>
              1. {{$t('web_termservice_p16_t01_1')}}{{$t('web_termservice_p16_t01_2')}}{{$t('web_termservice_p16_t01_3')}}{{$t('web_termservice_p16_t01_4')}}<br>
              2. {{$t('web_termservice_p16_t02_1')}}{{$t('web_termservice_p16_t02_2')}}{{$t('web_termservice_p16_t02_3')}}{{$t('web_termservice_p16_t02_4')}}<br>
              3. {{$t('web_termservice_p16_t03')}}<br>
              4. {{$t('web_termservice_p16_t04_1')}}{{$t('web_termservice_p16_t04_2')}}{{$t('web_termservice_p16_t04_3')}}<br>
              5. {{$t('web_termservice_p16_t05_1')}}{{$t('web_termservice_p16_t05_2')}}{{$t('web_termservice_p16_t05_3')}}{{$t('web_termservice_p16_t05_4')}}{{$t('web_termservice_p16_t05_5')}}<br>
              6. {{$t('web_termservice_p16_t06_1')}}{{$t('web_termservice_p16_t06_2')}}{{$t('web_termservice_p16_t06_3')}}{{$t('web_termservice_p16_t06_4')}}{{$t('web_termservice_p16_t06_5')}}{{$t('web_termservice_p16_t06_6')}}<br>
              7. {{$t('web_termservice_p16_t07_1')}}{{$t('web_termservice_p16_t07_2')}}{{$t('web_termservice_p16_t07_3')}}<br>
              8. {{$t('web_termservice_p16_t08_1')}}{{$t('web_termservice_p16_t08_2')}}{{$t('web_termservice_p16_t08_3')}}{{$t('web_termservice_p16_t08_4')}}{{$t('web_termservice_p16_t08_5')}}<br>
              9. {{$t('web_termservice_p16_t09_1')}}{{$t('web_termservice_p16_t09_2')}}
            </p>
            <p>
              {{$t('web_termservice_p17')}}<br>
              1. {{$t('web_termservice_p17_t01_1')}}{{$t('web_termservice_p17_t01_2')}}<br>
              2. {{$t('web_termservice_p17_t02')}}<br>
              3. {{$t('web_termservice_p17_t03_1')}}{{$t('web_termservice_p17_t03_2')}}<br>
              4. {{$t('web_termservice_p17_t04')}}<br>
              5. {{$t('web_termservice_p17_t05')}}<br>
            </p>
            <p>
              {{$t('web_termservice_p18')}}<br>
              1. {{$t('web_termservice_p18_t01_1')}}{{$t('web_termservice_p18_t01_2')}}<br>
              2. {{$t('web_termservice_p18_t02')}}<br>
              3. {{$t('web_termservice_p18_t03')}}<br>
              4. {{$t('web_termservice_p18_t04_1')}}{{$t('web_termservice_p18_t04_2')}}<br>
              5. {{$t('web_termservice_p18_t05_1')}}{{$t('web_termservice_p18_t05_2')}}<br>
              6. {{$t('web_termservice_p18_t06_1')}}{{$t('web_termservice_p18_t06_2')}}<br>
              7. {{$t('web_termservice_p18_t07_1')}}{{$t('web_termservice_p18_t07_2')}}<br>
              8. {{$t('web_termservice_p18_t08_1')}}{{$t('web_termservice_p18_t08_2')}}<br>
            </p>
            <p>
              {{$t('web_termservice_p19')}}<br>
              1. {{$t('web_termservice_p19_t01')}}<br>
              2. {{$t('web_termservice_p19_t02_1')}}{{$t('web_termservice_p19_t02_2')}}<br>
              3. {{$t('web_termservice_p19_t03_1')}}{{$t('web_termservice_p19_t03_2')}}{{$t('web_termservice_p19_t03_3')}}<br>
              4. {{$t('web_termservice_p19_t04')}}<br>
              info@spotech.io <br>
            </p>
            <p>
              {{$t('web_termservice_p20')}}<br>
              1. {{$t('web_termservice_p20_t01_t01_1')}}{{$t('web_termservice_p20_t01_t01_2')}}{{$t('web_termservice_p20_t01_t01_3')}}<br>
              &nbsp;&nbsp;&nbsp;&nbsp;1. {{$t('web_termservice_p20_t01_t02')}}<br>
              &nbsp;&nbsp;&nbsp;&nbsp;2. {{$t('web_termservice_p20_t01_t03_1')}}{{$t('web_termservice_p20_t01_t03_2')}}<br>
              2. {{$t('web_termservice_p20_t02_t00')}}<br>
              &nbsp;&nbsp;&nbsp;&nbsp;1. {{$t('web_termservice_p20_t02_t01')}}<br>
              &nbsp;&nbsp;&nbsp;&nbsp;2. {{$t('web_termservice_p20_t02_t02')}}<br>
              &nbsp;&nbsp;&nbsp;&nbsp;3. {{$t('web_termservice_p20_t02_t03')}}<br>
              &nbsp;&nbsp;&nbsp;&nbsp;4. {{$t('web_termservice_p20_t02_t04')}}<br>
              &nbsp;&nbsp;&nbsp;&nbsp;5. {{$t('web_termservice_p20_t02_t05')}}<br>
              3. {{$t('web_termservice_p20_t03')}}<br>
              4. {{$t('web_termservice_p20_t04')}}<br>
              5. {{$t('web_termservice_p20_t05_1')}}{{$t('web_termservice_p20_t05_2')}}{{$t('web_termservice_p20_t05_3')}}<br>
              6. {{$t('web_termservice_p20_t06_t00')}}<br>
              &nbsp;&nbsp;&nbsp;&nbsp;1. {{$t('web_termservice_p20_t06_t01')}}<br>
              &nbsp;&nbsp;&nbsp;&nbsp;2. {{$t('web_termservice_p20_t06_t02_1')}}{{$t('web_termservice_p20_t06_t02_2')}}<br>
              7. {{$t('web_termservice_p20_t07')}}<br>
              8. {{$t('web_termservice_p20_t08')}}<br>
              9. {{$t('web_termservice_p20_t09')}}<br>
            </p>
            <p>
                {{$t('web_termservice_p21')}}<br>
                1. {{$t('web_termservice_p21_t01_t01_1')}}{{$t('web_termservice_p21_t01_t01_2')}}<br>
                &nbsp;&nbsp;&nbsp;&nbsp;{{$t('web_termservice_p21_t01_t02_1')}}{{$t('web_termservice_p21_t01_t02_2')}}{{$t('web_termservice_p21_t01_t02_3')}}<br>
                &nbsp;&nbsp;&nbsp;&nbsp;{{$t('web_termservice_p21_t01_t03_1')}}{{$t('web_termservice_p21_t01_t03_2')}}<br>
                &nbsp;&nbsp;&nbsp;&nbsp;{{$t('web_termservice_p21_t01_t04')}}<br>
                &nbsp;&nbsp;&nbsp;&nbsp;{{$t('web_termservice_p21_t01_t05')}}<br>
                &nbsp;&nbsp;&nbsp;&nbsp;{{$t('web_termservice_p21_t01_t06_1')}}{{$t('web_termservice_p21_t01_t06_2')}}<br>
                &nbsp;&nbsp;&nbsp;&nbsp;{{$t('web_termservice_p21_t01_t07')}}<br>
                &nbsp;&nbsp;&nbsp;&nbsp;{{$t('web_termservice_p21_t01_t08_1')}}{{$t('web_termservice_p21_t01_t08_2')}}<br>
                &nbsp;&nbsp;&nbsp;&nbsp;{{$t('web_termservice_p21_t01_t09')}}<br>
                &nbsp;&nbsp;&nbsp;&nbsp;{{$t('web_termservice_p21_t01_t10')}}<br>
                &nbsp;&nbsp;&nbsp;&nbsp;{{$t('web_termservice_p21_t01_t11_1')}}{{$t('web_termservice_p21_t01_t11_2')}}<br>
                &nbsp;&nbsp;&nbsp;&nbsp;{{$t('web_termservice_p21_t01_t12_1')}}{{$t('web_termservice_p21_t01_t12_2')}}{{$t('web_termservice_p21_t01_t12_3')}}<br>
                &nbsp;&nbsp;&nbsp;&nbsp;{{$t('web_termservice_p21_t01_t13_1')}}{{$t('web_termservice_p21_t01_t13_2')}}<br>
                &nbsp;&nbsp;&nbsp;&nbsp;{{$t('web_termservice_p21_t01_t14_1')}}{{$t('web_termservice_p21_t01_t14_2')}}{{$t('web_termservice_p21_t01_t14_3')}}<br>
                &nbsp;&nbsp;&nbsp;&nbsp;{{$t('web_termservice_p21_t01_t15')}}<br>
                2. {{$t('web_termservice_p21_t02_1')}}{{$t('web_termservice_p21_t02_2')}}{{$t('web_termservice_p21_t02_3')}}{{$t('web_termservice_p21_t02_4')}}{{$t('web_termservice_p21_t02_5')}}<br>
                3. {{$t('web_termservice_p21_t03_1')}}{{$t('web_termservice_p21_t03_2')}}{{$t('web_termservice_p21_t03_3')}}<br>
                4. {{$t('web_termservice_p21_t04_t01_1')}}{{$t('web_termservice_p21_t04_t01_2')}}<br>
                &nbsp;&nbsp;&nbsp;&nbsp;{{$t('web_termservice_p21_t04_t02')}}<br>
                &nbsp;&nbsp;&nbsp;&nbsp;{{$t('web_termservice_p21_t04_t03_1')}}{{$t('web_termservice_p21_t04_t03_2')}}<br>
            </p>
            <p>
                {{$t('web_termservice_p22')}}<br>
                1. {{$t('web_termservice_p22_t01')}}<br>
                2. {{$t('web_termservice_p22_t02_1')}}{{$t('web_termservice_p22_t02_2')}}<br>
                3. {{$t('web_termservice_p22_t03_1')}}{{$t('web_termservice_p22_t03_2')}}{{$t('web_termservice_p22_t03_3')}}<br>
                4. {{$t('web_termservice_p22_t04_t01_1')}}{{$t('web_termservice_p22_t04_t01_2')}}{{$t('web_termservice_p22_t04_t01_3')}}{{$t('web_termservice_p22_t04_t01_4')}}{{$t('web_termservice_p22_t04_t01_5')}}{{$t('web_termservice_p22_t04_t01_6')}}{{$t('web_termservice_p22_t04_t01_7')}}{{$t('web_termservice_p22_t04_t01_8')}}<br>
                {{$t('web_termservice_p22_t04_t02')}}<br>
                {{$t('web_termservice_p22_t04_t03')}}<br>
                {{$t('web_termservice_p22_t04_t04')}}<br>
                {{$t('web_termservice_p22_t04_t05')}}<br>
                {{$t('web_termservice_p22_t04_t06_1')}}{{$t('web_termservice_p22_t04_t06_2')}}<br>
                5. {{$t('web_termservice_p22_t05')}}<br>
                6. {{$t('web_termservice_p22_t06_1')}}{{$t('web_termservice_p22_t06_2')}}<br>
                7. {{$t('web_termservice_p22_t07')}}<br>
            </p>
            <p>
                {{$t('web_termservice_p23')}}<br>
                {{$t('web_termservice_p23_t00')}}<br>
                &nbsp;&nbsp;&nbsp;&nbsp;1. {{$t('web_termservice_p23_t01')}}<br>
                &nbsp;&nbsp;&nbsp;&nbsp;2. {{$t('web_termservice_p23_t02')}}<br>
                &nbsp;&nbsp;&nbsp;&nbsp;3. {{$t('web_termservice_p23_t03')}}<br>
                &nbsp;&nbsp;&nbsp;&nbsp;4. {{$t('web_termservice_p23_t04')}}<br>
                &nbsp;&nbsp;&nbsp;&nbsp;5. {{$t('web_termservice_p23_t05')}}<br>
                &nbsp;&nbsp;&nbsp;&nbsp;6. {{$t('web_termservice_p23_t06_1')}}{{$t('web_termservice_p23_t06_2')}}{{$t('web_termservice_p23_t06_3')}}<br>
                &nbsp;&nbsp;&nbsp;&nbsp;7. {{$t('web_termservice_p23_t07')}}<br>
            </p>
            <p>
                {{$t('web_termservice_p24')}}<br>
                1. {{$t('web_termservice_p24_t01_1')}}{{$t('web_termservice_p24_t01_2')}}<br>
                2. {{$t('web_termservice_p24_t02_1')}}{{$t('web_termservice_p24_t02_2')}}{{$t('web_termservice_p24_t02_3')}}{{$t('web_termservice_p24_t02_4')}}{{$t('web_termservice_p24_t02_5')}}{{$t('web_termservice_p24_t02_6')}}<br>
                3. {{$t('web_termservice_p24_t03_1')}}{{$t('web_termservice_p24_t03_2')}}{{$t('web_termservice_p24_t03_3')}}{{$t('web_termservice_p24_t03_4')}}{{$t('web_termservice_p24_t03_5')}}{{$t('web_termservice_p24_t03_6')}}<br>
                4. {{$t('web_termservice_p24_t04')}}<br>
                5. {{$t('web_termservice_p24_t05_1')}}{{$t('web_termservice_p24_t05_2')}}<br>
                6. {{$t('web_termservice_p24_t06_1')}}{{$t('web_termservice_p24_t06_2')}}{{$t('web_termservice_p24_t06_3')}}<br>
            </p>
            <p>
                {{$t('web_termservice_p25')}}<br>
                1. {{$t('web_termservice_p25_t01_t01_1')}}{{$t('web_termservice_p25_t01_t01_2')}}<br>
                &nbsp;&nbsp;&nbsp;&nbsp;{{$t('web_termservice_p25_t01_t02')}}<br>
                &nbsp;&nbsp;&nbsp;&nbsp;{{$t('web_termservice_p25_t01_t03')}}<br>
                &nbsp;&nbsp;&nbsp;&nbsp;{{$t('web_termservice_p25_t01_t04')}}<br>
                &nbsp;&nbsp;&nbsp;&nbsp;{{$t('web_termservice_p25_t01_t05')}}<br>
                2. {{$t('web_termservice_p25_t02_1')}}{{$t('web_termservice_p25_t02_2')}}<br>
                3. {{$t('web_termservice_p25_t03_1')}}{{$t('web_termservice_p25_t03_2')}}<br>
                4. {{$t('web_termservice_p25_t04_1')}}{{$t('web_termservice_p25_t04_2')}}{{$t('web_termservice_p25_t04_3')}}{{$t('web_termservice_p25_t04_4')}}{{$t('web_termservice_p25_t04_5')}}<br>
                5. {{$t('web_termservice_p25_t05_1')}}{{$t('web_termservice_p25_t05_2')}}<br>
                6. {{$t('web_termservice_p25_t06_1')}}{{$t('web_termservice_p25_t06_2')}}<br>
                7. {{$t('web_termservice_p25_t07_1')}}{{$t('web_termservice_p25_t07_2')}}{{$t('web_termservice_p25_t07_3')}}{{$t('web_termservice_p25_t07_4')}}<br>
                8. {{$t('web_termservice_p25_t08')}}<br>
                9. {{$t('web_termservice_p25_t09')}}<br>
                10. {{$t('web_termservice_p25_t10')}}<br>
                11. {{$t('web_termservice_p25_t11_1')}}{{$t('web_termservice_p25_t11_2')}}{{$t('web_termservice_p25_t11_3')}}<br>
                12. {{$t('web_termservice_p25_t12_1')}}{{$t('web_termservice_p25_t12_2')}}<br>
            </p>
            <p>
              {{$t('web_termservice_p26')}}<br>
              {{$t('web_termservice_p26_t01_1')}}{{$t('web_termservice_p26_t01_2')}}<br>
            </p>
            <p>
              {{$t('web_termservice_p26_t02')}}<br>
            </p>
            <p>
              {{$t('web_termservice_p26_t03_1')}}{{$t('web_termservice_p26_t03_2')}}{{$t('web_termservice_p26_t03_3')}}<br>
            </p>
            <p>
              {{$t('web_termservice_p26_t04_t00')}}
            </p>
            <p>
              1. {{$t('web_termservice_p26_t04_t01')}}<br>
              2. {{$t('web_termservice_p26_t04_t02_1')}}{{$t('web_termservice_p26_t04_t02_2')}}<br>
              3. {{$t('web_termservice_p26_t04_t03')}}<br>
              4. {{$t('web_termservice_p26_t04_t04')}}<br>
              5. {{$t('web_termservice_p26_t04_t05_t01')}}<br>
                 {{$t('web_termservice_p26_t04_t05_t02')}}<br>
                 {{$t('web_termservice_p26_t04_t05_t03')}}<br>
              6. {{$t('web_termservice_p26_t04_t06')}}<br>
            </p>
            <p>
              {{$t('web_termservice_p26_t04_t07_t01')}}<br>
              {{$t('web_termservice_p26_t04_t07_t02')}}<br>
              {{$t('web_termservice_p26_t04_t07_t03')}}<br>
              info@spotech.io <br>
            </p>
            <p>
                {{$t('web_termservice_p27')}}<br>
                1. {{$t('web_termservice_p27_t01_1')}}{{$t('web_termservice_p27_t01_2')}}<br>
                2. {{$t('web_termservice_p27_t02')}}<br>
                3. {{$t('web_termservice_p27_t03')}}<br>
                4. {{$t('web_termservice_p27_t04_t01')}}<br>
                   {{$t('web_termservice_p27_t04_t02')}}<br>
                5. {{$t('web_termservice_p27_t05_1')}}{{$t('web_termservice_p27_t05_2')}}<br>
                6. {{$t('web_termservice_p27_t06_1')}}{{$t('web_termservice_p27_t06_2')}}{{$t('web_termservice_p27_t06_3')}}<br>
                7. {{$t('web_termservice_p27_t07_1')}}{{$t('web_termservice_p27_t07_2')}}<br>
                8. {{$t('web_termservice_p27_t08')}}<br>
                9. {{$t('web_termservice_p27_t09')}}<br>
            </p>
            <br>
            <p>
                {{$t('web_termservice_texttitle')}}<br>
                {{$t('web_termservice_p28')}}<br>
                1. {{$t('web_termservice_p28_t01')}}<br>
                2. {{$t('web_termservice_p28_t02_1')}}{{$t('web_termservice_p28_t02_2')}}<br>
            </p>
            <p>
                {{$t('web_termservice_p29')}}<br>
                1. {{$t('web_termservice_p29_t01')}}<br>
                &nbsp;&nbsp;&nbsp;&nbsp;1. {{$t('web_termservice_p29_t01_t01')}}<br>
                &nbsp;&nbsp;&nbsp;&nbsp;2. {{$t('web_termservice_p29_t01_t02')}}<br>
                &nbsp;&nbsp;&nbsp;&nbsp;3. {{$t('web_termservice_p29_t01_t03')}}<br>
                &nbsp;&nbsp;&nbsp;&nbsp;4. {{$t('web_termservice_p29_t01_t04')}}<br>
                &nbsp;&nbsp;&nbsp;&nbsp;5. {{$t('web_termservice_p29_t01_t05')}}<br>
                &nbsp;&nbsp;&nbsp;&nbsp;6. {{$t('web_termservice_p29_t01_t06')}}<br>
                &nbsp;&nbsp;&nbsp;&nbsp;7. {{$t('web_termservice_p29_t01_t07')}}<br>
                2. {{$t('web_termservice_p29_t02_1')}}{{$t('web_termservice_p29_t02_2')}}<br>
            <p>
                {{$t('web_termservice_p30')}}<br>
                {{$t('web_termservice_p30_t00_1')}}{{$t('web_termservice_p30_t00_2')}}{{$t('web_termservice_p30_t00_3')}}<br>
            </p>
            <p>
                {{$t('web_termservice_p31')}}<br>
                1. {{$t('web_termservice_p31_t01_1')}}{{$t('web_termservice_p31_t01_2')}}<br>
                2. {{$t('web_termservice_p31_t02_1')}}{{$t('web_termservice_p31_t02_2')}}<br>
                3. {{$t('web_termservice_p31_t03_1')}}{{$t('web_termservice_p31_t03_2')}}<br>
            </p>
            <p>
                {{$t('web_termservice_p32')}}<br>
                {{$t('web_termservice_p32_t00')}}<br>
            </p>
            <p>
                {{$t('web_termservice_p33')}}<br>
                {{$t('web_termservice_p33_t00_1')}}{{$t('web_termservice_p33_t00_2')}}{{$t('web_termservice_p33_t00_3')}}<br>
            </p>
            <p>
                {{$t('web_termservice_p34')}}<br>
                {{$t('web_termservice_p34_t00')}}<br>
            </p>
            <p>
                {{$t('web_termservice_p35')}}<br>
                {{$t('web_termservice_p35_t00_1')}}{{$t('web_termservice_p35_t00_2')}}<br>
            </p>
          </div>
        </div>
      </div>
    </div>
  </section>
</template>
<script>
export default {
    name:'TermsOfService',
}
</script>
<style scoped>
.han .text-wrapper{
    color: white;
}
</style>