<template>
  <section class="panel-body-prd" style="min-height: 300px;">
    <ul class="list-prd list-hp list-col-5 row">
      <li v-for="(item, key) in value" :key="key">
        <ItemExpert :item="item" />
      </li>
    </ul>
  </section>
</template>
<script>
  import ItemExpert from '~/components/home/share/ItemExpert'

  export default {
    components: {
      ItemExpert
    },
    props: ['value'],
    data() {
      return {
      };
    },
    methods: {
    },
  };
</script>
