<template>
  <section class="panel-body-hp">
    <ul class="list-hp list-col-5 row">
      <li v-for="(item, key) in categories" :key="key">
        <CategoryItemHotWork :title="item.title" :image="item.image" :id=item.id :type="'category_id'"/>
      </li>
    </ul>
  </section>
</template>
<script>
  import CategoryItemHotWork from '~/components/home/share/CategoryItemHotWork'
  import {mapGetters} from 'vuex'

  export default {
    components: {
      CategoryItemHotWork
    },
    computed: {
      ...mapGetters({
        categories: 'resource/category'
      }),
    },
  }
</script>

