<template>
  <section class="panel-body-hp order_2">
    <ul class="list-hp list-col-5 row">
      <li v-for="(item, key) in popularWorks" :key="key">
        <CategoryItem :image="item.image" :title="item.name" :id=item.id :type="'workenvironment_id'"/>
      </li>
    </ul>
  </section>
</template>
<script>
  import {mapGetters} from 'vuex'
  import CategoryItem from '~/components/home/share/CategoryItem'

  export default {
    components: {
      CategoryItem
    },
    computed: {
      ...mapGetters({
        workEnvironment: 'resource/workEnvironment'
      }),
      popularWorks() {
        return this.workEnvironment.slice(0, 5)
      }
    },
  };
</script>
