<template>
  <section class="panel-body-prd" style="min-height: 300px;">
    <ul class="list-prd list-hp list-col-5 row">
      <li v-for="(item, key) in value" :key="key">
        <ItemProject :item="item"/>
      </li>
    </ul>
  </section>
</template>
<script>
  import ItemProject from '~/components/home/share/ItemProject'

  export default {
    components: {
      ItemProject,
    },
    props: ['value'],
    data() {
      return {
      }
    },
  };
</script>
