<template>
  <div class="group-right-freelance">
    <div class="freelance-support">
      <div class="name-support">
        {{$t('SPOTECHFreelanceSupport')}}
      </div>
      <div class="search-support">
        <button class="btn-search"><img src="~assets/images/Path-209.png" alt=""></button>
        <input type="text" :placeholder="$t('SearchByKeyword')" class="input w-100">
      </div>
    </div>

    <aside class="group-aside_d">
      <div class="item-aside">
        <section class="group-topics">
          <div class="list-topics">
            <div class="item-topic" v-for="(item, key) in listPath" :key="key">
              <nuxt-link :to="localePath({name: 'support-freelancer-id', params: {id: item.path}})" class="link-topic">
                {{$t(item.name)}}
              </nuxt-link>
            </div>
          </div>
          <div class="group-btn_ft">
            <a href="javascript:;" class="btn-links btn-country"> {{$t('Japan')}} </a>
            <nuxt-link class="btn-links btn-question" :to="localePath({name: 'support-freelancer-add'})">
              {{$t('addPost')}}
            </nuxt-link>
          </div>
        </section>
      </div>
    </aside>

  </div>
</template>

<script>
	export default {
		name: "GroupRightFreelance",
    data() {
      return {
        listPath: [
          // {name: 'category', path: 'category'},
          {name: 'communication', path: 'communication'},
          {name: 'InformationSharing', path: 'information-sharing'},
          {name: 'development', path: 'development'},
          {name: 'design', path: 'design'},
          {name: 'marketing', path: 'marketing'},
          {name: 'projectManagement', path: 'project-management'},
          {name: 'business', path: 'business'},
          {name: 'workSpace', path: 'workSpace'},
          {name: 'finance-tax', path: 'finance-tax'},
          {name: 'socialInsurance', path: 'socialInsurance'},
          {name: 'welfare', path: 'welfare'},
          {name: 'overseasRemittance', path: 'overseasRemittance'},
        ]
      }
    },
	}
</script>

<style scoped>

</style>
