<template>
  <div class="group-popular-app">
    <header class="panel-head-freelance">
      <div class="title line"> {{$t('popularServices')}}</div>
      <div class="intro line"> {{$t('HereIsAPopularServiceAtSPOTECH')}}</div>
    </header>
    <section class="panel-body-app">
      <div class="list-app">
        <ul class="row list-col-5">
          <li v-for="(item, key) in 5" :key="key">
            <PostItem />
          </li>
        </ul>
      </div>
    </section>
  </div>
</template>

<script>
	export default {
		name: "PopularServices",
    components: {
      PostItem: () => import('./share/PostItem')
    }
	}
</script>

<style scoped>

</style>
