<template>
  <div class="group-search-category">
    <header class="panel-head-freelance">
      <div class="title line"> {{$t('searchByCategories')}}</div>
      <div class="intro line"> {{$t('FeaturedServicesByCategory')}}</div>
    </header>
    <section class="list-search-category">
      <ul class="row list-col-5">
        <li>
          <div class="item-category">
            <a href="javascript:;" class="links">
              <div class="name-category texts">コミュニケーション</div>
              <div class="number-search texts"> (100)</div>
            </a>
          </div>
        </li>
        <li>
          <div class="item-category">
            <a href="javascript:;" class="links">
              <div class="name-category texts">情報共有</div>
              <div class="number-search texts"> (89)</div>
            </a>
          </div>
        </li>
        <li>
          <div class="item-category">
            <a href="javascript:;" class="links">
              <div class="name-category texts"> 開発</div>
              <div class="number-search texts"> (20)</div>
            </a>
          </div>
        </li>
        <li>
          <div class="item-category">
            <a href="javascript:;" class="links">
              <div class="name-category texts">デザイン</div>
              <div class="number-search texts"> (34)</div>
            </a>
          </div>
        </li>
        <li>
          <div class="item-category">
            <a href="javascript:;" class="links">
              <div class="name-category texts">マーケティング</div>
              <div class="number-search texts"> (54 )</div>
            </a>
          </div>
        </li>
        <li>
          <div class="item-category">
            <a href="javascript:;" class="links">
              <div class="name-category texts">プロジェクト管理</div>
              <div class="number-search texts"> (54)</div>
            </a>
          </div>
        </li>
        <li>
          <div class="item-category">
            <a href="javascript:;" class="links">
              <div class="name-category texts"> ビジネス</div>
              <div class="number-search texts"> (55)</div>
            </a>
          </div>
        </li>
        <li>
          <div class="item-category">
            <a href="javascript:;" class="links">
              <div class="name-category texts">ワークスペース</div>
              <div class="number-search texts"> (44)</div>
            </a>
          </div>
        </li>
        <li>
          <div class="item-category">
            <a href="javascript:;" class="links">
              <div class="name-category texts">財務・税金</div>
              <div class="number-search texts"> (54)</div>
            </a>
          </div>
        </li>
        <li>
          <div class="item-category">
            <a href="javascript:;" class="links">
              <div class="name-category texts"> 社会保険</div>
              <div class="number-search texts"> (55)</div>
            </a>
          </div>
        </li>
        <li>
          <div class="item-category">
            <a href="javascript:;" class="links">
              <div class="name-category texts">福利厚生</div>
              <div class="number-search texts"> (60)</div>
            </a>
          </div>
        </li>
        <li>
          <div class="item-category">
            <a href="javascript:;" class="links">
              <div class="name-category texts">海外送金</div>
              <div class="number-search texts"> (44)</div>
            </a>
          </div>
        </li>
      </ul>

    </section>
  </div>
</template>

<script>
	export default {
		name: "SearchByCategories"
	}
</script>

<style scoped>

</style>
