<template>
  <div class="container">
    <div class="header-add">
      <div class="title">{{ $t('AddAndEditMember') }}</div>
    </div>
    <div class="add-form">
      <el-form :model="member">
        <el-input type="email"
          prop="email"
          class="col-6"
          v-model="member.email"
          :placeholder="$t('email')"
          required/>
        <el-select v-model="member.role_id"
          class="col-4 input-search">
          <el-option v-for="(s, index) in ruleMember"
            :disabled="s.role_id === 1"
            v-bind:key="`rule--${index}`"
            :label="s.title"
            :value="s.id" />
        </el-select>
        <el-button type="button"
          class="btn btn-success"
          :loading="loading"
          @click="addMember">{{ $t('save') }}</el-button>
      </el-form>
    </div>
    <div class="members">
      <table class="table">
        <thead>
          <th>{{ $t('id') }}</th>
          <th>{{ $t('name') }}</th>
          <th>{{ $t('role') }}</th>
          <th>{{ $t('Action') }}</th>
        </thead>
        <tbody>
          <tr v-if="members.length"
            v-for="(m, index) in members"
            v-bind:key="`members--${index}`">
            <td>{{ index + 1 }}</td>
            <td>
              <div class="img">
                <img :src="m.avatar">
              </div>
              <div class="infor">
                <span class="fullname">{{ m.first_name }} {{ m.last_name }}</span>
                <span class="title">{{ m.title }}</span>
              </div>
            </td>
            <td>
              <el-select v-model="m.role_id"
                @change="changeRuleMember(m.member_id, m.role_id)"
                class="input-search">
                <el-option v-for="(s, index) in ruleMember"
                  v-bind:key="`rule--${index}`"
                  :label="s.title"
                  :value="s.id"
                  :disabled="s.id === 1"/>
              </el-select>
            </td>
            <td>
              <span class="delete" v-if="m.role_id !== 1" @click="deleteMember(m.member_id)">{{ $t('delete') }}</span>
            </td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>
</template>

<script>
  import { getMembers, addNewMember, changeRoleMember, deleteMember } from '~/services/member';
  import { mapState, mapGetters } from 'vuex';
  import eventBus from '~/services/bus';

  export default {
    name: 'AddNewMember',
    data() {
      return {
        loading: false,
        ruleMember: [
          {id: 1, title: this.$t('owner')},
          {id: 2, title: this.$t('admin')},
          {id: 3, title: this.$t('basic')},
        ],
        rules: {
          email: [
            {
              type: 'email',
              required: true,
              message: this.$t('emailInvalid'),
              trigger: "blur"
            },
          ]
        },
        member: {
          email: '',
          role_id: 2,
          company_id: 0,
        },
        company_id: 0,
        members: {},
        user_id: 0,
        role_id: 0,
      }
    },
    computed: {
      ...mapGetters({
        company: 'getCompany',
        userId: 'getUserId',
      }),
      ...mapState({
        user: state => state.auth.authUser.user,
      }),
      isAdmin() {
        return this.user.owner_company.company_id === this.company.company_id;
      }
    },
    mounted() {
      this.setDefault();
      this.getMember();
    },
    methods: {
      setDefault() {
        const company = this.$store.getters.getCompany;
        this.company_id = company.company_id;
        this.member = {
          email: '',
          role_id: 2,
          company_id: this.company_id,
        }
      },
      addMember() {
        this.loading = true;
        addNewMember(this.member)
            .then((res) => {
              this.loading = false;
              if (res.success) {
                // this.$success(res.message);
                this.$emit('close')
              }
            })
            .catch(err => {
              this.loading = false;
              this.$error(err.message)
            })
      },
      async getMember() {
        const res = await getMembers({company_id: this.company_id});
        if (res.success) {
          this.members = res.data;
        }
      },
      async deleteMember(id) {
        if (!this.checkAdmin()) return;
        this.user_id = id;
        const res = await deleteMember(this.getParams());
        const type = res.success ? 'success' : 'error';
        this.showNotification('', res.message, type);
        eventBus.$emit('removeMember', id);
      },
      async changeRuleMember(id, role_id) {
        if (!this.checkAdmin()) return;
        this.user_id = id;
        this.role_id = role_id;
        const res = await changeRoleMember(this.getParams());
        const type = res.success ? 'success' : 'error';
        this.showNotification('', res.message, type);
      },
      checkAdmin() {
        if (!this.isAdmin) {
          this.showNotification('', 'YoudonotHavePermissionForAction', 'warning');
          return false;
        }
        return true;
      },
      getParams() {
        return {
          company_id: this.company.company_id,
          member_id: this.user_id,
          role_id: this.role_id,
          user_change: this.userId
        };
      }
    },
    beforeDestroy() {
      this.member.email = '';
    }
  }
</script>

<style scoped>
  .header-add {
    background: #D2D2D2;
    padding: 20px;
    border-radius: 5px;
    margin-bottom: 25px;
  }
  .header-add .title {
    font-size: 18px;
    font-weight: 500;
  }
  .add-form > form {
    display: flex;
  }
  .members {
    border-top: 1px solid #d2d2d2;
    margin-top: 40px;
  }
  .img,
  .infor {
    display: inline-block;
  }
  .infor {
    margin-left: 5px;
  }
  .img {
    height: 40px;
    width: 40px;
    border-radius: 50%;
  }
  .img > img {
    width: 100%;
    height: auto;
  }
  .delete {
    cursor: pointer;
  }
</style>
