<template>
  <div class="han b-20-7 b-20-9" v-loading="loading">
    <div class="body-b-20-7" v-if="objData">
      <div class="row-modal row-modal-url">
        <div class="modal-box-left">
          <div class="modal-wrapp-icon">
            <div class="icon">
              <img src="~assets/images/icon/link.png" alt="">
            </div>
            <div class="t-text">URL</div>
          </div>
        </div>
        <div class="modal-box-right">
          <input type="text" v-model="objData.url" :placeholder="$t('placeholderNotUpdatedContent')">
        </div>
      </div>
      <div class="row-modal row-modal-Country ">
        <div class="modal-box-left">
          <div class="modal-wrapp-icon">
            <div class="icon">
              <img src="~assets/images/icon/flag.png" alt="">
            </div>
            <div class="t-text">
              {{ $t('nations_info') }}
            </div>
          </div>
        </div>
        <div class="modal-box-right">
          <el-select v-model="objData.nation_id" :placeholder="$t('Select')">
            <el-option v-for="(v, k) in nationResource" :key="k" :value="v.id" :label="v.name"></el-option>
          </el-select>
        </div>
      </div>
      <div class="row-modal row-modal-City">
        <div class="modal-box-left">
          <div class="modal-wrapp-icon">
            <div class="icon">
              <img src="~assets/images/icon/location-point.png" alt="">
            </div>
            <div class="t-text" >
              {{ $t('address') }}
            </div>
          </div>
        </div>
        <div class="modal-box-right">
          <input type="text" v-model="objData.address1" :placeholder="$t('placeholderNotUpdatedContent')">
        </div>
      </div>
      <div class="row-modal row-modal-Address">
        <div class="modal-box-left">
          <div class="modal-wrapp-icon">
            <div class="icon">
              <img src="~assets/images/icon/location-point.png" alt="">
            </div>
            <div class="t-text">{{ $t('BuildingAddress') }}</div>
          </div>
        </div>
        <div class="modal-box-right">
          <input type="text" v-model="objData.address2" :placeholder="$t('placeholderNotUpdatedContent')">
        </div>
      </div>
      <div class="row-modal modal-birthday-wrapp">
        <div class="modal-box-left">
          <div class="modal-wrapp-icon">
            <div class="icon">
              <img src="~assets/images/icon/flag.png" alt="">
            </div>
            <div class="t-text">{{ $t('EstablishmentDate') }}</div>
          </div>
        </div>
        <div class="modal-box-right">
          <div class="box-year-wrapp box-datetime">
            <div class="box-year wrap-quantity">
              <input type="number" class="input-text quantity"
                :min="1900"
                :max="currentYear()"
                v-model="founded_on.year"
                :placeholder="$t('year')">
            </div>
            <div class="t-text">
              {{$t('year')}}
            </div>
          </div>
          <div class="box-Month-wrapp box-datetime">
            <div class="box-month wrap-quantity">
              <input type="number" class="input-text  quantity"
                min="1" max="12"
                v-model="founded_on.month"
                :placeholder="$t('month')">
            </div>
            <div class="t-text">
              {{$t('month')}}
            </div>
          </div>
        </div>
      </div>
      <div class="row-modal row-modal-founder">
        <div class="modal-box-left">
          <div class="modal-wrapp-icon">
            <div class="icon">
              <img src="~assets/images/icon/person.png" alt="">
            </div>
            <div class="t-text">{{ $t('Founder') }}</div>
          </div>
        </div>
        <div class="modal-box-right">
          <div class="modal-founder-wrapp">
            <input type="text" v-model="objData.founder" :placeholder="$t('placeholderNotUpdatedContent')">
          </div>
        </div>
      </div>
      <div class="row-modal row-modal-Number-of-people">
        <div class="modal-box-left">
          <div class="modal-wrapp-icon">
            <div class="icon">
              <img src="~assets/images/icon/member.png" alt="">
            </div>
            <div class="t-text">{{ $t('headCount') }}</div>
          </div>
        </div>
        <div class="modal-box-right">
          <div class="modal-Number-of-people-wrapp">
            <input type="text" v-model="objData.head_count" :placeholder="$t('placeholderNotUpdatedContent')">
          </div>
        </div>
      </div>
    </div>
    <div class="footer-modal foter-modal-b-20-9">
      <div class="btn-modal">
        <a href="javascript:;" class="btn-button btn-no" @click="$emit('close')">{{ $t('Close') }}</a>
      </div>
      <div class="btn-modal active">
        <a href="javascript:;" class="btn-button btn-yes" :loading="btnLoading" @click="save">{{ $t('Update') }}</a>
      </div>

      <!-- <el-button type="primary" :loading="btnLoading" @click="save">{{ $t('Update') }}</el-button> -->
    </div>
  </div>
</template>

<script>
  const regexJapanCharacter = /[a-zA-Z]|[\u3400-\u9FBF]|[\u3000-\u303F]|[\u3040-\u309F]|[\u30A0-\u30FF]|[\uFF00-\uFFEF]|[\u4E00-\u9FAF]|[\u2605-\u2606]|[\u2190-\u2195]|\u203B/;

  import {mapGetters, mapActions} from 'vuex'
  import eventBus from "~/services/bus";

  export default {
    name: 'BaseProfileClient',
    data() {
      return {
        objData: null,
        btnLoading: false,
        loading: false,
        founded_on: {
          year: '',
          month: ''
        },
        params: {
          company_id: 0,
        },
        errors: [],
      }
    },
    watch: {
      // 'founded_on.year'(value) {
      //   if (value < 1900) return this.founded_on.year = 1900
      //   else if (value > this.currentYear()) return this.founded_on.year = this.currentYear()
      //   return this.founded_on.year = value;
      // },
      // 'founded_on.month'(value) {
      //   if (value < 1) return this.founded_on.month = 1
      //   else if (value > 12) return this.founded_on.month = 12
      //   return this.founded_on.month = value;
      // }
    },
    computed: {
      ...mapGetters({
        company: 'getCompany',
        nationResource: 'resource/nationResource',
      })
    },
    methods: {
      ...mapActions({
        getDetailClientBasic: 'members/profile/client/detailClientBasic',
        saveClientBasic: 'members/profile/client/saveClientBasic',
      }),
      checkForm: function (e) {
        this.errors = [];
        if (this.objData.head_count < 0) {
          this.errors.push(this.$t('numberInvalidHead'));
          this.showNotification(this.$t('warning'), this.$t('numberInvalidHead'), 'warning')
        }

        if (this.founded_on.year == this.currentYear()) {
          let d = new Date();
          if (this.founded_on.month >= d.getMonth()) {
            this.errors.push(this.$t('establishmentDateInvalid'));
            this.showNotification(this.$t('warning'), this.$t('establishmentDateInvalid'), 'warning')
          }
        }
      },
      validCharate: function (e) {
        return regexJapanCharacter.test(e);
      },
      getDetail() {
        this.loading = true;
        this.params.company_id = this.$route.params.id || this.company.company_id;
        this.getDetailClientBasic(this.params)
          .then(res => {
            this.objData = res.data
            if (!this.objData.founded_on) return;
            [this.founded_on.month, this.founded_on.year] = this.objData.founded_on.split('/');
          })
          .catch(err => {
            this.showNotification(this.$t('Error'), err.message, 'error');
          })
          .finally(() => {
            this.loading = false;
          })
        console.log(this.objData)
      },
      getDataChanged() {
        let obj = {
          url: this.objData.url,
          address1: this.objData.address1,
          address2: this.objData.address2,
          nation: this.objData.nation_id
        };
        if (this.objData.nation_id) {
          let nation = this.nationResource.find(n => this.objData.nation_id === n.id);
          if (nation) {
            obj.nation_name = nation.name;
            obj.nation_icon = nation.icon;
          }
        }
        return obj;
      },
      save() {
        if (!this.validCharate(this.objData.address1)) {
          this.showNotification(this.$t('warning'), this.$t('InvalidAddressCharater'), 'warning')
        } else if (!this.validCharate(this.objData.address2)) {
          this.showNotification(this.$t('warning'), this.$t('InvalidAddressCharater'), 'warning')
        } else if (!this.validCharate(this.objData.founder)) {
          this.showNotification(this.$t('warning'), this.$t('InvalidFounderCharater'), 'warning')
        } else {
          this.checkForm();
          if (!this.errors.length) {
            this.btnLoading = true
            this.objData.founded_on = this.founded_on.month + '/' + this.founded_on.year
            this.saveClientBasic(this.objData)
              .then(res => {
                if (res.success) {
                  eventBus.$emit('onUpdateProfile', this.getDataChanged());
                  
                  // this.showNotification(this.$t('Success'), this.$t('EditInformationSuccess'), 'success');
                  this.$emit('close');
                }
              })
              .catch(err => {
                this.showNotification(this.$t('Error'), err.message, 'error');
              })
              .finally(() => {
                this.btnLoading = false;
              })
          }
        }
      }
    },
    mounted() {
      this.getDetail();
    }
  }
</script>

<style scoped>
  .list-error {
    list-style: inside;
    color: red;
    padding-top: 20px;
  }

  .required:after {
    content: "*";
    color: #f56c6c;
    margin-right: 4px;
  }
</style>

