<template>
    <div class="group-item-aside group-item-big mb-4" v-if="objData">
        <el-collapse v-model="activeCollapse">
            <el-collapse-item title="必須項目" name="1">
                <div class="group-item-aside group-item-big mb-4">
                    <div class="panle-body-content">
                        <div class="group">
                            <div class="row">
                                <div class="col-md-3 col-12">
                                    <div class="title-form text-md-right text-left active">
                                        {{$t('Email')}}
                                    </div>
                                </div>
                                <div class="col-md-9 col-12">
                                    <el-input placeholder="trenby1@gmail.com" v-model="objData.company.email"/>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-md-3 col-12">
                                    <div class="title-form"></div>
                                </div>
                                <div class="col-md-9 col-12">
                                    <label class="text-label mt-2 mb-0 font-12 color-grey">
                                        メールアドレスが他のSPOTECHのユーザーに共有されることはありません。
                                    </label>
                                </div>
                            </div>
                        </div>

                        <div class="group">
                            <div class="row">
                                <div class="col-md-3 col-12">
                                    <div class="title-form text-md-right text-left active">
                                        {{$t('PhoneNumber')}}
                                    </div>
                                </div>
                                <div class="col-md-9 col-12">
                                    <label v-if="objData.phones.length == 0"
                                           class="text-label font-14 color-black mt-2 mb-0">電話番号がまだ登録されていません。</label>
                                    <div v-else v-for="(v, k) in objData.phones" :key="k"
                                         class="d-flex justify-content-start">
                                        <div>{{v.nation_code + v.phone}}</div>
                                        <button class="ml-3" @click="deletePhone(v)"><i class="mdi mdi-close"></i>
                                        </button>
                                    </div>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-md-3 col-12">
                                    <div class="title-form"></div>
                                </div>
                                <div class="col-md-9 col-12">
                                    <label class="text-label font-12 color-grey mt-2 mb-0">こちらはクライアント、エキスパート、SPOTECHからの連絡用電話番号です。協
                                        業時の連絡先、リマインダー、その他の通知の宛先に使用されます。。</label>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-md-3 col-12">
                                    <div class="title-form"></div>
                                </div>
                                <div class="col-md-9 col-12">
                                    <a href="javascript:;" @click="dialogRegisterPhone = true"
                                       class="text-link mt-2 d-block font-14">電話番号を登録</a>
                                </div>
                            </div>
                        </div>

                        <div class="group">
                            <div class="row">
                                <div class="col-md-3 col-12">
                                    <div class="title-form text-md-right text-left">
                                        {{$t('PreferredLanguage')}}
                                    </div>
                                </div>
                                <div class="col-md-9 col-12">
                                    <el-select v-model="objData.preferredLanguage">
                                        <el-option :value="v.id" :key="v.id" v-for="v in lang"
                                                   :label="v.name"></el-option>
                                    </el-select>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-md-3 col-12">
                                    <div class="title-form"></div>
                                </div>
                                <div class="col-md-9 col-12">
                                    <label class="text-label mt-2 mb-0 font-12 color-grey">受け取るメッセージの標準言語です。</label>
                                </div>
                            </div>
                        </div>
                        <div class="group">
                            <div class="row">
                                <div class="col-md-3 col-12">
                                    <div class="title-form text-md-right text-left">ミッション</div>
                                </div>
                                <div class="col-md-9 col-12">
                                    <el-input placeholder="スポットタイムで海外IT人材を繋ぐAIマッチング" v-model="objData.company.title"/>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-md-3 col-12">
                                    <div class="title-form"></div>
                                </div>
                                <div class="col-md-9 col-12">
                                    <label class="text-label mt-2 mb-0 font-12 color-grey"></label>
                                </div>
                            </div>
                        </div>
                        <div class="group">
                            <div class="row">
                                <div class="col-md-3 col-12">
                                    <div class="title-form text-md-right text-left"> 自己紹介</div>
                                </div>
                                <div class="col-md-9 col-12">
                                    <el-input type="textarea" placeholder="SPOTECHとはスポットＸテックの略称であり、日本で2030年には78.9万人不足す
                                    るIT人材課題を解決する為、スキルの 高い海外IT人材をスポット単位で遠隔（リモート）で採用できる日本
                                    初のグローバルプラットフォームです。リーチ可能なエンジニアやデザイナー等はグローバルで1万人以上、
                                    新しい働き方を自ら実践する組織です。海外IT人材を採用するに当たって課題となる「言語の壁」「マネジメ
                                    ント」「文化の壁」を最新の人工知能など最新技術を利用して解決します。"
                                              v-model="objData.company.sapo" autosize></el-input>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-md-3 col-12">
                                    <div class="title-form"></div>
                                </div>
                                <div class="col-md-9 col-12">
                                    <label class="text-label font-12 color-black mt-2 mb-0"> </label>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </el-collapse-item>
            <el-collapse-item title="ポートフォリオ" name="2">
                <div class="group-item-aside group-item-big mb-4">
                    <div class="panle-body-content">
                        <div class="portfoliosCompany" v-for="(v, k) in objData.portfoliosCompany" :key="k">
                            <div class="d-flex justify-content-end" v-if="k > 0">
                                <button class="text-right" @click="removePortfoliosCompany(k)"><i
                                    class="mdi mdi-close-box" style="font-size: 20px"></i></button>
                            </div>
                            <div class="group">
                                <div class="row">
                                    <div class="col-md-3 col-12">
                                        <div class="title-form text-md-right text-left">実績を登録</div>
                                    </div>
                                    <div class="col-md-9 col-12">
                                        <ImageUpload v-model="v.image"/>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col-md-3 col-12">
                                        <div class="title-form"></div>
                                    </div>
                                    <div class="col-md-9 col-12">
                                        <label class="text-label mt-2 mb-0 "></label>
                                    </div>
                                </div>
                            </div>

                            <div class="group">
                                <div class="row">
                                    <div class="col-md-3 col-12">
                                        <div class="title-form text-md-right text-left">作品タイトル</div>
                                    </div>
                                    <div class="col-md-9 col-12">
                                        <el-input v-model="v.title" placeholder="Webサイト、アプリ、製品やサービス名義"/>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col-md-3 col-12">
                                        <div class="title-form"></div>
                                    </div>
                                    <div class="col-md-9 col-12">
                                        <label class="text-label mt-2 mb-0"></label>
                                    </div>
                                </div>
                            </div>

                            <div class="group">
                                <div class="row">
                                    <div class="col-md-3 col-12">
                                        <div class="title-form text-md-right text-left">貢献したこと</div>
                                    </div>
                                    <div class="col-md-9 col-12">
                                        <el-input v-model="v.sapo" type="textarea" autosize
                                                  placeholder="例：スポーツ関連のiOSアプリデザインを責任者として担当しました。
                                                  ダイナミックさ溢れるUIデザインを作るために、躍動感あるデザインを心がけて製作しておりました。"></el-input>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col-md-3 col-12">
                                        <div class="title-form"></div>
                                    </div>
                                    <div class="col-md-9 col-12">
                                        <label class="text-label mt-2 mb-0"></label>
                                    </div>
                                </div>
                            </div>
                        </div>

                        <div class="group">
                            <div class="row">
                                <div class="col-md-3 col-12">
                                    <div class="title-form text-md-right text-left"></div>
                                </div>
                                <div class="col-md-9 col-12">
                                    <a href="javascript:;" title="" class="add-file color-black"
                                       @click="pushPortfoliosCompany">
                                <span class="icon mr-3">
                                    <img src="~assets/images/icon/action-1.png" alt="">
                                </span>
                                        <span class="texts font-12 ">ポートフォリオを追加</span>
                                    </a>
                                </div>
                            </div>

                        </div>

                    </div>
                </div>
            </el-collapse-item>
            <el-collapse-item title="メンバー" name="3">
                <div class="group-item-aside group-item-big mb-4">
                    <div class="panle-body-content">
                        <div class="group-member">
                            <div class="list-member">
                                <div class="d-flex wp-list-member"
                                     style="justify-content: space-evenly">
                                    <div class="item text-center padding-x-15 mb-sm-0 mb-2"
                                         v-for="(v, k) in objData.membersByCompany" :key="k">
                                        <div class="img-thumb mb-2">
                                            <a href="javascript:;" class="image d-block">
                                                <img :src="v.avatar" alt="" class="img-fluid img-circle">
                                            </a>
                                        </div>
                                        <div class="info text-center">
                                            <div class="title-member font-14  mb-1">
                                                <a href="javacript:;" class="d-block color-black text-underline">{{v.role_name}}</a>
                                            </div>
                                            <div class="name-member font-14 mb-1">{{v.first_name + v.last_name}}
                                            </div>
                                            <div class="position-member color-grey font-12 mb-1">
                                                {{v.title || ''}}
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="btn-edit text-center">
                                <a href="javascript:;" title=""
                                   class="d-block color-grey font-14  margin-top-40">メンバーの追加と編集</a>
                            </div>
                        </div>
                    </div>
                </div>
            </el-collapse-item>
        </el-collapse>
        <el-button type="primary" @click="save">{{$t('Save')}}</el-button>
        <el-dialog class="dialog30" :title="smsCheck ? $t('VerifyPhone') : $t('RegisterPhoneNumber')" :visible.sync="dialogRegisterPhone"
                   width="30%" @close="dialogRegisterPhone = false">
            <transition-group name="fade">
                <div key="1" v-if="!smsCheck">
                    <div class="form-group">
                        <div>SPOTECHからの通知はこの電話番号に届きます</div>
                    </div>
                    <div class="form-group">
                        <el-select size="medium" class="d-block" v-model="objDataPhone.nation_code" @focus="focus"
                                   :loading="loadingNationCode">
                            <el-option v-for="(v, k) in nation" :key="k" :value="v.code" :label="v.name"></el-option>
                        </el-select>
                    </div>
                    <div class="form-group">
                        <el-input size="medium" v-model.number="objDataPhone.phone">
                            <template slot="prepend">{{objDataPhone.nation_code || '+00'}}</template>
                        </el-input>
                    </div>
                    <div class="form-group">
                        <el-button type="primary" @click="smsAuthenticate" :loading="btnLoading == 'smsAuthen'">
                            SMSで認証する
                        </el-button>
                        <el-button type="success">音声通話で認証する</el-button>
                    </div>
                </div>
                <div key="2" v-else>
                    <div class="form-group">
                        <label>{{$t('Code')}}</label>
                        <input type="text" class="form-control" v-model="objDataPhone.code">
                    </div>
                    <div class="form-group">
                        <el-button type="primary" @click="send" :loading="btnLoading == 'sendCode'">{{$t('Send')}}
                        </el-button>
                    </div>
                </div>
            </transition-group>
        </el-dialog>
    </div>
</template>

<script>
    import {mapGetters, mapActions} from 'vuex'

    export default {
        layout: 'custome',
        data() {
            return {
                activeCollapse: ['1', '2', '3'],
                loading: false,
                btnLoading: '',
                dialogRegisterPhone: false,
                loadingNationCode: false,
                smsCheck: false,
                objData: {
                    company: {
                        email: '',
                        title: '',
                        sapo: '',
                    },
                    phones: [],
                    membersByCompany: [
                        {
                            member_id: 0,
                            title: null,
                            sapo: null,
                            avatar: '',
                            role_id: 1
                        }
                    ],
                    portfoliosCompany: []
                },
                objDataPhone: {
                    code: '',
                    phone: '',
                    nation_code: ''
                },
                lang: [],
                nation: [],
            }
        },
        components: {
            LeftSide: () => import('~/components/profile/LeftSide'),
            ImageUpload: () => import("~/components/share/ImageUpload"),
        },
        methods: {
            ...mapActions({
                getLanguage: 'resource/language/searchClient',
                detailClient: 'members/profile/client/detailClient',
                saveClient: 'members/profile/client/saveClient',
                getListNation: 'resource/nation/searchResource',
                verifyPhone: 'members/phone/sendCodeVerifyPhone',
                sendCode: 'members/phone/verifyPhone',
                deletePhoneNumber: 'members/phone/removePhone',
            }),
            pushPortfoliosCompany() {
                this.objData.portfoliosCompany.push({
                    image: '',
                    title: '',
                    sapo: ''
                })
            },
            removePortfoliosCompany(index) {
                this.objData.portfoliosCompany.splice(index, 1);
            },
            save() {
                this.objData.portfoliosCompany.map(i => {
                    if (!i.img) return;
                    return i.image = i.img;
                });
                this.saveClient(this.objData)
                    .then(res => {
                        this.$notify.success({
                            title: this.$t('Success'),
                            message: res.message
                        })
                    })
                    .catch(err => {
                        this.$notify.error({
                            title: this.$t('Error'),
                            message: err.message
                        })
                    })
            },
            getData() {
                this.getLanguage()
                    .then(res => {
                        this.lang = res.data
                    })
                this.detailClient().then(res => {
                    this.objData = res.data
                    if (this.objData.portfoliosCompany.length == 0) this.pushPortfoliosCompany();
                }).catch(err => {
                    this.$notify.error({
                        title: this.$t('Error'),
                        message: err.message
                    })
                })
            },
            focus() {
                if (this.nation.length > 0) return;
                this.loadingNationCode = true;
                this.getListNation()
                    .then(res => {
                        this.nation = res.data
                    })
                this.loadingNationCode = false;
            },
            smsAuthenticate() {
                this.btnLoading = 'smsAuthen';
                this.verifyPhone(this.objDataPhone)
                    .then(res => {
                        this.smsCheck = true;
                        this.$notify.success({
                            title: this.$t('Success'),
                            message: this.$t('PleaseCheckPhone')
                        })
                    })
                    .catch(err => {
                        console.log('err', err)
                        this.$notify.error({
                            title: this.$t('Error'),
                            message: err.message
                        })
                    })
                    .finally(() => {
                        this.btnLoading = '';
                    })
            },
            send() {
                this.btnLoading = 'sendCode';
                this.sendCode(this.objDataPhone)
                    .then(res => {
                        console.log('res', res)
                        this.$notify.success({
                            title: this.,
                            message: this.$t('VerifyPhoneSuccess')
                        })
                        this.getData();
                        this.dialogRegisterPhone = false;
                    })
                    .catch(err => {
                        console.log('err', err)
                        this.$notify.error({
                            title: this.$t('Error'),
                            message: err.message
                        })
                    })
                    .finally(() => {
                        this.btnLoading = '';
                    })
            },
            deletePhone(obj) {
                this.$confirm('This will permanently delete the phone number. Continue?', 'Warning', {
                    type: 'warning'
                }).then(() => {
                    this.deletePhoneNumber(obj)
                        .then(() => {
                            this.$notify.success({
                                title: 'Success',
                                message: 'Delete completed'
                            })
                            this.getData();
                        })
                        .catch(err => {
                            this.$notify.error({
                                title: this.$t('Error'),
                                message: err.message
                            })
                        })
                })
            }
        },
        mounted() {
            this.getData();
        }
    }
</script>

<style scoped>
    .portfoliosCompany + .portfoliosCompany {
        border-top: 1px solid #d2d2d2;
        padding-top: 30px;
    }
</style>
