<template>
  <div>
    <div class="margin-bottom-60">
      <div class="title font-30 font-weight-500 text-white margin-bottom-39">{{ $t('webListMember') }}（{{ members.length }}）</div>
      <div class="group-member b-204">
        <div class="list-member">
          <div class="row">
            <div class="col-lg-3 col-md-6 col-12 mb-md-0 mb-4"
              v-if="members"
              v-for="(m, index) in members"
              v-bind:key="`bind-${index}`">
              <div class="item text-center">
                <div class="img-thumb margin-bottom-40">
                  <nuxt-link class="d-block active image"
                    :to="localePath({name: 'expert-p-id', params: {id: m.member_id}})"
                    :class="{'star': parseInt(m.role) !== 3 }">
                    <img :src="m.avatar" alt="" class="img-fluid btn-circle">
                  </nuxt-link>
                </div>
                <div class="info text-center">
                  <div class="name-member font-19 font-weight-500 mb-3 text-white ">
                    {{ m.first_name }} {{ m.last_name }}
                  </div>
                  <div class="position-member font-16 mb-3 color-grey">{{ m.title }}</div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <a href="javascript:;"
      class="text-link d-block mb-2 font-16 margin-bottom-38"
      v-if="!isShow"
      @click="loadmore">
      <span class="texts mr-4" v-if="!checkLoadMore()">{{ $t('ExpertPortfoliosLoadMore') }}</span>
      <span class="texts mr-4" v-else>{{ $t('ExpertPortfoliosLoad') }}</span>
      <span class="icon font-16">
        <i class="fas fa-chevron-down"
          v-bind:class="{ 'fa-chevron-up': checkLoadMore(), 'fa-chevron-down': !checkLoadMore() }"></i>
      </span>
    </a>
  </div>
</template>

<script>
  export default {
    name: 'ClientMember',
    props: {
      members: {
        type: Array,
        default: [],
      }
    },
    data() {
      return {
        clientMember: [],
        isShow: true,
        base: 4,
      };
    },
    methods: {
      loadmore() {
        if (this.checkLoadMore()) {
          this.setDefault();
          return;
        }
        const index = this.clientMember.length;
        this.clientMember = this.clientMember.concat(this.members(index, this.base + index));
      },
      checkLoadMore() {
        return this.clientMember.length === this.members.length;
      },
      setDefault() {
        if (!this.members.length) return;
        this.clientMember = [];
        this.clientMember = this.members.slice(0, this.base);
      },
    },
    created() {
      this.setDefault();
      this.isShow = this.members.length <= this.base;
    }
  }
</script>
