<template>
  <div class=" group-item-aside group-item-big mb-4">
    <div class="header d-flex justify-content-between align-items-center">
      <div class="title">{{ $t('webListMember') }}</div>
    </div>
    <div class="panle-body-content">
      <div class="group-member">
        <div class="list-member">
          <div class="d-flex wp-list-member">
            <div class="item text-center padding-x-15 mb-sm-0 mb-2"
              v-if="members.length"
              v-for="(m, index) in members"
              v-bind:key="`member--${index}`">
              <div class="img-thumb mb-2">
                <nuxt-link class="image d-block" :to="localePath({name: 'expert-p-id', params: { id:m.member_id } })" >
                  <img :src="m.avatar" alt="" class="img-fluid img-circle">
                </nuxt-link>
              </div>
              <div class="info text-center">
                <div class="title-member font-14  mb-1">
                  <a href="javacript:;" title="" class="d-block color-black text-underline">{{ m.rule_name }}</a>
                </div>
                <div class="name-member font-14 mb-1">{{ m.first_name }} {{ m.last_name }}</div>
                <div class="position-member color-grey font-12 mb-1">{{ m.title }}</div>
              </div>
            </div>
          </div>
        </div>
        <div class="btn-edit text-center">
          <a href="javascript:;" @click="showDialogAddMember"
            class="d-block color-grey font-14  margin-top-40">{{ $t('AddAndEditMembers') }}</a>
        </div>
      </div>
    </div>
    <el-dialog :visible.sync="dialogAdd" width="50%">
      <add-new-member @close="dialogAdd = false"/>
    </el-dialog>
  </div>
</template>

<script>
  export default {
    name: 'Members',
    props: ['members'],
    data() {
      return {
        dialogAdd: false,
      }
    },
    components: {
      AddNewMember: () => import('~/components/profile/client/addNewMember'),
    },
    methods: {
      showDialogAddMember() {
        this.dialogAdd = true;
      },
    }
  }
</script>
