<template>
  <div>
    <div class="group-Portfolio margin-bottom-60">
      <div class="title font-30 font-weight-500 text-white margin-bottom-39">{{ $t('Portfolio') }}（{{ data.length }}）</div>
      <div class="row"
        v-if="portfolios"
        v-for="(p, index) in portfolios"
        v-bind:key="`pro--${index}`">
        <div class="col-md-4 col-12 mb-md-0 mb-3">
          <div class="img-thumb">
            <a href="javascript:;" title="" class="image d-block">
              <img :src="p.image" alt="" class="img-fluid border-radius-5 img-cover">
            </a>
          </div>
        </div>
        <div class="col-md-8 col-12 mb-md-0 mb-3">
          <div class="intro-1 font-20 font-weight-500 margin-bottom-25 text-white">
            {{ p.title }}
          </div>
          <div class="intro-2 font-20 font-weight-500 text-white">
            {{ p.sapo }}
          </div>
        </div>
      </div>
    </div>
    <a href="javascript:;"
      class="text-link d-block mb-2 font-16 margin-bottom-38"
      v-if="!isShow"
      @click="loadmore">
      <span class="texts mr-4" v-if="!checkLoadMore()">{{ $t('ExpertPortfoliosLoadMore') }}</span>
      <span class="texts mr-4" v-else>{{ $t('ExpertPortfoliosLoad') }}</span>
      <span class="icon font-16">
        <i class="fas fa-chevron-down"
          v-bind:class="{ 'fa-chevron-up': checkLoadMore(), 'fa-chevron-down': !checkLoadMore() }"></i>
      </span>
    </a>
  </div>
</template>

<script>
  export default {
    name: 'Portfolios',
    props: ['data'],
    data() {
      return {
        portfolios: [],
        base: 1,
        isShow: false,
      };
    },
    methods: {
      loadmore() {
        if (this.checkLoadMore()) {
          this.setDefault();
          return;
        }
        const index = this.portfolios.length;
        this.portfolios = this.portfolios.concat(this.data.slice(index, this.base + index));
      },
      checkLoadMore() {
        return this.portfolios.length === this.data.length;
      },
      setDefault() {
        if (!this.data.length) return;
        this.portfolios = [];
        this.portfolios = this.data.slice(0, this.base);
      },
    },
    created() {
      this.setDefault();
      this.isShow = this.data.length <= this.base;
    }
  }
</script>

<style>
  .row {
    margin-top: 15px;
  }
</style>
