<template>
  <div class=" group-item-aside group-item-big mb-4">
    <div class="header">
      <div class="title">{{$t('portfolio')}}</div>
    </div>
    <div class="panle-body-content">
      <div v-if="data"
           v-for="(v, k) in data"
           :key="`portfolios-${k}`">
        <div class="group">
          <div class="row">
            <div class="col-md-3 col-12">
              <div class="title-form text-md-right text-left">{{$t('RegisterAchievements')}}</div>
            </div>
            <div class="col-md-9 col-12">
              <ImageUpload v-model="v.image"/>
            </div>
          </div>
          <div class="row">
            <div class="col-md-3 col-12">
              <div class="title-form"></div>
            </div>
            <div class="col-md-9 col-12">
              <label class="text-label mt-2 mb-0"></label>
            </div>
          </div>
        </div>
        <div class="group">
          <div class="row">
            <div class="col-md-3 col-12">
              <div class="title-form text-md-right text-left">{{$t('TitleOfWork')}}</div>
            </div>
            <div class="col-md-9 col-12">
              <el-input type="text" v-model="v.title" :placeholder="$t('placeholderTitleOfWork')"></el-input>
            </div>
          </div>
          <div class="row">
            <div class="col-md-3 col-12">
              <div class="title-form"></div>
            </div>
            <div class="col-md-9 col-12">
              <label class="text-label mt-2 mb-0"></label>
            </div>
          </div>
        </div>
        <div class="group">
          <div class="row">
            <div class="col-md-3 col-12">
              <div class="title-form text-md-right text-left">{{$t('Contributed')}}</div>
            </div>
            <div class="col-md-9 col-12">
              <el-input type="textarea" v-model="v[titleField]" autosize :placeholder="$t('placeholderContributed')"></el-input>
            </div>
          </div>
          <div class="row">
            <div class="col-md-3 col-12">
              <div class="title-form"></div>
            </div>
            <div class="col-md-9 col-12">
              <label class="text-label mt-2 mb-0"></label>
            </div>
          </div>
        </div>
        <div class="rules"></div>
      </div>
      <div class="group">
        <div class="row">
          <div class="col-md-3 col-12">
            <div class="title-form text-md-right text-left"></div>
          </div>
          <div class="col-md-9 col-12">
            <el-popover placement="bottom" width="600" trigger="manual" v-model="visible" class="not-require">
              <el-form :model="obj" :rules="rules" ref="ruleForm" v-if="visible">
                <div class="p-3">
                  <div class="form-group">
                    <el-form-item :label="$t('RegisterAchievements')" prop="image">
                      <ImageUpload v-model="obj.image"/>
                    </el-form-item>
                  </div>
                  <div class="form-group">
                    <el-form-item :label="$t('TitleOfWork')" prop="title">
                      <el-input type="text" v-model="obj.title" @focus="clearValidate('title')" :placeholder="$t('placeholderTitleOfWork')"></el-input>
                    </el-form-item>
                  </div>
                  <div class="form-group">
                    <el-form-item :label="$t('Contributed')" prop="sapo">
                      <el-input type="text" v-model="obj.sapo" @focus="clearValidate('sapo')" :placeholder="$t('placeholderContributed')"></el-input>
                    </el-form-item>
                  </div>
                  <div class="form-group">
                    <el-button size="small" type="primary" @click="handleAddPortfolio">{{$t('Save')}}</el-button>
                    <el-button size="small" type="danger" @click="closePopover">{{$t('Close')}}</el-button>
                  </div>
                </div>
              </el-form>
              <a href="javascript:;" class="add-file color-grey" slot="reference" @click.stop="openPopover">
                <span class="icon mr-3">
                    <img src="~/assets/images/icon/action-1.png" alt="">
                </span>
                <span class="texts font-12 ">{{$t('AddPortfolio')}}</span>
              </a>
            </el-popover>

          </div>
        </div>
      </div>
    </div>
  </div>
</template>
<script>
  const regexJapanCharacter = /[a-zA-Z]|[\u3400-\u9FBF]|[\u3000-\u303F]|[\u3040-\u309F]|[\u30A0-\u30FF]|[\uFF00-\uFFEF]|[\u4E00-\u9FAF]|[\u2605-\u2606]|[\u2190-\u2195]|\u203B/;
  import {mapState} from 'vuex'
  import {on, off} from 'element-ui/src/utils/dom';

  export default {
    props: ['value', 'titleField'],
    components: {
      ImageUpload: () => import("~/components/share/ImageUpload"),
    },
    data() {
      return {
        data: [],
        obj: {
          image: null,
          title: '',
          sapo: ''
        },
        visible: false,
        rules: {
          image: [
            {required: true, message: this.$t('ImageRegisterAchievementsIsRequired'), trigger: 'blur'},
          ],
          title: [
            {required: true, message: this.$t('TitleProjectIsRequired'), trigger: 'blur'},
            {pattern: regexJapanCharacter , message: this.$t('pleaseInputTitleProject'), trigger: 'blur'}
          ],
          sapo: [
            {required: true, message: this.$t('ContributedIsRequired'), trigger: 'blur'},
            {pattern: regexJapanCharacter , message: this.$t('pleaseInputContributed'), trigger: 'blur'}
          ],
        }
      }
    },
    computed: {
      ...mapState({
        config_storage_domain: states => states.auth.authUser.user.config_storage_domain,
      })
    },
    methods: {
      closePopover() {
        this.visible = false
      },
      openPopover() {
        this.visible = true
      },
      clearValidate(type) {
        return this.$refs['ruleForm'].clearValidate(type);
      },
      handleAddPortfolio() {
        this.$refs['ruleForm'].validate(valid => {
          console.log(valid, '>>>>>vlidate')
          if (!valid) return;
          this.data.push(this.obj);
          this.visible = false
          this.obj = {
            image: null,
            title: '',
            content: ''
          }
        })
      },
    },
    mounted() {
      this.data = this.value;
      on(document, 'click', this.closePopover)
    },
    destroyed() {
      off(document, 'click', this.closePopover)
    }
  }
</script>
<style>

</style>

