<template>
  <div class=" group-item-aside group-item-big mb-4">
    <div class="header">
      <div class="title">{{$t('required_items')}}</div>
    </div>
    <div class="panle-body-content">
      <div class="group">
        <div class="row">
          <div class="col-md-3 col-12">
            <div class="title-form text-md-right text-left active">{{$t('email_address')}}</div>
          </div>
          <div class="col-md-9 col-12">
            <el-input v-if="!item.verify.hasOwnProperty('email')" v-model="item.company.email"
              placeholder="trenby1@gmail.com" @focus="dialog_verified_email = true"
              :readonly="true"/>
            <el-input v-else v-model="item.company.email"
              @focus="dialog_verified_email = true"
              placeholder="trenby1@gmail.com"
              :readonly="true"/>
          </div>
        </div>
        <div class="row">
          <div class="col-md-3 col-12">
            <div class="title-form"></div>
          </div>
          <div class="col-md-9 col-12">
            <label class="text-label font-12 color-grey mt-2 mb-0">{{$t('emailAddressNotShared')}}</label>
          </div>
        </div>
        <div class="row">
          <div class="col-md-3 col-12">
            <div class="title-form"></div>
          </div>
          <div class="col-md-9 col-12">
            <label class="text-label font-12 color-red mt-2 mb-0">{{$t('labelConfirmEmailAddress', {email: item.company.email})}}</label>
          </div>
        </div>
      </div>
      <div class="group">
        <div class="row">
          <div class="col-md-3 col-12">
            <div class="title-form text-md-right text-left active">{{$t('phone_number')}}</div>
          </div>
          <div class="col-md-9 col-12">
            <div class="texts font-14 font-weight-500" v-if="!item.phones.length">
              {{$t('phoneNumberNotRegistered')}}
            </div>
            <div class="texts font-14 font-weight-500" v-else>
              <ul>
                <li v-for="(i, key) in item.phones"
                  :key="`phone-${key}`">
                  {{i.nation_code+i.phone}}
                  <i @click="onRemovePhone(i.id, key)"
                    style="cursor: pointer; margin-left: 5px;"
                    class="mdi mdi-close" aria-hidden="true"></i>
                </li>
              </ul>
            </div>
          </div>
        </div>
        <div class="row">
          <div class="col-md-3 col-12">
            <div class="title-form"></div>
          </div>
          <div class="col-md-9 col-12">
            <label class="text-label font-12 color-grey mt-2 mb-0">{{$t('labelPhoneNumberForExpert')}}</label>
          </div>
        </div>
        <div class="row">
          <div class="col-md-3 col-12">
            <div class="title-form"></div>
          </div>
          <div class="col-md-9 col-12">
            <a href="javascript:;"
              class="text-link mt-2 d-block font-14"
              style="color: #2C96EC "
              @click="dialog = true">{{$t('registerPhoneNumber')}}</a>
          </div>
        </div>
      </div>
      <div class="group">
        <div class="row">
          <div class="col-md-3 col-12">
            <div class="title-form text-md-right text-left"> {{$t('preferred_language')}}</div>
          </div>
          <div class="col-md-9 col-12">
            <div class="row">
              <div class="col-sm-7 col-12">
                <el-select v-model="item.company.language_code">
                  <el-option
                    v-for="(i, key) in languages"
                    :key="`lang-${key}`"
                    :value="i.code"
                    :label="i.name"></el-option>
                </el-select>
              </div>
            </div>
          </div>
        </div>
        <div class="row">
          <div class="col-md-3 col-12">
            <div class="title-form"></div>
          </div>
          <div class="col-md-9 col-12">
            <label class="text-label font-12 color-grey mt-2 mb-0">
              {{$t('standard_language_for_incoming_messages')}}
            </label>
          </div>
        </div>

      </div>
      <div class="group">
        <div class="row">
          <div class="col-md-3 col-12">
            <div class="title-form text-md-right text-left"> {{ $t('ComanyTitle') }}</div>
          </div>
          <div class="col-md-9 col-12">
            <el-input type="text" v-model="item.company.title" />
          </div>
        </div>
      </div>
      <div class="group">
        <div class="row">
          <div class="col-md-3 col-12">
            <div class="title-form text-md-right text-left"> {{$t('self_introduction')}}</div>
          </div>
          <div class="col-md-9 col-12">
            <el-input type="textarea" v-model="item.company.sapo" autosize :placeholder="$t('AboutYourself_Placeholder')">
            </el-input>
          </div>
        </div>
        <div class="row">
          <div class="col-md-3 col-12">
            <div class="title-form"></div>
          </div>
          <div class="col-md-9 col-12">
            <label class="text-label font-12 color-grey mt-2 mb-0"> </label>
          </div>
        </div>
      </div>
    </div>
    <el-dialog class="custom_modal_ha" v-if="dialog" :visible.sync="dialog" :show-close="false">
      <VerifyPhone @closed="onClosedVerifyPhone"/>
    </el-dialog>
    <el-dialog v-if="dialog_verified_email" class="modal_verified_email" :visible.sync="dialog_verified_email" :show-close="true">
      <div v-if="!item.verify.hasOwnProperty('email')">{{$t("NotifiEmailNotVerified")}}</div>
      <div v-else>{{$t("NotifiEmailVerified")}}</div>
    </el-dialog>
  </div>
</template>
<script>
  import {mapGetters, mapActions} from 'vuex'

  export default {
    name: 'ClientRquiredItem',
    data() {
      return {
        dialog: false,
        code_nations: '',
        phones: '',
        langs: '',
        lang: '',
        dialog_verified_email: false
      }
    },
    props: ['item'],
    components: {
      VerifyPhone: () => import('~/components/profile/expert/VerifyPhone'),
    },
    computed: {
      ...mapGetters({
        languages: 'resource/languageClient'
      })
    },
    methods: {
      ...mapActions({
        searchResource: 'resource/language/searchResource',
        removePhone: 'members/phone/removePhone',
      }),
      onRemovePhone(id, index) {
        this.$confirm(this.$t('ThisWillPermanentlyDeleteThePhoneNumber'), 'Warning', {
          type: 'warning'
        }).then(() => {
          this.removePhone({id: id})
            .then(() => {
              this.item.phones.splice(index, 1);
            })
            .catch(err => {
              this.$error(err.message)
            })
        })
      },
      onClosedVerifyPhone(value) {
        this.item.phones.push(value);
        this.dialog = false;
      }
    },
    mounted() {
      console.log(this.item)
    }
  }
</script>
<style scoped>
  @media (min-width: 576px) {
    .modal_verified_email .el-dialog{
      width: 556px !important;
      margin: 1.75rem auto;
    }
  }
  .modal_verified_email .el-dialog .el-dialog__header {
    padding: 0;
  }
  .el-dialog {
    width: auto;
    margin: .5rem;
  }
</style>
