<template>
  <div class="container">
    <div class="row">
      <div class="col-12">
        <div class="group-upper-header">
          <div class="group-info-avarta">
            <ThumbAvatar v-if="currentType" v-model="data.avatar" :id="currentType.company_id" :is-yourself="data.is_owner"/>
            <div class="info">
              <div class="d-flex align-items-center">
                <nuxt-link class="name padding-right-30" :to="localePath({name: 'project-client-id', params: { id: data.id ? data.id : id} })" >
                  <span @click="setType">{{ data.title }}</span>
                </nuxt-link>
                <div class="group-flag">
                  <img :src="nation" alt="">
                </div>
              </div>
              <div class="group-links-avatar">
                <div class="group-edit mr-3" v-if="data.is_owner && isAccessEdit()">
                  <a href="javascript:;" title="" class="item-edit" @click="showDialogEditBasicExpert">{{$t('edit')}} </a>
                </div>
                <div class="group-edit mr-3" v-else>
                  <a href="javascript:;" title=""
                    :disabled="disalow"
                    class="item-edit" @click="onFollowClient">
                    {{ !data.is_follow ? $t('Follow') : $t('Unfollow') }}
                  </a>
                </div>
                <div class="wp-link-web mr-3">
                  <el-tooltip  class="item" effect="light" :content="data.url" placement="bottom">
                    <a :href="data.url" title="" class="links-web" target="_blank">{{ data.url }}</a>
                  </el-tooltip>
                </div>
                <div class="address mr-3" v-if="address">
                  <div class="icon"><img src="~assets/images/icon/location-point.png" alt=""></div>
                  <el-tooltip  class="item" effect="light" :content="address" placement="bottom">
                    <el-button class="texts">{{ address }}</el-button>
                  </el-tooltip>
                </div>
              </div>
            </div>
          </div>
          <slot name="body"></slot>
        </div>
      </div>
    </div>
    <el-dialog class="dialog50 modal-basic-infomation" :visible.sync="dialogEditBasicExpert" >
      <BasicInformation @close="dialogEditBasicExpert = false"/>
    </el-dialog>
  </div>
</template>
<script>
  import { mapActions } from 'vuex'
  import eventBus from '~/services/bus';
  import _ from 'lodash'

  export default {
    props: {
      value: {
        type: Object
      }
    },
    components: {
      BasicInformation: () => import('~/components/profile/client/BasicInformation'),
      ThumbAvatar: () => import('../expert/TheHeaderExpert/ThumbAvatar'),
    },
    data() {
      return {
        data: this.value,
        dialogEditBasicExpert: false,
        currentType: null,
        id: null,
      }
    },
    computed: {
      address() {
        if (!this.data.address1 && !this.data.address2) return null;
        return `${this.data.address1} ${this.data.address2}`;
      },
      disalow() {
        if (this.data.is_owner === 1) return true;
        if (this.currentType && this.currentType.company_id) return true;
        return false;
      },
      nation() {
        return this.data.nation_icon ? this.data.nation_icon : this.data.icon;
      }
    },
    methods: {
      ...mapActions({
        followObject: 'members/follow/followObject'
      }),
      showDialogEditBasicExpert() {
        this.dialogEditBasicExpert = true;
      },
      onFollowClient() {
        this.data.is_follow = !this.data.is_follow;
        if (this.isOwner()) return;
        let obj = {
          object_id: this.data.id ? this.data.id :this.id,
          object_name: 'client',
          company_id: _.has(this.currentType, 'company_id') ? this.currentType.company_id : 0
        };
        this.followObject(obj)
          .then((res) => {
            // this.showNotification( this.$t('Success'),res.message,'success');
            })
          .catch(err => {
            // this.showNotification( this.$t('Error'), error.message, 'error')
          });
      },
      isAccessEdit() {
        return this.$route.path.split('/').length !== 5;
      },
      isOwner() {
        return _.has(this.currentType, 'company_id')
          && parseInt(this.id) === this.currentType.company_id;
      },
      setType() {
        eventBus.$emit('onsetTypeClient');
      }
    },
    beforeUpdate() {
      this.data = this.value
      this.id = this.$route.params.id
      this.currentType = this.$store.getters.getCompany || {};
      this.data.is_follow = this.isOwner() ? 0 : this.data.is_follow;
    },
    mounted(){
      this.id = this.$route.params.id
    }
  }
</script>
<style scoped>
  .group-links-avatar .el-button {
    border: 0;
    padding: 0;
    font-size: 20px;
    background: none;
    color: #fff;
    text-align: left;
  }
  .links-web{
    display: -webkit-box !important;
  }
</style>
