<template>
  <div class="container" v-if="data">
    <div class="title-head font-34 font-weight-500 text-white width-70 mb-3">
      {{ data.company.title }}
    </div>
    <div class="list-follow mb-hp">
      <div class="d-flex">
        <div class="item d-flex align-items-center mr-3">
          <div class="icon mr-2"><img src="~assets/images/icon/hammer.png" alt=""></div>
          <div class="number color-lightgrey font-14">{{ data.company.bid }}</div>
        </div>
        <div class="item d-flex align-items-center mr-3">
          <div class="icon mr-2"><i class="far fa-eye color-lightgrey font-14"></i></div>
          <div class="number color-lightgrey font-14">{{ data.company.hit }}</div>
        </div>
        <div class="item d-flex align-items-center mr-3">
          <div class="icon mr-2"><i class="far fa-heart color-lightgrey font-14"></i></div>
          <div class="number color-lightgrey font-14">{{ data.company.wishlist }}</div>
        </div>
      </div>
    </div>
    <div class="rule-grey margin-bottom-50"></div>
    <div class="head text-white margin-bottom-35">{{ $t('Overview') }}</div>
    <div class="title-head font-20 font-weight-500 text-white width-70 mb-3">
      <pre>{{ content }}</pre>
      <a href="javascript:;">{{$t('ContactClient')}}</a>
    </div>
    <div class="read-more mb-hp">
      <a
        href="javascript:;"
        title
        class="text-link d-block mb-2 font-16"
        @click="readmorecontent"
        v-if="data.company.sapo && (content.length < data.company.sapo.length)">
        <span class="texts mr-4">{{ $t('ExpertPortfoliosLoadMore') }}</span>
        <span class="icon font-16">
          <i class="fas fa-chevron-down color-green"></i>
        </span>
      </a>
      <a
        href="javascript:;"
        title
        class="text-link d-block mb-2 font-16"
        @click="collapseContent"
        v-if="data.company.sapo && (content.length == data.company.sapo.length) && content.length > 500">
        <span class="texts mr-4">{{ $t('ExpertPortfoliosLoad') }}</span>
        <span class="icon font-16">
          <i class="fas fa-chevron-up color-green"></i>
        </span>
      </a>
    </div>
    <nuxt-link v-if="allowShowContactLink" :to="localePath({name: 'ticket-id-client', params: { id: $route.params.id} })"
      title
      class="text-link d-block font-16">
      <span class="texts mr-4">{{ $t('Ticket') }}</span>
    </nuxt-link>
    <div class="rule-grey"></div>
    <verified v-if="data" :verified="data.verify" />
    <div class="rule-grey margin-bottom-57"></div>
    <portfolios :data="data.portfolios" />
    <div class="rule-grey margin-bottom-57"></div>
    <client-member v-if="data" :members="data.members" />
    <div class="rule-grey margin-bottom-57"></div>
    <div class="group-profile margin-bottom-145">
      <div class="head text-white margin-y-35 text-white">{{ $t('CompanyProfile') }}</div>
      <div class="list-profile">
          <div class="item d-flex margin-bottom-40">
            <div class="icon pr-4"><img src="~assets/images/icon/icon-profile-1.png" alt=""></div>
            <div class="intro text-white font-20 font-weight-500">
              {{ data.company.address1 }} {{ data.company.address2 }}
            </div>
          </div>
          <div class="item d-flex margin-bottom-40">
            <div class="icon pr-4"><img src="~assets/images/icon/icon-profile-2.png" alt=""></div>
            <div class="intro text-white font-20 font-weight-500">
              <a href="javascript:;" class="links d-block" style="color: #2C96EC;">
                {{ data.company.url }}
              </a>
            </div>
          </div>
          <div class="item d-flex margin-bottom-40">
            <div class="icon pr-4"><img src="~assets/images/icon/icon-profile-3.png" alt=""></div>
            <div class="intro text-white font-20 font-weight-500"> {{$t("FounderOn")}} {{ data.company.founded_on }}</div>
          </div>
          <div class="item d-flex margin-bottom-40">
            <div class="icon pr-4"><img src="~assets/images/icon/icon-profile-4.png" alt=""></div>
            <div class="intro text-white font-20 font-weight-500"> {{$t("FounderBy")}} {{ data.company.founder }}</div>
          </div>
          <div class="item d-flex margin-bottom-40">
            <div class="icon pr-4"><img src="~assets/images/icon/icon-profile-5.png" alt=""></div>
            <div class="intro text-white font-20 font-weight-500"> {{ data.company.head_count }} {{$t("webListMember")}}</div>
          </div>
      </div>
    </div>
  </div>
</template>

<script>
  import {mapGetters, mapActions} from 'vuex'
  import { getCompanyProfile } from '~/services/member';
  import _ from 'lodash';

  export default {
    name: 'CompanyProfileView',
    data() {
      return {
        data: null,
        params: {
          object_id: 0,
          type: 1,
          company_id: 0,
        },
        currentId: null,
        totalContent: 500,
      }
    },
    components: {
      Verified: () => import('~/components/share/verified'),
      ClientMember: () => import('~/components/profile/client/ClientMember'),
      Portfolios: () => import('~/components/profile/client/portfolios'),
    },
    computed: {
      ...mapGetters({
        meId: 'getUserId',
        company: 'getCompany'
      }),
      companyId() {
        return this.company ? this.company.company_id : null
      },
      allowShowContactLink() {
        return this.currentId
          && (this.currentId != this.meId)
          && ( this.companyId && this.companyId != this.currentId);
      },
      content() {
        if (!this.data || !this.data.company || !this.data.company.sapo) return "";
        return this.data.company.sapo.slice(0, this.totalContent);
      }
    },
    methods: {
      async getProfile() {
        try {
          const { data } = await getCompanyProfile(this.params);
          this.data = data;
        } catch (e) {
          this.$error(this.$t(e.message))
        }
      },
      setDefault() {
        const company = this.$store.getters.getCompany;
        this.params.company_id = _.has(company, 'company_id')
          ? company.company_id
          : 0;
        this.params.object_id = this.$route.params.id;
      },
      isProjectDetail() {
        return this.$route.path.indexOf('project') >= 0;
      },
      readmorecontent() {
        this.totalContent = this.data.company.sapo.length;
      },
      collapseContent() {
        this.totalContent = 500;
      },
    },
    mounted() {
      const cp = this.$store.getters.getCompany;
      let isShowPreview = false;
      if ( !_.isEmpty(cp) ) {
        if (_.has(cp, 'company_id') && !this.isProjectDetail()) {
          isShowPreview = cp.company_id === parseInt(this.$route.params.id);
        }
      }
      if(isShowPreview) {
        let e_header = document.getElementById("pc-header");
        e_header.classList.add("head-load");
        var att = document.createAttribute("data-content");
        att.value = this.$t("PreviewScreen");
        e_header.setAttributeNode(att);
      }
    },
    created() {
      try{
        this.currentId = parseInt(this.$route.params.id);
      }catch(e){}
      this.setDefault();
      this.getProfile();
    },
    beforeDestroy() {
      let e_header = document.getElementById("pc-header");
      e_header.classList.remove("head-load");
    }
  }
</script>

<style>
  .head-load::before {
    line-height: 101px;
    content: attr(data-content);
  }
  pre {
    color: #fff !important;
    font-size: 20px !important;
    white-space: pre-line;
    font-family: 'SourceSansPro',sans-serif !important;;
  }
</style>
