<template>
<el-form action="/charge" method="post" id="form-add" class="form" :model="item" :rules="rules" ref="form" v-loading="loading">
  <div class="row">
      <div class="col-sm-6 col-12 mb-3 pr-sm-1 pr-3">
          <div class="wp-item" prop="first_name">
              <div class="title font-16 font-weight-500 color-black mb-1">{{$t('first_name')}}</div>
              <input v-model="item.first_name" class="input-text input font-16 w-100" :placeholder="$t('first_name')" type="text">
          </div>
      </div>
      <div class="col-sm-6 col-12 mb-3 pl-sm-1 pl-3">
          <div class="wp-item" prop="last_name">
              <div class="title font-16 font-weight-500 color-black mb-1">{{ $t('last_name') }}</div>
              <input v-model="item.last_name" class="input-text input font-16 w-100" :placeholder="$t('last_name')" type="text">
          </div>
      </div>
  </div>
  <div class="row">
      <div class="col-12 mb-3 pr-sm-1 pr-3">
          <div class="wp-item" prop="email">
              <div class="title font-16 font-weight-500 color-black mb-1">{{ $t('Email') }}</div>
              <div class="mr-2">
                <input v-model="item.email" type="text" class="input-text input font-16 w-100" :placeholder="$t('Email')">
              </div>
          </div>
      </div>
  </div>
  <div class="row">
      <div class="col-12 mb-3 pr-sm-1 pr-3">
          <div class="wp-item">
              <div class="title font-16 font-weight-500 color-black mb-1">{{ $t('CardInformation') }}</div>
              <div class="mr-2">
                <div id="card-element" class="card-form"></div>
                <div id="card-errors" role="alert"></div>
              </div>
          </div>
      </div>
  </div>
  
  <div class="row">
      <div class="col-sm-6 col-12 mb-3 pr-sm-1 pr-3">
          <div class="wp-item" prop="address">
              <div class="title font-16 font-weight-500 color-black mb-1">{{ $t('billingAddress') }}</div>
              <input v-model="item.address" type="text" class="input-text input font-16 w-100" :placeholder="$t('billingAddress')">
          </div>
      </div>
      <div class="col-sm-6 col-12 mb-3 pl-sm-1 pl-3">
          <div class="wp-item" prop="country_id">
              <div class="title font-16 font-weight-500 color-black mb-1"> {{ $t('billingAddressCountry') }} </div>
              <select v-model="item.country_id" class="select-gender w-100 input-text input btn-down-black color-black font-16">
                <option value="0">{{ $t('SelectOne') }}</option>
                  <option v-for="(country,c) in countries" :key="`country-item-${c}`" :value="country.id">{{ country.name }}</option>
              </select>
          </div>
      </div>
  </div>
              
  <div class="row mt-5">
    <div class="col-12 mb-3 pr-sm-1 pr-3 modal-footer">
      <button type="button" class="btn btn-modal-b21" @click="close">{{ $t('btnCancel') }}</button>
      <button class="btn btn-modal-b21 active" @click="addCard">{{ $t('addCard') }}</button>
    </div>
  </div>
</el-form>    
</template>

<script>
  import {getIntent, addPaymentMethod} from '~/services/Payment';
  import _ from 'lodash';
  import eventBus from '~/services/bus';
  import config from '~/config';

  export default {
    name: 'AddCardStripe',
    data() {
      return {
        key: '',
        stripe: '',
        card: '',
        cardName: '',
        
        loading: false,
        item: {
          email: '',
          address: '',
          country_id: 0,
          
          first_name: '',
          last_name: '',
        }
      }
    },
    computed: {
      companyId() {
        return _.has(this.$store.getters.getCompany, 'company_id')
          ? this.$store.getters.getCompany.company_id
          : 0;
      },
     
      countries() {
        return this.$store.state.resource.nationResource
      },
      rules() {
        let r = {
          email: [
            {required: true, message: this.$t('pleaseInputEmail'), trigger: 'blur'},
            {type: 'email', message: this.$t('emailInvalid'), trigger: ['blur', 'change']}
          ],
          first_name: [
            {required: true, message: this.$t('pleaseInputFirstName'), trigger: 'blur'},
          ],
          last_name: [
            {required: true, message: this.$t('pleaseInputLastName'), trigger: 'blur'},
          ],
          address: [
            {required: true, message: this.$t('pleaseSelectAddress'), trigger: 'change'},
          ],
          country_id: [
            {required: true, message: this.$t('pleaseSelectCountry'), trigger: 'change'},
          ]
        }
        return r;
      }
    },
    methods: {
      async getSecret() {
        const {data} = await getIntent();
        this.key = data;
      },
      async addCard($event) {
        $event.preventDefault();
        this.$refs['form'].validate((valid) => {
          
          if (!valid) { return; }
          
          this.addCardDetail();
        });
        
      },
      async addCardDetail() {
        this.loading = true;
        this.stripe.confirmCardSetup(
          this.key.client_secret,
          {
            payment_method: {
              card: this.card,
              billing_details: {
                name: [this.item.first_name, this.item.last_name].join(' '),
                email: this.item.email,
                //address: this.item.address
              }
            }
          }
        ).then( (res) => {
          const setupIntent = res.setupIntent || null;
          if (setupIntent && setupIntent.status === 'succeeded') {
            this.payment_method = setupIntent.payment_method;
            this.addPaymentMethod();
          }
          else {
            this.showNotification(this.$t('Error'), this.$t(res.error.code), 'error');
          }
        })
        .catch( (err) => {
          
            this.showNotification(this.$t('Error'), err.code, 'error');
        })
        .finally( () => {
          this.loading = false;
        })
      },
      getParams() {
        return {
          email: this.item.email,
          payment_method: this.payment_method,
          company_id: this.companyId,
          first_name: this.item.first_name,
          last_name: this.item.last_name,
          address: this.item.address,
          country_id: this.item.country_id,
          name: [this.item.first_name, this.item.last_name].join(' '),
        };
      },
      async addPaymentMethod() {
        const response = await addPaymentMethod(this.getParams());
        const type = response.success ? 'success' : 'error';
        this.showNotification('', response.message, type);
        this.loading = false;
        eventBus.$emit('onCloseAddDialog');
        eventBus.$emit('onAddCardCloseAddDialog');
      },
      createCard() {
        const stripe = Stripe(config.stripe.key);
        //const stripe = Stripe('pk_test_CY5liuFKL3XWiIk5usXVi4DP');
        this.stripe = stripe;
        const elements = stripe.elements();
        const style = {
          base: {
            color: '#303238',
            fontSize: '16px',
            fontFamily: '"Open Sans", sans-serif',
            fontSmoothing: 'antialiased',
            '::placeholder': {
              color: '#CFD7DF',
            },
          },
          invalid: {
            color: '#e5424d',
            ':focus': {
              color: '#303238',
            },
          },
        };
        this.card = elements.create('card', {style: style});
        this.card.mount('#card-element');
      },
      clearData() {
        this.item.email = '';
        this.item.first_name = '';
        this.item.last_name = '';
        this.item.country_id = 0;
        this.item.address = '';
        this.card = '';
        this.cardName = '',
        this.key = '';
      },
      close() {
        this.$emit('close');
      }
    },
    beforeDestroy() {
      this.clearData();
    },
    mounted() {
      this.createCard();
      this.getSecret();
    }
  }
</script>

<style scoped>
  .form {
    width: 100%;
    background: #fff;
  }
  .StripeElement {
    box-sizing: border-box;

    height: 40px;

    padding: 10px 12px;

    border: 1px solid transparent;
    border-radius: 4px;
    background-color: white;

    box-shadow: 0 1px 3px 0 #e6ebf1;
    -webkit-transition: box-shadow 150ms ease;
    transition: box-shadow 150ms ease;
  }

  .StripeElement--focus {
    box-shadow: 0 1px 3px 0 #cfd7df;
  }

  .StripeElement--invalid {
    border-color: #fa755a;
  }

  .StripeElement--webkit-autofill {
    background-color: #fefde5 !important;
  }
</style>
