<template>
  <el-form action="/charge" method="post"
    id="form-add" class="form"
    v-loading="loading">
    <div class="row-add-form">
      <label for="card-element">
        {{ $t('Creditordebitcard') }}
      </label>
      <div class="form-group">
        <label for="email">{{ $t('Email') }}</label>
        <input v-model="email" id="email" class="form-control" :placeholder="$t('email')" type="email">
      </div>
      <div class="form-group">
        <label for="cardName">{{ $t('CardName') }}</label>
        <input v-model="cardName" id="cardName" class="form-control" :placeholder="$t('cardName')" type="text">
      </div>
      <div class="form-group" id="card-element">
      </div>
      <div id="card-errors" role="alert"></div>
    </div>
    <button class="d-block bg-green font-14 input-text input btn-input" @click="addCard">{{ $t('addCard') }}</button>
  </el-form>
</template>

<script>
  import {getIntent, addPaymentMethod} from '~/services/Payment';
  import _ from 'lodash';
  import eventBus from '~/services/bus';
  import config from '~/config';

  export default {
    name: 'AddCardStripe',
    data() {
      return {
        key: '',
        stripe: '',
        card: '',
        cardName: '',
        email: '',
        loading: false
      }
    },
    computed: {
      companyId() {
        return _.has(this.$store.getters.getCompany, 'company_id')
          ? this.$store.getters.getCompany.company_id
          : 0;
      }
    },
    methods: {
      async getSecret() {
        const {data} = await getIntent();
        this.key = data;
      },
      async addCard($event) {
        $event.preventDefault();
        this.loading = true;
        const {setupIntent} = await this.stripe.confirmCardSetup(
          this.key.client_secret,
          {
            payment_method: {
              card: this.card,
              billing_details: {
                name: this.cardName,
                email: this.email
              }
            }
          }
        );
        if (setupIntent.status === 'succeeded') {
          this.payment_method = setupIntent.payment_method;
          this.addPaymentMethod();
        }
      },
      getParams() {
        return {
          email: this.email,
          payment_method: this.payment_method,
          company_id: this.companyId
        };
      },
      async addPaymentMethod() {
        const response = await addPaymentMethod(this.getParams());
        const type = response.success ? 'success' : 'error';
        this.showNotification('', response.message, type);
        this.loading = false;
        eventBus.$emit('onCloseAddDialog');
      },
      createCard() {
        const stripe = Stripe(config.strip.key);
        //const stripe = Stripe('pk_test_CY5liuFKL3XWiIk5usXVi4DP');
        this.stripe = stripe;
        const elements = stripe.elements();
        const style = {
          base: {
            color: '#303238',
            fontSize: '16px',
            fontFamily: '"Open Sans", sans-serif',
            fontSmoothing: 'antialiased',
            '::placeholder': {
              color: '#CFD7DF',
            },
          },
          invalid: {
            color: '#e5424d',
            ':focus': {
              color: '#303238',
            },
          },
        };
        this.card = elements.create('card', {style: style});
        this.card.mount('#card-element');
      },
      clearData() {
        this.email = '';
        this.card = '';
        this.cardName = '',
        this.key = '';
      }
    },
    beforeDestroy() {
      this.clearData();
    },
    mounted() {
      this.createCard();
      this.getSecret();
    }
  }
</script>

<style scoped>
  .form {
    width: 100%;
    background: #fff;
  }
  .StripeElement {
    box-sizing: border-box;

    height: 40px;

    padding: 10px 12px;

    border: 1px solid transparent;
    border-radius: 4px;
    background-color: white;

    box-shadow: 0 1px 3px 0 #e6ebf1;
    -webkit-transition: box-shadow 150ms ease;
    transition: box-shadow 150ms ease;
  }

  .StripeElement--focus {
    box-shadow: 0 1px 3px 0 #cfd7df;
  }

  .StripeElement--invalid {
    border-color: #fa755a;
  }

  .StripeElement--webkit-autofill {
    background-color: #fefde5 !important;
  }
</style>
