<template>
<modal v-if="isShowModalIndex > 0" @close="onShowModal(0)" class="modal-spotech">
  <template slot="body">
    <SignUp
      v-if="isShowModalIndex == 1"
      @onShowSignup="onShowModal(2)"
      @onShowModal="onShowModal"
      @closeModal="onShowModal(0)"
    />
    <SignUpInfo
      class="modal-body"
      v-if="isShowModalIndex == 2"
      @onShowModal="onShowModal"
      @closeModal="onShowModal(0)"
    />
    <Login
      v-if="isShowModalIndex == 3"
      @onShowModal="onShowModal"
      @closeModal="onShowModal($event)"
    />
    <ForGotPassword
      v-if="isShowModalIndex == 5"
      @onShowModal="onShowModal"
      @closeModal="onShowModal($event)"
    />
    <ShareBox v-if="isShowModalIndex == 6" />
    <HeartFolder
      v-if="isShowModalIndex == 7"
      :object_id="favorite.object_id"
      :type="favorite.type"
      :objData="objData"
      @onShowNewFolder="onShowModal(12)"
      @onShowModal="onShowModal"
      @closeModal="onShowModal(0)"
    />
    <NewWishListFolder
      v-if="isShowModalIndex == 12"
      @onShowListWishListFolder="onShowModal(7)"
      @onShowModal="onShowModal"
      @closeModal="onShowModal($event)"
    />
  </template>
</modal>
</template>

<script>
    //import { mapActions, mapGetters } from 'vuex';
    import eventBus from "~/services/bus";
    export default {
        name: "AppModal",
        props: {
            objData: {
                type: Object
            }
        },
        components:{
            HeartFolder: () => import("~/components/share/HeartWishList"),
            NewWishListFolder: () => import("~/components/share/FormNewWishListFolder"),
            Login: () => import("~/components/popup/Login"),
            SignUp: () => import("~/components/popup/Signup"),
            SignUpInfo: () => import("~/components/popup/SignupInfo"),
            ForGotPassword: () => import("~/components/popup/ForgotPassword"),
            ShareBox: () => import("~/components/share/ShareBox"),
            Modal: () => import("~/components/share/Modal"),
        },
        data() {
            return {
                isShowModalIndex: 0,
                favorite: {
                  object_id: 0,
                  type: 1
                }
            }
        },
        created() {
          let me = this;

          eventBus.$on("onRegister", e => {
            me.isShowModalIndex = 1;
          });
          eventBus.$on("onRegisterInfo", e => {
            me.isShowModalIndex = 2;
          });
          eventBus.$on("onLogin", e => {
            me.isShowModalIndex = 3;
          });
          eventBus.$on("onForgotPassword", e => {
            me.isShowModalIndex = 5;
          });
          eventBus.$on("onShare", e => {
            me.isShowModalIndex = 6;
          });
          eventBus.$on("onFavoriteModal", e => {
            this.favorite.object_id = e.object_id;
            this.favorite.type = e.type;
            this.isShowModalIndex = 7;
          });
          eventBus.$on("onAddFavorite", e => {
            me.isShowModalIndex = 12;
          });
          eventBus.$on("onCloseModal", e => {
            me.isShowModalIndex = 0;
          });
        },

        methods:{
            onShowModal(index) {
              this.isShowModalIndex = index;
            }
        }
    }
</script>
