<template>
<div class="d---avatar avatar w-100 h-100">
    <span class="w-100 h-100 d-block" v-for="(img, i) in list" :key="`list-img--${i}`">
        <el-avatar class="w-100 h-100" :src="img" alt=""></el-avatar>
    </span>
</div>
</template>
<script>
export default {
    name: 'AppAvatar',

    props: {
        list: {
            type: Array,
            default: []
        }
    }
}
</script>
<style scoped>
.avatar{
    float: left;
    border-radius: 50%;
    overflow: hidden;
}

</style>
<style>
.d---avatar  .el-avatar img{
    width: 100%;
}
</style>