<template>
  <div class="ta-project">
    <div class="container">
      <div class="row" v-if="isOwner()">
        <div class="col-lg-12 col-md-12 col-sm-12 col-12">
          <div class="add-project justify-content-center mb-5">
            <div class="font-30 font-weight-500 align-self-center d-flex">
              <nuxt-link :to="localePath({name: 'blog-add'})">
                <img src="~assets/images/icon/plus-ta.png" class="mr-5 align-self-center" >
                <span>{{ $t('PostaStory') }}</span>
              </nuxt-link>
            </div>
          </div>
        </div>
      </div>
      <div class="list-article ">
        <div class="row">
          <div class="col-lg-12 col-md-12 col-sm-12 col-12">
            <div class="heading font-30">{{$t('FeaturedPosts')}}</div>
          </div>
          <div v-for="(item, key) in listPostFeature"
            :key="key"
            class="col-lg-4 col-md-4 col-sm-4 col-12">
            <div class="item-article">
              <div class="image mb-3">
                <nuxt-link :to="localePath({name: 'blog-detail-id', params: { id: item.post_id }})">
                  <img :src="item.post_image" alt="" class="" />
                </nuxt-link>
              </div>
              <div class="title font-18 font-weight-500">
                <el-tooltip  class="item" effect="light" :content="item.post_title" placement="bottom">
                  <nuxt-link class="title" :to="localePath({name: 'blog-detail-id', params: { id: item.post_id }})">
                    {{ item.post_title }}
                  </nuxt-link>
                </el-tooltip>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="row margin-bottom-100">
        <div v-for="(itemnew, keynew) in listPostNew"
          :key="keynew"
          class="col-lg-6 col-md-6 col-sm-6 col-12">
            <div class="item-project ">
              <div class="heading d-flex">
                <div class="avatar  align-self-center mr-4">
                  <img src="~assets/images/icon/Spotech_01.png" alt="" class="" />
                </div>
                <div class="info align-self-center">
                  <div class="font-weight-500 font-14 ">
                    株式会社SPOTECH
                  </div>
                  <div class="font-weight-400 color-lightgrey font-12">
                    約1ヶ月前
                  </div>
                </div>
              </div>
              <div class="image">
                <a href="" title="">
                  <img :src="itemnew.post_image" alt="">
                </a>
                <div class="tag font-16 font-weight-500 color-lightgrey ">
                  日本・エンジニア
                </div>
                <div class="title font-20 font-weight-500 ">
                  <a href="" title="">{{ itemnew.post_title }}</a>
                </div>
                <div class="content font-14 mb-0">
                  {{ itemnew.post_sapo }}
                </div>
                <div class="time font-12 text-right color-lightgrey">
                  <img src="~assets/images/icon/history.png" class="mr-3" /> {{ itemnew.created_at | formatDate }}
                </div>
                <div class="heart">
                  <i class="far fa-heart"></i>
                </div>
              </div>
            </div>
        </div>
      </div>
    </div>
  </div>
</template>

<script>
  import {mapActions} from 'vuex'
  import _ from 'lodash'

  export default {
    layout: 'custom',
    props: ['isClient'],
    data() {
      return {
        id: null,
        listPostFeature: [],
        listPostNew: [],
        obj: {
          sort: 'viewed',
          order: 'DESC',
          pageIndex: 1,
          pageSize: 3,
          member_id: 0,
          company_id: 0,
        }
      }
    },
    filters: {
      formatDate(value) {
        const date = new Date(value),
          month = date.getMonth() > 9 ? date.getMonth() : `0${date.getMonth()}`,
          day = date.getDate() > 9 ? date.getDate() : `0${date.getDate()}`;
        return `${date.getFullYear()}-${month}-${day}`;
      },
    },
    created() {
      this.id = this.$route.params.id
    },
    methods: {
      ...mapActions({
        getListBlogPost: 'blog/blogPost/getListBlogPost',
      }),
      async getListPostFeature() {
        this.obj.sort = 'hit';
        const res = await this.getListBlogPost(this.obj);
        this.listPostFeature = res.data;
        this.obj.sort = 'created_at';
        const response = await this.getListBlogPost(this.obj);
        this.listPostNew = response.data;
      },
      setObject() {
        const id =  this.$route.params.id;
        if (this.isClient) {
          this.obj.company_id = id;
        }else{
          this.obj.member_id = id;
        }
      },
      isOwner() {
        let id = parseInt(this.$route.params.id),
          isOwner = id === this.$store.getters.getUserId,
          currentUser = this.$store.getters.getCompany;
        if (_.has(currentUser, 'company_id')) {
          isOwner = currentUser.company_id === id;
        }
        return isOwner;
      }
    },
    mounted() {
      this.setObject();
      this.getListPostFeature();
    }
  }
</script>

<style scoped>
  .add-project a {color: #fff;}
  .ta-project .item-project .title, .ta-project .item-article .title{
    width: 100% !important;
  }
</style>
