<template>
  <div class="image-card">
    <i class="fas fa-times-circle c---cursor c---item-remove" @click="onRemove"></i>
    <div class="card-number">{{ numberCard }}</div>
    <div class="card-expired">
      <label>Good Thru</label>
      <span>{{ expired }}</span>
    </div>
    <div class="card-name">{{ name }}</div>
  </div>
</template>

<script>
  export default {
    name: 'Card',
    props: ['card'],
    computed: {
      numberCard() {
        return `**** **** **** ${this.NoCard}`;
      },
      name() {
        return this.card && this.card.billing_details && this.card.billing_details.name ? this.card.billing_details.name : ''
      },
      NoCard() {
        return this.card && this.card.card && this.card.card.last4 ? this.card.card.last4 : '****';
      },
      expired() {
        return this.card && this.card.card && this.card.card.exp_month &&  this.card.card.exp_year ? ( [this.card.card.exp_month,'/', this.card.card.exp_year].join('')) : '**/**';
      }
    },
    methods:{
      onRemove() {
        this.$emit('onRemove', this.card)
      }
    }
  }
</script>

<style scoped>
.c---item-remove {
    height: 20px;
    position: absolute;
    right: 14px;
    top: 10px;
    width: 20px;
    opacity: 0;
    visibility: hidden;
    color: #c1c1c1;
}
.image-card:hover .c---item-remove {
    opacity: 1;
    visibility: visible;
}
.c---cursor{
  cursor: pointer;
}
  .image-card {
    background-image: url('../../assets/images/card.png');
    background-repeat: no-repeat;
    height: 157px;
    background-size: 100%;
    border-radius: 7px;
  }
  .card {
    position: relative;
    width: 325px;
    height: 200px;
    cursor: pointer;
  }
  .card-name {
    position: absolute;
    bottom: 6%;
    left: 8%;
    font-size: 18px;
    text-transform: uppercase;
    color: #fff;
  }
  .card-expired {
    position: absolute;
    left: 45%;
    bottom: 20%;
    color: #fff;
  }
  .card-expired label {
    font-size: 8px;
    max-width: 30px;
    display: inline-block;
    letter-spacing: 1px;
    text-transform: uppercase;
  }
  .card-expired span {
    display: inline-block;
    vertical-align: top;
    letter-spacing: 2px;
    font-size: 16px;
  }
  .card-number {
    position: absolute;
    left: 8%;
    bottom: 34%;
    color: #fff;
    font-size: 30px;
    letter-spacing: 2px;
  }
</style>
