<template>
  <el-image lazy :src="src" fit="cover" class="img-fluid img-cover" alt="spotech">
    <div slot="placeholder" class="image-slot">
      <Spin fix/>
    </div>
    <div slot="error" class="slot-image-error">
      <div><i class="el-icon-picture-outline"></i></div>
      <div class="font-12">{{$t('ImageNotFound')}}</div>
    </div>
  </el-image>
</template>

<script>
	export default {
		name: "ElImageLazy",
    props: ['src']
	}
</script>
