<template>
  <el-select filterable
    remote
    clearable
    reserve-keyword
    :remote-method="remoteMethod"
    @focus.once="getData"
    :value-key="code"
    :placeholder="placeholder"
    :loading="loading"
    v-model="data"
    v-if="list"
    @change="onchange">
    <el-option v-for="(v, k) in list" v-if="v[label]"
      :key="'remote' + v[label] + v[code]"
      :value="returnValue === 'Object' ? v : v[returnValue]"
      :label="v[label]"></el-option>
  </el-select>
</template>

<script>
  export default {
    props: {
      value: {
        type: Number | String | Object
      },
      defaultValue: {
        type: Number | String | Array | Object
      },
      method: {
        type: Function
      },
      keyword: {
        type: String,
        default: 'name'
      },
      code: {
        type: String,
        default: 'id'
      },
      label: {
        type: String,
        default: 'name'
      },
      placeholder: {
        type: String,
        default: ''
      },
      returnValue: {
        type: String,
        default: 'Object'
      }
    },
    data() {
      return {
        data: null,
        objData: {
            pageIndex: 1,
            pageSize: 10,
            status: 1
        },
        list: [],
        loading: false,
      }
    },
    methods: {
      getData() {
        this.loading = true;
        this.method(this.objData)
          .then(res => {
            this.list = res.data
          })
          .catch(err => {
            this.$error(err.message);
          })
          .finally(() => {
            this.loading = false;
          })
      },
      remoteMethod(query) {
        if (!query) return;
        clearTimeout(this.timeDelay);
        this.timeDelay = setTimeout(() => {
          this.objData[this.keyword] = query;
          this.getData(query);
        }, 500);
      },
      onchange(res) {
        return this.$emit('input', res);
      },
      reset() {
        this.data = null;
      }
    },
    mounted() {
      if (this.value) this.data = this.value
      if (this.defaultValue) {
        let data = {};
        data[this.code] = this.value;
        data[this.label] = this.defaultValue;
        this.list = [data];
      }
      this.objData[this.keyword] = '';
    }
  }
</script>
