<template>
    <el-select filterable remote clearable reserve-keyword multiple
               :remote-method="remoteMethod" @focus.once="getData" :value-key="valueKey"
               :placeholder="placeholder" :loading="loading" v-model="data" v-if="list" @change="onchange">
        <el-option v-for="(v, k) in list" :key="'remote_' + v[valueKey]  + v[label]" :value="v"
                   :label="v[label]"></el-option>
    </el-select>
</template>

<script>
    export default {
        props: {
            value: {
                type: Array | Object
            },
            method: {
                type: Function
            },
            valueKey: {
                type: String,
                default: 'id'
            },
            label: {
                type: String,
                default: 'name'
            },
            keyword: {
                type: String,
                default: 'name'
            },
            pageSize: {
                type: Number,
                default: 10
            },
            placeholder: {
                type: String,
                default: ''
            }
        },
        data() {
            return {
                data: '',
                thatKey: '',
                thatCode: '',
                thatLabel: '',
                objData: {
                    pageIndex: 1,
                    status: 1
                },
                list: [],
                loading: false,
            }
        },
        methods: {
            getData() {
                this.loading = true;
                this.method(this.objData)
                    .then(res => {
                        this.list = res.data
                    })
                    .catch(err => {
                        this.$error(err.message);
                    })
                    .finally(() => {
                        this.loading = false;
                    })
            },
            remoteMethod(query) {
                if (!query) return;
                clearTimeout(this.timeDelay);
                this.timeDelay = setTimeout(() => {
                    this.objData[this.keyword] = query;
                    this.getData(query);
                }, 500);
            },
            onchange(res) {
                return this.$emit('input', res);
            }
        },
        mounted() {
            if (this.value) {
                this.data = this.list = [...this.value];
            }
            this.objData[this.keyword] = '';
            this.objData.pageSize = this.pageSize;
        }
    }
</script>
