<template>
  <section name="modal">
    <div class="modal-body">
      <div class="title mb-hp">{{ modalTitle }}</div>
      <el-form :model="objSaveFolder" class="form-wishlist" :rules="rules" ref="wishlist">
        <div class="form-group">
            <label for="" class="label">{{ $t('Title') }}</label>
            <el-form-item prop="name">
              <el-input type="text"
                v-model="objSaveFolder.name"
                @focus="clearValidate('name')"
                :placeholder="$t('NameYourFavorites')">
              </el-input>
            </el-form-item>
        </div>
        <div class="form-group">
          <label for="" class="label">{{ $t('OpenBoxSetting')}}</label>
          <select v-model="objSaveFolder.is_publish" name="" class="select w-100">
            <option value="1" selected>{{ $t('AllUsers')}} </option>
            <option value="0">{{ $t('OnlyInvitees') }} </option>
          </select>
        </div>
      </el-form>
    </div>
    <div class="custom pb-4">
      <div class="row">
        <div class="col-sm-6 col-12 mb-sm-0 mb-3 text-center">
          <el-button :loading="loading" class="btn-links active" @click="onSaveWishListFolder">
            {{ $t('Save') }}
          </el-button>
        </div>
        <div class="col-sm-6 col-12 mb-sm-0 mb-3 text-center">
          <a href="javascript:;" title="" class="btn-links" @click="onListWishList"> {{ $t('btnCancel') }} </a>
        </div>
      </div>
      <div class="text-center" v-if="type == 'edit'">
        <a href="javascript:;" title="" class="btn btn-delete" @click="deleteFolder">
          {{$t('RemoveWishList')}}
        </a>
      </div>
    </div>
  </section>
</template>
<script>
const regexJapanCharacter = /[a-zA-Z]|[\u3400-\u9FBF]|[\u3000-\u303F]|[\u3040-\u309F]|[\u30A0-\u30FF]|[\uFF00-\uFFEF]|[\u4E00-\u9FAF]|[\u2605-\u2606]|[\u2190-\u2195]|\u203B/;

import { mapState, mapActions } from "vuex";
import {required} from "vuelidate/lib/validators";

export default {
  name:'FormNewWishListFolder',
  props: ['type', 'dataFolder'],
  data(){
    return {
      objSaveFolder: {
        name: null,
        is_publish: 1,
        folder_id: 0,
        company_id:0,
      },
      loading: false,
      disabled: false,
      timeout: null,
      rules: {
        name: [
          {required: true, message: this.$t('ValidateNameNewFolder'), trigger: "blur" },
          {pattern: regexJapanCharacter, message: this.$t('pleaseInputLowercaseNameWishList'), trigger: 'blur' }
        ], 
      },
    }
  },
  computed: {
    modalTitle() {
      return this.type === 'edit'
        ? this.$t('EditFavorite')
        : this.$t('CreateNewFavorite');
    }
  },
  methods: {
    ...mapActions({
      saveWishListFolder: 'members/wishList/saveWishListFolder',
      getListWishListFolder: 'members/wishList/getWishList',
      delWishListFolder: 'members/wishList/delWishListFolder',
    }),
    clearValidate(type) {
      return this.$refs.wishlist.clearValidate(type);
    },
    async onSaveWishListFolder() {
      const validation = await this.$refs.wishlist.validate();
      if (validation) {
        this.loading = true;
        this.saveWishListFolder(this.objSaveFolder)
        .then((res) => {
            if (res.success) {
              //this.showNotification( this.$t('Success'),res.message,'success');
              this.$emit('updatenameFolder', this.objSaveFolder.name);
              this.$emit('updatepublishFolder', parseInt(this.objSaveFolder.is_publish));
              this.$emit('updateFolderData', this.objGetFolder);
              this.timeout = setTimeout(() => {
                this.loading = false;
                if ( this.type == 'edit' || this.type == 'page-wl-add' ) {
                  this.$emit('onShowModal', 0);
                  this.getListWishListFolder(this.objGetFolder);
                }else{
                  this.$emit('onShowModal', 7);
                  this.getListWishListFolder(this.objGetFolder);
                }
              }, 2000)
            }
          })
          .catch(error =>{
            this.timeout = setTimeout(() => {
              this.loading = false;
            }, 2000)
            this.showNotification( this.$t('Erorrs'), error.message, 'error');
          })
          .finally(() => {
            
          })
      }
    },
    onListWishList() {
      if (this.type == 'edit' || this.type == 'page-wl-add') {
        this.$emit('onShowModal', 0);
      }else{
        this.$emit('onShowModal', 7);
      }
    },
    deleteFolder() {
      this.$emit('onDelete');
      let objdel = {
        id: this.dataFolder.id,
        company_id: 0
      }
      this.$confirm(this.$t('webAreYouSureRemoveFolder'), this.$t('webAreYouSureRemoveTitle'), {
        confirmButtonText: this.$t('btnOk'),
        cancelButtonText: this.$t('btnCancel'),
        type: 'warning'
      }).then(() => {
        this.delWishListFolder(objdel)
          .then((res) => {
            this.$router.push(this.localePath({name: 'wishlist'}));
        })
      }).catch(() => {
        this.$emit('unOnDelete');
      });
    }
  },
  created() {
    if(this.dataFolder) {
      this.objSaveFolder.name = this.dataFolder.name;
      this.objSaveFolder.folder_id = this.dataFolder.id;
      this.objSaveFolder.is_publish = this.dataFolder.is_publish;
    }
  },
}
</script>

<style>
  .create-like .modal-body .form-group .select, 
  .create-like .modal-body .form-group .input-text{
    border-radius: 5px;
  }
  .create-like .custom .btn-links.active{
    height: 45px;
  }
  .create-like .modal-body .form-group .el-input__inner {
    height: calc(1.5em + 0.75rem + 15px) !important;
  }
</style>
