<template>
  <div class="hd-search header-search search-select2 flex-1" :class="{'active': show}" ref="dropdown">
    <div class="form-search" :class="{'show': show}">
      <button class="btn-search btn-form" aria-label="button search">
        <i class="fa fa-search"></i>
      </button>
      <input class="input-search" aria-label="input search"
             :placeholder="choiseSearch.nation == '' && choiseSearch.category == '' ? $t('PleaseSelectAnAreaJobType') : ''"
             @focus="show = true" readonly v-model="objSearch">
      <button class="btn-delete btn-form" @click="show = false">
        <i class="fas fa-times"></i>
      </button>
      <el-collapse-transition>
        <div class="group-select-area" v-if="show">
          <div class="wp-select-area">
            <div class="group-condition-search">
              <div class="r-select">
                <div class="head">{{$t('SearchArea')}}</div>
                <div class="body">
                  <div class="header-tab">
                    <ul class="nav nav-tabs list-nav">
                      <li @click="chooseAllNation">
                        <a :class="{'active': allNation}">{{ $t('SearchAll') }}</a>
                      </li>
                      <li v-for="(i, k) in listNations" :key="'nations' + k" @click="choiseNation(i)">
                        <a href="javascript:;" :class="{'active': isSearchedNation(i)}" @click="objData.nation_id = i.id">{{i.name}}</a>
                      </li>
                    </ul>
                  </div>
                </div>
              </div>
              <div class="r-select">
                <div class="head">{{ $t('SearchOccupation') }}</div>
                <div class="body">
                  <div class="header-tab">
                    <ul class="nav nav-tabs list-nav">
                      <li @click="chooseAllCat">
                        <a :class="{'active': allCat}">{{ $t('SearchAll') }}</a>
                      </li>
                      <li v-for="(i, k) in listCategories" :key="'categories' + k" @click="choiseCategory(i)">
                        <a href="javascript:;" :class="{'active': isSearchedCat(i)}" @click="objData.category_id = i.id">{{i.title}}</a>
                      </li>
                    </ul>
                  </div>
                </div>
              </div>
            </div>
            <div class="group-btn-search-h">
              <div class="item-search-h">
                <el-button type="success" :class="{ 'disabled': disabled }" @click="getSearchProject" :loading="loading">
                  {{ $t('SearchInputCatNation') }}
                </el-button>
              </div>
            </div>
            <div class="tab-content content-tab-head">
              <div class="title font-12 font-weight-600 pl-4 pr-4">{{ $t("RecentSearches") }}</div>
              <history :histories="listHistoryKeywords"/>
            </div>
          </div>
        </div>
      </el-collapse-transition>
    </div>
  </div>
</template>

<script>
  import {mapGetters, mapActions} from "vuex";
  import _ from 'lodash';
  import eventBus from '~/services/bus';
  import 'element-ui'

  export default {
    data() {
      return {
        isShowModalIndex: 0,
        show: false,
        loading: false,
        objData: {
          nation_id: "",
          category_id: "",
          pageIndex: 1,
          pageSize: 12,
          typeSearch: 3,
        },
        choiseSearch: {
          id_nation: 0,
          nation: "",
          id_category: 0,
          category: ""
        },
        historyKey: {
          limit: 5
        },
        listHistoryKeywords: {},
        queryString: {},
        allCat: false,
        allNation: false,
        disabled: true,
        type: ''
      };
    },
    components: {
      Login: () => import('~/components/popup/Login'),
      Modal: () => import('~/components/share/Modal'),
      History: () => import('~/components/search/BaseHistory'),
    },
    computed: {
      ...mapGetters({
        listNations: "resource/nationClient5",
        listCategories: "resource/categories5"
      }),
      loggedIn() {
        return this.$store.getters.loggedIn
      },
      objSearch() {
        if (!this.choiseSearch.nation && !this.choiseSearch.category) {
          return;
        }
        let first = this.$t('SearchNationNotSet'),
          second = this.$t('SearchJobNotSet');
        if (this.choiseSearch.nation) {
          first = this.choiseSearch.nation;
        }
        if (this.choiseSearch.category) {
          second = this.choiseSearch.category;
        }
        return `${first} ・ ${second}`;
      }
    },
    watch: {
      '$route.query': function (newValue, oldValue) {
        this.setDefaultObj();
        if (!newValue || !this.isSearchPage()) return;
        this.queryString = newValue;
        this.appendQuery();
        this.setChoisedObj();
        this.getChoiseSearch();
      },
      '$route.path': function (to, from) {
        if (!this.isSearchPage()) {
          this.setDefaultObj();
          return;
        }
      }
    },
    methods: {
      ...mapActions({
        listHistoryKeyword: 'members/historyKeywords/listHistoryKeyword',
        nationname: ''
      }),
      historyKeys() {
        this.listHistoryKeyword(this.historyKey).then(response => {
          this.listHistoryKeywords = response.data;
        })
      },
      handleFocusOut() {
        const self = this;
        window.addEventListener('click', function (e) {
          const container = self.$refs.dropdown;
          const tagI = e.target.tagName === 'I';
          if (container && !container.contains(e.target) && self.show) {
            if (!tagI) self.show = false;
          }
        });
      },
      choiseNation(item) {
        this.allNation = false;
        this.disabled = false;
        this.choiseSearch.nation = item.name;
        this.choiseSearch.id_nation = item.id;
      },
      choiseCategory(item) {
        this.allCat = false;
        this.disabled = false;
        this.choiseSearch.category = item.title;
        this.choiseSearch.id_category = item.id;
      },
      isSearchedCat(cat) {
        return this.objData.category_id === cat.id;
      },
      isSearchedNation(nation) {
        return this.objData.nation_id === nation.id;
      },
      getChoiseSearch() {
        const nation_id = this.choiseSearch.id_nation;
        if (nation_id) {
          const choisedNation = this.listNations.find(n => n.id === nation_id);
          this.choiseSearch.nation = choisedNation.name;
        }
        const cat_id = this.choiseSearch.id_category;
        if (cat_id) {
          const choisedCat = this.listCategories.find(c => c.id === cat_id);
          this.choiseSearch.category = choisedCat.title;
        }
      },
      removeNation() {
        this.choiseSearch.nation = "";
        this.choiseSearch.id_nation = 0;
        this.objData.nation_id = 0;
      },
      removeCate() {
        this.choiseSearch.category = "";
        this.choiseSearch.id_category = 0;
        this.objData.category_id = 0;
      },
      isAccessSeacrch() {
        return (this.objData.nation_id || this.objData.category_id) || this.allNation || this.allCat;
      },
      chooseAllNation() {
        this.disabled = false;
        this.allNation = true;
        this.objData.nation_id = '';
        this.choiseSearch.nation = '';
        this.choiseSearch.id_nation = 0;
      },
      chooseAllCat() {
        this.disabled = false;
        this.allCat = true;
        this.objData.category_id = '';
        this.choiseSearch.category = '';
        this.choiseSearch.id_category = 0;
      },
      getSearchProject() {
        if (!this.loggedIn) {
          eventBus.$emit('onRegister');
          return;
        }
        if (this.isAccessSeacrch()) {
          this.loading = true;
          const queryString = this.assignQueryNotNull(this.objData);
          this.$router.push(this.localePath({name: 'search', query: queryString}));
          this.show = false;
          this.loading = false;
        }
      },
      appendQuery() {
        if (this.queryString && this.isSearchPage()) {
          _.forEach(this.queryString, (q, i) => {
            this.objData[i] = (i === 'sort' ? q : JSON.parse(q));
          });
        }
      },
      setChoisedObj() {
        this.choiseSearch.id_nation = this.objData.nation_id;
        this.choiseSearch.id_category = this.objData.category_id;
      },
      setDefaultObj() {
        this.objData = {
          nation_id: "",
          category_id: "",
          pageIndex: 1,
          pageSize: 12,
          typeSearch: 3,
        };
        this.choiseSearch = {
          id_nation: 0,
          nation: "",
          id_category: 0,
          category: ""
        };
      },
      isSearchPage() {
        return this.$route.path.indexOf('search') >= 0;
      },
    },
    mounted() {
      this.getChoiseSearch();
      this.handleFocusOut();
      if (this.loggedIn) {
        this.historyKeys();
      }
      eventBus.$on('closeFormSearch', () => (this.show = false));
    },
    created() {
      this.setDefaultObj();
      this.queryString = this.$route.query;
      if (!_.has(this.queryString, 'redirect_back')) {
        this.appendQuery();
        this.setChoisedObj();
      }
    }
  };
</script>

<style scoped>
  .group-select2-hd .list-select2-hd {
    position: unset;
    transform: none;
  }

  .nav-tabs.list-nav > li {
    margin-right: 10px;
  }

  .disabled {
    pointer-events: none;
    cursor: not-allowed;
  }
</style>
