<template>
  <div>
    <div class="group-modal_b-162">
      <div class="modal-body">
        <div class="title">{{ $t('SaveToFavorites') }}</div>
        <a href="javascript:;" title="" class="d-block description" @click="onFormNewFolderWishList">{{ $t('CreateNewFavorite')}}</a>
        <ul class="list-item" v-loading="loading"
          element-loading-text="Loading..."
          element-loading-spinner="el-icon-loading"
          element-loading-background="rgba(255, 255, 255, 1)">
          <li v-for="(wl, k) in wishlist" :key="`duration-item-${k}` ">
            <div class="item">
              <div class="d-flex justify-content-between align-items-center">
                <div class="name-like"> {{ wl.name }} </div>
                <div class="icon-like" v-bind:class="{ 'active': wl.is_wishlist }">
                  <button @click="onSaveWishListObject(wl.id)" :disabled="disabled">
                    <i class="far fa-heart"></i>
                  </button>
                </div>
              </div>
            </div>
          </li>
        </ul>
      </div>
      <div class="custom ft-modal-info">
        <div class="article ">
          <div class="img-thumb">
            <img :src="image" alt="" class="img-fluid">
          </div>
          <div class="group-info">
            <div class="info">
              <div class="d-flex group-rate_b162 mb-2">
                <div class="number-rate">{{rate}}</div>
                  <el-rate v-model="rate"
                    :colors="['#77D353', '#77D353', '#77D353']"
                    :disabled-void-color="'#d2d2d2'"
                    disabled></el-rate>
                  <div class="text-rate">{{ $t('reviewHeartWishList', {number: number_people_rate})}}</div>
                </div>
              <div class="intro">{{title}}</div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</template>
<script>
  import { mapState, mapActions } from "vuex";
  import _ from 'lodash'
  import eventBus from '~/services/bus';

  export default {
    name:'HeartWishListModal',
    props: {
        type: {
            type: Number,
            default: 0
        },
        object_id: {
            type: Number,
            default: 0
        },
        company_id: {
            type: Number,
            default: 0
        },
        objData: {
            type: Object
        }
    },
    data(){
        return {
            loading: true,
            disabled: false,
            timeout: null,
            isShowModalIndex: 0,
            objSaveFolder: {
                name: '',
                is_publish:0,
                folder_id:0,
                company_id:0,
            },
        }
    },
    computed: {
        ...mapState({
            wishlist: state => state.members.wishList.wishlist,
        }),
        objGetFolder() {
            return {
                object_id:  this.object_id,
                company_id: 0,
                type:       this.type,
            }
        },
        objSaveObject() {
            return {
                object_id:          this.object_id,
                company_id:         0,
                type:               this.type,
                wishlist_folder_id: 0,
            }
        },
        image() {
          if (this.objData.project) return this.objData.project.image;
          if (this.objData.members) return this.objData.members.avatar;
          return this.objData.image ? this.objData.image : this.objData.avatar;
        },
        title() {
          if (this.objData.project) return this.objData.project.title;
          if (this.objData.title) return this.objData.title;
          if (this.objData.members) return `${this.objData.members.first_name} ${this.objData.members.last_name}`;
          return this.objData.project_title ? this.objData.project_title : `${this.objData.first_name} ${this.objData.last_name}`;
        },
        rate() {
          if (this.objData.project) return this.objData.company.rate;
          if (this.objData.members) return this.objData.members.rate;
          return this.objData.rate;
        },
        number_people_rate() {
          if (this.objData.project) return this.objData.company.number_people_rate;
          if (this.objData.members) return this.objData.members.number_people_rate;
          return this.objData.number_people_rate;
        },
    },
    methods: {
        ...mapActions({
            saveWishListFolder: 'members/wishList/saveWishListFolder',
            getListWishListFolder: 'members/wishList/getWishList',
            saveWishListObject: 'members/wishList/saveWishListObject',
        }),
        onFormNewFolderWishList(){
          eventBus.$emit('onAddFavorite');
        },
        onShowModal(index) {
          this.isShowModalIndex = index;
        },
        onSaveWishListFolder() {
            this.saveWishListFolder(this.objSaveFolder)
            .then((res) => {
              //this.showNotification(this.$t('Success'), res.message, 'success');
            })
            .catch(error =>{
              this.showNotification(this.$t('Erorrs'), error.message, 'error');
            });
        },
        getWishList() {
          this.getListWishListFolder(this.objGetFolder)
          .then(
            this.timeout = setTimeout(() => {
                this.loading = false
            }, 2000)
          )
        },
        onSaveWishListObject(id) {
            this.disabled = true;
            _.forEach(this.wishlist, w => {
              if (w.id === id) {
                w.is_wishlist = !w.is_wishlist;
              }
            });
            this.timeout = setTimeout(() => {
                this.disabled = false
            }, 3000)
            let params = _.clone( this.objSaveObject )
            params.wishlist_folder_id = id;
            this.saveWishListObject(params)
            .then((res) => {
              //this.showNotification(this.$t('Success'), res.message, 'success');
            })
            .catch(error =>{
              this.showNotification(this.$t('Erorrs'), error.message, 'error');
            });
        }
    },
    mounted(){
      this.getWishList();
    },
  }
</script>
