<template>
<div>
    <el-upload class="image-uploader" v-loading="loading"
               :action="apiUrl + '/images/upload'"
               name="file"
               drag
               :headers="headerInfo"
               :before-upload="beforeUpload"
               :on-success="handleSuccess"
               :on-remove="handleRemove"
               :multiple="false"
               :show-file-list="false"
               :file-list="fileList">
        <img v-if="imageUrl || value" :src="imageUrl || value" class="upload-preview">
        <template v-else>
            <div class="box">
                <i class="fab fa-instagram"></i>
                <div class="el-upload__text" v-html="title" />
            </div>
        </template>
    </el-upload><br>
    <!-- <button v-if="imageUrl || value" @click="handleRemove()" style="color:red;">{{$t('deleteImage')}}</button> -->
</div>

</template>

<script>
    import config from '../../config';
    import {mapGetters} from 'vuex';
    export default {
        props: {
          value: {
            type: [Array, Object, String],
          },
          isCreate: {
            type: Boolean,
            default: false,
          }
        },
        data() {
            return {
                imageUrl: '',
                apiUrl: '',
                headerInfo: {
                    'Language-Code': 'ja',
                    'X-Requested-Env': 'web',
                    'Currency-Code': 'JPY',
                    'Authorization': ''
                },
                loading: false,
            }
        },
        computed: {
            ...mapGetters(['accessToken']),
            fileList() {
                if (!this.value) return;
                return [{name: this.value, url: this.value}]
            },
            title() {
              let title = `${this.$t('Info_UploadImage1')} <em>JPEG/PNG/GIF</em> ${this.$t('Info_UploadImage2')}`;
              if (this.isCreate) {
                title = this.$t('MainPicture');
              }
              return title;
            }
        },
        methods: {
            handleRemove() {
                this.imageUrl = '';
                return this.$emit('input', null)
            },
            handleSuccess(res, file) {
                this.loading = false;
                if (!res.success) return;
                this.imageUrl = URL.createObjectURL(file.raw);
                return this.$emit('input', `${res.storage_domain}${res.location}`);
            },
            beforeUpload(file) {
                this.loading = true;
                const type = ['image/jpeg', 'image/png'];
                const isType = type.includes(file.type);
                const isLt = file.size / 1024 / 1024 < 2;
                if (!isType) {
                    this.$notify.error({
                        title: this.$t('Error'),
                        message: 'Image picture must be JPG or PNG format!'
                    });
                    this.loading = false;
                    return false;
                }
                if (!isLt) {
                    this.$notify.error({
                        title: this.$t('Error'),
                        message: 'Image picture size can not exceed 2MB!'
                    });
                    this.loading = false;
                    return false;
                }
                return true;
            },
        },
        mounted() {
            this.imageUrl = this.value;
            this.apiUrl = config.apiUrl;
            this.headerInfo.Authorization = 'Bearer ' + this.accessToken
        }
    }
</script>

<style>
    .el-upload-dragger {
        width: auto;
    }
    .upload-preview {
        /*width: auto !important;*/
        /*height: 100% !important;*/
    }
    .image-uploader .el-upload.el-upload--text {
        vertical-align: top;
    }
    .panel-head-tab-b112 .item .img-thumb{
        background: #1d2855!important;
    }
</style>
