<template>
    <el-upload class="image-uploader" v-loading="loading"
               :action="apiUrl + '/images/upload'"
               name="file"
               drag
               :headers="headerInfo"
               :before-upload="beforeUpload"
               :on-success="handleSuccess"
               :on-remove="handleRemove"
               :multiple="false"
               :show-file-list="false"
               :file-list="fileList">
        <img v-if="imageUrl || value" :src="imageUrl || value" class="upload-preview">
        <template v-else>
            <span class="icon"> <i class="fas fa-plus"></i> </span>
            <span class="texts">{{ $t("AddCoverPhoto") }}</span>
        </template>
    </el-upload>
</template>

<script>
    import config from '../../config';
    import {mapGetters} from 'vuex';
    export default {
        props: ['value'],
        data() {
            return {
                imageUrl: '',
                apiUrl: '',
                headerInfo: {
                    'Language-Code': 'ja',
                    'X-Requested-Env': 'web',
                    'Currency-Code': 'JPY',
                    'Authorization': ''
                },
                loading: false,
            }
        },
        computed: {
            ...mapGetters(['accessToken']),
            fileList() {
                if (!this.value) return;
                return [{name: this.value, url: this.value}]
            },
        },
        methods: {
            handleRemove() {
                this.imageUrl = '';
                return this.$emit('input', null)
            },
            handleSuccess(res, file) {
                this.loading = false;
                if (!res.success) return;
                this.imageUrl = URL.createObjectURL(file.raw);
                return this.$emit('input', res.location);
            },
            beforeUpload(file) {
                this.loading = true;
                const type = ['image/jpeg', 'image/png'];
                const isType = type.includes(file.type);
                const isLt = file.size / 1024 / 1024 < 2;
                if (!isType) {
                    this.$notify.error({
                        title: this.$t('Error'),
                        message: 'Image picture must be JPG or PNG format!'
                    });
                    this.loading = false;
                    return false;
                }
                if (!isLt) {
                    this.$notify.error({
                        title: this.$t('Error'),
                        message: 'Image picture size can not exceed 2MB!'
                    });
                    this.loading = false;
                    return false;
                }
                return true;
            },
        },
        mounted() {
            this.imageUrl = this.value;
            this.apiUrl = config.apiUrl;
            this.headerInfo.Authorization = 'Bearer ' + this.accessToken
        }
    }
</script>

<style>
    .el-upload {
        vertical-align: top;
    }
    .el-upload-dragger {
        width: auto;
        height: auto;
        background: transparent;
        color: #fff;
        border: none;
    }
    .el-upload-dragger .texts {
        display: inline-block;
    }
    .upload-preview {
        max-width: 100%;
        max-height: 250px;
        border-radius: 6px;
        margin-right: 15px;
    }
    .group-add-avatar .box-btn-add-avatar {
        min-height: 320px;
        width: 100%;
        display: flex;
        align-items: center;
        justify-content: center;
    }

</style>
