<template>
  <div class="card-container">
    <div class="text title"> <!--{{ $t('ListCard', {num: number}) }} --></div>
    <div class="row">
      
      <div class="col-sm-4 col-12" v-if="cards">
        <div class="item" v-for="(card, index) in cards" :key="`card-${index}`">
          <card class="w-100 img-thumb"
          :card="card"
          v-on:click.native="handleClick(card)"
          @onRemove="onRemove"/>
        </div>
      </div>
      <div class="col-sm-4 col-12">
        <div class="item">
          <div class="img-thumb">
            <a class="image text-center" @click="showFormAddCard">
              <div class="h-100 align-center">
                <div class="mb-3">
                  <img src="~/assets/images/icon/action-2.png" alt="">
                </div>
                <div class=" name font-12">{{$t('AddPaymentMethod')}}</div>
                <div class="name font-8">{{$t('CreditCard')}}</div>
              </div>
            </a>
          </div>
        </div>
      </div>
    </div>
  </div>
</template>

<script>
  import _ from 'lodash'
  import {getCards, removePaymentMethod} from '~/services/Payment';
  import eventBus from '~/services/bus';

  export default {
    name: 'ListCard',
    components: {
      Card: () => import('~/components/share/Card'),
    },
    data() {
      return {
        cards: [],
      }
    },
    props: {
      hasEvent: {
        type: Boolean,
        default: false
      },
      handleClickCard: {
        type: Function,
        default: () => {}
      },
      currency: {
        type: String
      },
      amount: {
        type: Number
      },
      bidId: {
        type: Number
      },
      monthPayment: {
        type: Number
      }
    },
    computed: {
      number() {
        return _.isEmpty(this.cards) ? 0 : this.cards.length;
      }
    },
    methods: {
      async getCards() {
        const company = this.$store.getters.getCompany,
        companyId = _.has(company, 'company_id')
          ? company.company_id
          : 0;
        const {data} = await getCards({company_id: companyId});
        this.cards = data;
      },
      handleClick(card) {
        if (!this.hasEvent) return;
        const params = {
          payment_method: card.ID,
          bid: this.bidId,
          currency: this.currency,
          amount: this.amount,
          bidId: this.monthPayment
        };
        this.handleClickCard(params);
      },
      showFormAddCard($event) {
        $event.preventDefault();
        this.$emit('showFormAddCard');
      },
      onRemove(card) {
        if( this.cards && this.cards.length == 1) {
          //this.showNotification( this.$t('Warning'), this.$t('pleaseAddPaymentMethodToRemove'), 'warning' );
          //return;
        }
        this.$confirm(this.$t('webAreYouSureRemove'), this.$t('webAreYouSureRemoveTitle'), {
            confirmButtonText: this.$t('btnOk'),
            cancelButtonText: this.$t('btnCancel'),
            type: 'warning'
        })
        .then( () => {
            removePaymentMethod({payment_method: card.ID})
            .then( () => {
              let index = _.findIndex(this.cards, (c) => {
                return c.ID == card.ID
              } );
              if( index >= 0 ) {
                this.cards.splice( index, 1);
              }
            })
            .catch( (error) => {
              this.showNotification(this.$t('Error'), error.message, 'error');
            } )
        })
        .catch( () => {});

      }
    },
    mounted() {
      this.getCards();
      eventBus.$on('onAddCardCloseAddDialog', () => {
        this.getCards();
      });
    }
  }
</script>

<style scoped>
  .title {
    font-size: 24px;
  }
  .card-container {
    margin-top: 10px;
  }
</style>
