<template>
  <Spin size="large" fix v-if="loading" style="z-index: 9999999999999999999999999999999999999"/>
</template>

<script>
  export default {
    data: () => ({
      loading: false
    }),
    methods: {
      start () {
        this.loading = true;
      },
      finish () {
        setTimeout(() => {
          this.loading = false
        }, 1000)
      }
    }
  }
</script>

<style scoped>
  .loading-page {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(255, 255, 255, 0.8);
    text-align: center;
    padding-top: 200px;
    font-size: 30px;
    font-family: sans-serif;
  }
</style>
