<template>
    <div class="logo pr-4">
        <nuxt-link :to="localePath({name: 'index'})">
            <img src="~/assets/images/icon/logo-spotech.png" alt="" class="img-fluid">
        </nuxt-link>
    </div>
</template>

<script>
    export default {
        name: "SiteLogo"
    }
</script>
