<template>
  <div :class="'modal fade d-block customize-topic ha-custom-modal-big ' + cls" @click.self="close">
    <div :class="'modal-dialog modal-dialog-centered modal-spotech modal-xl ' + align" role="document">
      <div class="modal-content">
        <div class="modal-header sticky-top-help">
          <slot name="header"></slot>
          <div class="text-head-modal w-100">{{$t('ChooseTheme')}}</div>
          <button
            type="button"
            class="clear"
            data-dismiss="modal"
            aria-label="Close"
            @click="forceClose"
          >
            <span aria-hidden="true">
              <i class="fas fa-times"></i>
            </span>
          </button>
        </div>
        <div class="modal-body">
          <slot name="body"></slot>
        </div>
      </div>
    </div>
  </div>
</template>
<style>
@media (min-width: 600px) {
  .modal-huge {
    max-width: 90%;
  }
}
</style>
<script>
export default {
  props: {
    width: {
      type: Number,
      default: 600
    },
    height: {
      type: Number,
      default: 100
    },
    noCloseBackground: {
      type: Boolean,
      default: false
    },
    footer: {
      type: Boolean,
      default: true
    },
    size: {
      type: String,
      default: ""
    },
    align: {
      type: String,
      default: "modal-dialog-centered"
    }
  },
  data() {
    return {
      cls: "",
      tempId: null
    };
  },
  methods: {
    close() {
      if (!this.noCloseBackground) {
        this.forceClose();
      }
    },
    forceClose() {
      this.cls = "";
      setTimeout(() => {
        this.$emit("close");
      }, 200);
    }
  },
  computed: {
    style() {
      if (this.size != "huge")
        return { "max-width": this.width + "px" || "600px" };
      return {};
    },
    modalCls() {
      let cls = "modal-dialog modal-dialog-centered";
      if (this.size == "large") cls += " modal-lg";
      else if (this.size == "huge") cls += " modal-huge";
      return cls;
    }
  },
  mounted() {
    this.tempId = "modal" + new Date().getTime();
    document.getElementsByTagName("html")[0].classList.add("modal-open");
    let backDrop = document.createElement("div");
    backDrop.setAttribute("id", this.tempId + "popupBackdrop");
    backDrop.setAttribute("class", "modal-backdrop fade");
    document.getElementsByTagName("body")[0].appendChild(backDrop);
    setTimeout(() => {
      this.cls = "show";
      let b2 = document.getElementById(this.tempId + "popupBackdrop");
      b2.className += " show";
    }, 100);
  },
  destroyed() {
    document.getElementsByTagName("html")[0].classList.remove("modal-open");
    this.cls = "";
    let b2 = document.getElementById(this.tempId + "popupBackdrop");
    if (b2) {
      b2.parentNode.removeChild(b2);
    }
  }
};
</script>
