<template>
  <form method="POST">
    <input class="text-link reply bg-red border-red b-radius-10"
      type="submit"
      :value="paymentTitle"
      @click="handleClick"/>
  </form>
</template>

<script>
  import { savePayment } from '~/services/Payment';
  import eventBus from '~/services/bus';
  export default {
    name: 'PaymentButton',
    data() {
      return {
        form: {
          omiseToken: null,
          amount: 0,
          omiseSource: null,
          bid: 0,
          bid_month_payment: 0
        }
      }
    },
    props: {
      paymentTitle: {
        type: String,
        default: 'Payment'
      },
      amount: {
        type: Number,
        required: true
      },
      currency: {
        type: String,
        default: 'USD'
      },
      bidId: {
        type: Number,
        required: true
      },
      monthPayment: {
        type: Number,
      }
    },
    methods: {
      handleClick($event) {
        $event.preventDefault();
        this.form.amount = this.amount;
        this.form.bid = this.bidId;
        this.form.bid_month_payment = this.monthPayment;
        eventBus.$emit('onPaymentStart', {form: this.form});
        OmiseCard.open({
          amount: this.amount * 100,
          currency: this.currency,
          defaultPaymentMethod: "credit_card",
          submitLabel: this.$t('pay'),
          frameLabel: this.$t('SpotechWeb'),
          onCreateTokenSuccess: (nonce) => {
            if (nonce.startsWith("tokn_")) {
              this.form.omiseToken = nonce;
            } else {
              this.form.omiseSource = nonce;
            };
            eventBus.$emit('onPaymentCreateToken', {form: this.form, nonce: nonce});
            savePayment(this.form).then(res => {
              if (res.success) {
                eventBus.$emit('onPaymentSaveSuccess', {form: this.form, nonce: nonce, res: res});
                this.showNotification(this.$t('Success'), res.message, 'success') 
              }
              else {
                eventBus.$emit('onPaymentSaveFailed', {form: this.form, nonce: nonce, res: res});
              }
            })
            return false;
          }
        });
      }
    },
    mounted() {
      OmiseCard.configure({
        publicKey: "pkey_test_5hsc606f7g8mbol995a"
      });
    }
  }
</script>
