<template>
  <div class="ta-project">
    <div class="container">
      <div class="row" v-if="isOwner()">
        <div class="col-lg-12 col-md-12 col-sm-12 col-12">
          <div class="add-project justify-content-center mb-5">
            <div class="font-30 align-self-center d-flex">
              <div @click="createProject">
                <img src="~assets/images/icon/plus-ta.png" class="mr-5 align-self-center" />
                <span>{{$t('PostaProject')}}</span>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="row">
        <div class="col-lg-6 col-md-6 col-sm-6 col-12 project"
          v-for="(itemnew, keynew) in listPostNew"
          :key="keynew"
          @click="gotoProjectPage(itemnew.id)">
          <div class="item-project ">
            <div class="image">
              <img :src="itemnew.image" />
            </div>
            <div class="tag font-16  color-lightgrey ">
              {{ nationName(itemnew) }}・{{ catName(itemnew) }}
            </div>
            <el-tooltip class="item" effect="light" :content="itemnew.title" placement="bottom">
              <a class="title font-20">{{ itemnew.title }}</a>
            </el-tooltip>
            <div class="content font-14 mb-0">
              {{ itemnew.content }}
            </div>
            <div class="time font-12 text-right color-lightgrey" v-if="itemnew.durations.length">
              <img src="~/assets/images/icon/history.png" class="mr-3" /> {{ durationName(itemnew) }}
            </div>
          </div>
        </div>
      </div>
      <el-pagination v-if="totalRow > obj.pageSize" class="pagination d-flex align-items-center margin-bottom-100"
        background
        layout="prev, pager, next"
        :total="totalRow"
        :page-count="obj.pageIndex"
        :page-size="obj.pageSize"
        :current-page="obj.pageIndex"
        @current-change="paginationPage">
      </el-pagination>
    </div>
  </div>
</template>

<script>
  import { getProjects } from '~/services/member';
  import _ from 'lodash'
  import { mapState } from 'vuex';

  export default {
    name: 'Projects',
    props: ['company'],
    data() {
      return {
        id: null,
        listPostFeature: [],
        listPostNew: [],
        obj: {
          sort: 'created_at',
          order: 'DESC',
          pageIndex: 1,
          pageSize: 8,
          company_id: 0,
        },
        totalRow: 0,
      }
    },
    computed: {
      ...mapState({
        nations: state => state.resource.nationClient,
        categories: state => state.resource.category,
      })
    },
    methods: {
      getListPostNew() {
        this.obj.company_id = this.$route.params.id;
        getProjects(this.obj).then(response => {
          this.listPostNew = response.data.data
          this.totalRow = response.data.totalRow
        });
      },
      gotoProjectPage(id) {
        return this.$router.push(this.localePath({name: 'project-detail-id', params: {id: id}}));
      },
      durationName(project) {
        return project.durations.length ? _.maxBy(project.durations, function(o) { return o.time; }).title : '';
      },
      nationName(project) {
        const nation = this.nations.find(n => n.id === project.nation_id);
        return nation ? nation.name : '';
      },
      catName(project) {
        const cat = this.categories.find(c => c.id === project.category_id);
        return cat ? cat.title : '';
      },
      isOwner() {
        let id = parseInt(this.$route.params.id),
          currentUser = this.$store.getters.getCompany;
        if (_.has(currentUser, 'company_id')) {
          return currentUser.company_id === id;
        }
        return false;
      },
      paginationPage(currentPage) {
        this.obj.pageIndex = currentPage;
        this.getListPostNew();
      },
      createProject() {
        if (this.company.title) {
          this.$router.push(this.localePath({name: 'project-create'}))
        } else {
          this.showNotification(this.$t('Error'), this.$t('MustHaveCompanyName'), 'error');
        }
      }
    },
    mounted() {
      this.getListPostNew();
    }
  }
</script>

<style scoped>
  .add-project a {color: #fff;}
  .project {
    cursor: pointer;
  }
  .item {
    margin: 4px;
  }
</style>
