<template>
 <div class="modal-body body-share">
    <social-sharing :url="url" @open="open()" @change="change()" @close="close()" inline-template>
    <div class="c--sharing w-100">
      <div class="panel-head-modal-share">
        <div class="title">
          {{$t('SelectBoxShare')}}
        </div>
      </div>
      <div class="group-method-share">
      <network network="facebook" class="btn-share fb spotech">
        <span class="icon"><i class="fab fa-facebook-f"></i></span>
        <span class="texts">Facebook</span>
      </network>
      <network network="linkedin" class="btn-share link spotech">
        <span class="icon"><i class="fab fa-linkedin-in"></i></span>
         <span class="texts">LinkedIn</span>
      </network>
      <network network="twitter" class="btn-share twitter spotech">
        <span class="icon"><i class="fab fa-twitter"></i></span> 
        <span class="texts">Twitter</span>
      </network>
      </div>
    </div>
  </social-sharing>
 </div>
</template>

<script>
  export default {
    name: "ShareBox",
    props: {
        url: {
            type: String
        },
    },
    methods:{
      open() {
        this.$emit('open')
      },
      change () {
        this.$emit('change')
      },
      close() {
        this.$emit('close')
      }
    },
    mounted(){
      if (!this.url) {
        this.url = window.location.href
      }
    }
  }
</script>

<style scoped>
</style>
