<template>
  <modal @close="onClose" class="modal-spotech">
    <template slot="body">
      <ShareBox />
    </template>
  </modal>
</template>

<script>
    export default {
        name: "ShareModal",
        components: {
            ShareBox: () => import('~/components/share/ShareBox'),
            Modal: () => import('~/components/share/Modal')
        },
         methods: {
           onClose() {
             this.$emit('onClose')
           }
         }
    }
</script>

<style scoped>

</style>
