<template>
  <footer class="footer pd-web" id="footer">
    <div class="container">
      <div class="row">
        <div class="col-12 mx-auto">
          <div class="top-footer">
              <div class="content-top-footer">
                  <div class="row">
                      <div class="col-lg-3 col-md-6 col-sm-6 col-12 orderft">
                          <div class="logo">
                              <client-only>
                                <nuxt-link :to="localePath('index')" class="image-logo d-block mb-3" title="link index" aria-label="link index">
                                  <ElImageLazy :src="require('~/assets/images/icon/logo-ft-spotech.png')" title="spotech"/>
                                </nuxt-link>
                              </client-only>
                              <div class="meta">© {{ (new Date()).getFullYear() || 0}} Spotech Inc.</div>
                          </div>
                      </div>
                      <div class="col-lg-6 col-md-12 col-sm-12 col-12 orderft_1">
                          <div class="box-links-ft">
                              <div class="row">
                                  <div class="col-lg-4 col-md-4 col-sm-4 col-12">
                                      <div class="content-ft">
                                          <div class="pn-head-ft">
                                              <div class="title-ft heading-3">About</div>
                                          </div>
                                          <ul class="pn-body-ft">
                                              <li>
                                                  <client-only>
                                                    <nuxt-link class="heading-4 text-link" :to="localePath({name: 'about-career' })">
                                                        {{$t("Career")}}
                                                    </nuxt-link>
                                                  </client-only>
                                              </li>
                                              <li>
                                                  <client-only>
                                                    <nuxt-link class="heading-4 text-link" :to="localePath({name: 'about-team' })">
                                                        {{$t("Team")}}
                                                    </nuxt-link>
                                                  </client-only>
                                              </li>
                                              <li>
                                                  <client-only>
                                                    <nuxt-link class="heading-4 text-link" :to="localePath({name: 'about-news' })">
                                                        {{$t("News")}}
                                                    </nuxt-link>
                                                  </client-only>
                                              </li>
                                              <li>
                                                  <client-only>
                                                    <nuxt-link class="heading-4 text-link" :to="localePath({name: 'about-sitemap' })">
                                                        {{$t("SiteMap")}}
                                                    </nuxt-link>
                                                  </client-only>
                                              </li>
                                              <li>
                                                  <client-only>
                                                    <nuxt-link class="heading-4 text-link" :to="localePath({name: 'about-contact' })">
                                                        {{$t("ContactUs")}}
                                                    </nuxt-link>
                                                  </client-only>
                                              </li>
                                          </ul>
                                      </div>
                                  </div>
                                  <div class="col-lg-4 col-md-4 col-sm-4 col-12">
                                      <div class="content-ft">
                                          <div class="pn-head-ft">
                                              <div class="title-ft heading-3">Easy Guide</div>
                                          </div>
                                          <ul class="pn-body-ft">
                                              <client-only>
                                                <li>
                                                    <nuxt-link class="heading-4 text-link" :to="localePath({name: 'guide-client' })">
                                                        {{ $t("Client") }}
                                                    </nuxt-link>
                                                </li>
                                                <li>
                                                    <nuxt-link class="heading-4 text-link" :to="localePath({name: 'guide-expert' })">
                                                        {{ $t("Expert") }}
                                                    </nuxt-link>
                                                </li>
                                                <li>
                                                    <nuxt-link class="heading-4 text-link" :to="localePath({name: 'guide-relief' })">
                                                        {{ $t("TrustSecurity") }}
                                                    </nuxt-link>
                                                </li>
                                                <li>
                                                    <nuxt-link class="heading-4 text-link" :to="localePath({name: 'guide-revenue_plan' })">
                                                        {{ $t("BidTypeAdoption") }}
                                                    </nuxt-link>
                                                </li>
                                                <li>
                                                    <nuxt-link class="heading-4 text-link" :to="localePath({name: 'guide-business' })">
                                                        {{ $t("webNavBusinessSupport") }}
                                                    </nuxt-link>
                                                </li>
                                              </client-only>
                                          </ul>
                                      </div>
                                  </div>
                                  <div class="col-lg-4 col-md-4 col-sm-4 col-12">
                                      <div class="content-ft">
                                          <div class="pn-head-ft">
                                              <div class="title-ft heading-3">Community</div>
                                          </div>
                                          <ul class="pn-body-ft">
                                              <li>
                                                    <nuxt-link class="heading-4 text-link" :to="localePath({name: 'community-story' })">
                                                        {{ $t("Story") }}
                                                    </nuxt-link>
                                              </li>
                                              <li>
                                                  <a @click="featuresDevelopment" class="heading-4 text-link">{{ $t("ClientInvitation") }}</a>
                                              </li>
                                              <li>
                                                <nuxt-link class="heading-4 text-link" :to="localePath({name: 'invite-expert'})">{{ $t("ExpertInvitation") }}</nuxt-link>
                                              </li>
                                              <li>
                                                <nuxt-link class="heading-4 text-link" :to="localePath({name: 'support-travel' })">
                                                  {{ $t("TravelSupport") }}
                                                </nuxt-link>
                                              </li>
                                              <li>
                                                <nuxt-link class="heading-4 text-link" :to="localePath({name: 'support-freelancer' })">
                                                  {{ $t("FreelanceSupport") }}
                                                </nuxt-link>
                                              </li>
                                          </ul>
                                      </div>
                                  </div>
                              </div>
                          </div>

                      </div>
                      <div class="col-lg-3 col-md-12 col-sm-12 col-12 clearfix orderft_2">
                          <div class="box-social-ft">
                              <div class="top-box-social mb-3">
                                  <ul class="list-social d-flex">
                                      <li>
                                          <a @click="featuresDevelopment" class="item-social facebook"><i class="fab fa-facebook-f"></i></a>
                                      </li>
                                      <li>
                                          <a @click="featuresDevelopment" class="item-social twitter"><i class="fab fa-twitter"></i></a>
                                      </li>
                                      <li>
                                          <a @click="featuresDevelopment" class="item-social instagram"><i class="fab fa-instagram"></i></a>
                                      </li>
                                      <li>
                                          <a @click="featuresDevelopment" class="item-social linkedin"><i class="fab fa-linkedin"></i></a>
                                      </li>
                                      <li>
                                          <a @click="featuresDevelopment" class="item-social youtube"><i class="fab fa-youtube"></i></a>
                                      </li>
                                  </ul>
                              </div>
                              <div class="up-box-social">
                                  <a href="javascript:;" title="" class="app-store d-block">
                                    <ElImageLazy :src="require('~/assets/images/icon/app-store.png')" title="spotech"/>
                                  </a>
                              </div>
                          </div>
                      </div>
                  </div>
              </div>
          </div>

          <div class="upper-footer d-flex">
              <div class="box-left-ft mr-auto">
                <ul class="list">
                    <client-only>
                        <li>
                            <nuxt-link class="heading-4 text-link" :to="localePath({name: 'policy-terms_of_service' })">
                            {{ $t("TermsOfService") }}
                            </nuxt-link>
                        </li>
                        <li>
                            <nuxt-link class="heading-4 text-link" :to="localePath({name: 'policy-privacy_policy' })">
                            {{ $t("PrivacyPolicy") }}
                            </nuxt-link>
                        </li>
                    </client-only>
                </ul>
              </div>
              <div class="box-right-ft">
                  <ul class="list">
                      <client-only>
                        <li>
                            <el-dropdown v-if="currentLanguage" @command="handleSwitchLanguage">
                                <span class="el-dropdown-link">
                                    <a href="javascript:;" title="" class="heading-4 text-link bg-btn">{{ currentLanguageName }}</a>
                                </span>
                                <el-dropdown-menu slot="dropdown" v-if="languages && languages.length > 0">
                                    <el-dropdown-item v-for="(v, k) in languages" :key="k" :command="v">{{v.name}}</el-dropdown-item>
                                </el-dropdown-menu>
                            </el-dropdown>
                        </li>
                      </client-only>
                  </ul>
              </div>
          </div>
        </div>
      </div>
    </div>
  </footer>
</template>
<script>
  import {mapMutations, mapGetters} from 'vuex'
  import cookie from 'js-cookie'
  import config from '~/config';
  import ElImageLazy from '~/components/share/ElImageLazy'

  export default {
    data() {
      return {
        currency: null,
      }
    },
    components: {
      ElImageLazy
    },
    computed: {
      ...mapGetters({
            languages: 'resource/languageClient',
            getLocale: 'getLocale'
        }),
        currentLanguage() {
            if( this.languages && this.languages.length > 0 && this.getLocale) {
                let lang = this.languages.find(i => i.code === this.getLocale);
                if( ! lang ){ return null; }
                this.currency = `${lang.currency_code} ${lang.unit}`
                return lang;
            }
            return null;
        },
        currentLanguageName() {
            return this.currentLanguage && this.currentLanguage.name ? this.currentLanguage.name : '';
        }
    },
    methods: {
      ...mapMutations({
        SET_LANG: 'SET_LANG',
        SET_CURRENCY: 'SET_CURRENCY',
      }),
      handleSwitchLanguage(command) {
          if( !command ){ return; }
        this.SET_LANG(command.code)
        this.SET_CURRENCY(command.currency_code)
        cookie.set('currency', command.currency_code, { expires: 360 });
        cookie.set(config.lang, command.code, { expires: 360, domain: config.cookieDomain });
        //this.$moment.locale(command.code);
        this.$moment.locale = command.code ;
        // location.reload();
        this.$i18n.setLocale(command.code);
        this.$store.dispatch('resource/getAll');
        let link = this.switchLocalePath(command.code);
        location.href = link;

      },
      getCurrentLanguage(value) {
        if (!this.languages) return;
        this.currentLanguage = this.languages.find(i => i.code === value)
        if (!this.currentLanguage) return;
        this.currency = `${this.currentLanguage.currency_code} ${this.currentLanguage.unit}`
      },
    },
    mounted() {

    }
  }
</script>
