<template>
    <header class="pc-header inside-page" id="inside-page">
        <div class="topbar-header" id="topbar">
            <div class="container-fluid">
                <div class="d-flex flex-wrap align-items-center">
                    <h1 class="logo logo-inside m-0">
                        <nuxt-link :to="localePath({name: 'index'})" class="image">
                            <img src="~/assets/images/icon/logo-spotech.png" alt="">
                        </nuxt-link>
                    </h1>
                    <div class="topbar-head-menu  ml-0 pl-lg-5">
                        <div class="box-menu-header-inside">
                            <ul class="list-menu list">
                                <li class="item-menu">
                                    <nuxt-link :to="localePath({name: 'guide-client'})" class="text-link heading-4 text">
                                        {{ $t("Client") }}
                                    </nuxt-link>
                                </li>
                                <li class="item-menu">
                                    <nuxt-link :to="localePath({name: 'guide-expert'})" class="text-link heading-4 text">
                                        {{ $t("Expert") }}
                                    </nuxt-link>
                                </li>
                                <li class="item-menu">
                                    <nuxt-link :to="localePath({name:'guide-relief'})" class="text-link heading-4 text">
                                        {{ $t("Relief") }}
                                    </nuxt-link>
                                </li>
                                <li class="item-menu">
                                    <nuxt-link :to="localePath({name:'guide-revenue_plan'})" class="text-link heading-4 text">
                                        {{ $t("Revenue") }}
                                    </nuxt-link>
                                </li>
                                <li class="item-menu">
                                    <nuxt-link :to="localePath({name:'guide-business'})" class="text-link heading-4 text">
                                        {{ $t("webNavBusinessSupport") }}
                                    </nuxt-link>
                                </li>
                            </ul>
                        </div>
                    </div>
                    <div class="btn-head-right ml-sm-auto ml-0">
                        <div class="head-right">
                            <nuxt-link :to="gotoIndex()" class="item">
                                {{ $t("Begin") }}
                            </nuxt-link>
                        </div>
                    </div>
                    <div class="bar-menu-inside ml-auto"><i class="fas fa-bars" style="color: #fff; font-size: 20px;"></i></div>
                </div>
            </div>
        </div>
        <modal v-if="isShowModalIndex == 3" @close="onShowModal(0)" class="modal-spotech">
            <template slot="body">
                <Login v-if="isShowModalIndex == 3" @onShowModal="onShowModal" @closeModal="onShowModal($event)" />
            </template>
        </modal>
    </header>
</template>
<script>
  import eventBus from "~/services/bus";
  export default {
    data() {
      return {
        locale: '',
        isShowModalIndex: 0,
      }
    },
    components: {
      Login: () => import("~/components/popup/Login"),
      Modal: () => import("~/components/share/Modal"),
    },
    computed:{
      loggedIn() {
        return this.$store.getters.loggedIn
      },
    },
    methods:{
      onShowModal(index) {
        this.isShowModalIndex = index;
      },
      gotoIndex() {
        if (this.loggedIn) return this.localePath({name: 'index'});
        return this.localePath({name: 'index', query: {redirect_modal_signup: 'open'}})
      }
    },
    created() {
        let me = this;
        eventBus.$on("onLogin", e => {
            me.isShowModalIndex = 3;
        });
    },
    mounted() {
      this.locale = this.$store.getters.getLocale;
    }
  }
</script>
<style>
a.text-link.heading-4.text.nuxt-link-exact-active.nuxt-link-active{
        border-bottom: 2px solid #77D353;
    color: #77D353;
}
</style>
