<template>
  <div>
    <div class="upper-header">
      <div class="container">
        <div class="row">
          <div class="col-12" ref="dropdowns">
            <div class="wp-upper-hd">
              <ul class="list">
                <li>
                  <a v-bind:class="{ 'searched': typeSearch }"
                    @click="dropdown($event)" href="javascript:;"
                    title class="item-upper-hd bg-btn">{{ lableSearch }}</a>
                  <form action method class="form drop group-drop" id="unspecified">
                    <div class="upper-header-fixed">
                      <a href="b-1.html" class="d-block color-black font-16">
                        <i class="fas fa-times"></i>
                      </a>
                    </div>
                    <div class="list-drop">
                      <div class="checkbox circle padding-y-5" v-for="(r, i) in Unspecified" :key="`Unspecified--${i}`">
                        <input type="radio" :id="`vote-${i}`"
                          v-model="listQuery.typeSearch"
                          :value="r.value"
                          :checked="isChecked(r.value, 'typeSearch')" />
                        <label :for="`vote-${i}`" class="check">{{ r.title }}</label>
                      </div>
                      <span class="note-drop-upper">* {{ $t('SearchDropdownNote') }}</span>
                    </div>
                    <div class="text-right note">
                        <a title class="text-link color-green heading-4" @click="search($event)">{{ $t('SearchApply') }}</a>
                    </div>
                  </form>
                </li>
                <li>
                  <a title class="item-upper-hd bg-btn"
                    v-bind:class="{ 'searched': work }"
                    @click="goToSearchTopic">{{ themeTitle }}</a>
                </li>
                <li>
                  <a v-bind:class="{ 'searched': duration }" @click="dropdown($event)" href="javascript:;" title class="item-upper-hd bg-btn">{{ durationTitle }}</a>
                  <div class="form drop group-time">
                    <div class="upper-header-fixed">
                      <a href="b-1.html" class="d-block color-black font-16">
                        <i class="fas fa-times"></i>
                      </a>
                    </div>
                    <ul class="list-drop row">
                      <li class="col-md-6 col-12" v-for="(d, i) in durations" v-bind:key="i">
                        <div class="checkbox">
                          <input type="checkbox"
                            :checked="isCheckedSearch(d.id, 'duration')"
                            :id="`time-${i}`"
                            :value="d.id"
                            @change="handleDurationChange(d.id, $event)" />
                          <label :for="`time-${i}`" class="check">{{ d.name }}</label>
                        </div>
                      </li>
                    </ul>
                    <span class="note-drop-upper">{{$t('MultipleSelectionPossible')}}</span>
                    <div class="text-right note">
                      <a title class="text-link color-green heading-4" @click="search($event)">{{ $t('SearchApply') }}</a>
                    </div>
                  </div>
                </li>
                <li class="brand">
                    <a v-bind:class="{ 'searched': sort }" @click="dropdown($event)" href="javascript:;" title class="item-upper-hd bg-btn">{{ sortTitle }}</a>
                    <form action method class="form drop group-drop">
                        <div class="upper-header-fixed">
                            <a href="b-1.html" class="d-block color-black font-16">
                                <i class="fas fa-times"></i>
                            </a>
                        </div>
                        <ul class="list-drop">
                            <li v-for="(s, i) in sorts" :key="`sorts---${i}`">
                                <div class="checkbox circle">
                                    <input type="radio" :id="`sort-${i}`" v-model="listQuery.sort" :value="s.value" name="vote" />
                                    <label :for="`sort-${i}`" class="check">{{ s.title }}</label>
                                </div>
                            </li>
                        </ul>
                        <span class="note-drop-upper">※ {{ $t('SearchDropdownNote') }}</span>
                        <a href="javascript:;" class="text-right note d-block" @click="search($event)">{{ $t('SearchApply') }}</a>
                    </form>
                </li>
              </ul>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="rule"></div>
    <!-- <modal v-if="isShowTopic" :class-modal="'customize-topic ha-custom-modal-big '" @close="onShowTopic">
      <div slot="header">
        <div class="text-head-modal w-100">{{$t('ChooseTheme')}}</div>
      </div>
      <div slot="body">
        <topic />
      </div>
    </modal> -->
</div>
</template>

<script>
import _ from "lodash";
import $ from "jquery";
import eventBus from "~/services/bus";
import { mapGetters, mapState } from "vuex";

export default {
  data() {
    return {
      isShowLogin: false,
      isShowTopic: false,
      listQuery: {
        typeSearch: 3,
        theme: "",
        pageIndex: 1,
        pageSize: 12,
        duration: "",
        sort: "",
      },
      queryString: {},
      duration: false,
      typeSearch: false,
      sort: false,
      work: false,
      SearchTypeText: ""
    };
  },
  components: {
    Topic: () => import("~/components/search/topic"),
    Modal: () => import("~/components/share/Modal")
  },
  watch: {
    "$route.query": function(newValue, oldValue) {
      this.setDefault();
      this.isShowTopic = false;
      if (!newValue || !this.isSearchPage()) return;
      this.queryString = newValue;
      this.appendQuery();
      this.setSearched();
    },
    "$route.path": function(to, from) {
      if (!to || to.indexOf("search") === -1) {
        this.setDefault();
        this.queryString = null;
      }
      if (this.$route.query.work_environment) {
        this.isShowTopic = false;
      }
      this.setSearched();
    }
  },
  computed: {
    ...mapGetters({
      durations: "resource/duration"
    }),
    ...mapState({
      themes: state => state.resource.workEnvironment
    }),
    Unspecified() {
      return [
        {
          title: this.$t("SearchUnspecified"),
          value: 3
        },
        {
          title: this.$t("SearchContests"),
          value: 2
        },
        {
          title: this.$t("SearchExpert"),
          value: 1
        }
      ];
    },
    sorts() {
      return [
        {
          title: this.$t("SearchNew"),
          value: "id"
        },
        {
          title: this.$t("SearchRecommend"),
          value: "hit,wishlist"
        },
        {
          title: this.$t("SearchPopular"),
          value: "hit"
        },
        {
          title: this.$t("SearchFavorite"),
          value: "wishlist"
        }
      ];
    },
    lableSearch() {
      let type = {};
      type = this.Unspecified.find(u => u.value === this.listQuery.typeSearch);
      return _.has(type, 'title') ? type.title : this.$t("SearchUnspecified");
    },
    durationTitle() {
      if (this.listQuery.duration.length !== 1) return this.$t('SearchPeriod');
      const duration = this.durations.find(d => d.id === parseInt(this.listQuery.duration[0]));
      return duration.name || this.$t('SearchPeriod');
    },
    sortTitle() {
      let sort = {};
      sort = this.sorts.find(u => u.value === this.listQuery.sort);
      return _.has(sort, 'title') ? sort.title : this.$t('SearchSort');
    },
    themeTitle() {
      let title = this.$t('SearchTheme');
      const theme = this.listQuery.work_environment;
      if (theme && theme.length === 1 && !_.isEmpty(this.themes)) {
        const we = this.themes.find(t => t.id === this.listQuery.work_environment[0]);
        title = we.name;
      }
      return title;
    }
  },
  methods: {
    setDefault() {
      this.listQuery = {
        typeSearch: 3,
        theme: "",
        pageIndex: 1,
        pageSize: 12,
        duration: "",
        sort: ""
      };
    },
    isSearchPage() {
      return this.$route.path.indexOf("search") >= 0;
    },
    goToSearchTopic() {
      if (!this.accessLogin()) return;
      this.$router.push(this.localePath({name: 'search-topic', query: this.queryString}));
    },
    setSearched() {
      this.typeSearch = this.isSearched("typeSearch");
      this.duration = this.isSearched("duration");
      this.sort = this.isSearched("sort");
      this.work = this.isSearched("work_environment");
    },
    handleFocusOut() {
      const self = this;
      window.addEventListener("click", function(e) {
        const container = self.$refs.dropdowns;
        if (container && !container.contains(e.target)) {
          $(container)
            .find(".active")
            .removeClass("active");
        }
      });
    },
    handleDurationChange(id, $e) {
      if ($e.target.checked) {
        _.isArray(this.listQuery.duration)
          ? this.listQuery.duration.push(id)
          : (this.listQuery.duration = [id]);
      } else {
        this.listQuery.duration.splice(
          _.indexOf(this.listQuery.duration, id),
          1
        );
        !_.isEmpty(this.listQuery.duration) || (this.listQuery.duration = "");
      }
    },
    appendQuery() {
      if (this.queryString && this.isSearchPage()) {
        _.forEach(this.queryString, (q, i) => {
          this.listQuery[i] = i === "sort" ? q : JSON.parse(q);
        });
      }
    },
    isCheckedSearch(id, key) {
      if (!this.listQuery[key]) return;
      return this.listQuery[key].findIndex(r => parseInt(r) === id) >= 0;
    },
    onShowTopic($e) {
      this.isShowTopic = false;
    },
    isSearched(type) {
      if (!this.queryString) return false;
      if (type === "typeSearch" && parseInt(this.queryString.typeSearch) === 3)
        return false;
      const isSearched = _.filter(this.queryString, (q, i) => i === type);
      return !_.isEmpty(isSearched);
    },
    dropdown($e) {
      $e.preventDefault();
      if (!this.accessLogin()) return;
      this.hiddenActive();
      $e.target.parentNode.classList.toggle("active");
    },
    accessLogin() {
      if (!this.isLogined()) {
        eventBus.$emit("onRegister");
        return false;
      }
      return true;
    },
    isLogined() {
      return this.$store.getters.accessToken;
    },
    isChecked(value, key) {
      return value === this.listQuery[key];
    },
    hiddenActive() {
      Array.from(document.getElementsByClassName("active")).forEach(e => {
        e.classList.remove("active");
      });
    },
    search($e) {
      $e.preventDefault();
      this.hiddenActive();
      const queryString = this.assignQueryNotNull(this.listQuery);
      this.$router.push(
        this.localePath({ name: "search", query: queryString })
      );
    }
  },
  mounted() {
    this.handleFocusOut();
  },
  created() {
    if (!this.isSearchPage()) return;
    this.queryString = this.$route.query;
    this.appendQuery();
    this.setSearched();
  }
};
</script>

<style scoped>
.drop {
  min-height: 230px;
}
.brand .drop {
  min-height: 320px;
}
.searched {
  background: #77d353;
}
a {
  cursor: pointer;
}
.rule {
  margin-top: 0;
}


</style>
