<template>
  <header class="pc-header" :class="{'active': active}" id="pc-header" ref="header">
    <div class="topbar-header" id="topbar">
      <div class="container">
        <div class="d-flex justify-content-between align-items-center">
          <div class="d-flex align-items-center width-elasticity">
            <h1 class="logo logo-head">
              <client-only>
                <nuxt-link :to="localePath('index')" class="image" title="link" aria-label="link">
                  <img src="~/assets/images/icon/logo-spotech.png" alt/>
                </nuxt-link>
              </client-only>
            </h1>

            <FormSearch v-show="isShowSearch"/>
          </div>
          <div class="topbar-head-right">
            <div class="box-menu-header">
              <ul class="list d-flex justify-content-between align-items-center">
                <li>
                  <client-only>
                    <nuxt-link
                      :to="localePath({name: 'consultation'})"
                      title
                      class="text-link heading-4 text"
                    >{{ $t('Consultation') }}
                    </nuxt-link>
                  </client-only>
                </li>
                <!--  If Login  -->
                <li v-if="loggedIn" @mouseenter.once="getWishes" @mouseover="onHover(1)" @mouseleave="onHover(0)">
                  <client-only>
                    <a href="javascript:;" class="text-link heading-4 text">
                      {{ $t("Wishlist") }}
                    </a>
                    <div class="group-drop-menu" :class="{'group-drop-menu-hover': hoverIndex == 1}">
                      <wish-list-dropdown ref="wishListDropdown" @closeModal="hoverIndex = 0"/>
                    </div>
                  </client-only>
                </li>
                <li v-if="loggedIn">
                  <client-only>
                    <nuxt-link class="text-link heading-4 text" :to="localePath({name: 'dashboard' })">
                      {{ $t('menuProgress') }}
                    </nuxt-link>
                  </client-only>
                </li>
                <li v-if="loggedIn" @mouseenter.once="getMessages" @mouseover="onHover(2)" @mouseleave="onHover(0)">
                  <client-only>
                    <a href="javascript:;" title class="text-link heading-4 text">
                      {{ $t('message') }} <span class="label label-warning" v-if="messageCountUnread.count">{{ mesCountNumber }}</span>
                    </a>
                    <div class="group-drop-menu" :class="{'group-drop-menu-hover': hoverIndex == 2}">
                      <MessengerHeader ref='messages' @closeModal="hoverIndex = 0" @onOpenNewMessage="onOpenQuickMessage"/>
                    </div>
                    <QuickChatBox v-if="isShowQuickChat" @onClose="onCloseQuickMessage" />
                  </client-only>
                </li>
                <li v-if="loggedIn" @mouseenter.once="getNotifications" @mouseover="onHover(3)" @mouseleave="onHover(0)">
                  <client-only>
                    <a href="javascript:;" title class="text-link heading-4 text">
                      {{ $t('notice') }} <span class="label label-warning" v-if="notifCountUnread.count">{{ notifyCountNumber }}</span>
                    </a>
                    <div class="group-drop-menu" :class="{'group-drop-menu-hover': hoverIndex == 3}">
                      <NotificationHeader ref='notifications' @closeModal="hoverIndex = 0"/>
                    </div>
                  </client-only>
                </li>
                <li v-if="loggedIn" @mouseenter.once="getCompanies" @mouseover="onHover(4)" @mouseleave="onHover(0)">
                  <a href="javascript:;" title class="image-avarta">
                    <img :src="userAvatar" alt/>
                  </a>
                  <div class="group-drop-menu drop-avarta" :class="{'group-drop-menu-hover': hoverIndex == 4}">
                    <div class="upper-header-fixed">
                      <a href="javascript:;" @click="hoverIndex = 0" class="d-block color-black font-16">
                        <i class="fas fa-times"></i>
                      </a>
                    </div>
                    <div class="list-event-avatar">
                      <div class="item">
                        <a
                          class="text-link heading-4 text"
                          @click="goToProfilePage"
                        >{{ $t('webNavProfile') }}</a>
                      </div>
                      <div class="item">
                        <client-only>
                          <nuxt-link
                            :to="localePath({name: 'account-settings'})"
                            title
                            class="text-link"
                          >{{ $t('webNavAccount') }}
                          </nuxt-link>
                        </client-only>
                      </div>
                      <div class="item">
                        <client-only>
                          <nuxt-link
                            :to="localePath({name: 'invite-expert'})"
                            title
                            class="text-link">{{ $t('webNavInviteExpert') }}
                          </nuxt-link>
                        </client-only>
                      </div>
                      <div class="item">
                        <client-only>
                          <nuxt-link
                            :to="localePath({name: 'invite-client'})"
                            title
                            class="text-link">{{$t('webNavInviteClient') }}</nuxt-link>
                        </client-only>
                      </div>
                      <div class="item">
                        <client-only>
                          <nuxt-link
                            :to="localePath({name: 'guide-client'})"
                            title
                            class="text-link heading-4 text"
                          >{{ $t('webNavEasyGuide') }}
                          </nuxt-link>
                        </client-only>
                      </div>
                      <div class="item">
                        <client-only>
                          <nuxt-link
                            :to="localePath({name: 'guide-business'})"
                            title
                            class="text-link heading-4 text"
                          >{{ $t('webNavBusinessSupport') }}
                          </nuxt-link>
                        </client-only>
                      </div>
                      <div class="item">
                        <a href="javascript:;"
                           title
                           @click="isShowModalIndex = 4"
                           class="text-link">{{ $t('webHelp')}}
                        </a>
                      </div>
                      <div class="item">
                        <client-only>
                          <a href="javascript:;"
                             title class="text-link"
                             @click="createProjects">
                            {{ $t('createProject') }}
                          </a>
                        </client-only>
                      </div>
                      <div class="item">
                        <client-only>
                          <a href="javascript:;" @click="logout" title class="text-link">{{ $t('webLogout') }}</a>
                        </client-only>
                      </div>
                    </div>
                    <companies ref="companies" :check-type-expert="true"/>
                  </div>
                </li>
                <!--  End If Login  -->
                <!--  End If not Login  -->
                <li v-if="!loggedIn">
                  <client-only>
                    <nuxt-link :to="localePath({name: 'guide-client'})" title class="text-link heading-4 text">{{
                      $t('webNavEasyGuide') }}
                    </nuxt-link>
                  </client-only>
                </li>
                <li v-if="!loggedIn">
                  <client-only>
                    <a href="javascript:;" title class="text-link heading-4 text" @click="isShowModalIndex = 4">{{
                      $t('webHelp') }}</a>
                  </client-only>
                </li>
                <li v-if="!loggedIn">
                  <client-only>
                    <a href="javascript:;" title class="text-link heading-4 text" @click="isShowModalIndex = 1">{{
                      $t('signup') }}</a>
                  </client-only>
                </li>
                <li v-if="!loggedIn">
                  <client-only>
                    <a href="javascript:;" title class="text-link heading-4 text" @click="isShowModalIndex = 3">{{
                      $t('login') }}</a>
                  </client-only>
                </li>
                <!--  End If not Login  -->
              </ul>
            </div>
          </div>
          <div class="bar-toggle-menu-mobile ml-auto">
            <i class="fas fa-bars text-white" style=" font-size: 20px;" @click="active = !active"></i>
          </div>
        </div>
      </div>
    </div>
    <client-only>
      <div class="content-modal-genneral">
        <modal v-if="isShowModalIndex == 4" align="modal-dialog-right" @close="onShowModal(0)" classModal="modal-help">
          <div slot="header">
            <div class="text-center text-head-modal w-100">{{ $t('RecommendedHelp') }}</div>
          </div>
          <div slot="body">
            <Help @onShowHelpDetail="onShowModal(8)" @onShowModal="onShowModal" @onShowIdDetail="onShowIdDetail"
                  @closeModal="onShowModal(0)"/>
          </div>
        </modal>
      </div>
      <div class="content-modal-genneral">
        <modal v-if="isShowModalIndex == 9" align="modal-dialog-right" @close="onShowModal(0)" classModal="modal-help">
          <div slot="header">
            <div class="text-center text-head-modal w-100">{{ $t('RecommendedHelp')}}</div>
          </div>
          <div slot="body">
            <HelpFormAccount @onShowHelpList="onShowModal(4)" @onShowModal="onShowModal" @closeModal="onShowModal(0)"/>
          </div>
        </modal>
      </div>
      <div class="content-modal-genneral">
        <modal v-if="isShowModalIndex == 10" align="modal-dialog-right" @close="onShowModal(0)">
          <div slot="header">
            <div class="text-center text-head-modal w-100">{{ $t('RecommendedHelp')}}</div>
          </div>
          <div slot="body">
            <Feedback @onShowHelpList="onShowModal(4)" @onShowModal="onShowModal" @closeModal="onShowModal(0)"/>
          </div>
        </modal>
      </div>
      <div class="content-modal-genneral">
        <modal v-if="isShowModalIndex == 11" align="modal-dialog-right" @close="onShowModal(0)">
          <div slot="header">
            <div class="text-center text-head-modal w-100">{{ $t('RecommendedHelp')}}</div>
          </div>
          <div slot="body">
            <Report @onShowHelpList="onShowModal(4)" @onShowModal="onShowModal" @closeModal="onShowModal(0)"/>
          </div>
        </modal>
      </div>
      <modal v-if="isShowCommon()" @close="onShowModal(0)" class="modal-spotech">
        <template slot="body">
          <SignUp v-if="isShowModalIndex == 1" @onShowSignup="onShowModal(2)" @onShowModal="onShowModal"
                  @closeModal="onShowModal(0)"/>
          <SignUpInfo class="modal-body" v-if="isShowModalIndex == 2" @onShowModal="onShowModal"
                      @closeModal="onShowModal(0)"/>
          <Login v-if="isShowModalIndex == 3" @onShowModal="onShowModal" @closeModal="onShowModal($event)"/>
          <ForGotPassword v-if="isShowModalIndex == 5" @onShowModal="onShowModal" @closeModal="onShowModal($event)"/>
          <ShareBox v-if="isShowModalIndex == 6"/>
        </template>
      </modal>
      <modal v-if="isShowModalIndex == 7" @close="onShowModal(0)">
        <div slot="body">
          <HeartFolder :object_id="favorite.object_id" :objData="favorite.objData" :type="favorite.type"
                       @onShowNewFolder="onShowModal(12)" @onShowModal="onShowModal" @closeModal="onShowModal(0)"/>
        </div>
      </modal>
      <modal v-if="isShowModalIndex == 12" @close="onShowModal()">
        <div slot="body">
          <NewWishListFolder @onShowListWishListFolder="onShowModal(7)" @onShowModal="onShowModal"
                             @closeModal="onShowModal($event)"/>
        </div>
      </modal>
<!--      <modal v-if="isShowModalIndex == 13" @close="onShowModal()">-->
<!--        <div slot="header">-->
<!--          <div class="text-center text-head-modal w-100">{{ $t('ChoiseCompany')}}</div>-->
<!--        </div>-->
<!--        <div slot="body">-->
<!--          <companies v-if="isShowModalIndex == 13" :check-type-expert="false" :redirect-path="'project-create'"/>-->
<!--        </div>-->
<!--        <div slot="footer">-->
<!--          <button class="btn btn-warning">{{$t('Close')}}</button>-->
<!--        </div>-->
<!--      </modal>-->
      <el-dialog
        :title="$t('ChoiseCompany')"
        :visible.sync="isShowModalClient"
        width="40%">
        <companies :check-type-expert="false" :redirect-path="'project-create'"/>
        <span slot="footer" class="dialog-footer">
          <el-button @click="isShowModalClient = false">Cancel</el-button>
        </span>
      </el-dialog>
    </client-only>
  </header>
</template>

<script>
  import { mapState, mapGetters } from "vuex";
  import { getNotificationCount, getMessageCount } from '~/services/messenger';
  import eventBus from "~/services/bus";
  import _ from "lodash";
  import Companies from '~/components/home/share/Companies'
  import FormSearch from '~/components/share/FormSearch'

  const cookieCleaner = () => {
    var cookies = document.cookie.split(";");
    for (var i = 0; i < cookies.length; i++) {
      var cookie = cookies[i];
      var eqPos = cookie.indexOf("=");
      var name = eqPos > -1 ? cookie.substr(0, eqPos) : cookie;
      name = name.trim();
      if (name != 'lang' && name != 'currency' && name != 'unit' && name != 'location') {
        document.cookie = name + "=;" + "expires=Thu, 01-Jan-1970 00:00:01 GMT;";
      }
    }
  };

  export default {
    name: "TheNav",
    props:{
      isShowSearch: {
        type: Boolean,
        default: true
      }
    },
    data() {
      return {
        typeExpert: true,
        isShowModalIndex: 0,
        currentType: {},
        avatar: "",
        notifCountUnread:{},
        messageCountUnread:{},
        active: false,
        favorite: {
          object_id: 0,
          type: 1
        },
        hoverIndex: 0,
        isShowModalClient: false,
        isShowQuickChat: false
      };
    },
    components: {
      Login: () => import("~/components/popup/Login"),
      SignUp: () => import("~/components/popup/Signup"),
      SignUpInfo: () => import("~/components/popup/SignupInfo"),
      Help: () => import("~/components/popup/Help"),
      HelpDetail: () => import("~/components/popup/HelpDetail"),
      HelpFormAccount: () => import("~/components/popup/HelpFormAccount"),
      Feedback: () => import("~/components/popup/Feedback"),
      Report: () => import("~/components/popup/Report"),
      ForGotPassword: () => import("~/components/popup/ForgotPassword"),
      FormSearch,
      Modal: () => import("~/components/share/Modal"),
      MessengerHeader: () => import("~/components/messenger/header/List"),
      NotificationHeader: () => import("~/components/notification/header/List"),
      Companies,
      HeartFolder: () => import("~/components/share/HeartWishList"),
      NewWishListFolder: () => import("~/components/share/FormNewWishListFolder"),
      ShareBox: () => import("~/components/share/ShareBox"),
      WishListDropdown: () => import("~/components/wishlist/wishListDropdown"),
      QuickChatBox: () => import("~/components/messenger/QuickBox"),
    },
    computed: {
      ...mapState({
        register: state => state.register,
        auth: state => state.auth
      }),
      ...mapGetters({
        memberType: "members/profile/memberType",
        userID: "getUserId",
        company: "getCompany"
      }),
      companyId() {
        return _.has(this.company, 'company_id') ? this.company.company_id : 0;
      },
      loggedIn() {
        return this.$store.getters.loggedIn;
      },
      userAvatar() {
        return this.avatar;
      },
      meToken() {
        if (!this.auth) return this.auth.access_token
      },
      mesCountNumber() {
        return this.messageCountUnread.count > 99 ? 99 : this.messageCountUnread.count;
      },
      notifyCountNumber() {
        return this.notifCountUnread.count > 99 ? 99 : this.notifCountUnread.count;
      },
    },
    created() {
      let me = this;
      eventBus.$on("onLogin", e => {
        me.isShowModalIndex = 3;
      });
      eventBus.$on("onRegister", e => {
        me.isShowModalIndex = 1;
      });
      eventBus.$on("onRegisterInfo", e => {
        me.isShowModalIndex = 2;
      });
      eventBus.$on("onHelp", e => {
        me.isShowModalIndex = 4;
      });
      eventBus.$on("onForgotPassword", e => {
        me.isShowModalIndex = 5;
      });
      eventBus.$on("onFeedBackModal", e => {
        this.isShowModalIndex = 10;
      });
      eventBus.$on("onFavoriteModal", e => {
        this.favorite.object_id = e.object_id;
        this.favorite.type = e.type;
        this.favorite.objData = e.objData;
        this.isShowModalIndex = 7;
      });
      eventBus.$on("onAddFavorite", e => {
        me.isShowModalIndex = 12;
      });
      eventBus.$on("onCloseModal", e => {
        me.isShowModalIndex = 0;
      });
      eventBus.$on("onShare", e => {
        me.isShowModalIndex = 6;
      });
      const tmp = this.$store.getters.getCompany;
      if (!_.isEmpty(tmp)) {
        this.currentType = tmp
      };
      this.showLogin();
      this.showSignup();
    },
    mounted() {
      try {
        if (!this.loggedIn &&
          this.register != null &&
          this.register.access_token != null) {
          this.isShowModalIndex = 2;
        }
      } catch (e) {}
      if (!_.isEmpty(this.auth)) {
        this.getAvatar();
        this.getNotificationCountUser();
        this.getMessageCountUser();
      }
    },
    methods: {

      onCloseQuickMessage() {
        this.isShowQuickChat = false;
      },
      onOpenQuickMessage() {
        this.hoverIndex = 0;
        this.isShowQuickChat = true;
      },
      onHover(index) {
        this.hoverIndex = index;
      },
      createProjects() {
        const currentType = this.$store.getters.getCompany;
        if (!_.has(currentType, 'company_id')) {
          this.$confirm(this.$t('WantToStartUsingClient'), '', {
            confirmButtonText: this.$t('btnOk'),
            cancelButtonText: this.$t('btnCancel'),
            type: 'warning'
          }).then(() => {
            this.isShowModalClient = true
          }).catch(() => {
          });
        } else {
          this.$router.push(this.localePath({name: 'project-create'}));
        }
      },
      featuresDevelopment() {
      },
      isShowCommon() {
        return this.isShowModalIndex > 0
          && this.isShowModalIndex !== 4
          && this.isShowModalIndex !== 7
          && this.isShowModalIndex < 8;
      },
      getAvatar() {
        if (_.isEmpty(this.auth)) return;
        const user = this.auth.authUser.user;
        this.avatar = user.avatar;
        if (!_.isEmpty(this.$store.getters.getCompany)) {
          this.avatar = this.$store.getters.getCompany.avatar;
        }
        this.$forceUpdate();
      },
      onShowModal(index) {
        this.isShowModalIndex = index;
      },
      onShowIdDetail(index) {
        this.isShowIdDetail = index;
      },
      logout() {
        try {
          localStorage.clear();
          cookieCleaner();
        } catch (e) {
        }
        window.location.href = '/app/logout';
      },
      goToProfilePage() {
        let pathName = 'expert';
        if (_.has(this.$store.getters.getCompany, 'company_id')) {
          pathName = 'profile';
        }
        this.$router.push(this.localePath({name: pathName}));
      },
      showLogin() {
        const query = this.$route.query;
        if (_.has(query, 'redirect_back') || _.has(query, 'redirect_modal')) {
          eventBus.$emit('onLogin');
        }
      },
      showSignup() {
        const query = this.$route.query;
        if (_.has(query, 'redirect_back_signup') || _.has(query, 'redirect_modal_signup')) {
          eventBus.$emit('onRegister');
        }
      },
      getWishes() {
        this.$refs.wishListDropdown.getWishes();
      },
      getCompanies() {
        setTimeout(() => {
          this.$refs.companies.fetchCompanies();
        }, 500)
      },
      getMessages() {
        if (this.$refs.messages) {
          this.$refs.messages.getListChatted();
        }
      },
      getNotifications() {
        if (this.$refs.notifications) {
          this.$refs.notifications.getListNotification();
        }
      },
      async getNotificationCountUser() {
        const {data} = await getNotificationCount({user_id: this.userId, company_id: this.companyId})
        this.notifCountUnread = data;
      },
      async getMessageCountUser() {
        const {data} = await getMessageCount({})
        this.messageCountUnread = data;
      }
    },
    watch: {
      "$route.query": function() {
        this.showLogin();
        this.showSignup();
        this.getAvatar();
      },
      "$route.path": function() {
        if (this.$store.getters.getCompany) {
          this.avatar = this.$store.getters.getCompany.avatar;
        }
      }
    },
  }
</script>

<style>
  a {
    cursor: pointer;
  }
  @media (min-width: 576px) {
    .modal-dialog {
      max-width: 569px !important;
      margin: 1.75rem auto;
    }
  }
  .modal-dialog {
    max-width: auto;
  }
  .group-drop-menu.drop-avarta {
    z-index: 100;
  }
  .label.label-warning {
    position: absolute;
    top: 15px;
    right: -10px;
    text-align: center;
    font-size: 10px;
    min-width: 15px;
    padding: 5px 3px;
    border-radius: 2px;
    line-height: .9;
    background-color: #dd4b39;
  }
  .box-menu-header .list > li:hover .label.label-warning {
    color: #ffffff;
  }

  .box-menu-header .list > li:hover .group-drop-menu {
    opacity: 0;
    visibility: hidden;
    -webkit-transition: 0s;
    transition: 0s;
  }
  .group-drop-menu-hover{
    opacity: 1 !important;
    visibility: visible !important;
    -webkit-transition: 0.5s;
    transition: 0.5s;
  }
</style>
