<template>
    <div>
        <editor v-model="content" :init="{...init}" :disabled="this.disabled"></editor>
    </div>
</template>
<script>
    import Editor from '@tinymce/tinymce-vue';

    import 'tinymce/tinymce';
    import 'tinymce/plugins/advlist';
    import 'tinymce/plugins/autolink';
    import 'tinymce/plugins/lists';
    import 'tinymce/plugins/link';
    import 'tinymce/plugins/charmap';
    import 'tinymce/plugins/preview';
    import 'tinymce/plugins/hr';
    import 'tinymce/plugins/searchreplace';
    import 'tinymce/plugins/wordcount';
    import 'tinymce/plugins/code';
    import 'tinymce/plugins/fullscreen';
    import 'tinymce/plugins/table';
    import 'tinymce/plugins/paste';
    import 'tinymce/plugins/print'
    import 'tinymce/plugins/insertdatetime'
    import 'tinymce/themes/silver/index'

    export default {
        components: {
            editor: Editor
        },
        props: {
            value: {
                type: String,
                default: ''
            },
            height: {
                type: Number,
                default: 500
            },
            disabled: {
                type: Boolean,
                default: false
            }
        },
        data() {
            return {
                init: {
                    plugins: [
                        'wordcount', 'link', 'hr', 'autolink', 'searchreplace',
                        'paste', 'print', 'insertdatetime',
                        'table', 'lists', 'advlist',
                        'preview', 'code', 'fullscreen', 'charmap'
                    ],
                    toolbar: 'undo redo | styleselect | bold italic underline strikethrough | alignleft aligncenter alignright alignjustify | forecolor backcolor | numlist bullist | outdent indent | link image | removeformat fullscreen code wordcount print',
                    automatic_uploads: true,
                    dataValue: '',
                    height: this.height,
                    disabled: this.disabled,
                }
            }
        },
        computed: {
            content: {
                get() {
                    return this.value;
                },
                set(content) {
                    this.$emit('input', content);
                }
            }
        },
    }
</script>
