<template>
  <div class="group">
    <div class="row">
      <div class="col-md-3 col-12">
        <div class="title-form text-md-right text-left">{{$t('Educations')}}</div>
      </div>
      <div class="col-md-9 col-12">
        <div class="group-education" v-for="(v, k) in data" :key="`educations-${k}`">
          <div class="row">
            <div class="col-md-6 col-12 mb-3">
              <div class="item">
                <ElRemoteSearch v-model="v.nation_id" :defaultValue="v.nation_name" returnValue="id"
                                :method="searchClient"/>
              </div>
            </div>
            <div class="col-md-6 col-12 mb-3">
              <div class="item">
                <ElRemoteSearch v-model="v.university_id" :defaultValue="v.university_name" returnValue="id"
                                :method="searchUniversity"/>
              </div>
            </div>
            <div class="col-md-4 col-12 mb-3">
              <div class="item">
                <ElRemoteSearch v-model="v.degree_id" :defaultValue="v.degree_name" returnValue="id"
                                :method="searchDegree"/>
              </div>
            </div>
            <div class="col-md-4 col-12 mb-3">
              <div class="item">
                <ElRemoteSearch v-model="v.major_id" :defaultValue="v.major_name" returnValue="id"
                                :method="searchMajor"/>
              </div>
            </div>
            <div class="col-md-4 col-12 mb-3">
              <div class="item">
                <el-select v-model="v.year_graduation">
                  <el-option v-for="(i, key) in $arrayFromToNumber(1970, currentYear()).reverse()" :key="`year-${key}`"
                             :value="i" :label="i">
                  </el-option>
                </el-select>
              </div>
            </div>
          </div>
          <div class="rules"></div>
        </div>
      </div>
    </div>
    <div class="row">
      <div class="col-md-3 col-12">
        <div class="title-form text-md-right text-left"></div>
      </div>
      <div class="col-md-9 col-12">
        <el-popover placement="bottom" width="800" trigger="manual" v-model="visible">
          <el-form :model="obj" :rules="rules" ref="ruleForm">
            <div class="p-3" v-if="visible">
              <div class="form-group">
                <div class="row">
                  <div class="col-md-6 col-12 mb-3">
                    <div class="item">
                      <el-form-item prop="nation">
                        <ElRemoteSearch :placeholder="$t('Nation')" v-model="obj.nation" :method="searchClient"/>
                      </el-form-item>
                    </div>
                  </div>
                  <div class="col-md-6 col-12 mb-3">
                    <div class="item">
                      <el-form-item prop="university">
                        <ElRemoteSearch :placeholder="$t('University')" v-model="obj.university"
                                        :method="searchUniversity"/>
                      </el-form-item>
                    </div>
                  </div>
                  <div class="col-md-4 col-12 mb-3">
                    <div class="item">
                      <el-form-item prop="degree">
                        <ElRemoteSearch :placeholder="$t('Degree')" v-model="obj.degree" :method="searchDegree"/>
                      </el-form-item>
                    </div>
                  </div>
                  <div class="col-md-4 col-12 mb-3">
                    <div class="item">
                      <el-form-item prop="major">
                        <el-input :placeholder="$t('Major')" v-model="obj.major"/>
                      </el-form-item>
                    </div>
                  </div>
                  <div class="col-md-4 col-12 mb-3">
                    <div class="item">
                      <el-form-item prop="year_graduation">
                        <el-select v-model="obj.year_graduation" :placeholder="$t('year_graduation')" filterable>
                          <el-option v-for="(i, key) in $arrayFromToNumber(1970, currentYear() + 5).reverse()"
                                     :key="`year-${i}`"
                                     :value="i" :label="i">
                          </el-option>
                        </el-select>
                      </el-form-item>
                    </div>
                  </div>
                </div>
              </div>
              <div class="form-group">
                <el-button size="small" type="primary" @click.stop="handleSaveEducation">{{$t('Save')}}</el-button>
                <el-button size="small" type="danger" @click="closePopover">{{$t('Close')}}</el-button>
              </div>
            </div>
          </el-form>
          <a href="javascript:;" class="add-file color-grey mt-2"
             slot="reference" @click.stop="openPopover" >
          <span class="icon mr-3">
            <img src="~/assets/images/icon/action-1.png" alt="">
          </span>
            <span class="texts font-12 ">{{$t('AddEducation')}}</span>
          </a>
        </el-popover>
      </div>
    </div>
  </div>
</template>

<script>
  import {mapActions} from 'vuex'
  import {on, off} from 'element-ui/src/utils/dom';

  export default {
    props: ['value'],
    components: {
      ElRemoteSearch: () => import('~/components/share/ElRemoteSearch')
    },
    data() {
      return {
        data: [],
        obj: {
          nation: null,
          university: null,
          major: null,
          degree: null,
          year_graduation: null,
        },
        rules: {
          university: [
            {required: true, message: this.$t('UniversityIsRequired'), trigger: 'blur'},
          ],
          nation: [
            {required: true, message: this.$t('NationIsRequired'), trigger: 'blur'}
          ],
          major: [
            {required: true, message: this.$t('MajorIsRequired'), trigger: 'blur'}
          ],
          degree: [
            {required: true, message: this.$t('DegreeIsRequired'), trigger: 'blur'}
          ],
          year_graduation: [
            {required: true, message: this.$t('YearGraduationIsRequired'), trigger: 'blur'}
          ],
        },
        visible: false
      }
    },
    methods: {
      ...mapActions({
        searchClient: 'resource/nation/searchClient',
        searchUniversity: 'resource/searchUniversity',
        searchDegree: 'resource/searchDegree',
        searchMajor: 'resource/searchMajor',
      }),
      closePopover() {
        this.visible = false
      },
      openPopover() {
        this.visible = true
      },
      handleSaveEducation() {
        this.$refs['ruleForm'].validate((valid) => {
          if (!valid) return;
          let obj = {
            nation_id: this.obj.nation.id,
            nation_name: this.obj.nation.name,
            university_id: this.obj.university.id,
            university_name: this.obj.university.name,
            major_id: this.obj.major.id,
            major_name: this.obj.major.name,
            degree_id: this.obj.degree.id,
            degree_name: this.obj.degree.name,
            year_graduation: this.obj.year_graduation
          }
          this.data.push(obj);
          this.visible = false;
          this.obj = {}
        });
      }
    },
    mounted() {
      this.data = this.value || [];
      on(document, 'click', this.closePopover)
    },
    destroyed() {
      off(document, 'click', this.closePopover)
    }
  }
</script>

<style scoped>

</style>
