<template>
  <div class="group">
    <div class="row">
      <div class="col-md-3 col-12">
        <div class="title-form text-md-right text-left">{{$t('WorkHistory')}}</div>
      </div>
      <div class="col-md-9 col-12">
        <div class="group-education" v-for="(v, k) in data" :key="`works-${k}`">
          <div class="row">
            <div class="col-md-6 col-12 mb-3">
              <div class="item">
                <ElRemoteSearch v-model="v.nation_id" :defaultValue="v.nation_name" returnValue="id"
                                :method="searchClient"/>
              </div>
            </div>
            <div class="col-md-6 col-12 mb-3">
              <div class="item">
                <el-input :placeholder="$t('placeholderTitleWorks')" v-model="v.title"></el-input>
              </div>
            </div>
            <div class="col-md-12 col-12 mb-3">
              <div class="item">
                <el-input v-model="v.company" :placeholder="$t('placeholderCompany')"></el-input>
              </div>
            </div>
            <div class="col-md-12 col-12 mb-3">
              <div class="item">
                <div class="body-in-total mt-0 circle-bg">
                  <div class="group-left">
                    <div class="group-row">
                      <div class="checkbox">
                        <input type="checkbox" v-model="v.is_working" :id="k + 'stillWorking'" class="font-14">
                        <label :for="k + 'stillWorking'" class="check font-12">{{$t('stillWorking')}}</label>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <div class="row">
            <div class="col-12">
              <div class="row">
                <div class="col-md-6 col-12">
                  <div class="group-date">
                    <div class="title font-12 color-grey mb-1">{{$t('startDate')}}</div>
                    <div class="item-date mb-3">
                      <el-select v-model="v.time_start.month" :placeholder="$t('month')">
                        <el-option v-for="(i, key) in $arrayFromToNumber(1, 12)"
                                   :key="`${v.id}_${k}_month_start-${key}`" :value="i" :label="i">
                        </el-option>
                      </el-select>
                    </div>

                    <div class="item-date mb-3">
                      <el-select v-model="v.time_start.year" :placeholder="$t('year')">
                        <el-option v-for="(i, key) in $arrayFromToNumber(1970, currentYear()).reverse()"
                                   :key="`${v.id}_${k}_year_start_${key}`" :value="i" :label="i">
                        </el-option>
                      </el-select>
                    </div>
                  </div>
                </div>
                <div class="col-md-6 col-12" v-if="!v.is_working">
                  <div class="group-date">
                    <div class="title font-12 color-grey mb-1">{{$t('endDate')}}</div>
                    <div class="item-date mb-3">
                      <el-select v-model="v.time_end.month" :placeholder="$t('month')">
                        <el-option v-for="(i, key) in $arrayFromToNumber(1, 12)"
                                   :key="`${v.id}_month_end_${key}`" :value="i" :label="i">
                        </el-option>
                      </el-select>
                    </div>

                    <div class="item-date mb-3">
                      <el-select v-model="v.time_end.year" :placeholder="$t('year')">
                        <el-option v-for="(i, key) in $arrayFromToNumber(1970, currentYear()).reverse()"
                                   :key="`${v.id}_year_end_${key}`" :value="i" :label="i">
                        </el-option>
                      </el-select>
                    </div>
                  </div>
                </div>
                <!--                <span class="error col-12 d-block" v-if="errorDatetime[k].isError">{{ errorDatetime[k].message }}</span>-->
                <div class="col-12 mb-3">
                  <el-input type="textarea"
                            :autosize="{minRows: 5, maxRows: 15}" v-model="v.sapo"></el-input>
                </div>
              </div>
            </div>
          </div>
          <div class="rules"></div>
        </div>
      </div>
    </div>
    <div class="row">
      <div class="col-md-3 col-12">
        <div class="title-form text-md-right text-left"></div>
      </div>
      <div class="col-md-9 col-12">
        <el-popover placement="bottom" width="800" trigger="manual" v-model="visible">
          <el-form :model="obj" :rules="rules" ref="ruleForm">
            <div class="p-3" v-if="visible">
              <div class="row">
                <div class="col-md-6 col-12 mb-3">
                  <div class="item">
                    <el-form-item prop="nation">
                      <ElRemoteSearch v-model="obj.nation" :method="searchClient" @focus="clearValidate('nation')"
                                      :placeholder="$t('Nation')"/>
                    </el-form-item>
                  </div>
                </div>
                <div class="col-md-6 col-12 mb-3">
                  <div class="item">
                    <el-form-item prop="title">
                      <el-input :placeholder="$t('placeholderTitleWorks')" @focus="clearValidate('title')"
                                v-model="obj.title"></el-input>
                    </el-form-item>
                  </div>
                </div>
                <div class="col-md-12 col-12 mb-3">
                  <div class="item">
                    <el-form-item prop="company">
                      <el-input v-model="obj.company" @focus="clearValidate('company')"
                                :placeholder="$t('placeholderCompany')"></el-input>
                    </el-form-item>
                  </div>
                </div>
                <div class="col-md-12 col-12 mb-3">
                  <div class="item">
                    <div class="body-in-total mt-0 circle-bg">
                      <div class="group-left">
                        <div class="group-row">
                          <div class="checkbox">
                            <input type="checkbox" v-model="obj.is_working" :id="'stillWorking'" class="font-14">
                            <label :for="'stillWorking'" class="check font-12">{{$t('stillWorking')}}</label>
                          </div>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
              <div class="row">
                <div class="col-12">
                  <div class="row">
                    <div class="col-md-6 col-12">
                      <div class="group-date">
                        <div class="title font-12 color-grey mb-1">{{$t('startDate')}}</div>
                        <div class="item-date mb-3">
                          <el-form-item prop="time_start.month">
                            <el-select v-model="obj.time_start.month" :placeholder="$t('month')">
                              <el-option v-for="(i, key) in $arrayFromToNumber(1, 12)" :key="`month_start_${key}`"
                                         :value="i"
                                         :label="i">
                              </el-option>
                            </el-select>
                          </el-form-item>
                        </div>
                        <div class="item-date mb-3">
                          <el-form-item prop="time_start.year">
                            <el-select v-model="obj.time_start.year" :placeholder="$t('year')">
                              <el-option v-for="(i, key) in $arrayFromToNumber(1970, currentYear()).reverse()"
                                         :key="`year_start_${key}`" :value="i"
                                         :label="i">
                              </el-option>
                            </el-select>
                          </el-form-item>
                        </div>
                      </div>
                    </div>
                    <div class="col-md-6 col-12" v-if="!obj.is_working">
                      <div class="group-date">
                        <div class="title font-12 color-grey mb-1">{{$t('endDate')}}</div>
                        <div class="item-date mb-3">
                          <el-form-item prop="time_end.month">
                            <el-select v-model="obj.time_end.month" :placeholder="$t('month')">
                              <el-option v-for="(i, key) in $arrayFromToNumber(1, 12)" :key="`month_end_${key}`"
                                         :value="i"
                                         :label="i">
                              </el-option>
                            </el-select>
                          </el-form-item>
                        </div>
                        <div class="item-date mb-3">
                          <el-form-item prop="time_end.year">
                            <el-select v-model="obj.time_end.year" :placeholder="$t('year')">
                              <el-option v-for="(i, key) in $arrayFromToNumber(1970, currentYear()).reverse()"
                                         :key="`year_end_${key}`" :value="i" :label="i">
                              </el-option>
                            </el-select>
                          </el-form-item>
                        </div>
                      </div>
                    </div>
                    <div class="col-12 mb-3">
                      <el-input type="textarea"
                                :autosize="{minRows: 5, maxRows: 15}" v-model="obj.sapo"></el-input>
                    </div>
                  </div>
                </div>
              </div>
              <div class="form-group">
                <el-button size="small" type="primary" @click.stop="handleSaveWork">{{$t('Save')}}</el-button>
                <el-button size="small" type="danger" @click="closePopover">{{$t('Close')}}</el-button>
              </div>
            </div>
          </el-form>
          <a href="javascript:;" class="add-file color-grey mt-2"
             slot="reference" @click.stop="openPopover">
          <span class="icon mr-3">
            <img src="~/assets/images/icon/action-1.png" alt="">
          </span>
            <span class="texts font-12 ">{{$t('AddWorkHistory')}}</span>
          </a>
        </el-popover>
      </div>
    </div>
  </div>
</template>

<script>
  import {on, off} from 'element-ui/src/utils/dom';
  import {mapActions} from 'vuex'
  import _ from 'lodash'

  const regexJapanCharacter = /[a-zA-Z]|[\u3400-\u9FBF]|[\u3000-\u303F]|[\u3040-\u309F]|[\u30A0-\u30FF]|[\uFF00-\uFFEF]|[\u4E00-\u9FAF]|[\u2605-\u2606]|[\u2190-\u2195]|\u203B/;
  const formatTime = (time) => {
    let month = '',
    year = '';
    if (time) {
      [month, year] = time.split('/')
    }
    return {month, year}
  }
  const baseObject = {
    company: '',
    is_working: false,
    nation: null,
    sapo: '',
    title: '',
    time_start: {
      month: '',
      year: ''
    },
    time_end: {
      month: '',
      year: ''
    }
  }

  export default {
    props: ['value'],
    components: {
      ElRemoteSearch: () => import('~/components/share/ElRemoteSearch')
    },
    data() {
      const checkTimeStartYear = (rule, value, callback) => {
        let {time_start} = this.obj
        if (time_start.month && !time_start.year) {
          callback(new Error(this.$t('TimeStartYearIsRequired')))
        }
        if (value && !time_start.month) {
          callback(new Error(this.$t('TimeStartMonthIsRequired')))
        }
        callback()
      };
      const checkTimeEndMonth = (rule, value, callback) => {
        let {time_start, time_end, is_working} = this.obj
        if (time_end.month && !time_start.month) {
          callback(new Error(this.$t('TimeStartMonthIsRequired')))
        }
        if (time_start.year && !value && !is_working) {
          callback(new Error(this.$t('TimeEndMonthIsRequired')))
        }
        if (time_start.year === time_end.year) {
          if (time_start.month > time_end.month) {
            callback(new Error(this.$t('TimeEndMonthIsWrongFormat')))
          }
        }
        callback()
      };
      const checkTimeEndYear = (rule, value, callback) => {
        let {time_start, time_end} = this.obj
        if (time_end.year && !time_end.month) {
          callback(new Error(this.$t('TimeEndMonthIsRequired')))
        }
        if (time_start.year > time_end.year) {
          callback(new Error(this.$t('TimeEndYearIsWrongFormat')))
        }
        if (!value && time_end.month) {
          callback(new Error(this.$t('TimeEndYearIsRequired')))
        }
        callback()
      };

      return {
        data: [],
        obj: {},
        visible: false,
        rules: {
          company: [
            {required: true, message: this.$t('pleaseInputCompany'), trigger: 'blur'},
            {pattern: regexJapanCharacter, message: this.$t('pleaseInputLowercaseCompany'), trigger: 'blur'}
          ],
          nation: [
            {required: true, message: this.$t('NationIsRequired'), trigger: 'blur'}
          ],
          title: [
            {required: true, message: this.$t('JobTitleIsRequired'), trigger: 'blur'},
            {pattern: regexJapanCharacter, message: this.$t('pleaseInputLowercaseJobTitle'), trigger: 'blur'}
          ],
          time_start: {
            year: [
              {validator: checkTimeStartYear, trigger: ['blue', 'change']},
            ]
          },
          time_end: {
            month: [
              {validator: checkTimeEndMonth, trigger: ['blue', 'change']},
            ],
            year: [
              {validator: checkTimeEndYear, trigger: ['blue', 'change']}
            ]
          },
        },
        errorDatetime: [],
      }
    },
    watch: {
      data: {
        handler: 'handlerEmitData',
        deep: true
      }
    },
    methods: {
      ...mapActions({
        searchClient: 'resource/nation/searchClient'
      }),
      closePopover() {
        this.visible = false
      },
      openPopover() {
        this.visible = true
      },
      clearValidate(type) {
        return this.$refs['ruleForm'].clearValidate(type);
      },
      handleSaveWork() {
        this.$refs['ruleForm'].validate((valid) => {
          if (!valid) {
            return;
          }
          let obj = {...this.obj};
          obj.nation_id = obj.nation.id;
          obj.nation_name = obj.nation.name;
          this.data.push(obj);
          this.visible = false;
          this.obj = JSON.parse(JSON.stringify(baseObject))
        });
      },
      handlerEmitData() {
        let array = JSON.parse(JSON.stringify(this.data));
        if (!array.length) return;
        array = array.map(value => {
          let {time_end, time_start} = value
          value.time_end = time_end.year ? time_end.month + '/' + time_end.year : ''
          value.time_start = time_start.year ? time_start.month + '/' + time_start.year : ''
          return value
        })
        this.$emit('input', array);
      },
      getData() {
        this.data = JSON.parse(JSON.stringify(this.value)) || []
        if (this.data.length) {
          this.data = this.data.map(value => {
            value.time_start = formatTime(value.time_start)
            value.time_end = formatTime(value.time_end)
            return value
          })
        }
      }
    },
    mounted() {
      this.getData();
      this.obj = JSON.parse(JSON.stringify(baseObject))
      on(document, 'click', this.closePopover)
    },
    destroyed() {
      off(document, 'click', this.closePopover)
    }
  }
</script>

<style scoped>
  .error {
    color: red;
    padding-left: 12px;
    font-size: 12px;
    margin-top: -8px;
    margin-bottom: 10px;
  }
</style>
