<template>
  <div class=" group-item-aside group-item-big mb-4">
    <div class="header">
      <div class="title">{{$t('Carrer')}}</div>
    </div>
    <div class="panle-body-content">
      <FormEducations v-model="listEducation"/>
      <FormWorks ref="work" v-model="listWork"/>
    </div>
  </div>
</template>
<script> 

  export default {
    props: ['works', 'educations'],
    components: {
      FormEducations: () => import('./FormEducations'),
      FormWorks: () => import('./FormWorks')
    },
    data() {
      return {
        listWork: null,
        listEducation: null,
      }
    },
    computed: {
      errorDate() {
        return this.$refs.work.errorDatetime;
      }
    },
    watch: {
      listWork: {
        handler: function () {
          this.$emit('update:works', this.listWork)
        },
        deep: true
      },
      listEducation: {
        handler: function () {
          this.$emit('update:educations', this.listEducation)
        },
        deep: true
      },
    },
    mounted() {
      this.listWork = this.works
      this.listEducation = this.educations
    }
  }
</script>
<style>

</style>

