<template>
<div>
    <Banner></Banner>
    <div class="group-b112">
        <div class="container">
            <div class="row">
                <div class="col-12">
                    <form action method class="form">
                        <div class="group-form">
                            <header class="panel-head">
                                <h2 class="heading-2 title-heading">
                    <span>{{$t('PleaseFillTitle')}}</span>
                  </h2>
                            </header>
                            <input type="text" v-model="objData.project.title" class="input-text w-100" :placeholder="$t('placeholderTitleOfWork')" />
                            <div v-if="submitted && !$v.objData.project.title.required" class="noti-err">{{$t('itemcannotempty')}}</div>
                        </div>
                        <div class="group-form">
                            <header class="panel-head">
                                <div class="heading-2 title-heading mb-2">{{$t('PleaseTellDetails')}}</div>
                            </header>
                            <textarea name rows="7" class="w-100 textarea" v-model="objData.project.content" :placeholder="$t('PleaseFillDetailsWant')"></textarea>
                            <div v-if="submitted && !$v.objData.project.content.required" class="noti-err">{{$t('itemcannotempty')}}</div>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
    <div class="container">
        <div class="group-tab-b112">
            <div class="row">
                <div class="col-12">
                    <header class="panel-head-tab-b112">
                        <div class="row">
                            <div class="col-12 mb-md-0 mb-4">
                                <div class="heading-2 text-white text-center margin-bottom-35">{{$t('AddProjectPhoto')}}</div>
                                <div class="item text-center">
                                    <div class="img-thumb">
                                        <ImageUpload :is-create="true" v-model="objData.project.image"></ImageUpload>
                                    </div>
                                </div>
                                <div v-if="submitted && !$v.objData.project.image.required" class="noti-err">{{$t('itemcannotempty')}}</div>
                            </div>
                        </div>
                    </header>
                    <section class="body mb-hp">
                        <div class="group-tab">
                            <form action method class="form-circle">
                                <div class="title heading-2 mb-4">{{$t('AddProjectTitleSelectJob')}}</div>
                                <div class="group-row" v-for="(i, key) in category" :key="`category--${key}`">
                                    <div class="checkbox circle">
                                        <input :value="i.id" type="radio" :id="'tick-2-'+key" name="vote" checked="checked" v-model="objData.project.category_id" />
                                        <label :for="'tick-2-'+key" class="check">
                                            {{i.title}}
                                            <div class="desc pl-35">{{i.sapo}}</div>
                                        </label>
                                    </div>
                                </div>
                                <div v-if="submitted && !$v.objData.project.category_id.required" class="noti-err">{{$t('itemcannotempty')}}</div>
                            </form>
                        </div>
                    </section>
                </div>
            </div>
        </div>
        <div class="group-skills mb-hp">
            <div class="title heading-2 mb-4">{{$t('AddProjectTitleSelectJobType')}}</div>
            <div class="row mb-4">
                <div class="col-sm-8 col-12 mb-sm-0 mb-4">
                    <div class="bg-white border-radius-10">
                        <el-select class="w-100 color-grey"
                          v-model="exp.skill_id"
                          filterable
                          remote
                          reserve-keyword
                          placeholder="Java, Python, C++, PHP, Ruby等"
                          @change="showArrExperience"
                          :remote-method="remoteMethod">
                          <el-option v-for="item in skill" :key="item.id" :label="item.name" :value="item.id">{{item.name}}</el-option>
                        </el-select>
                    </div>
                </div>
                <div class="col-sm-4 col-12 mb-sm-0 mb-4 select-custom">
                    <div class="bg-white border-radius-10">
                        <el-select name
                          @focus.once="getSearchYearExperience"
                          @change="showArrExperience"
                          v-model="exp.year_experience_id"
                          class="select-gender w-100 btn-down-black color-grey"
                          :placeholder="$t('YearsOfExperience')">
                          <el-option :disabled="true" value="">{{$t('YearsOfExperience')}}</el-option>
                          <el-option v-for="(i,key) in experience" :key="`experience-${key}`" :value="i.id" :label="i.name"></el-option>
                        </el-select>
                    </div>
                </div>
                <div v-if="submitted && !$v.objData.skills.required" class="noti-err">{{$t('itemcannotempty')}}</div>
            </div>
            <div class="row mb-4">
                <div class="col-12">
                    <ul class="group-voteked">
                        <li class="clearfix" v-for="(i, key) in objData.skills" :key="`skill-${key}`">
                            <a href="javascript:;" class="d-block item clearfix">
                                <span class="cl-1">{{i.skill_name}}</span>
                                <span class="cl-2">{{i.year_experience_name}}</span>
                                <span class="cl-2" @click="removeSkill(i.skill_id)"><i class="fas fa-times"></i></span>
                            </a>
                        </li>
                    </ul>
                </div>
            </div>
            <div class="group-skills mb-hp">
                <div class="title heading-2 mb-4">{{$t('AddProjectTitleSelectJobTypeLang')}}</div>
                <div class="row mb-4">
                    <div class="col-sm-8 col-12 mb-sm-0 mb-4">
                        <div class="bg-white border-radius-10">
                          <el-select class="w-100 color-grey"
                            v-model="lang.language_id"
                            filterable
                            remote
                            reserve-keyword
                            :placeholder="$t('AddProjectPlaceholderSelectJobTypeLang')"
                            @change="showArrLanguage"
                            :remote-method="remoteMethodLanguage">
                            <el-option v-for="item in language" :key="item.id" :label="item.name" :value="item.id"></el-option>
                          </el-select>
                        </div>
                    </div>
                    <div class="col-sm-4 col-12 mb-sm-0 mb-4 select-custom">
                        <div class="bg-white border-radius-10">
                            <el-select name @change="showArrLanguage" @focus.once="getSearchLanguageLevel" v-model="lang.language_level_id" class="select-gender w-100 btn-down-black color-grey" :placeholder="$t('Select')">
                                <el-option value="0" :label="$t('LanguageLevel')">{{$t('LanguageLevel')}}</el-option>
                                <el-option v-for="(i,key) in languagelevel" :key="`languagelevel-${key}`" :label="i.name" :value="i.id"></el-option>
                            </el-select>
                        </div>
                    </div>
                    <div v-if="submitted && !$v.objData.languages.required" class="noti-err">{{$t('itemcannotempty')}}</div>
                </div>
                <div class="row mb-4">
                    <div class="col-12">
                        <ul class="group-voteked">
                            <li class="clearfix" v-for="(i, key) in objData.languages" :key="`language-${key}`">
                                <a href="javascript:;" class="d-block item clearfix">
                                    <span class="cl-1">{{i.language_name}}</span>
                                    <span class="cl-2">{{i.language_level_name}}</span>
                                    <span class="cl-2" @click="removeLanguage(i.language_id)"><i class="fas fa-times"></i></span>
                                </a>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
            <div class="group-range mb-hp">
                <div class="title heading-2 mb-3">{{$t('hiringBudget')}}</div>
                <div class="description font-18 color-lightgrey mb-4">{{ suggestMinPrice }}</div>
                <div class="wp-tb-range">
                    <div class="body">
                        <div class="row mb-2">
                            <div class="col-md-8 col-12 mb-md-0 mb-3">
                                <div class="box-increase-or-decrease">
                                    <div class="item-group texts">
                                      <span class="unit">{{ suggestUnit }}</span>
                                    </div>
                                    <fomat-input-price :price="price" v-model="objData.project.price_end"/>
                                    <div class="group-btn-increase-or-decrease">
                                        <span class="btn-minus btn-q augment" @click="upQty">
                                          <i class="fas fa-chevron-up filter-white"></i>
                                        </span>
                                        <span class="btn-plus btn-q abatement" @click="downQty">
                                          <i class="fas fa-chevron-down filter-white"></i>
                                        </span>
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-4 col-12 mb-md-0 mb-3">
                                <div class="bg-white border-radius-10">
                                    <el-select name
                                      v-model="objData.project.currency_code"
                                      @focus.once="getSearchCurrency"
                                      :disabled="true"
                                      class="select-gender btn-down-special w-100 color-black font-14 font-weight-500"
                                      :placeholder="$t('Select')"
                                      @change="setDefaultPrice">
                                      <el-option :disabled="true" value=" ">{{$t('Change')}}</el-option>
                                      <el-option v-for="(i, key) in currency" :key="`${key}`" :value="i.code">{{i.code}}</el-option>
                                    </el-select>
                                </div>
                                <div v-if="submitted && !$v.objData.project.currency_code.required" class="noti-err">{{$t('itemcannotempty')}}</div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="group-range range-2 mb-hp">
                <div class="wp-tb-range">
                    <div class="body">
                        <div class="row mb-2">
                            <div class="col-md-5 col-12 mb-md-0 mb-3">
                                <div class="title heading-2 mb-3">{{$t('HowManyPeopleWould')}}</div>
                                <div class="box-increase-or-decrease">
                                    <div class="item-group texts text-white">{{$t('Numberofpeople')}}</div>

                                    <el-input class="color-black font-14 font-weight-500 quantity" v-model="objData.project.number_people"></el-input>
                                    <div class="group-btn-increase-or-decrease">
                                        <span class="btn-minus btn-q augment" @click="upQtyPerson">
                                          <i class="fas fa-chevron-up filter-white"></i>
                                        </span>
                                        <span class="btn-plus btn-q abatement" @click="downQtyPerson">
                                          <i class="fas fa-chevron-down filter-white"></i>
                                        </span>
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-5 col-12 mb-md-0 mb-3 offset-md-2">
                                <div class="title heading-2 mb-3">{{$t('desiredRecruitment')}}</div>
                                <div class="form-square">
                                    <div class="row form-circle">
                                        <div class="col-md-4" v-for="(v, key) in duration" :key="'duration'+key">
                                            <div class="form-check">
                                                <label class="form-check-label" :for="'durations' + v.id">
                                                    <input type="checkbox" class="form-check-input" :id="'durations' + v.id" :value="v.id" v-model="objData.durations" /> {{v.name}}
                                                    <i class="input-helper"></i>
                                                </label>
                                            </div>
                                        </div>
                                        <div v-if="submitted && !$v.objData.durations.required" class="noti-err">{{$t('itemcannotempty')}}</div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="mt-3">
                            <div class="form-circle">
                                <div class="group-row">
                                    <div class="desc font-16 color-lightgrey">{{$t('AfterTheRecruitmentStarts')}}</div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="mb-hp">
                <div class="row">
                    <div class="col-md-5 col-12 mb-md-0 mb-4">
                        <div class="title heading-2 mb-4 text-white">{{$t('PleaseTellMeNumber')}}</div>
                        <div class="bg-white border-radius-10">
                            <div class="box-increase-or-decrease">
                                <div class="item-group texts">
                                    <span class>{{$t('Holiday')}}</span>
                                </div>
                                <el-select v-model="objData.project.number_holiday"
                                  class="select-gender btn-down-special color-black font-14 font-weight-500 w-100"
                                  :placeholder="$t('Select')">
                                  <el-option :value="1" :label="$t('1DayAWeek')"/>
                                  <el-option :value="2" :label="$t('2DayAWeek')"/>
                                  <el-option :value="3" :label="$t('3DayAWeek')"/>
                                  <el-option :value="4" :label="$t('4DayAWeek')"/>
                                  <el-option :value="5" :label="$t('5DayAWeek')"/>
                                  <el-option :value="6" :label="$t('6dayaweek')"/>
                                  <el-option :value="7" :label="$t('7dayaweek')"/>
                                </el-select>
                            </div>
                        </div>
                        <div v-if="submitted && !$v.objData.project.number_holiday.required" class="noti-err">{{$t('itemcannotempty')}}</div>
                    </div>
                    <div class="col-md-5 col-12 mb-md-0 mb-3 offset-md-2">
                        <div class="title text-white heading-2 mb-4">{{$t('PleaseTellMeTheArea')}}</div>
                        <div class="bg-white border-radius-10">
                            <div class="box-increase-or-decrease">
                                <div class="item-group texts">
                                    <span class>{{$t('Area')}}</span>
                                </div>
                                <el-select 
                                  v-model="objData.project.nation_id" 
                                  @focus.once="getSearchClient" 
                                  class="select-gender btn-down-special w-100 color-black font-14 font-weight-500" 
                                  :placeholder="$t('Select')">
                                    <el-option
                                       
                                      v-for="(i, key) in areaWork" :key="`areawork--${key}`" 
                                      :value="i.id"
                                      :label="i.name">{{i.name}}</el-option>
                                </el-select>
                            </div>
                        </div>
                        <div v-if="submitted && !$v.objData.project.nation_id.required" class="noti-err">{{$t('itemcannotempty')}}</div>
                    </div>
                </div>
            </div>
            <div class="mb-hp form-square">
                <form action method class="form-circle">
                    <div class="title heading-2 mb-3">{{$t('TellUsAboutWork')}}</div>
                    <div v-if="submitted && !$v.objData.project.way_working.required" class="noti-err">{{$t('itemcannotempty')}}</div>
                    <div class="group-row" v-for="(i, key) in way_working" :key="`way_working---${key}`">
                        <div class="checkbox circle">
                            <input type="checkbox" :id="'tick-4-'+key" v-model="objData.project.way_working" :value="i.id" />
                            <label :for="'tick-4-'+key" class="check">{{i.name}}</label>
                        </div>
                    </div>

                    <div class="group-row mb-4">
                        <div class="desc color-lightgrey font-16">{{$t('MultipleSelectionPossible')}}</div>

                    </div>
                    <div v-if="!objData.project.office_address" class="group-add-workplace d-flex align-items-center" @click="isShowModalIndex = 1">
                        <a href="javascript:;" class="d-flex">
                            <div class="icon">
                                <img src="~/assets/images/icon/icon-write.png" alt />
                            </div>
                            <div class="text-link">{{$t('AddWorkPlace')}}→</div>

                        </a>
                    </div>
                    <div v-if="submitted && !$v.objData.project.office_address.required" class="noti-err">{{$t('itemcannotempty')}}</div>
                    <div v-else class="group-row mb-4">
                        <div class="desc color-lightgrey font-16" style="cursor: pointer;" @click="isShowModalIndex = 1">Address: {{objData.project.office_address}}</div>
                    </div>
                </form>
            </div>
            <div class="group-add-topic mb-hp">
                <div class="title heading-2 mb-3">{{$t('SetAttractiveThemes')}}</div>
                <a href="javascript:;" class="d-block link" @click="isShowModalIndex = 2">{{$t('AddTheme')}}</a>
                <ul class="list-item">
                    <li v-for="(i, key) in listCateShow" :key="`listCateShow---${key}`">
                        <div class="item d-flex align-items-center">
                            <div class="icon">
                                <i class="fas fa-check"></i>
                            </div>
                            <div class="text-link">{{ i.name ? i.name : i.work_environment_name }}</div>
                        </div>
                    </li>
                </ul>
            </div>
            <div class="group-add-topic mb-hp">
                <div class="title heading-2 mb-3">{{$t("AddProjectExpertRuleTitle")}}</div>
                <a href="javascript:;" class="d-block link" @click="isShowModalIndex = 3">{{$t("AddExpertRule")}}</a>
                <ul class="list-item">
                    <li v-for="(i, key) in listRidShow" :key="`listRidShow---${key}`">
                        <div class="item d-flex align-items-center">
                            <div class="icon">
                                <i class="fas fa-check"></i>
                            </div>
                            <div class="text-link">{{i.name ? i.name : i.role_bid_name}}</div>
                        </div>
                    </li>
                </ul>
            </div>
            <div class="margin-bottom-50">
                <div class="group-auction mb-hp">
                    <div class="title heading-2 text-white mb-3">{{$t("AddProjectRecommendedTitle")}}</div>
                    <div class="content-auction clearfix">
                        <div class="img-thumb text-center">
                            <div class="image">
                                <img src="~/assets/images/icon/search-auction.png" alt="search action"/>
                            </div>
                            <div class="intro">
                                <div class="rw-2 mb-2" v-if="lang_current == 'ja'">{{ getDurationMax() }}{{ $t("HireFor") }}</div>
                                <div class="rw-2 mb-2" v-else>{{ $t("HireFor") }} {{ getDurationMax() }}</div>
                                <div class="rw-3 mb-2">{{ objData.project.number_people }} {{ $t("people") }}</div>
                            </div>
                        </div>
                        <div class="info">
                            <h3 class="title mb-2">{{ objData.project.title }}</h3>
                            <div class="desc mb-2">{{ sliceDescription }}</div>
                            <div class="intro mb-2">{{$t('NoHassleOrCost')}}</div>
                            <div class="thumbs" v-if="objData.project.image">
                                <img :src="objData.project.image" :alt="objData.project.title" />
                            </div>
                        </div>
                    </div>
                </div>
                <div class="clearfix">
                    <div class="group-up-project float-right">
                        <div class="d-flex align-items-center">
                            <div class="intro-project text-right">
                                <div class="title">{{$t("RemunerationPerPerson")}}：￥10,000-￥50,000</div>
                                <div class="intro">{{$t('AfterRecruitmentStarts')}}</div>
                            </div>
                            <div class="link-up-project">
                                <el-button class="link d-block" :loading="loading" @click="saveCreateProject">{{$t("StartRecruitment")}}</el-button>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="rule margin-bottom-35"></div>
            <div class="text-white font-size-18 margin-bottom-60">
                {{$t("addProjectTermsconditions_subtext1")}}
                  <nuxt-link class="links" style="color: #2C96EC" :to="localePath({name: 'policy-terms_of_service' })" target="_blank">
                    {{ $t("TermsOfService") }}
                  </nuxt-link>
                {{$t("web_guide_business_and")}}
                  <nuxt-link class="links" style="color: #2C96EC" :to="localePath({name: 'policy-privacy_policy' })" target="_blank">
                    {{ $t("PrivacyPolicy") }}
                  </nuxt-link>
                {{$t("addProjectTermsconditions_subtext2")}}
            </div>
        </div>
    </div>
    <modal v-if="isShowModalIndex == 1" @close="onShowModal(0)">
        <div slot="body">
            <div class="modal-body wp-modal-body">
                <form class="form">
                    <div class="title">{{$t('WorkAddress')}}</div>
                    <el-input type="text" v-model="objData.project.office_address" :placeholder="$t('placeholderWorkAddressCreateProject')"></el-input>
                    <div class="form-group text-center">
                        <br />
                        <button type="button" class="btn btn-success" style="colorecho fs.inotify.max_user_watches=524288 | sudo tee -a /etc/sysctl.conf && sudo sysctl -p: #2C96EC">
                            <span class="text-link" style="color:white;" @click="showValueAddress">{{$t('Save')}}</span>
                        </button>
                    </div>
                </form>
            </div>
        </div>
    </modal>
    <modal v-if="isShowModalIndex == 3" @close="onShowModal(0)">
        <div slot="body">
            <div class="modal-body wp-modal-body">
                <ListRoleBid @closeModal="onShowModal(0)" @busListRid="getListRid($event)"></ListRoleBid>
            </div>
        </div>
    </modal>
    <modalxl v-if="isShowModalIndex == 2" @close="onShowModal(0)">
        <div slot="body">
            <GalleryCategory :list="listCateShow" @closeModal="onShowModal(0)" @busListCate="getListCate($event)"></GalleryCategory>
        </div>
    </modalxl>
</div>
</template>
<script>
import { mapState, mapActions } from "vuex";
import { required, minLength ,minValue} from "vuelidate/lib/validators";
import _ from "lodash";
export default {
  name: "CreateProject",
  middleware: "auth",
  data() {
    return {
      price:0,
      submitted: false,
      text_footer:"",
      isShowModalIndex: 0,
      convertObjData:{},
      objData: {
        company_id: 0,
        project: {
          project_id: 0,
          company_id: 0,
          category_id: "",
          image: "",
          price_end: 100000,
          currency_code: "",
          number_people: 1,
          nation_id: "",
          duration: [],
          number_holiday: "",
          way_working: [],
          office_address: "",
          title: "",
          content: ""
        },
        skills: [],
        languages: [],
        workEnvironments: [
          {
            work_environment_id: 0
          }
        ],
        roleBids: [],
        durations: []
      },
      durations: [],
      category: [],
      way_working: [
        {
          id: 1,
          name: this.$t('create_project_way_working1')
        },
        {
          id: 2,
          name: this.$t('create_project_way_working2')
        }
      ],
      skill: [],
      language: [],
      exp_default: {
        skill_id: "",
        skill_name: "",
        year_experience_id: "",
        year_experience_name: ""
      },
      exp: {
        skill_id: "",
        skill_name: "",
        year_experience_id: "",
        year_experience_name: ""
      },
      lang_default: {
        language_id: "",
        language_name: "",
        language_level_id: "",
        language_level_name: ""
      },
      lang: {
        language_id: "",
        language_name: "",
        language_level_id: "",
        language_level_name: ""
      },
      listCateShow: [],
      listRidShow: [],
      experience: [],
      languagelevel: [],
      currency: [],
      duration: [],
      areaWork: [],
      loading: false,
      lang_current: this.$store.getters.getLocale,
      baseCode: {
        VND: 'vi',
        JPY: 'ja',
        USD: 'en'
      },
      baseUnit: {
        VND: 'đ',
        JPY: '¥',
        USD: '$'
      },
      objGetProjectCopy: {
        company_id: 0,
        project_id: 0,
      },
      objDataProjectCopy: {},
    };
  },
  validations: {
    objData: {
      project:{
        title: { required },
        content:{required},
        image:{required},
        category_id:{required},
        currency_code:{required},
        number_holiday:{required},
        nation_id:{required},
        way_working:{required},
        office_address:{required},
        price_end:{
          minValue: function(value) {
            return ( value > this.price);
          },
        }
      },
      skills:{
        required,
        $each: {
          minLength: minLength(1)
        }
      },
      languages:{
        required,
        $each: {
          minLength: minLength(1)
        }
      },
      durations:{
        required,
        $each: {
          minLength: minLength(1)
        }
      },
    },
  },
  components: {
    Banner: () => import('~/components/project/share/Banner'),
    GalleryCategory: () => import("~/components/project/share/GalleryCategory"),
    ListRoleBid: () => import("~/components/project/share/ListRoleBid"),
    ImageUpload: () => import("~/components/share/ImageUpload"),
    Modal: () => import("~/components/share/Modal"),
    Modalxl: () => import("~/components/share/Modalxl"),
    FomatInputPrice: () => import("../../../components/project/share/fomatInputPrice"),
  },
  layout: "custom",
  computed: {
    sliceDescription() {
      let list = '';
      if (this.objData.project.content) {
        let text = this.objData.project.content;
        list = text ? text.slice(0, 50).concat('...') : '';
      }
      return list;
    },
    suggestUnit() {
      let baseCode = this.$store.getters.getLocale;
      if (this.objData.project.currency_code) {
        baseCode = this.objData.project.currency_code;
      }
      return this.baseUnit[baseCode];
    },
    suggestMinPrice() {
      let baseCode = this.$store.getters.getLocale;
      if (this.objData.project.currency_code) {
        baseCode = this.baseCode[this.objData.project.currency_code];
      }
      return this.$t('recruitmentBudget', {
          name: this.$store.state
            .auth
            .authUser
            .user
            .price_min[baseCode]
        });
    },
    myCompanyId() {
      return this.company && _.has(this.company, 'company_id')
        ? this.company.company_id
        : 0;
    },
    Qty() {
      if (this.$store.getters.getLocale === 'vi') return 100000;
      if (this.$store.getters.getLocale === 'ja') return 100;
      return 10;
    }
  },
  mounted() {
    this.searchCategory().then(response => {
      this.category = response.data;
    });
    this.getSearchDuration();
    this.objData.project.currency_code = _.findKey(this.baseCode,
        code => code === this.$store.getters.getLocale
      );
    const user = this.$store.getters.getCompany;
    if (!_.has(user, "company_id")) {
      this.$router.push(this.localePath({ name: "index" }));
    }
    this.setDefaultPrice();
    this.getSearchClient();
  },
  watch: {
    "$route.query": function() {
      this.CreateProjectCopy();
    },
  },
  created() {
    this.CreateProjectCopy();
  },
  methods: {
    ...mapActions({
      searchYearExperience: "resource/searchYearExperience",
      searchLanguageLevel: "resource/searchLanguageLevel",
      searchCurrency: "resource/currency/search",
      searchDuration: "resource/searchDuration",
      searchClient: "resource/nation/searchClient",
      searchSkill: "resource/searchSkill",
      searchResource: "resource/language/searchResource",
      saveProject: "project/post/saveProject",
      searchCategory: "category/search",
      copyProject: "project/post/copyProject",
    }),
    setDataCopy() {
      let ObjCopy = this.objDataProjectCopy;
      let ObjD = this.objData;
      ObjD.project.title = ObjCopy.project.title;
      ObjD.project.content = ObjCopy.project.content;
      ObjD.project.image = ObjCopy.project.image;
      ObjD.project.category_id = ObjCopy.project.category_id;
      ObjD.skills = ObjCopy.skills;
      ObjD.languages = ObjCopy.languages;
      ObjD.project.price_end = ObjCopy.project[`price_${this.$store.getters.getLocale}`];
      ObjD.project.number_holiday = ObjCopy.project.number_holiday;
      ObjD.project.number_people = ObjCopy.project.number_people;
      ObjD.project.nation_id = ObjCopy.project.nation_id;
      ObjD.project.office_address = ObjCopy.project.office_address;
      let arww = Array.from(ObjCopy.project.way_working);
      for (let i = 0; i <= arww.length; i++) {
        const keyww = this.way_working.find(n => n.id == arww[i]);
        if (keyww) {
          ObjD.project.way_working.push(keyww.id);
        }
      }
      this.listCateShow = ObjCopy.workEnvironments;
      this.listRidShow = ObjCopy.roleBids;
      for (let i = 0; i <= ObjCopy.durations.length; i++) {
        ObjD.durations[i] = ObjCopy.durations[i].duration_id;
      }  
      
    },
    CreateProjectCopy() {
      const query = this.$route.query;
      if (_.has(query, 'company_id') && _.has(query, 'project_id')) {
        this.objGetProjectCopy.company_id = parseInt(this.$route.query.company_id);
        this.objGetProjectCopy.project_id = parseInt(this.$route.query.project_id);
        if (this.objGetProjectCopy.company_id && this.objGetProjectCopy.company_id) {
          this.copyProject(this.objGetProjectCopy)
          .then(res => {  
            this.objDataProjectCopy = res.data;
            this.setDataCopy();
          }) 
        }
      }
    },
    setDefaultPrice() {
      let baseCode = this.$store.getters.getLocale;
      if (this.objData.project.currency_code) {
        baseCode = this.baseCode[this.objData.project.currency_code];
      }
      const minPrice = this.$store.state.auth.authUser.user.price_min[baseCode];
      this.objData.project.price_end = parseInt(minPrice.replace(/\D/g, ''));
      this.price = parseInt(minPrice.replace(/\D/g, ''));
    },
    getDurationMax() {
      if (this.objData.durations.length > 0) {
        const id_duration = Math.max.apply(null, this.objData.durations);
        const name_duration = this.duration.find(d => d.id === id_duration);
        if(name_duration){
          return name_duration.name;
        }else{
          return ;
        }
      } else {
         return ;
      }
    },
    getSearchYearExperience() {
      this.searchYearExperience().then(response => {
        this.experience = response.data;
      });
    },
    getSearchDuration(){
      this.searchDuration().then(response => {
        this.duration = response.data;
      });
    },
    getSearchLanguageLevel(){
      this.searchLanguageLevel().then(response => {
        this.languagelevel = response.data;
      });
    },
    getSearchCurrency(){
      this.searchCurrency().then(response => {
        this.currency = response.data;
      });
    },
    getSearchClient(){
      this.searchClient().then(response => {
        this.areaWork = response.data;
      });
    },
    getListCate(event) {
      this.listCateShow = event;
    },
    getListRid(event) {
      this.listRidShow = event;
    },
    showValueAddress() {
      this.isShowModalIndex = 0;
    },
    onShowModal(index) {
      this.isShowModalIndex = index;
    },
    upQty() {
        this.objData.project.price_end =
        parseInt(this.objData.project.price_end) + this.Qty;
    },
    downQty() {
      if(parseInt(this.objData.project.price_end) > this.price){
        this.objData.project.price_end =
        parseInt(this.objData.project.price_end) - this.Qty;
      }
      if(parseInt(this.objData.project.price_end) < this.price){
        this.objData.project.price_end = this.price
      }
    },
    upQtyPerson() {
      this.objData.project.number_people =
        parseInt(this.objData.project.number_people) + 1;
    },
    downQtyPerson() {
      if(this.objData.project.number_people > 1 ){
        this.objData.project.number_people =
        parseInt(this.objData.project.number_people) - 1;
      }
    },
    removeSkill(id) {
      let arr = this.objData.skills;
      let index = arr
        .map(x => {
          return x.skill_id;
        })
        .indexOf(id);
      arr.splice(index, 1);
    },
    removeLanguage(id) {
      let arr = this.objData.languages;
      let index = arr
        .map(x => {
          return x.language_id;
        })
        .indexOf(id);
      arr.splice(index, 1);
    },
    remoteMethod(query) {
      if (query !== "") {
        setTimeout(() => {
          this.searchSkill({
            name: query,
            order: "DESC",
            pageIndex: 1,
            pageSize: 10
          })
            .then(res => {
              this.skill = res.data;
            })
            .catch(err => {
              this.$error(err.message);
            });
        }, 200);
      } else {
        this.skill = [];
      }
    },
    async getResourchLang(query) {
      const {data} = await this.searchResource({name: query, pageIndex: 1, pageSize: 10});
      this.language = data;
    },
    async remoteMethodLanguage(query) {
      try {
        setTimeout(() => this.getResourchLang(query), 200);
      } catch(e) {
        console.log(e, '>>>>>>>>error')
      }
    },
    showArrExperience() {
      if (this.exp.skill_id <= 0 || this.exp.year_experience_id <= 0) {
        return;
      }
      let me = this;
      if (this.exp.skill_id > 0) {
        let index = _.findIndex(this.skill, sk => sk.id == me.exp.skill_id);
        if (index >= 0) {
          this.exp.skill_name = this.skill[index].name;
        }
      }
      if (this.exp.year_experience_id > 0) {
        let index = _.findIndex(
          this.experience,
          sk => sk.id == me.exp.year_experience_id
        );
        if (index >= 0) {
          this.exp.year_experience_name = this.experience[index].name;
        }
      }
      if(this.objData.skills.length > 0){
        let checkSkillId = this.checkSkillId(this.exp.skill_id,this.objData.skills)
        let checkExperienceId = this.checkYearExperienceId(this.exp.year_experience_id,this.objData.skills)
        if(checkSkillId == true && checkExperienceId == true){
          return;
        }
      }

      this.objData.skills.push(_.clone(this.exp));
      
      this.exp = _.clone(this.exp_default);
    },
    showArrLanguage() {
      if (this.lang.language_id <= 0 || this.lang.language_level_id <= 0) {
        return;
      }
      let me = this;
      if (this.lang.language_id > 0) {
        let index = _.findIndex(
          this.language,
          sk => sk.id == me.lang.language_id
        );
        if (index >= 0) {
          this.lang.language_name = this.language[index].name;
        }
      }
      if (this.lang.language_level_id > 0) {
        let index = _.findIndex(
          this.languagelevel,
          sk => sk.id == me.lang.language_level_id
        );
        if (index >= 0) {
          this.lang.language_level_name = this.languagelevel[index].name;
        }
      }
      if(this.objData.languages.length > 0){
        let checkLangId = this.checkLangId(this.lang.language_id,this.objData.languages)
        let checkLangLevel = this.checkLangLevel(this.lang.language_level_id,this.objData.languages)
        if(checkLangId == true && checkLangLevel == true){
          return;
        }
      }
      this.objData.languages.push(_.clone(this.lang));
      this.lang = _.clone(this.lang_default);
    },
    checkSkillId(value,arr){
      var status = false;
      arr.forEach(function(element) {
        if(value == element.skill_id){
          return status = true;
        }
      });
      return status;
    },
    checkYearExperienceId(value,arr){
      var status = false;
      arr.forEach(function(element) {
        if(value == element.year_experience_id){
          return status = true;
        }
      });
      return status;
    },
    checkLangId(value,arr){
      var status = false;
      arr.forEach(function(element) {
        if(value == element.language_id){
          return status = true;
        }
      });
      return status;
    },
    checkLangLevel(value,arr){
      var status = false;
      arr.forEach(function(element) {
        if(value == element.language_level_id){
          return status = true;
        }
      });
      return status;
    },
    getKeyMessNotification() {
      let mess = [];
      this.objData.project.title || mess.push('pleaseTitleCreateProject');
      this.objData.project.content || mess.push('pleaseContentCreateProject');
      this.objData.project.image || mess.push('pleaseImageCreateProject');
      this.objData.project.category_id || mess.push('pleaseCategoryCreateProject');
      this.objData.skills.length || mess.push('pleaseSkillCreateProject');
      this.objData.languages.length || mess.push('pleaseLanguagesCreateProject');
      this.objData.project.currency_code  || mess.push('pleaseCurencyCodeCreateProject');
      this.objData.project.number_people  || mess.push('pleaseNumberPeopleCreateProject');
      this.objData.durations.length || mess.push('pleaseDurationCreateProject');
      this.objData.project.number_holiday  || mess.push('pleaseNumberHolidayCreateProject');
      this.objData.project.nation_id  || mess.push('pleaseNationCreateProject');
      this.objData.project.way_working.length || mess.push('pleaseWayWorkingCreateProject');
      this.objData.project.office_address || mess.push('pleaseAddressCreateProject');
      this.listCateShow.length || mess.push('pleaseWorkEnvironmentsCreateProject');
      this.listRidShow.length || mess.push('pleaseListRidShowCreateProject');
      return mess;
    },
    formatNumber(valueFilter) {
      let baseCode = this.objData.project.currency_code;
      if(!this.$store.getters.getLocale || !valueFilter) return;
      const amount = valueFilter.toString().replace(/(\d)(?=(\d{3})+(?:\.\d+)?$)/g, "$1,");
      return this.$store.getters.getLocale === 'vi'
        ? `${amount}${this.baseUnit[baseCode]}`
        : `${this.baseUnit[baseCode]}${amount}`
    },
    saveCreateProject() {
      this.submitted = true;
      this.$v.$touch();
      if (this.objData.project.price_end < this.price) {
        this.showNotification(this.$t('warning'), this.$t('CurrencyMinPriceFail', { price: this.formatNumber(this.price) }), 'warning')
      } else if (this.$v.$invalid || !this.listCateShow.length || !this.listRidShow.length) {
        this.showNotification(this.$t('warning'), this.$t(`${this.getKeyMessNotification()[0]}`), 'warning');
      } else {
        this.loading = true;
      const currentType = this.$store.getters.getCompany;
      this.convertObjData = this.objData;
      this.convertObjData.project.company_id = _.has(currentType, "company_id")
        ? currentType.company_id
        : 0;
      this.convertObjData.durations = this.convertObjData.durations.map(i => {
        return {
          duration_id: i
        };
      });
      this.convertObjData.workEnvironments = this.listCateShow.map(i => {
        return {
          work_environment_id: i.id
        };
      });
      this.convertObjData.roleBids = this.listRidShow.map(i => {
        return {
          role_bid_id: i.id ? i.id : i.role_bid_id
        };
      });
      this.objData.company_id = this.myCompanyId;
      this.saveProject(this.objData)
        .then(response => {
          this.loading = false;
          this.showNotification(this.$t("Success"), this.$t("Create Project Success"))
          this.$router.push(this.localePath({ name: 'profile-client-project-id', params: {id: this.convertObjData.project.company_id }}));
        })
        .catch(error => {
          this.loading = false;
          this.showNotification(this.$t('Error'), error.message, 'error');
          this.errorMessage = error.message;
        });
      }
    }
  },
};
</script>
<style scoped>
  input.el-input__inner {
    border: none !important;
  }
  .noti-err{
    color:red;
    display: none;
  }
  .info .thumbs img {
    max-height: 80px;
    width: auto;
  }
  .unit{
    font-size: 22px;
    font-weight: bold;
    text-transform: uppercase;
  }
  .el-input__inner{
    color: black!important;
  }
</style>
