<template>
  <div class="img-banner-freelance">
    <div class="image">
      <img src="~assets/images/banner-travel.png" alt="" class="img-fluid">
    </div>
  </div>
</template>

<script>
	export default {
		name: "Banner"
	}
</script>

<style scoped>

</style>
