<template>
  <div>
    <div class="list-item-hp" @click="getListPro">
      <div class="img-thumb">
        <a href="javascript:;" title="image thumb" aria-label="image thumb" class="image" >
          <ElImageLazy :src="image"/>
        </a>
      </div>
      <div class="overlay">
        <h3 class="wp-title">
          <a href="javascript:;" title="image thumb" aria-label="image thumb" class="name-title">{{title}}</a>
        </h3>
      </div>
    </div>
  </div>
</template>
<script>
  import ElImageLazy from '~/components/share/ElImageLazy'

  export default {
    name: 'CategoryItemt',
    props: ['image', 'title', 'id', 'type'],
    components: {
      ElImageLazy
    },
    data() {
      return {
        isShowModalIndex: 0,
        listQuery: {
          pageIndex: 1,
          pageSize: 12,
          typeSearch: 3,
          category_id: '',
          nation_id: '',
          work_environment: '',
        }
      }
    },
    computed: {
      loggedIn() {
          return this.$store.getters.loggedIn
      }
    },
    methods:{
      appendQuery() {
        this.listQuery[this.type] = this.id;
      },
      getListPro() {
        this.appendQuery();
        const queryString = this.assignQueryNotNull(this.listQuery);
        if (!this.loggedIn) {
          const back = this.localePath({ name: 'search', query: queryString });
          this.$router.push(this.localePath({ name: 'index', query: {redirect_back_signup: back}}));
          return;
        }

        this.$router.push(this.localePath({ name: 'search', query: queryString }));
      }
    }
  }
</script>
