<template>
  <div class="group-item-aside">
    <div class="company cutomize panle-body p-0" v-if="companies">
      <div class="list-item">
        <div class="item"
             v-for="(p, i) in companies"
             v-bind:key="`company---${i}`"
             @click="setDefaultCompany(p)"
             v-if="!(!checkTypeExpert && p.id)">
          <div class="avatar">
            <img :src="getAvarta(p.avatar)">
          </div>
          <span class="title">
            {{ p.company_title || displayName(p.first_name,p.last_name) }}
          </span>
          <span class="text-link" v-bind:class="{ 'social tick' : isUserOrCompany(p) }"></span>
        </div>
      </div>
      <div v-if="loading">
        <div style="min-height: 100px; text-align: center">
          <i class="el-icon-loading"></i>
          <div>Loading</div>
        </div>
      </div>
    </div>
    <div class="companys cutomize panle-body p-0" v-if="!checkTypeExpert && checkUpdateCompany == true">
      <div class="items">
          <span class="titles">
            {{$t('Youhavenotupdatedhecompanyinformation')}} -
            <a href="javascript:;" @click="goToProfilePage"  title="image" aria-label="image">{{ $t('UpdateCompanyInformation') }}</a>
          </span>
      </div>
    </div>
  </div>
</template>
<script>
  import {mapState, mapGetters} from "vuex";
  import {getCompanies} from '~/services/member';
  import _ from 'lodash';
  import eventBus from '~/services/bus'

  export default {
    name: 'CompanyMenu',
    props: ['checkTypeExpert', 'redirectPath'],
    data() {
      return {
        loading: false,
        arrCompany: null,
        isCalled: false,
      }
    },
    computed: {
      ...mapState({
        currentUser: state => state.auth.authUser.user,
      }),

      userId() {
        return this.currentUser ? this.currentUser.id : null
      },
      companies() {
        this.loading = true;
        if (!this.arrCompany) return;
        const cp = this.arrCompany;
        !this.checkTypeExpert || cp.push(this.currentUser);
        this.loading = false;
        return cp;
      },
      checkUpdateCompany() {
        return _.isEmpty(this.arrCompany);
      },
      ...mapGetters({
        company: 'getCompany',
      })
    },
    created() {
      eventBus.$on('onUpdateClientProfile', (obj) => {
        this.fetchCompanies();
      });
    },
    mounted() {
      if (!this.checkTypeExpert) {
        this.fetchCompanies();
      }
    },
    methods: {
      goToProfilePage() {
        let pathName = 'expert';
        const company = this.$store.state.auth.authUser.user.owner_company;
        this.$store.dispatch('setDefaultCompany', company).then(() => {
          eventBus.$emit('onCloseModal');
          this.$router.push(this.localePath({name: 'profile'}));
        })
      },
      displayName(first, last) {
        if(this.$store.getters.getLocale != "en"){
          return   last + ' ' + first
        }else{
          return  first + ' ' + last
        }
      },
      async fetchCompanies() {
        this.loading = true;
        const res = await getCompanies();
        this.arrCompany = res.data;
        this.isCalled = true;
        this.loading = false;
      },
      setDefaultCompany(company) {
        this.$store.dispatch('setDefaultCompany', company).then(() => {
          this.redirectPath
            ? window.location.href = this.localePath({name: this.redirectPath})
            : window.location.reload();
        });
      },
      getAvarta(avarta) {
        return avarta || 'https://app-fukuon.s3.amazonaws.com/uploads/2019-09-20/1568954282-rose-blue-flower-rose-blooms-67636.jpeg';
      },
      isUserOrCompany(data) {
        const type = this.$store.getters.getCompany;
        if (!type) {
          return _.has(data, 'id');
        }
        if (_.has(data, 'company_id') && _.has(type, 'company_id')) {
          return data.company_id === type.company_id;
        }
        if (_.has(data, 'id') && _.has(type, 'id')) {
          return data.id === type.id;
        }
      },
    },
  };
</script>

<style scoped>
  .company.cutomize {
    padding: 0;
    padding-top: 10px;
  }

  .company .item {
    cursor: pointer;
  }

  .company .item:not(:first-child) {
    margin-top: 10px;
  }

  .company.cutomize .title {
    font-weight: 500;
    font-size: 14px;
    text-align: left;
    color: #525151;
    text-transform: capitalize;
    cursor: pointer;
    padding: 0;
    vertical-align: sub;
    margin-left: 6px;
  }

  .avatar {
    display: inline-block;
    height: 40px;
    width: 40px;
  }

  .avatar img {
    width: 100%;
    height: 100%;
    object-fit: cover;
  }

  .companys.cutomize.panle-body.p-0 {
    margin-left: 5%;
    margin-bottom: 3%;
  }

  .group-item-aside .panle-body .list-item .item {
    padding: 15px 0;
    border-top: 1px solid #d2d2d2;
    border-bottom: 0;
    display: flex;
    align-items: center;
    flex-wrap: wrap;
  }

  .group-item-aside .panle-body .list-item .item .text-link.social::before {
    position: absolute;
    content: "\f00c";
    display: block;
    font-family: "Font Awesome 5 Free";
    right: -22px;
    top: 0;
    color: #77d353;
    font-weight: 900;
  }

</style>
