<template>
  <div>
    <div class="item-prd" v-if="item">
      <div class="img-thumb">
        <a class="image" href="javascript:;" @click="goToPageProject" title="image" aria-label="image">
          <ElImageLazy :src="item.image"></ElImageLazy>
        </a>
      </div>
      <div class="info">
        <div class="name-head">{{ nationTitle }} - {{categoryTitle}}</div>
        <div class="name-title">
          <el-tooltip  class="item" effect="light" :content="item.title" placement="bottom" :aria-label="item.title">
            <a class="title line-2" @click="goToPageProject">
              {{item.title}}
            </a>
          </el-tooltip>
        </div>
        <div class="wp-salary">{{$t('PriceProject')}}：
          {{ formatNumber(priceStart) }} - {{ formatNumber(priceEnd) }}</div>
        <div class="wp-time">{{$t('SearchPeriod')}}：{{ durationName }}</div>
        <div class="wp-rating d-flex">
          <div class="meta-rate d-flex">
            <div class="number-rate">{{item.rate}}</div>
            <el-rate v-model="item.rate" aria-label="rate"
                     :colors="['#77D353', '#77D353', '#77D353']"
                     :disabled-void-color="'#d2d2d2'"
                     disabled></el-rate>
          </div>
        </div>
      </div>
    </div>
  </div>
</template>
<script>
  import {mapState, mapGetters} from 'vuex';
  import _ from 'lodash';
  import ElImageLazy from '~/components/share/ElImageLazy'

  export default {
    props: ['item'],
    components: {
      ElImageLazy
    },
    data() {
      return {
        rate: 5,
        config: {
          isIndicatorActive: true,
          starStyle: {
            fullStarColor: "#77D353",
            emptyStarColor: "#d2d2d2",
            starWidth: 12,
            starHeight: 12
          }
        },
        baseUnit: { ja: '¥', vi: 'đ', en: '$'},
      }
    },
    computed: {
      ...mapState({
        nations: state => state.resource.nationClient,
        categories: state => state.resource.category,
        durations: state => state.resource.duration,
      }),
      ...mapGetters({
        locale: 'getLocale',
      }),
      currencyCode() {
        return this.getCurrencyUnit(this.locale);
      },
      categoryTitle() {
        const cat = this.categories.find(c => c.id === this.item.category_id);
        return cat ? cat.title : this.$t('SearchJobNotSet');
      },
      nationTitle() {
        const nation = this.nations.find(n => n.id === this.item.nation_id);
        return nation ? nation.name : this.$t('SearchNationNotSet');
      },
      durationName() {
        if(_.isEmpty(this.durations)) return '';
        const durationId = _.flatMap(this.item.durations, d => d.id);
        const durations = this.durations.filter(d => (durationId.findIndex(du => du == d.id) >= 0));
        return _.flatMap(durations, d => d.name).join(',');
      },
      rankingName() {
        const rank = this.ranking.find(r => r.id === this.item.ranking_id);
        return rank ? rank.name : '';
      },
      priceStart() {
        return this.item.price_start;
      },
      priceEnd() {
        return this.item[`price_${this.locale}`];
      }
    },
    methods:{
      formatNumber(valueFilter) {
        if(!this.locale) return;
        const amount = valueFilter.toString().replace(/(\d)(?=(\d{3})+(?:\.\d+)?$)/g, "$1,");
        return this.locale === 'vi'
          ? `${amount}${this.baseUnit[this.locale]}`
          : `${this.baseUnit[this.locale]}${amount}`
      },
      goToPageProject() {
        const projectPath = this.localePath({name: 'project-detail-id', params: { id: this.item.id }});
        if (!this.isLogined()) {
          this.$router.push(this.localePath({name: 'index', query: { redirect_back_signup: projectPath }}));
          return;
        }
        this.$router.push(projectPath);
      },
      isLogined() {
        return this.$store.getters.loggedIn;
      }
    }
  };
</script>
