<template>
  <div>
    <div class="item-prd" v-if="item">
      <div class="img-thumb">
        <a class="image" href="javascript:;" @click="goToPageExpert"  title="image" aria-label="image">
          <ElImageLazy :src="item.avatar"/>
        </a>
      </div>
      <div class="info">
        <div class="name-head">{{categoryTitle}}・{{nationTitle}}</div>
        <div class="name-title">
          <a class="title line-2" @click="goToPageExpert" >
            {{item.first_name}} {{item.last_name}}
          </a>
        </div>
        <div class="wp-salary">{{$t('PriceProject')}}：{{ formatNumber(amount) }}</div>
        <div class="wp-time">{{ $t('Ranking') }}：{{ rankingName | capitalize}}</div>
        <div class="wp-rating d-flex">
          <div class="meta-rate d-flex">
            <div class="number-rate">{{item.rate}}</div>
            <el-rate v-model="item.rate" aria-label="rate"
                     :colors="['#77D353', '#77D353', '#77D353']"
                     :disabled-void-color="'#d2d2d2'"
                     disabled></el-rate>
          </div>
        </div>
      </div>
    </div>
  </div>
</template>
<script>
  import {mapState, mapGetters} from 'vuex';
  import ElImageLazy from '~/components/share/ElImageLazy'

  export default {
    props: ['item'],
    components: {
      ElImageLazy
    },
    data() {
      return {
        rate: 5,
        config: {
          isIndicatorActive: true,
          starStyle: {
            fullStarColor: "#77D353",
            emptyStarColor: "#d2d2d2",
            starWidth: 12,
            starHeight: 12
          }
        },
        baseUnit: { ja: '¥', vi: 'đ', en: '$'},
      }
    },
    computed: {
      ...mapState({
        nations: state => state.resource.nationClient,
        categories: state => state.resource.category,
        ranking: state => state.resource.ranking,
      }),
      ...mapGetters({
        locale: 'getLocale',
      }),
      currencyCode() {
        return this.getCurrencyUnit(this.locale);
      },
      categoryTitle() {
        const cat = this.categories.find(c => c.id === this.item.category_id);
        return cat ? cat.title : this.$t('SearchJobNotSet');
      },
      nationTitle() {
        const nation = this.nations.find(n => n.id === this.item.nation_id);
        return nation ? nation.name : this.$t('SearchNationNotSet');
      },
      rankingName() {
        const rank = this.ranking.find(r => r.id === this.item.ranking_id);
        return rank ? rank.name : '';
      },
      amount() {
        return this.item[`price_${this.locale}`];
      },
    },
    filters: {
      capitalize(string) {
        return string.charAt(0).toUpperCase() + string.slice(1);
      }
    },
    methods:{
      formatNumber(valueFilter) {
        if(!this.locale) return;
        const amount = valueFilter.toString().replace(/(\d)(?=(\d{3})+(?:\.\d+)?$)/g, "$1,");
        return this.locale === 'vi'
          ? `${amount}${this.baseUnit[this.locale]}`
          : `${this.baseUnit[this.locale]}${amount}`
      },
      goToPageExpert() {
        const expertPath = this.localePath({name: 'expert-p-id', params: { id: this.item.id }});
        if (!this.isLogined()) {
          this.$router.push(this.localePath({name: 'index', query: { redirect_back_signup: expertPath }}));
          return;
        }
        this.$router.push(expertPath);
      },
      isLogined() {
        return this.$store.getters.loggedIn;
      }
    }
  };
</script>
