<template>
  <div class="group-left">
    <div class="group-breadcrumb mt-0">
      <div class="list-breadcrumb">
        <div class="item-breadcrumb">
          <a href="javascript:;" class="links-breadcrumb"> {{$t('FreelanceSupportTop')}} </a>
        </div>
        <div class="item-breadcrumb">
          <nuxt-link :to="localePath({name: 'support-travel-id', params: {id: params.id}})" class="links-breadcrumb">
            {{$t(params.id)}}
          </nuxt-link>
        </div>
        <div class="item-breadcrumb">
          <a href="javascript:;" class="links-breadcrumb"> {{$t(params.name)}} </a>
        </div>
      </div>
    </div>

    <div class="group-communication">
      <div class="head-communication margin-bottom-40">
        <HeaderArticle :id="params.id"/>
        <div class="description">
          1つのプラットフォームでチームやメンバー個人とのやり取りが可能なビジネスチャット。ファイルのシェアはドラッグして貼り付けるだけ。BOT機能では外部アプリと連携させるだけでホテル予約などまでできてしまうのです。
        </div>
      </div>
      <div class="group-add-services">
        <div class="img-thumb">
          <div class="image">
            <img src="assets/images/upload/ellipse-25.png" alt="">
          </div>
        </div>
        <div class="link-official-site">
          <a href="javascript:;" class="links">
            {{$t('AddToMyServices')}}
          </a>
        </div>
      </div>
      <div class="rule-grey"></div>
    </div>

    <CharacteristicsApp />
    <ReasonsUsing />
    <CommentList />
    <div>
      <ul class="pagination d-flex align-items-center margin-y-50">
        <li><a href="#" class="item active">1</a></li>
        <li><a href="#" class="item">2</a></li>
        <li><a href="#" class="item">3</a></li>
        <li><a href="#" class="item">...</a></li>
        <li><a href="#" class="item">41</a></li>
        <li><a href="#" class="next item"><i class="fas fa-chevron-right"></i></a>
        </li>
      </ul>
    </div>
    <ChatComment />
  </div>
</template>

<script>
  export default {
    name: "_name",
    layout: 'support-travel',
    async asyncData({params}) {
      return {
        params
      }
    },
    components: {
      HeaderArticle: () => import('~/components/support/travel/CategoryItem/HeaderArticle'),
      CharacteristicsApp: () => import('~/components/support/travel/CategoryItem/CharacteristicsApp'),
      ReasonsUsing: () => import('~/components/support/travel/CategoryItem/ReasonsUsing'),
      CommentList: () => import('~/components/support/travel/CategoryItem/CommentList'),
      ChatComment: () => import('~/components/support/travel/CategoryItem/ChatComment'),
    }
  }
</script>

<style scoped>

</style>
