<template>
  <div class="group-left">
    <div class="group-breadcrumb mt-0">
      <div class="list-breadcrumb">
        <div class="item-breadcrumb">
          <a href="javascript:;" class="links-breadcrumb"> {{$t('FreelanceSupportTop')}} </a>
        </div>
        <div class="item-breadcrumb">
          <a href="javascript:;" class="links-breadcrumb"> {{$t(id)}} </a>
        </div>
      </div>
    </div>

    <div class="group-popular-app">
      <div class="group-total-freelance">
        <div class="panel-head-freelance ">
          <div class="mb-3">
            <div class="title line"> コミュニケーション のフリーランスサポート一覧・比較</div>
            <div class="number title line"> 117</div>
          </div>
          <div class="description">
            ちょっとした会話から、重要な会議まで、コミュニケーションの活性化に役立つツールをまとめました。「Skype」を代表とした社内SNSやテレビ会議をはじめ、ブラウザ型やマルチデバイス対応のものまで、Eメールに成り代わる最新のコミュニケーションツールを取り揃えています。
          </div>
        </div>
      </div>

      <section class="panel-body-app">
        <div class="list-app">
          <ul class="row list-col-5">
            <li v-for="(item, key) in 10" :key="key">
              <div class="item-app">
                <div class="img-thumb">
                  <div class="image">
                    <img src="assets/images/upload/app-1.png" alt="">
                  </div>
                </div>
                <div class="name-app">
                  <nuxt-link :to="localePath({name: 'support-travel-id-name', params: {id: id, name: 'slack'}})" class="links-breadcrumb">
                    Slack
                  </nuxt-link>
                </div>
                <div class="intro-app">コミュニケーション</div>
                <div class="wp-rating d-flex">
                  <div class="meta-rate d-flex">
                    <div class="number-rate">4.0</div>
                    <ul class="list-star d-flex">
                      <li><i class="fas fa-star"></i></li>
                      <li><i class="fas fa-star"></i></li>
                      <li><i class="fas fa-star"></i></li>
                      <li><i class="fas fa-star"></i></li>
                      <li><i class="fas fa-star"></i></li>
                    </ul>
                  </div>
                  <span class="meta-number">30</span>
                </div>
                <div class="rule-grey"></div>
                <div class="intro-app line-5">
                  1つのプラットフォームでチームやメンバー個人とのやり取りが可能なビジネスチャット。ファイルのシェアはドラッグして貼り付けるだけ。BOT機能では外部アプリと連携させるだけでホテル予約などまでできてしまうのです。
                </div>
              </div>
            </li>
          </ul>
          <div>
            <ul class="pagination d-flex align-items-center margin-y-50">
              <li><a href="#" class="item active">1</a></li>
              <li><a href="#" class="item">2</a></li>
              <li><a href="#" class="item">3</a></li>
              <li><a href="#" class="item">...</a></li>
              <li><a href="#" class="item">41</a></li>
              <li><a href="#" class="next item"><i class="fas fa-chevron-right"></i></a></li>
            </ul>
          </div>
        </div>
      </section>
    </div>

  </div>
</template>

<script>
  export default {
    name: "_id",
    layout: 'support-travel',
    async asyncData({params}) {
      return {
        id: params.id
      }
    }
  }
</script>

<style scoped>

</style>
