<template>
</template>

<script>
  import {mapGetters} from 'vuex'

  export default {
    name: "Afiliate",
    mounted() {
      this.handleSaveReferCode()
    },
    computed: {
      ...mapGetters({
        isLogined: 'isAuthenticated',
      })
    },
    methods: {
      async handleSaveReferCode() {
        const code = this.$route.params.code
        const res = await this.$store.dispatch('setReferCode', code);
        this.$router.push(this.localePath({name: 'index', query: {redirect_modal_signup: 'open'}}))
      }
    }
  }
</script>
