<template>
    <section class="body-hp pd-web body-min">
        <div class="container">
            <div class="row">
                <div class="col-12">
                    <div class="wp-product-hp wp-order mb-hp prd-2">
                        <header class="panel-head">
                            <h2 class="heading-2 title-heading">
                                <span>{{ $t('SearchProjectResults') }} </span>
                            </h2>
                            <h3 class="heading-2 title-heading" v-if="project.length == 0">
                                <span>No result</span>
                            </h3>
                        </header>
                        <!-- <scroll-loader :loader-method="listProjectSearch" :loader-enable="loadMore">
                        </scroll-loader> -->
                        <section class="panel-body-prd" v-if="project.length > 0">
                            <ul class="row mb-4">
                                <li
                                class="col-lg-3 col-md-6 col-sm-12 col-12 mb-4"
                                v-for="(i , key) in project"
                                :key="'project'+key"
                                >
                                    <div class="item-prd item-prd-vote">
                                        <div class="slide-item-prd">
                                            <div class="img-thumb">
                                                <nuxt-link
                                                title
                                                class="image "
                                                :to="localePath({name: 'project-detail-id', params: { id:i.id } })"
                                                >
                                                    <img :src="i.image" alt class="img-fluid img-cover" />
                                                </nuxt-link>
                                                <a href="javascript:;" @click="onModalWishList(6, i.id)" class="heart d-block" data-toggle="modal">
                                                    <i class="far fa-heart"></i>
                                                </a>
                                                <modal v-if="isShowModalIndex == 6 && isShowIDModal == i.id" @close="onShowModal(0)">
                                                    <div slot="body">
                                                        <HeartFolder
                                                        :object_id="i.id"
                                                        v-bind:type="1"
                                                        :company_id="0"
                                                        @onShowNewFolder="onShowModal(7)"
                                                        @onShowModal="onShowModal"
                                                        @closeModal="onShowModal(0)" />
                                                    </div>
                                                </modal>
                                            </div>
                                        </div>
                                        <div class="info">
                                            <div
                                                class="group-meta d-flex align-items-center justify-content-between mb-2"
                                            >
                                                <div class="name-head">{{i.nation_name}}・{{i.category_title}}</div>
                                                <div class="highlight">
                                                    <a href="javascript:;" class="d-block in-highlight">1ヶ月働き放題</a>
                                                </div>
                                            </div>

                                            <div class="name-title">
                                                <nuxt-link
                                                title
                                                class="title line-2"
                                                :to="localePath({name: 'project-detail-id', params: { id:i.id } })"
                                                >{{i.project_title}}</nuxt-link>
                                            </div>
                                            <div class="wp-salary">入札報酬：{{i.price_start}} - {{i.price_end}}</div>
                                            <div class="wp-time">期間：{{i.duration_name}}</div>
                                            <div class="wp-rating d-flex">
                                                <div class="meta-rate d-flex">
                                                    <div class="number-rate">4.0</div>
                                                        <ul class="list-star d-flex">
                                                            <li>
                                                                <i class="fas fa-star"></i>
                                                            </li>
                                                            <li>
                                                                <i class="fas fa-star"></i>
                                                            </li>
                                                            <li>
                                                                <i class="fas fa-star"></i>
                                                            </li>
                                                            <li>
                                                                <i class="fas fa-star"></i>
                                                            </li>
                                                            <li>
                                                                <i class="fas fa-star filter-white"></i>
                                                            </li>
                                                        </ul>
                                                    </div>
                                                <span class="meta-number">30</span>
                                            </div>
                                        </div>
                                    </div>
                                </li>
                            </ul>
                            <div class="group-read-more" @click="readmore" v-if="qtyReadmores != 0" >
                                <a href="javascript:;" title class="read" >
                                    <span>{{ $t('ViewAll') }}（{{qtyReadmores}}+）</span>
                                    <span>
                                        <i class="fas fa-angle-right"></i>
                                    </span>
                                </a>
                            </div>
                        </section>
                    </div>
                </div>
            </div>
        </div>
        <modal v-if="isShowModalIndex == 3" @close="onShowModal(0)">
            <div slot="body">
                <Login @closeModal="onShowModal(0)"/>
            </div>
        </modal>
        <modal v-if="isShowModalIndex == 7" @close="onShowModal()">
            <div slot="body">
                <NewWishListFolder
                @onShowListWishListFolder="onShowModal(6)"
                @onShowModal="onShowModal"
                @closeModal="onShowModal($event)" />
            </div>
        </modal>
    </section>
</template>

<script>

import { mapActions } from "vuex";
// import ScrollLoader from 'vue-scroll-loader'
export default {

    components: {
        Modal: () => import('~/components/share/Modal'),
        HeartFolder: () => import("~/components/share/HeartWishList"),
        NewWishListFolder: () => import("~/components/share/FormNewWishListFolder"),
        Login: () => import('~/components/popup/Login'),
    },
    data() {
        return {
            isShowModalIndex: 0,
            isShowIDModal: 0,
            loadMore: true,
            objData: {
                work_environment: (this.$route.params.workenvironment).split(','),
                sort: "created_at",
                order: "desc",
                pageSize: 8
            },
            project: [],
            totalAllProject:""
        };
    },
    computed:{
        qtyReadmores(){
            return this.totalAllProject - this.project.length;
        },
        loggedIn() {
            return this.$store.getters.loggedIn
        }
    },
    methods: {
        ...mapActions({
            searchProject: "project/search/searchProjects"
        }),
        listProjectSearch() {
            this.searchProject(this.objData).then(response => {
                this.project = response.data;
            });
        },
        readmore(){
            this.objData.pageSize = this.objData.pageSize + 5
            this.searchProject(this.objData).then(response => {
                this.project = response.data;
            });
        },
        allProjects(){
            let formData = {
                work_environment: (this.$route.params.workenvironment).split(','),
            }
            this.searchProject(formData).then(response => {
                this.totalAllProject = response.data.length;
            });
        },
        onShowModal(index) {
            this.isShowModalIndex = index;
        },
        onShowID(index) {
            this.isShowIDModal = index;
        },
        onModalWishList(modal, id) {
            if(!this.loggedIn){
                this.onShowModal(3);
            }else{
                this.onShowModal(modal);
                this.onShowID(id);
            }
        },
    },
    mounted() {
        this.listProjectSearch();
        this.allProjects();
    }
};
</script>

<style>
</style>
