<template>
  <section class="body-hp pd-web">
    <div class="container">
      <div class="row">
        <div class="col-12">
          <search-content :header="$t('SearchResultTitle', {name: searched})"
            v-if="results"
            :data="results"
            :quantity="total"
            :page-index="listQuery.pageIndex"
            :type-search="listQuery.typeSearch"
            :is-change="isChange"/>
          <div class="panel-head" v-else>
            <h3 class="heading-2 title-heading" v-if="!results">
              <span>{{ noResult }}</span>
            </h3>
          </div>
        </div>
        <!-- <div class="col-12" v-else>
          <div v-if="total">
            <search-content
              v-for="(res, index) in results"
              v-bind:key="`search-${index}`"
              :header="searchTitle(res.data)"
              :data="res.data"
              :quantity="res.totalRow"
              :page-index="listQuery.pageIndex"
              :type-search="listQuery.typeSearch"
              :duration="getId(res)"
              :is-change="isChange" />
          </div>
          <div class="panel-head" v-else>
            <h3 class="heading-2 title-heading" v-if="!results">
              <span>{{ noResult }}</span>
            </h3>
          </div>
        </div> -->
        <div class="group-read-more" @click="readmore" v-if="qtyReadmores > 0">
          <a href="javascript:;" title class="read">
            <span>{{$t("ViewAll")}}（{{ qtyReadmores }}{{!(qtyReadmores % 50) ? '+' : ''}}）</span>
            <span>
            <i class="fas fa-angle-right"></i>
          </span>
          </a>
        </div>
      </div>
    </div>
  </section>
</template>

<script>
  import _ from 'lodash';
  import { search } from '~/services/search';

  export default {
    name: "Search",
    data() {
      return {
        loadMore: true,
        results: [],
        listQuery: {
          typeSearch: '',
          theme: '',
          period: '',
          pageIndex: 1,
          pageSize: 12,
          duration: '',
          nation_id: '',
          category_id: '',
        },
        total: 0,
        queryString: {},
        isChange: true,
        loading: true,
        isSuccess: false,
      };
    },
    computed: {
      noResult() {
        return this.isSuccess && !this.results
          ? this.$t('NoResult')
          : '';
      },
      qtyReadmores() {
        if(!this.results) return;
        let quantity = this.total - this.results.length;
        if (quantity > 50) {
          quantity = parseInt(quantity / 50) * 50;
        }
        return quantity;
      },
      searched() {
        const searched = parseInt(this.listQuery.typeSearch);
        return searched === 2
          ? this.$t('Project')
          : (searched === 1 ? this.$t('expert') : this.$t('expertOrProject'));
      }
    },
    components: {
      SearchContent: () => import('~/components/search/content'),
    },
    watch: {
      '$route.query': function(newValue, oldValue) {
        this.setQueryDefault();
        this.queryString = newValue;
        this.isChange = true;
        this.appendQuery(newValue);
        this.searchAll();
      }
    },
    mounted() {
      this.addQuery();
      this.searchAll();
    },
    methods: {
      setQueryDefault() {
        this.listQuery = {
          typeSearch: '',
          theme: '',
          period: '',
          pageIndex: 1,
          pageSize: 12,
          duration: '',
          nation_id: '',
          category_id: '',
        };
        this.isSuccess = false;
      },
      readmore() {
        this.listQuery.pageIndex = this.listQuery.pageIndex + 1;
        this.searchAll();
      },
      searchTitle(data) {
        const defaultTitle = this.$t('SearchResultTitle', {name: this.searched});
        return `${defaultTitle} ${this.getName(data)}`;
      },
      getName(data) {
        return _.first(data).duration_name;
      },
      getId(data) {
        return _.first(data).duration_id;
      },
      hasDuration() {
        return !_.isEmpty(this.listQuery.duration);
      },
      addQuery() {
        this.queryString = this.$route.query;
        this.appendQuery();
      },
      appendQuery() {
        _.forEach(this.queryString, (q, i) => {
          this.listQuery[i] = (i === 'sort' ? q : JSON.parse(q));
        });
      },
      parseData(data) {
        _.forEach(data, d => JSON.parse(d));
        return data;
      },
      async searchAll() {
        const query = this.assignQueryNotNull(this.listQuery);
        if (this.isChange) {
          this.results = {};
        }
        const res = await search(query);
        this.total = res.totalRow;
        this.isChange
          ? this.results = res.data
          : _.forEach(res.data, d => this.results.push(d));
        this.isSuccess = true;
        this.isChange = false;
      },
      readmore(){
        this.isChange = false;
        this.listQuery.pageIndex = this.listQuery.pageIndex + 1;
        this.searchAll();
      },
    }
  };
</script>

<style>
</style>
