<template>
  <div>
    <section class="ta-invite-banner">
      <img src="~/assets/images/upload/banner-intvite.jpg" class="w-100" />
      <div class="overlay">
        <div class="title ">クライアントを招待する</div>
      </div>
    </section>
    <section class="ta-bt font-weight-700">
      <div class="container-fluid">
        <div class="row justify-content-center">
          <div class="col-xl-9 col-lg-10 col-md-11 col-sm-12 col-12">
            <div class="font-32 ">5,000円分のクーポンをプレゼント</div>
            <div class="font-18 color-lightgrey mb-4">
              SPOTECHへクライアントを招待して、より効率的かつ収益率をあげて働きませんか
            </div>
            <div class="font-22 t">
              <nuxt-link :to="localePath({name: 'invite-client'})">
                クライアントに招待する
              </nuxt-link>
            </div>
          </div>
        </div>
      </div>
    </section>
  </div>
</template>

<script>
  export default {
    name: 'InviteExpertBanner'
  }
</script>
