<template>
  <div>
    <div class="title mb-hp">{{ title }}</div>
    <ul class="list-group list-group-flush list-share env-share">
      <li class="list-group-item">
        <a :href="shareMail()">
          <i class="far fa-2x fa-envelope"></i>メール
        </a>
      </li>
      <li class="list-group-item">
        <a :href="shareMessenger()">
          <i class="fab fa-2x fa-facebook-messenger"></i>Messenger (online for mobile)
        </a>
      </li>
      <li class="list-group-item">
        <a href="">
          <i class="fab fa-2x fa-whatsapp-square"></i>Whatsapp (online for mobile)
        </a>
      </li>
      <li class="list-group-item">
        <social-sharing :url="code" @open="open()" @change="change()" @close="close()" inline-template>
          <network network="facebook" class="fb">
            <a href="#">
              <i class="fab fa-2x fa-facebook-f"></i>Facebook
            </a>
          </network>
        </social-sharing>
      </li>
      <li class="list-group-item">
        <a href="javascript:void(0)"
          v-clipboard:copy="code"
          v-clipboard:success="onCopy"
          v-clipboard:error="onError">
          <i class="far fa-2x fa-copy"></i>URLをコピー
        </a>
      </li>
    </ul>
  </div>
</template>

<script>
  import eventBus from '~/services/bus';

  export default {
    name: 'InviteShare',
    props: ['title', 'code'],
    methods: {
      onError() {
        console.log('Failed to copy texts')
      },
      onCopy(e) {
        console.log('You just copied: ' + e.text)
        eventBus.$emit('hiddenShareModel');
      },
      shareMail() {
        const mailTo = 'mailto:?';
        const subject = 'subject=Share invite link';
        const body = `body=${this.code}`;
        return `${mailTo}${subject}&${body}`;
      },
      shareMessenger() {
        return `fb-messenger://share/?link=${encodeURIComponent(this.code)}&app_id=${encodeURIComponent('378249119508368')}`;
      },
      open() {
        this.$emit('open')
      },
      change () {
        this.$emit('change')
      },
      close() {
        this.$emit('close')
      }
    }
  }
</script>

<style scoped>
  .title {
    font-weight: 700;
    margin-bottom: 14px;
  }
  .env-share li.list-group-item:last-child {
    border-bottom: 1px solid rgba(0, 0, 0, 0.125);
  }
</style>
