<template>
  <section class="ta-invite-box">
    <div class="container-fluid">
      <div class="row justify-content-center">
        <div class="col-xl-6 col-lg-6 col-md-7 col-sm-7 col-12">
          <div class="sum">
            <div class="heading font-40 font-weight-700">
              新規エキスパートを1人紹介
              するごとに¥2,500円獲得
            </div>
            <div class="detail">
              身近な人をSPOTECHに招待してみませんか。ひとり紹介するごとに、プロジェ
              クト参加のお礼を合わせて最大¥2,500の割引・報酬追加クーポンがもらえます。
            </div>
            <div class="share d-flex mb-3">
              <div class="input-group mr-4 w-75 container-tooltip">
                <button type="button"
                  class="form-control input-invite"
                  v-model="referredCode"
                  v-clipboard:copy="referredCode"
                  v-clipboard:success="onCopy"
                  v-clipboard:error="onError">{{ referredCode }}</button>
                <div class="input-group-append">
                  <button type="button" class="btn"
                    v-clipboard:copy="referredCode"
                    v-clipboard:success="onCopy"
                    v-clipboard:error="onError">コピー</button>
                </div>
                <div class="tooltip-btn" v-if="isCopied()">
                  <p :alt="btnAlt"
                    :class="{'success': copySucceeded, 'fail': copySucceeded === false}">{{ btnAlt }}</p>
                </div>
              </div>
              <a href="javascript:void(0)" data-toggle="modal" @click="isShare = true" role="button" class="btn btn-invite w-25">シェア</a>
            </div>
            <div class="detail">
              紹介用URLをコピーして、友達にシェアしましょう
            </div>
          </div>
        </div>
        <div class="col-xl-3 col-lg-4 col-md-4 col-sm-5 col-12 align-self-center">
          <div class="reward  m-auto">
            <div class="heading">報酬追加クーポン</div>
            <div class="list">
              <div class="item">
                <div class="t">保留中</div>
                <div class="d ml-auto">¥ 2738</div>
              </div>
              <div class="item">
                <div class="t">使える残高</div>
                <div class="d ml-auto">¥ 0</div>
              </div>
            </div>
            <a href="#b-22-2" data-toggle="modal" role="button" class="btn btn-invite w-100">招待の詳細を表示</a>
          </div>
        </div>
      </div>
    </div>
    <el-dialog v-if="isShare" :visible.sync="isShare" class="modal sp" :show-close="false" :width="'25%'">
      <button type="button" class="clear close-shar" @click="isShare = false">
        <span aria-hidden="true">
          <i class="fas fa-times"></i>
        </span>
      </button>
      <invite-share @close="isShare = false" :title="$t('SearchInvite')" :code="referredCode"/>
    </el-dialog>
  </section>
</template>

<script>
  import {mapState} from 'vuex'
  import eventBus from '~/services/bus';

  export default {
    name: 'InviteExpertBox',
    data() {
      return {
        copySucceeded: null,
        isShare: false
      };
    },
    components: {
      InviteShare: () => import('./InviteShare'),
    },
    computed: {
      ...mapState({
        user: state => state.auth.authUser.user,
      }),
      referCode() {
        return this.user.referred_by;
      },
      referredCode() {
        const origin = window.location.origin;
        return `${origin}/afiliate/${this.referCode}`;
      },
      btnAlt() {
        return this.copySucceeded
          ? this.$t('Copied')
          : (this.copySucceeded === false ? this.$t('PressCtrlC') : '');
      }
    },
    methods: {
      isCopied() {
        return this.copySucceeded !== null;
      },
      hiddenTootip() {
        setTimeout(() => (this.copySucceeded = null), 1000);
      },
      onCopy: function (e) {
        this.copySucceeded = true
        console.log('You just copied: ' + e.text)
        this.hiddenTootip()
      },
      onError: function (e) {
        this.copySucceeded = false
        console.log('Failed to copy texts')
        this.hiddenTootip()
      }
    },
    mounted() {
      eventBus.$on('hiddenShareModel', () => (this.isShare = false));
    }
  }
</script>

<style scoped>
  .tooltip-btn {
    position: absolute;
    top: -45px;
    left: 35%;
  }
  .modal {
    display: block !important;
  }
  .container-tooltip {
    position: relative;
  }
  .success,
  .fail {
    position: relative;
    background: #222e59;
    border: 1px solid #c2e1f5;
    margin: 0;
    padding: 2px 8px;
    height: 35px;
    border-radius: 6px;
  }
  .success:after,
  .success:before,
  .fail:after,
  .fail:before {
    top: 100%;
    left: 50%;
    border: solid transparent;
    content: " ";
    height: 0;
    width: 0;
    position: absolute;
    pointer-events: none;
  }
  .success:after,
  .fail:after {
    border-color: rgba(136, 183, 213, 0);
    border-top-color: #222e59;
    border-width: 8px;
    margin-left: -8px;
  }
  .success:before,
  .fail:before {
    border-color: rgba(194, 225, 245, 0);
    border-top-color: #c2e1f5;
    border-width: 10px;
    margin-left: -10px;
  }
  .close-shar {
    position: absolute;
    left: 20px;
    top: 20px;
  }
  .input-invite {
    border-right: 2px solid #ced4da;
  }
</style>
