<template>
  <section class="ta-list-suggest">
    <div class="container-fluid">
      <div class="row justify-content-center">
        <div class="col-xl-9 col-lg-10 col-md-11 col-12 col-12">
          <div class="row">
            <div class="col-lg-12 col-md-12 col-sm-12 col-12">
              <div class="heading">
                <div class="font-32 mb-3">招待先候補</div>
                <div class="color-lightgrey font-18 mb-2">
                  エキスパートで大活躍しそうなお友達一覧です。
                </div>
                <div class="t">メールのプレビュー</div>
              </div>
            </div>
          </div>
          <div class="row mb-3">
            <div class="col-lg-4 col-md-4 col-sm-6 col-12">
              <div class="item">
                <div class="avatar">
                  <img src="~/assets/images/upload/intive-ava1.png" />
                </div>
                <div class="name">
                  <div class="font-32 font-weight-700">
                    Mr. Leta Herzog
                  </div>
                  <div class="t font-weight-500 ">紹介する</div>
                </div>
              </div>
            </div>
            <div class="col-lg-4 col-md-4 col-sm-6 col-12">
              <div class="item">
                <div class="avatar">
                  <img src="~/assets/images/upload/intive-ava1.png" />
                </div>
                <div class="name">
                  <div class="font-32 font-weight-700">
                    Leora Wolf
                  </div>
                  <div class="t font-weight-500 ">紹介する</div>
                </div>
              </div>
            </div>
            <div class="col-lg-4 col-md-4 col-sm-6 col-12">
              <div class="item">
                <div class="avatar">
                  <img src="~/assets/images/upload/intive-ava1.png" />
                </div>
                <div class="name">
                  <div class="font-32 font-weight-700">Antonetta Hamill</div>
                  <div class="t font-weight-500 ">紹介する</div>
                </div>
              </div>
            </div>
            <div class="col-lg-4 col-md-4 col-sm-6 col-12">
              <div class="item">
                <div class="avatar">
                  <img src="~/assets/images/upload/intive-ava1.png" />
                </div>
                <div class="name">
                  <div class="font-32 font-weight-700">Dr. Ibrahim Ebert</div>
                  <div class="t font-weight-500 ">紹介する</div>
                </div>
              </div>
            </div>
            <div class="col-lg-4 col-md-4 col-sm-6 col-12">
              <div class="item">
                <div class="avatar">
                  <img src="~/assets/images/upload/intive-ava1.png" />
                </div>
                <div class="name">
                  <div class="font-32 font-weight-700">Albina Strosin</div>
                  <div class="t font-weight-500 ">紹介する</div>
                </div>
              </div>
            </div>
            <div class="col-lg-4 col-md-4 col-sm-6 col-12">
              <div class="item">
                <div class="avatar">
                  <img src="~/assets/images/upload/intive-ava1.png" />
                </div>
                <div class="name">
                  <div class="font-32 font-weight-700">Ima Treutel</div>
                  <div class="t font-weight-500 ">紹介する</div>
                </div>
              </div>
            </div>
            <div class="col-lg-4 col-md-4 col-sm-6 col-12">
              <div class="item">
                <div class="avatar">
                  <img src="~/assets/images/upload/intive-ava1.png" />
                </div>
                <div class="name">
                  <div class="font-32 font-weight-700">Ella Smitham</div>
                  <div class="t font-weight-500 ">紹介する</div>
                </div>
              </div>
            </div>
            <div class="col-lg-4 col-md-4 col-sm-6 col-12">
              <div class="item">
                <div class="avatar">
                  <img src="~/assets/images/upload/intive-ava1.png" />
                </div>
                <div class="name">
                  <div class="font-32 font-weight-700">Lance Conn II</div>
                  <div class="t font-weight-500 ">紹介する</div>
                </div>
              </div>
            </div>
            <div class="col-lg-4 col-md-4 col-sm-6 col-12">
              <div class="item">
                <div class="avatar">
                  <img src="~/assets/images/upload/intive-ava1.png" />
                </div>
                <div class="name">
                  <div class="font-32 font-weight-700">Alf Hammes</div>
                  <div class="t font-weight-500 ">紹介する</div>
                </div>
              </div>
            </div>
          </div>
          <div class="row">
            <div class="col-lg-12 col-md-12 col-sm-12 col-12">
              <a href="" role="button" class="btn btn-invite ">候補をもっと見る</a>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>
</template>

<script>
  export default {
    name: 'InviteExpertSuggert',
    data() {
      return {};
    }
  }
</script>
