<template>
  <section class="ta-coupon">
    <div class="container-fluid">
      <div class="row justify-content-center">
        <div class="col-xl-9 col-lg-10 col-md-11 col-12 col-12">
          <div class="row">
            <div class="col-lg-12 col-md-12 col-sm-12 col-12">
              <div class="heading font-32 font-weight-700">クーポン獲得の流れ</div>
            </div>
          </div>
          <div class="row">
            <div class="col-lg-4 col-md-4 col-sm-12 col-12 align-self-center">
              <div class="item">
                <div class="image">
                  <img src="assets/images/icon/invitation.png" />
                </div>
                <div class="content ">
                  招待した身近な人が¥100,000以上
                  のプロジェクトを遂行するとポイ
                  ントを貰える招待を送信しま
                  しょう
                </div>
              </div>
            </div>
            <div class="col-lg-4 col-md-4 col-sm-12 col-12 align-self-center">
              <div class="item">
                <div class="image">
                  <img src="assets/images/icon/present.png" />
                </div>
                <div class="content ">
                  ひとりプロジェクトを完了するご
                  とにあなたと紹介された友達へ
                  ¥2,500をプレゼント
                </div>
              </div>
            </div>
            <div class="col-lg-4 col-md-4 col-sm-12 col-12 align-self-center">
              <div class="item">
                <div class="image">
                  <img src="assets/images/icon/up.png" />
                </div>
                <div class="content ">
                  獲得したクーポンを使って、プロジェク
                  トの利益をあげよう。クーポンをプロ
                  ジェクトの報酬アップとして利用できま
                  す。
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>
</template>

<script>
  export default {
    name: 'InviteExpertCupon',
    data() {
      return {};
    }
  }
</script>
