<template>
    <span class="message--audio" v-if="attachment && attachment.url && attachment.url.length > 0">
        <audio controls>
            <source :src="attachment.url">
                Your browser does not support the audio element.
        </audio>
</span>
</template>
<script>
export default {
    name:'MessageAudio',
    props:{
        attachment:{
            type: Object,
            default: null
        }
    }
}
</script>
