<template>
    <span class="message--file clearfix" v-if="attachment && attachment.url && attachment.origin">
        <a target="_blank" :href="attachment.url">{{ attachment.origin }}</a>
    </span>
</template>
<script>
export default {
    name:'MessageFile',
    props:{
        attachment:{
            type: Object,
            default: null
        },
        message:{
            type: Object,
            default: null
        }
    }
}
</script>
<style scoped>
.clearfix{
    clear:both;
}
</style>
