<template>
    <span class="message-images" v-if="attachment && attachment.url">
        <img :src="attachment.url" alt="" class="c--thumbnail mr-1" />
        <!--<el-image :src="attachment.url" alt="" class="c--thumbnail mr-1"></el-image>-->
    </span>
</template>
<script>
export default {
    name:'MessageImage',
    props:{
        attachment:{
            type: Object,
            default: null
        },
        message:{
            type: Object,
            default: null
        }
    }
}
</script>
<style>
.c--thumbnail{
    width: 100px;
    height: 100px;
}
</style>
