<template>
    <span class="message--like">
        <i class="fas fa-2x fa-thumbs-up"></i>
    </span>
</template>
<script>
export default {
    name:'MessageLike',
    props:{
        attachment:{
            type: Object,
            default: null
        },
        message:{
            type: Object,
            default: null
        }
    }
}
</script>
