<template>
<span v-if="attachmentCount > 0">
    <MessageAttach v-for="(attach, at) in attachments" :key="`messenger-attachment-item-${at}`" :attachment="attach" :message="message" />
</span>
</template>
<script>
export default {
    name: 'MessageAttachments',
    components:{
        MessageAttach: () => import('~/components/messenger/message/MessageAttach')
    },
    props:{
        message: {
            type: Object,
            default: null
        }
    },
    computed :{
        elem() {
            return this.message ? this.message: null
        },
        type() {
            return this.elem ? this.elem.type : null
        },
        attachments() {
            return this.message && this.message.attachments && this.message.attachments.items ? this.message.attachments.items : []
        },
        attachmentCount() {
            return this.attachments ? this.attachments.length : 0
        }
    }
}
</script>