<template>
<span v-if="elem">
    <message-image v-if="type == 'image'" :class="{'float-left full-left': authorId != meId, 'float-right full-right': authorId == meId}" :attachment="attachment" :message="message"/>
    <message-audio v-if="type == 'audio'" :attachment="attachment" :message="message"/>
    <message-video v-if="type == 'video'" :attachment="attachment" :message="message"/>
    <message-file v-if="type == 'application'" :attachment="attachment" :message="message"/>
</span>
</template>
<script>
export default {
    name: 'MessageAttach',
    components:{
        MessageImage: () => import('~/components/messenger/message/image'),
        MessageAudio: () => import('~/components/messenger/message/audio'),
        MessageVideo: () => import('~/components/messenger/message/video'),
        MessageFile:  () => import('~/components/messenger/message/file')
    },
    props:{
        attachment: {
            type: Object,
            default: null
        },
        message:{
            type: Object,
            default: null
        }
    },
    computed :{
        elem() {
            return this.attachment ? this.attachment: null
        },
        type() {
            return this.elem ? this.elem.type : null
        },
        author() {
            return this.elem && this.elem.author ? this.elem.author : null
        },
        authorId() {
            return this.author ? this.author.id : null
        },
        meId() {
            return this.$store.getters.getUserId
        }
    }
}
</script>