<template>
<div class="direction-wrap" v-if="elem">
    <message-text v-if="type == 'text'" :message="message"/>
    <message-sticker v-if="type == 'sticker'" :message="message"/>
    <message-like v-if="type == 'like'" :message="message"/>
    <message-attachments v-if="type == 'attachment'" :message="message"/>
</div>
</template>
<script>
export default {
    name: 'MessageElement',
    components:{
        MessageText: () => import('~/components/messenger/message/text'),
        MessageAttachments: () => import('~/components/messenger/message/MessageAttachments'),
        MessageSticker: () => import('~/components/messenger/message/sticker'),
        MessageLike: () => import('~/components/messenger/message/like'),
    },
    props:{
        message: {
            type: Object,
            default: null
        }
    },
    computed :{
        elem() {
            return this.message ? this.message: null
        },
        type() {
            return this.elem ? this.elem.type : null
        }
    }
}
</script>