<template>
    <span class="message-sticker" v-if="message && message.body != null && message.body.length > 0 ">
        <img :src="message.body" alt="" />
    </span>
</template>
<script>
export default {
    name:'MessageSticker',
    props:{
        attachment:{
            type: Object,
            default: null
        },
        message:{
            type: Object,
            default: null
        }
    }
}
</script>
