<template>
    <span v-if="message != null && message.body != null && message.body.length > 0" class="message--text">{{ message.body }}</span>
</template>
<script>
export default {
    name:'MessageText',
    props:{
        message:{
            type: Object,
            default: null
        }
    }
}
</script>
