<template>
    <span class="message--video" v-if="attachment && attachment.url && attachment.url.length > 0">
        <video controls>
            <source :src="attachment.url">
            Your browser does not support HTML5 video.
        </video>
    </span>
</template>
<script>
export default {
    name:'MessageVideo',
    props:{
        message:{
            type: Object,
            default: null
        },
        attachment:{
            type: Object,
            default: null
        }
    }
}
</script>
