<template>
    <div class="container mt-4">
        <div class="mb-5 mt-5">
            <nuxt-link :to="localePath({name: 'wishlist' })"><i class="fas fa-chevron-left"></i> {{$t('BackList')}}</nuxt-link>
        </div>
        <section class="body-hp">
            <div class="">
                <div class="row">
                    <div class="col-12">
                        <div class="wp-product-hp wp-order mb-hp prd-2 wishlist-list">
                            <header class="panel-head d-flex">
                                <div class="title-heading">
                                    <div class="wishlist-name">{{ dataFolder.name }}</div>
                                    <div class="wishlist-count">{{ count }}{{$t('favorites')}}</div>
                                </div>
                                <div class="ml-auto">
                                    <a href="javascript:;" class="text-white btn-edit" @click="onFormEditFolderWishList"><i class="fas fa-pencil-alt"></i></a>
                                </div>
                                <modal v-if="isShowModalIndex == 7" @close="onShowModal()"
                                    :class="{'c---unvisible': onWhistListDelete}">
                                    <div slot="body">
                                        <NewWishListFolder
                                            @onShowListWishListFolder="onShowModal(6)"
                                            @onShowModal="onShowModal"
                                            @closeModal="onShowModal($event)"
                                            @updatenameFolder="updatenameFolder($event)"
                                            @updatepublishFolder="updatepublishFolder($event)"
                                            :type="type"
                                            :dataFolder="dataFolder"
                                            @onDelete="onWhistListDelete = true"
                                            @unOnDelete="onWhistListDelete = false"
                                        />
                                    </div>
                                </modal>
                            </header>
                            <section class="panel-body-prd">
                                <ul class="row mb-4">
                                    <li v-for="(item, key) in dataWishlist" :key="key" class="col-lg-4 col-md-6 col-sm-12 col-12 mb-4">
                                        <ItemProject :item="item"/>
                                    </li>
                                </ul>
                            </section>
                        </div>

                    </div>
                </div>
            </div>
        </section>
    </div>
</template>

<script>
import { mapActions } from 'vuex'

export default {
    layout: "custom",
    data() {
        return {
            id: null,
            member_id: null,
            dataWishlist: [],
            isShowModalIndex: 0,
            count: 0,
            dataFolder: {},
            type: 'edit',
            onWhistListDelete: false,
        }
    },
    methods: {
        ...mapActions({
            viewWishListFolder: 'members/wishList/viewWishListFolder',
        }),
        getListWishlist() {
            let obj = {
                folder_id: this.id,
                member_access_id: this.member_id,
                company_id: 0
            }
            this.viewWishListFolder(obj).then(res => {
                this.dataWishlist = res.data.data;
                this.count = res.data.totalRow;
                this.nameFolder = res.data.name;
                this.dataFolder = res.data;
            })
        },
        onFormEditFolderWishList(){
            this.isShowModalIndex = 7;
        },
        onShowModal(index) {
            this.isShowModalIndex = index;
        },
        updatenameFolder(event) {
            this.dataFolder.name = event;
        },
        updatepublishFolder(event) {
            this.dataFolder.is_publish = event;
        },
    },
    components: {
        ItemProject : () => import('~/components/wishlist/ItemProject'),
        NewWishListFolder: () => import("~/components/share/FormNewWishListFolder"),
        Modal: () => import('~/components/share/Modal'),
    },
    mounted() {
        this.id = this.$route.params.id;
        this.member_id = this.$store.getters.getUserId;
        this.getListWishlist();
    }
};
</script>
<style scoped>
     .c---unvisible{
        visibility: hidden;
    }
</style>