<template>
    <div>
        <header class="panel-head">
            <div class="name-head"> {{ $t('web_story_similar') }} </div>
        </header>
        <section class="panel-body">
            <div class="list-similar-posts row">

                <div class="col-lg-4 col-md-12 col-sm-6 col-12 mb-md-0 mb-2 post">
                    <div class="item-similar-posts">
                        <div class="img-thumb">
                            <nuxt-link class="image" :to="localePath({name: 'blog-detail-id', params: { id: 1 }})">
                                <img src="~/assets/images/upload/blog-1.png" alt="" class="img-fluid">
                            </nuxt-link>
                            <div class="group-heart">
                                <div class="heart">
                                    <i class="far fa-heart"></i>
                                </div>
                            </div>
                        </div>

                        <div class="info">
                            <div class="title">
                                <el-tooltip  class="item" effect="light" content="優秀な20代がPLEXに集まる理由" placement="bottom">
                                    <nuxt-link class="text-title" :to="localePath({name: 'blog-detail-id', params: { id: 1 }})">
                                        優秀な20代がPLEXに集まる理由
                                    </nuxt-link>
                                </el-tooltip>
                            </div>
                            <div class="description line-2">
                                こんにちは、SPOTECHでデザイナーをしています小畑です。SPOTECHはまだ産声を上げてから1年しか経っていない生まれ…
                            </div>
                            <div class="group-meta">
                                <div class="group-left">
                                    <div class="item-table">
                                        <div class="item">
                                            <div class="image">
                                                <img src="~/assets/images/upload/blog-1.png" alt=""
                                                    class="img-fluid">
                                            </div>
                                        </div>
                                        <div class="item">
                                            <div class="name-favorite">
                                                1 {{$t('favorites')}}
                                            </div>
                                        </div>
                                        <div class="item">
                                            <div class="heart">
                                                <i class="far fa-heart"></i>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="group-right">
                                    <div class="number-view">
                                        3,757 views
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="col-lg-4 col-md-12 col-sm-6 col-12 mb-md-0 mb-2 post">
                    <div class="item-similar-posts">
                        <div class="img-thumb">
                            <a href="javascript:;" class="image">
                                <img src="assets/images/upload/blog-1.png" alt="" class="img-fluid">
                            </a>
                            <div class="group-heart">
                                <div class="heart">
                                    <i class="far fa-heart"></i>
                                </div>
                            </div>
                        </div>

                        <div class="info">
                            <div class="title">
                                <a href="javascript:;" class="text-title">
                                    優秀な20代がPLEXに集まる理由
                                </a>
                            </div>
                            <div class="description line-2">
                                こんにちは、SPOTECHでデザイナーをしています小畑です。SPOTECHはまだ産声を上げてから1年しか経っていない生まれ…
                            </div>
                            <div class="group-meta">
                                <div class="group-left">
                                    <div class="item-table">
                                        <div class="item">
                                            <div class="image">
                                                <img src="assets/images/upload/blog-1.png" alt=""
                                                    class="img-fluid">
                                            </div>
                                        </div>
                                        <div class="item">
                                            <div class="name-favorite">
                                                1 お気に入り
                                            </div>
                                        </div>
                                        <div class="item">
                                            <div class="heart">
                                                <i class="far fa-heart"></i>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="group-right">
                                    <div class="number-view">
                                        3,757 views
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="col-lg-4 col-md-12 col-sm-6 col-12 mb-md-0 mb-2 post">
                    <div class="item-similar-posts">
                        <div class="img-thumb">
                            <a href="javascript:;" class="image">
                                <img src="assets/images/upload/blog-1.png" alt="" class="img-fluid">
                            </a>
                            <div class="group-heart">
                                <div class="heart">
                                    <i class="far fa-heart"></i>
                                </div>
                            </div>
                        </div>

                        <div class="info">
                            <div class="title">
                                <a href="javascript:;" class="text-title">
                                    優秀な20代がPLEXに集まる理由
                                </a>
                            </div>
                            <div class="description line-2">
                                こんにちは、SPOTECHでデザイナーをしています小畑です。SPOTECHはまだ産声を上げてから1年しか経っていない生まれ…
                            </div>
                            <div class="group-meta">
                                <div class="group-left">
                                    <div class="item-table">
                                        <div class="item">
                                            <div class="image">
                                                <img src="assets/images/upload/blog-1.png" alt=""
                                                    class="img-fluid">
                                            </div>
                                        </div>
                                        <div class="item">
                                            <div class="name-favorite">
                                                1 お気に入り
                                            </div>
                                        </div>
                                        <div class="item">
                                            <div class="heart">
                                                <i class="far fa-heart"></i>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="group-right">
                                    <div class="number-view">
                                        3,757 views
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

            </div>
        </section>
    </div>
</template>
<script>
export default {
    name: 'StorySimilar',
    props: {
        objData: {
            type: Object
        }
    },
}
</script>