<template>
    <section>
        <div class="group-info-follow-blog margin-bottom-50">
            <div class="group-info-avarta">
                <div class="img-thumb">
                    <a href="javascript:;" class="image">
                        <img src="~/assets/images/upload/img-d3.png" alt="" class="img-fluid">
                    </a>
                </div>
                <div class="info">
                    <div class="d-flex align-items-center">
                        <div class="name padding-right-30">株式会社SPOTECH</div>
                    </div>
                    <div class="group-links-avatar">
                        <div class="item group-edit mr-3"><a href="javascript:;" title=""
                                class="item-edit">フォロー</a>
                        </div>
                        <div class="item wp-link-web mr-3">
                            <a href="javascript:;" title=""
                                class="links-web">https://spotech.io</a>
                        </div>
                        <div class="item address  mr-3">
                            <div class="d-flex align-items-center">
                                <div class="icon"><img
                                        src="assets/images/icon/location-point.png" alt="">
                                </div>
                                <div class="texts">東京都</div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div class="article-post">
            <div class="title-post">
                未経験から広報に転向！「言語化できない魅力を発信したい。」
            </div>
            <div class="content-post">
                <div class="line-spacing">イデア・レコード広報担当の野澤です。</div>
                <div class="line-spacing"> 本日はプレスリリースのご案内です。 </div>
                <div class="line-spacing">
                    外食ビジネスの働き方改革を実現！AIが24時間働きます！～予約取得から媒体連携までワンストップで提供
                </div>
                <div class="line-spacing">
                    昨年3月から開発を進めてきた業務支援プラットフォーム「GATE」に新たな機能を搭載し、外食ビジネス特化型の業務支援ソリューションとして大きな一歩を進み始めました。
                </div>
                <div class="line-spacing"> わたしたちが伝えたい想いの背景にあるのは「飲食店が疲れている！」という実情です。 </div>
                <div class="line-spacing">
                    消費増税などの法改正・外食離れ・天候不良/災害・原価高騰・バイトテロ・モンスターカスタマーなど、店舗を悩ませる原因はいくつも挙げられますが、そのなかでも大きな原因として出てくるのは「人手不足」です。
                </div>
                <div class="line-spacing">
                    求人情報でも飲食店のパート・アルバイト募集はよく見かけますし、店頭に張り紙が出ている光景をみることもあります。 </div>
                <div class="line-spacing"> なぜそんなに人手不足なの・・・？と思ったことはありませんか？ </div>
                <div class="line-spacing"> 飲食店の業務は調理・接客・開店準備と閉店後の片付けだけではありません。 </div>
                <div class="line-spacing">
                    グルメ媒体の店舗情報に新しいメニューや写真を掲載したり、ネット予約の対応をしたり、お問合せに返信したり。。。と集客施策と予約問合せの対応も毎日必須の業務です。
                </div>
                <div class="line-spacing">
                    また、電話の予約も営業時間外に掛かってきたり、店内が混雑していて電話がとれなかったり、と十分な対応ができていないことが多くあります。
                </div>
                <div class="line-spacing">
                    これらをお店の方々が自分たちの力だけで解決させようとしても人手と知識が足りず、充分な施策ができないことが殆どです。 </div>
                <div class="line-spacing">
                    イデア・レコードが提供するサービスは、疲弊する飲食店を助け売上向上させ、事業を成長に導くことを掲げています。 </div>
                <div class="line-spacing"> これらのサービスを包括的に成長させ「GATE」としてリリースしました。ぜひご覧ください！！
                </div>
                <div class="line-spacing"> GATEサービスサイトはこちら：https://gate-series.com/ </div>

            </div>
        </div>

        <div class="group-hashtag">
            <div class="list-hashtag">
                <div class="item-hashtag">
                    <a href="javascript:;" class="hashtag"> #成長 </a>
                </div>
                <div class="item-hashtag">
                    <a href="javascript:;" class="hashtag"> #働き方改革 </a>
                </div>
                <div class="item-hashtag">
                    <a href="javascript:;" class="hashtag"> #働き方改革 </a>
                </div>
            </div>
        </div>

        <div class="group-social-interaction">
            <div class="group-favourite group-social-left">
                <div class="item-heart item">
                    <div class="circle box-shadow">
                        <a href="javascript:;" class="links"
                            @click="onModalWishList"
                            @showModalIndexUpdate="isShowModalIndex = $event">
                            <i class="far fa-heart"></i>
                        </a>
                    </div>
                </div>
                <div class="image-avatar item">
                    <div class="circle box-shadow">
                        <a href="javascript:;" class="image">
                            <img src="assets/images/upload/a115-3.png" alt=""
                                class="img-fluid">
                        </a>
                    </div>
                </div>
                <div class="text-favourite item">1 {{$t('favorites')}}！</div>
            </div>
            <div class="group-favourite group-social-right">
                <div class="item-social item">
                    <div class="circle box-shadow">
                        <a href="javascript:;" class="links"> <i
                                class="fab fa-facebook-f"></i>
                        </a>
                    </div>
                </div>

                <div class="item-social item">
                    <div class="circle box-shadow">
                        <a href="javascript:;" class="links"> <i class="fab fa-twitter"></i>
                        </a>
                    </div>
                </div>
                <div class="group-text item">
                    <div class="text-oclock">
                        <span class="icon"> <i class="far fa-clock"></i> </span>
                        <span class="texts"> 5日前 </span>
                    </div>
                </div>
            </div>
        </div>

        <div class="mb-4">
            <a href="javascript:;" class="links-comment">
                コメントを書く
            </a>
        </div>

        <div class="group-breadcrumb">
            <div class="list-breadcrumb">
                <div class="item-breadcrumb">
                    <a href="javascript:;" class="links-breadcrumb"> Home </a>
                </div>
                <div class="item-breadcrumb">
                    <a href="javascript:;" class="links-breadcrumb"> クライアント経験談 </a>
                </div>
                <div class="item-breadcrumb">
                    <a href="javascript:;" class="links-breadcrumb"> 株式会社SPOTECH </a>
                </div>
            </div>
        </div> 
        <div class="group-story-expert">
            <div class="name-title"> このストーリーを書いたエキスパート </div>
            <div class="article-story-expert">
                <div class="item-story-expert">
                    <div class="img-thumb">
                        <a href="javascript:;" class="image">
                            <img src="assets/images/upload/a115-3.png" alt=""
                                class="img-fluid">
                        </a>
                    </div>
                    <div class="info">
                        <div class="wrapp-top-title">
                            <div class="item title-1"> Makoto Miyoshi </div>
                            <div class="item title-2"> 株式会社イデア・レコード / サブリーダー </div>
                            <div class="item title-3"> 広報 </div>
                        </div>
                        <div class="description line-2">
                            現在、株式会社イデア・レコードの広報を担当しています。大学卒業後、音楽教室のピアノ講師、楽器メーカーにて開発サポート、コールセンター、デモンストレーター、販促企…
                        </div>
                        <div class="group-btn-links">
                            <div class="item-links">
                                <a href="javascript:;" class="links follow"> フォロー </a>
                            </div>
                            <div class="item-links">
                                <a href="javascript:;" class="links expert"> このエキスパートを採用する
                                </a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
</template>
<script>
import {mapGetters} from 'vuex';
import eventBus from '~/services/bus';
export default {
    name: 'StoryDetail',
    props: {
        objData: {
            type: Object
        }
    },
    data() {
        return {
            isShowModalIndex: 0,
            id: 0,
        }
    },
    methods: {
        onShowModal(index) {
            this.isShowModalIndex = index;
        },
        onModalWishList() {
            // if (this.is_yourself) return;
            if (!this.loggedIn) {
                eventBus.$emit('onLogin');
            } else {
            _.has(this.company, 'company_id')
                || eventBus.$emit('onFavoriteModal', {type: 4, object_id: parseInt(this.id), objData: this.objData});
            }
        },
        loggedIn() {
            return this.$store.getters.loggedIn
        }
    },
    mounted() {
        this.id = parseInt(this.$route.params.id);
    },
}
</script>