<template>
    <section>
        <div class="group-list-story">                      
            <div class="item-story">
                <div class="story">
                    <div class="img-thumb">
                        <nuxt-link class="image" :to="localePath({name: 'blog-detail-id', params: { id: 1 }})">
                            <img src="~/assets/images/upload/img-d1.png" alt="" class="img-fluid">
                        </nuxt-link>
                    </div>
                    <div class="info">
                        <div class="head-infor">
                            <div class="group-title">
                                <el-tooltip  class="item" effect="light" content="News Title" placement="bottom">
                                    <nuxt-link class="title" :to="localePath({name: 'blog-detail-id', params: { id: 1 }})">
                                        News Title
                                    </nuxt-link>
                                </el-tooltip>
                            </div>
                        </div>
                        <div class="body-info">
                            <div class="group-datetime">
                                <div class="datetime"> <span>Writer</span> <span>Date</span>
                                </div>
                            </div>
                            <div class="description">
                                Subtitle
                            </div>
                        </div>
                        <div class="footer-info">
                            <div class="wrapp-info">
                                <div class="group">
                                    <div class="group-links">
                                        <a href="javascript:;" class="links"> エキスパート経験談 </a>
                                    </div>

                                    <div class="number-notify">
                                        <div class="group-icon-message">
                                            <div class="image-message"><i
                                                    class="far fa-comment-alt"></i></div>
                                            <div class="number-message">1</div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="item-story">
                <div class="story">
                    <div class="img-thumb">
                        <a href="javascript::" class="image">
                            <img src="assets/images/upload/img-d1.png" alt=""
                                class="img-fluid">
                        </a>
                    </div>
                    <div class="info">
                        <div class="head-infor">
                            <div class="group-title">
                                <a href="javascript:;" class="title">News Title News Title
                                    News
                                    Title News Title News Title News Title News Title News
                                    Title</a>
                            </div>
                        </div>
                        <div class="body-info">
                            <div class="group-datetime">
                                <div class="datetime"> <span>Writer</span> <span>Date</span>
                                </div>
                            </div>
                            <div class="description">
                                Subtitle Subtitle Subtitl eSubtitleSu btitleSubtitl
                                eSubtitle
                                Subtitle Subtitl Subtitl Subtitl Subtitl Subtitl
                            </div>
                        </div>
                        <div class="footer-info">
                            <div class="wrapp-info">
                                <div class="group">
                                    <div class="group-links">
                                        <a href="javascript:;" class="links"> エキスパート経験談 </a>
                                    </div>

                                    <div class="number-notify">
                                        <div class="group-icon-message">
                                            <div class="image-message"><i
                                                    class="far fa-comment-alt"></i></div>
                                            <div class="number-message">1</div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="item-story">
                <div class="story">
                    <div class="img-thumb">
                        <a href="javascript::" class="image">
                            <img src="assets/images/upload/img-d1.png" alt=""
                                class="img-fluid">
                        </a>
                    </div>
                    <div class="info">
                        <div class="head-infor">
                            <div class="group-title">
                                <a href="javascript:;" class="title">News Title</a>
                            </div>
                        </div>
                        <div class="body-info">
                            <div class="group-datetime">
                                <div class="datetime"> <span>Writer</span> <span>Date</span>
                                </div>
                            </div>
                            <div class="description">
                                Subtitle
                            </div>
                        </div>
                        <div class="footer-info">
                            <div class="wrapp-info">
                                <div class="group">
                                    <div class="group-links">
                                        <a href="javascript:;" class="links"> エキスパート経験談 </a>
                                    </div>

                                    <div class="number-notify">
                                        <div class="group-icon-message">
                                            <div class="image-message"><i
                                                    class="far fa-comment-alt"></i></div>
                                            <div class="number-message">1</div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="item-story">
                <div class="story">
                    <div class="img-thumb">
                        <a href="javascript::" class="image">
                            <img src="assets/images/upload/img-d1.png" alt=""
                                class="img-fluid">
                        </a>
                    </div>
                    <div class="info">
                        <div class="head-infor">
                            <div class="group-title">
                                <a href="javascript:;" class="title">News Title</a>
                            </div>
                        </div>
                        <div class="body-info">
                            <div class="group-datetime">
                                <div class="datetime"> <span>Writer</span> <span>Date</span>
                                </div>
                            </div>
                            <div class="description">
                                Subtitle
                            </div>
                        </div>
                        <div class="footer-info">
                            <div class="wrapp-info">
                                <div class="group">
                                    <div class="group-links">
                                        <a href="javascript:;" class="links"> エキスパート経験談 </a>
                                    </div>

                                    <div class="number-notify">
                                        <div class="group-icon-message">
                                            <div class="image-message"><i
                                                    class="far fa-comment-alt"></i></div>
                                            <div class="number-message">1</div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="item-story">
                <div class="story">
                    <div class="img-thumb">
                        <a href="javascript::" class="image">
                            <img src="assets/images/upload/img-d1.png" alt=""
                                class="img-fluid">
                        </a>
                    </div>
                    <div class="info">
                        <div class="head-infor">
                            <div class="group-title">
                                <a href="javascript:;" class="title">News Title</a>
                            </div>
                        </div>
                        <div class="body-info">
                            <div class="group-datetime">
                                <div class="datetime"> <span>Writer</span> <span>Date</span>
                                </div>
                            </div>
                            <div class="description">
                                Subtitle
                            </div>
                        </div>
                        <div class="footer-info">
                            <div class="wrapp-info">
                                <div class="group">
                                    <div class="group-links">
                                        <a href="javascript:;" class="links"> エキスパート経験談 </a>
                                    </div>

                                    <div class="number-notify">
                                        <div class="group-icon-message">
                                            <div class="image-message"><i
                                                    class="far fa-comment-alt"></i></div>
                                            <div class="number-message">1</div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="item-story">
                <div class="story">
                    <div class="img-thumb">
                        <a href="javascript::" class="image">
                            <img src="assets/images/upload/img-d1.png" alt=""
                                class="img-fluid">
                        </a>
                    </div>
                    <div class="info">
                        <div class="head-infor">
                            <div class="group-title">
                                <a href="javascript:;" class="title">News Title</a>
                            </div>
                        </div>
                        <div class="body-info">
                            <div class="group-datetime">
                                <div class="datetime"> <span>Writer</span> <span>Date</span>
                                </div>
                            </div>
                            <div class="description">
                                Subtitle
                            </div>
                        </div>
                        <div class="footer-info">
                            <div class="wrapp-info">
                                <div class="group">
                                    <div class="group-links">
                                        <a href="javascript:;" class="links"> エキスパート経験談 </a>
                                    </div>

                                    <div class="number-notify">
                                        <div class="group-icon-message">
                                            <div class="image-message"><i
                                                    class="far fa-comment-alt"></i></div>
                                            <div class="number-message">1</div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="item-story">
                <div class="story">
                    <div class="img-thumb">
                        <a href="javascript::" class="image">
                            <img src="assets/images/upload/img-d1.png" alt=""
                                class="img-fluid">
                        </a>
                    </div>
                    <div class="info">
                        <div class="head-infor">
                            <div class="group-title">
                                <a href="javascript:;" class="title">News Title</a>
                            </div>
                        </div>
                        <div class="body-info">
                            <div class="group-datetime">
                                <div class="datetime"> <span>Writer</span> <span>Date</span>
                                </div>
                            </div>
                            <div class="description">
                                Subtitle
                            </div>
                        </div>
                        <div class="footer-info">
                            <div class="wrapp-info">
                                <div class="group">
                                    <div class="group-links">
                                        <a href="javascript:;" class="links"> エキスパート経験談 </a>
                                    </div>

                                    <div class="number-notify">
                                        <div class="group-icon-message">
                                            <div class="image-message"><i
                                                    class="far fa-comment-alt"></i></div>
                                            <div class="number-message">1</div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div>
            <ul class="pagination d-flex align-items-center margin-y-50">
                <li><a href="#" class="item active">1</a></li>
                <li><a href="#" class="item">2</a></li>
                <li><a href="#" class="item">3</a></li>
                <li><a href="#" class="item">...</a></li>
                <li><a href="#" class="item">41</a></li>
                <li><a href="#" class="next item"><i class="fas fa-chevron-right"></i></a>
                </li>
            </ul>
        </div>
    </section>
</template>