<template>
    <div class="item-aside">
        <header class="panel-head-aside">
            <div class="title">
                <div class="texts"> Topics </div>
            </div>
        </header>
        <section class="group-topics">
            <div class="list-topics">
                <div class="item-topic">
                    <nuxt-link class="link-topic" :to="localePath({name: 'community-story-topic-id', params: { id: 1 }})">
                        すべて（200） 
                    </nuxt-link>
                </div>
                <div class="item-topic">
                    <a href="javascript:;" class="link-topic"> クライアント経験談（32） </a>
                </div>
                <div class="item-topic">
                    <a href="javascript:;" class="link-topic"> エキスパート経験談（13） </a>
                </div>
                <div class="item-topic">
                    <a href="javascript:;" class="link-topic"> フリーランスライフ（34） </a>
                </div>
                <div class="item-topic">
                    <a href="javascript:;" class="link-topic"> アントレプレナーライフ（44） </a>
                </div>
                <div class="item-topic">
                    <a href="javascript:;" class="link-topic"> 開発秘話（32） </a>
                </div>
                <div class="item-topic">
                    <a href="javascript:;" class="link-topic"> デザイン秘話（32） </a>
                </div>
                <div class="item-topic">
                    <a href="javascript:;" class="link-topic"> マーケティング秘話（32） </a>
                </div>
                <div class="item-topic">
                    <a href="javascript:;" class="link-topic"> プロマネ秘話（32） </a>
                </div>
                <div class="item-topic">
                    <a href="javascript:;" class="link-topic"> ビジネス秘話（12） </a>
                </div>
                <div class="item-topic">
                    <a href="javascript:;" class="link-topic"> 創業秘話（12） </a>
                </div>
            </div>
            <div class="group-btn_ft">
                <nuxt-link class="btn-links btn-question" :to="localePath({name: 'blog-add'})">
                    {{$t('PostaStory')}} 
                </nuxt-link>
                <a href="javascript:;" class="btn-links btn-country"> 日本 </a>
            </div>
        </section>
    </div>
</template>
<script>
export default {
    name: 'RightStoryTopics',
}
</script>