<template>
    <div class="item-aside">
        <header class="panel-head-aside">
            <div class="title">
                <div class="texts">{{$t('web_story_popular')}}</div>
            </div>
        </header>
        <section class="panel-body-aside">
            <div class="group-list-notify">
                
                <div class="item-notify">
                    <div class="group-notify">
                        <div class="title">
                            <el-tooltip  class="item" effect="light" content="The Fiverr Notifications Redesign" placement="bottom">
                                <nuxt-link class="image" :to="localePath({name: 'blog-detail-id', params: { id: 1 }})">
                                    The Fiverr Notifications Redesign
                                </nuxt-link>        
                            </el-tooltip>
                        </div>
                        <div class="item">
                            <div class="group-datetime">
                                <span class="writer">Adam</span>
                                <span class="date">2019年5月10日</span>
                            </div>
                            <div class="number-notify">
                                <div class="group-icon-message">
                                    <div class="image-message"><i
                                            class="far fa-comment-alt"></i></div>
                                    <div class="number-message">1</div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>


                <div class="item-notify">
                    <div class="group-notify">
                        <div class="title">The Fiverr Notifications Redesign</div>
                        <div class="item">
                            <div class="group-datetime">
                                <span class="writer">Adam</span>
                                <span class="date">2019年5月10日</span>
                            </div>
                            <div class="number-notify">
                                <div class="group-icon-message">
                                    <div class="image-message"><i
                                            class="far fa-comment-alt"></i></div>
                                    <div class="number-message">1</div>
                                </div>
                            </div>
                        </div>
                    </div>

                </div>
                <div class="item-notify">
                    <div class="group-notify">
                        <div class="title">The Fiverr Notifications Redesign</div>
                        <div class="item">
                            <div class="group-datetime">
                                <span class="writer">Adam</span>
                                <span class="date">2019年5月10日</span>
                            </div>
                            <div class="number-notify">
                                <div class="group-icon-message">
                                    <div class="image-message"><i
                                            class="far fa-comment-alt"></i></div>
                                    <div class="number-message">1</div>
                                </div>
                            </div>
                        </div>
                    </div>

                </div>
            </div>
            <div class="group-follow-social">
                <div class="row">
                    <div class="col-xl-4 col-md-12 col-sm-4 col-12 pd-item">
                        <div class="group-table">
                            <div class="item-follow">
                                <div class="img-thumb">
                                    <img src="~/assets/images/icon/facebook-d.png"
                                        alt="" class="img-fluid">
                                </div>
                                <div class="number-follow"> 1,767,654 </div>
                                <div class="name-follow">fans</div>
                            </div>
                        </div>
                    </div>
                    <div class="col-xl-4 col-md-12 col-sm-4 col-12 pd-item">
                        <div class="group-table">
                            <div class="item-follow">
                                <div class="img-thumb">
                                    <img src="~/assets/images/icon/instagram-d.png"
                                        alt="" class="img-fluid">
                                </div>
                                <div class="number-follow"> 1,767,654 </div>
                                <div class="name-follow">followers</div>
                            </div>
                        </div>
                    </div>
                    <div class="col-xl-4 col-md-12 col-sm-4 col-12 pd-item">
                        <div class="group-table">
                            <div class="item-follow">
                                <div class="img-thumb">
                                    <img src="~/assets/images/icon/twitter-d.png"
                                        alt="" class="img-fluid">
                                </div>
                                <div class="number-follow"> 1,767,654 </div>
                                <div class="name-follow">followers</div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </section>
    </div>
</template>
<script>
export default {
    name: 'RightStoryPopular',
}
</script>