<template>
  <div class="group-banner_d">
      <div class="row m-sm-0">
        <div class="col-md-6 col-12 p-0">
          <div class="group-banner_d-l">
            <div class="group-artisan">
              <div class="img-thumb">
                <a href="javascript:;" class="image">
                  <img src="~/assets/images/upload/img-d1.png" alt="" class="img-fluid">
                </a>
              </div>
              <div class="info">
                <div class="group-links">
                  <a href="javascript:;" class="links"> <span>エキスパート経験談</span> </a>
                </div>
                <div class="group-title">
                  <el-tooltip  class="item" effect="light" content="Why Your Brand Needs Style Tiles(And How to Create Them) " placement="bottom">
                    <nuxt-link class="title" :to="localePath({name: 'blog-detail-id', params: { id: 1 }})">
                      Why Your Brand Needs Style Tiles(And How to Create Them) 
                    </nuxt-link>
                  </el-tooltip>
                </div>
                <div class="group-meta_d">
                  <span class="name-meta"> 三好真 </span>
                  <span class="date-meta"> 2019年5月30日 </span>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="col-md-6 col-12 p-0">
          <div class="group-banner_d-r">
            <div class="top">
              <div class="group-artisan">
                <div class="img-thumb">
                  <a href="javascript:;" class="image">
                    <img src="~/assets/images/upload/img-d2.png" alt="" class="img-fluid">
                  </a>
                </div>
                <div class="info">
                  <div class="group-links">
                    <a href="javascript:;" class="links"> <span>クライアント経験談</span> </a>
                  </div>
                  <div class="group-title">
                    <a href="javascript:;" class="title"> News Title </a>
                  </div>
                </div>
              </div>
            </div>
            <div class="down">
              <div class="row m-0">
                <div class="col-sm-6 col-12 p-0">
                  <div class="group-artisan">
                    <div class="img-thumb">
                      <a href="javascript:;" class="image">
                        <img src="~/assets/images/upload/img-d3.png" alt="" class="img-fluid">
                      </a>
                    </div>
                    <div class="info">
                      <div class="group-links">
                        <a href="javascript:;" class="links"> <span>クライアント経験談</span> </a>
                      </div>
                      <div class="group-title">
                        <a href="javascript:;" class="title"> News Title </a>
                      </div>
                    </div>
                  </div>
                </div>
                <div class="col-sm-6 col-12 p-0">
                  <div class="group-artisan">
                    <div class="img-thumb">
                      <a href="javascript:;" class="image">
                        <img src="~/assets/images/upload/img-d4.png" alt="" class="img-fluid">
                      </a>
                    </div>
                    <div class="info">
                      <div class="group-links">
                        <a href="javascript:;" class="links"> <span>クライアント経験談</span> </a>
                      </div>
                      <div class="group-title">
                        <a href="javascript:;" class="title"> News Title </a>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
</template>
<script>
export default {
  name: 'StoryTop',

}
</script>
<style scoped>
  .group-banner_d{
    height: 500px;
  }
</style>