<template>
  <div class="container">
    <NotificationList/>
  </div>
</template>

<script>

  export default {
    layout: 'chat',
    name: "MessengerNotificationList",
    middleware: 'auth',
    components: {
      NotificationList: () => import('~/components/notification/List')
    }
  }
</script>

<style scoped>

</style>
