<template>
  <div class="container">
    <div class="group-content mb-hp">
      <div class="row" v-if="profile">
        <div class="col-xl-4 col-lg-4">
          <LeftSide :verify="profile.verify"/>
        </div>
        <div class="col-xl-8 col-lg-8">
          <RequiredItem :item="profile"/>
          <Portfolio v-model="profile.portfoliosCompany" :title-field="'sapo'"/>
          <members :members="profile.members"/>
          <div class="text-center">
            <el-button class="btn btn-success w-100" :loading="loading" @click="onSaveExpert">{{$t('Save')}}</el-button>
          </div>
        </div>
      </div>
    </div>
  </div>
</template>

<script>
  const regexJapanCharacter = /[a-zA-Z]|[\u3400-\u9FBF]|[\u3000-\u303F]|[\u3040-\u309F]|[\u30A0-\u30FF]|[\uFF00-\uFFEF]|[\u4E00-\u9FAF]|[\u2605-\u2606]|[\u2190-\u2195]|\u203B/;
  import {mapGetters, mapActions} from "vuex";
  import _ from "lodash";
  import eventBus from "~/services/bus";
  import axios from "axios";
  import http from '~/services/request'

  export default {
    layout: "custom",
    name: "ProfileClient",
    async asyncData({req, params, store}) {
      let company = store.getters.getCompany
      let company_id = params.id || company.company_id;
      if (!+params.id) {
        let request = null;
        if (process.server) {
          const host = `http://${req.headers.host}`;
          const instance = axios.create({
            baseURL: `${host}/api/client`,
            timeout: 1000,
            headers: {
              'X-Request-Time': new Date().getTime(),
              'Currency-Code': store.getters.getCurrency,
              'Language-Code': store.getters.getLocale,
              'X-Requested-Env': 'web',
              'Content-Type': 'application/json',
              'Authorization': `Bearer ${store.getters.accessToken}`
            }
          });
          instance.interceptors.response.use(response => response.data, error => {});
          request = instance;
        } else {
          request = http;
        }
        let res = await request.get('/members/detailClient', {
          params: {company_id}
        });
        const data = res ? res.data : null;
        let profile = data;
        profile.portfoliosCompany = _.clone(profile.portfolios);
        profile.company_id = company.company_id;
        return {
          params: {company_id},
          profile
        }
      }
    },
    data() {
      return {
        dialogEditBasicExpert: false,
        loading: false,
      };
    },
    components: {
      LeftSide: () => import("~/components/profile/LeftSide"),
      RequiredItem: () => import("~/components/profile/client/RequiredItem"),
      Members: () => import("~/components/profile/client/Members"),
      Portfolio: () => import("~/components/profile/client/Portfolio")
    },
    methods: {
      ...mapActions({
        saveClient: "members/profile/client/saveClient",
        getCompany: "members/company/listCompanyByMember"
      }),
      validCharate(e) {
        return regexJapanCharacter.test(e);
      },
      onSaveExpert() {
        if (!this.validCharate(this.profile.company.title)) {
          this.showNotification(this.$t('warning'), this.$t('InvalidCompanyNameCharater'), 'warning')
        } else {
          this.loading = true;
          this.saveClient(this.profile)
            .then((res) => {
              let obj = {
                title: this.profile.company.title,
              }
              eventBus.$emit('onUpdateClientProfile', obj);
              
              // this.showNotification(this.$t("Success"), this.$t('SaveClientProfileSuccess'), 'success');
            })
            .catch(error => {
              this.showNotification(this.$t("Error"), this.$t(error.message), 'error');
            })
            .finally(() => {
              this.loading = false;
            })
        }
      }
    },
  };
</script>

<style scoped>
</style>
