<template>
  <div class="img-thumb">
    <a href="javascript:;" class="image">
      <img :src="value" alt="" class="img-fluid">
    </a>
    <div class="profile-avatar-select" @click="onShowPopup" v-if="isYourself">
      <div></div>
      <a href="javascript:" class="text-center">
        <i class="mdi mdi-camera"></i>
      </a>
    </div>
    <el-dialog :title="$t('UploadImage')" v-if="dialog" :visible.sync="dialog" width="40%" :append-to-body="true" :close-on-click-modal="false" @close="onClosePopup">
      <CropImage v-loading="loading" v-model="image"/>
      <span slot="footer" class="dialog-footer">
        <el-button type="primary" @click="onUploadImage" :loading="loading" :disabled="!image">{{$t('Upload')}}</el-button>
      </span>
    </el-dialog>
  </div>
</template>

<script>
  import config from '~/config'
  import {mapGetters} from 'vuex'

  export default {
    name: "ThumbAvatar",
    props: ['value', 'id', 'isYourself'],
    data() {
      return {
        dialog: false,
        image: null,
        loading: false,
      }
    },
    components: {
      ImageUpload: () => import('~/components/share/ImageUpload'),
      CropImage: () => import('~/components/share/UploadAvatarCover/CropImage')
    },
    computed: {
      ...mapGetters({
        accessToken: 'accessToken'
      })
    },
    methods: {
      onShowPopup() {
        this.dialog = true
      },
      onClosePopup() {
        this.image = null;
        this.dialog = false
      },
      async onUploadImage() {
        this.loading = true
        var xhr, formData;
        xhr = new XMLHttpRequest();
        xhr.withCredentials = false;
        xhr.open('POST', config.apiUrl + '/images/upload');
        xhr.setRequestHeader('Authorization', `Bearer ${this.accessToken}`);
        xhr.onload = () => {
          this.loading = false;
          var json;
          if (xhr.status != 200) {
            this.$message('HTTP Error: ' + xhr.status, 'error')
            return;
          }
          json = JSON.parse(xhr.responseText);
          this.onUpdateAvatar(json)
        };
        formData = new FormData();
        formData.append('file', this.image, 'image');
        xhr.send(formData);
      },
      async onUpdateAvatar(value) {
        const {location, storage_domain} = value;
        let obj = {
          avatar: location,
          company_id: this.id
        }
        const {data} = await this.$store.dispatch('members/profile/expert/updateAvatarCover', obj)
        if (data) {
          this.$emit('input', storage_domain + location)
          this.onClosePopup();
        }
      }
    },
  }
</script>
<style scoped lang="scss">
  .img-thumb {
    &:hover > .profile-avatar-select {
      & > div {
        &:before, &:after {
          top: -100%;
        }
      }

      & > a {
        opacity: .5;
      }
    }

    .profile-avatar-select:hover {
      & > div {
        &:before, &:after {
          background: rgba(0, 0, 0, .8)
        }
      }

      & > a {
        opacity: .8;
      }
    }
  }

  .profile-avatar-select {
    width: 94px;
    position: absolute;
    left: 0;
    bottom: 0;
    text-align: center;
    overflow: hidden;
    color: #fff;
    cursor: pointer;

    & > div {
      display: block;
      overflow: hidden;
      position: relative;
      border-bottom-left-radius: 47px;
      border-bottom-right-radius: 47px;
      height: 47px;

      &:before, &:after {
        background: linear-gradient(transparent, rgba(0, 0, 0, .5) 50%, rgba(0, 0, 0, .5) 100%);
        content: '';
        height: 200%;
        left: 0;
        position: absolute;
        right: 0;
        top: 100%;
        transition: top .13s ease-out;
        z-index: 0;
      }
    }

    & > a {
      position: absolute;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
      z-index: 20;
      opacity: 0;
      color: #fff;
      transition: opacity .13s ease-out;

      & > i {
        font-size: 20px;
      }
    }
  }
</style>
