<template>
  <div class="tab-pane fade in show" style="display: block;">
    <div class="group-text-tab special"
         v-for="(v, k) in histories"
         :key="k">
      <div class="media-body">
        <a href="javascript:;" @click="searchPage(v.keyword)" class="title d-flex justify-content-start align-items-center">
          <i class="fas fa-history font-15"></i>
          <span class="texts ml-3"> 
            <div>
              <span v-if="v.keyword.keywords">{{v.keyword.keywords}} - </span>
              <span v-if="v.keyword.category_id">{{filterCategory(v.keyword.category_id)}} - </span>
              <span v-if="v.keyword.nation_id">{{filterNation(v.keyword.nation_id)}}</span>
            </div>
            <div class="times">
              {{filterTimes(v.created_at)}}
            </div>
          </span>
        </a>
        <!--        <history :key-words="history" :isActive="type == index" />-->
      </div>
    </div>
  </div>
</template>

<script>
  import eventBus from '~/services/bus';
  import {mapGetters} from 'vuex'

  export default {
    name: 'BaseSearchHistory',
    props: ['histories'],
    data() {
      return {
        params: {
          pageIndex: 1,
          pageSize: 12,
          typeSearch: 3,
          nation_id: '',
          category_id: ''
        }
      }
    },
    components: {
      History: () => import('~/components/search/HistoryChild'),
    },
    computed: {
      ...mapGetters({
        listNations: "resource/nationClient5",
        listCategories: "resource/categories5"
      }),
      loggedIn() {
        return this.$store.getters.loggedIn
      },
    },
    methods: {
      historySearch(type) {
        if (!this.loggedIn) {
          eventBus.$emit('onLogin');
          return;
        } else {
          this.type = this.type ? '' : type;
        }
      },
      filterCategory(value) {
        let {title} = this.listCategories.find(i => i.id === value);
        return title
      },
      filterNation(value) {
        let {name} = this.listNations.find(i => i.id === value);
        return name
      },
      filterTimes(value) {
        let moment = this.$moment(value)
        let now = this.$moment()
        let diff = now.diff(moment, 'days')
        if (diff <= 1) {
          return this.$t('24HourHistory')
        } else if (diff <= 3) {
          return this.$t('3DaysHistory')
        } else {
          return this.$t('1WeekHistory')
        }
      },
      searchPage(key) {
        console.log(key)
        if (!this.loggedIn) {
          eventBus.$emit('onLogin');
          return;
        }
        this.params.nation_id = key.nation_id || '';
        this.params.category_id = key.category_id || '';
        eventBus.$emit('closeFormSearch');
        this.$router.push(this.localePath({name: 'search', query: this.assignQueryNotNull(this.params)}));
      }
    },
  }
</script>
