<template>
  <section>
    <div class="wp-product-hp wp-order mb-hp prd-2">
      <header class="panel-head">
        <h2 class="heading-2 title-heading">
          <span>{{ header }}</span>
        </h2>
      </header>
      <section class="panel-body-prd" v-if="results">
        <ul class="row mb-4">
          <li
            class="col-lg-3 col-md-6 col-sm-12 col-12 mb-4"
            v-for="(i , key) in results"
            :key="`project${key}`">
            <item-search :item="i" />
          </li>
        </ul>
      </section>
    </div>
  </section>
</template>

<script>
  import {search} from '~/services/search';
  import _ from 'lodash';

  export default {
    name: 'SearchContent',
    components: {
      itemSearch: () => import('./ItemSearch'),
    },
    data() {
      return {
        isShowModalIndex: 0,
        isShowIDModal: 0,
      };
    },
    computed: {
      loggedIn() {
        return this.$store.getters.loggedIn
      },
      results() {
        return this.data;
      }
    },
    props: {
      data: {
        type: [Object, Array]
      },
      header: {
        type: String
      },
      quantity: {
        type: Number
      },
      pageIndex: {
        type: Number
      },
      duration: {
        type: Number
      },
      typeSearch: {
        type: Number
      },
      isChange: {
        type: Boolean
      }
    },
    methods: {
      gotoPageDetail(object) {
        let id = object.id,
          pathName = (parseInt(this.$route.query.typeSearch) === 1 || object.type === 2)
            ? 'expert-p-id'
            : 'project-detail-id';
        this.$router.push(this.localePath({name: pathName, params: {id: id}}));
      },
      isYourSelf() {
        const currentUser = this.$store.getters.getCompany;
        return _.has(currentUser, 'company_id') ? 1 : 0;
      },
      onShowModal(index) {
        this.isShowModalIndex = index;
      },
      onShowID(index) {
        this.isShowIDModal = index;
      },
      onModalWishList(modal, id) {
        if (!this.loggedIn) {
          this.onShowModal(3);
        } else {
          this.onShowModal(modal);
          this.onShowID(id);
        }
      },
    }
  }
</script>
