<template>
  <ul class="box_history" v-if="isActive">
    <li v-for="(i, key) in keyWords" :key="'key'+key"
      v-if="i.keyword.nation_id || i.keyword.category_id"
      @click="searchPage(i.keyword)">
      {{ nationName(i.keyword.nation_id) }} - {{ categoryName(i.keyword.category_id) }}
    </li>
  </ul>
</template>

<script>
  import {mapGetters} from 'vuex';
  import eventBus from '~/services/bus';

  export default {
    name: 'HistoryChild',
    data() {
      return {
        params: {
          pageIndex: 1,
          pageSize: 12,
          typeSearch: 3,
          nation_id: '',
          category_id: ''
        }
      };
    },
    props: ['keyWords', 'isActive'],
    computed: {
      ...mapGetters({
        listNations: "resource/nationClient5",
        listCategories: "resource/categories5"
      }),
    },
    methods: {
      nationName(nationId) {
        const choisedNation = this.listNations.find(n => n.id === nationId);
        return choisedNation ? choisedNation.name : this.$t('none');
      },
      categoryName(catId) {
        const choisedCat = this.listCategories.find(c => c.id === catId);
        return choisedCat ? choisedCat.title : this.$t('none');
      },
      searchPage(key) {
        this.params.nation_id = key.nation_id || '';
        this.params.category_id = key.category_id || '';
        eventBus.$emit('closeFormSearch');
        this.$router.push(this.localePath({name: 'search', query: this.assignQueryNotNull(this.params)}));
      }
    },
  }
</script>
<style>
.content-tab-head .group-text-tab.special .media-body .title .texts{
  font-size: 14px;
  font-weight: 600;
  padding-left: 6px;
  text-transform: capitalize;
}
</style>
<style scoped>
  .box_history{
    padding-left: 35px;
  }
  .box_history li {
    cursor: pointer;
    font-size: 14px;
    margin-top: 3px;
    transition: .1s;
    list-style: disc;
  }
  .box_history li:hover {
    font-size: 14px;
    color: #51ad2c;
  }
</style>
