<template>
  <div class="item-prd item-prd-vote">
    <div class="slide-item-prd img-thumb">
      <div class="img-thumb" @click="gotoPageDetail">
        <a title
          class="image">
          <ElImageLazy :src="item.avatar || item.image"/>
        </a>
      </div>
      <favorite :object_id="item.id" :type="getType()" :objData="item" :is_yourself="isYourSelf()" :custom="1"/>
    </div>
    <div class="info">
      <div class="group-meta d-flex align-items-center justify-content-between mb-2">
        <div class="name-head">{{ nationTitle }}・{{ categoryTitle }}</div>
        <div class="highlight">
          <a href="javascript:;" class="d-block in-highlight">{{$t("UnlimitedWorkForOneMonth")}}</a>
        </div>
      </div>
      <div class="name-title">
        <el-tooltip effect="light" :content="showTitle" placement="bottom">
          <a title
            class="title line-2"
            @click="gotoPageDetail">
            {{ showTitle }}
          </a>
        </el-tooltip>
      </div>
      <div class="wp-salary">
        {{ $t('PriceProject') }}： {{ amount }}
      </div>
      <div class="wp-time">{{ rankOrPeriod }}</div>
      <div class="wp-rating d-flex">
        <div class="meta-rate d-flex">
          <div class="number-rate" v-if="item.type === 'project'">{{ item.company.rate }}</div>
          <div class="number-rate" v-else>{{ item.rate }}</div>
          <el-rate v-if="item.type === 'project'" v-model="item.company.rate"
            :colors="['#77D353', '#77D353', '#77D353']"
            :disabled-void-color="'#d2d2d2'"
            disabled></el-rate>
          <el-rate v-else v-model="item.rate"
            :colors="['#77D353', '#77D353', '#77D353']"
            :disabled-void-color="'#d2d2d2'"
            disabled></el-rate>
        </div>
      </div>
    </div>
  </div>
</template>

<script>
  import {mapState, mapGetters} from 'vuex';
  import _ from 'lodash';

  export default {
    name: 'ItemSearch',
    props: ['item'],
    components: {
      Favorite: () => import('~/components/share/header/Favorite'),
      ElImageLazy: () => import('~/components/share/ElImageLazy'),
    },
    data() {
      return {
        baseUnit: { ja: '¥', vi: 'đ', en: '$'},
      }
    },
    computed: {
      ...mapState({
        nations: state => state.resource.nationClient,
        categories: state => state.resource.category,
        durations: state => state.resource.duration,
        ranking: state => state.resource.ranking,
      }),
      ...mapGetters({
        locale: 'getLocale',
      }),
      currencyCode() {
        return this.getCurrencyUnit(this.locale);
      },
      categoryTitle() {
        const cat = this.categories.find(c => c.id === this.item.category_id);
        return cat ? cat.title : this.$t('SearchJobNotSet');
      },
      nationTitle() {
        const nation = this.nations.find(n => n.id === this.item.nation_id);
        return nation ? nation.name : this.$t('SearchNationNotSet');
      },
      rankingName() {
        const rank = this.ranking.find(r => r.id === this.item.ranking_id);
        return rank ? rank.name : '';
      },
      amount() {
        const end = this.item[`price_${this.locale}`];
        return this.item.type === 'member'
          ? this.formatNumber(end)
          : `${this.formatNumber(this.minPrice)} - ${this.formatNumber(end || this.minPrice)}`;
      },
      minPrice() {
        const min = this.$store.state.auth.authUser.user.price_min[this.locale];
        return min.replace(/[!¥@#$đ%^&*]/g, '');
      },
      showTitle() {
        return this.item.title || `${this.item.first_name} ${this.item.last_name}`;
      },
      rankOrPeriod() {
        if (_.has(this.item, 'rank')) return `${this.$t('Ranking')} : ${this.rankingName}`;
        return `${this.$t('SearchPeriod')} : ${this.durationName}`;
      },
      durationName() {
        if(_.isEmpty(this.durations)) return '';
        const durationId = _.flatMap(this.item.durations, d => d.id);
        const durations = this.durations.filter(d => (durationId.findIndex(du => du == d.id) >= 0));
        return _.flatMap(durations, d => d.name).join(',');
      },
    },
    methods: {
      formatNumber(valueFilter) {
        if(!this.locale) return;
        const amount = valueFilter.toString().replace(/(\d)(?=(\d{3})+(?:\.\d+)?$)/g, "$1,");
        return this.locale === 'vi'
          ? `${amount}${this.baseUnit[this.locale]}`
          : `${this.baseUnit[this.locale]}${amount}`
      },
      isYourSelf() {
        const currentUser = this.$store.getters.getCompany;
        return _.has(currentUser, 'company_id') ? 1 : 0;
      },
      getType() {
        return this.item.type === 'expert' ? 3 : 1;
      },
      gotoPageDetail() {
        let id = this.item.id,
          pathName = this.item.type === 'member'
            ? 'expert-p-id'
            : 'project-detail-id';
        this.$router.push(this.localePath({name: pathName, params: {id: id}}));
      },
    }
  }
</script>

<style scoped>
  .img-thumb > a.icon {
    position: absolute;
    top: 20px;
    right: 20px;
    font-weight: 500;
    color: #ffffff;
    z-index: 2;
    outline: none;
  }
</style>
