<template>
  <section class="body-hp pd-web">
    <div class="container">
      <div class="row">
        <div class="col-12">
          <div class="wp-product-hp wp-order mb-hp prd-2">
            <header class="panel-head">
              <h2 class="heading-2 title-heading"><span>{{$t('ChooseTheme')}}</span></h2>
            </header>
            <section class="panel-body-choose panel-body-hp">
              <div class="list-hp row mb-4 ">
                <div 
                    class="col-xl-3 col-lg-4 col-md-6 col-sm-12 col-12 mb-4"
                    v-for="(we, k) in workEnvironment"
                    :key="`work-environment-item-${k}`"
                    @click="chooseTopic(we.id)"
                >
                  <div class="list-item-hp">
                    <div class="img-thumb">
                      <a href="javascript:;" title="" class="image">
                        <img :src="we.image" alt="" class="img-fluid img-cover">
                      </a>
                      <a href="javascript:;" class="heart d-block" :class="{'active': choisedTopic(we.id) }">
                        <i class="far fa-circle"></i>
                      </a>
                    </div>
                      <div class="overlay">
                        <h3 class="wp-title">
                          <a href="javascript:;" title="" class="name-title">{{ we.name }}</a>
                        </h3>
                      </div>
                  </div>
                </div>    
              </div>
              <div class="group-read-more d-flex">
                <a href="javascript:;" title="" @click="onSearchTopic" class="filter-top text-white ml-auto">
                  <span>{{ $t('SearchSelectedTheme')}}</span>
                </a>
              </div>
            </section>
          </div>
        </div>
      </div>
    </div>
  </section>
</template>

<script>
  import { mapGetters, mapActions } from "vuex";
  import _ from 'lodash'

  export default {
    data() {
      return {
        arrSelect:[],
        topic: {
          work_environment:[],
          pageSize: 12,
          pageIndex: 1,
          typeSearch: 3,
        },
        queryString: {},
      }
    },
    computed: {
      ...mapGetters({
        workEnvironment: 'resource/workEnvironment'
      }),
      loggedIn() {
        return this.$store.getters.loggedIn
      }
    },
    created() {
      this.queryString = this.$route.query;
      this.appendQuery();
    },
    methods: {
      ...mapActions({
        searchTopicProjectWork: 'project/search/searchProjects',
      }),
      chooseTopic(id) {
        if (this.choisedTopic(id)) {
          const index = this.topic.work_environment.findIndex(w => w === id);
          this.topic.work_environment.splice(index, 1);
        } else {
          this.topic.work_environment.push(id);
        }
      },
      choisedTopic(id) {
        if (!this.topic.work_environment) return false;
        return this.topic.work_environment.find(w => w === id);
      },
      appendQuery() {
        if (this.queryString) {
          _.forEach(this.queryString, (q, i) => {
            this.topic[i] = (i === 'sort' ? q : JSON.parse(q));
          });
        }
      },
      onSearchTopic() {
        if(!this.loggedIn){
          this.onShowModal(3);
        }else{
          let workEnvi = this.topic.work_environment;
          let ids = [].concat(workEnvi).join(',');
          if (_.isEmpty(workEnvi)) this.topic.work_environment = '';
          if (workEnvi) {
            const queryString = this.assignQueryNotNull(this.topic);
            this.$router.push(this.localePath({ name: 'search', query: queryString }));
          }
        }
      },
    },
  };
</script>
<style scoped>
  .list-item-hp .form-checkbox{
    display: block;
    height: 20px;
    width: 20px;
  }
  .list-item-hp .form-checkbox .input-checkbox{
    display: none
  }
  .list-item-hp .form-checkbox span{
    position: relative;
    cursor: pointer;
    display: block;
  }
  .list-item-hp .form-checkbox span::before{
    position: absolute;
    content: '';
    width: 20px;
    height: 20px;
    border: 1px solid #ffffff;
    left: 0px;
    top: 0px;
    border-radius: 50%;
  }
  .list-item-hp .form-checkbox span::before{
    position: absolute;
    content: '';
    width: 20px;
    height: 20px;
    border: 1px solid #ffffff;
    left: 0px;
    top: 0px;
    border-radius: 50%;
  }
  .list-item-hp .form-checkbox input[type="checkbox"]:checked + span::before{
    background: #77D353;
    border-color: #77D353;
  }
</style>
