<template>
    <div class="container mt-4">
        <div class="group-like">
            <div class="panel-head">
                <div class="d-flex justify-content-between align-items-center group">
                    <div class="title-left head">{{ $t("ToFavoritesList") }}</div>
                    <a href="javascript:;" @click="onFormNewFolderWishList" class="title-right d-block">{{ $t("CreateWishlist") }}</a>
                    <modal v-if="isShowModalIndex == 7" @close="onShowModal()">
                        <div slot="body">
                            <NewWishListFolder
                            @onShowListWishListFolder="onShowModal(6)"
                            @onShowModal="onShowModal"
                            @updateFolderData="updateFolderData"
                            @closeModal="onShowModal($event)" 
                            :type="type" />
                        </div>
                    </modal>
                </div>
                <div class="description">{{ $t("mywishlist") }}</div>
            </div>
            <div class="panel-body-like group-like-wishlist" v-if="dataFavorite.length">
                <ul class="list-item row">
                    <item-wishlist v-for="(favorite, key) in dataFavorite" :item="favorite" :key="key" />
                </ul>
            </div>
        </div>

        <div class="group-follow" v-if="dataFollow.length">
            <div class="head mb-hp">{{ $t("FollowingUsers") }}（{{ dataFollow.length }}）</div>
            <div class="panel-body-follow">
                <ul class="list-item">
                    <item-follow v-for="(followItem, keyfollow) in dataFollow" :item="followItem" :key="keyfollow" />
                </ul>
            </div>
        </div>
    </div>
</template>

<script>
import { mapActions } from 'vuex'

export default {
    layout: "custom",
    data() {
        return {
            dataFavorite: [],
            dataFollow: [],
            loading: false,
            isShowModalIndex: 0,
            type: 'page-wl-add',
        }
    },
    methods: {
        ...mapActions({
            getListWishListFolder: 'members/wishList/getListWishListFolder',
            getFollows: 'members/follow/getFollows'
        }),
        onFormNewFolderWishList(){
            this.isShowModalIndex = 7;
        },
        onShowModal(index) {
            this.isShowModalIndex = index;
        },
        getListFavorite() {
            let obj = {
                order:'DESC',
                sort:'id',
                company_id:0
            }
            this.getListWishListFolder(obj).then(res => {
                this.dataFavorite = res.data
            })
        },
        getListFollow() {
            let obj = {
                sort: 'id',
                order: 'DESC',
            }
            this.getFollows(obj).then((res) => {
                this.dataFollow = res.data
            })
        },
        updateFolderData() {
            let obj = {
                order:'DESC',
                sort:'id',
                company_id:0
            }
            this.getListWishListFolder(obj).then(res => {
                this.dataFavorite = res.data
            })
        }
    },
    components: {
        ItemWishlist: () => import('~/components/wishlist/ItemWishlist'),
        ItemFollow: () => import('~/components/wishlist/ItemFollow'),
        NewWishListFolder: () => import("~/components/share/FormNewWishListFolder"),
        Modal: () => import('~/components/share/Modal'),
    },
    mounted() {
        this.getListFavorite();
        this.getListFollow();
    }
};
</script>
