<template>
    <div class="h-100">
        <client-only>
            <TheNav v-bind:isShowSearch="false" class="chat-page"/>
            <nuxt/>
        </client-only>
    </div>
</template>
<script>
    export default {
        name: 'MessengerLayout',
        components: {
            TheNav: () => import("~/components/share/TheNav"),
            //TheFooter: () => import('~/components/share/TheFooter'),
        }
    }
</script>