<template>
    <div id="distance-between-elements">
        <client-only>
            <TheNav></TheNav>
            <nuxt></nuxt>
            <TheFooter></TheFooter>
        </client-only>
    </div>
</template>
<script>

    export default {
        components: {
            TheNav: () => import("~/components/share/TheNav"),
            TheFooter: () => import('~/components/share/TheFooter')
        }
    }
</script>

<style>

</style>

