<template>
    <div id="distance-between-elements">
      <client-only>
        <TheNav />
        <TheHeader />
        <nuxt/>
        <TheFooter />
      </client-only>
    </div>
</template>
<script>
  import { getUserInfor } from '~/plugins/information';
  import TheNav from '~/components/share/TheNav'
  import TheFooter from '~/components/share/TheFooter'
  import TheHeader from '~/components/share/TheHeader'

  export default {
    components: {
      TheNav,
      TheFooter,
      TheHeader,
    },
    mounted() {
      if( this.$store.getters.accessToken && !getUserInfor()) {
        this.$store.dispatch('getUserInfor');
      }
    },
  }
</script>

