<template>
    <div class="container-wrapper">
        <client-only>
            <nuxt/>
        </client-only>
    </div>
</template>

<script>
export default {
    name: 'FullPage'
}
</script>
<style>
    .container-wrapper{
        min-height: 100vh;
    }
</style>
