<template>
    <div class="guide-new">
        <client-only>
            <TheHeader />
            <nuxt/>
            <TheFooter/>
        </client-only>
    </div>
</template>

<script>

    export default {
        components: {
            TheHeader: () => import('~/components/guideNewB/TheHeader'),
            TheFooter: () => import('~/components/guideNew/TheFooter'),
        }
    }
</script>

<style scoped>
    .guide-new {
        background: #fff !important;
    }
</style>