<template>
    <div id="distance-between-elements">
        <client-only>
            <TheHeaderLayoutLandingPage />
            <nuxt/>
            <TheFooter/>
        </client-only>
    </div>
</template>

<script>

    export default {
        components: {
            TheHeaderLayoutLandingPage: () => import('~/components/share/TheHeaderLayoutLandingPage'),
            TheFooter: () => import('~/components/share/TheFooter'),
        }
    }
</script>
