<template>
  <div id="distance-between-elements">
    <TheNav></TheNav>
    <div class="container">
      <div class="row">
        <div class="col-md-11 col-12 m-auto">
          <div class="group-total-freelance">
            <div class="row">
              <div class="col-xl-9 col-lg-9 col-12">
                <nuxt />
              </div>
              <div class="col-xl-3 col-lg-3 col-12">
                <GroupRightTravel />
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <TheFooter></TheFooter>
  </div>
</template>

<script>
	export default {
    components: {
      GroupRightTravel: () => import('~/components/support/travel/GroupRightTravel'),
      TheNav: () => import("~/components/share/TheNav"),
      TheFooter: () => import('~/components/share/TheFooter')
    }
	}
</script>

<style scoped>

</style>
