<template>
    <div class="main-content han">
        <div class="fullwidth-template">
            <section class="section-1 margin-bottom-85">
                <div class="banner-slider-wrap">
                    <div class="banner-slider-item style-1">
                        <div class="banner-slider-thumb">
                            <img src="~/assets/images/upload/banner-d-111.jpg" alt="">
                        </div>
                        <div class="banner-slider-infor">
                            <div class="inner">
                                <h3 class="big-title">{{$t('Career')}}</h3>
                                <div class="small-title">
                                    {{$t('about_career_01')}}
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </section>
            <section class="section-2 margin-bottom-43">
                <HeaderAbout />
            </section>
            <section class="section-3 margin-bottom-75">
                <div class="spotech-icon-box-wrapper">
                    <div class="container">
                        <div class="spotech-title">
                            <h3 class="title">Features</h3>
                        </div>
                        <div class="row">
                            <div class="col-12 col-md-12 col-lg-3">
                                <div class="spotech-box-icon">
                                    <div class="icon"><img src="~/assets/images/icon/remotework.svg" alt=""></div>
                                    <div class="infore">
                                        <div class="title">
                                            {{$t('about_career_featurn_title1')}}
                                        </div>
                                        <div class="t-text">
                                            {{$t('about_career_featurn_text1')}}
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="col-12 col-md-12 col-lg-3">
                                <div class="spotech-box-icon">
                                    <div class="icon">
                                        <img src="~/assets/images/icon/global.svg" alt="">
                                    </div>
                                    <div class="infore">
                                        <div class="title">
                                            {{$t('about_career_featurn_title2')}}
                                        </div>
                                        <div class="t-text">
                                            {{$t('about_career_featurn_text2')}}
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="col-12 col-md-12 col-lg-3">
                                <div class="spotech-box-icon">
                                    <div class="icon"><img src="~/assets/images/icon/challenge.svg" alt=""></div>
                                    <div class="infore">
                                        <div class="title">
                                            {{$t('about_career_featurn_title3')}}
                                        </div>
                                        <div class="t-text">
                                            {{$t('about_career_featurn_text3')}}
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="col-12 col-md-12 col-lg-3">
                                <div class="spotech-box-icon">
                                    <div class="icon"><img src="~/assets/images/icon/usertalent.svg" alt=""></div>
                                    <div class="infore">
                                        <div class="title">
                                            {{$t('about_career_featurn_title4')}}
                                        </div>
                                        <div class="t-text">
                                            {{$t('about_career_featurn_text4')}}
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </section>
            <section class="section-4 margin-bottom-60">
                <div class="spotech-headquarters-wrapper">
                    <div class="container">
                        <div class="spotech-title">
                            <h3 class="title">We Are Based In</h3>
                        </div>
                        <div class="headquarters-wrapper">
                            <div class="row">
                                <div class="col-12 col-lg-4 col-padding-10">
                                    <div class="headquarters-item">
                                        <div class="inner">
                                            <div class="thumb">
                                                <img src="~/assets/images/upload/cebu.jpg" alt="">
                                            </div>
                                            <div class="infore">
                                                <a class="t-text">{{$t('about_career_based_title1')}}</a>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-12 col-lg-4 col-padding-10">
                                    <div class="headquarters-item">
                                        <div class="inner">
                                            <div class="thumb">
                                                <img src="~/assets/images/upload/Hanoi.jpg" alt="">
                                            </div>
                                            <div class="infore">
                                                <a class="t-text">{{$t('about_career_based_title2')}}</a>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-12 col-lg-4 col-padding-10">
                                    <div class="headquarters-item">
                                        <div class="inner">
                                            <div class="thumb">
                                                <img src="~/assets/images/upload/Tokyo.jpg" alt="">
                                            </div>
                                            <div class="infore">
                                                <a class="t-text">{{$t('about_career_based_title3')}}</a>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-12 col-lg-4 col-padding-10">
                                    <div class="headquarters-item">
                                        <div class="inner">
                                            <div class="thumb">
                                                <img src="~/assets/images/upload/Hong Kong.jpg" alt="">
                                            </div>
                                            <div class="infore">
                                                <a class="t-text">{{$t('about_career_based_title4')}}</a>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </section>
            <section class="section-5 margin-bottom-75">
                <div class="spotech-life-wrapper">
                    <div class="container">
                        <div class="spotech-title">
                            <h3 class="title">SPOTECH Life</h3>
                        </div>
                        <div class="spotech-life-header">
                            <ul>
                                <li><a href="javascript:;">{{$t('about_career_life_text1')}}</a></li>
                                <li><a href="javascript:;">{{$t('about_career_life_text2')}}</a></li>
                            </ul>
                            <ul>
                                <li><a href="javascript:;">{{$t('about_career_life_text3')}}</a></li>
                                <li><a href="javascript:;">{{$t('about_career_life_text4')}}</a></li>
                            </ul>
                            <ul>
                                <li><a href="javascript:;">{{$t('about_career_life_text5')}}</a></li>
                                <li><a href="javascript:;">{{$t('about_career_life_text6')}}</a></li>
                            </ul>
                            <ul>
                                <li><a href="javascript:;">{{$t('about_career_life_text7')}}</a></li>
                                <li><a href="javascript:;">{{$t('about_career_life_text8')}}</a></li>
                            </ul>
                        </div>
                        <div class="spotech-life-box">
                            <div class="spotech-life-item">
                                <div class="inner">
                                    <img src="~/assets/images/upload/SPOTECH Life (small 1).jpg" alt="">
                                </div>
                            </div>
                            <div class="spotech-life-item">
                                <div class="inner">
                                    <img src="~/assets/images/upload/Spotech Life (small).jpg" alt="">
                                </div>
                            </div>
                            <div class="spotech-life-item">
                                <div class="inner">
                                    <img src="~/assets/images/upload/SPOTECH Life(Small).jpg" alt="">
                                </div>
                            </div>
                            <div class="spotech-life-item">
                                <div class="inner">
                                    <img src="~/assets/images/upload/Spotech (big).jpg" alt="">
                                </div>
                            </div>
                            <div class="spotech-life-item">
                                <div class="inner">
                                    <img src="~/assets/images/upload/Spotech Life (big).jpg" alt="">
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </section>
            <section class="section-6 margin-bottom-60">
                <div class="spotech-notification-recruitment-wrapper">
                    <div class="container">
                        <div class="spotech-title">
                            <h3 class="title">{{$t('AllPossiblePositions')}}</h3>
                        </div>
                        <div class="Notification-recruitment-wrapper">
                            <div class="Notification-recruitment-box">
                                <div class="Notification-recruitment-item">
                                    <div class="inner">
                                        <div class="title">
                                            <a href="#">Front End Software Engineer</a>
                                        </div>
                                        <div class="des">
                                            SPOTECHではフィリピン支部に関わるリモートエンジニアを探しています。
                                        </div>
                                        <a class="redmore" href="">続きを見る</a>
                                    </div>
                                    <div class="tags">
                                        <span class="tag-job">エンジニア</span>
                                        <div class="address">セブ島、フィリピン</div>
                                    </div>
                                </div>
                                <div class="Notification-recruitment-item">
                                    <div class="inner">
                                        <div class="title">
                                            <a href="#">Front End Software Engineer</a>
                                        </div>
                                        <div class="des">
                                            SPOTECHではフィリピン支部に関わるリモートエンジニアを探しています。
                                        </div>
                                        <a class="redmore" href="">続きを見る</a>
                                    </div>
                                    <div class="tags">
                                        <span class="tag-job">エンジニア</span>
                                        <div class="address">セブ島、フィリピン</div>
                                    </div>
                                </div>
                            </div>
                            <div class="Show-more">
                                <a href="#">
                                    <span href="#" class="t-text">{{$t('SeeMore')}}（20+）</span>
                                    <i class="fas fa-chevron-right icon"></i>
                                </a>
                            </div>
                        </div>
                    </div>
                </div>
            </section>
        </div>
    </div>
</template>

<script>
export default {
    layout: "custom",
    name: 'AboutCareer',
    components: {
        HeaderAbout: () => import('~/components/about/headerAbout'),
    },
}
</script>