<template>
    <div class="main-content han">
        <div class="fullwidth-template">
            <section class="section-1 margin-bottom-85">
                <div class="banner-slider-wrap">
                    <div class="banner-slider-item style-1">
                        <div class="banner-slider-thumb">
                            <img src="~/assets/images/upload/ニュース.jpg" alt="">
                        </div>
                        <div class="banner-slider-infor">
                            <div class="inner">
                                <h3 class="big-title">{{$t('ContactUs')}}</h3>
                                <div class="small-title">
                                    {{$t('about_contact_title1')}}
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </section>
            <section class="section-2 margin-bottom-40">
                <HeaderAbout />
            </section>
            <section class="section-3 margin-bottom-40">
                <div class="container">
                    <div class="row">
                        <div class="col-8">
                            <div class="spotech-title-page-wrapp style-1">
                                <h3 class="sub-t-title">{{$t('SpotechHelpCenter')}}</h3>
                                <h5 class="t-title">{{$t('about_contact_text1')}}</h5>
                            </div>
                            <div class="spotech-contact-form">
                               <ContactForm/>
                            </div>
                        </div>
                        <div class="col-4">
                            <div class="banner-wrapper contact-right">
                                <div class="box-right">
                                    <div class="group-partners text-center">
                                        <div class="title">{{$t('ImplementationResults')}}</div>
                                        <div class="list-partners">
                                            <div class="item">
                                                <a href="" title="" class="link"><img
                                                        src="~/assets/images/upload/Image-1.png" alt=""></a>
                                            </div>
                                            <div class="item">
                                                <a href="" title="" class="link"><img
                                                        src="~/assets/images/upload/Image-2.png" alt=""></a>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </section>
        </div>
    </div>
</template>

<script>
export default {
    layout: "custom",
    name: 'AboutContactUs',
    components: {
        HeaderAbout: () => import('~/components/about/headerAbout'),
        ContactForm: () => import('~/components/about/ContactForm'),
    },
}
</script>

<style>
    .han .spotech-contact-form .el-input .el-input__inner {
        height: 56px !important;
        border-radius: 10px !important ;
    }
    .han .spotech-contact-form .el-textarea__inner{
        border-radius: 10px !important ;
        background: #fff !important;
    }
</style>