<template>
    <div class="main-content han">
        <div class="fullwidth-template">
            <section class="section-1 margin-bottom-85">
                <div class="banner-slider-wrap">
                    <div class="banner-slider-item style-1">
                        <div class="banner-slider-thumb">
                            <img src="~/assets/images/upload/ニュース.jpg" alt="">
                        </div>
                        <div class="banner-slider-infor">
                            <div class="inner">
                                <h3 class="big-title">{{$t('News')}}</h3>
                                <div class="small-title">
                                    {{$t('about_news_title')}}
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </section>
            <section class="section-2 margin-bottom-40">
                <HeaderAbout />
            </section>
            <section class="section-3">
                <div class="spotech-news-wrapper">
                    <div class="container">
                        <div class="spotech-title-page-wrapp">
                            <h3 class="sub-t-title">{{$t('SpotechNews')}}</h3>
                        </div>
                        <div class="news-wrapper">
                            <div class="spotech-news-item">
                                <div class="inner">
                                    <div class="meta">
                                        2019年3月10日
                                    </div>
                                    <h3 class="spotech-news-name">Fiverr accuires ClearVoice to double down</h3>
                                    <div class="des">
                                        ClearVoice is a content marketing solution for larger companies
                                    </div>
                                </div>
                                <div class="logo-spotech-news">
                                    <img src="~/assets/images/upload/techcrunch-logo-1.png" alt="">
                                </div>
                            </div>
                            <div class="spotech-news-item">
                                <div class="inner">
                                    <div class="meta">
                                        2019年3月10日
                                    </div>
                                    <h3 class="spotech-news-name">Fiverr accuires ClearVoice to double down</h3>
                                    <div class="des">
                                        ClearVoice is a content marketing solution for larger companies
                                    </div>
                                </div>
                                <div class="logo-spotech-news">
                                    <img src="~/assets/images/upload/techcrunch-logo-1.png" alt="">
                                </div>
                            </div>
                            <div class="spotech-news-item">
                                <div class="inner">
                                    <div class="meta">
                                        2019年3月10日
                                    </div>
                                    <h3 class="spotech-news-name">Fiverr accuires ClearVoice to double down</h3>
                                    <div class="des">
                                        ClearVoice is a content marketing solution for larger companies
                                    </div>
                                </div>
                                <div class="logo-spotech-news">
                                    <img src="~/assets/images/upload/techcrunch-logo-1.png" alt="">
                                </div>
                            </div>
                            <div class="spotech-news-item">
                                <div class="inner">
                                    <div class="meta">
                                        2019年3月10日
                                    </div>
                                    <h3 class="spotech-news-name">Fiverr accuires ClearVoice to double down</h3>
                                    <div class="des">
                                        ClearVoice is a content marketing solution for larger companies
                                    </div>
                                </div>
                                <div class="logo-spotech-news">
                                    <img src="~/assets/images/upload/techcrunch-logo-1.png" alt="">
                                </div>
                            </div>
                            <div class="spotech-news-item">
                                <div class="inner">
                                    <div class="meta">
                                        2019年3月10日
                                    </div>
                                    <h3 class="spotech-news-name">Fiverr accuires ClearVoice to double down</h3>
                                    <div class="des">
                                        ClearVoice is a content marketing solution for larger companies
                                    </div>
                                </div>
                                <div class="logo-spotech-news">
                                    <img src="~/assets/images/upload/techcrunch-logo-1.png" alt="">
                                </div>
                            </div>
                        </div>
                        <nav class="pagination">
                            <span aria-current="page" class="page-numbers current">1</span>
                            <a class="page-numbers" href="#">2</a>
                            <a class="page-numbers" href="#">3</a>
                            <a class="page-numbers" href="#">...</a>
                            <a class="page-numbers" href="#">41</a>
                            <a class="next page-numbers" href="#">
                                <i class="fa fa-angle-right" aria-hidden="true"></i>
                            </a>
                        </nav>
                    </div>
                </div>
            </section>
        </div>
    </div>
</template>

<script>
export default {
    layout: "custom",
    name: 'AboutNews',
    components: {
        HeaderAbout: () => import('~/components/about/headerAbout'),
    },
}
</script>