<template>
     <div class="main-content han">
        <div class="fullwidth-template">
            <section class="section-1 margin-bottom-85">
                <div class="banner-slider-wrap">
                    <div class="banner-slider-item style-1">
                        <div class="banner-slider-thumb">
                            <img src="~/assets/images/upload/banner-d-114.jpg" alt=" img-fluid">
                        </div>
                        <div class="banner-slider-infor">
                            <div class="inner">
                                <h3 class="big-title">{{$t('SiteMap')}}</h3>
                                <div class="small-title">
                                    {{$t('about_sitemap_title')}}
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </section>

            <section class="section-2 margin-bottom-40">
                <HeaderAbout />
            </section>
            
            <div class="container">
                <section class="group-directory-post">
                    <div class="panel-head">
                        <div class="title">
                            {{$t('SpotechDirectory')}}       
                        </div>
                        <div class="description"> 
                            {{$t('about_sitemap_title_find')}}
                        </div>
                    </div>
                    <div class="pabel-body-directory">
                        <div class="list-directory">
                            <div class="item-directory">
                                <div class="name-directory"> {{$t('Area')}} </div>
                                <div class="body-directory">
                                    <div class="list-item row" >
                                        <div class="col-md-3 col-sm-6 col-12 mb-3" 
                                            v-for="(item, key) in nationClient" :key="key">
                                            <div class="item">
                                                <CategoryItem :title="item.name" :id="item.id" :type="'nation_id'" />
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="item-directory">
                                <div class="name-directory"> {{$t('Occupation')}} </div>
                                <div class="body-directory">
                                    <div class="list-item row">
                                        <div class="col-md-3 col-sm-6 col-12 mb-3" 
                                            v-for="(item, key) in categories" :key="key">
                                            <div class="item">
                                                <CategoryItem :title="item.title" :id=item.id :type="'category_id'"/>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="item-directory">
                                <div class="name-directory"> {{$t('Category')}} </div>
                                <div class="body-directory">
                                    <div class="list-item row">
                                        <div class="col-md-3 col-sm-6 col-12 mb-3" 
                                            v-for="(item, key) in Unspecified" :key="key">
                                            <div class="item">
                                                <CategoryItem :title="item.title" :id=item.value :type="'typeSearch'"/>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="item-directory">
                                <div class="name-directory"> {{$t('aboutTheme')}} </div>
                                <div class="body-directory">
                                    <div class="list-item row">
                                        <div class="col-md-3 col-sm-6 col-12 mb-3"
                                            v-for="(item, key) in workEnvironment" :key="key">
                                            <div class="item">
                                                <a href="javascript:;" class="item" @click="searchWorkEnvironment(item.id)">{{item.name}}</a>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="item-directory">
                                <div class="name-directory"> {{$t('aboutPeriod')}} </div>
                                <div class="body-directory">
                                    <div class="list-item row">
                                        <div class="col-md-3 col-sm-6 col-12 mb-3" 
                                            v-for="(item, key) in durations" :key="key">
                                            <div class="item">
                                                <a href="javascript:;" class="item" @click="searchDuration(item.id)">{{item.name}}</a>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="item-directory">
                                <div class="name-directory"> About </div>
                                <div class="body-directory">
                                    <div class="list-item row">
                                        <div class="col-md-3 col-sm-6 col-12 mb-3">
                                            <div class="item">
                                                <nuxt-link class="item"  :to="localePath({name: 'about-career' })">
                                                    {{$t("Career")}}
                                                </nuxt-link>
                                            </div>
                                        </div>
                                        <div class="col-md-3 col-sm-6 col-12 mb-3">
                                            <div class="item">
                                                <nuxt-link class="item"  :to="localePath({name: 'about-team' })">
                                                    {{$t("Team")}}
                                                </nuxt-link> 
                                            </div>
                                        </div>
                                        <div class="col-md-3 col-sm-6 col-12 mb-3">
                                            <div class="item">
                                                <nuxt-link class="item"  :to="localePath({name: 'about-news' })">
                                                    {{$t("News")}}
                                                </nuxt-link>        
                                            </div>
                                        </div>
                                        <div class="col-md-3 col-sm-6 col-12 mb-3">
                                            <div class="item">
                                                <nuxt-link class="item"  :to="localePath({name: 'about-sitemap' })">
                                                    {{$t("SiteMap")}}
                                                </nuxt-link>        
                                            </div>
                                        </div>
                                        <div class="col-md-3 col-sm-6 col-12 mb-3">
                                            <div class="item">
                                                <nuxt-link class="item"  :to="localePath({name: 'about-contact' })">
                                                    {{$t("ContactUs")}}
                                                </nuxt-link>        
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="item-directory">
                                <div class="name-directory"> Easy Guide </div>
                                <div class="body-directory">
                                    <div class="list-item row">
                                        <div class="col-md-3 col-sm-6 col-12 mb-3">
                                            <div class="item">
                                                <nuxt-link class="item" :to="localePath({name: 'guide-client' })">
                                                    {{ $t("Client") }}
                                                </nuxt-link>        
                                            </div>
                                        </div>
                                        <div class="col-md-3 col-sm-6 col-12 mb-3">
                                            <div class="item">
                                                <nuxt-link class="item" :to="localePath({name: 'guide-expert' })">
                                                    {{ $t("Expert") }}
                                                </nuxt-link>        
                                            </div>
                                        </div>
                                        <div class="col-md-3 col-sm-6 col-12 mb-3">
                                            <div class="item">
                                                <nuxt-link class="item" :to="localePath({name: 'guide-relief' })">
                                                    {{ $t("TrustSecurity") }}
                                                </nuxt-link>        
                                            </div>
                                        </div>
                                        <div class="col-md-3 col-sm-6 col-12 mb-3">
                                            <div class="item">
                                                <nuxt-link class="item" :to="localePath({name: 'guide-revenue_plan' })">
                                                    {{ $t("BidTypeAdoption") }}
                                                </nuxt-link>        
                                            </div>
                                        </div>
                                        <div class="col-md-3 col-sm-6 col-12 mb-3">
                                            <div class="item">
                                                <nuxt-link class="item" :to="localePath({name: 'guide-business' })">
                                                    {{ $t("webNavBusinessSupport") }}
                                                </nuxt-link>        
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="item-directory">
                                <div class="name-directory"> Community </div>
                                <div class="body-directory">
                                    <div class="list-item row">
                                        <div class="col-md-3 col-sm-6 col-12 mb-3">
                                            <div class="item">{{ $t("Story") }}</div>
                                        </div>
                                        <div class="col-md-3 col-sm-6 col-12 mb-3">
                                            <div class="item">{{ $t("ClientInvitation") }}</div>
                                        </div>
                                        <div class="col-md-3 col-sm-6 col-12 mb-3">
                                            <div class="item">{{ $t("ExpertInvitation") }}</div>
                                        </div>
                                        <div class="col-md-3 col-sm-6 col-12 mb-3">
                                            <div class="item">{{ $t("TravelSupport") }}</div>
                                        </div>
                                        <div class="col-md-3 col-sm-6 col-12 mb-3">
                                            <div class="item">{{ $t("FreelanceSupport") }}</div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </section>
            </div>
        </div>
    </div>
</template>

<script>
import { mapGetters , mapState } from 'vuex'

export default {
    layout: "custom",
    name: 'AboutSiteMap',
    components: {
        HeaderAbout: () => import('~/components/about/headerAbout'),
        CategoryItem: () => import("~/components/about/CategoryItem")
    },
    data() {
        return {
            listQuery: {
                typeSearch: 3,
                theme: "",
                pageIndex: 1,
                pageSize: 12,
                duration: "",
                sort: "",
                work_environment: ''
            },
            queryString: {},
            duration: false,
        };
    },
    computed: {
        ...mapGetters({
            nationClient : 'resource/nationClient5',
            categories: 'resource/categories5',
            durations: "resource/duration",
            workEnvironment: 'resource/workEnvironment'
        }),
        Unspecified() {
            return [
                {
                title: this.$t("SearchUnspecified"),
                value: 3
                },
                {
                title: this.$t("SearchContests"),
                value: 2
                },
                {
                title: this.$t("SearchExpert"),
                value: 1
                }
            ];
        },
    },
    methods: {
        searchDuration(id){
            this.listQuery.duration = [id];
            const queryString = this.assignQueryNotNull(this.listQuery);
            this.$router.push(
                this.localePath({ name: "search", query: queryString })
            )
        },
        searchWorkEnvironment(id){
            this.listQuery.work_environment = [id];
            const queryString = this.assignQueryNotNull(this.listQuery);
            this.$router.push(
                this.localePath({ name: "search", query: queryString })
            )
        }
    }
}
</script>