<template>
    <div class="main-content han">
        <div class="fullwidth-template">
            <section class="section-1 margin-bottom-85">
                <div class="banner-slider-wrap">
                    <div class="banner-slider-item style-1">
                        <div class="banner-slider-thumb">
                            <img src="~/assets/images/upload/banner-d-112.jpg" alt="">
                        </div>
                        <div class="banner-slider-infor">
                            <div class="inner">
                                <h3 class="big-title">{{$t('Team')}}</h3>
                                <div class="small-title">
                                    {{$t('about_team_title1')}}
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </section>
            
            <section class="section-2 margin-bottom-40">
                <HeaderAbout />
            </section>

            <section class="section-3">
                <div class="list-member-wrapper">
                    <div class="container">
                        <div class="spotech-title">
                            <h3 class="title">Founders</h3>
                        </div>
                        <div class="spotech-team-member-wrapper">
                            <div class="spotech-team-member-item founders">
                                <div class="inner">
                                    <div class="member-thumb">
                                        <a href="#">
                                            <img src="~/assets/images/upload/team-member-1.jpg" alt="">
                                        </a>
                                    </div>
                                    <div class="member-infor">
                                        <h3 class="member_name">
                                            <a href="#">Yusuke Shibuya</a>
                                        </h3>
                                        <span class="member_position">取締役COO</span>
                                    </div>
                                </div>
                            </div>
                            <div class="spotech-team-member-item founders">
                                <div class="inner">
                                    <div class="member-thumb">
                                        <a href="#">
                                            <img src="~/assets/images/upload/team-member-2.jpg" alt="">
                                        </a>
                                    </div>
                                    <div class="member-infor">
                                        <h3 class="member_name">
                                            <a href="#">Makoto Miyoshi</a>
                                        </h3>
                                        <span class="member_position">CEO</span>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="list-member-wrapper">
                    <div class="container">
                        <div class="spotech-title">
                            <h3 class="title">Engineers</h3>
                        </div>
                        <div class="spotech-team-member-wrapper">
                            <div class="spotech-team-member-item founders">
                                <div class="inner">
                                    <div class="member-thumb">
                                        <a href="#">
                                            <img src="~/assets/images/upload/team-member-1.jpg" alt="">
                                        </a>
                                    </div>
                                    <div class="member-infor">
                                        <h3 class="member_name">
                                            <a href="#">Yusuke Shibuya</a>
                                        </h3>
                                        <span class="member_position">取締役COO</span>
                                    </div>
                                </div>
                            </div>
                            <div class="spotech-team-member-item founders">
                                <div class="inner">
                                    <div class="member-thumb">
                                        <a href="#">
                                            <img src="~/assets/images/upload/team-member-2.jpg" alt="">
                                        </a>
                                    </div>
                                    <div class="member-infor">
                                        <h3 class="member_name">
                                            <a href="#">Makoto Miyoshi</a>
                                        </h3>
                                        <span class="member_position">CEO</span>
                                    </div>
                                </div>
                            </div>
                            <div class="spotech-team-member-item founders">
                                <div class="inner">
                                    <div class="member-thumb">
                                        <a href="#">
                                            <img src="~/assets/images/upload/team-member-3.jpg" alt="">
                                        </a>
                                    </div>
                                    <div class="member-infor">
                                        <h3 class="member_name">
                                            <a href="#">Makoto Miyoshi</a>
                                        </h3>
                                        <span class="member_position">CEO</span>
                                    </div>
                                </div>
                            </div>
                            <div class="spotech-team-member-item founders">
                                <div class="inner">
                                    <div class="member-thumb">
                                        <a href="#">
                                            <img src="~/assets/images/upload/team-member-4.jpg" alt="">
                                        </a>
                                    </div>
                                    <div class="member-infor">
                                        <h3 class="member_name">
                                            <a href="#">Makoto Miyoshi</a>
                                        </h3>
                                        <span class="member_position">CEO</span>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="list-member-wrapper">
                    <div class="container">
                        <div class="spotech-title">
                            <h3 class="title">Designers</h3>
                        </div>
                        <div class="spotech-team-member-wrapper">
                            <div class="spotech-team-member-item engineers">
                                <div class="inner">
                                    <div class="member-thumb">
                                        <a href="#">
                                            <img src="~/assets/images/upload/team-member-1.jpg" alt="">
                                        </a>
                                    </div>
                                    <div class="member-infor">
                                        <h3 class="member_name">
                                            <a href="#">Yusuke Shibuya</a>
                                        </h3>
                                        <span class="member_position">取締役COO</span>
                                    </div>
                                </div>
                            </div>
                            <div class="spotech-team-member-item engineers">
                                <div class="inner">
                                    <div class="member-thumb">
                                        <a href="#">
                                            <img src="~/assets/images/upload/team-member-2.jpg" alt="">
                                        </a>
                                    </div>
                                    <div class="member-infor">
                                        <h3 class="member_name">
                                            <a href="#">Makoto Miyoshi</a>
                                        </h3>
                                        <span class="member_position">CEO</span>
                                    </div>
                                </div>
                            </div>
                            <div class="spotech-team-member-item engineers">
                                <div class="inner">
                                    <div class="member-thumb">
                                        <a href="#">
                                            <img src="~/assets/images/upload/team-member-3.jpg" alt="">
                                        </a>
                                    </div>
                                    <div class="member-infor">
                                        <h3 class="member_name">
                                            <a href="#">Makoto Miyoshi</a>
                                        </h3>
                                        <span class="member_position">CEO</span>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="list-member-wrapper">
                    <div class="container">
                        <div class="spotech-team-member-wrapper">
                            <div class="spotech-team-member-item you">
                                <div class="inner">
                                    <div class="member-thumb">
                                        <nuxt-link class=""  :to="localePath({name: 'about-career' })">
                                            <img src="~/assets/images/upload/team-member-5.jpg" alt="">
                                        </nuxt-link>
                                    </div>
                                    <div class="member-infor">
                                        <h3 class="member_name">
                                            <a href="#">{{$t('about_team_infor_text1')}}</a>
                                        </h3>
                                        <span class="member_position">{{$t('about_team_infor_text2')}}</span>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </section>
        </div>
    </div>
</template>

<script>
export default {
    layout: "custom",
    name: 'AboutTeam',
    components: {
        HeaderAbout: () => import('~/components/about/headerAbout'),
    },
}
</script>