<template>
    <div class="group">
        <div class="group-left">
            <div class="title"> {{ $t('ConsultationForm9') }}</div>
            <div class="row">
                <div class="col-6" v-for="(v, k) in arr" :key="'data_' + k">
                    <div class="group-row">
                        <div class="checkbox">
                            <input type="checkbox" :id="'data_' + k" :value="v.title" v-model="obj.data1">
                            <label :for="'data_' + k" class="check square">{{$t(v.title)}}</label>
                        </div>
                    </div>
                </div>
            </div>
            <div class="group-row">
                <div class="description color-lightgrey heading-4">{{ $t('MultipleSelectionPossible') }}</div>
            </div>
            <div class="title">{{ $t('ConsultationForm9In1') }}</div>
            <div class="row">
                <div class="col-12">
                    <div class="group-row" v-for="(v, k) in arr2" :key="k">
                        <div class="checkbox">
                            <input type="checkbox" :id="k" :value="v.title" v-model="obj.data2">
                            <label :for="k" class="check square">{{$t(v.title)}}</label>
                        </div>
                    </div>
                    <div class="group-row">
                        <div class="description color-lightgrey heading-4">{{ $t('MultipleSelectionPossible') }}</div>
                    </div>
                </div>
            </div>
        </div>
        <div class="group-content">
            <div class="rule-grey"></div>
            <div class="group-footer d-flex align-items-center justify-content-between">
                <div class="prev-page">
                    <a href="javascript:;" title="" class="d-block link" @click="previous">
                        <span class="icon"><i class="fas fa-chevron-left"></i></span>
                        <span class="texts">{{ $t('btnReturn') }}</span>
                    </a>
                </div>
                <div class="next-page d-flex">
                    <a href="javascript:;" title="" class="d-block ml-sm-4 ml-0 link active" @click="next">
                        <span class="texts">{{ $t('MoveOn') }}</span>
                        <span class="icon"><i class="fas fa-chevron-right"></i></span>
                    </a>
                </div>
            </div>
        </div>
    </div>
</template>

<script>
    export default {
        props: ['value', 'history'],
        data() {
            return {
                arr: [
                    {title: 'Form9Arr1Title1'},
                    {title: 'Form9Arr1Title2'},
                    {title: 'Form9Arr1Title3'},
                    {title: 'Form9Arr1Title4'},
                    {title: 'Form9Arr1Title5'},
                ],
                arr2: [
                    {title: 'Form9Arr2Title1'},
                    {title: 'Form9Arr2Title2'},
                ],
                obj: {
                    data1: [],
                    data2: []
                }
            }
        },
        watch: {
            obj: {
                handler: function (e) {
                    return this.$emit('input', e)
                },
                immediate: true
            }
        },
        methods: {
            previous() {
                let history = [...this.history]
                history.pop();
                return this.$emit('redirect', history.slice(-1)[0], history)
            },
            next() {
                if (!this.obj.data1[0] || !this.obj.data2[0] ) return this.showNotification(this.$t('Error'), this.$t('PleaseChooseACase'), 'error') 
                let history = [...this.history]
                history.push(10)
                return this.$emit('redirect', 10, history)
            }
        },
        mounted() {
            if (this.value) this.obj = this.value
        }
    }
</script>

<style scoped>
    .body-in-total .group-left .title {
        margin-bottom: 20px !important; 
    }
</style>
