<template>
    <div>
        <div class="group">
            <div class="group-left">
                <div class="title">{{ $t('ConsultationForm2') }}</div>
                <div class="group-row" v-for="v in arr" :key="v.id">
                    <div class="checkbox">
                        <input type="radio" :id="v.id" :value="v" v-model="obj">
                        <label :for="v.id" class="check">{{$t(v.title)}}</label>
                    </div>
                </div>
            </div>
        </div>
        <div class="group-content">
            <div class="rule-grey"></div>
            <div class="group-footer d-flex align-items-center justify-content-between">
                <div class="prev-page">
                    <a href="javascript:;" title="" class="d-block link" @click="previous">
                        <span class="icon"><i class="fas fa-chevron-left"></i></span>
                        <span class="texts">{{ $t('btnReturn') }}</span>
                    </a>
                </div>
                <div class="next-page d-flex">
                    <a href="javascript:;" title="" class="d-block ml-sm-4 ml-0 link active" @click="next">
                        <span class="texts">{{ $t('MoveOn') }}</span>
                        <span class="icon"><i class="fas fa-chevron-right"></i></span>
                    </a>
                </div>
            </div>
        </div>
    </div>
</template>

<script>
    export default {
        props: ['value', 'history'],
        data() {
            return {
                arr: [
                    {id: 'tick-2-1', title: 'Form2Tick1'},
                    {id: 'tick-2-2', title: 'Form2Tick2'},
                    {id: 'tick-2-3', title: 'Form2Tick3'},
                ],
                obj: null,
            }
        },
        watch: {
            obj: {
                handler: function (e) {
                    return this.$emit('input', e)
                },
                immediate: true
            }
        },
        methods: {
            previous() {
                let history = [...this.history]
                history.pop();
                return this.$emit('redirect', history.slice(-1)[0], history)
            },
            next() {
                if (!this.obj) return this.showNotification(this.$t('Error'), this.$t('PleaseChooseACase'), 'error') 
                let history = [...this.history]
                history.push(3)
                return this.$emit('redirect', 3, history)
            }
        },
        mounted() {
            if (this.value) this.obj = this.value
        }
    }
</script>

<style scoped>
</style>
