<template>
    <div>
        <div class="group">
            <div class="group-left">
                <div class="title"> {{  $t('ConsultationForm3')}}
                    <div class="desc-color color-lightgrey">{{ $t('ConsultationForm3In1') }}</div>
                </div>
                <div class="group-row" v-for="(v, k) in arr" :key="k">
                    <div class="checkbox">
                        <input type="checkbox" :id="k" :value="v" v-model="obj">
                        <label :for="k" class="check square">
                            {{$t(v.title)}}
                            <div class="desc-color pl-35 color-lightgrey"> {{$t(v.content)}}</div>
                        </label>
                    </div>
                </div>
            </div>
        </div>
        <div class="group-content">
            <div class="rule-grey"></div>
            <div class="group-footer d-flex align-items-center justify-content-between">
                <div class="prev-page">
                    <a href="javascript:;" title="" class="d-block link" @click="previous">
                        <span class="icon"><i class="fas fa-chevron-left"></i></span>
                        <span class="texts">{{ $t('btnReturn') }}</span>
                    </a>
                </div>
                <div class="next-page d-flex">
                    <a href="javascript:;" title="" class="d-block ml-sm-4 ml-0 link active" @click="next">
                        <span class="texts">{{ $t('MoveOn') }}</span>
                        <span class="icon"><i class="fas fa-chevron-right"></i></span>
                    </a>
                </div>
            </div>
        </div>
    </div>
</template>

<script>
    export default {
        props: ['value', 'history'],
        data() {
            return {
                arr: [
                    {title: 'Form3Title1', content: 'Form3Content1', step: 4},
                    {title: 'Form3Title2', content: 'Form3Content2', step: 5},
                    {title: 'Form3Title3', content: 'Form3Content3', step: 6},
                    {title: 'Form3Title4', content: 'Form3Content4', step: 7},
                    {title: 'Form3Title5', content: 'Form3Content5', step: 8},
                ],
                obj: [],
            }
        },
        watch: {
            obj: {
                handler: function (e) {
                    return this.$emit('input', e)
                },
                immediate: true
            }
        },
        computed:{
            sortedArray: function() {
                function compare(a, b) {
                    return a-b
                }
            }
        },
        methods: {
            previous() {
                let history = [...this.history]
                history.pop();
                return this.$emit('redirect', history.slice(-1)[0], history)
            },
            next() {
                if (!this.obj[0]) return this.showNotification(this.$t('Error'), this.$t('PleaseChooseACase'), 'error') 
                let history = [...this.history];
                this.obj.sort((a, b) => a.step - b.step);
                let steps = this.obj.map(i => i.step);
                let first = steps.shift();
                history.push(first)
                return this.$emit('redirect', first, history, steps);
            }
        },
        mounted() {
            if (this.value) this.obj = this.value
        }
    }
</script>

<style scoped>
</style>
