<template>
    <div>
        <div class="group">
          <SkillRequired v-model="obj" :lable="$t('SkillRequired')" :placeholder=" $t('Form4Placeholder')"/>
        </div>
        <MultiPani :history="history" :step="step" :obj="obj" :value="value" :willNext="willNext" @redirect="redirect"/>
    </div>
</template>

<script>
    export default {
        props: ['value', 'history', 'willNext', 'step'],
        components: {
            SkillRequired: () => import('./SkillRequired'),
            MultiPani: () => import('./multiPani'),
        },
        data() {
            return {
                obj: {
                    id: 'tick-4-1',
                    data: [],
                    number: 1
                },
            }
        },
        watch: {
            obj: {
                handler: function (e) {
                  return this.$emit('input', e)
                }
            }
        },
        methods: {
            redirect(first, history, willNext) {        
                return this.$emit('redirect', first, history, willNext)
            },
        },
        created() {
          if (this.value) {
            this.obj = this.value;
          }
        }
    }
</script>

<style scoped>

</style>
