<template>
    <div>
        <div class="group pt-0">
            <div class="group-left">
                <div class="title">{{ $t('WhatDoYouExpectFromSpoteach') }}</div>
                <div class="group-row" v-for="v in arr" :key="v.id">
                    <div class="checkbox">
                        <input type="radio" :id="v.id" :value="v" v-model="obj">
                        <label :for="v.id" class="check">{{$t(v.title)}}</label>
                    </div>
                </div>
            </div>
        </div>
        <div class="group-content">
            <div class="rule-grey"></div>
            <div class="group-footer d-flex align-items-center justify-content-between">
                <div class="prev-page">
                    <nuxt-link :to="localePath({'name': 'consultation'})" title="" class="d-block link">
                        <span class="icon"><i class="fas fa-chevron-left"></i></span>
                        <span class="texts">{{ $t('btnReturn') }}</span>
                    </nuxt-link>
                </div>
                <div class="next-page d-flex">
                    <a href="javascript:;" title="" class="d-block ml-sm-4 ml-0 link active" @click="next">
                        <span class="texts">{{ $t('MoveOn') }}</span>
                        <span class="icon"><i class="fas fa-chevron-right"></i></span>
                    </a>
                </div>
            </div>
        </div>
    </div>
</template>

<script>
    export default {
        props: ['value', 'history'],
        data() {
            return {
                arr: [
                   
                    {id: 'tick-1-1', title: 'Form1Tick1', step: 2},
                    {id: 'tick-1-2', title: 'Form1Tick2', step: 3},
                    {id: 'tick-1-3', title: 'Form1Tick3', step: 3},
                    {id: 'tick-1-4', title: 'Form1Tick4', step: 3},
                    {id: 'tick-1-5', title: 'Form1Tick5', step: 12},
                ],
                obj: null,
            }
        },
        watch: {
            obj: {
                handler: function (e) {
                    return this.$emit('input', e)
                },
                immediate: true
            }
        },
        methods: {
            next() {
                if (!this.obj) return this.showNotification(this.$t('Error'), this.$t('PleaseChooseACase'), 'error') 
                let history = [...this.history]
                history.push(this.obj.step)
                return this.$emit('redirect', this.obj.step, history)
            }
        },
        mounted() {
            if (this.value) this.obj = this.value
        }
    }
</script>

<style scoped>
</style>
