<template>
    <div class="group-content">
        <div class="rule-grey"></div>
        <div class="group-footer d-flex align-items-center justify-content-between">
            <div class="prev-page">
                <a href="javascript:;" title="" class="d-block link" @click="previous">
                    <span class="icon"><i class="fas fa-chevron-left"></i></span>
                    <span class="texts">{{ $t('btnReturn') }}</span>
                </a>
            </div>
            <div class="next-page d-flex">
                <a href="javascript:;" title="" class="d-block link" @click="skip">
                    <span class="texts">{{$t('btnSkip')}}</span>
                </a>
                <a href="javascript:;" title="" class="d-block ml-sm-4 ml-0 link active" @click="next">
                    <span class="texts">{{ $t('MoveOn') }}</span>
                    <span class="icon"><i class="fas fa-chevron-right"></i></span>
                </a>
            </div>
        </div>
    </div>
</template>

<script>
    export default {
        props: ['value', 'history', 'willNext', 'obj', 'step'],
        methods: {
            previous() {
                let history = [...this.history];
                let willNext = [...this.willNext];
                history.pop();
                willNext.unshift(this.step);
                return this.$emit('redirect', history.slice(-1)[0], history, willNext)
            },
            skip() {
                let history = [...this.history];
                if (this.willNext.length > 0) {
                    let willNext = [...this.willNext];
                    let first = willNext.shift();
                    history.push(first);
                    return this.$emit('redirect', first, history, willNext)
                }
                history.push(9);
                return this.$emit('redirect', 9, history, [])
            },
            next() {
                if (!this.obj.data[0] || !this.obj.number >0 ) return this.showNotification(this.$t('Error'), this.$t('PleaseChooseACase'), 'error') 
                let history = [...this.history]
                if (this.willNext.length > 0) {
                    let willNext = [...this.willNext];
                    let first = willNext.shift();
                    history.push(first);
                    return this.$emit('redirect', first, history, willNext)
                }
                history.push(9);
                return this.$emit('redirect', 9, history, [])
            }
        },
    }
</script>

<style scoped>

</style>
