<template>
  <div v-if="data">
    <TheHeaderExpert v-model="data" >
      <template slot="body">
        <div class="group-item ">
          <div class="wrap-item">
            <nuxt-link :to="localePath({name: 'expert-p-id', params: {id: this.id}})" class="item">
              {{+id === +getUserId ? $t('preview') : $t('AboutMe')}}
            </nuxt-link>
          </div>
          <div class="wrap-item" v-if="isShowDetail || id === getUserId">
            <nuxt-link :to="localePath({name: 'expert'})" class="item">
              {{ $t('personal_information') }}
            </nuxt-link>
          </div>
          <div class="wrap-item">
            <nuxt-link :to="localePath({name: 'expert-blog-id', params: {id: this.id}})" class="item">
              {{ $t('blog') }}
            </nuxt-link>
          </div>
          <div class="select-menu">
            <label class="text-white mb-2 mr-2">{{$t('all')}}</label>
            <select name="" class="select-sub-menu input-text input text-white">
              <option value="">{{$t('preview')}}</option>
              <option value="">{{$t('personal_information')}}</option>
              <option value="">{{$t('blog')}}</option>
            </select>
          </div>
        </div>
      </template>
    </TheHeaderExpert>
    <HeadBanner
      :object_id="id"
      :type="3"
      :objData="objDataExpert"
      :url="urlShareExpert"
      :is_yourself.sync="data.is_yourself"
      :src.sync="data.cover_photo"/>
    <NuxtChild />
  </div>
</template>

<script>
  import {mapGetters, mapActions} from 'vuex'
  import _ from 'lodash'
  import eventBus from "~/services/bus";
  import axios from 'axios'
  import http from '~/services/request'

  export default {
    name: 'ExpertProfile',
    layout: "custom",
    middleware: 'auth',
    head() {
      return {
        script: [
          { src: 'https://js.stripe.com/v3/', async: true, defer: true },
        ]
      }
    },
    components: {
      TheHeaderExpert: () => import('~/components/profile/expert/TheHeaderExpert'),
      HeadBanner: () => import('~/components/share/header/HeadBanner'),
      ProfileBanner: () => import("~/components/profile/ProfileBanner"),
    },
    async asyncData({req, params, store, redirect, app}) {
      let getUserId = store.getters.getUserId
      let id = params.id || getUserId
      let company = store.getters.getCompany
      if(!params.id && _.has(company, "company_id")) {
        redirect(app.localePath({ name: 'profile' }));
        return;
      }
      let isShowDetail = !_.has(company, 'company_id') && id === getUserId
      if (_.has(company, 'id')) {
        isShowDetail = parseInt(id) === company.id;
      }
      let request = null;
      if (process.server) {
        const host = `http://${req.headers.host}`;
        const instance = axios.create({
          baseURL: `${host}/api/client`,
          timeout: 1000,
          headers: {
            'X-Request-Time': new Date().getTime(),
            'Currency-Code': store.getters.getCurrency,
            'Language-Code': store.getters.getLocale,
            'X-Requested-Env': 'web',
            'Content-Type': 'application/json',
            'Authorization': `Bearer ${store.getters.accessToken}`
          }
        });
        instance.interceptors.response.use(response => response.data, error => {});
        request = instance;
      } else {
        request = http;
      }
      let res = await request.get('/members/getCoverProfile', {params: {object_id: id, type: 2}});
      const data = res ? res.data : null;
      return {
        id, data, isShowDetail
      }
    },
    data() {
      return {
        objDataExpert: null,
        urlShareExpert: null,
        objshowExpert: {
          object_id: 0,
          type: 2,
          company_id: 0,
        },
      };
    },
    watch: {
      "$route.params": function(newVal) {
        this.id = parseInt(newVal.id || this.getUserId);
        this.setDetail();
        this.onGetCoverProfile();
      }
    },
    computed: {
      ...mapGetters({
        getUserId: 'getUserId',
      })
    },
    methods: {
      ...mapActions({
        getCoverProfile: 'members/viewProfile/getCoverProfile',
        getShowProfile: 'members/viewProfile/getShowProfile',
      }),
      async onGetCoverProfile() {
        let obj = {
          object_id: this.id,
          type: 2
        };
        const {data} = await this.getCoverProfile(obj)
        this.data = data;
      },
      setDetail() {
        this.isShowDetail = !_.has(this.$store.getters.getCompany, 'company_id')
          && this.id === this.getUserId;
        if (this.$route.params.id && this.$route.path.indexOf('expert/p') >= 0) {
          this.isShowDetail = false;
        }
      },
      getExpert() {
        this.getShowProfile(this.objshowExpert)
          .then(res => {
            this.objDataExpert = res.data;
          })
      }
    },
    mounted() {
      this.urlShareExpert = window.location.origin+this.localePath({ name: 'expert-p-id', params: {id: this.id}});
      this.objshowExpert.object_id = parseInt(this.id),
      this.getExpert()
    },
    created() {
      eventBus.$on('onUpdateExpertProfile', (info) => {
        this.data = _.merge(this.data, info)
      } );
    },
  };
</script>

