<template>
  <section class="body-hp pd-web body-min">
    <div class="container">
        <div class="row">
            <div class="col-12">
                <div class="wp-order mb-hp">
                    <header class="phd-search header-searchanel-head panel-head">
                        <h2 class="heading-2 title-heading">
                          <span>{{$t('featured_work')}}</span>
                        </h2>
                    </header>
                    <hot-work></hot-work>
                </div>
                <div class="wp-order mb-hp">
                    <header class="panel-head">
                        <h2 class="title-heading">
                          <div class="heading-2 mb-2">{{$t('whatIsSpotec')}}</div>
                          <div class="heading-4 text-h3 description">{{$t('UnlimitedChartering')}}</div>
                        </h2>
                    </header>
                    <section class="panel-body-banner">
                        <div class="img-thumb">
                            <div class="image">
                                <img src="~/assets/images/upload/hp-banner-1-compressor.jpg" alt class="img-fluid img-cover" />
                            </div>
                        </div>
                    </section>
                </div>
                <div class="wp-order mb-hp">
                    <header class="panel-head">
                        <h2 class="heading-2 title-heading">
                          <span>{{$t('RecommendedArea')}}</span>
                        </h2>
                    </header>
                    <area-work></area-work>
                </div>
                <div class="wp-order mb-hp">
                    <header class="panel-head">
                        <h2 class="heading-2 title-heading">
                          <span>{{$t('PopularThemes')}}</span>
                        </h2>
                    </header>
                    <popular-work></popular-work>
                </div>
                <div class="wp-order mb-hp order_2">
                    <header class="panel-head">
                        <h2 class="title-heading">
                          <div class="heading-2 mb-2">{{$t('whatisanexpert')}}</div>
                          <div class="heading-4 text-h3 description">{{$t('realizeacomplete')}}</div>
                        </h2>
                    </header>
                    <section class="panel-body-banner">
                        <div class="img-thumb">
                            <div class="image">
                              <ElImageLazy :src="require('~/assets/images/upload/hp-banner-2-compressor.png')" title="spotech"/>
                            </div>
                        </div>
                    </section>
                </div>
                <div class="wp-product-hp wp-order mb-hp prd-2" v-if="dataPrj">
                    <header class="panel-head">
                        <h2 class="heading-2 title-heading">
                          <span>{{$t('CommonlyAccessed')}}</span>
                        </h2>
                    </header>
                    <regular-project v-model="dataPrj"></regular-project>
                </div>
                <div class="wp-product-hp wp-order prd-1 mb-hp" v-if="dataMember">
                    <header class="panel-head">
                        <h2 class="heading-2 title-heading">
                          <span>{{$t('growingexpert')}}</span>
                        </h2>
                    </header>
                    <experts-hight-rate v-model="dataMember"></experts-hight-rate>
                </div>
            </div>
        </div>
    </div>
</section>
</template>

<script>
  import axios from '~/services/request'
  import HotWork from '~/components/home/HotWork'
  import AreaWork from '~/components/home/AreaWork'
  import PopularWork from '~/components/home/PopularWork'
  import RegularProject from '~/components/home/RegularProject'
  import ExpertsHightRate from '~/components/home/ExpertsHightRate'
  import ElImageLazy from '~/components/share/ElImageLazy'

  export default {
    name: 'index',
    data() {
      return {
        dataPrj: null,
        dataMember: null
      }
    },
    components: {
      HotWork,
      AreaWork,
      PopularWork,
      RegularProject,
      ExpertsHightRate,
      ElImageLazy
    },
    methods: {
      async getData() {
        let objData = {
          sort: 'hit',
          order: 'desc',
          pageIndex: 1,
          pageSize: 5,
        }
        const homePrjs = axios.post('/project/getHomeProjects', objData)
        const homeMembers = axios.post('/members/getHomeMembers', objData)
        let [dataPrj, dataMember] = await Promise.all([homePrjs, homeMembers]);
        this.dataPrj = dataPrj.data
        this.dataMember = dataMember.data
      }
    },
    mounted() {
      this.getData();
    }
  };
</script>

<style>
</style>

