<template>
  <div v-if="company">
    <TheHeader v-model="company">
      <template slot="body">
        <div class="group-item ">
          <div class="wrap-item">
            <nuxt-link :to="localePath({ name: 'profile-client-id', params: { id: this.id }})" class="item">
              {{$t('preview')}}
            </nuxt-link>
          </div>
          <div class="wrap-item" v-if="currentCompany && isShowDetail || +id === +currentCompany.company_id">
            <nuxt-link :to="localePath({name: 'profile'})" class="item">
              {{ $t('personal_information') }}
            </nuxt-link>
          </div>
          <div class="wrap-item">
            <nuxt-link :to="localePath({ name: 'profile-client-blog-id', params: { id: this.id }})" class="item">
              {{ $t('blog') }}
            </nuxt-link>
          </div>
          <div class="wrap-item">
            <nuxt-link :to="localePath({ name: 'profile-client-project-id', params: { id: this.id }})" class="item">
              {{ $t('Project') }}
            </nuxt-link>
          </div>
          <div class="select-menu">
            <label class="text-white mb-2 mr-2">{{$t('all')}}</label>
            <select name="" class="select-sub-menu input-text input text-white">
              <option value="">{{$t('preview')}}</option>
              <option value="">{{$t('personal_information')}}</option>
              <option value="">{{$t('blog')}}</option>
              <option value="">{{$t('Project')}}</option>
            </select>
          </div>
        </div>
      </template>
    </TheHeader>
    <HeadBanner :object_id="id" :type="2" :is_yourself="company.is_owner" :src.sync="company.cover_photo"/>
    <NuxtChild :company="company"/>
  </div>
</template>

<script>
  import {mapGetters, mapActions} from 'vuex'
  import {getCoverProfile} from '~/services/member';
  import _ from 'lodash'
  import eventBus from "~/services/bus";
  import axios from 'axios'
  import http from '~/services/request'

  export default {
    name: 'CompanyProfile',
    layout: 'custom',
    middleware: 'auth',
    head() {
      return {
        script: [
          { src: 'https://js.stripe.com/v3/', async: true, defer: true },
        ]
      }
    },
    data() {
      return {
      }
    },
    async asyncData({req, params, store, redirect, app}) {
      let currentCompany = store.getters.getCompany || {}
      if (!params.id && !_.has(currentCompany, "company_id")) {
        redirect(app.localePath({name: "expert"}));
        return;
      }
      let id = params.id || currentCompany.company_id;
      let isShowDetail = _.has(currentCompany, 'company_id') && parseInt(id) === currentCompany.company_id;
      let queryString = {
        type: 1,
        object_id: id,
      }
      let request = null;
      if (process.server) {
        const host = `http://${req.headers.host}`;
        const instance = axios.create({
          baseURL: `${host}/api/client`,
          timeout: 1000,
          headers: {
            'X-Request-Time': new Date().getTime(),
            'Currency-Code': store.getters.getCurrency,
            'Language-Code': store.getters.getLocale,
            'X-Requested-Env': 'web',
            'Content-Type': 'application/json',
            'Authorization': `Bearer ${store.getters.accessToken}`
          }
        });
        instance.interceptors.response.use(response => response.data, error => {});
        request = instance;
      } else {
        request = http;
      }
      const res = await request.get('/members/getCoverProfile', {params: queryString});
      const data = res ? res.data : null;
      return {
        company: data,
        isShowDetail,
        id,
      }
    },
    computed: {
      ...mapGetters({
        currentCompany: 'getCompany',
      }),
    },
    components: {
      TheHeader: () => import('~/components/profile/client/TheHeader'),
      HeadBanner: () => import('~/components/share/header/HeadBanner'),
    },
    methods: {
      isProfile() {
        return this.$route.path === this.localePath({name: 'profile-client-id', params: {id: this.id}});
      },
      setDetail() {
        this.isShowDetail = _.has(this.currentCompany, 'company_id')
          && parseInt(this.id) === this.currentCompany.company_id;
        if (this.$route.params.id && this.isProfile()) {
          this.isShowDetail = false;
        }
      }
    },
    watch: {
      "$route.params": function(newVal) {
        this.setDetail();
      }
    },
    created() {
      eventBus.$on('onUpdateClientProfile', (info) => {
        this.company = _.merge(this.company, info)
      });
      eventBus.$on('onUpdateProfile', (info) => {
        this.company = _.merge(this.company, info)
      });
    }
  }
</script>

<style scoped>

</style>
