<template>
  <div>
    <base-header />
  </div>
</template>

<script>
  export default {
    name: 'ProjectDetailIndex',
    layout: 'custom',
    components: {
      BaseHeader: () => import('~/components/project/BaseHeader'),
    }
  }
</script>
