<template>
    <section class="body-hp pd-web body-min">
        <div class="container">
            <div class="row">
                <div class="col-12">

                    <div class="wp-product-hp wp-order mb-hp prd-2">
                        <header class="panel-head">
                            <h2 class="heading-2 title-heading"><span>{{ $t('ChooseTheme')}}</span></h2>
                        </header>

                        <section class="panel-body-choose panel-body-hp">
                            <div class="list-hp row mb-4 ">

                                <div class="col-lg-3 col-md-6 col-sm-12 col-12 mb-4"
                                    v-for="(we, k) in workEnvironment" :key="`work-environment-item-${k}`"
                                >
                                    <div class="list-item-hp">
                                        <div class="img-thumb">
                                            <a href="javascript:;" title="" class="image">
                                                <img :src="we.image" alt="" class="img-fluid img-cover">
                                            </a>
                                            <a href="javascript:;" class="heart d-block activeslecter">
                                                <label class="form-checkbox">
                                                    <input type="checkbox" :value="we.id" v-model="topic.work_environment" class="input-checkbox"  >
                                                    <span></span>
                                                </label>
                                            </a>
                                        </div>
                                        <div class="overlay">
                                            <h3 class="wp-title">
                                                <a href="javascript:;" title="" class="name-title">{{ we.name }}</a>
                                            </h3>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="group-read-more d-flex">
                                <a href="javascript:;" title="" @click="onSearchTopic" class="filter-top text-white ml-auto">
                                    <span>{{ $t('SearchSelectedTheme')}}</span>
                                </a>
                            </div>
                        </section>
                    </div>

                </div>
            </div>
        </div>
        <modal v-if="isShowModalIndex == 3" @close="onShowModal(0)">
                <div slot="body">
                    <Login @closeModal="onShowModal(0)"/>
                </div>
        </modal>
    </section>
</template>


<script>
import { mapState, mapActions } from "vuex";
import _ from 'lodash'

export default {
    name:'WorkEnviroment',
    components: {
        Login: () => import('~/components/popup/Login'),
        Modal: () => import('~/components/share/Modal'),
    },
    data() {
        return {
            isShowModalIndex: 0,
            arrSelect:[],
            topic: {
                work_environment:[]
            }
        }
    },
    computed: {
        ...mapState({
            workEnvironment: state => state.resource.workEnvironment,
        }),
        loggedIn() {
            return this.$store.getters.loggedIn
        }
    },
    methods: {
        ...mapActions({
            searchTopicProjectWork: 'project/search/searchProjects',
        }),
        getWorkEnvironment() {
            this.$store.dispatch("resource/getWorkEnvironment");
        },
        onShowModal(index) {
            this.isShowModalIndex = index;
        },
        onSearchTopic() {
            if(!this.loggedIn){
                this.onShowModal(3);
            }else{
                let workEnvi = this.topic.work_environment;
                let ids = [].concat(workEnvi).join(',');
                if (workEnvi == 0) {
                    this.$notify({
                        title: 'Erorrs',
                        message: 'Choose at least 1 in all!',
                        type: 'error'
                    })
                }else{
                    console.log(workEnvi);
                    this.$router.push(this.localePath({name: 'project-search-workenvironment', params: {workenvironment:ids } }))
                    // this.$router.push({path: `/project/search/id,id);
                }
            }
        },
    },
    mounted(){
        this.getWorkEnvironment();
    },
}
</script>
<style  scoped>
    .list-item-hp .form-checkbox{
        display: block;
        height: 20px;
        width: 20px;
    }
    .list-item-hp .form-checkbox .input-checkbox{
        display: none
    }
    .list-item-hp .form-checkbox span{
        position: relative;
        cursor: pointer;
        display: block;
    }
    .list-item-hp .form-checkbox span::before{
        position: absolute;
        content: '';
        width: 20px;
        height: 20px;
        border: 1px solid #ffffff;
        left: 0px;
        top: 0px;
        border-radius: 50%;
    }
    .list-item-hp .form-checkbox span::before{
        position: absolute;
        content: '';
        width: 20px;
        height: 20px;
        border: 1px solid #ffffff;
        left: 0px;
        top: 0px;
        border-radius: 50%;
    }
    .list-item-hp .form-checkbox input[type="checkbox"]:checked + span::before{
        background: #77D353;
        border-color: #77D353;
    }
</style>
