<template>
  <div>
    <div class="header d-flex">
      <div v-if="isClient">#{{ index + 1 }}: <nuxt-link :to="localePath({ name: 'expert-p-id', params: {id: itembid.member_id}})" class="color-lightblue">{{ bidMemberTitle(itembid) }}</nuxt-link></div>
      <div v-else>#{{ index + 1 }}: <nuxt-link :to="localePath({ name: 'profile-client-id', params: {id: itembid.company.id}})" class="color-lightblue">{{ bidMemberTitle(itembid) }}</nuxt-link></div>
      <div>{{ $t('BidPrice') }}：{{ bidPrice }}</div>
      <div>{{ DurationName(itembid.duration_id) }}</div>
      <div v-if="itembid"><a @click="onGetDiscussion(itembid)" class="btn-chat color-lightblue" href="javascript:;"><i class="far fa-envelope"></i></a></div>
    </div>
    <div class="content p-4" :class="(is_reject || accepted) ? 'disable' : ''">{{ itembid.content }}</div>
    <div class="list-action" v-if="accepted == false && is_reject == false">
      <a class="btn btn-approved" href="javascript:;"
        @click="updateBidAccept(1, itembid.company_id, itembid.id)">{{ $t('Agree') }}</a>
      <a class="btn btn-refuse" href="javascript:;"
        @click="updateBidAccept(2, itembid.company_id, itembid.id)">{{ $t('Reject') }}</a>
    </div>
    <div class="list-action" v-if="accepted">
      <a class="btn btn-adjustment" href="javascript:;"
        @click="updateBidProgress(1, itembid.company_id, itembid.id, index)">{{ $t('ProceedToAdjustment') }}</a>
      <a class="btn btn-revoke" href="javascript:;"
        @click="updateBidAccept(0, itembid.company_id, itembid.id)">{{ $t('RevokeApproval') }}</a>
    </div>
    <div class="list-action" v-if="is_reject">
      <a class="btn btn-adjustment" style="cursor: default;" href="javascript:;">{{ $t('Refused') }}</a>
      <a class="btn btn-revoke" href="javascript:;"
        @click="updateBidAccept(0, itembid.company_id, itembid.id)">{{ $t('CancelTheRefuse') }}</a>
    </div>
  </div>
</template>

<script>
import _ from 'lodash';
import { getDiscussion } from '~/services/messenger';
import { mapState, mapActions, mapGetters } from "vuex";

export default {
  name: 'BidItem',
  props:{
    itembid:{
      type: Object,
      default: null
    },
    index: {
      type: Number,
      default: 0
    }
  },
  data() {
      return {
        discussion: null,
        accepted: false,
        is_reject: false,
        progress: false,
        baseUnit: { ja: '¥', vi: 'đ', en: '$'}
      }
  },
  computed: {
    meId() {
      return this.$store.getters.getUserId;
    },
    company() {
      return this.$store.getters.getCompany;
    },
    companyId() {
      return _.has(this.company, 'company_id') ? this.company.company_id : 0;
    },
    isClient() {
      return this.companyId;
    },
    item() {
      return this.elem || [];
    },
    itemTitle() {
      return this.item.title || ([this.item.first_name, this.item.last_name].join(' '));
    },
    itemImg() {
      return this.item.image || this.item.avatar;
    },
    list_duration() {
      return this.$store.state.resource.duration
    },
    ...mapGetters({
      locale: 'getLocale',
    }),
    bidPrice() {
      const bid_price = this.itembid[`price_${this.locale}`];
      return this.formatNumber(bid_price)
    },
  },
  methods: {
    ...mapActions({
      updateObjectBidAccept: 'dashboard/updateObjectBidAccept',
      updateObjectBidProgress: 'dashboard/updateObjectBidProgress',
    }),
    bidMemberTitle(bidItem) {
      return _.has(bidItem, 'bid_profile')
        ? `${bidItem.bid_profile.first_name} ${bidItem.bid_profile.last_name}`
        : (!bidItem.company ? '' : bidItem.company.title);
    },
    isNotAccepted(itembid) {
      return (itembid.accept === 1 && itembid.progress === 0)
              || (itembid.accept === 0) && !this.progress;
    },
    updateBidAccept(id_accept, id_company, id_bid) {
      let objData = {
        company_id: this.companyId,
        bid_id: id_bid,
        accept: id_accept
      }
      this.updateObjectBidAccept(objData)
      .then((res) => {
        this.showNotification('', res.message, 'success');
        if(id_accept == 1) {
          this.accepted = true
          this.is_reject = false
        } else if (id_accept == 0) {
          this.accepted = false
          this.is_reject = false
        } else {
          this.accepted = false
          this.is_reject = true
        }
      })
    },
    updateBidProgress(progress, id_company, id_bid, index) {
      let objData = {
        company_id: this.companyId,
        bid_id: id_bid,
        progress: progress
      }
      this.updateObjectBidProgress(objData)
      .then((res) => {
        this.showNotification('', res.message, 'success');
        this.progress = true;
      })
    },
    async onGetDiscussion(item) {
      let arr = [{
        id: this.isClient ? this.companyId : item.company_id,
        type: 2
      },{
        id: this.isClient ? item.member_id : this.meId,
        type: 1
      }];

      if( !this.discussion ) {
        const res = await getDiscussion(arr);
        this.discussion = res.data;
      }

      if( this.discussion && this.discussion.id) {
        this.$router.push( this.localePath({ name: 'messenger', query: { discussionId: this.discussion.id} }) );
      }
    },
    priceSign(code) {
      const unit_list = this.getCurencySymbol(code)
      return unit_list;
    },
    DurationName(id) {
      const choisedDuration = this.list_duration.find(n => n.id === id);
      return choisedDuration ? choisedDuration.name : this.$t('none');
    },
    formatNumber(valueFilter) {
      if(!this.locale) return;
      const amount = valueFilter.toString().replace(/(\d)(?=(\d{3})+(?:\.\d+)?$)/g, "$1,");
      return this.locale === 'vi'
        ? `${amount}${this.baseUnit[this.locale]}`
        : `${this.baseUnit[this.locale]}${amount}`
    }
  },
  mounted() {
    this.itembid.accept == 1 ? this.accepted = true : this.accepted = false;
    this.itembid.accept == 2 ? this.is_reject = true : this.is_reject = false;
    this.progress = this.itembid.progress >= 1
  }
}
</script>

<style scoped>
  .btn.btn-adjustment{
    background-color: #2c96ec;
    border-color: #2c96ec;
  }
  .content.disable {
    background: #dbdbdb;
    color: #b5b6bc;
  }
  a[disabled] {
    background-color: #d2d2d2 !important;
    border-color: #d2d2d2 !important;
    cursor: not-allowed;
    pointer-events: none;
  }
</style>
