<template>
    <div class="box">
      <div class="d-flex justify-content-between align-items-center mb-hp">
        <div class="title-32">{{ $t('dashboardStoryManagement') }}{{itemCount > 0 ? (itemCount) : ''}}</div>
      </div>
      <div class="group-table-general">
        <div style="overflow-x:auto;">
          <table class="table mb-hp">
            <thead>
              <tr class="list-item">
                <th class="w-35 title-head">{{ $t('storyName') }}</th>
                <th class="title-head text-center">{{ $t('storyStatus') }}</th>
                <th class="title-head text-center">{{ $t('storyFavorite') }}</th>
                <th class="title-head text-center">{{ $t('storyComment') }}</th>
                <th class="title-head text-center">{{ $t('storyPV') }}</th>
              </tr>
            </thead>
            <tbody>
              <tr class="list-item" v-for="(item, i) in pageItems" :key="`blog-item-${i}`">
                <td class="w-35 title-head">
                  <div class="group-item">
                    <div class="d-flex align-items-center">
                      <div class="img-thumb">
                        <img src="~/assets/images/upload/hp-order-4.png" alt="">
                      </div>
                      <div class="info">
                        <div class="title up">エキスパート体験談 Vol.1</div>
                        <div class="title ">
                          <div class="d-flex justify-content-between">
                            <div class="day">2019/05/23</div>
                          </div>
                        </div>
                      </div>
                    </div>
                  </div>
                </td>
                <td class="title-head text-center">掲載中</td>
                <td class="title-head text-center">10</td>
                <td class="title-head text-center">4</td>
                <td class="title-head text-center">
                  <span>20</span>
                </td>
              </tr>
            </tbody>
          </table>
          <ul class="pagination d-flex align-items-center margin-bottom-40" v-if="totalPage > 1 ">
            <li v-for="(p, i) in totalPage" :key="`blog--piginate--${i}`">
                <a href="javascript:;" @click="goToPage(i)" class="item" :class="{'active' : i == page }">{{i + 1}}</a>
            </li>
          </ul>
        </div>
      </div>
    </div>
</template>
<script>
import _ from 'lodash';
export default {
    name: 'DashBoardBlogList',
    props:{
        items: {
            type: Object,
            default: null
        },
        limit: {
            type: Number,
            default: 3
        }
    },
    data() {
        return {
            page: 0,
        }
    },
    computed: {
        list() {
            return this.items ? this.items.data : [];
        },
        itemCount() {
            return this.list ? this.list.length : 0
        },
        totalPage() {
            return this.limit <= 0 ? 0 : ( (this.itemCount % this.limit) == 0 ?  (this.itemCount % this.limit) : (this.itemCount % this.limit) + 1 );
        },
        pageOffset() {
            return this.page * this.limit;
        },
        pageItems() {
            let arr = this.itemCount > 0 ? _.cloneDeep( this.list ) : [];
            return arr.slice(this.pageOffset, this.limit);
        }
    },
    methods: {
        goToPage(p){
            this.page = p;
        }
    }
}
</script>