<template>
  <tbody>
    <tr class="list-item">
      <td class="w-35 title-head">
        <div class="group-item">
          <div class="d-flex align-items-center">
            <a class="text" @click="gotoPage">
              <div class="img-thumb">
                <img :src="itemImg" :alt="elem.title">
              </div>
            </a>
            <div class="info">
              <div class="title up">
                <a class="text" @click="gotoPage">
                  {{ itemTitle }}
                </a>
              </div>
              <div class="title ">
                <div class="d-flex justify-content-between">
                  <div class="day">{{ $t('Editdate') }}: {{formatDate(elem.created_at)}}</div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </td>
      <td class="title-head text-center">
        <div class="status">
          {{ elem.hiring ? $t('posting') : $t('Suspended') }}
        </div>
        <div class="action" :class="{'stop': elem.hiring, 'start': !elem.hiring}" @click="updateStatus">
          {{ elem.hiring ? $t('StopPosting') : $t('ResumePosting') }}
        </div>
        <div style="font-size: 12px;">({{ $t('Favorites') }} : {{ elem.wishlist ? elem.wishlist : 0 }})</div>
      </td>
      <td class="title-head text-center">
        {{ bidPrice }}
      </td>
      <td class="title-head text-center">{{ elem.hit }}</td>
      <td class="title-head text-center" @click="showDetailBid()">
        <a href="javascript:;" class="title-head color-green">
          {{ elem.object_bids.length ? elem.object_bids.length : 0 }}{{ $t('peopleBid') }}
        </a>
      </td>
    </tr>
    <tr v-if="elem.object_bids.length && show_bid">
      <td colspan="6" class="no-padding">
        <div class="bid-item" v-for="(itembid, key) in elem.object_bids"
          :key="key">
          <BidItem :itembid="itembid" :index="key"></BidItem>
        </div>
      </td>
    </tr>
  </tbody>
</template>

<script>
import _ from 'lodash';
import { updateStatus } from '~/services/member';
import { mapState, mapActions, mapGetters } from "vuex";

export default {
  props:{
    elem:{
      type: Object,
      default: null
    },
  },
  components: {
    BidItem: () => import('~/components/dashboard/share/BidItem'),
  },
  data() {
      return {
        show_bid: false,
        baseUnit: { ja: '¥', vi: 'đ', en: '$'}
      }
  },
  computed: {
    meId() {
      return this.$store.getters.getUserId;
    },
    company() {
      return this.$store.getters.getCompany;
    },
    companyId() {
      return _.has(this.company, 'company_id') ? this.company.company_id : 0;
    },
    isClient() {
      return this.companyId;
    },
    item() {
      return this.elem || [];
    },
    itemTitle() {
      return this.item.title || ([this.item.first_name, this.item.last_name].join(' '));
    },
    itemImg() {
      return this.item.image || this.item.avatar;
    },
    ...mapGetters({
      locale: 'getLocale',
    }),
    bidPrice() {
      const bid_price = this.item[`price_${this.locale}`];
      return this.formatNumber(bid_price)
    },
  },
  methods: {
    updateStatus() {
      let hiring = this.elem.hiring == 1 ? 0 : 1
      let params = {
        company_id: this.isClient ? this.elem.company_id : 0,
        object_id: this.elem.id,
        status: hiring
      }
      updateStatus(params)
        .then(res => {
          if (res.success) {
            this.elem.hiring = hiring
          }
        })
    },
    gotoPage() {
      const path = this.isClient
        ? 'project-detail-id'
        : 'expert-p-id';
      return this.$router.push(this.localePath({name: path, params: {id: this.elem.id }}));
    },
    showDetailBid() {
      this.show_bid = !this.show_bid;
    },
    formatDate(value) {
      //var months = ["Jan","Feb","Mar","Apr","May","Jun","Jul","Aug","Sep","Oct","Nov","Dec"];
      const date = new Date(value),
        //month = months[date.getMonth()],
        month_plus = date.getMonth() + 1,
        month = month_plus > 9 ? month_plus : `0${month_plus}`,
        day = date.getDate() > 9 ? date.getDate() : `0${date.getDate()}`;
      return `${date.getFullYear()}/${month}/${day}`;
    },
    formatNumber(valueFilter) {
      if(!this.locale) return;
      const amount = valueFilter.toString().replace(/(\d)(?=(\d{3})+(?:\.\d+)?$)/g, "$1,");
      return this.locale === 'vi'
        ? `${amount}${this.baseUnit[this.locale]}`
        : `${this.baseUnit[this.locale]}${amount}`
    }
  }
}
</script>

<style scoped>
  .stop,
  .start {
    cursor: pointer;
    text-decoration: underline;
  }
  .stop {
    color: red;
  }
  .start {
    color: #77d353;
  }
</style>
