<template>
<tbody  v-if="id">
    <tr class="list-item">
        <td class="w-35 title-head">
            <div class="group-item">
                <div class="d-flex align-items-center">
                    <div class="img-thumb">
                        <el-avatar :src="avatar" />
                    </div>
                    <div class="info">
                        <div class="title up color-blues" style="font-size: 16px">{{ sapo }}</div>
                        <div class="title ">
                            <div class="d-flex align-items-center">
                                <div class="month color-color " style="font-size: 16px">{{code}}: {{ durationName }}</div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </td>
        <td class="title-head">
            <div class="group-item">
                <div class="info">
                    <div class="title-head text-center color-blues">{{ title }}</div>
                </div>
            </div>
        </td>
        <td class="title-head text-center">Jul 31</td>
        <td class="title-head text-center color-red">{{ adjustEndTimeLabel }}</td>
        <td class="title-head text-center">
            <a href="javascript:;" @click="onReview" :title="$t('dashboardReview')" class="color-green">{{ $t('dashboardReview') }}</a>
        </td>
    </tr>
    <tr v-if="showForm">
        <td colspan="5">
            <ReviewForm :elem="elem" @onAddReviewSuccess="onAddReviewSuccess"/>
        </td>
    </tr>
</tbody>
</template>
<script>
export default {
    name: 'DashboardTabFiveRow',
    props:{
        elem:{
            type: Object,
            default: null
        }
    },
    components: {
        ReviewForm: () => import('~/components/dashboard/share/tab-5-form')
    },
    data() {
        return {
            showForm: false
        }
    },
    computed:{
        meId() {
           return this.$store.getters.getUserId;
        },
        company() {
            return this.$store.getters.getCompany;
        },
        companyId() {
            return _.has(this.company, 'company_id') ? this.company.company_id : 0;
        },
        isClient() {
            return this.companyId;
        },
        id() {
            return this.elem ? this.elem.id : ''
        },
        item() {
            return this.elem ?(this.elem.project || (this.isClient ? this.elem.profile : this.elem.company) ): null;
        },
        avatar() {
          const {bid_profile} = this.elem
          if (bid_profile) {
            return bid_profile.avatar
          }
        },
        title() {
          return this.item
              ? (!this.isClient ? this.item.title : ([this.item.first_name, this.item.last_name].join(' ')))
              : ''
        },
        sapo() {
            return this.item && this.item.sapo ? this.item.sapo : '';
        },
        code()  {
            return ['SPO', this.id].join('');
        },
        createdAt() {
            if( this.item && this.item.created_at) {
                let date = this.$moment(this.item.created_at);
                if( date.isValid() ) {
                    return date.format('YYYY/MM/DD');
                }
            }
            return ''
        },
        type() {
            return this.elem ? this.elem.type : 0;
        },
        resource() {
            return this.$store.state.resource.duration;
        },
        durationId() {
            return this.elem ? this.elem.duration_id : 0;
        },
        duration() {
            return !this.resource || this.resource.find( r => r.id === this.durationId);
        },
        durationTime() {
            return this.duration ? this.duration.time : null;
        },
        durationTimeDay() {
            return this.durationTime ? Math.round(this.durationTime * 30) + 5 : 0;
        },
        durationName() {
            return this.duration ? this.duration.name : null;
        },
        adjustTime() {
          return this.elem && this.elem.object_bid_adjust_time ? this.elem.object_bid_adjust_time : null;
        },
        adjustTimeId() {
            return this.adjustTime ? this.adjustTime.id : null;
        },
        adjustTimeBid() {
            return this.adjustTime && this.adjustTime.bid_id ? this.adjustTime.bid_id : null;
        },
        adjustTimeType() {
            return this.adjustTime ? this.adjustTime.type : null;
        },
        adjustTimeSendType() {
            return this.adjustTime ? this.adjustTime.send_type : null;
        },

        adjustTimeSenderId() {
            return this.adjustTime ?
            (
                this.adjustTimeSendType == 'client' && this.isClient  ?
                                this.adjustTime.send_id  :
                                this.adjustTime.receive_id
            )
            : null;
        },
        adjustTimeReceiveId() {
            return this.adjustTime ?
            (
                this.adjustTimeSendType == 'client' && this.isClient  ?
                                this.adjustTime.receive_id  :
                                this.adjustTime.send_id
            )
            : null;
        },
        adjustStartTime() {
            if( this.adjustTime && this.adjustTime.start_time ) {
                let date = this.$moment(this.adjustTime.start_time);
                if( date.isValid() ) {
                    return date.format('YYYY-MM-DD')
                }
            }
            return null;
        },
        adjustEndTime() {
             if( this.adjustTime && this.adjustTime.end_time ) {
                let date = this.$moment(this.adjustTime.end_time);
                if( date.isValid() ) {
                    return date.format('YYYY-MM-DD')
                }
            }
            return null;
        },

        adjustEndTimeLabel() {
            return this.adjustEndTime ? this.$moment( this.adjustEndTime ).fromNow() : ''
        },
    },

    methods: {
        onReview() {
            this.showForm = !this.showForm;
        },
        onAddReviewSuccess() {
            this.showForm = false;
        }
    }
}
</script>
<style>

</style>
