<template>
    <section class="group-completed-experts mb-hp">
        <div class="group-table-general mb-4">
            <div class="d-flex justify-content-between align-items-center mb-hp">
                <div class="title-32"> {{ isClient ? $t('review_complete_client_title') : $t('review_complete_expert_title')}} ({{ total }}) </div>
            </div>
            <div style="overflow-x:auto;">
                <table class="table" v-loading="loading">
                    <thead>
                        <tr class="list-item">
                            <th class="w-35 title-head">{{ isClient ? $t('Client') : $t('expert') }}</th>
                            <th class="title-head text-center">{{ $t('endDate') }}</th>
                            <th class="title-head text-center">{{ isClient ? $t('ClientCost') : $t('ExpertCost') }}</th>
                            <th class="title-head text-center">{{ $t('Recontract') }}</th>
                            <th class="title-head text-center">{{ $t('Invoice') }}</th>
                            <th class="title-head text-center">{{ $t('message') }}</th>
                        </tr>
                    </thead>
                    <TabElementRow v-for="(elem, p) in items" :key="`project-progress---${p}`" :elem.sync="elem" />
                    
                    <tbody v-if="items.length <= 0">
                        <tr>
                            <td colspan="6" class="text-center c--color-white">{{$t('webNoData')}}</td>
                        </tr>
                    </tbody>
                </table>
                <el-pagination class="pagination d-flex align-items-center margin-bottom-40" v-if="totalRow > pageSize"
                    background
                    layout="prev, pager, next"
                    :page-size="pageSize"
                    :current-page="currentPage"
                    :total="totalRow"
                    @current-change="goToPage">
                </el-pagination>
            </div>
        </div>
    </section>
</template>
<script>

export default {
    name: 'DashboardTabFiveReviewCompleteList',
    props:{
        elem:{
            type: Object,
            default: null
        }
    },
    components:{
        TabElementRow: () => import('~/components/dashboard/share/tab-5-finish-element-row'),
    },
    data() {
        return {
            response: null,
            page: 1,
            pageSize: 3,
            loading: false
        }
    },
    computed:{
        meId() {
           return this.$store.getters.getUserId;
        },
        company() {
            return this.$store.getters.getCompany;
        },
        companyId() {
            return _.has(this.company, 'company_id') ? this.company.company_id : 0;
        },
        isClient() {
            return this.companyId;
        },
        items() {
            return this.response && this.response.data ? this.response.data : []
        },
        total() {
            return this.response && this.response.total ? this.response.total : 0
        },
        totalRow() {
            return this.response && this.response.totalRow ? this.response.totalRow : 0
        },
        currentPage() {
            return this.page
        },
        params() {
            return {
                company_id: this.companyId,
                pageIndex: this.currentPage,
                pageSize: this.pageSize
            }
        }
    },
    mounted() {
        this.projectFinished();
    },
    methods:{
        projectFinished() {
            this.loading = true;
            this.$store.dispatch('dashboard/projectFinished', this.params)
            .then( (res) => {
                if( res.success ) {
                    this.response = res.data;
                }
            })
            .catch( () => {

            })
            .finally( () => {
                this.loading = false
            })
        },
        goToProjectPage(p) {
            this.page = p;
            this.projectFinished();
        },
    }
}
</script>
<style>
.c--color-white{
    color:white;
}
</style>
