<template>
    <section class="group-incomplete-expert-review  mb-hp" v-if="totalRow">
        <div class="group-table-general">
            <div class="d-flex justify-content-between align-items-center mb-hp">
                <div class="title-32">{{ isClient ? $t('expertIncompleteReview') : $t('clientIncompleteReview') }} ({{ totalRow }}) </div>
            </div>
            <div>
                <table class="table">
                    <thead>
                        <tr class="list-item">
                            <th class="w-35 title-head">{{ isClient ? $t('dashboardExpert') : $t('dashboardClient') }}</th>
                            <th class="title-head text-center">{{ $t('user') }}</th>
                            <th class="title-head text-center">{{ $t('payDay') }}</th>
                            <th class="title-head text-center color-red">{{ $t('elapsedDays') }}</th>
                            <th class="title-head text-center">{{ $t('action') }}</th>
                        </tr>
                    </thead>
                    <TabElementRow v-for="(item,i) in items" :key="`element-item-${i}`" :elem="item" @onAddReviewSuccess="onAddReviewSuccess($event, item, i)"/>
                    
                </table>
                <el-pagination class="pagination d-flex align-items-center margin-bottom-40" v-if="payments && payments.totalRow > pageSize"
                    background
                    layout="prev, pager, next"
                    :page-size="pageSize"
                    :total="projects.totalRow"
                    :current-page="projects.current_page"
                    @current-change="goToPage">
                </el-pagination>
            </div>
        </div>
    </section>
</template>
<script>
import eventBus from '~/services/bus';
export default {
    name: 'DashboardTabFiveList',
    components: {
        TabElementRow: () => import('~/components/dashboard/share/tab-5-element-row')
    },
    props:{
         projects:{
            type: Object,
            default: null
        },
        pageSize:{
            type: Number,
            default: 1
        },
    },
    
    computed:{
        meId() {
           return this.$store.getters.getUserId;
        },
        company() {
            return this.$store.getters.getCompany;
        },
        companyId() {
            return _.has(this.company, 'company_id') ? this.company.company_id : 0;
        },
        isClient() {
            return this.companyId;
        },
        totalRow() {
            return this.projects && this.projects.totalRow ? this.projects.totalRow : 0
        },
        total() {
            return this.projects && this.projects.total ? this.projects.total : 0
        },
        currentPage() {
            return this.projects && this.projects.current_page ? this.projects.current_page : 0
        },
        items() {
            return this.projects && this.projects.data ? this.projects.data : []
        },
    },
    methods: {
        onAddReviewSuccess( obj , item, i) {

        },
        goToPaymentPage(p) {
            if( p < 1 ) { p = 1; }
            eventBus.$emit('onLoadProjectPage', p)
        }
    }
}
</script>
