<template>
    <section class="group-expert-review group-rate-expert mb-hp">
        <div class="panel-head mb-hp">
            <div class="title-32">{{ isClient ? $t('dashboardExpertReviewRatingTitle') : $t('dashboardClientReviewRatingTitle') }}</div>
            <div class="intro text-white">{{ isClient ? $t('dashboardExpertReviewRatingNote') : $t('dashboardClientReviewRatingNote')  }}</div>
        </div>
        <div class="panel-body">
            <div class="row">
                <div class="col-md-6 col-12 mb-md-4 mb-3 pb-md-4" v-for="(con, c) in conditions" :key="`conditions-elem-${c}`">
                    <div class="item-rate-expert">
                        <div class="title">{{ $t(con.content) }}</div>
                        <div class="intro">{{ $t(con.sapo) }}</div>
                        <star-rating @rating-selected ="setRating($event, con)" class="list-star" :star-size="27" active-color="#77d353"/>
                        <!--<div class="list-star">
                            <i class="fas fa-star color-lightgrey"></i>
                            <i class="fas fa-star color-lightgrey"></i>
                            <i class="fas fa-star color-lightgrey"></i>
                            <i class="fas fa-star color-lightgrey"></i>
                            <i class="fas fa-star color-lightgrey"></i>
                        </div> -->
                    </div>
                </div>
            </div>
        </div>
        <div class="panel-head">
            <div class="title-32">{{ $t('additionalNotes') }}</div>
        </div> 
        <div class="panel-body">
            <div class="box-notes">
                <textarea cols="30" rows="8" :placeholder="$t('additionalNotesPlaceHolder')" v-model="note" class="w-100 p-3 border-radius-10"></textarea> 
                <div class="btn-send-review">
                    <button :disabled="disabled" v-loading="loading" @click="save" class="btn-send">{{ $t('btnSendReview') }}</button>
                </div>
            </div>
        </div>
    </section>
</template>
<script>
import StarRating from 'vue-star-rating';
import _ from 'lodash';
import eventBus from '~/services/bus';
export default {
    name: 'TabFiveForm',
    props:{
        elem:{
            type: Object,
            default: null
        }
    },
    data() {
        return {
            note: '',
            rates:[],
            loading: false
        }
    },
    components:{
        StarRating
    },
    
    computed: {
        meId() {
           return this.$store.getters.getUserId;
        },
        company() {
            return this.$store.getters.getCompany;
        },
        companyId() {
            return _.has(this.company, 'company_id') ? this.company.company_id : 0;
        },
        isClient() {
            return this.companyId;
        },
        allConditions() {
            return this.$store.state.resource.reviewConditions.items
        },
        conditions() {
            return this.allConditions && this.allConditions.items ? ( this.isClient ? this.allConditions.client : this.allConditions.expert ) : []; 
        },
        item() {
            return this.elem ? this.elem : null
        },
        itemId() {
            return this.item ? this.item.id : 0
        },
        itemMemberId() {
            return this.item && this.item.member_id ? this.item.member_id : 0
        },
        itemCompanyId() {
            return this.item && this.item.company_id ? this.item.company_id : 0
        },
        form() {
            return {
                type: this.isClient ? 'expert' : 'client',
                user_id: this.isClient ? this.itemMemberId: this.meId,
                company_id: this.isClient ? this.companyId : this.itemCompanyId,
                bid: this.itemId,
                note: this.note,
                rates: this.rates,
            }
        },
        disabled() {
            if( !this.itemId ){ return true; }
            if( this.loading ){ return true; }
            if( !this.note ){ return true; }
            let st = false;
            this.rates.forEach( ( rate ) => {
                if( rate.rating <= 0 ) {
                    st = true;
                    return;
                }
            });
            return false ;
        }
    },
    mounted() {
        this.$store.dispatch('resource/getReviewCondition').then( () => {
            this.setRates();
        })
    },
    methods:{
        save() {
            if( this.disabled ) {
                return ;
            }

            this.$store.dispatch('rating/addReview', this.form)
            .then( (response) => {
                if( response.success) {
                    this.showNotification( this.$t('Success'), this.$t('AddReviewSuccess'), 'success' );
                    this.$emit('onAddReviewSuccess', { elem: this.elem, form: this.form });
                    eventBus.$emit('onReloadProjectPage');
                }
                else {
                    this.showNotification( this.$t('Error'), response.message, 'error' );
                }
            } )
            .catch( (err) => {
                this.showNotification( this.$t('Error'), err.message, 'error' );
            } );
        },
        setRates() {
            if( this.conditions ) {
                let me = this;
                this.conditions.forEach( ( con ) => {
                    me.rates.push({
                        review_condition_id: con.id,
                        rating: 0
                    });
                } )
            }
        },
        setRating(rating, con) {
            let index = _.findIndex( this.rates, (ind) => {
                return ind.review_condition_id == con.id;
            } )
            if( index < 0 ) {
                this.rates.push({
                    review_condition_id: con.id,
                    rating: rating
                })
            }
            else{
                this.rates[index].rating = rating;
            }
        }
    }
}
</script>