<template>
    <tr class="list-item">
        <td class="w-35 title-head" v-if="elem">
            <div class="group-item">
                <div class="d-flex align-items-center">
                    <div class="img-thumb">
                        <nuxt-link :to="path_project" class="text" target="_blank">
                            <el-avatar :src="avatar" :alt="title" />
                        </nuxt-link>
                    </div>
                    <div class="info">
                        <div class="title up">
                            <nuxt-link :to="path_project" class="text" target="_blank">
                                {{ title }}
                            </nuxt-link>
                        </div>
                        <div class="title">
                            <div class="d-flex align-items-center">
                                <div class="month pr-5">{{ code }}: {{ durationName }}</div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </td>
        <td class="title-head text-center" v-if="elem" :class="{'': isBetween, 'wait-payment color-red': isPass}">
            <span v-html="statusLabel"></span>
        </td>
        <td class="title-head text-center" v-if="elem">{{ adjustStartTime }}</td>
        <td class="title-head text-center" v-if="elem">
            <a href="javascript:;" @click="showDialogPicker" class="text-link b-radius-10"
                :class="{'bg-fwhite': isWaiting, 'bg-white': !isWaiting && isAccept, 'bg-red': (!isWaiting && !isAccept)}"
            >
                <span>{{ adjustLabel }}</span>
                <el-date-picker
                    class="dash-board-tab4 d-flex justify-content-center"
                    ref="date"
                    v-model="modifyTime"
                    type="date"
                    placeholder=""
                    @blur="hideDialogPicker"
                    :picker-options="pickerOptions">
                </el-date-picker>

            </a>
        </td>
        <td class="title-head text-center" v-if="elem">
            <a href="javascript:;" class="btn text-link b-radius-10"
                :class="{'bg-waiting': isWaiting, 'bg-green': !isWaiting && isAccept, ' bg-white': (!isWaiting && !isAccept)}"
                @click="onAdjustTimeAction">
                {{ isWaiting ? $t('dashboardProjectWaiting') : (isAccept ? $t('dashboardProjectAccept') : $t('dashboardProjectSend') ) }}
            </a>
        </td>

        <td class="title-head text-center" v-if="elem">
            <a @click="onGetDiscussion" class="btn-chat" href="javascript:;"><i class="far fa-envelope"></i></a>
        </td>
    </tr>
</template>
<script>
import eventBus from '~/services/bus';
export default {
    name: 'DashboardTabFourRow',
    props:{
        elem:{
            type: Object,
            default: null
        }
    },
    data() {
        return {
            showPicker: false,
            modifyTime: null,
            baseAdjustTime: null,
            discussion: null,

        }
    },

    computed:{
        meId() {
           return this.$store.getters.getUserId;
        },
        company() {
            return this.$store.getters.getCompany;
        },
        companyId() {
            return _.has(this.company, 'company_id') ? this.company.company_id : 0;
        },
        isClient() {
            return this.companyId;
        },
        id() {
            return this.elem ? this.elem.id : ''
        },
        item() {
            return this.elem ? (this.elem.project || (this.isClient ? this.elem.profile : this.elem.company) ): null;
        },
        avatar() {
          const {bid_profile} = this.elem
          if (bid_profile) {
            return bid_profile.avatar
          }
        },
        title() {
            if(this.elem.type_bid == 1) {
               return this.elem.project.title
            } else {
                return this.isClient ? ([this.elem.profile.first_name , this.elem.profile.last_name].join(' ')) : this.elem.company.title
            }
        },
        path_project() {
            if(this.elem.type_bid == 1) {
                return this.localePath({ name: 'project-detail-id', params: {id: this.elem.project.id}})
            } else {
                return this.localePath({ name: 'expert-p-id', params: {id: this.elem.profile.id}})
            }
            return this.item ? (this.item.avatar || this.item.image) : ''
        },
        // title() {
        //   return this.item
        //       ? (!this.isClient ? this.item.title : ([this.item.first_name, this.item.last_name].join(' ')))
        //       : ''
        // },
        code()  {
            return ['SPO', this.id].join('');
        },
        createdAt() {
            if( this.item && this.item.created_at) {
                let date = this.$moment(this.item.created_at);
                if( date.isValid() ) {
                    return date.format('YYYY/MM/DD');
                }
            }
            return ''
        },
        type() {
            return this.elem ? this.elem.type : 0;
        },
        resource() {
            return this.$store.state.resource.duration;
        },
        durationId() {
            return this.elem ? this.elem.duration_id : 0;
        },
        duration() {
            return !this.resource || this.resource.find( r => r.id === this.durationId);
        },
        durationTime() {
            return this.duration ? this.duration.time : null;
        },
        durationTimeDay() {
            return this.durationTime ? Math.round(this.durationTime * 30) + 5 : 0;
        },
        durationName() {
            return this.duration ? this.duration.name : null;
        },
        adjustTime() {
          return this.elem && this.elem.object_bid_adjust_time ? this.elem.object_bid_adjust_time : null;
        },

        adjustTimeExtension() {
          return this.elem && this.elem.object_bid_extension ? this.elem.object_bid_extension : null;
        },

        adjustTimeId() {
            return this.adjustTime ? this.adjustTime.id : null;
        },
        adjustTimeExtensionId() {
            return this.adjustTimeExtension ? this.adjustTimeExtension.id : 0;
        },
        adjustTimeBid() {
            return this.adjustTime && this.adjustTime.bid_id ? this.adjustTime.bid_id : null;
        },
        adjustTimeExtensionBid() {
            return this.adjustTimeExtension && this.adjustTimeExtension.bid_id ? this.adjustTimeExtension.bid_id : 0;
        },
        adjustTimeType() {
            return this.adjustTime ? this.adjustTime.type : null;
        },
        adjustTimeExtensionType() {
            return this.adjustTimeExtension ? this.adjustTimeExtension.type : null;
        },
        adjustTimeSendType() {
            return this.adjustTime ? this.adjustTime.send_type : null;
        },
        adjustTimeExtensionSendType() {
            return this.adjustTimeExtension ? this.adjustTimeExtension.send_type : null;
        },
        adjustTimeSenderId() {
            return this.adjustTime ?
            (
                this.adjustTimeSendType == 'client' && this.isClient  ?
                                this.adjustTime.send_id  :
                                this.adjustTime.receive_id
            )
            : null;
        },
        adjustTimeExtensionSenderId() {
            return this.adjustTimeExtension ?
            (
                this.adjustTimeExtensionSendType == 'client' && this.isClient  ?
                                this.adjustTimeExtension.send_id  :
                                this.adjustTimeExtension.receive_id
            )
            : null;
        },
        adjustTimeReceiveId() {
            return this.adjustTime ?
            (
                this.adjustTimeSendType == 'client' && this.isClient  ?
                                this.adjustTime.receive_id  :
                                this.adjustTime.send_id
            )
            : null;
        },
        adjustTimeExtensionReceiveId() {
            return this.adjustTimeExtension ?
            (
                this.adjustTimeExtensionSendType == 'client' && this.isClient  ?
                                this.adjustTimeExtension.receive_id  :
                                this.adjustTimeExtension.send_id
            )
            : null;
        },
        adjustStartTime() {
            if( this.adjustTime && this.adjustTime.start_time ) {
                let date = this.$moment(this.adjustTime.start_time);
                if( date.isValid() ) {
                    return this.formatDate(date)
                }
            }
            return null;
        },

        adjustEndTime() {
            if( this.adjustTime && this.adjustTime.end_time ) {
                let date = this.$moment(this.adjustTime.end_time);
                if( date.isValid() ) {
                    return date.format('YYYY-MM-DD')
                }
            }
            return null;
        },
        adjustTimeExtensionEndTime() {
            if( this.adjustTimeExtension && this.adjustTimeExtension.end_time ) {
                let date = this.$moment(this.adjustTimeExtension.end_time);
                if( date.isValid() ) {
                    return date.format('YYYY-MM-DD')
                }
            }
            return null;
        },
        adjustTimeExtensionTimeEnd() {
            if( this.modifyTime ) {
                let date = this.$moment(this.modifyTime);
                if( date.isValid() ) {
                    return date.format('YYYY-MM-DD')
                }
            }
            return null;
        },
        currentSendType() {
            return this.isClient ? 'client' : 'expert'
        },
        adjustTimeEnd() {
            let date = this.$moment( this.modifyTime ,'YYYY-MM-DD');
            if( date.isValid() ) {
                return date.format('YYYY-MM-DD');
            }
            return null;
        },

        isAccept() {
            return this.adjustTimeExtensionEndTime && this.adjustTimeExtensionEndTime  == this.adjustTimeExtensionTimeEnd
                && this.adjustTimeExtensionSendType !== this.currentSendType;
        },
        adjustLabel() {
            if( this.adjustTimeExtensionTimeEnd ) {
                let date = this.$moment( this.adjustTimeExtensionTimeEnd);
                if( date.isValid() ) {
                    return date.format('YYYY-MM-DD');
                }
            }
            return this.$t('dashboardProjectAdjust');
        },
        isWaiting() {
            return this.adjustTimeExtensionEndTime
                && this.adjustTimeExtensionSendType === this.currentSendType;
        },
        isFuture() {
            return this.$moment().isBefore( this.adjustStartTime );
        },
        isPass() {
            return this.$moment().isAfter( this.adjustEndTime );
        },
        isBetween() {
            return this.$moment().isBetween( this.adjustStartTime , this.adjustEndTime);
        },
        diffStart() {
            let date = this.$moment(this.adjustStartTime);
            if( date.isValid() ) {
                return this.$moment().diff(date, 'days');
            }
            return 0;
        },
        diff() {
            let date = this.$moment(this.adjustEndTime);
            if( date.isValid() ) {
                return Math.abs( this.$moment().diff(date, 'days') );
            }
            return 0;
        },
        statusLabel() {
            if( this.isBetween ) {
                return ['<div>',this.$t('dashboardDayBetween', { num: this.diff} ),'</div>','<div class="sub">（',this.$t('dashboardDayBetweenWorking'),'）</div>'].join('');
            }
            if( this.isPass ) {
                return ['<div>', this.$t('dashboardDayPass',{ num: this.diff}), '</div>','<div class="sub">（' , this.$t('dashboardWaitingPayment'),  '）</div>'].join('');
            }
            if( this.isFuture) {
                return this.$t('dashboardDayFuture');
            }
            return '';
        },
        pickerOptions() {
            let me = this;
            return {
                disabledDate(time) {
                    return me.diffStart && me.diffStart < 0 ?
                        ( me.$moment(time).format('YYYY-MM-DD') < me.$moment().format('YYYY-MM-DD')) :
                        ( me.$moment(time).format('YYYY-MM-DD') < me.$moment(me.adjustStartTime).format('YYYY-MM-DD') )
                }
            }
        }
    },
    mounted() {
        if( this.adjustTimeExtensionEndTime ) {
            try{
                let date = this.$moment(this.adjustTimeExtensionEndTime);
                if( date.isValid() ) {
                    this.modifyTime = date.format('YYYY-MM-DD');
                }

            }catch(e){}
        }
    },
    methods: {
        onAdjustTimeAction() {
            if( !this.isPass && this.adjustTimeExtensionStatus == 1 ) {
                this.$confirm(this.$t('dashboardOnlyAdjustTimeWhenFinish'), this.$t('Info'), {
                    confirmButtonText: 'OK',
                    showConfirmButton: false,
                    showCancelButton: false,
                    type: 'info',
                });

                return;
            }

            let status = this.isAccept ? 1: 0;

            let params = {
                company_id: this.companyId,
                id: this.adjustTimeExtensionId,
                bid_id: this.adjustTimeBid,
                start_time: this.adjustStartTime,
                receive_id: this.adjustTimeReceiveId,
                send_id: this.adjustTimeSenderId,
                send_type: this.currentSendType,
                end_time: this.adjustTimeExtensionTimeEnd,
                status: status,
                parent_id: this.adjustTimeId,
                type: this.adjustTimeType,
            };

            this.$store.dispatch('dashboard/updateExtensionAdjustTime', params)
            .then( (res) => {
                eventBus.$emit('onReloadProjectPage');

            });
        },
        onGetDiscussion() {
            let project = this.elem.project || null;
            let profile = this.elem.profile || null;
            if( !project && ! profile){ return; }
            let arr = [{
                id: this.isClient ? (project ? this.elem.member_id : this.elem.member_receive_id) : ( project ? project.company_id : this.elem.company_id),
                type: this.isClient ? 1 : 2
            },{
                id: this.isClient ? this.companyId : this.meId,
                type: this.isClient ? 2 : 1
            }];
            arr = _.uniqBy(arr, 'id');
            arr = _.sortBy(arr,(o)=> o.type).reverse();

            if( ! this.discussion ) {
                this.$store.dispatch('messenger/getConversation', arr)
                .then( ( res ) => {
                    if( res.success ) {
                        this.discussion = res.data;
                        if( this.discussion && this.discussion.id) {
                            this.$router.push( this.localePath({ name: 'messenger', query: { discussionId: this.discussion.id} }) );
                        }
                    }
                    else {
                        this.showNotification( this.$t('Error'), this.$t(res.type), 'error');
                        return false;
                    }
                } )
                .catch( ( e ) => {
                    this.showNotification( this.$t('Error'), this.$t(e.type), 'error');
                    return false;
                } );
            }
            if( this.discussion && this.discussion.id) {
                this.$router.push( this.localePath({ name: 'messenger', query: { discussionId: this.discussion.id} }) );
            }
        },
        showDialogPicker() {
            if( !this.isPass && this.adjustTimeExtensionStatus == 1 ) {
                this.$confirm(this.$t('dashboardOnlyAdjustTimeWhenFinish'), this.$t('Info'), {
                    confirmButtonText: 'OK',
                    showConfirmButton: false,
                    showCancelButton: false,
                    type: 'info',
                });

                return;
            }
            this.showPicker = true;
            this.$nextTick( () => {
                this.$refs.date.showPicker();
            });

        },
        hideDialogPicker() {
            if( this.showPicker ) {
                this.$refs.date.blur();
            }
            this.showPicker = false;
        },
        formatDate(value) {
          const date = new Date(value),
            month_plus = date.getMonth() + 1,
            month = month_plus > 9 ? month_plus : `0${month_plus}`,
            day = date.getDate() > 9 ? date.getDate() : `0${date.getDate()}`;
          return `${date.getFullYear()}/${month}/${day}`;
        },
    }
}
</script>
<style>
.dash-board-tab4{
    width: 1px !important;
    overflow: hidden;
}
.dash-board-tab4 .el-input__inner {
    display: none;
}
.c---relative{
    position: relative;
}
.bg-waiting {
    pointer-events: none;
    cursor: not-allowed;
    background-color: #bfbfbf;
    color: #fff;
}
.bg-fwhite{
    pointer-events: none;
    cursor: not-allowed;
    background-color: #fffefe;
    color: #d1d1d1 !important;
}
</style>
