<template>
    
<div class="box-intro">
    <div class="group-item">
        <div class="img-thumb">
            <el-avatar :src="item.from && item.from.avatar ? item.from.avatar : ''" />
        </div>
        <div class="info">
            <div class="group-up">
                <div class="name-client">{{ item.from && item.from.name ? item.from.name : ''}}</div>
                <div class="img-flag">
                    <el-image v-if="flag" size="small" shape="square" :src="flag" />
                </div>
            </div>
            <!--<div class="datetime-bid">April 25, 2019-1 month (Bid Price: ¥150,000)</div>-->
            <div class="datetime-bid">{{ updatedAt }}-{{ durationName }} ({{$t('BidPrice')}}: {{ priceString }})</div>
        </div>
    </div>
    <div class="group-btn-translate" v-if="noteSrc && noteSrc != currentLang && !translateContent ">
        <a href="javascript:;" @click="translate" v-loading="loading" :title="$t('ReadInLanguage')" class="btn-translate">{{ $t('ReadInLanguage') }}</a>
    </div>
    <div class="description">
        {{ noteShow }}
    </div>
</div>
           
</template>
<script>

export default {
    name: 'DashboardTabFiveReviewListItem',
    props:{
        elem:{
            type: Object,
            default: null
        }
    },
    
    computed:{
        meId() {
           return this.$store.getters.getUserId;
        },
        company() {
            return this.$store.getters.getCompany;
        },
        companyId() {
            return _.has(this.company, 'company_id') ? this.company.company_id : 0;
        },
        isClient() {
            return this.companyId;
        },
        currentLang() {
            return this.$store.getters.getLocale
        },
        nations() {
            return this.$store.state.resource.nationClient
        },
        item() {
            return this.elem ? this.elem : null
        },
        from() {
            return this.item && this.item.from ? this.item.from : null
        },
        to() {
            return this.item && this.item.to ? this.item.to : null
        },
        objectBid() {
            return this.item && this.item.objectBid ? this.item.objectBid : null
        },
        updatedAt() {
            return this.$moment(this.item.updated_at).format('MMM DD, YYYY')
        },
        note() {
            return this.item && this.item.note ? this.item.note : ''
        },
        noteShow() {
            return this.translateContent || this.note
        },
        noteSrc() {
            return this.item && this.item.note_src ? this.item.note_src : null
        },
        fromNationId() {
            return this.from && this.from.nation_id ? this.from.nation_id : 0
        },
        flag() {
            let nationId = this.fromNationId;
            let index = _.findIndex( this.nations, (nation) => {
                return nation.id == nationId;
            });
            if( index >= 0 ) {
                return this.nations[index].image;
            }
            return null;
        },
        resource() {
            return this.$store.state.resource.duration;
        },
        durationId() {
            return this.objectBid ? this.objectBid.duration_id : 0;
        },
        duration() {
            return !this.resource || this.resource.find( r => r.id === this.durationId);
        },
        durationTime() {
            return this.duration ? this.duration.time : null;
        },
        durationTimeDay() {
            return this.durationTime ? Math.round(this.durationTime * 30) + 5 : 0;
        },
        durationName() {
            return this.duration ? this.duration.name : null;
        },
        currencyCode() {
            return this.objectBid && this.objectBid.currency_code ? this.objectBid.currency_code : '';
        },
        price() {
            return this.objectBid && this.objectBid.price ? parseFloat(this.objectBid.price) : null;
        },
        priceSign() {
            return this.getCurencySymbol( this.currencyCode);
        },
        priceFormat() {
            return this.price ? this.price.toLocaleString( this.currentLang , {minimumFractionDigits: 2, maximumFractionDigits: 2}) : null;
        },
        priceString() {
            return this.priceFormat ? 
                 ( this.currencyCode == 'VND' ? [this.priceFormat, this.priceSign].join('') : 
                 [this.priceSign, this.priceFormat].join('') )
                : null;
        },
    },
    data() {
        return {
            loading: false,
            translateContent: null
        }
    },
    methods: {
        
        translate() {
            if( this.translateContent){ return; }
            this.loading = true;
            this.$store.dispatch('resource/translate', {
                text: this.note,
                to: this.currentLang
            })
            .then( ( res ) => {
                if( res.success) {
                    this.translateContent = res.data;
                }
            } )
            .finally( () => {
                this.loading = false;
            })
        }
    }
}
</script>
