<template>
    <tr class="list-item">
        <td class="w-35 title-head" v-if="elem">
            <div class="group-item">
                <div class="d-flex align-items-center">
                    <div class="img-thumb">
                        <el-avatar :src="avatar" :alt="title" />
                    </div>
                    <div class="info">
                        <div class="title up">{{ title }}</div>
                        <div class="title">
                            <div class="d-flex align-items-center">
                                <div class="month color-green pr-5">{{ durationName }}({{ code }})</div>
                                <div class="day color-green">{{ createdAt }}</div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </td>
        <td class="title-head text-center color-red" v-if="elem">
            <span v-html="statusLabel"></span>
        </td>
        <td class="title-head text-center" v-if="elem">
            {{ priceString }}
            <span v-if="toUsd"><br>({{ getCurencySymbol('USD') }}{{ toUsd }})</span>
        </td>
        <td class="title-head text-center" v-if="elem">
            <PaymentButton v-if="isClient"
                :paymentTitle="$t('dashBoardPayment')"
                :amount="toUsd || price"
                :currency="getCurrency()"
                :monthPayment="id"
                :bidId="id" class="tab-42-payment"/>
            <a v-if="!isClient" @click="onPaymentApply(elem)" href="javascript:;" class="text-link reply bg-red border-red b-radius-10">
                <span>{{ $t('dashboardNotifiy') }}</span>
            </a>
        </td>

        <td class="title-head text-center" v-if="elem">
            <a v-if='isClient' @click="onGetBilling"><img src="~/assets/images/icon/download-alt.png" alt="" style="height: 30px" /></a>
            <a v-if="!isClient" @click="onGetDiscussion" class="btn-chat" href="javascript:;"><i class="far fa-envelope"></i></a>
        </td>
    </tr>
</template>
<script>
export default {
    name: 'DashboardTabFourTwoRow',
    props:{
        elem:{
            type: Object,
            default: null
        }
    },
    components:{
        PaymentButton: () => import('~/components/payment/StripePaymentButton'),
    },
    data() {
        return {
            discussion: null,
            toUsd: null
        }
    },

    computed:{
        currentLang() {
            return this.$store.getters.getLocale;
        },
        meId() {
           return this.$store.getters.getUserId;
        },
        company() {
            return this.$store.getters.getCompany;
        },
        companyId() {
            return _.has(this.company, 'company_id') ? this.company.company_id : 0;
        },
        isClient() {
            return this.companyId;
        },
        id() {
            return this.elem ? this.elem.id : ''
        },
        price() {
            return this.elem && this.elem.amount ? parseFloat(this.elem.amount) : null;
        },

        objectBids() {
            return this.elem && this.elem.object_bids ? this.elem.object_bids : null;
        },
        currencyCode() {
            return this.objectBids && this.objectBids.currency_code ? this.objectBids.currency_code : '';
        },
        priceSign() {
            return this.getCurencySymbol( this.currencyCode);
        },
        priceFormat() {
            return this.price ? this.price.toLocaleString( this.currentLang , {minimumFractionDigits: 2, maximumFractionDigits: 2}) : null;
        },
        priceString() {
            return this.priceFormat ?
                 ( this.currencyCode == 'VND' ? [this.priceFormat, this.priceSign].join('') :
                 [this.priceSign, this.priceFormat].join('') )
                : null;
        },

        elemCreatedAt() {
            return this.elem ? this.elem.created_at : '';
        },
        item() {
            return this.objectBids ? (this.objectBids.project || this.objectBids.profile) : null;
        },
        avatar() {
          const {bid_profile} = this.elem
          if (bid_profile) {
            return bid_profile.avatar
          }
        },
        type() {
            return this.objectBids ? this.objectBids.type : 0;
        },
        title() {
            return this.item ? (this.type == 1 ? [this.item.last_name, this.item.first_name].join(' ') : ( this.type == 2 ? this.item.title : '' ) ) : ''
        },

        code()  {
            return ['SPO', this.id].join('');
        },
        createdAt() {
            if( this.item && this.item.created_at) {
                let date = this.$moment(this.item.created_at);
                if( date.isValid() ) {
                    return date.format('YYYY/MM/DD');
                }
            }
            return ''
        },

        resource() {
            return this.$store.state.resource.duration;
        },
        durationId() {
            return this.item ? this.item.duration_id : 0;
        },
        duration() {
            return !this.resource || this.resource.find( r => r.id === this.durationId);
        },
        durationTime() {
            return this.duration ? this.duration.time : null;
        },
        durationTimeDay() {
            return this.durationTime ? Math.round(this.durationTime * 30) + 5 : 0;
        },
        durationName() {
            return this.duration ? this.duration.name : null;
        },

        statusLabel() {
            let date = this.$moment(this.elemCreatedAt);
            if( date.isValid() ) {
                let diff = Math.abs( this.$moment().diff( date ) );
                if( diff > 0) {
                    return [date.format('YYYY-MM-DD'), '<br>', '(',this.$t('dashboardPaymentExpire'), ')'].join('');
                }
                return date.format('YYYY-MM-DD');
            }
            return '';
        },
    },

    mounted() {
      this.convertVndToUsd();
      const self = this;
      window.Echo.private(`user-${this.meId}`)
        .listen('.SendPaymentNotify', res => {
          const mess = res.message;
          const message = self.$t(mess.key, {member_name: mess.params.member_name});
          self.showNotification('', message, 'warning');
        });
    },
    methods: {
        getCurrency() {
          if (this.currencyCode === 'VND') return 'USD';
          return this.currencyCode;
        },
        async convertVndToUsd() {
            if( this.currencyCode === 'VND' && this.price) {
                const res = await this.vndToUsd(this.price, 'VND', 'USD');
                this.toUsd = res.amount;
            }
        },
        async onPaymentApply(objBid) {
            if( this.isClient){ return; }
            let params = {bid: objBid.bid_id};
            this.$store.dispatch('dashboard/getManagerNotification', params)
            .then( ( res ) => {
                if( res.success) {
                    this.showNotification( this.$t('Success'), res.message,'success' );
                }
                else {
                    this.showNotification( this.$t('Error'), res.message,'error' );
                }
            } )
            .catch( ( error ) => {
                this.showNotification( this.$t('Error'), error.message,'error' );
            } );
        },
        async onGetBilling () {
            this.$confirm(this.$t('FeaturesAreUnderDevelopment'), this.$t('Info'), {
                confirmButtonText: 'OK',
                showConfirmButton: false,
                showCancelButton: false,
                type: 'info',
            })
        },
        onGetDiscussion() {
            if( !this.objectBids || (!this.objectBids.company_id && !this.objectBids.member_id) ){ return; }
            let arr = arr = [{
                id: this.isClient ? this.companyId : this.objectBids.company_id,
                type: 2
            },{
                id: this.isClient ? this.objectBids.member_receive_id : this.meId,
                type: 1
            }];

            if( ! this.discussion ) {
                this.$store.dispatch('messenger/getConversation', arr)
                .then( ( res ) => {
                    if( res.success ) {
                        this.discussion = res.data;
                    }
                    else {
                        this.showNotification( this.$t('Error'), this.$t(res.type), 'error');
                        return;
                    }
                } )
                .catch( ( e ) => {
                    this.showNotification( this.$t('Error'), this.$t(e.type), 'error');
                    return;
                } );
            }
            if( this.discussion && this.discussion.id) {
                this.$router.push( this.localePath({ name: 'messenger', query: { discussionId: this.discussion.id} }) );
            }
        }
    }
}
</script>
<style>
.dash-board-tab3{
    width: 1px !important;
    overflow: hidden;
}
.dash-board-tab3 .el-input__inner {
    display: none;
}
.c---relative{
    position: relative;
}
.bg-waiting {
    pointer-events: none;
    cursor: not-allowed;
    background-color: #bfbfbf;
    color: #fff;
}
.bg-fwhite{
    pointer-events: none;
    cursor: not-allowed;
    background-color: #fffefe;
    color: #d1d1d1 !important;
}
.tab-42-payment .reply{
    margin-top: 0 !important;
}
</style>
