<template>
<tbody v-if="elem">
    <tr class="list-item">
        <td class="w-35 title-head">
            <div class="group-item">
                <div class="d-flex align-items-center">
                    <div class="img-thumb">
                        <el-avatar :src="avatar" alt="" />
                    </div>
                    <div class="info">
                        <div class="title up color-blues" style="font-size: 16px">{{ title }}</div>
                        <div class="title ">
                            <div class="d-flex align-items-center">
                                <div class="month color-color " style="font-size: 16px">{{ code }}: {{durationName}}</div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </td>
        <td class="title-head">
            <div class="group-item">
                <div class="info">
                    <div class="title-head text-center"> {{ endDate }} </div>
                </div>
            </div>
        </td>
        <td class="title-head text-center">{{ amount }}</td>
        <td class="title-head text-center"> 
            <a href="javascript:;" class="title-head text-link">{{ $t('Resume') }}</a>
        </td>
        <td class="title-head text-center"> 
            <a href="javascript:;" title=""> 
                <img src="~/assets/images/icon/money-withdrawal.png" alt="" style="height: 30px" />
            </a>
        </td>

        <td class="title-head text-center"> 
            <a href="javascript:;" @click="onGetDiscussion" title=""> 
                <i class="far fa-envelope" style="font-size: 25px;"></i> 
            </a>
        </td>
    </tr>
</tbody>
</template>
<script>
import eventBus from '~/services/bus';
export default {
    name: 'DashboardTabFourRow',
    props:{
        elem:{
            type: Object,
            default: null
        }
    },
    data() {
        return {
            discussion: null,
        }
    },
    
    computed:{
        meId() {
           return this.$store.getters.getUserId;
        },
        company() {
            return this.$store.getters.getCompany;
        },
        companyId() {
            return _.has(this.company, 'company_id') ? this.company.company_id : 0;
        },
        isClient() {
            return this.companyId;
        },
        id() {
            return this.elem ? this.elem.id : ''
        },
        price() {
            return this.elem ? this.elem.price_end ||  this.elem.amount: ''
        },
        priceSign() {
            return this.elem ? (this.elem.currency_code || this.elem.amount_code) : null
        },
        priceSignSymbol() {
            return this. price && this.priceSign ? this.getCurencySymbol( this.priceSign) : ''
        },
        amount() {
            return this.priceSign == 'VND' ? [this.price, this.priceSignSymbol].join('') : [this.priceSignSymbol, this.price].join('')
        },
        item() {
            return this.elem ? (this.elem.project || (this.isClient ? this.elem.profile : this.elem.company) ): null;
        },
        avatar() {
            if(this.elem.type_bid == 1) {
                return this.elem.project.image
            } else {
                return this.elem.profile.avatar
            }
        },
        title() {
            if(this.elem.type_bid == 1) {
               return this.elem.project.title
            } else {
                return this.isClient ? ([this.elem.profile.first_name , this.elem.profile.last_name].join(' ')) : this.elem.company.title
            }
        },
        
        code()  {
            return ['SPO', this.id].join('');
        },
        createdAt() {
            if( this.item && this.item.created_at) {
                let date = this.$moment(this.item.created_at);
                if( date.isValid() ) {
                    return date.format('YYYY/MM/DD');
                }
            }
            return ''
        },
        type() {
            return this.elem ? this.elem.type : 0;
        },
        resource() {
            return this.$store.state.resource.duration;
        },
        durationId() {
            return this.elem ? this.elem.duration_id : 0;
        },
        duration() {
            return !this.resource || this.resource.find( r => r.id === this.durationId);
        },
        durationTime() {
            return this.duration ? this.duration.time : null;
        },
        durationTimeDay() {
            return this.durationTime ? Math.round(this.durationTime * 30) + 5 : 0;
        },
        durationName() {
            return this.duration ? this.duration.name : null;
        },
        adjustTime() {
          return this.elem && this.elem.object_bid_adjust_time ? this.elem.object_bid_adjust_time : null;
        },
        
        adjustTimeExtension() {
          return this.elem && this.elem.object_bid_extension ? this.elem.object_bid_extension : null;
        },
        
        adjustEndTime() {
            if( this.adjustTime && this.adjustTime.end_time ) {
                let date = this.$moment(this.adjustTime.end_time);
                if( date.isValid() ) {
                    return date.format('YYYY-MM-DD')
                }
            }
            return null;
        },
        adjustTimeExtensionEndTime() {
            if( this.adjustTimeExtension && this.adjustTimeExtension.end_time ) {
                let date = this.$moment(this.adjustTimeExtension.end_time);
                if( date.isValid() ) {
                    return date.format('YYYY-MM-DD')
                }
            }
            return null;
        },
        endDate() {
            if( this.adjustTimeExtensionEndTime ) {
                return this.$moment( this.adjustTimeExtensionEndTime ).format('MMMM Do');
            }
            else if( this.adjustEndTime ) {
                return this.$moment( this.adjustTimeExtensionEndTime ).format('MMMM Do');
            }
            return '';
        }
    },
    mounted() {
        
    },
    methods: {
        
        onGetDiscussion() {
            let project = this.elem.project || null;
            let profile = this.elem.profile || null;
            if( !project && ! profile){ return; }
            let arr = [{
                id: this.isClient ? (project ? this.elem.member_id : this.elem.member_receive_id) : ( project ? project.company_id : this.elem.company_id),
                type: this.isClient ? 1 : 2
            },{
                id: this.isClient ? this.companyId : this.meId,
                type: this.isClient ? 2 : 1
            }];
            arr = _.uniqBy(arr, 'id');
            arr = _.sortBy(arr,(o)=> o.type).reverse();
            
            if( ! this.discussion ) {
                this.$store.dispatch('messenger/getConversation', arr)
                .then( ( res ) => {
                    if( res.success ) {
                        this.discussion = res.data;
                        if( this.discussion && this.discussion.id) {
                            this.$router.push( this.localePath({ name: 'messenger', query: { discussionId: this.discussion.id} }) );
                        }
                    }
                    else {
                        this.showNotification( this.$t('Error'), this.$t(res.type), 'error');
                        return false;
                    }
                } )
                .catch( ( e ) => {
                    this.showNotification( this.$t('Error'), this.$t(e.type), 'error');
                    return false;
                } );
            }
            if( this.discussion && this.discussion.id) {
                this.$router.push( this.localePath({ name: 'messenger', query: { discussionId: this.discussion.id} }) );
            }
        },
    }
}
</script>
<style>
.dash-board-tab4{
    width: 1px !important;
    overflow: hidden;
}
.dash-board-tab4 .el-input__inner {
    display: none;
}
.c---relative{
    position: relative;
}
.bg-waiting {
    pointer-events: none;
    cursor: not-allowed;
    background-color: #bfbfbf;
    color: #fff;
}
.bg-fwhite{
    pointer-events: none;
    cursor: not-allowed;
    background-color: #fffefe;
    color: #d1d1d1 !important;
}
</style>
