<template>
    <section class="group-intro-client-review mb-hp" v-if="items && items.length > 0">
        <div class="row rule-bottom">
            <div class="col-md-6 pr-md-5" v-for="(item,i) in items" :key="`items-item-${i}`">
                <tabListItem :elem="item" />
            </div>
        </div>
        <el-pagination class="pagination d-flex align-items-center margin-bottom-40" v-if="total && total > pageSize"
            background
            layout="prev, pager, next"
            :page-size="perPage"
            :total="total"
            @current-change="goToPage">
        </el-pagination>
        
    </section>
</template>
<script>

export default {
    name: 'DashboardTabFiveReviewList',
    props:{
        elem:{
            type: Object,
            default: null
        }
    },
    components: {
        tabListItem: () => import('~/components/dashboard/share/tab-5-review-list-item')
    },
    data() {
        return {
            res: [],
            currentPage: 1,
            perPage: 2
        }
    },
    computed:{
        meId() {
           return this.$store.getters.getUserId;
        },
        company() {
            return this.$store.getters.getCompany;
        },
        companyId() {
            return _.has(this.company, 'company_id') ? this.company.company_id : 0;
        },
        isClient() {
            return this.companyId;
        },
        
        form() {
            return {
                type: this.isClient ? 'client': 'expert',
                objectId: this.isClient ? this.companyId : this.meId,
                page: this.currentPage,
                per_page: this.perPage
            }
        },
        items() {
            return this.res && this.res.items ? this.res.items : []
        },
        meta() {
            return this.res && this.res.meta ? this.res.meta : null
        },
        count() {
            return this.meta && this.meta.count ? this.meta.count : 0
        },
        total() {
            return this.meta && this.meta.total ? this.meta.total : 0
        },
        totalPage() {
            return this.meta && this.meta.total_pages ? this.meta.total_pages : 0
        }
    },
    mounted() {
        this.getReviewList();
    },
    methods: {
        getReviewList() {
            this.$store.dispatch('rating/getReviewList', this.form)
            .then( ( res ) => {
                if( res.success) {
                    this.res = res.data;
                }
            })
            .catch( (err) => {

            } );
        },
        goToPage(page) {
            this.currentPage = page;
            this.getReviewList();
        },
        
    }
}
</script>
<style>

</style>
