<template>
     <section class="group-general-client-review mb-hp">
        <div class="panel-head d-flex flex-wrap align-items-center">
            <div class="title-32">{{ isClient ? $t('GeneralClientReview') : $t('GeneralExpertReview') }} ({{ count }}) </div>
            <star-rating class="list-star" :star-size="32" v-bind:increment="0.1" v-bind:show-rating="false" :rating="avg" read-only active-color="#77d353"/>
        </div>
        <div class="panel-body">
            <div class="list-star-client-review row">
                <div class="item col-lg-4 col-md-6" v-for="(con,c) in conditionRating" :key="`conditionRating-item-${c}`">
                    <div class="name-review">{{ $t(con.content) }}</div>
                    <div class="group-star-review">
                        <star-rating class="list-star" v-bind:increment="0.1" v-bind:show-rating="false" :rating="con.avg" :star-size="25" read-only active-color="#77d353"/>
                    </div>
                </div>
            </div>
        </div>
    </section>
</template>
<script>
import StarRating from 'vue-star-rating';
import _ from 'lodash';
export default {
    name: 'ReviewSummary',
    components:{
        StarRating
    },
    data() {
        return {
            items:[]
        }
    },
    computed: {
        meId() {
           return this.$store.getters.getUserId;
        },
        company() {
            return this.$store.getters.getCompany;
        },
        companyId() {
            return _.has(this.company, 'company_id') ? this.company.company_id : 0;
        },
        isClient() {
            return this.companyId;
        },
        form() {
            return {
                type: this.isClient ? 'client': 'expert',
                objectId: this.isClient ? this.companyId : this.meId
            }
        },
        list() {
            return this.items && this.items.items ? this.items.items : []
        },
        count() {
            return this.items && this.items.count ? this.items.count : 0
        },
        allConditions() {
            return this.$store.state.resource.reviewConditions.items
        },
        conditions() {
            return this.allConditions && this.allConditions.items ? ( this.isClient ? this.allConditions.client : this.allConditions.expert ) : []; 
        },
        conditionRating() {
            return _.merge( _.clone( this.conditions), this.list);
        },
        avg() {
            let avg = 0;
            if( this.count ) {
                this.list.forEach( ( con ) => {
                    avg += con.avg;
                } );
            }
            return this.count ? avg/this.count : 0;
        }
    },
    mounted() {
        
        this.$store.dispatch('resource/getReviewCondition').then( (res) => {
            this.getSummary();
        });
    },
    methods: {
        getSummary() {
            this.$store.dispatch('rating/getReviewSummary', this.form)
            .then( ( res ) => {
                if( res.success ) {
                    this.items = res.data
                }
            } )
            .catch( () => {});
        }
    }
}
</script>