<template>
    <tr class="list-item">
        <td class="w-35 title-head" v-if="elem">
            <div class="group-item">
                <div class="d-flex align-items-center">
                    <div class="img-thumb">
                        <nuxt-link :to="path_expert" class="text" target="_blank"><el-avatar :src="avatar" :alt="title" /></nuxt-link>
                    </div>
                    <div class="info">
                        <div class="title up">
                            <nuxt-link :to="path_project" class="text" target="_blank">{{ title }}</nuxt-link>
                        </div>
                        <div class="title">
                            <div class="d-flex align-items-center">
                                <div class="month pr-5">{{ code }}: {{ durationName }}</div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </td>
        <td class="title-head text-center" v-if="elem">
            <span>{{ statusLabel }}</span>
        </td>
        <td class="title-head text-center" v-if="elem">
            <a href="javascript:;" @click="showDialogPicker" class="btn-updatetime b-radius-10"
                :class="{'action': isWaiting, 'bg-red': (!isWaiting && !isAccept)}">
                <span>{{ adjustLabel }}</span>
                <el-date-picker
                    class="dash-board-tab3 d-flex justify-content-center"
                    ref="date"
                    v-model="modifyTime"
                    type="date"
                    placeholder=""
                    @blur="hideDialogPicker"
                    :picker-options="pickerOptions">
                </el-date-picker>
            </a>
        </td>
        <td class="title-head text-center" v-if="elem">
            <a href="javascript:;" class="btn-action b-radius-10"
                :class="{'bg-waiting': isWaiting, 'action': !isWaiting && isAccept, 'bg-white': (!isWaiting && !isAccept && !hasUpdateTime), 'action': (hasUpdateTime)}"
                @click="onAdjustTimeAction">
                {{ isWaiting ? $t('dashboardProjectWaiting') : (isAccept ? $t('dashboardProjectAccept') : $t('dashboardProjectSend') ) }}
            </a>
        </td>
        <td class="title-head text-center" v-if="elem">
            <a @click="onGetDiscussion" class="btn-chat" href="javascript:;"><i class="far fa-envelope"></i></a>
        </td>
    </tr>
</template>
<script>
import eventBus from '~/services/bus';
export default {
    name: 'DashboardTabThreeRow',
    props:{
        elem:{
            type: Object,
            default: null
        }
    },
    data() {
        return {
            showPicker: false,
            modifyTime: null,
            baseAdjustTime: null,
            discussion: null,
            hasUpdateTime: false
        }
    },

    computed:{
        meId() {
           return this.$store.getters.getUserId;
        },
        company() {
            return this.$store.getters.getCompany;
        },
        companyId() {
            return _.has(this.company, 'company_id') ? this.company.company_id : 0;
        },
        isClient() {
            return this.companyId;
        },
        id() {
            return this.elem ? this.elem.id : ''
        },
        item() {
            return this.elem ? (this.elem.project || this.elem.company) : null;
        },
        avatar() {
            const {bid_profile, project} = this.elem
            if (this.isClient) {
                return bid_profile.avatar
            } else {
                return project.company.avatar
            }
        },
        title() {
            if(this.elem.type_bid == 1) {
               return this.elem.project.title
            } else {
                return this.isClient ? this.elem.profile.first_name + ' ' + this.elem.profile.last_name : this.elem.company.title
            }
        },
        path_project() {
            return this.localePath({ name: 'project-detail-id', params: {id: this.item.id}})
        },
        path_expert() {
            const {bid_profile, project} = this.elem
            if ( bid_profile && this.isClient ) {
                return this.localePath({ name: 'expert-p-id', params: {id: bid_profile.id}})
            } else {
                return this.localePath({ name: 'profile-client-id', params: {id: project.company.id}})
            }
        },
        code()  {
            return ['SPO', this.id].join('');
        },
        createdAt() {
            if( this.item && this.item.created_at) {
                let date = this.$moment(this.item.created_at);
                if( date.isValid() ) {
                    return date.format('YYYY/MM/DD');
                }
            }
            return ''
        },
        type() {
            return this.elem ? this.elem.type : 0;
        },
        resource() {
            return this.$store.state.resource.duration;
        },
        durationId() {
            return this.elem ? this.elem.duration_id : 0;
        },
        duration() {
            return !this.resource || this.resource.find( r => r.id === this.durationId);
        },
        durationTime() {
            return this.duration ? this.duration.time : null;
        },
        durationTimeDay() {
            return this.durationTime ? Math.round(this.durationTime * 30) + 5 : 0;
        },
        durationName() {
            return this.duration ? this.duration.name : null;
        },
        adjustTime() {
            //return this.elem && this.elem.object_bid_adjust_time ? this.elem.object_bid_adjust_time : null;
            return this.baseAdjustTime;
        },
        adjustTimeId() {
            return this.adjustTime ? this.adjustTime.id : null;
        },
        adjustTimeBid() {
            return this.adjustTime && this.adjustTime.bid_id ? this.adjustTime.bid_id : null;
        },
        adjustTimeType() {
            return this.adjustTime ? this.adjustTime.type : null;
        },
        adjustTimeSendType() {
            return this.adjustTime ? this.adjustTime.send_type : null;
        },

        adjustTimeSenderId() {
            return this.adjustTime ?
            (
                ( (this.adjustTimeSendType == 'client' && this.isClient)  || (this.adjustTimeSendType == 'expert' && !this.isClient) )  ?
                                this.adjustTime.send_id  :
                                this.adjustTime.receive_id
            )
            : null;
        },
        adjustTimeReceiveId() {
            return this.adjustTime ?
            (
                ( (this.adjustTimeSendType == 'client' && this.isClient) || ( this.adjustTimeSendType == 'expert' && !this.isClient ) ) ?
                                this.adjustTime.receive_id  :
                                this.adjustTime.send_id
            )
            : null;
        },
        adjustStartTime() {
            if( this.adjustTime && this.adjustTime.start_time ) {
                let date = this.$moment(this.adjustTime.start_time);
                if( date.isValid() ) {
                    return date.format('YYYY-MM-DD')
                }
            }
            return null;
        },
        adjustEndTime() {
             if( this.adjustTime && this.adjustTime.end_time ) {
                let date = this.$moment(this.adjustTime.end_time);
                if( date.isValid() ) {
                    return date.format('YYYY-MM-DD')
                }
            }
            return null;
        },
        currentSendType() {
            return this.isClient ? 'client' : 'expert'
        },
        isAccept() {
            return this.adjustStartTime && this.adjustStartTime  == this.adjustTimeStart
                && this.adjustTimeSendType !== this.currentSendType;
        },
        isWaiting() {
            return this.adjustStartTime
                && this.adjustTimeSendType === this.currentSendType;
        },
        adjustTimeStart() {
            let date = this.$moment( this.modifyTime ,'YYYY-MM-DD');
            //console.log('date', date)
            if( date.isValid() ) {
                return date.format('YYYY-MM-DD');
            }
            return null;
        },
        adjustTimeEnd() {
            let date = this.$moment( this.adjustTimeStart ,'YYYY-MM-DD').add('day', this.durationTimeDay);
            if( date.isValid() ) {
                return date.format('YYYY-MM-DD');
            }
            return null;
        },
        statusLabel() {
            if( this.isAccept ) {
                return this.$t('WatingToBeConfirmed');
            }
            return this.$t('WaitingToBeScheduled');
        },
        adjustLabel() {
            if( this.adjustTimeStart ) {
                let date = this.$moment( this.adjustTimeStart);
                if( date.isValid() ) {
                    return date.format('YYYY-MM-DD');
                }
            }
            return this.$t('dashboardProjectAdjust');
        },
        kclass() {
            let kc = 'bg-white';
            if( this.isWaiting ) {
                kc = 'bg-waiting';
            }
            else {
                kc=  this.isAccept ? 'bg-green' : 'bg-white';
            }
            return {name: kc};
        },
        pickerOptions() {
          let me = this;
          return {
            disabledDate(time) {
              return me.$moment(time).format('YYYY-MM-DD') < me.$moment().format('YYYY-MM-DD')
            }
          }
        }
    },

    mounted() {
        this.baseAdjustTime = this.elem.object_bid_adjust_time;
        if( this.adjustStartTime ) {
            try{
                let date = this.$moment(this.adjustStartTime);
                if( date.isValid() ) {
                    this.modifyTime = date.format('YYYY-MM-DD');
                }

            }catch(e){}
        }
    },
    methods: {
        onAdjustTimeAction() {
            let status = this.isAccept ? 1: 0;
            let params = {
                company_id: this.companyId,
                bid_id: this.adjustTimeBid,
                start_time: this.adjustTimeStart,
                receive_id: this.adjustTimeReceiveId,
                send_id: this.adjustTimeSenderId,
                send_type: this.currentSendType,
                end_time: this.adjustTimeEnd,
                status: status,
                id: this.adjustTimeId,
                type: this.adjustTimeType,
            };
            this.$store.dispatch('dashboard/updateAdjustTime', params)
            .then( () => {
                if( status == 1 ) {
                    this.$emit('onRemoveElement', this.id)
                    return;
                }
                let obj = _.clone(this.baseAdjustTime);
                obj.start_time = this.adjustTimeStart;
                obj.end_time = this.adjustTimeEnd;
                obj.send_type = this.currentSendType;
                obj.status = this.isAccept ? 1: 0;
                Object.assign(this.baseAdjustTime, obj);
                eventBus.$emit('onReloadProjectPage');
                this.hasUpdateTime = false;
            });
        },
        async onGetDiscussion() {
            let project = this.elem.project || null;
            let profile = this.elem.profile || null;
            if( !project && ! profile){ return; }
            let arr = [{
                id: this.isClient ? (project ? this.elem.member_id : this.elem.member_receive_id) : ( project ? project.company_id : this.elem.company_id),
                type: this.isClient ? 1 : 2
            },{
                id: this.isClient ? this.companyId : this.meId,
                type: this.isClient ? 2 : 1
            }];
            arr = _.uniqBy(arr, 'id');
            arr = _.sortBy(arr,(o)=> o.type).reverse();

            if( ! this.discussion ) {
                this.$store.dispatch('messenger/getConversation', arr)
                .then( ( res ) => {
                    if( res.success ) {
                        this.discussion = res.data;
                        if( this.discussion && this.discussion.id) {
                            this.$router.push( this.localePath({ name: 'messenger', query: { discussionId: this.discussion.id} }) );
                        }
                    }
                    else {
                        this.showNotification( this.$t('Error'), this.$t(res.type), 'error');
                        return false;
                    }
                } )
                .catch( ( e ) => {
                    this.showNotification( this.$t('Error'), this.$t(e.type), 'error');
                    return false;
                } );
            }
            if( this.discussion && this.discussion.id) {
                this.$router.push( this.localePath({ name: 'messenger', query: { discussionId: this.discussion.id} }) );
            }
        },
        showDialogPicker() {
            this.showPicker = true;
            this.$nextTick( () => {
                this.$refs.date.showPicker();
            });
        },
        hideDialogPicker() {
            if(this.adjustLabel !== this.adjustStartTime) {
                this.hasUpdateTime = true;
            }
        },
    }
}
</script>
<style lang="scss">
.dash-board-tab3{
    width: 1px !important;
    overflow: hidden;
}
.dash-board-tab3 .el-input__inner {
    display: none;
}
.c---relative{
    position: relative;
}
.btn-updatetime {
    background: #EF363A;
    color: #fff !important;
    font-weight: bold;
    padding: 5px 20px;
    display: inline-block;
    box-shadow: none;
    &.action {
        background: #D2D2D2;
        color: #707070 !important;
    }
}
.btn-action {
    background: #D2D2D2;
    color: #707070 !important;
    font-weight: bold;
    padding: 5px 20px;
    display: inline-block;
    box-shadow: none;
    &.bg-white {
        background-color: #fffefe;
        border-color: #fffefe;
        color: #d1d1d1 !important;
    }
    &.bg-waiting {
        background: #707070;
        color: #fff !important;
        pointer-events: none;
        cursor: not-allowed;
    }
    &.action {
        background: #77d353;
        color: #fff !important;
    }
}

</style>
