<template>
    <section class="body-hp pd-web">
        <div class="container">
            <div class="row">
                <div class="col-12" v-loading="loading">

                </div>
            </div>
        </div>
    </section>
</template>

<script>
    import { mapActions, mapGetters } from 'vuex'
    export default {
        name: 'verifyEmail',
        layout:'empty',
        data() {
            return {
                token: null,
                loading: false
            }
        },
        created() {
            this.token = this.$route.query.token;
        },
        computed:{
            ...mapGetters({
                'isLogined': 'loggedIn'
            }),
        },
        mounted() {
            
            this.verifyEmail();
        },
        methods: {
            ...mapActions({
                verifyUserEmail: 'verifyEmail'
            }),
            verifyEmail() {
                let me = this;
                //return;
                if( this.token != null && this.token.length > 0 )
                {
                    this.loading = true;
                    this.verifyUserEmail({ token: this.token })
                        .then( ( response ) => {
                            //me.showNotification( me.$t('verifyEmailSuccessTitle'), response.message ,'success' );
                            setTimeout( () => {
                                me.loading = false;
                                me.$router.push( this.isLogined ? me.localePath({name: 'expert'}) : me.localePath({name: 'index'}));
                            }, 500);

                        } )
                        .catch( ( error ) => {
                            me.showNotification( me.$t('verifyEmailErrorTitle'), error.message,'error' );
                            setTimeout( () => {
                                me.loading = false;
                                me.$router.push( this.isLogined ? me.localePath({name: 'expert'}) : me.localePath({name: 'index'}));
                            }, 500)

                        } );
                }
                else
                {
                    me.showNotification( me.$t('verifyEmailErrorTitle'), me.$t('verifyEmailErrorMessage'),'error' );
                    setTimeout( () => {
                        me.loading = false;
                        me.$router.push(me.localePath({name: 'index'}))
                    }, 500);

                }
            }
        }
    };
</script>

