<template>
  <div class="headerB-new" id="headerB-new">
    <div class="header-topbar-new">
      <div class="container">
        <div class="group-head-after-login">
          <div class="group-logo">
            <h1 class="logo-after-login">
              <a href="javascript:;" class="image d-block">
                <img src="~assets/images/image-newDesign/logo-afterLogin.png" alt="" class="">
              </a>
            </h1>
            <div class="btn-beta">beta</div>
          </div>
          <div class="group-menu-afterLogin">
            <div class="box-menu-afterLogin">
              <div class="btn-call-projects">
                <a href="JavaScript:void(0);" class="link-call-projects">プロジェクトを募集</a>
              </div>
              <div class="group-list-menu-afterLogin">
                <ul class="list-menu-afterLogin">
                  <li>
                    <a href="JavaScript:void(0);" class="link-menu-afterLogin">
                      <img src="~assets/images/image-newDesign/icon-menu-new/customer-service-2-line.svg" alt="">
                    </a>
                  </li>
                  <li>
                    <a href="JavaScript:void(0);" class="link-menu-afterLogin">
                      <img src="~assets/images/image-newDesign/icon-menu-new/history-menu.svg" alt="">
                    </a>
                  </li>
                  <li>
                    <a href="JavaScript:void(0);" class="link-menu-afterLogin">
                      <img src="~assets/images/image-newDesign/icon-menu-new/heart-menu.svg" alt="">
                    </a>
                  </li>
                  <li>
                    <a href="JavaScript:void(0);" class="link-menu-afterLogin">
                      <img src="~assets/images/image-newDesign/icon-menu-new/sms.svg" alt="">
                    </a>
                  </li>
                  <li>
                    <a href="JavaScript:void(0);" class="link-menu-afterLogin">
                      <img src="~assets/images/image-newDesign/icon-menu-new/notification.svg" alt="">
                    </a>
                  </li>
                </ul>
                <div class="group-avatar-afterLogin">
                  <a class="avatar-afterLogin">
                    <img src="~assets/images/image-newDesign/experts-new-2.png" alt="">
                  </a>
                </div>
              </div>
            </div>
          </div> 
        </div>
      </div>
    </div>
  </div>
</template>

<script>
export default {
  data() {
    return {

    }
  },
};
</script>

<style>
.header-topbar-new{
  border-bottom: 1px solid #D2D2D2;
  padding-top: 11px;
  padding-bottom: 11px;
}
.group-menu-afterLogin{
  height: 45px;
  line-height: 45px;
}
.list-menu-afterLogin{
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  border-left: 1px solid #d2d2d2;
  margin-left: 33px;
}
.list-menu-afterLogin >li{
  padding-left: 30px;
}
.link-menu-afterLogin{
  display: block;
  padding: 0 10px;
}
.group-head-after-login{
  display: flex;
  justify-content: space-between;
}
.group-head-after-login .group-logo{
  display: flex;
  align-items: center;
  height: 45px;
  line-height: 45px;
}
.btn-beta{
  display: block;
  text-transform: uppercase;
  font-size: 7px;
  font-weight: bold;
  background: #00B4DB;
  color: #ffffff;
  padding: 0px 6px;
  border-radius: 5px;
  height: 17px;
  line-height: 17px;
  min-width: 30px;
  text-align: center;
}
.logo-after-login{
  margin-bottom: 0;
}
.box-menu-afterLogin{
  display: flex;
  align-items: center;
}
.link-call-projects{
  display: block;
  padding: 0 10px;
  height: 25px;
  line-height: 25px;
  min-width: 100px;
  background: #F87702;
  color: #ffffff;
  font-size: 9px;
  font-weight: bold;
  border-radius: 5px;
  text-align: center;
}
.group-list-menu-afterLogin{
  display: flex;
  flex-wrap: wrap;
  align-items: center
}
.group-avatar-afterLogin{
  padding-left: 40px;
}
.avatar-afterLogin{
  display: block;
}
.avatar-afterLogin >img{
  height: 36px;
  width: 36px;
  border-radius: 50%;
}
.list-topic-menu{
  display: flex;
  align-items: center;
}
.item-topic-menu:not(:last-child){
  margin-right: 15px;
}
.link-topic-menu{
  display: block;
  font-size: 11px;
  color: #707070;
  font-weight: bold;
  padding: 0 10px;
  min-width: 77px;
  height: 26px;
  line-height: 26px;
  border: 1px solid #D2D2D2;
  border-radius: 5px;
  text-align: center;
  transition: all .3s;
}
.link-topic-menu.active,
.link-topic-menu:hover{
  background: #00B4DB;
  border: 1px solid #00B4DB;
  color: #ffffff
}
.box-list-topic-menu{
  padding: 10px 0;
}
.header-upper-new{
  border-bottom: 1px solid #d2d2d2;
}

</style>
