<template>
  <div class="content-b213 group-b214">
    <div class="sub-menu-pchild ">
      <ul class="list-sub-menu d-flex justify-content-left">
        <li data-id="#body-1" class="mr-2" :class="{'active': showTabIndex == 1}" v-if="!isClient" @click="showIndex = 1">
          <a href="javascript:;" title="" class="text-link"> {{$t('web_balanceManagement_title1')}} </a>
        </li>
        <li data-id="#body-2" class="mr-2" :class="{'active': showTabIndex == 2}" v-if="!isClient" @click="showIndex = 2">
          <a href="javascript:;" title="" class="text-link"> {{$t('web_balanceManagement_title2')}} </a>
        </li>
        <li data-id="#body-3" class="mr-2" :class="{'active': showTabIndex == 3}" v-if="isClient" @click="showIndex = 3">
          <a href="javascript:;" title="" class="text-link"> {{$t('web_balanceManagement_title3')}} </a>
        </li>
        <li data-id="#body-4" class="mr-2" :class="{'active': showTabIndex == 4}" v-if="isClient" @click="showIndex = 4">
          <a href="javascript:;" title="" class="text-link"> {{$t('web_balanceManagement_title4')}} </a>
        </li>
        <!--
        <li data-id="#body-5" class="" @click="showIndex = 5">
          <a href="javascript:;" title="" class="text-link"> {{$t('web_balanceManagement_title5')}} </a>
        </li>-->
      </ul>
    </div>
    <div class="show-body content-b214">
      <TabOne v-if="showTabIndex == 1" />
      <TabTwo v-if="showTabIndex == 2" />
      <TabThree v-if="showTabIndex == 3" />
      <TabFour v-if="showTabIndex == 4" />
      <TabFive v-if="showTabIndex == 5" />
    </div>
  </div>
</template>

<script>
import _ from 'lodash';
  export default {
    name: 'BalanceManagerment',
    components:{
      TabOne: () => import('~/components/accountSetting/share/balance/tab-1'),
      TabTwo: () => import('~/components/accountSetting/share/balance/tab-2'),
      TabThree: () => import('~/components/accountSetting/share/balance/tab-3'),
      TabFour: () => import('~/components/accountSetting/share/balance/tab-4'),
      TabFive: () => import('~/components/accountSetting/share/balance/tab-5'),
    },
    data() {
      return {
        showIndex: 0
      }
    },
    computed: {
      company() {
          return this.$store.getters.getCompany;
      },
      companyId() {
          return _.has(this.company, 'company_id') ? this.company.company_id : 0;
      },
      isClient() {
          return this.companyId;
      },
      showTabIndex() {
        return this.showIndex ? this.showIndex : ( this.isClient ? 3: 1 )
      },
     
    }
  }
</script>
