<template>
  <div>
    <div class="content-b213">
      <div class="header head-1">{{$t('PaymentReceiptMethod')}}</div>
      <div class="introduction width-70">
        {{$t('PaymentReceiptMethodText')}}
      </div>
      <div class="wp-payment-method">
        <div class="d-flex justify-content-between align-items-center">
          <div class="group-right d-flex align-items-center">
            <div class="group d-flex">
              <div class="img-thumb">
                <a href="javascript:;" class="image">
                  <img src="assets/images/icon/money-stack.png" alt="">
                </a>
              </div>
              <div class="group-payment-method">
                <div class="method method-1">{{$t('BankAccounts')}}</div>
                <div class="method method-2">{{$t('MiyoshiShimato')}}</div>
                <div class="method method-3"> {{$t('Lowest')}} $500~</div>
              </div>
            </div>
            <div class="number-money">****7000(JPY)</div>
          </div>
          <div class="group-left">
            <a href="javascript:;" class="d-block">
              <img src="assets/images/icon/close-mess-1.png" alt="" class="filter-white">
            </a>
          </div>
        </div>
      </div>
      <div class="rule"></div>
      <div class="payment-account margin-bottom-54">
        <div class="header head-1">{{$t('CountryPaymentAccount')}}</div>
        <div class="row">
          <div class="col-sm-6 col-12">
            <div class="group-skills">
              <div class="bg-white border-radius-10">
                <select name="" class="select-gender input-text input w-100 btn-down-black color-black">
                  <option value="日本">日本</option>
                </select>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="delivery-methods">
        <div class=" body-in-total p-0 order-b15 circle-bg">
          <div class="group-left">
            <div class="group-row">
              <div class="checkbox">
                <input type="radio" id="tick-1-1" checked>
                <label for="tick-1-1" class="check"> PayPal・USD建て
                  <div class="desc-color pl-5 color-lightgrey">
                    <div class="item item-1 font-12">3~4時間で受取可能</div>
                    <div class="item item-2 font-12">既存のPayPalアカウントと接続するオプション</div>
                    <div class="item item-3 font-12">手数料がかかる場合があります</div>
                  </div>
                </label>
              </div>
            </div>
            <div class="group-row">
              <div class="checkbox">
                <input type="radio" id="tick-1-2">
                <label for="tick-1-2" class="check"> 銀行振込・JPY建て
                  <div class="desc-color pl-5 color-lightgrey">
                    <div class="item item-1 font-12"> 3~5営業日以内に振込み </div>
                    <div class="item item-2 font-12"> 土日祝祭日を挟むと処理時間はさらに長くかかります </div>
                    <div class="item item-3 font-12"> 手数料はかかりません </div>
                  </div>
                </label>
              </div>
            </div>
          </div>
        </div>
      </div>
      
      <div class="group-content">
        <div class="rule-grey margin-top-37 margin-bottom-37"></div>
        <div class="group-footer d-flex align-items-center justify-content-between">
          <div class="prev-page">
            <a href="#tabB21-3" title="" class="d-block link">
              <span class="icon"><i class="fas fa-chevron-left"></i></span>
              <span class="texts">{{$t('btnReturn')}}</span>
            </a>
          </div>
          <div class="next-page d-flex">
            <a href="#tabB21-3-2" title="" class="d-block ml-sm-4 ml-0 link active">
              <span class="texts">{{$t('btnNext')}}</span>
              <span class="icon"><i class="fas fa-chevron-right"></i></span>
            </a>
          </div>
        </div>
      </div>
    </div>
    <div id="tabB21-3-2" class="">
      <div class="content-b213">
        <div class="header head-1">{{$t('WhereReceivingAccountLocated')}}</div>
        <div class="introduction width-50">
          {{$t('WhereReceivingAccountLocatedText')}}
        </div>
        <div class="form-account">
          <div class="width-75">
            <div class="group-form margin-bottom-27">
              <header class="panel-head mb-2">
                <h2 class="title-heading font-16 font-weight-500"><span>{{$t('StreetAddress')}}</span></h2>
              </header>
              <div class="bg-white border-radius-10">
                <input type="text" class="input-text input w-100" placeholder="例：123 Main St.">
              </div>
            </div>
            <div class="group-form margin-bottom-27">
              <header class="panel-head mb-2">
                <h2 class="title-heading font-16 font-weight-500">
                  <span>{{$t('ApartmentName')}}</span>
                </h2>
              </header>
              <div class="bg-white border-radius-10">
                <input type="text" class="input-text input w-100" placeholder="例：Apt # 7">
              </div>
            </div>
            <div class="row margin-bottom-27">
              <div class="col-sm-6 col-12">
                <div class="group-form margin-bottom-27">
                  <header class="panel-head mb-2">
                    <h2 class="title-heading font-16 font-weight-500"><span>{{$t('Municipalities')}}</span></h2>
                  </header>
                  <div class="bg-white border-radius-10">
                    <input type="text" class="input-text input w-100" placeholder="例：サンフランシスコ">
                  </div>
                </div>
              </div>
              <div class="col-sm-6 col-12">
                <div class="group-form margin-bottom-27">
                  <header class="panel-head mb-2">
                    <h2 class="title-heading font-16 font-weight-500"><span>{{$t('State')}}</span></h2>
                  </header>
                  <div class="bg-white border-radius-10">
                    <input type="text" class="input-text input w-100" :placeholder="$t('SelectOne')">
                  </div>
                </div>
              </div>
            </div>
            <div class="group-form margin-bottom-27">
              <header class="panel-head mb-2">
                <h2 class="title-heading font-16 font-weight-500"><span>{{$t('PostalCode')}}</span></h2>
              </header>
              <div class="bg-white border-radius-10">
                <input type="text" class="input-text input w-100" placeholder="例：94013">
              </div>
            </div>
            <div class="group-form margin-bottom-27">
              <header class="panel-head mb-2">
                <h2 class="title-heading font-16 font-weight-500"><span>{{$t('Country')}}</span></h2>
              </header>
              <div class="bg-white border-radius-10">
                <select name="" class="select-gender input-text input w-100 btn-down-lock color-black">
                  <option value="">日本</option>
                </select>
              </div>
            </div>
          </div>
        </div>
        <div class="group-content">
          <div class="rule-grey margin-top-37 margin-bottom-37"></div>
          <div class="group-footer d-flex align-items-center justify-content-between">
            <div class="prev-page">
              <a href="b-15.html" title="" class="d-block link">
                <span class="icon"><i class="fas fa-chevron-left"></i></span>
                <span class="texts">{{$t('btnReturn')}}</span>
              </a>
            </div>
            <div class="next-page d-flex">
              <a href="javascript:;" title="" class="d-block ml-sm-4 ml-0 link active">
                <span class="texts">{{$t('btnNext')}}</span>
                <span class="icon"><i class="fas fa-chevron-right"></i></span>
              </a>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div id="tabB21-3-3" class="">
      <div class="content-b213">
        <div class="header head-1">PayPal・USD建て</div>
        <div class="introduction width-50">
          既存のPayPalアカウントと接続するオプション
        </div>
        <div class="font-20 color-lightgrey">
          手数料がかかる場合があります
        </div>
        <div class="rule-grey"></div>
        <div class="font-20 color-lightgrey margin-bottom-37 margin-top-37">3~4時間で受取可能</div>
        <div class="rule-grey"></div>
        <div class="font-16 text-white">
          次のクリックで、口座情報入力に安全な他のウェブサイトにリダイレクトします。必要な情報入力が完了すると、
          SPOTECHのサイトに戻ります。
        </div>
        <div class="group-content">
          <div class="rule-grey margin-top-37 margin-bottom-37"></div>
          <div class="group-footer d-flex align-items-center justify-content-between">
            <div class="prev-page">
              <a href="b-15.html" title="" class="d-block link">
                <span class="icon"><i class="fas fa-chevron-left"></i></span>
                <span class="texts">{{$t('btnReturn')}}</span>
              </a>
            </div>
            <div class="next-page d-flex">
              <a href="javascript:;" title="" class="d-block ml-sm-4 ml-0 link active">
                <span class="texts">PayPalでログイン</span>
              </a>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</template>

<script>
  export default {

  }
</script>
