<template>
    <div class="">
      <div class="content-b213">
        <div class="header head-1">{{$t('WhereReceivingAccountLocated')}}</div>
        <div class="introduction width-50">
          {{$t('WhereReceivingAccountLocatedText')}}
        </div>
        <div class="form-account">
          <div class="width-75">
            <el-form  method="post" class="form" :model="item" :rules="rules" ref="form">
              <div class="group-form margin-bottom-27">
                <header class="panel-head mb-2">
                  <h2 class="title-heading font-16 font-weight-500"><span>{{$t('StreetAddress')}}</span></h2>
                </header>
                <div class="bg-white border-radius-10">
                  <el-form-item prop="address_1">
                    <el-input v-model="item.address_1" type="text" :placeholder="$t('example_ex', {value: '123 Main St.'})"/>
                  </el-form-item>
                </div>
              </div>
              <div class="group-form margin-bottom-27">
                <header class="panel-head mb-2">
                  <h2 class="title-heading font-16 font-weight-500">
                    <span>{{$t('ApartmentName')}}</span>
                  </h2>
                </header>
                <div class="bg-white border-radius-10">
                  <el-input v-model="item.address_2" type="text" :placeholder="$t('example_ex', {value: 'Apt # 7'})" />
                </div>
              </div>
              <div class="row margin-bottom-27">
                <div class="col-sm-6 col-12">
                  <div class="group-form margin-bottom-27">
                    <header class="panel-head mb-2">
                      <h2 class="title-heading font-16 font-weight-500"><span>{{$t('Municipalities')}}</span></h2>
                    </header>
                    <div class="bg-white border-radius-10">
                      <el-form-item prop="city">
                        <el-input v-model="item.city" type="text" :placeholder="$t('example_ex', {value: $t('SanFrancisco')})" />
                       </el-form-item>
                    </div>
                  </div>
                </div>
                <div class="col-sm-6 col-12">
                  <div class="group-form margin-bottom-27">
                    <header class="panel-head mb-2">
                      <h2 class="title-heading font-16 font-weight-500"><span>{{$t('State')}}</span></h2>
                    </header>
                    <div class="bg-white border-radius-10">
                      <el-form-item prop="provincial">
                        <el-input v-model="item.provincial" type="text" :placeholder="$t('example_ex',{ value: 'Northern California'})"/>
                      </el-form-item>
                    </div>
                  </div>
                </div>
              </div>
              <div class="group-form margin-bottom-27">
                <header class="panel-head mb-2">
                  <h2 class="title-heading font-16 font-weight-500"><span>{{$t('PostalCode')}}</span></h2>
                </header>
                <div class="bg-white border-radius-10">
                  <el-form-item prop="zip_code">
                    <el-input type="text" v-model="item.zip_code" :placeholder="$t('example_ex',{ value: '94016'})" />
                  </el-form-item>
                </div>
              </div>
              <div class="group-form margin-bottom-27">
                <header class="panel-head mb-2">
                  <h2 class="title-heading font-16 font-weight-500"><span>{{$t('Country')}}</span></h2>
                </header>
                <div class="bg-white border-radius-10">
                  <el-form-item prop="country">
                    <el-select :disabled="disabled" v-model="item.country">
                      <el-option v-for="(nation, n) in nationStrips" :key="`nations-item-${n}`" :value="nation.iso" :label="nation.name" />
                    </el-select>
                  </el-form-item>
                </div>
              </div>
            </el-form>
          </div>
        </div>
        <div class="group-content">
          <div class="rule-grey margin-top-37 margin-bottom-37"></div>
          <div class="group-footer d-flex align-items-center justify-content-between">
            <div class="prev-page"></div>
            <div class="next-page d-flex">
              <a href="javascript:;" title="" v-loading="loading" :disabled="loading" @click.prevent="add" class="d-block ml-sm-4 ml-0 link active">
                <span class="text-center">{{$t('btnOk')}}</span>
              </a>
            </div>
          </div>
        </div>
      </div>
    </div>
</template>

<script>
import _ from 'lodash';
export default {
  name: 'AccountBillingInfo',
  data() {
    return {
      item:{
        id: null,
        address_1: null,
        address_2: null,
        city:null,
        provincial:null,
        zip_code: null,
        country: null
      },
      loading: false,
      stripNation: []
    }
  },
  computed:{
    
    nationStrips() {
      return this.stripNation
    },
    rules() {
      return {
        address_1: [
          {required: true, message: this.$t('pleaseInputAddress'), trigger: 'blur'}
        ],
        city: [
          {required: true, message: this.$t('pleaseInputCity'), trigger: 'blur'},
        ],
        provincial: [
          {required: true, message: this.$t('pleaseInputProvince'), trigger: 'blur'},
        ],
        zip_code: [
          {required: true, message: this.$t('pleaseInputZipCode'), trigger: 'blur'},
        ],
        country: [
          {required: true, message: this.$t('pleaseSelectCountry'), trigger: 'change'},
        ]
      }
    },
    itemId() {
      return (this.item && this.item.id) ? this.item.id : 0
    },
    disabled(){
      return this.itemId > 0 ? true: false
    },
    auth() {
      return this.$store.state.auth
    },
    me() {
      return (this.auth && this.auth.authUser && this.auth.authUser.user) ? this.auth.authUser.user : null;
    },
    meId() {
      return this.me ? this.me.id : 0
    },
    meEmail() {
      return this.me ? this.me.email : null
    },
    company() {
        return this.$store.getters.getCompany;
    },
    companyId() {
        return _.has(this.company, 'company_id') ? this.company.company_id : 0;
    },
    isClient() {
        return this.companyId;
    },
    billingParam() {
      return _.merge(this.item, {
        email: this.meEmail,
        user_id: this.meId,
        company_id: this.companyId
      })
    }
  },
  mounted() {
    this.getAllStripNation();
    this.getAccount();
  },
  methods: {
    getAccount() {
      this.$store.dispatch('dashboard/getAccountBillingInfo', {
        user_id: this.meId,
        company_id: this.companyId
      })
      .then( ( res ) => {
        if( res &&  res.success ) {
          this.item = _.merge(this.item, res.data);
        }
      } )
      .catch( (err) => {

      } );
    },
    getAllStripNation() {
      this.$store.dispatch('resource/getAllStripNation', {})
      .then( ( res ) => {
        if( res.success ) {
          this.stripNation = res.data;
        }
      } )
      .catch( (err) => {

      });
    },
    add() {
      this.$refs['form'].validate((valid) => {
          if (!valid) { return; }
          if( this.item.id && parseInt(this.item.id) > 0 ) {
            this.updateAccount();
          }
          else{
            this.addAccount();
          }
        });
    },
    addAccount() {
      this.loading = true;
      this.$store.dispatch('dashboard/addAccountBillingInfo', this.billingParam)
      .then( ( res ) => {

      } )
      .catch( (err) => {
        this.showNotification( this.$t('Error'), err.message,'error' )
      } )
      .finally( () => {
        this.loading = false;
      });
    },
    updateAccount() {
      this.loading = true;
      this.$store.dispatch('dashboard/updateAccountBillingInfo', this.billingParam)
      .then( ( res ) => {
        
      } )
      .catch( (err) => {
        this.showNotification( this.$t('Error'), err.message,'error' )
      } )
      .finally( () => {
        this.loading = false;
      });
    }
  }
}
</script>
