<template>
  <div class="row c--account-content">
    <div class="custom-column">
      <div class="group-item-aside" v-if="notifications.message">
        <div class="header">
          <div class="title">{{ parseLabel(notifications.message) }}</div>
        </div>
        <div class="panle-body">
          <div class="introduction">{{ parseContent(notifications.message) }}</div>
          <div class="wp-checkbox">
            <div class="checkbox" v-for="(cb, index) in notifications.message.data" :key="`notifications.message.data-${index}`">
              <input
                type="checkbox"
                :id="`check-mess-${index}`"
                v-model="cb.value"
                :checked="cb.value"
              />
              <label :for="`check-mess-${index}`" class="check" :class="{'c--checked': cb.value}">{{ cb.method_name }}</label>
            </div>
          </div>
        </div>
      </div>
      <div class="group-item-aside" v-if="notifications.reminder">
        <div class="header">
          <div class="title">{{ parseLabel(notifications.reminder) }}</div>
        </div>
        <div class="panle-body">
          <div class="introduction">{{ parseContent(notifications.reminder) }}</div>
          <div class="wp-checkbox">
            <div class="checkbox" v-for="(cb, index) in notifications.reminder.data" :key="`notifications.reminder.data.${index}`">
              <input
                type="checkbox"
                :id="`check-reminder-${index}`"
                v-model="cb.value"
                :checked="cb.value"
              />
              <label :for="`check-reminder-${index}`" class="check" :class="{'c--checked': cb.value}">{{ cb.method_name}}</label>
            </div>
          </div>
        </div>
      </div>
      <div class="group-item-aside" v-if="notifications.support">
        <div class="header">
          <div class="title">{{ parseLabel(notifications.support)}}</div>
        </div>
        <div class="panle-body">
          <div class="introduction">{{ parseContent(notifications.support) }}</div>
          <div class="wp-checkbox">
            <div class="checkbox" v-for="(cb, index) in notifications.support.data" :key="`notifications.support.data.${index}`">
              <input
                type="checkbox"
                :id="`check-support-${index}`"
                :checked="cb.value"
                v-model="cb.value"
              />
              <label :for="`check-support-${index}`" class="check" :class="{'c--checked': cb.value}">{{ cb.method_name }}</label>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="custom-column">
      <div class="group-item-aside">
        <div class="header">
          <div class="title">{{$t('ContactInformation')}}</div>
        </div>
        <div class="panle-body">
          <div class="introduction">
            <div>{{$t('EditInformationProfile')}}</div>
            <div>
              <a
                href="javascript:;"
                class="text-link introduction"
                style="color: #2C96EC"
              >{{$t('EditProfile')}}</a>
            </div>
          </div>

          <div class="list-infoProfile">
            <div class="item">
              <div class="d-flex justify-content-between">
                <div class="name-profile">
                  <div class="name-1">{{$t('emailName')}}</div>
                  <div class="name-2">{{$t('phone_number')}}</div>
                </div>
                <div class="detail-profile">{{ user.email }}</div>
              </div>
            </div>
            <div class="item">
              <div class="d-flex justify-content-between">
                <div class="name-profile">
                  <div class="name-1">{{$t('AccountAlertsConfirmations')}}</div>
                  <div class="name-2">{{$t('ReservationRequest')}}</div>
                </div>
                <div class="detail-profile">+08 ** **** 0786</div>
              </div>
            </div>
            <div class="item">
              <div class="d-flex justify-content-between">
                <div class="name-profile">
                  <div class="name-1">{{$t('ClientExpert')}}</div>
                  <div class="name-2">{{$t('MessageFrom')}}</div>
                </div>
                <div class="detail-profile">+08 ** **** 0786</div>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="group-item-aside">
        <div class="header">
          <div class="title">SMS</div>
        </div>
        <div class="panle-body">
          <div class="introduction">{{$t('SMSchecking')}}</div>
          <div class="wp-changeNumberPhone">
            <div class="title">{{$t('SMSphonenumber')}}</div>
            <input
              type="text"
              class="input-text input-number w-100 border-radius-20"
              value="+08 ** **** 0786"
              disabled
            />
          </div>
        </div>
      </div>
      <div class="group-item-aside" v-if="notifications.tips">
        <div class="header">
          <div class="title">{{ parseLabel(notifications.tips) }}</div>
        </div>
        <div class="panle-body">
          <div class="introduction">{{ parseContent(notifications.tips) }}</div>
          <div class="wp-checkbox">
            <div class="checkbox" v-for="(cb, index) in notifications.tips.data" :key="`notifications.tips.data.${index}`">
              <input
                type="checkbox"
                :id="`check-tips-${index}`"
                v-model="cb.value"
                :checked="cb.value"
              />
              <label :for="`check-tips-${index}`" class="check" :class="{'c--checked': cb.value}">{{ cb.method_name }}</label>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="group-read-b21 d-flex">
      <a class="filter-top text-white ml-auto" @click="update($event)">
        <span>{{$t("SearchFromTheSelectedTheme")}}</span>
      </a>
    </div>
  </div>
</template>

<script>
import {
  getNotifications,
  updateNotifications
} from "~/services/NotificationApi";
import { getUserInfor } from "~/plugins/information";

export default {
  data() {
    return {
      notifications: {},
      company_id: 0
    };
  },
  created() {
    this.company_id = 0;
    this.getNotifications();
    this.user = Object.create(getUserInfor() || { email: "no-email" });
  },
  filters: {
    phoneNumber(phone) {
      return !phone || phone.replace(/(\+\d{2})\d{5}/, "$1*****");
    }
  },
  methods: {
    async getNotifications() {
      const response = await getNotifications({ company_id: this.company_id });
      this.notifications = response.data;
      this.notifications.company_id = this.company_id;
    },
    parseContent(obj) {
      if (!obj) return;
      return obj.label.content;
    },
    parseLabel(obj) {
      if (!obj) return;
      return obj.label.name;
    },
    update($e) {
      $e.preventDefault();
      updateNotifications(this.notifications)
        .then(res => {
          if (res.success) {
            this.$notify.success({
              title: this.$t("Success"),
              message: this.$t(`${res.message}`)
            });
          }
        })
        .catch(err => {
          console.log(err);
        });
    }
  }
};
</script>

<style scoped>
a {
  cursor: pointer;
}
input[disabled] {
  background-color: transparent;
}
</style>
<style>
.c--account-content .c--checked{
  color: rgb(44, 150, 236);
  
  font-weight: 600;
}
</style>
