<template>
  <div class="list-tab-menu b-21 sticky-top sticky-b21">
    <div class="menu-left item" :class="{'active': activeTab == 1}" data-id="#tabB21-1">
      <a href="javascript:;" class="d-block text-link" @click="setTab(1)">{{$t('notification')}}</a>
    </div>
    <div class="menu-left item" :class="{'active': activeTab == 2}" data-id="#tabB21-2">
      <a href="javascript:;" class="d-block text-link" @click="setTab(2)">{{$t('MethodOfPayment')}}</a>
    </div>
    
    <div class="menu-left item" :class="{'active': activeTab == 3}" data-id="#tabB21-3">
      <a href="javascript:;" class="d-block text-link" @click="setTab(3)">{{$t('ReceiptSetting')}}</a>
    </div>
    
    <div class="menu-left item" :class="{'active': activeTab == 4}" data-id="#tabB21-4">
      <a href="javascript:;" class="d-block text-link" @click="setTab(4)">{{$t('BalanceManagement')}}</a>
    </div>
    <!--
    <div class="menu-left item" :class="{'active': activeTab == 5}" data-id="#tabB21-5">
        <a href="javascript:;" class="d-block text-link" @click="setTab(5)">{{$t('privacy')}}</a>
    </div>
    -->
    <div class="menu-left item" :class="{'active': activeTab == 6}" data-id="#tabB21-6">
      <a href="javascript:;" class="d-block text-link" @click="setTab(6)">{{$t('Security')}}</a>
    </div>
    
    <div class="itmenu-left item" :class="{'active': activeTab == 7}" data-id="#tabB21-7">
      <a href="javascript:;" class="d-block text-link" @click="setTab(7)">NDA</a>
    </div>
    <div class="menu-left item" :class="{'active': activeTab == 8}" data-id="#tabB21-8">
      <a href="javascript:;" class="d-block text-link" @click="setTab(8)">{{$t('OutsourcingContract')}}</a>
    </div>
    <div class="menu-left item">
      <a href="javascript:;" class="d-block btn-create text-link text-center" @click="setTab(8)">{{$t("OutsourcingContract")}}</a>
    </div>
    
  </div>
</template>

<script>
  import $ from 'jquery';

  export default {
    name: 'AccountSettingLeftSideBar',
    props:{
      activeTab: {
        type: Number,
        default : 1
      }
    },
    
    methods: {
      tabs() {
        const item = $('div.menu-left'),
          tabContent = $('.content-b21');
        item.on('click', function() {
          item.removeClass('active');
          tabContent.find('div').removeClass('d-block');
          $(this).addClass('active');
          const id = $(this).attr('data-id');
          $(id).addClass('d-block');
        });
      }
    },
    mounted() {
      //this.tabs();
    },
    methods:{
      setTab(index) {
        this.$emit('onTabClick', index)
      }
    }
  }
</script>
