<template>
  <div class="group-item-aside group-b216 content-b213">
    <div class="header">
      <div class="title">{{ $t('loginHistory') }}</div>
    </div>
    <div class="panle-body group-table-general ">
      <div class="login-history" style="overflow-x:auto;">
        <table id="login_history" class="table">
          <thead>
          <tr>
            <th>{{ $t('browserTerminal') }}</th>
            <th>{{ $t('location') }}</th>
            <th>{{ $t('recentActivity') }}</th>
            <th></th>
          </tr>
          </thead>
          <tbody>
          <tr v-for="(log, i) in logs.items" :key="`oauth-log--${i}`">
            <td>
              <ul class="list-unstyled">
                <li class="up">{{ log.userAgent | strLimit }}</li>
                <li class="down">
                  <span class="text-muted">{{ log.operating }}</span>
                </li>
              </ul>
            </td>
            <td>{{ log.address }}</td>
            <td>
              <div class="up">{{ $moment.utc(log.loginAt).local().fromNow() }}</div>
              <div class="down" v-if="log.ips.length > 0">
                <a  @click="showDetailLog(log)" href="javascript:;" class="show-more"
                   role="button">{{ log.ips.length }} {{ $t('details') }}</a>
                <i aria-hidden="true" class="icon fas fa-caret-down"></i>
              </div>
            </td>
            <td class="text-right">
              <form method="POST" action="">
                <a href="javascript:;" @click="removeTokenAll(log)" class="submit-logout" :title="$t('webLogout')">
                  {{ $t('webLogout') }}
                </a>
              </form>
            </td>
          </tr>
          <tr v-if="logs.items == null || logs.items.length <= 0">
            <td colspan="4" class="text-center">
              {{ $t('webThereIsNothingToDisplay') }}
            </td>

          </tr>
          </tbody>
        </table>
        <div class="pagination mt-1" v-if="logs.meta && logs.meta.total_pages && logs.meta.total_pages > 1">
          <el-pagination
            background
            layout="prev, pager, next"
            :total="logs.meta.total"
            :page-size="logs.meta.per_page"
            :pager-count="logs.meta.total_pages"

            @current-change="changePage">
          </el-pagination>
        </div>
      </div>
      <div class="panel-footer text-right">
        {{ $t('oauthLogNotification') }}
      </div>
    </div>
    <modal v-if="showModalIndex > 0" @close="showModalIndex = 0" size="large" class="modal-spotech">
      <div slot="body">
        <table class="table" v-if="showModalIndex == 1">
          <thead>
          <tr>
            <th width="45%">{{ $t('browserTerminal') }}</th>
            <th>{{ $t('location') }}</th>
            <th>{{ $t('recentActivity') }}</th>
            <th></th>
          </tr>
          </thead>
          <tbody v-if="log">
            <tr v-for="(lo, i) in log.ips" :key="`oauth-log-item--${i}`">
              <td>
                <ul class="list-unstyled">
                  <li class="up">{{ lo.userAgent | strLimit }}</li>
                  <li class="down">
                    <span class="text-muted">{{ lo.operating }}</span>
                  </li>
                </ul>
              </td>
              <td>{{ lo.address }}</td>
              <td>
                <div class="up">{{ $moment(log.loginAt).fromNow() }}</div>
              </td>
              <td class="text-right">
                <form method="POST" action="">
                  <a href="javascript:;" @click="removeToken(lo)" class="submit-logout" :title="$t('webLogout')">
                    {{ $t('webLogout') }}
                  </a>
                </form>
              </td>
            </tr>

          </tbody>
          <tbody v-if="!log">
            <tr v-if="lo.ips == null || lo.ips.length <= 0">
              <td colspan="4" class="text-center">
                {{ $t('webThereIsNothingToDisplay') }}
              </td>

            </tr>
          </tbody>
        </table>
      </div>
    </modal>
  </div>
</template>

<script>
  import { getLoginLog, revokeToken, revokeTokenAll } from "~/services/accountSettingApi";
  export default {
    name: "OauthLog",

    components: {
        Modal: () => import('~/components/share/Modal'),
    },
    filters:{
        strLimit(str) {
          if( !str || str.lenght <= 0 ){ return str; }
          return str.substring(0, 60);
        }
    },
    data() {
      return {
        meta_default:{
          count:0,
          current_page:1,
          next:null,
          per_page:50,
          prev:null,
          total:0,
          total_pages:0
        },
        logs: {
          items: [],
          meta:{
            count:0,
            current_page:1,
            next:null,
            per_page:50,
            prev:null,
            total:0,
            total_pages:0
          }
        },
        log: null,
        showModalIndex: 0
      }
    },
    mounted() {
      this.getLogs();
    },
    methods:{
      showDetailLog(log) {
        this.log = log;
        this.showModalIndex = 1;
      },
      getLogs() {
        getLoginLog( this.logs.meta )
          .then( ( response) => {
            this.logs = response.data;
          } )
          .catch(  (e) => {

          } )
      },
      changePage(currentPage) {
        this.logs.meta.page = currentPage;
        this.getLogs();
      },
      removeTokenAll(log) {
        let me = this;
        this.$confirm( this.$t('webAreYouSureRemoveToken'), this.$t('warning'), {
          confirmButtonText: this.$t('btnOk'),
          cancelButtonText: this.$t('btnCancel'),
        } )
          .then(_ => {
            let params = { id: log.id };
            revokeTokenAll( params )
              .then( ( response ) => {
                me.getLogs();
                me.showNotification(me.$t('logoutSuccess'), me.$t('logoutSuccess'), 'success');
              } )
              .catch(  (e) => {
                me.showNotification(me.$t('logoutError'), e.message, 'error');
              } )
          })
          .catch(_ => {});
      },
      removeToken(log) {
        let me = this;

        this.$confirm( this.$t('webAreYouSureRemove'), this.$t('warning') , {
          confirmButtonText: this.$t('btnOk'),
          cancelButtonText: this.$t('btnCancel'),
        } )
          .then(_ => {
            let params = { id: log.id };
            revokeToken( params )
              .then( ( response ) => {
                me.getLogs();
                me.showModalIndex = 0;
                me.showNotification(me.$t('logoutSuccess'), me.$t('logoutSuccess'), 'success');
              } )
              .catch(  (e) => {
                me.showNotification(me.$t('logoutError'), e.message, 'error');
              } )
          })
          .catch(_ => {});
      }
    }
  }
</script>

<style scoped>

</style>
