<template>
  <div class="content-b21-7">
    <div class="herader">
      <h1 class="t-title"> {{$t('web_outsourcingContract_title')}} </h1>
      <div class="t-sub">
        {{$t('web_outsourcingContract_text1	')}}
      </div>
    </div>
    <div class="t-table">
      <div class="table-name">{{$t('ConclusionWithExperts')}}</div>
      <div class="table-wrapp">
        <table class="table">
          <thead>
            <tr>
              <th>{{ isClient ? $t('Expert') : $t('Project') }}</th>
              <th>{{$t('name')}}</th>
              <th>{{$t('content')}}</th>
              <th>{{$t('download')}}</th>
            </tr>
          </thead>
          <NdaRow v-for="(item, i) in items" :key="`nda-row-${i}`" :elem="item" :mime="mime" @reload="reload"/>
          <tbody v-if="items.length <= 0">
            <tr>
              <td colspan="4" class="name-project">{{$t('webNoData')}}</td>
            </tr>
          </tbody>
        </table>
        <el-pagination class="pagination d-flex align-items-center margin-bottom-40" v-if="totalRow > pageSize"
          background
          layout="prev, pager, next"
          :page-size="pageSize"
          :total="totalRow"
          :current-page="currentPage"
          @current-change="goToPage">
        </el-pagination>
      </div>
    </div>
    
  </div>
</template>

<script>
export default {
  name: 'Outsource',
  components:{
    NdaRow: () => import('~/components/accountSetting/share/nda/outsource')
  },
  data() {
    return {
      response: null,
      pageSize: 3,
      page: 1
    }
  },
  computed: {
    mime() {
      return 'application/msword, application/vnd.openxmlformats-officedocument.wordprocessingml.document, application/pdf'
    },
    meId() {
      return this.$store.getters.getUserId;
    },
    company() {
      return this.$store.getters.getCompany;
    },
    companyId() {
      return _.has(this.company, 'company_id') ? this.company.company_id : 0;
    },
    isClient() {
      return this.companyId;
    },
    items() {
      return this.response && this.response.items ? this.response.items : []
    },
    meta() {
      return this.response && this.response.meta ? this.response.meta : null
    },
    total() {
      return this.meta && this.meta.total ? this.meta.total : 0
    },
    totalRow() {
      return this.meta && this.meta.totalRow ? this.meta.totalRow : 0
    },
    currentPage() {
      return this.page
    },
    form() {
      return {
        pageIndex: this.currentPage,
        pageSize: this.pageSize,
        company_id: this.companyId
      }
    }
  },
  mounted() {
    this.getAll();
  },
  methods:{
    getAll() {
        this.$store.dispatch('contract/getAllContract', this.form )
        .then( ( res ) => {
            if( res.success) {
              this.response = res.data
            }
        })
        .catch( (err ) => {

        } )
    },
    goToPage(p) {
      this.page = p;
      this.getAll();
    },
    reload() {
      this.getAll();
    }
  }
}
</script>
