<template>
  <div class="row">
    <div class="col-12">
      <div class="group-item-aside">
        <div class="header">
          <div class="title">{{$t('MethodOfPayment')}}</div>
        </div>
        <div class="panle-body">
          <div class="list-image ">
            <div class="row">
              <div class="col-sm-12 col-12">
                <list-card @showFormAddCard="showFormAddCard"/>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="group-item-aside">
        <div class="header">
          <div class="title">{{$t('AvailableCoupons')}}</div>
        </div>
        <div class="panle-body">
          <div class="clearfix">
            <div class="group-total clearix">
              <div class="group-item group-1 group-skills">
                <div class="name-title">{{$t('AddCoupon')}}</div>
                <input type="text" class="input-text input w-100 color-grey font-14">
              </div>
            </div>
            <div class="group-total clearix">
              <div class="group-item group-2">
                <div class="name-title"></div>
                <a href="javascript:;" class="d-block bg-green font-14 input-text input btn-input">{{$t('EnterCouponCode')}}</a>
              </div>
            </div>
            <div class="group-total clearix">
              <div class="group-item group-3">
                <div class="name-title">{{$t('Showing')}}</div>
                  <select name="" class="select-gender w-100 input-text input btn-down-grey color-grey font-14">
                    <option value="使えるクーポン一覧">使えるクーポン一覧 </option>
                  </select>
                </div>
              </div>
          </div>
          <div class="rule-grey margin-top-30 margin-bottom-30"></div>
          <div class="">{{$t('CouponsAccumulateAccount')}}</div>
        </div>
      </div>
    </div>
    <el-dialog class="modal-basic-infomation c---modal-card" :visible.sync="isShow" :title="$t('addCardTitle')" width="25%">
      <div class="">
        <div class="group-card-payment row">
          <div class="col-12 mb-3 pr-sm-1 pr-3">
            <div class="wp-item">
              <ul class="list-inline">
                  <li class="list-inline-item">
                      <a href="https://usa.visa.com/" target="_blank" class="d-block image">
                        <img src="~/assets/images/upload/payment-1.png" alt="">
                      </a>
                  </li>
                  <li class="list-inline-item">
                      <a href="https://www.mastercard.us/en-us.html" target="_blank" class="d-block image">
                        <img src="~/assets/images/upload/payment-2.png" alt="">
                      </a>
                  </li>
                  <li class="list-inline-item">
                      <a href="https://www.americanexpress.com/" target="_blank" class="d-block image">
                        <img src="~/assets/images/upload/payment-3.png" alt="">
                      </a>
                  </li>
                  <li class="list-inline-item">
                      <a href="https://www.discover.com/" target="_blank" class="d-block image">
                        <img src="~/assets/images/upload/payment-4.png" alt="">
                      </a>
                  </li>
              </ul>
            </div>
          </div>
        </div>
        <div class="group-new-payment content-b213 mt-2">
          <add-card @close="isShow = false"/>
        </div>
      </div>
    </el-dialog>
  </div>
</template>

<script>
  import eventBus from '~/services/bus';

  export default {
    name: 'PaymentMethod',
    data() {
      return {
        isShow: false,
      }
    },
    components: {
      AddCard: () => import('~/components/share/AddCardStripe'),
      ListCard: () => import('~/components/share/ListCard')
    },
    methods: {
      showFormAddCard() {
        this.isShow = true;
      }
    },
    mounted() {
      eventBus.$on('onCloseAddDialog', () => (this.isShow = false));
    }
  }
</script>
<style>
.c---modal-card .el-dialog__header{
  border-radius: 10px 10px 0 0;
  background: #d2d2d2;
}
.c---modal-card .btn.btn-modal-b21:hover {
    border: 1px solid #77D353;
    background: #77D353;
    color: #fff;
}
.c---modal-card .btn.btn-modal-b21 {
    border: 1px solid #707070;
    font-size: 14px;
    font-weight: 500;
    border-radius: 10px;
    padding: 0.75rem 0.75rem;
}
.c---modal-card .btn.btn-modal-b21.active {
    border: 1px solid #77D353;
    background: #77D353;
    color: #fff;
}
.c---modal-card .modal-footer {
    display: flex;
    align-items: center;
    justify-content: flex-end;
    padding: 1rem;
    border-top: 1px solid #dee2e6;
    border-bottom-right-radius: .3rem;
    border-bottom-left-radius: .3rem;
}
.c---modal-card .el-dialog__body{
  padding-bottom: 0;
}
.c---modal-card .card-form{
  border: 1px solid #d2d2d2 !important;
  border-radius: 10px !important;
  padding: 10px !important;
  background: transparent !important;
  color: #131c3d !important;
}
.c---modal-card option:first-child
{
    color: #ccc;
}
</style>