<template>
  <div class="row">
    <div class="col-12 group-item-aside-wrapp">
      <div class="group-item-aside">
        <div class="header">
          <div class="title">{{$t('web_privacy_form1_title')}}</div>
        </div>
        <div class="panle-body">
          <div class="t-text-box">
            <div class="t-text">
              <p>{{$t('web_privacy_form1_text1')}}</p>
              <p>{{$t('web_privacy_form1_text2')}}</p>
            </div>
            <div class="btn-check">
              <label class="form-checkbox">
                <input type="checkbox" class="input-checkbox">
                <span>{{$t('web_privacy_form1_text3')}}</span>
              </label>
            </div>
          </div>
          <div class="btn-box">
            <a href="#" class="button">{{$t('web_privacy_form1_save')}}</a>
          </div>
        </div>
      </div>
    </div>
    <div class="col-12 group-item-aside-wrapp">
      <div class="group-item-aside">
        <div class="header">
          <div class="title">{{$t('web_privacy_form2_title')}}</div>
        </div>
        <div class="panle-body">
          <div class="t-text-box">
            <div class="t-text">
              <p>{{$t('web_privacy_form2_text1')}}</p>
              <p>{{$t('web_privacy_form2_text2')}}</p>
            </div>
            <div class="btn-check">
              <label class="form-checkbox">
                <input type="checkbox" class="input-checkbox">
                <span>{{$t('web_privacy_form2_text3')}}</span>
              </label>
            </div>
          </div>
          <div class="btn-box">
            <a href="#" class="button">{{$t('web_privacy_form2_save')}}</a>
          </div>
        </div>
      </div>
    </div>
    <div class="col-12 group-item-aside-wrapp">
      <div class="group-item-aside">
        <div class="header">
          <div class="title">{{$t('web_privacy_form3_title')}}</div>
        </div>
        <div class="panle-body">
          <div class="t-text-box">
            <div class="t-text">
              <p>{{$t('web_privacy_form3_text1')}}</p>
              <p>{{$t('web_privacy_form3_text2')}}</p>
            </div>
            <div class="btn-check">
              <label class="form-checkbox">
                <input type="checkbox" class="input-checkbox">
                <span>{{$t('web_privacy_form3_text3')}}</span>
              </label>
            </div>
          </div>
          <div class="btn-box">
            <a href="#" class="button">{{$t('web_privacy_form3_save')}}</a>
          </div>
        </div>
      </div>
    </div>
  </div>
</template>

<script>
  export default {

  }
</script>
