<template>
  <div id="tabB21-6" class="">
    <div class="group-item-aside group-b216 content-b213">
      <div class="header">
        <div class="title">{{ $t('SecurityChangePass') }}</div>
      </div>
      <div class="panle-body">
        <el-form :model="params" :rules="rules" ref="changePass">
          <el-form-item :label="$t('SecurityCurrentPass')" prop="current_password">
            <el-input type="password"
              v-model="params.current_password"
              :placeholder="$t('SecurityCurrentPass')"
              @focus="clearValidate('current_password')"></el-input>
          </el-form-item>
          <el-form-item :label="$t('SecurityNewPass')" prop="password">
            <el-input type="password"
              v-model="params.password"
              :placeholder="$t('SecurityNewPass')"
              @focus="clearValidate('password')"></el-input>
          </el-form-item>
          <el-form-item :label="$t('SecurityConfirmNewPass')" prop="confirm_password">
            <el-input type="password"
              v-model="params.confirm_password"
              :placeholder="$t('SecurityConfirmNewPass')"
              @focus="clearValidate('confirm_password')"></el-input>
          </el-form-item>
          <div class="group-read-more d-flex margin-top-60" v-bind:class="{ 'disable': isDisable }">
            <a href="javascript:;" title="" class="filter-top text-white ml-auto" @click="saveChange($event)">
              <span>{{ $t('SecuritySaveChange') }}</span>
            </a>
          </div>
        </el-form>
      </div>
    </div>
    <OauthLog />
  </div>
</template>

<script>
  import _ from 'lodash';
  import { changePassword } from '~/services/accountSettingApi';

  export default {
    name: 'SettingSecurity',
    components: {
      OauthLog: () => import('./OauthLog')
    },
    data() {
      const confirmPass = (rule, value, callback) => {
        if (!value) {
          callback(new Error(this.$t('MessageErrorRequirePass')));
        } else if (value !== this.params.password) {
          callback(new Error(this.$t('MessageErrorPassNotMatch')));
        } else {
          callback()
        }
      }
      return {
        params: {
          current_password: '',
          password: '',
          confirm_password: '',
        },
        isDisable: false,
        rules: {
          current_password: [
            {
              required: true,
              message: this.$t('MessageErrorRequirePass'),
              trigger: "blur"
            },
            {
              min: 8,
              message: this.$t('MessageErrorPassMin'),
              trigger: "blur"
            },
          ],
          password: [
            {
              required: true,
              message: this.$t('passwordRequireRule'),
              trigger: "blur"
            },
            {
              min: 8,
              message: this.$t('passwordRequireRule'),
              trigger: "blur"
            },
            /*{
              pattern: /^(?=.*[a-z])(?=.*[A-Z])(?=.*\d)(?=.*[@$!%*?&])[A-Za-z\d@$!%*?&]{8,}$/ , 
              message: this.$t('passwordRequireRule'), 
              trigger: 'blur' 
            }*/
          ],
          confirm_password: [
            {
              validator: confirmPass,
              trigger: "blur"
            }
          ]
        },
      };
    },
    methods: {
      setParamDefault() {
        this.params.current_password = '';
        this.params.password = '';
        this.params.confirm_password = '';
      },
      clearValidate(type) {
        return this.$refs.changePass.clearValidate(type);
      },
      async saveChange($e) {
        $e.preventDefault();
        const validation = await this.$refs.changePass.validate();
        if (validation) {
          this.isDisable = true;
          changePassword(this.params)
            .then(res => {
              if (res.success) {
                this.setParamDefault();
                this.showNotification(this.$t('Success'), res.message, 'success');
                this.isDisable = false;
              }
            })
            .catch(err => {
              this.showNotification(this.$t('Error'), err.message, 'error');
              this.isDisable = false;
              return;
            });
        }
      },
    }
  }
</script>

<style scoped>
  .disable {
    pointer-events: none;
  }
  .disable a {
    background-color: #bfbfbf;
  }
  .error {
    color: #F56C6C;
    font-size: 12px;
    line-height: 1;
    padding: 4px;
  }
</style>
