<template>
  <div class="item-app">
    <div class="img-thumb">
      <div class="image">
        <img src="assets/images/upload/app-1.png" alt="">
      </div>
    </div>
    <div class="name-app">Slack</div>
    <div class="intro-app">{{$t('communication')}}</div>
    <div class="rule-grey"></div>
    <div class="wp-rating d-flex">
      <div class="meta-rate d-flex">
        <div class="number-rate">4.0</div>
        <el-rate v-model="4.5" class="rate-post-support"
                 :colors="['#77D353', '#77D353', '#77D353']"
                 :disabled-void-color="'#d2d2d2'"
                 disabled></el-rate>
      </div>
      <span class="meta-number">30</span>
    </div>
    <div class="number-users">
      {{$t('NumberOfUsers')}}（100）
    </div>
    <div class="list-users">
      <div class="item-user" v-for="(item, key) in 4" :key="'user' + key">
        <img src="assets/images/upload/user-1.png" alt="">
      </div>
    </div>
  </div>
</template>

<script>
	export default {
		name: "PostItem"
	}
</script>

<style lang="scss">
  .rate-post-support {
    .el-rate__icon {
      font-size: 13px;
    }
  }
</style>
