<template>
  <div class="d-flex h-100 align-items-center">
    <div v-if="!image">
      <svg viewBox="0 0 48 48" width="48" height="48">
        <path id="instagram" :d="instagram" fill="#e4405f"></path>
      </svg>
      <div>{{$t('UploadImage')}}</div>
    </div>
    <img style="height: 100%;" v-else :src="image" alt="">
  </div>
</template>

<script>
  const instagram = 'M24.004 12.319c-6.36 0-11.49 5.13-11.49 11.49s5.13 11.49 11.49 11.49S35.494 30.169 35.494 23.809 30.364 12.319 24.004 12.319zm0 18.96c-4.11 0-7.47-3.35-7.47-7.47s3.35-7.47 7.47-7.47 7.47 3.35 7.47 7.47-3.36 7.47-7.47 7.47zm14.64-19.43c0 1.49-1.2 2.68-2.68 2.68-1.49 0-2.68-1.2-2.68-2.68s1.2-2.68 2.68-2.68 2.68 1.2 2.68 2.68zm7.61 2.72c-.17-3.59-.99-6.77-3.62-9.39-2.62-2.62-5.8-3.44-9.39-3.62-3.7-.21-14.79-.21-18.49 0-3.58.17-6.76.99-9.39 3.61s-3.44 5.8-3.62 9.39c-.21 3.7-.21 14.79 0 18.49.17 3.59.99 6.77 3.62 9.39s5.8 3.44 9.39 3.62c3.7.21 14.79.21 18.49 0 3.59-.17 6.77-.99 9.39-3.62 2.62-2.62 3.44-5.8 3.62-9.39.21-3.7.21-14.78 0-18.48zM41.474 37.019c-.78 1.96-2.29 3.47-4.26 4.26-2.95 1.17-9.95.9-13.21.9s-10.27.26-13.21-.9c-1.96-.78-3.47-2.29-4.26-4.26-1.17-2.95-.9-9.95-.9-13.21s-.26-10.27.9-13.21c.78-1.96 2.29-3.47 4.26-4.26 2.95-1.17 9.95-.9 13.21-.9s10.27-.26 13.21.9c1.96.78 3.47 2.29 4.26 4.26 1.17 2.95.9 9.95.9 13.21s.27 10.27-.9 13.21z'
  const upload = 'M39.645 18.753c.295-.77.461-1.613.461-2.491 0-3.816-3.096-6.912-6.912-6.912-1.418 0-2.743.432-3.838 1.166C27.362 7.06 23.639 4.742 19.37 4.742c-6.365 0-11.52 5.155-11.52 11.52 0 .194.007 .389.014 .583C3.832 18.263.938 22.108.938 26.63c0 5.724 4.644 10.368 10.368 10.368h26.496c5.09 0 9.216-4.126 9.216-9.216 0-4.457-3.168-8.179-7.373-9.029zM29.262 23.174H24.554v8.064c0 .634-.518 1.152-1.152 1.152h-3.456c-.634 0-1.152-.518-1.152-1.152V23.174h-4.709c-1.03 0-1.541-1.238-.814-1.966l7.589-7.589c.446-.446 1.181-.446 1.627 0l7.589 7.589c.727.727 .209 1.966-.814 1.966z'

  export default {
    name: "AnimationUploadImage",
    props: ['image'],
    data() {
      return {
        tl: null
      }
    },
    computed: {
      instagram() {
        return instagram
      }
    },
    methods: {
      init() {
        this.tl = new TimelineMax({paused: true});
        this.tl.to('#instagram', 0.5, {morphSVG: upload, fill: '#67ddff'}, 0)
      },
      play() {
        this.tl.play();
      },
      reverse() {
        this.tl.reverse();
      }
    },
    mounted() {
      this.init();
    }
  }
</script>

<style scoped>

</style>
