<template>
  <div>
    <input type="file" ref="image" style="display: none" @change="onChooseImage">
    <div class="upload-image" @click="onClickInputFile" @mouseenter="play" @mouseleave="reverse">
      <AnimationUploadImage ref="AnimationUploadImage" :image="image"/>
    </div>
    <el-dialog :title="$t('CropImage')" v-if="dialog" :visible.sync="dialog" width="70%" :append-to-body="true" :close-on-click-modal="false">
      <VueCropper ref="cropper"
                  :minCanvasWidth="50"
                  :minCanvasHeight="50"
                  :minCropBoxWidth="50"
                  :minCropBoxHeight="50"
                  :minContainerWidth="200"
                  :minContainerHeight="200"
                  :viewMode="1"
                  :zoomable="false"
                  :aspect-ratio="aspectRatio"
                  :src="blob"/>
      <span slot="footer" class="dialog-footer">
        <el-button type="primary" @click="onCropImage">{{$t('Crop')}}</el-button>
      </span>
    </el-dialog>
  </div>
</template>

<script>
  import AnimationUploadImage from './AnimationUploadImage'
  import VueCropper from 'vue-cropperjs'
  import 'cropperjs/dist/cropper.css';

  const typeValidateImage = ['image/jpeg', 'image/png'];

  function base64toBlob(dataURI) {
    var byteString;
    if (dataURI.split(',')[0].indexOf('base64') >= 0)
      byteString = atob(dataURI.split(',')[1]);
    else
      byteString = unescape(dataURI.split(',')[1]);
    var mimeString = dataURI.split(',')[0].split(':')[1].split(';')[0];
    var ia = new Uint8Array(byteString.length);
    for (var i = 0; i < byteString.length; i++) {
      ia[i] = byteString.charCodeAt(i);
    }
    return new Blob([ia], {type: mimeString});
  }

	export default {
		name: "CropImage",
    props: {
      aspectRatio: {
        type: Number,
        default: 1
      }
    },
    data() {
      return {
        dialog: false,
        file: null,
        image: null
      }
    },
    components: {
      VueCropper,
      AnimationUploadImage
    },
    computed: {
		  blob() {
		    if (this.file) {
		      return URL.createObjectURL(this.file)
        }
      }
    },
    methods: {
      onClickInputFile() {
        const {image} = this.$refs
        image.click();
      },
      onChooseImage() {
        const {image} = this.$refs || {}
        this.file = image.files && image.files[0] || {}
        if (typeValidateImage.includes(this.file.type)) {
          this.dialog = true
        }
      },
      onCropImage() {
        const {cropper} = this.$refs || {};
        this.image = cropper.getCroppedCanvas().toDataURL()
        this.$emit('input', base64toBlob(this.image))
        this.dialog = false
      },
      play() {
        let {AnimationUploadImage} = this.$refs;
        AnimationUploadImage.play();
      },
      reverse() {
        let {AnimationUploadImage} = this.$refs;
        AnimationUploadImage.reverse();
      }
    },
	}
</script>

<style scoped>
  #convert-image {
    width: 100%;
  }
</style>
<style scoped lang="scss">
  .upload-image {
    background-color: #fff;
    border: 1px dashed #d9d9d9;
    border-radius: 6px;
    box-sizing: border-box;
    width: 100%;
    height: 300px;
    text-align: center;
    position: relative;
    overflow: hidden;
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;

    &:hover {
      border-color: rgb(64, 158, 255);
    }
  }
  .fa-instagram {
    font-size: 60px;
    font-weight: 600;
    color: #131c3d;
    margin-bottom: 10px;
  }
</style>
