<template>
  <div>
    <invite-box />
    <invite-suggest />
    <invite-cupon />
    <invite-banner />
  </div>
</template>

<script>
  export default {
    name: 'InviteClient',
    layout: 'custom',
    middleware: 'auth',
    components: {
      InviteBox: () => import('~/components/invite/InviteBox'),
      InviteSuggest: () => import('~/components/invite/InviteSuggest'),
      InviteCupon: () => import('~/components/invite/InviteCupon'),
      InviteBanner: () => import('~/components/invite/InviteBanner'),
    },
    data() {
      return {
      }
    },
    methods: {
    },
    mounted() {
    }
  }
</script>
