<template>
    <div class="pb-120">
        <div class="wp-banner banner-b cl-white">
            <div class="img-thumb"><a href="javascript:;" title="" class="image"><img
                        src="~/assets/images/upload/banner-b12.png" alt="" class="img-fluid img-cover"></a></div>
            <div class="overlay"></div>
            <div class="content-banner center">
                <div class="title head text-white">{{$t("BannerTitleCreateProject")}}</div>
                <div class="intro text-white">{{$t("BannerDescCreateProject")}}</div>
            </div>
        </div>
    </div>
</template>
<script>
export default {

}
</script>

