<template>
  <div class="d-flex align-items-center justify-content-between group-general">
    <div class="box-increase-or-decrease">
      <div class="item-group unit-icon texts">{{ unit }}</div>
      <div class="currency-input">
        <input type="text"
          v-model="displayValue"
          @blur="isInputActive = false"
          @focus="isInputActive = true"
          @keyup="isInputActive = false"
          class="input-text color-black quantity form-control "/>
      </div>
      <div class="group-btn-increase-or-decrease">
        <span class="btn-minus btn-q augment">
          <button v-on:click="upPrice">
            <i class="fas fa-chevron-up filter-black"></i>
          </button>
        </span>
        <span class="btn-plus btn-q abatement">
          <button v-on:click="downPrice">
            <i class="fas fa-chevron-down filter-black"></i>
          </button>
        </span>
      </div>
    </div>
    <div class="currency-unit">
      <div class="unit">{{ currency }}</div>
    </div>
  </div>
</template>

<script>
  import { mapGetters } from 'vuex';

  export default {
    name: 'CurrencyInput',
    data() {
      return {
        isInputActive: false,
        currency: null,
        unit: null,
      };
    },
    props: ['value', 'price'],
    computed: {
      ...mapGetters({
        langClient: 'resource/languageClient',
        getLocale: 'getLocale',
      }),
      Qty() {
        if (this.getLocale === 'vi') return 100000;
        if (this.getLocale === 'ja') return 100;
        return 10;
      },
      displayValue: {
        get: function() {
          if (!this.value) return 0;
          if (this.isInputActive) {
            return this.value.toString()
          } else {
            return this.value.toString().replace(/(\d)(?=(\d{3})+(?:\.\d+)?$)/g, "$1,")
          }
        },
        set: function(modifiedValue) {
          let newValue = parseFloat(modifiedValue.toString().replace(/[^\d\.]/g, ""))
          if (isNaN(newValue)) {
            newValue = 0
          }
          this.$emit('input', newValue)
        }
      }
    },
    methods: {
      upPrice() {
        this.displayValue = parseInt(this.displayValue.toString().replace(/[^\d\.]/g, "")) + this.Qty;
      },
      downPrice() {
        this.displayValue = parseInt(this.displayValue.toString().replace(/[^\d\.]/g, "")) - this.Qty;
      },
      getUnitCurrency() {
        const langClient = this.langClient.find(l => l.code === this.getLocale);
        this.currency = langClient.currency_code;
        this.unit = langClient.unit;
      },
      setPrice() {
        if (this.price && parseInt(this.price) > parseInt(this.value)) {
          this.value = parseInt(this.price)
        }
      }
    },
    mounted() {
      this.getUnitCurrency();
      this.setPrice();
    }
  }
</script>

<style scoped>
  .currency-input input {
    width: calc(100% - 1px);
    font-size: 16px;
    border-radius: 0;
    font-weight: 500;
  }
  .box-increase-or-decrease .texts {
    min-width: 50px;
  }
  .form-control {
    height: calc(1.5em + 0.75rem + 4px);
  }
  .currency-unit {
    border-radius: 0 10px 10px 0;
    border-left: 1px solid #fff;
    background: #d2d2d2;
    height: 40px;
    line-height: 40px;
    padding: 0 4px 0 10px;
  }
</style>
