<template>
  <el-input 
    v-model="displayValue" 
    @change="minInput"
    class="color-black font-14 font-weight-500 quantity">
    </el-input>
</template>

<script>
  import { mapGetters } from 'vuex';

  export default {
    name: 'CurrencyInput',
    data() {
      return {
        isInputActive: false,
        currency: null,
        unit: null,
      };
    },
    props: ['value', 'price'],
    computed: {
      ...mapGetters({
        langClient: 'resource/languageClient',
        getLocale: 'getLocale',
      }),
      displayValue: {
        get: function() {
          if (!this.value) return 0;
          if (this.isInputActive) {
            return this.value.toString()
          } else {
            return this.value.toString().replace(/(\d)(?=(\d{3})+(?:\.\d+)?$)/g, "$1,")
          }
        },
        set: function(modifiedValue) {
          let newValue = parseFloat(modifiedValue.toString().replace(/[^\d\.]/g, ""))
          if (isNaN(newValue)) {
            newValue = 0
          }
          this.$emit('input', newValue)
        }
      }
    },
    methods: {
      getUnitCurrency() {
        const langClient = this.langClient.find(l => l.code === this.getLocale);
        this.currency = langClient.currency_code;
        this.unit = langClient.unit;
      },
      minInput() {
        if (this.value < this.price) {
          this.value = this.price;
          this.showNotification(this.$t('warning'), this.$t('CurrencyMinPriceFail', { price: this.formatNumber(this.price) }), 'warning')
        }
      },
      formatNumber(valueFilter) {
        const amount = valueFilter.toString().replace(/(\d)(?=(\d{3})+(?:\.\d+)?$)/g, "$1,");
        return this.getLocale === 'vi'
          ? `${amount}${this.unit}`
          : `${this.unit}${amount}`
      },
    },
    mounted() {
      this.getUnitCurrency();
    }
  }
</script>

<style scoped>
  .currency-input input {
    width: calc(100% - 1px);
    font-size: 18px;
    border-radius: 0;
  }
  .box-increase-or-decrease .texts {
    min-width: 50px;
  }
  .form-control {
    height: calc(1.5em + 0.75rem + 4px);
  }
  .currency-unit {
    border-radius: 0 10px 10px 0;
    border-left: 1px solid #fff;
    background: #d2d2d2;
    height: 40px;
    line-height: 40px;
    padding: 0 4px 0 10px;
  }
</style>
