<template>
  <section class="panel-body-choose panel-body-hp">
    <div class="list-hp row">
      <div class="col-xl-3 col-lg-4 col-md-6 col-sm-12 col-12 mb-4" v-for="(i, key) in popularWork" @click="clicked(key)">
        <div class="list-item-hp">
          <div class="img-thumb">
            <a href="javascript:;" title class="image">
              <img :src="i.image" alt class="img-fluid img-cover"/>
            </a>
            <a href="javascript:;" class="heart d-block"  :class="{'active': isClicked[key]}">
              <i class="far fa-circle"></i>
            </a>
          </div>
          <div class="overlay">
            <h3 class="wp-title">
              <a href="javascript:;" title class="name-title">{{i.name}}</a>
            </h3>
          </div>
        </div>
      </div>
    </div>
    <div class="footer-gallery">
      <button class="btn btn-success" @click="changeArr">{{$t("ChooseThemeCreateProject")}}</button>
    </div>
  </section>
</template>
<script>
  import {mapActions} from 'vuex'

  export default {
    props: ['list'],
    data() {
      return {
        active_el: 0,
        isClicked: [],
        objCate: [],
        popularWork: [],
      }
    },
    methods: {
      ...mapActions({
        searchWorkEnvironment: "resource/searchWorkEnvironment"
      }),
      clicked(key) {
        this.$set(this.isClicked, key, !this.isClicked[key])
        const objdt = this.popularWork.find((element, index) => index == key);
        if (this.isClicked[key] == true) {
          this.objCate.push(objdt)
        } else {
          const val = objdt.id;
          const list = this.objCate.filter(x => {
            return x.id != val;
          })
          this.objCate = list
        }
      },
      changeArr() {
        this.$emit('busListCate', this.objCate);
        this.$emit('closeModal', 0);
      }
    },
    mounted() {
      this.searchWorkEnvironment({
        sort: 'created_at',
        order: 'DESC',
      }).then(response => {
        this.popularWork = response.data;
        for (let i = 0; i <= this.popularWork.length; i++) {
          const keyclick = this.list.find(n => n.id == this.popularWork[i].id);
          this.isClicked.push(keyclick);
          if (this.isClicked[i]) {
            this.isClicked[i] = true
          }
          this.objCate = this.list
        } 
      })
    }
  }
</script>
