<template>
  <div class="bid">
    <div class="group-right-top mb-3">
      <div class="group-salary">
        {{ $t('webProjectSalary', {from: `${formatNumber(minPrice)}`, to: `${formatNumber(amount)}`}) }}
      </div>
      <div class="wp-rating d-flex">
        <div class="meta-rate d-flex">
          <div class="number-rate">{{ objData.company.rate }}</div>
          <el-rate
            v-model="objData.company.rate"
            :colors="['#77D353', '#77D353', '#77D353']"
            :disabled-void-color="'#d2d2d2'"
            disabled
          ></el-rate>
        </div>
      </div>
      <div
        class="number-rate"
      >{{ $t('ProjectNumberRate') }}: {{ objData.company.number_people_rate }}</div>
      <div class="waiting"> {{$t('PostBidProject')}} 
        <span v-if="!objData.project.hiring">{{$t('ProjectBidHiring')}}</span>
        <span v-else>{{ $t('personRemainingBidProject',{number: numberPeopleRemaining} )}}</span>
      </div>
      <div class="rule-grey"></div>
      <div class="group-select">
        <div class="title">{{ $t('EmploymentAuctionContentsToBid')}}</div>
        <div class="group-skills">
          <div class="bg-white border-radius-10">
            <select
              v-model="item.duration_id"
              class="select-gender input-text input w-100 btn-down-black color-black font-14">
              <option
                v-for="(du, k) in objData.durations"
                :key="`duration-item-${k}`"
                :value="du.duration_id"
                :label="du.duration_name"
              ></option>
            </select>
          </div>
        </div>
      </div>
      <div class="group-select select-salary">
        <div class="title">{{ $t('BidAmount(RecommendedMonthlyFee)') }}</div>
        <currency-input v-model="item.price" />
      </div>
      <div class="text-note mb-3">{{$t('commissionBidProject')}}</div>
      <div class="group-select mb-2">
        <div class="title">{{ $t('ReasonForBidding') }}</div>
        <textarea
          v-model="item.content"
          rows="5"
          class="border-radius-10 p-3 w-100 font-14"
          :placeholder="$t('Example:AppealToClients')"
        ></textarea>
      </div>
      <div class="form-group checkbox font-14">
        <input v-model="item.private" value="1" type="checkbox" id="check-2" />
        <label for="check-2" class="check">{{ $t('ProjectApplyStatus')}}</label>
      </div>
      <div class="modal-spotech">
        <div class="modal-body p-0">
          <div
            class="form-group link-social text-center mb-3"
            v-bind:class="{ 
              'disabled': isOwner() || !objData.project.hiring || !numberPeopleRemaining
            }">
            <el-button
              type="button"
              class="btn-red social button-a-13-2"
              :loading="loading1"
              @click="onSaveBidProject">
              <span class="text-link">{{ bidTitle }}</span>
            </el-button>
          </div>
          <div class="gourp-ors text-center">
            <div class="rule-or"></div>
            <span class="item-or">{{$t('Or')}}</span>
          </div>
          <div 
            class="form-group link-social text-center mb-3"
            v-bind:class="{ 
              'disabled': !objProject.company_id
            }">
            <el-button
              type="button"
              class="register social button-a-13-2"
              :loading="loading2"
              @click="onSaveCopyProject">
              <span class="text-link">{{ $t('PostSimilarProjects') }}</span>
            </el-button>
          </div>
        </div>
      </div>
      <div class="text-center waiting">{{ $t('ProjectNumberBrowsing', { number: itemProject.hit ? itemProject.hit  : 0 })}}</div>
    </div>
    <div class="group-right-bottom">
      <a
        href="javascript:;"
        @click="showModalReport"
        class="text-link text-center d-block text-white"
        data-toggle="modal"
      >{{ $t('ReportInappropriateContent') }}</a>
    </div>
  </div>
</template>

<script>
import { mapState, mapActions, mapGetters } from "vuex";
import _ from "lodash";
import eventBus from "~/services/bus";

const onlyPositiveInteger = value => value != null && parseInt(value) > 0;
export default {
  name: "ApplyProject",
  props: ["objData", "applied"],
  middleware: "auth",
  data() {
    return {
      isShowModalIndex: 0,
      loading1: false,
      loading2: false,
      timeout: null,
      item: {
        id: 0,
        project_receive_id: 0,
        company_id: 0,
        duration_id: 1,
        price: 0,
        currency_code: "",
        content: "",
        private: 0
      },
      objProject: {
        company_id: 0,
        project_id: 0
      },
      unit: "",
      numberBid: 0,
      isAppliedProject: false,
      baseUnit: { ja: '¥', vi: 'đ', en: '$'},
    };
  },
  components: {
    CurrencyInput: () => import("./currencyInput"),
  },
  computed: {
    ...mapState({
      duration: state => state.resource.duration,
      currency: state => state.currency,
      user: state => state.auth.authUser.user,
    }),
    ...mapGetters({
      langClient: 'resource/languageClient',
      getLocale: 'getLocale',
    }),
    loggedIn() {
      return this.$store.getters.loggedIn;
    },
    bidTitle() {
      let title = this.$t('BidTheDesiredCompensationAmount');
      if (this.objData.project.is_bid || this.isAppliedProject) {
        title = this.$t('BidAgain');
      }
      return title;
    },
    numberPeopleRemaining() {
      if (this.objData.project.number_accepted) {
        return this.objData.project.number_people - this.objData.project.number_accepted  
      }
      return this.objData.project.number_people 
    },
    minPrice() {
      return this.user.price_min[this.getLocale].replace(/[!¥@#$đ%^&*]/g, '');
    },
    itemProject() {
      return this.objData.project;
    },
    amount() {
      return this.itemProject[`price_${this.getLocale}`] 
        ? this.itemProject[`price_${this.getLocale}`] 
        : parseInt(this.minPrice.replace(/[^\d\.]/g, ""));
    },
  },
  methods: {
    ...mapActions({
      saveBidProject: "project/applyProject/saveBidProject",
      copyProject: "project/post/copyProject"
    }),
    formatNumber(valueFilter) {
      if(!this.getLocale || !valueFilter) return;
      const amount = valueFilter.toString().replace(/(\d)(?=(\d{3})+(?:\.\d+)?$)/g, "$1,");
      return this.getLocale === 'vi'
        ? `${amount}${this.baseUnit[this.getLocale]}`
        : `${this.baseUnit[this.getLocale]}${amount}`
    },
    showModalReport() {
      eventBus.$emit('onShowModalReport');
    },
    onShowModal(index) {
      this.isShowModalIndex = index;
    },
    onSaveBidProject() {
      if (this.objData.project.is_bid) {
        this.item.id = this.objData.project.bid.id
      }
      if (!this.loggedIn) {
        this.loading1 = true;
        eventBus.$emit("onLogin");
        return;
      } else {
        if (this.item.price < parseInt(this.minPrice.replace(/[^\d\.]/g, ""))) {
          this.showNotification(this.$t('warning'), this.$t('CurrencyMinPriceFail', { price: this.formatNumber(this.minPrice) }), 'warning')
        }else if (this.item.price > this.amount) {
          this.showNotification(this.$t('warning'), this.$t('CurrencyMaxPriceFail', { price: this.formatNumber(this.amount) }), 'warning')
        }else{
          this.loading1 = true;
          this.saveBidProject(this.item)
            .then(res => {
              this.isAppliedProject = true;
              this.setDefault();
              if (res.success) {
                this.numberBid++;
                this.$router.push(this.localePath({
                  name: 'completebid',
                  query: {
                    type: 'project',
                    name: this.objData.company.title
                  }
                }));
              } else {
                this.showNotification(this.$t('Error'), res.message, 'error');
              }
            })
            .catch(error => {
              this.showNotification(this.$t('Error'), error.message, 'error');
            });
          this.timeout = setTimeout(() => {
            this.loading1 = false;
          }, 3000);
        }
      }
    },
    onSaveCopyProject() {
      const queryString = this.assignQueryNotNull(this.objProject);
      if (!this.loggedIn) {
        this.loading2 = true;
        this.onShowModal(3);
      } else {
        this.loading2 = true;
        this.copyProject(this.objProject)
          .then(res => {
            if (res.success) {
              this.$router.push(this.localePath({name: 'project-create', query: queryString}));
            } else {  
              this.showNotification(this.$t('Error'), res.message, 'error');
            }
          })
          .catch(error => {
            this.showNotification(this.$t('Error'), error.message, 'error');
          });
        this.timeout = setTimeout(() => {
          this.loading2 = false;
        }, 3000);
      }
    },
    isOwner() {
      return this.objData.project.is_owner || _.has(this.currentType, 'company_id');
    },
    setDefault() {
      this.item.project_receive_id = this.objData.project.project_id;
      if (this.itemProject.is_bid) {
        this.item.price = this.itemProject.bid[`price_${this.getLocale}`];
        this.item.duration_id = this.itemProject.bid.duration_id;
        this.item.content = this.itemProject.bid.content;
        this.item.private = this.itemProject.bid.private;
      }else {
        this.item.price = this.minPrice;
        this.item.duration_id = 1;
        this.item.content = "";
        this.item.private = 0;
      }
      this.objProject.project_id = this.objData.project.project_id;  
      this.objProject.company_id = _.has(this.currentType, "company_id")
        ? this.currentType.company_id
        : 0;
      const langClient = this.langClient.find(lang => lang.code === this.getLocale);
      this.item.currency_code = _.isEmpty(langClient)
        ? this.item.currency_code
        : langClient.currency_code;
    }
  },
  mounted() {
    this.unit = this.$store.getters.getCurrencyUnit;
    this.currentType = this.$store.getters.getCompany;
    this.numberBid = this.objData.project.number_bid;
    this.setDefault();
  }
};
</script>

<style scoped>
.el-button,
button {
  padding: 0;
}

.box-salary .input-text,
.box-salary.wrap-quantity .input-text {
  width: calc(100% - 66px);
}

.unit-icon {
  text-transform: uppercase;
  font-weight: bold;
}

.wp-rating .meta-rate .list-star > li > i.no-rate {
  color: #bfbfbf;
}

.number-rate {
  font-size: 14px;
}

.disabled {
  cursor: not-allowed;
}

.disabled > button {
  background: #bfbfbf !important;
  pointer-events: none;
}
.box-increase-or-decrease {
  border-radius: 10px 0 0 10px;
}
.group-top-content_c14 .group-right .group-right-top .modal-spotech .modal-body .link-social .btn-red:hover{
  background: #ef363a;
}
.modal-spotech .modal-body .link-social .social{
  border: none;
}
.modal-spotech .modal-body .link-social .social:hover .text-link{
  color: #fff;
}
.modal-spotech .modal-body .link-social .social:hover{
  background: #77d353;
}
.z-top {
  z-index: 1060;
}
</style>
