<template>
  <form class="form">
    <div class="title">{{$t("AddProjectExpertRuleTitle")}}</div>
    <div class="col-md-12" v-for="(v, key) in bids" :key="'roleBid'+key">
        <div class="form-check">
        <label class="form-check-label" :for="'roleBid' + v.id">
            <input
            type="checkbox"
            class="form-check-input"
            :id="'roleBid' + v.id"
            :value="v.id"
            @click="clicked(key)"
            />
            {{v.name}}
            <i class="input-helper"></i>
        </label>
        </div>
    </div>
    <div class="form-group text-center">
        <br />
        <button type="button" class="btn btn-success" style="color: #2C96EC">
        <span class="text-link" style="color:white;" @click="changeArr">Send</span>
        </button>
    </div>
    </form>
</template>
<script>
import { mapState, mapActions } from 'vuex'
export default {
    data() {
            return {
                active_el:0,
                isClicked: [],
                roleBids:[],
                bids:[],
                arrBid:[]
            }
    },
    methods:{
      ...mapActions({
            searchRoleIds:"resource/searchRoleId"
        }),
        clicked(key) {
            this.$set(this.isClicked, key, !this.isClicked[key])
            const objdt= this.bids.find((element, index) => index == key);
            if(this.isClicked[key] == true){
                this.arrBid.push(objdt)
            }else{
                const val = objdt.id;
                const list = this.arrBid.filter(x => {
                    return x.id != val;
                })
                this.arrBid = list
            }
            console.log(this.arrBid)
        },
        changeArr(){
            this.$emit('busListRid',this.arrBid);
            this.$emit('closeModal', 0);
        }
    },
    computed:{
    },
    mounted(){
        this.searchRoleIds().then(response => {
            this.bids = response.data
        });
    }
}
</script>
