<template>
  <div>
    <div>
      <div class="modal-body wp-modal-body">
        <form class="form">
          <div class="title">Send Ticket</div>
          <div class="form-group group-or text-center">
            <div class="rule-or"></div>
            <div class="text-or">または</div>
          </div>
          <el-form :model="objData" ref="objData">
            <el-form-item prop="email">
              <el-input
                type="textarea"
                :rows="4"
                placeholder="Please input"
                v-model="objData.content"
                :class="{'border-red' : $v.objData.content.$dirty && $v.objData.content.$invalid}"
                v-model.trim="$v.objData.content.$model"
                @textarea="$v.objData.content.$touch()"
              ></el-input>
            </el-form-item>
            <div class="form-group link-social text-center mb-3">
              <el-button
                type="success"
                class="read d-block text-center"
                style="width:100%"
                :loading="loading_button"
                @click="sendTickets"
              >Send</el-button>
            </div>
          </el-form>
        </form>
      </div>
    </div>
  </div>
</template>

<script>
import { mapActions } from "vuex";
import { required } from "vuelidate/lib/validators";

export default {
  data() {
    return {
      loading_button: false,
      objData: {
        ticket_id: 0,
        object_name: "project",
        object_id: this.project_id,
        company_id: 0,
        content: ""
      }
    };
  },
  props: ["project_id"],
  validations: {
    objData: {
      content: { required }
    }
  },
  methods: {
    ...mapActions({
      sendTicket: "project/sendTicket"
    }),
    sendTickets() {
      let invalid = this.$v.objData.$invalid;
      if (invalid) {
        this.$v.objData.$touch();
        return;
      }
      this.loading_button = true;
      this.sendTicket(this.objData)
        .then(response => {
          this.loading_button = false;
          this.$emit("closeModal", 0);
          this.$notify({
            title: "Send Success",
            message: "Send Success",
            type: "success"
          });
        })
        .catch(err => {
          this.loading_button = false;
          this.$notify({
            title: "Send Error",
            message: "Send Success",
            type: "error"
          });
        });
    }
  },
  mounted() {}
};
</script>

<style>
</style>
