<template>
  <section>
    <div class="content-modal_c14">
      <div class="modal-body p-3 group-modal-content_c14">
        <div class="name-title">{{ $t('ReasonForReporting') }}</div>
        <div class="intro">{{ $t('NotReportContent') }}</div>
        <div class="list-option">
          <div class="item" v-for="(i, key) in listOptionReport" :key="key">
            <div class="d-flex justify-content-between align-items-center">
              <div class="texts">
                {{ i.option_name }}
              </div>
              <label class="form-checkbox">
                <input type="radio" :value="i.option_id" v-model="objAddReport.option_id" class="input-checkbox" name="radio">
                <span class="checkmark"></span>
              </label>
            </div>
          </div>
        </div>
      </div>
      <div class="modal-footer p-3 custom text-center">
        <div class="d-flex w-100">
          <el-button @click="onAddReport" :loading="loading" class="btn-links ml-auto">{{ $t('Report') }}</el-button>
        </div>
      </div>
    </div>
  </section>
</template>

<script>
import {mapState, mapActions} from "vuex";

export default {
  name: 'ReprtModalProject',
  props: ['objData'],
  data() {
    return{
      loading: false,
      timeout: null,
      objGetReport:{
        object_name : '',
      },
      objAddReport:{
        option_id: null,
        object_id: 0,
        type: '',
        content: ''
      },
      listOptionReport:[],
    }
  },
  methods:{
    ...mapActions({
      getReportOption: "report/getReportOption",
      addReport: "report/addReport",
    }),
    getOptionReport(){
      this.getReportOption(this.objGetReport)
      .then((res) => {
        this.listOptionReport = res.data;
      })
    },
    onAddReport(){
      this.loading = true;
      this.addReport(this.objAddReport)
      .then((res) => {
        console.log(res);
        if (res.success) {
          this.timeout = setTimeout(() => {
            this.loading = false
            this.$emit('onShowModal', 0);
          }, 500)
        } else {
          this.showNotification(this.$t('Error'), res.message , 'error');
        }
      })
      .catch(error => {
        this.showNotification(this.$t('warning'), error.message, 'warning');
      })
      this.timeout = setTimeout(() => {
        this.loading = false
      }, 1000)
    },
    setDefault(){
      if (this.objData && this.objData.project ) {
        this.objGetReport.object_name = this.objAddReport.type = 'project';
        this.objAddReport.object_id = this.objData.project.project_id;
      }
      if (this.objData && this.objData.members ) {
        this.objGetReport.object_name = this.objAddReport.type = 'expert';
        this.objAddReport.object_id = this.objData.members.id;
      }
    },
  },
  mounted(){
    this.getOptionReport();
    this.setDefault();
  }
}
</script>

<style lang="css">

  .list-option .item .form-checkbox {
    display: block;
    position: relative;
    padding-left: 35px;
    margin-bottom: 25px;
    cursor: pointer;
    font-size: 20px;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
  }
  .list-option .item .form-checkbox .input-checkbox {
    position: absolute;
    opacity: 0;
    cursor: pointer;
    height: 0;
    width: 0;
  }
  .list-option .item .form-checkbox input:checked ~ .checkmark {
    background-color: #77d353; }
  .list-option .item .form-checkbox .checkmark {
    position: absolute;
    top: 0;
    left: 0;
    height: 25px;
    width: 25px;
    border-radius: 50%;
    border: 2px solid #77d353; }
    @media (max-width: 480px) {
      .list-option .item .form-checkbox .checkmark {
        height: 20px;
        width: 20px;
      }
    }
    .create-like .custom .btn-links{
      width: 0;
      border: 0;
    }

</style>
