<template>
  <div>
    <div class="group-vote_c14">
      <div class="rule-bottom-35">
        <div class="row margin-bottom-40">
          <div class="col-sm-6 col-12 mb-3" v-for="(i, key) in applied.data">
            <div class="item-vote_c14">
              <div class="group-table-general">
                <div class="list-item">
                  <div class="group-item">
                    <div class="d-flex align-items-center">
                      <div class="img-thumb">
                        <img :src="i.bid_profile.avatar" alt />
                      </div>
                      <div class="info">
                        <div class="info-up">
                          <div class="d-flex align-items-center">
                            <div class="tag">#{{id_bid(key)}} -</div>
                            <div class="name">
                              <nuxt-link :to="localePath({name: 'expert-p-id', params: {id: i.bid_profile.id}})" class="item">
                                {{i.bid_profile.first_name}} {{i.bid_profile.last_name}}
                              </nuxt-link>
                            </div>
                            <div class="flag">
                              <img :src="i.bid_profile.nation_icon" alt />
                            </div>
                          </div>
                        </div>
                        <div class="info-down">
                          {{ formatDate( i.created_at) }} - {{ i.duration_name }}
                          
                        （{{ $t('ProjectDetailBidPrice') }} : {{ formatNumber(i[`price_${locale}`]) }}）
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
              <div class="group-setting" v-if="i.private == 1">
                <a href="javascript:;" class="text-link">{{ $t('ProjectDetailBidPrivate') }}</a>
              </div>
              <div v-else>
                <div class="group-btn mb-3" v-if="checkLanguage(key)">
                  <a @click="translateBid(i.id, key)"
                    href="javascript:;"
                    class="read text-link text-center"
                  >{{ $t('ProjectDetailTranslate') }}</a>
                </div>
                <div class="description mb-4 font-16 text-white">{{ i.content }}</div>
                <div
                  class="translate mb-4 text-white"
                  v-if="contentTranslate[key]"
                >{{ contentTranslate[key] }}</div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <ul class="pagination d-flex align-items-center margin-bottom-40" v-if="applied.totalRow > 2">
      <li v-for="i in numberPage">
        <a
          href="#"
          class="item"
          v-bind:class="{ 'active': activePage(i) }"
          @click="changePage(i, $event)"
        >{{ i }}</a>
      </li>
    </ul>
  </div>
</template>

<script>
import { translateContentBid } from "~/services/translate";
import {mapGetters} from 'vuex';

export default {
  name: "ProjectApplied",
  data() {
    return {
      contentTranslate: [],
      numberPage: 0,
      pageSize: 2,
      active: 1,
      baseUnit: { ja: '¥', vi: 'đ', en: '$'},
    };
  },
  props: {
    applied: {
      type: [Object, Array]
    },
    total: {
      type: Number
    },
    changePageApplied: {
      type: Function
    }
  },
  computed: {
    ...mapGetters({
      locale: 'getLocale',
    })
  },
  filters: {
    formatCurrency(value) {
      return Math.round(value).toString().replace(/(\d)(?=(\d{3})+(?!\d))/g, '$1,')
    }
  },
  methods: {
    formatNumber(valueFilter) {
      if(!this.locale || !valueFilter) return;
      const amount = valueFilter.toString().replace(/(\d)(?=(\d{3})+(?:\.\d+)?$)/g, "$1,");
      return this.locale === 'vi'
        ? `${amount}${this.baseUnit[this.locale]}`
        : `${this.baseUnit[this.locale]}${amount}`
    },
    formatDate(value) {
      const date = new Date(value),
        month = date.getMonth() > 9 ? date.getMonth() : `0${date.getMonth()}`,
        day = date.getDate() > 9 ? date.getDate() : `0${date.getDate()}`;
        return `${date.getFullYear()+ this.$t('years')}${month +  this.$t('months')}${day + this.$t('days')}`;
    },
    id_bid(key) {
      return (key + this.applied.current_page)+ (this.applied.current_page-  1) 
    },
    checkLanguage(index) {
      return (
        this.applied.data[index].language_code_source !==
        this.$store.getters.getLocale
      );
    },
    async translateBid(bidId, index) {
      const langCode = this.$store.getters.getLocale,
        response = await translateContentBid({
          project_bid_id: bidId,
          language_code: langCode
        });
      this.contentTranslate[index] = response.data.content;
      this.$forceUpdate();
    },
    activePage(index) {
      return this.active === index;
    },
    changePage(index, $e) {
      $e.preventDefault();
      if (index === this.active) return;
      this.active = index;
      this.changePageApplied(index);
    },
    setNumberPage() {
      this.numberPage = parseInt(this.total / this.pageSize);
      const mod = this.total % this.pageSize;
      if (mod) {
        this.numberPage = this.numberPage + 1;
      }
    },
  },
  created() {
    this.setNumberPage();
  }
};
</script>

<style scoped>
.translate {
  border-top: 1px solid #987654;
  padding: 10px;
  font-size: 14px !important;
}
</style>
