<template>
  <div class="item-prd item-prd-vote" v-if="item">
    <div class="slide-item-prd swiper-container-initialized swiper-container-horizontal" >
        <div class="img-thumb">
          <nuxt-link class="image" :to="localePath({name: 'project-detail-id', params: { id: projectId } })">
            <ElImageLazy :src="projectCover"></ElImageLazy>
          </nuxt-link>
          <Favorite class="heart d-block" v-if="projectId" v-bind:type="1" :object_id="projectId" :is_yourself="project.is_owner"></Favorite>
        </div>
        <div class="info">
          <div class="name-head">{{ projectCategoryTitle }}</div>
          <div class="name-title">
            <nuxt-link class="title line-2"
              :to="localePath({name: 'project-detail-id', params: { id: projectId } })">
              {{ projectTitle }}
            </nuxt-link>
          </div>
          <div class="wp-salary">{{ $t('webBidReward') }}：{{ formatNumber(projectStartPrice) }} - {{ formatNumber(projectEndPrice) }}</div>
          <div class="wp-time">{{ $t('webDuration') }}：{{ durationName }}</div>
          <div class="wp-rating d-flex">
            <div class="meta-rate d-flex">
                <div class="number-rate">{{ projectRate }}</div>
              <el-rate v-model="item.rate"
               :colors="['#77D353', '#77D353', '#77D353']"
               :disabled-void-color="'#d2d2d2'"
               disabled></el-rate>
            </div>
          </div>
      </div>
    </div>
  </div>
</template>
<script>
  import { mapGetters, mapState } from "vuex";
  export default {
    name: 'ProjectSummary',
    components:{
      ElImageLazy: () => import('~/components/share/ElImageLazy'),
      Favorite: () => import('~/components/share/header/Favorite')
    },
    props: {
      item: {
        type: Object,
        default: null
      }
    },
    computed: {
      ...mapGetters({
          getLocale: 'getLocale',
      }),
      ...mapState({
        user: state => state.auth.authUser.user,
      }),
      project() {
        return this.item && this.item.project ? this.item.project : null;
      },
      projectId() {
        return this.project && this.project.project_id ? parseInt(this.project.project_id) : 0;
      },
      projectCategoryTitle() {
        return this.project && this.project.category_title ? this.project.category_title : '';
      },
      projectTitle() {
        return this.project && this.project.title ? this.project.title : '';
      },
      projectCover() {
        return this.project && this.project.image ? this.project.image : '';
      },
      projectStartPrice() {
        const min = this.user.price_min[this.getLocale];
        return min.replace(/[!¥@#$đ%^&*]/g, '');
      },
      projectEndPrice() {
        return this.project && this.project[`price_${this.getLocale}`] ? this.project[`price_${this.getLocale}`] : this.projectStartPrice;
      },
      durations() {
        return this.item && this.item.durations ? this.item.durations : [];
      },
      durationName() {
        let arr = [];
        if( this.durations.length ) {
          this.durations.forEach(duration => arr.push( duration.duration_name ) );
        }
        return arr.length ? arr.join(', ') : '';
      },
      projectRate() {
          return this.item != null && this.item.rate != null ? this.item.rate : 0;
      }
    },
    data() {
      return {
        config: {
          isIndicatorActive: true,
          starStyle: {
            fullStarColor: "#77D353",
            emptyStarColor: "#d2d2d2",
            starWidth: 12,
            starHeight: 12
          }
        },
        baseUnit: { ja: '¥', vi: 'đ', en: '$'},
      }
    },
    methods: {
      formatNumber(valueFilter) {
        if(!this.getLocale || !valueFilter) return;
        const amount = valueFilter.toString().replace(/(\d)(?=(\d{3})+(?:\.\d+)?$)/g, "$1,");
        return this.getLocale === 'vi'
            ? `${amount}${this.baseUnit[this.getLocale]}`
            : `${this.baseUnit[this.getLocale]}${amount}`
      },
    }
  };
</script>
