<template>
  <div class="container page-dashboard">
    <div class="group-times">
      <div class="group">
        <div class="row w-100">
          <div class="col-12">
            <div class="row">
              <div class="col-lg-3 col-12 mb-lg-0 mb-sm-4 mb-3 d-flex align-items-center">
                <div class="intro-yourself">
                  <div class="name mb-1">Hi, {{ user_info.name }}</div>
                  <div class="greeting mb-1">{{ $t('WelcomeBack') }}</div>
                  <div class="address mb-1">
                    <span class="icon"><i class="fa fa-map-marker-alt"></i></span>
                    <span class="texts address-infor"> {{ user_info.address }} </span>
                  </div>
                  <div class="switch-typeuser">
                    <a @click="switchTypeUser()" href="javascript:;">
                      {{ objData.company_id != 0
                        ? $t('SwitchToExpertProfile')
                        : $t('SwitchToClientProfile')
                      }}
                   </a>
                  </div>
                </div>
              </div>
              <div class="col-lg-9 col-12">
                <div class="group-oclock">
                  <div class="row">
                    <div v-for="(item, key) in clocks" :key="'clock-item--'+key" class="col-md-3 col-sm-6 col-12 mb-lg-0 mb-sm-4 mb-3">
                      <div class="item text-center" @click="changeClock(item, key)">
                        <div class="img-thumb">
                          <a href="javascript:;" class="image" data-toggle="modal">
                            <Oclock :timezone="item.gmt"/>
                          </a>
                        </div>
                        <div class="info">
                          <a href="javascript:;" class="title" data-toggle="modal">{{ item.name }}</a>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
                <modal v-if="isShowModal" @close="closeModal" class="modal-spotech" :header="false">
                  <template slot="body">
                    <div>
                      <div class="title mb-hp text-center">{{ $t('TitleChosenClock') }}</div>
                      <el-radio-group v-model="timezone">
                        <div class="item-option" v-for="(i, key) in suggest_clocks" :key="'option--'+key">
                          <el-radio :label="i.id" :value="i.id">{{ i.name }}</el-radio>
                        </div>
                      </el-radio-group>
                      <div class="apply"><a class="btn-apply" @click="saveClock()" href="javascript:;">{{ $t('dashboardApply') }}</a></div>
                    </div>
                  </template>
                </modal>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>

    <div class="group-table-info">
      <ul class="row no-gutters list-item">
          <li class="col-xl-3 col-lg-6 col-md-6 col-12">
              <div class="content-table-info text-center h-100">
                  <header class="head-info">
                      <div class="title">{{ $t('GeneralPVRanking') }}</div>
                      <div class="desc">({{ objData.company_id != 0 ? $t('ClientUsers') : $t('ExpertUsers') }})</div>
                  </header>
                  <div class="group-number mb-4 d-flex align-items-center">
                      <div class="group w-100">
                          <div class="rw-1 mb-1">{{ data.generaRanking.position == 0 ? $t('unknown') : data.generaRanking.position }}/{{ data.generaRanking.total }}</div>
                          <div class="rw-3 mb-1" v-if="data.generaRanking.increment && data.generaRanking.increment != 0">
                            {{$t('ComparedToLastWeek')}}
                            <span style="font-size: 16px">{{ data.generaRanking.increment }}</span>
                            <i :class="!data.generaRanking.is_down == '+' ? 'fas fa-arrow-up' : 'fas fa-arrow-down'"></i>
                          </div>
                      </div>
                  </div>
                  <div class="intro mb-1">{{$t('GeneralPV')}}</div>
                  <div class="intro mb-1">({{ total_view ? total_view : 0 }})</div>
              </div>
          </li>
          <li class="col-xl-3 col-lg-6 col-md-6 col-12">
              <div class="content-table-info text-center h-100">
                  <div class="top-content">
                    <header class="head-info">
                        <div class="title">{{ objData.company_id != 0 ? $t('TotalProject') : $t('TotalProfile') }}</div>
                    </header>
                    <div class="group-number-up wp-numbers">
                        <div class="rw-1 mb-1">{{ data.all_bid_project }}</div>
                    </div>
                  </div>
                  <div class="rule mt-4 mb-4"></div>
                  <header class="head-info">
                    <div class="title">{{$t('UrgentActionRequired')}}</div>
                  </header>
                  <div class="group-number-down wp-numbers">
                      <div class="rw-1 mb-1">{{ data.project_not_finished }}</div>
                  </div>
              </div>
          </li>
          <li class="col-xl-3 col-lg-6 col-md-6 col-12">
              <div class="content-table-info text-center h-100">
                <div class="top-content">
                  <header class="head-info" v-if="objData.company_id != 0">
                    <div class="title">{{ $t('ProjectPV') }}</div>
                    <div class="intro">
                      <nuxt-link :to="localePath({name: 'project-create' })" target="_blank">
                        {{ $t('createProject') }}
                      </nuxt-link>
                    </div>
                  </header>
                  <header class="head-info" v-else>
                    <div class="title">{{ $t('ProfilePV') }}</div>
                    <div class="intro">
                      <nuxt-link :to="localePath({name: 'expert' })" target="_blank">
                        {{ $t('EditYourProfile') }}
                      </nuxt-link>
                    </div>
                  </header>
                  <div class="group-number-up wp-numbers">
                    <div class="rw-1 mb-1">{{ data.profile.page_view }}</div>
                    <div v-if="data.profile.increment != 0" class="rw-3 mb-1">{{ data.profile.increment }}% <i class="fas" :class="data.profile.is_down ? 'fa-arrow-down' : 'fa-arrow-up'"></i></div>
                    <div v-if="data.profile.increment != 0" class="rw-3 mb-1">({{ $t('ComparedToLastWeek') }})</div>
                  </div>
                </div>
                <div class="rule mt-4 mb-4"></div>
                <header class="head-info">
                  <div class="title">{{ $t('TotalCost') }} ({{ $t('UnConfirmed') }})</div>
                  <div class="intro">
                    <nuxt-link :to="localePath({name: 'account-settings' })" target="_blank">
                      {{ $t('CheckFutureReceipts') }}
                    </nuxt-link>
                  </div>
                </header>
                <div class="group-number-down wp-numbers">
                    <div class="rw-1 mb-1">{{ data.total_receive | formatCurrency }}</div>
                </div>
              </div>
          </li>
          <li class="col-xl-3 col-lg-6 col-md-6 col-12">
              <div class="content-table-info text-center h-100">
                <div class="top-content">
                  <header class="head-info">
                      <div class="title">{{ $t('storyPV') }}</div>
                      <div class="intro">
                        <nuxt-link :to="localePath({name: 'blog-add' })" target="_blank">
                          {{ $t('PostaStory') }}
                        </nuxt-link>
                      </div>
                  </header>
                  <div class="group-number-up wp-numbers">
                    <div class="rw-1 mb-1">{{ data.blog.page_view }}</div>
                    <div v-if="data.blog.increment != 0" class="rw-3 mb-1">-{{ data.blog.increment }}% <i class="fas" :class="data.blog.is_down ? 'fa-arrow-down' : 'fa-arrow-up'"></i></div>
                    <div v-if="data.blog.increment != 0" class="rw-3 mb-1">({{ $t('ComparedToLastWeek') }})</div>
                  </div>
                </div>
                  <div class="rule mt-4 mb-4"></div>
                  <header class="head-info">
                    <div class="title">{{ $t('TotalCost') }} ({{ $t('Confirmed') }})</div>
                    <div class="intro">
                      <nuxt-link :to="localePath({name: 'account-settings' })" target="_blank">
                        {{ $t('CheckPastReceipts') }}
                      </nuxt-link>
                    </div>
                  </header>
                  <div class="group-number-down wp-numbers">
                      <div class="rw-1 mb-1">{{ data.total_payment }}</div>
                  </div>
              </div>
          </li>
      </ul>
    </div>
    <div class="title title-32">{{ $t('CheckTheProgressofYourProject') }}</div>
    <client-only>
    <div class="filters row color-white">
      <div class="item-filter col-md-12">
        <label>{{ $t('PageContent') }}</label>

          <el-select v-model="objFilter.project_id"
            :placeholder="$t('All')"
            @change="getData">
            <el-option :label="$t('All')" :value="0" v-if="data.all_project.length != 1"></el-option>
            <el-option
              v-for="item in data.all_project"
              :key="'item-'+item.id"
              :label="titleProject(item.title)"
              :value="item.id">
            </el-option>
          </el-select>

      </div>
    </div>
    </client-only>
    <client-only>
    <div class="filter-type row no-gutters color-white">
      <div class="item col text-center" data-id="#body-1" @click="filterTab(1, 'posted')">
        <div class="action" :class="{ 'active' : is_tab == 1}"><i class="far fa-circle"></i><span>{{ $t('Posted') }}</span></div>
          <el-progress type="circle" color="#77d353" :stroke-width="10" :percentage="percents.tab1"></el-progress>
        <div>{{ statusTab(percents.tab1) }}</div>
      </div>
      <div class="item col text-center" data-id="#body-2" @click="filterTab(2, 'bid')">
        <div class="action" :class="{ 'active' : is_tab == 2}"><i class="far fa-circle"></i><span>{{ $t('dashboardBiding') }}</span></div>
        <el-progress type="circle" color="#77d353" :stroke-width="10" :percentage="percents.tab2"></el-progress>
        <div>{{ statusTab(percents.tab2) }}</div>
      </div>
      <div class="item col text-center" data-id="#body-3" @click="filterTab(3, 'change')">
        <div class="action" :class="{ 'active' : is_tab == 3}"><i class="far fa-circle"></i><span>{{ $t('dashboardAdjustTime') }}</span></div>
        <el-progress type="circle" color="#77d353" :stroke-width="10" :percentage="percents.tab3"></el-progress>
        <div>{{ statusTab(percents.tab3) }}</div>
      </div>
      <div class="item col text-center" data-id="#body-4" @click="filterTab(4, 'progress')">
        <div class="action" :class="{ 'active' : is_tab == 4}"><i class="far fa-circle"></i><span>{{ $t('dashboardProcessing') }}</span></div>
        <el-progress type="circle" color="#77d353" :stroke-width="10" :percentage="percents.tab4"></el-progress>
        <div>{{ statusTab(percents.tab4) }}</div>
      </div>
      <div class="item col text-center" data-id="#body-5" @click="filterTab(5, 'review')">
        <div class="action" :class="{ 'active' : is_tab == 5}"><i class="far fa-circle"></i><span>{{ $t('dashboardReview') }}</span></div>
        <el-progress type="circle" color="#77d353" :stroke-width="10" :percentage="percents.tab5"></el-progress>
        <div>{{ statusTab(percents.tab5) }}</div>
      </div>
    </div>
    </client-only>
    <client-only>
      <div class="show-body">
        <Body1 v-if="is_tab === 1 && projects" :projects="projects" :blogs="blogs" :pageSize="objFilter.pageSize"/>
        <Body2 v-if="is_tab === 2 && projects" :project="projects" :pageSize="objFilter.pageSize"/>
        <Body3 v-if="is_tab === 3 && projects" :projects="projects" :pageSize="objFilter.pageSize"/>
        <Body4 v-if="is_tab === 4 && projects" :projects="projects" :payments="payments" :pageSize="objFilter.pageSize"/>
        <Body5 v-if="is_tab === 5 && projects" :projects="projects" :pageSize="objFilter.pageSize"/>
      </div>
    </client-only>
  </div>
</template>

<script>
  import {mapState, mapGetters, mapActions} from 'vuex'
  import _ from 'lodash'
  import eventBus from '~/services/bus';
  import {saveClock} from '~/services/statistic'
  import { getCompanies } from '~/services/member';

  export default {
    middleware: 'auth',
    layout: "custom",
    head() {
      return {
        script: [
          { src: 'https://js.stripe.com/v3/', async: true, defer: true },
        ]
      }
    },
    data() {
      return {
        data: {
          "profile": {},
          "blog": {},
          "generaRanking": {},
          "total_receive": 0,
          "total_payment": 0,
          "all_bid_project": 0,
          "project_not_finished": 0,
          "all_project": [],
          "clock": []
        },
        objData: {
          company_id: 0,
          sort: 'bid_id',
          order: 'DESC',
          pageIndex: 1,
          pageSize: 12,
          read: 0
        },
        objFilter: {
          order: 'DESC',
          pageIndex: 1,
          pageSize: 3,
          tab: 'posted',
          company_id: 0,
          project_id: ''
        },
        page:{
          project: 1,
          blog: 1,
          payment: 1
        },
        is_tab: 1,
        blogs: null,
        projects: null,
        user_info: {
          name: '',
          address: ''
        },
        projects: 0,
        payments: null,
        percents: {
          tab1: 0,
          tab2: 0,
          tab3: 0,
          tab4: 0,
          tab5: 0
        },
        isShowModal: false,
        timezone: 0,
        index: 0,
      }
    },
    filters: {
      round: function(name) {
        return Math.round(name * 100) / 100
      },
      formatCurrency(value) {
        let val = (value/1).toFixed(0).replace('.', ',')
        return val.toString().replace(/\B(?=(\d{3})+(?!\d))/g, ".")
      }
    },
    computed: {
      ...mapState({
        auth: state => state.auth
      }),
      clocks() {
        return _.sortBy(this.data.clock, 'sort_order', 'DESC')
      },
      suggest_clocks() {
        return this.$store.state.resource.clocks
      },
      company() {
          return this.$store.getters.getCompany;
      },
      companyId() {
          return _.has(this.company, 'company_id') ? this.company.company_id : 0;
      },
      formPercent() {
        return {
          company_id: this.companyId,
          object_id: this.objFilter.project_id
        }
      },
      total_view() {
        return this.data.profile.page_view + this.data.blog.page_view
      }
    },
    components: {
      Oclock: () => import('~/components/dashboard/oclock'),
      Body1: () => import('~/components/dashboard/body-1'),
      Body2: () => import('~/components/dashboard/body-2'),
      Body3: () => import('~/components/dashboard/body-3'),
      Body4: () => import('~/components/dashboard/body-4'),
      Body5: () => import('~/components/dashboard/body-5'),
      Modal: () => import("~/components/share/ModalClock"),
    },
    methods: {
      ...mapActions({
        getOverviewProfile: 'dashboard/getOverviewProfile',
        getManageProject: 'dashboard/getManageProject',
        getMangeBlog: 'dashboard/getManageBlog',
        getManagerPayment: 'dashboard/getManagerPayment'
      }),
      getPercent() {
        this.$store.dispatch('dashboard/getPercent', this.formPercent)
        .then( (res) => {
          if( res.success ) {
            let data = res.data;
            this.percents = {
              tab1: data.posted ||  0,
              tab2: data.biding || 0,
              tab3: data.change || 0,
              tab4: data.progress || 0,
              tab5: data.review || 0
            }
          }
        })
        .catch( () => {

        })
      },
      setPercentDefault() {
        this.percents = {
          tab1: 0,
          tab2: 0,
          tab3: 0,
          tab4: 0,
          tab5: 0
        }
      },
      statusTab(percent) {
        return percent == 0 ? this.$t('Waiting') : percent == 100 ? this.$t('Complete') : this.$t('Processing')
      },
      titleProject(title) {
        if (title.length < 175) return title;
        return `${title.substr(0, 175)}...`;
      },
      async getProjects() {
        let filter = _.clone(this.objFilter);
        filter.pageIndex = this.page.project;
        const {data} = await this.getManageProject(this.assignQueryNotNull(filter));
        this.projects = data.project_or_profile;
        this.baseData = data;
        this.getPercent();
        //this.setPercentTab();
      },
      setPercentTab() {
        let tab = 'tab1';
        const base = this.baseData;
        let percent = base.percent;
        const pp = _.first(base.project_or_profile.data);
        switch(this.objFilter.tab) {
          case 'posted':
            tab = 'tab1';
            if (this.objFilter.project_id) {
              if (!pp) return percent = 0;
              const bid = pp.object_bids;
              percent = !bid.accept ? 50 : (bid.accept === 2 ? 0 : 100);
            }
            break;
          case 'bid':
            tab = 'tab2';
            if (this.objFilter.project_id) {
              if (!pp) return percent = 0;
              percent = !this.isClient()
                ? 0
                : !pp.accept ? 50 : (pp.accept === 2 ? 0 : 100);
            }
            break;
          case 'change':
            tab = 'tab3';
            if (this.objFilter.project_id) {
              percent = !pp
                ? 0
                : (pp.object_bid_adjust_time.status ? 100 : 50);
            }
            break;
          case 'progress':
            tab = 'tab4';
            if (this.objFilter.project_id) {
              if(pp.object_bids_adjust_tim.start_time) return percent = 0;
              percent = !pp || this.$moment().diff(pp.object_bids_adjust_tim.start_time) < 0
                ? 0
                : Math.abs(
                    this.$moment().diff(pp.object_bids_adjust_tim.start_time) * 100 /
                    this.$monent(pp.object_bids_adjust_tim.end_time).diff(pp.object_bids_adjust_tim.start_time)
                  )
            }
            break;
          default:
            tab = 'tab5';
            break;
        }
        this.percents[tab] = parseInt(percent);
      },
      isClient() {
        return _.has(this.company, 'company_id');
      },
      async getBlogs() {
        let filter = _.clone(this.objFilter);
        filter.pageIndex = this.page.blog;
        const {data} = await this.getMangeBlog(this.assignQueryNotNull(filter));
        this.blogs = data.blog;
      },
      async getManagerPayments() {
        let filter = _.clone(this.objFilter);
        filter.pageIndex = this.page.payment;
        const {data} = await this.getManagerPayment(this.assignQueryNotNull(filter));
        this.payments = data;
      },
      getOverview() {
        this.getOverviewProfile(this.objData)
          .then(res => {
            Object.assign(this.data, res.data)
          });
      },
      getData() {
        this.projects = null;
        this.blogs = null;
        this.setPercentDefault();
        this.getProjects();
        if (this.objFilter.tab === 'posted' && !this.objFilter.project_id) {
          this.getBlogs();
        }
        if (this.objFilter.tab === 'progress') {
          this.getManagerPayments();
        }
      },
      onReload() {
        this.getData();
      },
      filterTab(id, value) {
        this.is_tab = id
        this.objFilter.tab = value;
        this.objFilter.pageIndex = 1;
        this.page.project = 1;
        try{
          localStorage.setItem('d_t_active', JSON.stringify({id: id, value: value}) );
        }catch(e){}
        this.getData();
      },
      async getCurrentUser() {
        if (_.isEmpty(this.auth)) return;
        const user = this.auth.authUser.user;
        this.user_info.name = user.first_name + ' ' + user.last_name;
        this.user_info.address = user.address;
        const cp_default = this.$store.getters.getCompany;
        const res = await getCompanies();
        const cp = res ? res.data.find(d => d.company_id === cp_default.company_id) : cp_default;
        if (_.has(cp_default, 'company_id')) {
          if(cp.company_title) {
            this.user_info.name = cp.company_title
          } else {
            this.user_info.name = cp.title
          }
          this.user_info.address = cp.address1
        }
      },
      switchTypeUser() {
        const user = this.auth.authUser.user;
        const cp = this.$store.getters.getCompany;
        let changeData = user.owner_company;
        if (_.has(cp, 'company_id')) {
          changeData = user;
        }
        this.$store.dispatch('setDefaultCompany', changeData)
          .then(() => {
            window.location.reload()
          })
      },
      changeClock(clock, index) {
        this.isShowModal = true;
        this.timezone = _.has(clock, 'id') ? clock.id : clock.clock_id;
        this.index = index;
      },
      closeModal() {
        this.isShowModal = false;
      },
      async saveClock() {
        let tmp = _.clone(this.clocks);
        const changeClock = this.suggest_clocks.find(sc => sc.id === this.timezone);
        tmp[this.index].gmt = changeClock.gmt;
        tmp[this.index].name = changeClock.name;
        tmp[this.index].clock_id = changeClock.id;
        const res = await saveClock({clock: tmp, company_id: this.objData.company_id});
        const type = res.success ? 'success' : 'error';
        this.showNotification('', res.message, type);
        this.closeModal();
      }
    },
    beforeMount() {
      this.objData.company_id = _.has(this.company, 'company_id') ? this.company.company_id : 0;
      if (this.company && _.has(this.company, 'company_id')) {
        this.objFilter.company_id = this.company.company_id;
      }
      try{
        let tabObject = JSON.parse(localStorage.getItem('d_t_active') );
        if( tabObject && tabObject.id && tabObject.id > 0 ) {
          this.is_tab = tabObject.id
          this.objFilter.tab = tabObject.value;
        }
      }catch(e){
        console.log(e);
      }
      this.getData();
    },
    mounted() {
      this.getOverview();
      eventBus.$on('onLoadProjectPage', (page) => {
        this.page.project = page;
        this.getProjects();
      } );
      eventBus.$on('onReloadProjectPage', () => {
        this.getProjects();
      } );
      eventBus.$on('onLoadPaymentPage', (page) => {
        this.page.payment = page;
        this.getManagerPayments();
      } );
      eventBus.$on('onReloadPaymentPage', () => {
        this.getManagerPayments();
      } );
      eventBus.$on('onLoadBlogPage', (page) => {
        this.page.blog = page;
        this.getBlogs();
      } );
      eventBus.$on('onReloadBlogPage', () => {
        this.getBlogs();
      } );
      eventBus.$on('onPaymentSaveSuccess', () => {
        this.page.payment = 1;
        this.getManagerPayments();
      });
      this.getCurrentUser();
    }
  }
</script>

<style>
  .group-oclock .item .info {
    padding-top: 140px;
  }
  .address-infor {
    display: inline-block;
    width: 240px;
    white-space: nowrap;
    overflow: hidden;
    vertical-align: middle;
    text-overflow: ellipsis;
  }
  .head-info .desc {
    font-size: 14px;
    color: #fff;
  }
</style>

