<template>
    <div class="wp-page">
        <div class="sticky-top" style="background: #26325D; z-index: 2;">
            <header class="panel-head-in-total">
                <div class="d-flex align-items-center">
                    <div class="logo pr-2">
                        <nuxt-link :to="localePath({'name': 'index'})" class="d-block">
                            <img src="~/assets/images/icon/logo-spotech.png" alt="Spotech" class="img-fluid">
                        </nuxt-link>              
                    </div>
                    <div class="title">{{ titleAI }}</div>
                </div>
            </header>
            <div class="progress custom-progress">
                <div class="progress-bar custom-progress-bar" :style="{width: this.progress + '%'}"></div>
            </div>
        </div>
        <div class="group-order clearfix">
            <div class="container">
                <div class="row">
                    <div class="col-lg-7 col-md-8 col-12 mb-md-0 mb-4">
                        <div class="box-left w-100">
                            <div class="body-in-total order-b15 p-100 pl-0 pr-0 mt-0 circle-bg w-100">
                                <Form1 v-if="step == 1" v-model="data.form1" @redirect="redirect" :history="history" />
                                <Form2 v-if="step == 2" v-model="data.form2" @redirect="redirect" :history="history"/>
                                <Form3 v-if="step == 3" v-model="data.form3" @redirect="redirect" :history="history"/>
                                <Form4 v-if="step == 4" v-model="data.form4" @redirect="redirect" :step="step" :history="history"
                                       :willNext="willNext"/>
                                <Form5 v-if="step == 5" v-model="data.form5" @redirect="redirect" :step="step" :history="history"
                                       :willNext="willNext"/>
                                <Form6 v-if="step == 6" v-model="data.form6" @redirect="redirect" :step="step" :history="history"
                                       :willNext="willNext"/>
                                <Form7 v-if="step == 7" v-model="data.form7" @redirect="redirect" :step="step" :history="history"
                                       :willNext="willNext"/>
                                <Form8 v-if="step == 8" v-model="data.form8" @redirect="redirect" :step="step" :history="history"
                                       :willNext="willNext"/>
                                <Form9 v-if="step == 9" v-model="data.form9" @redirect="redirect" :history="history"/>
                                <Form10 v-if="step == 10" v-model="data.form10" @redirect="redirect" :history="history"/>
                                <Form11 v-if="step == 11" v-model="data.form11" @redirect="redirect"
                                        :history="history" :anwers="data"/>
                                <Form12 v-if="step == 12" v-model="data.form12" @redirect="redirect"
                                        :history="history" :anwers="data"/>
                                <Form13 v-if="step == 13" v-model="data.form12" @redirect="redirect"
                                        :history="history" />
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-4 col-md-4 col-12 mb-md-0 mb-4 offset-lg-1">
                        <div class="box-right top sticky-top">
                            <div class="group-partners text-center">
                                <div class="title">{{ $t('ImplementationResults') }}</div>
                                <div class="list-partners">
                                    <div class="item">
                                        <img src="~assets/images/upload/Image-1.png" alt="">
                                    </div>
                                    <div class="item">
                                        <img src="~assets/images/upload/Image-2.png" alt="">
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</template>
<script>

    export default {
        layout: 'empty',
        components: {
            Form1: () => import('~/components/consultation/form-1'),
            Form2: () => import('~/components/consultation/form-2'),
            Form3: () => import('~/components/consultation/form-3'),
            Form4: () => import('~/components/consultation/form-4'),
            Form5: () => import('~/components/consultation/form-5'),
            Form6: () => import('~/components/consultation/form-6'),
            Form7: () => import('~/components/consultation/form-7'),
            Form8: () => import('~/components/consultation/form-8'),
            Form9: () => import('~/components/consultation/form-9'),
            Form10: () => import('~/components/consultation/form-10'),
            Form11: () => import('~/components/consultation/form-11'),
            Form12: () => import('~/components/consultation/form-12'),
            Form13: () => import('~/components/consultation/form-13'),
        },
        data() {
            return {
                data: {},
                step: 1,
                willNext: null,
                history: [1]
            }
        },
        computed: {
            progress() {
                return this.step / 13 * 100;
            },
            titleAI() {
                if (this.progress == 100) return this.$t('titleAIForm13') 
                return this.$t('WhatAreTheCurrentProblems')
            }
        },
        methods: {
            redirect(step, history, willNext) {
                this.step = step;
                if (history.length) {
                    this.history = [...history]
                }
                if (willNext && willNext.length) {
                    this.willNext = [...willNext]
                } else {
                    this.willNext = []
                }
            }
        },
    }
</script>
<style scoped>
    .wp-page .group-order .box-left .body-in-total.p-100{
        width: 100% !important;
    }
    .wp-page .group-order .box-left {
        min-height: 0;
    }
    .container-wrapper {
        background: #fff;
    }
    .p-100 {
        padding: 20px 0 !important;
    }

</style>
