<template>
  <div class="group-page-total">
    <div class="container">
      <div class="row">
        <div class="col-12">
          <div class="content-page-total d-flex align-items-center">
            <div class="wp-page text-center m-auto">
              <h1 class="logo mb-4">
                <nuxt-link :to="localePath({ name: 'index' })" class="d-block">
                  <img src="~/assets/images/icon/logo-spotech.png" alt="Spotech" class="img-fluid" />
                </nuxt-link>
              </h1>
              <div class="title">{{ $t("NoHassleOrCost") }}</div>
              <div class="description">{{ $t("SpoteachAutomatically") }}</div>
              <ul class="group-step">
                <li>
                  <div class="item-step"> {{ $t("EnterYourProblemsRequests") }}</div>
                  <div class="icon-down mt-2"> <img  src="~/assets/images/icon/down.png" alt="" class="img-fluid" />
                  </div>
                </li>
                <li>
                  <div class="item-step"> {{ $t('ProjectProposalAfterAIScreening') }}</div>
                  <div class="icon-down mt-2"> <img  src="~/assets/images/icon/down.png" alt="" class="img-fluid" />
                  </div>
                </li>
                <li>
                  <div class="item-step"> {{ $t('CallForPrivateProjects') }}</div>
                  <div class="icon-down mt-2"> <img  src="~/assets/images/icon/down.png" alt="" class="img-fluid" />
                  </div>
                </li>
                <li>
                  <div class="item-step"> {{ $t('ProposeTheExpertsYouWant') }}</div>
                  <div class="icon-down mt-2"> <img  src="~/assets/images/icon/down.png" alt="" class="img-fluid" />
                  </div>
                </li>
                <li>
                  <div class="item-step bg-prm">
                    <nuxt-link :to="localePath({ name: 'consultation-151' })" title=""  class="text-link d-block">
                      <span class="text-center pr-4">{{ $t("btnStart") }}</span>
                      <span class="icon" ><i class="fas fa-chevron-right"></i></span>
                    </nuxt-link>
                  </div>
                </li>
              </ul>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</template>

<script>
export default {
  layout: "empty"
};
</script>

