<template>
  <section class="body-hp pd-web body-min">
    <div class="container">
      <div class="row">
        <div class="col-12">
          <div class="wp-product-hp wp-order mb-hp prd-2">
            <header class="panel-head">
              <h2 class="heading-2 title-heading">
                <span>検索結果のプロジェクト・エキスパート</span>
              </h2>
              <h3 class="heading-2 title-heading" v-if="project.length == 0">
                <span>No result</span>
              </h3>
            </header>
            <!-- <scroll-loader :loader-method="listProjectSearch" :loader-enable="loadMore">
            </scroll-loader> -->
            <section class="panel-body-prd" v-if="project.length > 0">
              <ul class="row mb-4">
                <li
                  class="col-lg-3 col-md-6 col-sm-12 col-12 mb-4"
                  v-for="(i , key) in project"
                  :key="'project'+key"
                >
                  <div class="item-prd item-prd-vote">
                    <div class="slide-item-prd">
                      <div class="img-thumb">
                        <nuxt-link
                          title
                          class="image"
                          :to="localePath({name: 'project-detail-id', params: { id:i.id } })"
                        >
                          <img :src="i.image" alt class="img-fluid img-cover" />
                        </nuxt-link>
                        <a href="#b-162" class="heart d-block" data-toggle="modal">
                          <i class="far fa-heart"></i>
                        </a>
                      </div>
                    </div>
                    <div class="info">
                      <div
                        class="group-meta d-flex align-items-center justify-content-between mb-2"
                      >
                        <div class="name-head">{{i.nation_name}}・{{i.category_title}}</div>
                        <div class="highlight">
                          <a href="javascript:;" class="d-block in-highlight">1ヶ月働き放題</a>
                        </div>
                      </div>

                      <div class="name-title">
                        <nuxt-link
                          title
                          class="title line-2"
                          :to="localePath({name: 'project-detail-id', params: { id:i.id } })"
                        >{{i.project_title}}</nuxt-link>
                      </div>
                      <div class="wp-salary">入札報酬：{{i.price_start}} - {{i.price_end}}</div>
                      <div class="wp-time">期間：{{i.duration_name}}</div>
                      <div class="wp-rating d-flex">
                        <div class="meta-rate d-flex">
                          <div class="number-rate">4.0</div>
                          <ul class="list-star d-flex">
                            <li>
                              <i class="fas fa-star"></i>
                            </li>
                            <li>
                              <i class="fas fa-star"></i>
                            </li>
                            <li>
                              <i class="fas fa-star"></i>
                            </li>
                            <li>
                              <i class="fas fa-star"></i>
                            </li>
                            <li>
                              <i class="fas fa-star filter-white"></i>
                            </li>
                          </ul>
                        </div>
                        <span class="meta-number">30</span>
                      </div>
                    </div>
                  </div>
                </li>
              </ul>
              <div class="group-read-more" @click="readmore" v-if="qtyReadmores != 0" >
                <a href="javascript:;" title class="read" >
                  <span>すべて見る（{{qtyReadmores}}+）</span>
                  <span>
                    <i class="fas fa-angle-right"></i>
                  </span>
                </a>
              </div>
            </section>
          </div>
        </div>
      </div>
    </div>
  </section>
</template>

<script>

import { mapActions } from "vuex";
// import ScrollLoader from 'vue-scroll-loader'
export default {
  data() {
    return {
      loadMore: true,
      objData: {
        category_id: this.$route.params.category,
        nation_id: this.$route.params.nation,
        sort: "created_at",
        order: "desc",
        pageIndex:1,
        pageSize: 10
      },
      project: [],
      totalAllProject:""
    };
  },
  computed:{
    qtyReadmores(){
      return this.totalAllProject - this.project.length;
    }
  },
  methods: {
    ...mapActions({
        searchProject: "project/search/searchProjects"
    }),
    listProjectSearch() {
      this.searchProject(this.objData).then(response => {
        this.project = response.data;
      });
    },
    readmore(){
      this.objData.pageIndex = this.objData.pageIndex + 1
      this.searchProject(this.objData).then(response => {
        this.project = this.project.concat(response.data);
      });
    },
    allProjects(){
      let formData = {
        category_id: this.$route.params.category,
        nation_id: this.$route.params.nation,
      }
      this.searchProject(formData).then(response => {
        this.totalAllProject = response.data.length;
      });
    }
  },
  mounted() {
    this.listProjectSearch();
    this.allProjects();
  }
};
</script>

<style>
</style>
