<template>
<div>
    <div class="row">
        <div class="col-12">
            <div class="group-list-notification pt-5 pb-5">
                <div class="d-flex justify-content-between align-items-center panel-head">
                    <div class="title"> <a href="javascript:;" title="" class="text-white head">{{ $t('webRecently') }}</a> </div>
                  <div class="title"> <nuxt-link :to="localePath({name: 'account-settings', query: { tab: 1} })" class="color-green">{{ $t('webNotificationSetting') }}</nuxt-link>
                    </div>
                </div>
                <div class="list-item-info" v-loading="loading">
                    <div class="list-item-info" v-for="(notification, n) in notifications.items" :key="`notification-item-${n}`">
                        <NotificationElement :elem="notification" />
                    </div>
                </div>
                <div class="pagination mt-1" v-if="notifications.meta && notifications.meta.total_pages && notifications.meta.total_pages > 1">
                    <el-pagination
                        background
                        layout="prev, pager, next"
                        :total="notifications.meta.total"
                        :page-size="notifications.meta.per_page"
                        :pager-count="notifications.meta.total_pages"

                      @current-change="changePage">
                    </el-pagination>
                </div>
            </div>
        </div>
    </div>
</div>
</template>
<script>
import { mapState, mapActions } from 'vuex';
export default {
    name:'NotificationList',
    components: {
        NotificationElement: () => import('~/components/notification/share/NotifyElement')
    },
    data() {
        return {
            notifications:[],
            pigination:{
                page: 1,
                per_page: 25
            },
            loading: false
        }
    },
    computed:{
        meId() {
            return this.$store.getters.getUserId;
        },
        company() {
            return this.$store.getters.getCompany;
        },
        companyId() {
            return _.has(this.company, 'company_id') ? this.company.company_id : 0;
        },
        piginationParams() {
            return {
                page: this.pigination.page,
                per_page: this.pigination.per_page,
                user_id: this.meId,
                company_id: this.companyId
            };
        }
    },
    mounted() {
        this.getListNotification();
    },
    methods:{
        ...mapActions({
            searchNotificationByUser: 'messenger/searchNotificationByUser',
            markAsRead: 'messenger/markAsReadAllNotification'
        }),
        
        changePage(currentPage) {
            this.pigination.page = currentPage;
            this.getListNotification();
        },
        getListNotification()
        {
            if( this.meId > 0 ) {
                this.loading = true;
                this.searchNotificationByUser(this.piginationParams).then((response) => {
                    if( response != null && response.data != null )
                    {
                        this.notifications = response.data;
                    }

                }).finally( () => {
                    this.loading = false;
                });
            }
        },
        markAsReadAll() {
            let params = { user_id: this.meId, company_id: this.companyId };
            this.markAsRead( params );
        }
    }
}
</script>
