<template>
  <section>
    <CommunityStoryTop/>
    <div class="group-story_d">
        <div class="container">
            <div class="row">
                <div class="col-lg-11 col-12 mx-auto">
                    <div class="content">
                        <div class="row">
                            <div class="col-md-7 col-12">
                                <LeftListStory/>
                            </div>
                            <div class="col-lg-4 col-md-5 col-12 offset-lg-1">
                                <aside class="group-aside_d">
                                    <RightStoryPopular/>
                                    <RightStoryTopics/>
                                </aside>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
  </section>
</template>
<script>

export default {
  layout: "custom",
  name: 'CommunityStory',
  components: {
    CommunityStoryTop: () => import('~/components/community/story/topStoryList'),
    LeftListStory: () => import('~/components/community/story/leftStoryList'),
    RightStoryPopular: () => import('~/components/community/story/rightStoryPopular'),
    RightStoryTopics: () => import('~/components/community/story/rightStoryTopics'),
  },
}
</script>