<template>
  <div class="group-left">
    <Banner />
    <PopularServices />
    <YourServices />
    <SearchByCategories />
  </div>
</template>

<script>
  export default {
    name: 'index',
    layout: 'support-travel',
    components: {
      Banner: () => import('~/components/support/travel/Banner'),
      PopularServices: () => import('~/components/support/travel/PopularServices'),
      YourServices: () => import('~/components/support/travel/YourServices'),
      SearchByCategories: () => import('~/components/support/travel/SearchByCategories'),
    }
  }
</script>

<style scoped>

</style>
