<template>
    <div class="container">
            <div class="row">
                <div class="col-12 m-auto">
                    <div class="group-breadcrumb">
                        <div class="list-breadcrumb">
                            <div class="item-breadcrumb">
                                <nuxt-link class="links-breadcrumb" :to="localePath({name: 'community-story'})">
                                    {{$t('home')}} 
                                </nuxt-link>
                            </div>
                            <div class="item-breadcrumb">
                                <a href="javascript:;" class="links-breadcrumb"> クライアント経験談 </a>
                            </div>
                        </div>
                    </div>

                    <div class="group-blogs">
                        <header class="panel-head">
                            <div class="group-title">
                                <div class="name-title"> エキスパート経験談 </div>
                                <div class="description"> SPOTECHに登録しているクライアントのストーリー </div>
                            </div>
                             <div class="group-select-blog">
                                <div class="bg-select-blog">
                                    <div class="head-select">
                                        <div class="wrap-head">
                                            <a href="javascript:;">
                                                <span class="texts">{{$t('web_story_select_new')}}</span>
                                                <span class="icon"> <i class="fas fa-chevron-down"></i> </span>
                                            </a>
                                        </div>
                                    </div>
                                    <div class="body-select">
                                        <div class="list-select">
                                            <div class="item-select">
                                                <a href="javascript:;" class="select active"> {{$t('web_story_select_new')}} </a>
                                            </div>
                                            <div class="item-select">
                                                <a href="javascript:;" class="select"> {{$t('web_story_select_popular')}} </a>
                                            </div>
                                            <div class="item-select">
                                                <a href="javascript:;" class="select"> {{$t('web_story_select_likenumber')}} </a>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </header>
                    </div>

                    <div class="group-list-blogs">
                        <div class="list-blogs row">

                            <div class="col-lg-4 col-sm-6 col-12 mb-3 item">
                                <div class="item-blog">
                                    <div class="img-thumb">
                                        <nuxt-link class="image" :to="localePath({name: 'community-story-id', params: { id: 1 }})">
                                            <img src="~/assets/images/upload/blog-1.png" alt="" class="img-fuild">
                                        </nuxt-link>
                                        <div class="group-heart-blog">
                                            <a href="javascript:;" class="links-heart"> <i class="far fa-heart"></i>
                                            </a>
                                        </div>
                                        <div class="group-name-event">
                                            <div class="name-event">
                                                <span>クライアント経験談</span>
                                            </div>
                                        </div>
                                    </div>

                                    <div class="info">
                                        <div class="item-notify">
                                            <div class="group-notify">
                                                <div class="title"> 
                                                    <nuxt-link class="image" :to="localePath({name: 'community-story-id', params: { id: 1 }})">
                                                        The Fiverr Notifications Redesign
                                                    </nuxt-link>
                                                </div>
                                                <div class="item">
                                                    <div class="group-datetime">
                                                        <span class="writer">Adam</span>
                                                        <span class="date">2019年5月10日</span>
                                                    </div>
                                                    <div class="number-notify">
                                                        <div class="group-icon-message">
                                                            <div class="image-message"><i
                                                                    class="far fa-comment-alt"></i>
                                                            </div>
                                                            <div class="number-message">1</div>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>

                                        </div>
                                        <div class="description-short line-3">
                                            Subtitle Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do
                                            eiusmod
                                            tempor incididunt ut lab
                                        </div>
                                    </div>
                                </div>
                            </div>


                            <div class="col-lg-4 col-sm-6 col-12 mb-3 item">
                                <div class="item-blog">
                                    <div class="img-thumb">
                                        <a href="javascript:;" class="image">
                                            <img src="assets/images/upload/blog-1.png" alt="" class="img-fuild">
                                        </a>
                                        <div class="group-heart-blog">
                                            <a href="javascript:;" class="links-heart"> <i class="far fa-heart"></i>
                                            </a>
                                        </div>
                                        <div class="group-name-event">
                                            <div class="name-event">
                                                <span>クライアント経験談</span>
                                            </div>
                                        </div>
                                    </div>

                                    <div class="info">
                                        <div class="item-notify">
                                            <div class="group-notify">
                                                <div class="title"> <a href="javascript:;"
                                                        class="b-block text-white">The Fiverr Notifications Redesign</a>
                                                </div>
                                                <div class="item">
                                                    <div class="group-datetime">
                                                        <span class="writer">Adam</span>
                                                        <span class="date">2019年5月10日</span>
                                                    </div>
                                                    <div class="number-notify">
                                                        <div class="group-icon-message">
                                                            <div class="image-message"><i
                                                                    class="far fa-comment-alt"></i>
                                                            </div>
                                                            <div class="number-message">1</div>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>

                                        </div>
                                        <div class="description-short line-3">
                                            Subtitle Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do
                                            eiusmod
                                            tempor incididunt ut lab
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="col-lg-4 col-sm-6 col-12 mb-3 item">
                                <div class="item-blog">
                                    <div class="img-thumb">
                                        <a href="javascript:;" class="image">
                                            <img src="assets/images/upload/blog-1.png" alt="" class="img-fuild">
                                        </a>
                                        <div class="group-heart-blog">
                                            <a href="javascript:;" class="links-heart"> <i class="far fa-heart"></i>
                                            </a>
                                        </div>
                                        <div class="group-name-event">
                                            <div class="name-event">
                                                <span>クライアント経験談</span>
                                            </div>
                                        </div>
                                    </div>

                                    <div class="info">
                                        <div class="item-notify">
                                            <div class="group-notify">
                                                <div class="title"> <a href="javascript:;"
                                                        class="b-block text-white">The Fiverr Notifications Redesign</a>
                                                </div>
                                                <div class="item">
                                                    <div class="group-datetime">
                                                        <span class="writer">Adam</span>
                                                        <span class="date">2019年5月10日</span>
                                                    </div>
                                                    <div class="number-notify">
                                                        <div class="group-icon-message">
                                                            <div class="image-message"><i
                                                                    class="far fa-comment-alt"></i>
                                                            </div>
                                                            <div class="number-message">1</div>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>

                                        </div>
                                        <div class="description-short line-3">
                                            Subtitle Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do
                                            eiusmod
                                            tempor incididunt ut lab
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="col-lg-4 col-sm-6 col-12 mb-3 item">
                                <div class="item-blog">
                                    <div class="img-thumb">
                                        <a href="javascript:;" class="image">
                                            <img src="assets/images/upload/blog-1.png" alt="" class="img-fuild">
                                        </a>
                                        <div class="group-heart-blog">
                                            <a href="javascript:;" class="links-heart"> <i class="far fa-heart"></i>
                                            </a>
                                        </div>
                                        <div class="group-name-event">
                                            <div class="name-event">
                                                <span>クライアント経験談</span>
                                            </div>
                                        </div>
                                    </div>

                                    <div class="info">
                                        <div class="item-notify">
                                            <div class="group-notify">
                                                <div class="title"> <a href="javascript:;"
                                                        class="b-block text-white">The Fiverr Notifications Redesign</a>
                                                </div>
                                                <div class="item">
                                                    <div class="group-datetime">
                                                        <span class="writer">Adam</span>
                                                        <span class="date">2019年5月10日</span>
                                                    </div>
                                                    <div class="number-notify">
                                                        <div class="group-icon-message">
                                                            <div class="image-message"><i
                                                                    class="far fa-comment-alt"></i>
                                                            </div>
                                                            <div class="number-message">1</div>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>

                                        </div>
                                        <div class="description-short line-3">
                                            Subtitle Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do
                                            eiusmod
                                            tempor incididunt ut lab
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="col-lg-4 col-sm-6 col-12 mb-3 item">
                                <div class="item-blog">
                                    <div class="img-thumb">
                                        <a href="javascript:;" class="image">
                                            <img src="assets/images/upload/blog-1.png" alt="" class="img-fuild">
                                        </a>
                                        <div class="group-heart-blog">
                                            <a href="javascript:;" class="links-heart"> <i class="far fa-heart"></i>
                                            </a>
                                        </div>
                                        <div class="group-name-event">
                                            <div class="name-event">
                                                <span>クライアント経験談</span>
                                            </div>
                                        </div>
                                    </div>

                                    <div class="info">
                                        <div class="item-notify">
                                            <div class="group-notify">
                                                <div class="title"> <a href="javascript:;"
                                                        class="b-block text-white">The Fiverr Notifications Redesign</a>
                                                </div>
                                                <div class="item">
                                                    <div class="group-datetime">
                                                        <span class="writer">Adam</span>
                                                        <span class="date">2019年5月10日</span>
                                                    </div>
                                                    <div class="number-notify">
                                                        <div class="group-icon-message">
                                                            <div class="image-message"><i
                                                                    class="far fa-comment-alt"></i>
                                                            </div>
                                                            <div class="number-message">1</div>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>

                                        </div>
                                        <div class="description-short line-3">
                                            Subtitle Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do
                                            eiusmod
                                            tempor incididunt ut lab
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="col-lg-4 col-sm-6 col-12 mb-3 item">
                                <div class="item-blog">
                                    <div class="img-thumb">
                                        <a href="javascript:;" class="image">
                                            <img src="assets/images/upload/blog-1.png" alt="" class="img-fuild">
                                        </a>
                                        <div class="group-heart-blog">
                                            <a href="javascript:;" class="links-heart"> <i class="far fa-heart"></i>
                                            </a>
                                        </div>
                                        <div class="group-name-event">
                                            <div class="name-event">
                                                <span>クライアント経験談</span>
                                            </div>
                                        </div>
                                    </div>

                                    <div class="info">
                                        <div class="item-notify">
                                            <div class="group-notify">
                                                <div class="title"> <a href="javascript:;"
                                                        class="b-block text-white">The Fiverr Notifications Redesign</a>
                                                </div>
                                                <div class="item">
                                                    <div class="group-datetime">
                                                        <span class="writer">Adam</span>
                                                        <span class="date">2019年5月10日</span>
                                                    </div>
                                                    <div class="number-notify">
                                                        <div class="group-icon-message">
                                                            <div class="image-message"><i
                                                                    class="far fa-comment-alt"></i>
                                                            </div>
                                                            <div class="number-message">1</div>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>

                                        </div>
                                        <div class="description-short line-3">
                                            Subtitle Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do
                                            eiusmod
                                            tempor incididunt ut lab
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="col-lg-4 col-sm-6 col-12 mb-3 item">
                                <div class="item-blog">
                                    <div class="img-thumb">
                                        <a href="javascript:;" class="image">
                                            <img src="assets/images/upload/blog-1.png" alt="" class="img-fuild">
                                        </a>
                                        <div class="group-heart-blog">
                                            <a href="javascript:;" class="links-heart"> <i class="far fa-heart"></i>
                                            </a>
                                        </div>
                                        <div class="group-name-event">
                                            <div class="name-event">
                                                <span>クライアント経験談</span>
                                            </div>
                                        </div>
                                    </div>

                                    <div class="info">
                                        <div class="item-notify">
                                            <div class="group-notify">
                                                <div class="title"> <a href="javascript:;"
                                                        class="b-block text-white">The Fiverr Notifications Redesign</a>
                                                </div>
                                                <div class="item">
                                                    <div class="group-datetime">
                                                        <span class="writer">Adam</span>
                                                        <span class="date">2019年5月10日</span>
                                                    </div>
                                                    <div class="number-notify">
                                                        <div class="group-icon-message">
                                                            <div class="image-message"><i
                                                                    class="far fa-comment-alt"></i>
                                                            </div>
                                                            <div class="number-message">1</div>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>

                                        </div>
                                        <div class="description-short line-3">
                                            Subtitle Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do
                                            eiusmod
                                            tempor incididunt ut lab
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="col-lg-4 col-sm-6 col-12 mb-3 item">
                                <div class="item-blog">
                                    <div class="img-thumb">
                                        <a href="javascript:;" class="image">
                                            <img src="assets/images/upload/blog-1.png" alt="" class="img-fuild">
                                        </a>
                                        <div class="group-heart-blog">
                                            <a href="javascript:;" class="links-heart"> <i class="far fa-heart"></i>
                                            </a>
                                        </div>
                                        <div class="group-name-event">
                                            <div class="name-event">
                                                <span>クライアント経験談</span>
                                            </div>
                                        </div>
                                    </div>

                                    <div class="info">
                                        <div class="item-notify">
                                            <div class="group-notify">
                                                <div class="title"> <a href="javascript:;"
                                                        class="b-block text-white">The Fiverr Notifications Redesign</a>
                                                </div>
                                                <div class="item">
                                                    <div class="group-datetime">
                                                        <span class="writer">Adam</span>
                                                        <span class="date">2019年5月10日</span>
                                                    </div>
                                                    <div class="number-notify">
                                                        <div class="group-icon-message">
                                                            <div class="image-message"><i
                                                                    class="far fa-comment-alt"></i>
                                                            </div>
                                                            <div class="number-message">1</div>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>

                                        </div>
                                        <div class="description-short line-3">
                                            Subtitle Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do
                                            eiusmod
                                            tempor incididunt ut lab
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="col-lg-4 col-sm-6 col-12 mb-3 item">
                                <div class="item-blog">
                                    <div class="img-thumb">
                                        <a href="javascript:;" class="image">
                                            <img src="assets/images/upload/blog-1.png" alt="" class="img-fuild">
                                        </a>
                                        <div class="group-heart-blog">
                                            <a href="javascript:;" class="links-heart"> <i class="far fa-heart"></i>
                                            </a>
                                        </div>
                                        <div class="group-name-event">
                                            <div class="name-event">
                                                <span>クライアント経験談</span>
                                            </div>
                                        </div>
                                    </div>

                                    <div class="info">
                                        <div class="item-notify">
                                            <div class="group-notify">
                                                <div class="title"> <a href="javascript:;"
                                                        class="b-block text-white">The Fiverr Notifications Redesign</a>
                                                </div>
                                                <div class="item">
                                                    <div class="group-datetime">
                                                        <span class="writer">Adam</span>
                                                        <span class="date">2019年5月10日</span>
                                                    </div>
                                                    <div class="number-notify">
                                                        <div class="group-icon-message">
                                                            <div class="image-message"><i
                                                                    class="far fa-comment-alt"></i>
                                                            </div>
                                                            <div class="number-message">1</div>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>

                                        </div>
                                        <div class="description-short line-3">
                                            Subtitle Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do
                                            eiusmod
                                            tempor incididunt ut lab
                                        </div>
                                    </div>
                                </div>
                            </div>

                        </div>

                        <div>
                            <ul class="pagination d-flex align-items-center margin-y-50">
                                <li><a href="#" class="item active">1</a></li>
                                <li><a href="#" class="item">2</a></li>
                                <li><a href="#" class="item">3</a></li>
                                <li><a href="#" class="item">...</a></li>
                                <li><a href="#" class="item">41</a></li>
                                <li><a href="#" class="next item"><i class="fas fa-chevron-right"></i></a></li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
        </div>
</template>
<script>
export default {
    layout: "custom",
    name: 'StoryTopicDetal',
}
</script>