<template>
  <div class="group-characteristics-app">
    <div class="name-title">
      {{$t('NumberPointOfServices', {number: 3, service: 'Slackk'})}}
    </div>
    <div class="row">
      <div class="col-lg-4 col-md-6 col-12 mb-3" v-for="(item, key) in listCharacteristics" :key="key">
        <div class="item-characteristics-app">
          <div class="characteristics">
            <div class="name-characteristics">
              {{item}}
            </div>
            <div class="rule-blue"></div>
          </div>
        </div>
      </div>
    </div>
  </div>
</template>

<script>
	export default {
		name: "CharacteristicsApp",
    data() {
      return {
        listCharacteristics: [
          'シンプルなUI・デザイン',
          '豊富な外部ツール提供',
          '情報共有を加速'
        ]
      }
    },
	}
</script>

<style scoped>

</style>
