<template>
  <div class="group-chat-comment">
    <div class="title-comment">
      レビューを書く
    </div>
    <ul class="list-star d-flex">
      <li><i class="fas fa-star"></i></li>
      <li><i class="fas fa-star"></i></li>
      <li><i class="fas fa-star"></i></li>
      <li><i class="fas fa-star"></i></li>
      <li><i class="fas fa-star"></i></li>
    </ul>
    <div class="box-chat">
      <input type="text" class="input-text input" placeholder="レビュータイトル...">
    </div>
    <div class="content-chat">
      Slackを使って仕事を効率化した体験や独自に頑張っているポイントを書いてください。
      ツールの魅力やあなたのツールハック術を他の人に伝えてみましょう! …
    </div>
    <div class="group-footer-chat">
      <div class="info-user-comment">
        <div class="dropdown">
          <button class="btn dropdown-toggle user-comment d-flex align-items-center" type="button"
                  data-toggle="dropdown">
            <div class="img-thumb mr-2">
              <img src="assets/images/upload/ellipse-18.png" alt="" class="img-fluid">
            </div>
            <div class="name"> Makoto Miyoshi</div>
          </button>
          <ul class="dropdown-menu w-100">
            <li><a href="#">HTML</a></li>
            <li><a href="#">CSS</a></li>
            <li><a href="#">JavaScript</a></li>
          </ul>
        </div>
      </div>
      <div class="btn btn-post">
        <a href="javascript:;" class="links">
          投稿
        </a>
      </div>
    </div>
  </div>
</template>

<script>
	export default {
		name: "ChatComment"
	}
</script>

<style scoped>

</style>
