<template>
  <div class="group-comment-list">
    <div class="list-comment">
      <div class="item-comment">
        <div class="title-comment"> 基本的に不満の出にくいツールです</div>
        <div class="group">
          <div class="wrapp-info-comment">
            <div class="item">
              <ul class="list-star d-flex">
                <li><i class="fas fa-star"></i></li>
                <li><i class="fas fa-star"></i></li>
                <li><i class="fas fa-star"></i></li>
                <li><i class="fas fa-star"></i></li>
                <li><i class="fas fa-star"></i></li>
              </ul>
            </div>
            <div class="item">
              <div class="group-introdution-comment">
                <div class="img-thumb">
                  <div class="image">
                    <img src="assets/images/upload/ellipse-16.png" alt="">
                  </div>
                </div>
                <div class="name-comment"> 高良　幸弘</div>
                <div class="company-unit"> コグニビジョン株式会社</div>
              </div>
            </div>
            <div class="item">
              <div class="wrapp-datetime">
                6ヶ月前
              </div>
            </div>
          </div>
          <div class="paragraph-comment">
            Pメッセンジャーやハングアウトなどのメッセンジャーアプリと違い、”チャンネル”によって切り替えての会話が可能なため、チャット画面が多数表示されて画面を埋めるといったことがありません。
            また機能も細かく設定できるため、権限の付与やGeneralでの広報・掲示板的な使い方も可能です。
            メンションでの確認漏れも防げる上、botを導入しての作業効率化、他ツールとの連携も豊富で様々な場面で威力を発揮します。
            アクセス制限や二段階認証も備えているので…
          </div>
        </div>
        <div class="group-see-next">
          <a href="javascript:;" class="links">
            <span class="texts"> 続きを見る </span>
            <span class="icon"> <i class="fas fa-chevron-down"></i> </span>
          </a>
        </div>
      </div>
      <div class="item-comment">
        <div class="title-comment"> 基本的に不満の出にくいツールです</div>
        <div class="group">
          <div class="wrapp-info-comment">
            <div class="item">
              <ul class="list-star d-flex">
                <li><i class="fas fa-star"></i></li>
                <li><i class="fas fa-star"></i></li>
                <li><i class="fas fa-star"></i></li>
                <li><i class="fas fa-star"></i></li>
                <li><i class="fas fa-star"></i></li>
              </ul>
            </div>
            <div class="item">
              <div class="group-introdution-comment">
                <div class="img-thumb">
                  <div class="image">
                    <img src="assets/images/upload/ellipse-16.png" alt="">
                  </div>
                </div>
                <div class="name-comment"> 高良　幸弘</div>
                <div class="company-unit"> コグニビジョン株式会社</div>
              </div>
            </div>
            <div class="item">
              <div class="wrapp-datetime">
                6ヶ月前
              </div>
            </div>
          </div>
          <div class="paragraph-comment">
            Pメッセンジャーやハングアウトなどのメッセンジャーアプリと違い、”チャンネル”によって切り替えての会話が可能なため、チャット画面が多数表示されて画面を埋めるといったことがありません。
            また機能も細かく設定できるため、権限の付与やGeneralでの広報・掲示板的な使い方も可能です。
            メンションでの確認漏れも防げる上、botを導入しての作業効率化、他ツールとの連携も豊富で様々な場面で威力を発揮します。
            アクセス制限や二段階認証も備えているので…
          </div>
        </div>
        <div class="group-see-next">
          <a href="javascript:;" class="links">
            <span class="texts"> 続きを見る </span>
            <span class="icon"> <i class="fas fa-chevron-down"></i> </span>
          </a>
        </div>
      </div>
      <div class="item-comment">
        <div class="title-comment"> 基本的に不満の出にくいツールです</div>
        <div class="group">
          <div class="wrapp-info-comment">
            <div class="item">
              <ul class="list-star d-flex">
                <li><i class="fas fa-star"></i></li>
                <li><i class="fas fa-star"></i></li>
                <li><i class="fas fa-star"></i></li>
                <li><i class="fas fa-star"></i></li>
                <li><i class="fas fa-star"></i></li>
              </ul>
            </div>
            <div class="item">
              <div class="group-introdution-comment">
                <div class="img-thumb">
                  <div class="image">
                    <img src="assets/images/upload/ellipse-16.png" alt="">
                  </div>
                </div>
                <div class="name-comment"> 高良　幸弘</div>
                <div class="company-unit"> コグニビジョン株式会社</div>
              </div>
            </div>
            <div class="item">
              <div class="wrapp-datetime">
                6ヶ月前
              </div>
            </div>
          </div>
          <div class="paragraph-comment">
            Pメッセンジャーやハングアウトなどのメッセンジャーアプリと違い、”チャンネル”によって切り替えての会話が可能なため、チャット画面が多数表示されて画面を埋めるといったことがありません。
            また機能も細かく設定できるため、権限の付与やGeneralでの広報・掲示板的な使い方も可能です。
            メンションでの確認漏れも防げる上、botを導入しての作業効率化、他ツールとの連携も豊富で様々な場面で威力を発揮します。
            アクセス制限や二段階認証も備えているので…
          </div>
        </div>
        <div class="group-see-next">
          <a href="javascript:;" class="links">
            <span class="texts"> 続きを見る </span>
            <span class="icon"> <i class="fas fa-chevron-down"></i> </span>
          </a>
        </div>
      </div>
    </div>
  </div>
</template>

<script>
	export default {
		name: "CommentList"
	}
</script>

<style scoped>

</style>
