<template>
  <client-only>
    <section class="container">
      <div class="box-content-b21 ha-1 clearfix margin-top-80 margin-bottom-80">
        <div class="tab-menu-b21 ">
          <div class="tab-menu-mobile mb-4">
            <div class=" d-flex align-items-center">
              <div class="name text-white"> Danh mục chọn lựa</div>
              <div class="btn-menu-b21 text-white pl-5"><i class="fas fa-chevron-down"></i></div>
            </div>
          </div>
          <left-siderbar :activeTab="activeTab" @onTabClick="setActiveTab"/>
        </div>
        <div class="content-b21">
          <div id="tabB21-1" :class="{'d-block': activeTab == 1}" v-if="activeTab == 1">
            <setting-content />
          </div>
          <div id="tabB21-2" :class="{'d-block': activeTab == 2}" v-if="activeTab == 2">
            <payment />
          </div>
          <div id="tabB21-3" :class="{'d-block': activeTab == 3}" v-if="activeTab == 3">
            <bill-setting />
          </div>
          <div id="tabB21-4" :class="{'d-block': activeTab == 4}" v-if="activeTab == 4">
            <balance-management />
          </div>
          <div id="tabB21-5" :class="{'d-block': activeTab == 5}" class="han-21-5" v-if="activeTab == 5">
            <privacy />
          </div>
          <security :class="{'d-block': activeTab == 6}" v-if="activeTab == 6" />
          <div id="tabB21-7" :class="{'d-block': activeTab == 7}" class="han-21-7" v-if="activeTab == 7">
            <nda />
          </div>
          <div id="tabB21-8" :class="{'d-block': activeTab == 8}" class="han-21-7" v-if="activeTab == 8">
            <outsourcing-contract />
          </div>
        </div>
      </div>
    </section>
  </client-only>
</template>
<script>
  export default {
    name: 'AccountSetting',
    middleware: 'auth',
    components: {
      SettingContent: () => import('~/components/accountSetting/content'),
      LeftSiderbar: () => import('~/components/accountSetting/leftSiderbar'),
      Payment: () => import('~/components/accountSetting/payment'),
      BillSetting: () => import('~/components/accountSetting/billSetting'),
      BalanceManagement: () => import('~/components/accountSetting/balanceManagement'),
      Privacy: () => import('~/components/accountSetting/privacy'),
      Security: () => import('~/components/accountSetting/security'),
      Nda: () => import('~/components/accountSetting/nda'),
      OutsourcingContract: () => import('~/components/accountSetting/outsourcingContract'),
    },
    data() {
      return {
        activeTab: 1
      }
    },
    created() {
      let tab = this.$route.query.tab || null;
      if( tab ) {
        this.activeTab = parseInt(tab);
      }
    },
    methods: {
      setActiveTab(index) {
        this.activeTab = index;
        this.$router.push({query: {tab: index}})
      }
    }
  };
</script>

<style scoped>
  a {
    cursor: pointer;
  }
</style>
