<template>
<section class="body-mess">
    <div class="mess-box h-100" :class="{'open': !isShowSideBar}">
        <div class="mess-left">
            <friend-list @onCloseSideBar="onSideBarToggle" @onMemberChat="onMemberChat" @onCompanyChat="onCompanyChat" @onDiscussionChat="onDiscussionChat" @onSearchChatClick="onSearchChatClick" @onCreateConversation="onCreateConversation" ref="friendList"/>
        </div>
        <div class="mess-right" :class="{'active': !isShowInforeFriend}">
            <div class="mess-banner">
                <chat-box-header @onSelectChange="getDiscussionByListUser" @onShowInforFriend="onShowInforFriendToggle" @onShowSideBar="onSideBarToggle" :isShowSearchBox="isShowSearchBox" :target="target" @onTrash="onConversationTrash" ref="chatBoxHeader"/>
            </div>
            <div class="mess-content">
                <div class="mess-content-right">
                    <div class="infor-friend">

                        <friend-info @onCloseInforFriend="onShowInforFriendToggle" @onUpdateConversation="onUpdateConversation" @onUpdateBasicConversation="onUpdateBasicConversation"  @onCreateConversation="onCreateConversation" :target="target" ref="friendInfo"/>
                    </div>
                </div>
                <div class="mess-content-left">
                    <div class="presentation">
                        <chat-box ref="chatBox"/>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
</template>
<script>

import _ from 'lodash';
import { mapState, mapActions } from 'vuex'
import { getDiscussion, updateDiscussion, updateBasicDiscussion } from '~/services/messenger';
import eventBus from '~/services/bus';

export default {
    name:'Messenger',

    layout:'chat',

    middleware: 'auth',

    components: {

        FriendList: () => import('~/components/messenger/FriendList'),
        ChatBoxHeader: () => import('~/components/messenger/ChatBoxHeader'),
        FriendInfo: () => import('~/components/messenger/FriendInfo'),
        ChatBox: () => import('~/components/messenger/ChatBox'),
    },
    data(){
        return {
            target: null,
            isShowSearchBox: false,
            discussionId: null,
            isShowSideBar: true,
            isShowInforeFriend: true,
        }
    },
    created() {
        if( this.$route.query.discussionId ) {
            this.discussionId = this.$route.query.discussionId;
        }
        this.bindChannel();
    },
    computed:{
        ...mapState({
            auth: state => state.auth,
            locale: state => state.locale
        }),
        me() {
            return this.auth != null && this.auth.authUser != null && this.auth.authUser.user != null ? this.auth.authUser.user : null;
        },
        meId() {
            return this.me != null ? this.me.id : 0
        },
        targetId() {
            return this.target != null ? this.target.id : 0
        },
    },
    methods:{
        ...mapActions({
            markConversationTrash: 'messenger/markConversationTrash'
        }),
        bindChannel() {
            let me = this;
            eventBus.$on('onNewDiscussion', (e) => {
                if( me.$refs.friendList ) {
                    this.$refs.friendList.getListChatted();
                }
            } );
            eventBus.$on('onUpdateDiscussion', (e) => {
                if( me.$refs.friendList ) {
                    this.$refs.friendList.getListChatted();
                }
            } );
        },
        onMemberSelectChange(arrSelected) {

            if (this.auth == null || this.auth.access_token == null || ! arrSelect || arrSelect.length <= 0 ) {
              return;
            }

          getDiscussion(arrSelected)
            .then( ( response ) => {
              this.onDiscussionChat(response.data);
              this.$refs.friendList.getListChatted();
            } )
            .catch( ( error ) => {
              //console.log( error )
            } )

        },
        onSearchChatClick() {
            // man edit search nhu face
            this.isShowSearchBox = !this.isShowSearchBox;
        },
        onCreateConversation(arrSelect, discussion) {
            if( this.auth == null || this.auth.access_token == null ){ return; }

            getDiscussion(arrSelect, discussion)
                .then( ( response ) => {
                    this.onDiscussionChat(response.data);
                    this.$refs.friendList.getListChatted();
                } )
                .catch( ( error ) => {
                    //console.log( error )
                } )
        },
        onUpdateConversation(arrSelect, discussion, conversation) {
            if( ! this.auth || !this.auth.access_token ){ return; }
            conversation.subject = discussion.subject;
            conversation.avatar = discussion.avatar;
            updateDiscussion(conversation, arrSelect)
                .then( ( response ) => {
                    if( response.success ) 
                    {
                        this.onDiscussionChat(response.data);
                        this.$refs.friendList.getListChatted();
                    }
                } )
                .catch( ( error ) => {
                    //console.log( error )
                } );
        },
        onUpdateBasicConversation(conversation) {
            if( ! this.auth || !this.auth.access_token ){ return; }
            updateBasicDiscussion(conversation)
                .then( ( response ) => {
                    if( response.success ) 
                    {
                        //this.$refs.friendList.getListChatted();
                        this.target = _.merge( this.target, conversation);
                    }
                } )
                .catch( ( error ) => {
                    //console.log( error )
                } );
        },
        onConversationTrash(conversation) {
            let params = {
                discussionId: conversation.id
            };

            this.markConversationTrash(params)
            .then( () => {
                //reload discustion list
                this.$refs.friendList.getListChatted();
            })
            .catch( (error) => {
                //console.log( error );
            });
        },
        onMemberChat( member ) {
            if( this.auth == null || this.auth.access_token == null || this.meId == member.id ){ return; }

            this.getDiscussionByUser([{id: member.id, type: 1}]);
        },
        onCompanyChat(company) {
            if( this.auth == null || this.auth.access_token == null ){ return; }
            let params = [ {id: company.id, type: 2 }];
            this.getDiscussionByUser(params);
        },
        getDiscussionByUser(params) {

            getDiscussion(params)
            .then( ( response ) => {
                this.onDiscussionChat(response.data);
                this.$refs.friendList.getListChatted();
            } )
            .catch( ( error ) => {
                //console.log( error )
            } )
        },
        getDiscussionByListUser(arrSelect) {

            this.isShowSearchBox = true;
            if( this.auth == null || this.auth.access_token == null ){ return; }

            getDiscussion(arrSelect)
                .then( ( response ) => {
                    this.onDiscussionChat(response.data);
                    this.$refs.friendList.getListChatted();
                } )
                .catch( ( error ) => {
                    //console.log( error )
                } )
        },
        onDiscussionChat(discussion) {
            this.$refs.chatBox.setConversation( _.cloneDeep(discussion) );
            this.target = discussion;
        },
        onSideBarToggle() {
            this.isShowSideBar = !this.isShowSideBar;
        },
        onShowInforFriendToggle() {
            this.isShowInforeFriend = !this.isShowInforeFriend;
        }
    }
}

</script>
<style>
.c--search-wrapper{
    width: calc(100% - 373px);
}
.mess-left{
    width: 322px;
}
</style>
