<template>
    <section class="body-mess">
        <div class="mess-box h-100">
            <div class="mess-left" :class="{'show-sidebar': isShowSideBar}">
                <friend-list @onChat="getDiscussionByUser" @onDiscussionChat="onDiscussionChat" @onSearchChatClick="onSearchChatClick" ref="friendList"/>
            </div>
            <div class="mess-right">
                <div class="mess-banner">
                    <chat-box-header @onSelectChange="getDiscussionByListUser" :target="target" @onTrash="onConversationTrash" @onTrashAll="onConversationTrashAll" :isShowSearchBox="isShowSearchBox" ref="chatBoxHeader" @onShowSideBar="onShowSideBar"/>
                </div>
                <div class="mess-content">
                    <div class="mess-content-right">
                        <div class="infor-friend">
                            <friend-info :target="target" ref="friendInfo"/>
                        </div>
                    </div>
                    <div class="mess-content-left">
                        <div class="presentation">

                            <chat-box ref="chatBox"/>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
</template>
<script>

    import _ from 'lodash';
    import { mapState, mapActions } from 'vuex'
    import { getDiscussion } from '~/services/messenger';

    export default {
        name:'Messenger',

        layout:'chat',

        components: {
            SearchBox: () => import('~/components/messenger/SearchBox'),
            FriendList: () => import('~/components/messenger/FriendListTrash'),
            ChatBoxHeader: () => import('~/components/messenger/ChatBoxHeaderTrash'),
            FriendInfo: () => import('~/components/messenger/FriendInfoTrash'),
            ChatBox: () => import('~/components/messenger/ChatBox'),
        },
        data(){
            return {
                target: null,
                isShowSearchBox: false,
                isShowSideBar: false
            }
        },
        computed:{
            ...mapState({
                auth: state => state.auth
            }),
            me() {
                return this.auth != null && this.auth.authUser != null && this.auth.authUser.user != null ? this.auth.authUser.user : null;
            },
            meId() {
                return this.me != null ? this.me.id : 0
            },
            targetId() {
                return this.target != null ? this.target.id : 0
            }
        },
        methods:{
            ...mapActions({
                markConversationTrash: 'messenger/markConversationForceDelete',
                markConversationTrashAll: 'messenger/markConversationForceDeleteAll',
            }),
            onSearchChatClick() {
                // man edit search nhu face
                this.isShowSearchBox = true;
                this.$router.push(this.localePath({name:'messenger', params: { is_search: true}}) )
            },
            onConversationTrash(conversation) {
                let params = {
                    discussionId: conversation.id
                };

                this.markConversationTrash(params)
                    .then( () => {
                        //reload discustion list
                        this.$refs.friendList.getListChatted();
                    })
                    .catch( (error) => {
                        console.log( error );
                    });
            },
            onConversationTrashAll() {
                let params = {
                    
                };

                this.markConversationTrashAll(params)
                    .then( () => {
                        //reload discustion list
                        this.$refs.friendList.getListChatted();
                    })
                    .catch( (error) => {
                        console.log( error );
                    });
            },

            getDiscussionByUser(target) {

                if( this.auth == null || this.auth.access_token == null || this.meId == target.id ){ return; }

                getDiscussion([{id: target.id, type: 1}])
                    .then( ( response ) => {
                        this.onDiscussionChat(response.data);
                        this.$refs.friendList.getListChatted();
                    } )
                    .catch( ( error ) => {
                        console.log( error )
                    } )
            },
            getDiscussionByListUser(arrSelect) {

              this.isShowSearchBox = true;
              if( this.auth == null || this.auth.access_token == null ){ return; }

              getDiscussion(arrSelect)
                .then( ( response ) => {
                  this.onDiscussionChat(response.data);
                  this.$refs.friendList.getListChatted();
                } )
                .catch( ( error ) => {
                  //console.log( error )
                } )
            },
            onDiscussionChat(discussion) {
                this.$refs.chatBox.setConversation( _.cloneDeep(discussion) );
                this.target = discussion;

            },
            onShowSideBar() {
                this.isShowSideBar = !this.isShowSideBar;
            }
        }
    }

</script>
<style>
    .c--search-wrapper{
        width: calc(100% - 373px);
    }
</style>
