<template>
  <div>
    <div class="list-item-hp" @click="getListPro">
      <div class="item">
          <a href="javascript:;" class="item">{{title}}</a>
      </div>
    </div>
  </div>
</template>
<script>
  import _ from 'lodash'
  export default {
    name: 'CategoryItem',
    props: ['title', 'id', 'type'],
    data() {
      return {
        isShowModalIndex: 0,
        listQuery: {
          pageIndex: 1,
          pageSize: 12,
          typeSearch: 3,
          category_id: '',
          nation_id: '',
          work_environment: '',
          duration: "",
        }
      }
    },
    computed: {
      loggedIn() {
          return this.$store.getters.loggedIn
      }
    },
    methods:{
      appendQuery() {
        this.listQuery[this.type] = this.id;
      },
      getListPro() {
        this.appendQuery();
        const queryString = this.assignQueryNotNull(this.listQuery);
        if (!this.loggedIn) {
          const back = this.localePath({ name: 'search', query: queryString });
          this.$router.push(this.localePath({ name: 'index', query: {redirect_back: back}}));
          return;
        }

        this.$router.push(this.localePath({ name: 'search', query: queryString }));
      }
    }
  }
</script>
