<template>
     <el-form :model="objContact" class="form" :rules="rules" ref="contact">
        <el-form-item prop="full_name">
            <el-input type="text" v-model="objContact.full_name"
                @focus="clearValidate('full_name')"
                :placeholder="$t('FullName')"
                aria-invalid="false"></el-input>
        </el-form-item>
        <el-form-item prop="email">
            <el-input type="text" v-model="objContact.email"
                @focus="clearValidate('email')"
                placeholder="E-mail"
                aria-invalid="false"></el-input>
        </el-form-item>
        <div class="bg-white border-radius-10">
            <el-form-item prop="category">
                <el-select name="" id=""
                    v-model="objContact.category"
                    @focus="clearValidate('category')"
                    :placeholder="$t('GeneralQuestions')">
                    <el-option v-for="(item, key) in Category" :key="key" :value="item.value">{{item.title}}</el-option>
                </el-select>
            </el-form-item>
        </div>
        <el-form-item prop="content">
            <el-input type="textarea" cols="40" rows="10"
                v-model="objContact.content"
                @focus="clearValidate('content')"
                :placeholder="$t('content_contact_about')"
                aria-invalid="false"></el-input>
        </el-form-item>
        <el-button :loading="loading" class="form-control submit" @click="onSend($event)">
            {{$t('Send')}}
        </el-button>
    </el-form>
</template>

<script>
const regexJapanCharacter = /[a-zA-Z]|[\u3400-\u9FBF]|[\u3000-\u303F]|[\u3040-\u309F]|[\u30A0-\u30FF]|[\uFF00-\uFFEF]|[\u4E00-\u9FAF]|[\u2605-\u2606]|[\u2190-\u2195]|\u203B/;
import {mapActions} from "vuex";
import eventBus from "~/services/bus";
import _ from 'lodash'
export default {
    name: 'ContactForm',
    data() {
      return {
        objContact: {
            full_name: '',
            email: '',
            category: '',
            content: '',
        },
        loading:false,
        timeout: null,
        rules: {
            email: [
                {required: true,message: this.$t('pleaseInputEmail'),trigger: "blur"},
                {type: 'email', message: this.$t('emailInvalid'), trigger: 'blur'}
            ],
            full_name: [
                {required: true,message: this.$t('pleaseInputFullName'),trigger: "blur"},
                {pattern: regexJapanCharacter ,message: this.$t('pleaseInputLowercaseFullName'),trigger: 'blur' }
            ],
            category: [
                {required: true,message: this.$t('pleaseInputSelectCategoryContact'),trigger: "blur"},
            ],
            content: [
                {required: true,message: this.$t('pleaseInputContentSurvey'),trigger: "blur"},
            ],
        },
      }
    },
    computed:{
        Category(){
            return[
                {
                    title: this.$t('GeneralQuestions'),
                    value: this.$t('GeneralQuestions')
                },
                {
                    title: this.$t('categoryContact1'),
                    value: this.$t('categoryContact1')
                },
                {
                    title: this.$t('categoryContact2'),
                    value: this.$t('categoryContact2')
                },
                {
                    title: this.$t('categoryContact3'),
                    value: this.$t('categoryContact3')
                },
                {
                    title: this.$t('categoryContact4'),
                    value: this.$t('categoryContact4')
                },
                {
                    title: this.$t('categoryContact5'),
                    value: this.$t('categoryContact5')
                },
            ]
        },
        loggedIn() {
            return this.$store.getters.loggedIn
        },
    },
    methods: {
        ...mapActions({
            addContact: 'contact/addContact',
        }),
        setParamDefault() {
            _.forEach(this.objContact, p => p = '');
        },
        clearValidate(type) {
            return this.$refs.contact.clearValidate(type);
        },
        async onSend($e) {
            $e.preventDefault();
            const validation = await this.$refs.contact.validate();
            if (validation) {
                if (!this.loggedIn) {
                    eventBus.$emit("onLogin");
                    return;
                }else{
                    this.loading = true;
                    this.addContact(this.objContact)
                    .then(res => {
                        if (res.success) {
                            this.setParamDefault();
                            this.showNotification(this.$t('Success'), res.message, 'success');
                            this.timeout = setTimeout(() => {
                                this.loading = false;
                            }, 3000)
                        }
                    })
                    .catch(err => {
                        this.showNotification(this.$t('Error'), err.message, 'error')
                    });

                }
            }
        },
    },
}
</script>
