<template>
    <div class="container">
        <div class="spoteck-group-link">
            <ul class="links">
                <li class="link">
                    <nuxt-link class="item-link"  :to="localePath({name: 'about-career' })">
                        {{$t("Career")}}
                    </nuxt-link> 
                </li>
                <li class="link">
                    <nuxt-link class="item-link"  :to="localePath({name: 'about-team' })">
                        {{$t("Team")}}
                    </nuxt-link> 
                </li>
                <li class="link">
                    <nuxt-link class="item-link"  :to="localePath({name: 'about-news' })">
                        {{$t("News")}}
                    </nuxt-link> 
                </li>
                <li class="link">
                    <nuxt-link class="item-link"  :to="localePath({name: 'about-sitemap' })">
                        {{$t("SiteMap")}}
                    </nuxt-link> 
                </li>
                <li class="link">
                    <nuxt-link class="item-link"  :to="localePath({name: 'about-contact' })">
                        {{$t("ContactUs")}}
                    </nuxt-link> 
                </li>
            </ul>
        </div>
    </div>
</template>

<script>
export default {
    
}
</script>

<style scoped>
    .link .nuxt-link-exact-active::before{
        content: '';
        display: inline-block;
        position: absolute;
        bottom: -1px;
        left: 0;
        height: 3px;
        width: 100%;
        background: #77d353;
    }
    .link .item-link:hover{
        color: #77d353 !important;
    }
    .han .spoteck-group-link ul li .nuxt-link-active{
        color: #77d353 !important;
    }
    .link .item-link{
        display: block;
        padding: 0 18px 18px;
    }
    .han .spoteck-group-link ul li {
        padding: 0 !important;
    }
</style>