<template>
  <div class="group-item-aside mb-hp">
    <div class="header">
      <div class="title">{{$t('linked_account')}}</div>
    </div>
    <div class="panle-body">
      <div class="list-item">
        <div class="item">
          <a href="javascript:;" class="text-link" @click="gotoVerifyPage('facebook')"
             :class="{'social tick': verify.hasOwnProperty('facebook')}">
            Facebook
          </a>
        </div>
        <div class="item">
          <a href="javascript:;" class="text-link" @click="gotoVerifyPage('linkedin')"
             :class="{'social tick': verify.hasOwnProperty('linkedin')}">
            Linkedin
          </a>
        </div>
      </div>
    </div>
  </div>
</template>

<script>
  export default {
    props: {
      verify: {
        type: [Object, Array],
        default: () => {
        } 
      }
    },
    methods: {
      gotoVerifyPage(provider) {
        if (this.verify.hasOwnProperty(provider)) {
          this.showNotification(this.$t('Info'), this.$t('TheAccountHasBeenVerified'), 'success');
        }
        return window.open('/app/verify/' + provider + '?redirect_back=' + this.$route.path + '&X-Requested-Env=web&Currency-Code=' + this.$store.getters.getCurrency + '&Language-Code=' + this.$store.getters.getLocale + '&Authorization=Bearer ' + this.$store.getters.accessToken, '_blank')
      }
    }
  }
</script>

<style scoped>

</style>
