<template>
    <div class="group-item-aside mb-hp">
        <div class="header">
            <div class="title">{{$t('reminder')}}</div>
        </div>
        <div class="panle-body">
            <div class="list-item">
                <div class="item">
                    <nuxt-link
                      :to="localePath({name: 'messenger'})"
                      title
                      class="text-link"
                      :class="{'color-green': mess}"
                    >{{ $t('message') }} ({{ mess || 0 }})</nuxt-link>
                </div>
                <div class="item">
                    <nuxt-link
                      :to="localePath({name:'notifications'})"
                      :href="localePath({name:'notifications'})"
                      title
                      :class="{'color-green': notify}"
                      class="text-link"
                    >{{ $t('notification') }} ({{ notify || 0 }})</nuxt-link>
                </div>
            </div>
        </div>
    </div>
</template>
 
<script>
  export default {
    name: 'CardReminder',
    props: ['notify', 'mess']
  }
</script>
