<template>
    <div class="group-item-aside mb-hp">
        <div class="header">
            <div class="title">ランクアップ審査</div>
        </div>
        <div class="panle-body">
            <div class="list-item">
                <div class="item">
                    <a href="javascript:" title class="text-link">ランク審査</a>
                </div>
            </div>
        </div>
    </div>
</template>

<script>
    export default {

    }
</script>

<style scoped>

</style>
