<template>
  <div class="group-item-aside mb-hp">
    <div class="header">
      <div class="title">{{$t('SwitchProfiles')}}</div>
    </div>
    <div class="panle-body">
      <div class="list-item">
          <div v-if="is_profile" class="item">
              <a href="javascript:;"
                class="text-link color-green"
                @click="onChangeType"
              >{{ changeType }}</a>
          </div>
      </div>
    </div>
  </div>
</template>

<script>
  import {mapGetters, mapActions, mapState} from "vuex";
  import _ from 'lodash';

  export default {
    name: 'CardBussinessUse',
    props: ['company'],
    data() {
      return {
        is_profile: true
      };
    },
    computed: {
      ...mapGetters({
        memberType: 'members/profile/memberType'
      }),
      ...mapState({
        currentUser: state => state.auth.authUser.user,
      }),
      changeType() {
        return this.hasCompany()
          ? this.$t('client_information_use')
          : this.$t('expert_information')
      }
    },
    methods: {
      hasCompany() {
        return !_.isEmpty(this.company);
      },
      onChangeType() {
        const cp = this.hasCompany()
          ? this.company
          : this.currentUser;
        this.$store.dispatch('setDefaultCompany', cp)
          .then(res => {
            if (res.success) {
              this.hasCompany()
              ? this.$router.push(this.localePath({ name: "profile" }))
              : this.$router.push(this.localePath({ name: "expert" }));
            }
          });
      }
    },
  }
</script>

<style scoped>

</style>
