<template>
    <div class="group-item-aside mb-hp">
        <div class="header">
            <div class="title">{{$t('authentication_items')}}</div>
        </div>
        <div class="panle-body">
            <div class="list-item">
                <div class="item">
                    <a href="javascript:" class="text-link" :class="{'social tick': verify.hasOwnProperty('email')}">
                        {{$t('email_address')}}
                    </a>
                </div>
                <div class="item">
                    <a href="javascript:" class="text-link" :class="{'social tick': verify.hasOwnProperty('phone')}">
                        {{$t('phone_number')}}
                    </a>
                </div>
            </div>
        </div>
    </div>
</template>

<script>
  export default {
    props: {
      verify: {
        type: [Object, Array],
        default: () => {}
      }
    },
    data() {
      return {}
    },
  }
</script>
