<template>
  <div>
    <CardAuth :verify="verify"/>
    <CardLinkedAccount :verify="verify"/>
    <CardReminder :notify="notifyUnread" :mess="messUnread" />
    <CardBusinessUse :company="company"/>
  </div>
</template>
<script>
  export default {
    name: 'LeftSiderbar',
    components: {
      CardAuth: () => import('./CardAuth'),
      CardLinkedAccount: () => import('./CardLinkedAccount'),
      CardReminder: () => import('./CardReminder'),
      CardBusinessUse: () => import('./CardBusinessUse'),
    },
  props: ['verify', 'company', 'notifyUnread', 'messUnread'],
  };
</script>

