<template>
  <div>
    <blog :is-client="false" />
  </div>
</template>

<script>
  import {mapActions} from 'vuex'

  export default {
    layout: 'custom',
    name: 'ExpertBlog',
    components: {
      Blog: () => import('~/components/share/blog'),
    }
  }
</script>

<style scoped>
</style>
