<template>
    <div class="item" v-if="item && allowShow" @click="onClick"
    :class="{ 'c--mark-unread' : !readedAt}">
        <div class="group-info d-flex align-items-center">
            <div class="img-thumb">
                <a :href="link" class="image d-flex">
                    <el-avatar :src="fromAvatar" />
                </a>
            </div>
            <div class="info">
                <div class="name-person line-1">
                    <a :href="link" title class="line-1">{{ display }}</a>
                </div>
                <div class="intro-person">{{ createdAt }}</div>
            </div>
        </div>
    </div>
</template>
<script>
import config from '~/config';

export default {
    name: 'NotificationElement',
    props:{
        elem:{
            type: Object,
            default: null
        }
    },
    computed: {
        item() {
            return this.elem ? this.elem : null
        },
        readAt() {
            return this.item && this.item.readAt ? this.item.readAt : null
        },
        readedAt() {
            return this.readAt ? ( this.$moment().diff(this.readAt) > 0 ? true : false ) : false
        },
        createdAt() {
            return this.item && this.item.createdAt ? this.$moment(this.item.createdAt).fromNow() : ''
        },
        data() {
            return this.item && this.item.data ? this.item.data : null
        },
        key() {
            return this.data && this.data.key ? this.data.key : ''
        },
        type() {
            return this.data && this.data.type ? this.data.type : ''
        },
        params() {
            return this.data && this.data.params ? this.data.params : {}
        },
        fromAvatar() {
            return this.data && this.data.from_avatar ? this.data.from_avatar : '';
        },
        fromId() {
            return this.data && this.data.from_id ? this.data.from_id : 0;
        },
        display() {
            return this.$t(this.key, this.params)
        },
        link() {
            return 'javascript:;';
        },
        arrType() {
            return config.notification.type
        },
        allowShow() {
            return this.arrType.indexOf( this.type ) >= 0
        }
    },
    methods:{
        onClick() {
            this.$emit('onClick', this.elem);
        }
    }
}
</script>