<template>
  <div>
    <project />
  </div>
</template>

<script>
  export default {
    name: 'ProjectClientDetail',
    components: {
      Project: () => import('~/pages/profile/client/project/_id'),
    }
  }
</script>
